<template>
  <q-item
    :class="[level > 1 && '--nested', show_childs && '--opened']"
    class="tnved-item full-width q-py-md"
    :clickable="item.is_selectable"
    tag="label"
    @click.stop
  >
    <q-item-section top avatar>
      <app-btn
        @click.stop="toggleChilds"
        v-if="item.children && item.children.length"
        :class="[show_childs && '--open bg-blue-1 text-primary']"
        :icon="show_childs ? 'expand_less' : 'expand_more'"
        round
        dense
        class="text-accent"
      />

      <app-btn
        @click.stop="loadChildrens"
        v-else-if="item.has_children"
        :class="[show_childs && '--open text-primary']"
        :loading="loading"
        :icon="show_childs ? 'expand_less' : 'expand_more'"
        round
        dense
        class="text-accent"
      />

      <app-btn
        v-else
        :icon="show_childs ? 'expand_less' : 'expand_more'"
        round
        dense
        flat
        class="hidden"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label>
        <div class="flex justify-between no-wrap items-center">
          <div class="flex no-wrap items-start">
            <div>
              <div class="flex justify-between items-center">
                <div class="flex items-center q-mt-xs">
                  <b style="line-height:1.5">
                    {{ item.title_translated || item.title || $tt("common.other", 1) }}
                  </b>
                </div>
              </div>

              <div class="q-mt-sm flex items-center text-grey-8">
                {{ item.code }}

                <app-btn
                  v-if="item.code && item.code.length >= 10"
                  icon="copy_all"
                  dense
                  size="9px"
                  flat
                  class="q-ml-xs tnved-item__copy"
                  round
                  color="grey-7"
                  @click="copyCode(item.code)"
                />
              </div>
            </div>
          </div>

          <app-btn
            color="positive"
            class="no-warp q-ml-md"
            @click="selectCode(item)"
            v-if="item.is_selectable & !noSelect"
            icon="check"
            round
            size="12px"
          >
          </app-btn>
        </div>
      </q-item-label>

      <q-item-label v-if="item.parent">
        <div class="mt-2">
          <small class="text-muted">
            <code-parent :no-select="noSelect" :level="1" :item="item.parent"></code-parent>
          </small>
        </div>
      </q-item-label>
      <!-- <q-slide-transition class="q-mt-md" > -->
      <q-item-label class="q-pt-md" v-if="show_childs">
        <q-list
          separator
          bordered
          class="rounded-borders"
          v-if="item.children && item.children.length"
        >
          <list-child
            v-for="(child, idx) in item.children"
            :key="`${child.id}-${idx}`"
            @select="(code) => selectCode(code)"
            :level="level + 1"
            :item="child"
            :no-select="noSelect"
            :lang="lang"
          />
        </q-list>

        <q-list
          separator
          bordered
          class="rounded-borders"
          v-else-if="loaded_childs && loaded_childs.length"
        >
          <list-child
            v-for="child in loaded_childs"
            :key="child.id"
            @select="(code) => selectCode(code)"
            :level="level + 1"
            :item="child"
            :no-select="noSelect"
            :lang="lang"
          />
        </q-list>
      </q-item-label>
      <!-- </q-slide-transition> -->
    </q-item-section>
  </q-item>
</template>

<script>
import Vue from "vue";

Vue.component("code-parent", {
  name: "code-parent",
  template: `
    <div class="mt-2">
      <span v-if="item.title">
       - {{item.title_translated || item.title || null}}
      </span>
      <code-parent v-if="item.parent" :level="level + 1" :item="item.parent"></code-parent>
    </div>
  `,
  props: ["item", "level"],
});

export default {
  name: `list-child`,
  props: {
    item: Object,
    level: Number,
    noSelect: Boolean,
    lang: {
      type: String,
      default: "ua",
    },
  },
  data() {
    return {
      show_childs: false,
      loaded_childs: null,
      loading: false,
    };
  },
  computed: {
    is_same_lang() {
      return this.lang === this.item.lang;
    },
  },
  methods: {
    toggleChilds() {
      this.show_childs = !this.show_childs;
    },
    getItemChildren() {
      if (this.item.children && this.item.children.length) {
        return this.item.children;
      } else if (this.loaded_childs && this.loaded_childs.length) {
        return this.loaded_child;
      }
    },
    selectCode(code) {
      this.$emit("select", code);
    },
    async loadChildrens() {
      if (this.loaded_childs && this.loaded_childs.length) {
        this.toggleChilds();
        return;
      }

      try {
        this.loading = true;
        // const {
        //   data: { children },
        // } = await this.$api(`v2/products/uktved/${this.item.id}`, {
        //   params: {
        //     lang: this.lang,
        //   },
        // });

        const children = await this.$store.dispatch("UKTVED/LOAD_CHILDRENS", {
          params: {
            lang: this.lang,
          },
          item_id: this.item.id,
        });

        this.loaded_childs = children;

        this.toggleChilds();
      } catch (e) {
        console.log("e:", e);

        const { message: title = "Не удалось завершить запрос", errors } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          message: e.toString(),
          errors,
        });
      } finally {
        this.loading = false;
      }
    },
    copyCode(code) {
      try {
        this.$copyText(code);
        this.$message({
          level: "success",
          title: "Код скопирован",
        });
      } catch (e) {
        this.$message({
          level: "warning",
          title: "Не удалось скопировать код в буфер обмена",
          caption: e && e.toString(),
        });
      }
    },
  },
};
</script>
