<template>
  <div class="uktved full-width relative-position">
    <app-select
      :label="$tt('common.hs_code', 1)"
      :dense="dense"
      :options="codes"
      :use-input="!code"
      v-model="code"
      @filter="findCode"
      clearable
      clear-icon="close"
      @clear="
        () => {
          code = null;
          $emit('change', null);
        }
      "
    >
      <template #append>
        <q-btn @click.stop flat padding="sm">
          <app-flag class="q-mr-sm" :country="lang === 'ru' ? null : lang"></app-flag>

          {{ lang }}

          <q-menu>
            <q-list>
              <q-item
                v-close-popup
                clickable
                v-for="opt in ['ua', 'ru', 'en']"
                :key="opt"
                @click="changeLang(opt)"
                :class="lang === opt && 'text-primary font-500'"
              >
                <q-item-section side>
                  <app-flag :country="opt === 'ru' ? null : opt"></app-flag>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ opt.toUpperCase() }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </template>

      <template #selected-item="{opt}">
        <div>{{ opt.title }} ({{ opt.code }})</div>
      </template>

      <template #option="{opt, toggleOption}">
        <ListChild
          @select="(code) => select(code, toggleOption)"
          :key="opt.id"
          :level="1"
          :item="opt"
          :lang="lang"
        >
        </ListChild>
      </template>
      <template #no-option>
        <q-item disable>
          <q-item-section>
            <q-item-label class="text-muted">
              {{ $tt("errors.no_data", 1) }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </app-select>
  </div>
</template>

<script>
import ListChild from "./child.vue";
import debounce from "lodash.debounce";

export default {
  model: {
    event: "change",
    prop: "value",
  },
  props: {
    dense: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: "sync",
      validator(val) {
        return ["sync", "async"].includes(val);
      },
    },
    value: null,
  },
  components: {
    ListChild,
  },
  async mounted() {
    if (this.value) {
      const { data: code } = await this.$api.get(`/v2/products/uktved/${this.value.id}`);

      this.code = code;
    }
  },
  data() {
    return {
      codes: null,
      loading: false,
      lang: "ru",
      //
      code: null,
    };
  },
  methods: {
    async getCatalog(params = { lang: this.lang }) {
      try {
        this.loading = true;

        const { data: codes } = await this.$api.get(`/v2/products/uktved/roots`, {
          ...(params && { params }),
        });

        this.codes = codes;
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    async getCodes(params) {
      try {
        this.loading = true;

        const { data: codes } = await this.$api.get(`/v2/products/uktved`, {
          params,
        });

        this.codes = codes;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    throttledCodesTitle: debounce(
      function() {
        this.getCodes();
      },
      1500,
      { leading: false }
    ),

    async findCode(val, update, abort) {
      if (!val) {
        abort();
        return;
      }

      const { data: codes } = await this.$api.get(`/v2/products/uktved`, {
        params: {
          title: val,
          lang: this.lang,
        },
      });

      this.codes = codes;

      update();
    },
    select(option, toggleFn) {
      let { is_selectable } = option;

      if (is_selectable) {
        toggleFn(option);
        this.$emit("change", option);
      }
    },
    changeLang(lang) {
      if (this.lang === lang) return;

      this.lang = lang;
      // this.getCatalog();
    },
  },
};
</script>

<style lang="scss">
.uktved {
  position: relative;

  &__list {
    z-index: 2;
  }
}
</style>
