<template>
  <PageContainer :title="$tt('nav.shipments.unidentified_returns.title', 1)">
    <div class="container">
      <app-list
        :header="$tt('returns.returns_list')"
        :min-width="840"
        class="relative-position"
        :loading="loading.list"
        :empty="!filtered_returns?.length && $tt('errors.no_data', 1)"
      >
        <return-item :item="r" v-for="(r, idx) in filtered_returns" :key="idx" />
      </app-list>
    </div>
  </PageContainer>
</template>

<script>
import ReturnItem from "./ReturnItem.vue";

export default {
  components: {
    "return-item": ReturnItem,
  },
  data() {
    return {
      returns: null,
      loading: { list: false },
      query: null,
    };
  },
  mounted() {
    this.getReturns();
  },
  computed: {
    filtered_returns() {
      if (this.query?.length) {
        this.returns.filter(
          (r) =>
            r.comment && r.comment.toLowerCase().indexOf(this.query.toLowerCase()) !== -1
        );
      } else {
        return this.returns;
      }
    },
  },
  methods: {
    async getReturns() {
      this.loading.list = true;

      try {
        const {
          data: { return_shipments },
        } = await this.$api.get(`/shipping/return_shipment/unidentified`);

        this.returns = return_shipments;
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.list = false;
      }
    },
  },
};
</script>
