<template>
  <PageContainer title="Затребовать возврат" with-back>
    <div class="container">
      <with-loading :state="loading"></with-loading>

      <form @submit.prevent="submitReturnClaim" class="modal__content-group">
        <app-list header="Данные о посылке">
          <q-item tag="label">
            <q-item-section>
              <q-item-label caption>
                <!-- Номер посылки -->
                {{ $tt("common.parcel_number", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <!-- :error="$v.parcel_id.$anyError" -->
              <app-input
                error-message="Номер посылки должен быть числом"
                v-model.number.trim="parcel_id"
              >
                <q-tooltip style="max-width:350px">
                  {{ $tt("returns.internal_parcel_warning") }}
                </q-tooltip>
              </app-input>
            </q-item-section>
          </q-item>
          <q-item tag="label">
            <q-item-section>
              <q-item-label caption>
                <!-- Номер заказа -->
                {{ $tt("common.order_number", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-input v-model.number="order_id" />
            </q-item-section>
          </q-item>
          <q-item class="q-py-lg">
            <q-item-section>
              <q-item-label caption>
                {{ $tt("common.comment", 1) }}
              </q-item-label>
              <q-item-label>
                <app-input
                  type="textarea"
                  v-model.number="comment"
                  :error="$v.comment.$anyError"
                  :rows="$q.screen.sm || $q.screen.xs ? 4 : 2"
                  class="q-mt-sm"
                />
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div class="claim-return__products q-mt-xl">
          <Warehouse :actions="['add']" @pick-product="addInReturn" />
        </div>

        <div class="claim-return__inner q-mt-xl">
          <div class="flex-center-between q-mb-md">
            <h4>
              <span>
                <!-- Содержимое -->
                {{ $tt("common.inner", 1) }}
              </span>
            </h4>
            <app-btn
              @click.prevent="loadParcelInner"
              class="btn btn-xs text-primary bg-blue-1"
              v-show="parcel_id"
              size="12px"
              color="primary"
              unelevated
              flat
            >
              Загрузить из посылки&nbsp;<b>{{ parcel_id }}</b>
            </app-btn>
          </div>

          <app-table-list
            :empty="(!claim_inner || !claim_inner.length) && $tt('errors.no_data', 1)"
            :header="$tt('messages.input_parcel_inner')"
            :colspan="4"
            :error="$v.claim_inner.$error"
          >
            <template #thead>
              <tr>
                <th side></th>
                <th>
                  {{ $tt("common.title", 1) }}
                </th>
                <th>
                  {{ $tt("common.code", 1) }}
                </th>
                <th side>
                  {{ $tt("common.count", 1) }}
                </th>
              </tr>
            </template>

            <tr v-for="(p, idx) in claim_inner" :key="idx">
              <td side>
                <app-btn
                  icon="close"
                  @click="removeProduct(idx)"
                  color="negative"
                  flat
                  round
                  size="12px"
                />
              </td>
              <td>
                <div class="q-py-md">
                  <div class="text-muted">
                    {{ p.category_title }}
                  </div>
                  <div class="text-subtitle2">
                    {{ p.title }}
                  </div>
                </div>
              </td>
              <td>
                <div v-if="p.code">
                  {{ p.code }}
                </div>
                <small class="text-muted" v-else>
                  {{ $tt("common.not_specified") }}
                </small>
              </td>
              <td>
                <app-input
                  style="width:90px"
                  v-model="p.claim_count"
                  suffix="шт"
                  type="number"
                  min="1"
                />
              </td>
            </tr>
          </app-table-list>
        </div>

        <div class="flex-center-between q-mt-xl">
          <app-btn to="/shipments/returns/unidentified" flat padding="md" color="negative">
            <!-- Вернуться -->
            {{ $tt("common.cancel") }}
          </app-btn>
          <app-btn @click="submitReturnClaim" padding="md" color="positive">
            {{ $tt("common.send") }}
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import Warehouse from "@/components/NewWarehouse";
import Tip from "../../components/Tip";

export default {
  components: {
    Warehouse,
    Tip,
  },
  data() {
    return {
      comment: null,
      parcel_id: null,
      claim_inner: [],
      loading: false,
      was_loaded_from_parcel: false,
      order_id: null,
      loading: false,
    };
  },
  watch: {
    claim_inner(inner) {
      if (!inner.length) {
        this.was_loaded_from_parcel = false;
        this.parcel_id = null;
      }
    },
  },
  methods: {
    addInReturn(prod) {
      if (this.was_loaded_from_parcel) {
        this.$message({
          level: "warning",
          title: this.$tt("errors.bad_operation"),
        });
        return;
      }

      let double = this.claim_inner.find((p) => p.product_id === prod.product_id);

      if (double) {
        this.$message({
          level: "warning",
          title: "Данный товар уже добавлен в заявку - воспользуйтесь счётчиком в списке",
        });
        return;
      }

      this.claim_inner.push({
        ...prod,
        claim_count: 1,
      });

      this.$message({
        level: "success",
        title: `${this.$tt("common.product", 1)} ${this.$tt("common.added")}`,
      });
    },
    removeProduct(idx) {
      this.claim_inner.splice(idx, 1);
    },
    async loadParcelInner() {
      this.loading = true;

      try {
        const {
          data: { products },
        } = await this.$api.get(`/shipping/parcel_products/${this.parcel_id}`);

        this.claim_inner = [
          ...products.map(({ title, id, quantity: max_count }) => {
            return {
              id,
              title,
              claim_count: max_count || 1,
              max_count,
            };
          }),
        ];

        this.was_loaded_from_parcel = true;
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    async submitReturnClaim() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "danger",
          title: this.$tt("messages.fill_req_fields"),
        });

        return;
      }

      try {
        this.loading = true;

        await this.$api.post(`/shipping/return_shipment/claims/create`, {
          comment: `${this.comment} *** номер заказа: ${this.order_id || "не указан"} ***`,
          parcel_id: this.parcel_id,
          products: this.claim_inner.map(({ claim_count: count, product_id, id = null }) => ({
            count,
            id: product_id || id,
          })),
          return_shipping_id: this.$route.params.return_id,
        });

        this.$alert({
          title: this.$tt("common.request_created"),
          level: "success",
        });

        this.$router.replace("/shipments/returns/unidentified");
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("common.save_changes") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      comment: {
        required,
      },
      claim_inner: {
        required,
        minLength: minLength(1),
      },
    };
  },
};
</script>
