<template>
  <div style="height:120px;widht:120px" class="bg-grey-1 rounded-borders">
    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" appear>
      <q-img
        height="120px"
        width="120px"
        class="rounded-borders"
        cover
        @click="showReturnImages"
        :src="(images && images.length && images[0] && `data:image;base64,${images[0]}`) || 'n/a'"
        v-intersection="intersectImages"
        basic
      >
        <template v-slot:error>
          <div class="absolute-full flex bg-grey-3 text-grey-6">
            <q-icon color="grey-5" size="23px" name="image_not_supported" />
            <small>
              Изображение не найдено
            </small>
          </div>
        </template>
      </q-img>
    </transition>
  </div>
</template>

<script>
import {
  throttle,
  // debounce
} from "quasar";
export default {
  props: {
    returnId: null,
  },
  data() {
    return {
      images: null,
      loading: false,
    };
  },
  created() {
    // this.getMedia = debounce(this.getMedia, 777);
    this.getMedia = throttle(this.getMedia, 1000);
  },
  methods: {
    intersectImages({ isIntersecting }) {
      let RequestCancelController = new AbortController();
      let signal = RequestCancelController.signal;

      if (isIntersecting) {
        !this.images && this.getMedia(signal);
      } else {
        RequestCancelController.abort();
      }
    },
    async getMedia(signal) {
      this.loading = true;

      try {
        const {
          data: { images },
        } = await this.$api.get(`/shipping/return_shipment/${this.returnId}/images`, {
          ...(signal && { signal }),
        });
        this.images = images;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить изображения",
          notify: true,
        });
      } finally {
        this.loading = false;
      }
    },
    showReturnImages() {
      if (!this.images || !this.images.length) {
        this.$message({
          title: "В данном возврате нет изображений",
        });

        return;
      }

      this.$q.dialog({
        parent: this,
        component: () => import("@/components/_ui/Carousel"),
        images: this.images,
      });
    },
  },
};
</script>
