<template>
  <q-badge
    class="flex items-center line-height1 app-badge"
    :class="[
      `q-pa-${size || 'sm'}`,
      light && 'app-badge--light',
      level && `app-badge--${level}`,
      text && `text-${text}`,
      bg && `bg-${bg}`,
    ]"
    v-bind="$attrs"
  >
    <q-icon color="level" :name="icon" v-if="icon" class="q-mr-xs" :size="size || '16px'"></q-icon>
    <div class="font-500 full-width">
      <slot />
    </div>
  </q-badge>
</template>
<script>
export default {
  props: {
    size: String,
    icon: String,
    level: String,
    light: Boolean,
    bg: String,
    text: String,
    dense: Boolean,
  },
};
</script>
<style lang="scss">
.app-badge {
  cursor: default;

  &--positive {
    color: #fff;
    background-color: $positive;

    // &:hover {
    //   background-color: lighten($positive, 2.1%);
    // }
  }
  &--warning {
    color: $brown-5;
    background-color: $amber-3;

    // &:hover {
    //   background-color: lighten($amber-3, 2.1%);
    // }
  }
  &--info {
    color: #fff;
    background-color: $info;

    // &:hover {
    //   background-color: lighten($info, 2.1%);
    // }
  }
  &--negative {
    color: #fff;
    background-color: $negative;

    // &:hover {
    //   background-color: lighten($negative, 2.1%);
    // }
  }
  &--grey {
    color: #333;
    background-color: $grey-4;

    // &:hover {
    //   background-color: lighten($grey-4, 2.1%);
    // }
  }

  &--primary {
    color: #fff;
    background-color: $primary;

    // &:hover {
    //   background-color: lighten($primary, 2.1%);
    // }
  }

  &--light {
    &.app-badge--positive {
      color: $positive;
      background-color: $green-1;
    }
    &.app-badge--warning {
      color: $brown-4;
      background-color: $amber-1;
    }
    &.app-badge--info {
      color: $info;
      background-color: $cyan-1;
    }
    &.app-badge--negative {
      color: $negative;
      background-color: $red-1;
    }
  }
}
</style>
