<template>
  <PageContainer :title="$tt('nav.account.address_book')">
    <template #actions>
      <app-btn
        :disable="!types"
        color="accent"
        unelevated
        padding="11px"
        size="12px"
        icon="add"
        :class="$q.screen.xs && 'block'"
        :loading="loading.types"
      >
        &nbsp;&nbsp;{{ $tt("common.add", 1) }}
        <q-menu>
          <q-list>
            <q-item
              clickable
              :to="`/addresses/new?module=${m.code}`"
              v-for="(m, idx) in types"
              :key="idx"
            >
              <q-item-section>
                <q-item-label>
                  {{ m.title }}
                </q-item-label>
                <q-item-label caption>
                  {{ m.direction.title }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </app-btn>
    </template>

    <div class="container">
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        appear
      >
        <app-table-list
          :loading="loading.addresses"
          :header="$tt('nav.account.address_book')"
          :min-width="777"
          :empty="((!addresses || !addresses.length) && 'Не найдено сохранённых адресов') || false"
        >
          <template #thead>
            <tr>
              <th>{{ $tt("common.type", 1) }}</th>
              <th>
                {{ $tt("common.fio", 1) }}
              </th>
              <th>{{ $tt("common.address", 1) }}</th>
              <th></th>
            </tr>
          </template>
          <tr class="relative-position" v-for="record in addresses" :key="record.id">
            <td>
              <div class="flex items-center" v-if="record.book_type">
                <img
                  :alt="record.book_type"
                  :class="`address-logo address-logo--${record.book_type.toLowerCase()}`"
                  width="auto"
                  :src="`img/carriers/${getTypeSource(record.book_type.toLowerCase())}.svg`"
                />
              </div>
              <small class="font-500 text-muted" v-else>
                <!-- &bull; -->
                {{ $tt("common.main", 1) }}
              </small>
            </td>
            <td>{{ record.firstname }} {{ record.middlename || "" }} {{ record.lastname }}</td>
            <td>
              <app-flag :country="record.country_iso2" />
              {{ record.country_iso2 }} {{ record.country }} <br />
              {{ record.postcode }} {{ record.city }} <br />
              {{ record.street_address }}
            </td>
            <td class="text-right">
              <div class="q-gutter-x-md">
                <app-btn
                  :to="`/addresses/${record.id}/edit?module=${record.book_type}`"
                  size="11px"
                  v-if="record.book_type"
                >
                  {{ $tt("common.edit", 1) }}
                </app-btn>

                <app-btn to="/account" size="11px" v-else>
                  {{ $tt("common.edit", 1) }}
                </app-btn>

                <app-btn
                  :disable="!record.book_type"
                  @click="removeRecord(record.id)"
                  size="11px"
                  color="negative"
                >
                  {{ $tt("common.delete") }}
                </app-btn>
              </div>
            </td>
          </tr>
        </app-table-list>
      </transition>
    </div>
  </PageContainer>
</template>

<script>
export default {
  async created() {
    try {
      this.loading.addresses = true;

      await this.$store.dispatch("Addresses/GET_ADDRESSES");
    } catch (e) {
      console.log(e);
    } finally {
      this.loading.addresses = false;
    }

    try {
      this.loading.types = true;

      await this.$store.dispatch("Addresses/GET_TYPES");
    } catch (e) {
      console.log(e);
    } finally {
      this.loading.types = false;
    }
  },
  data() {
    return {
      loading: {
        addresses: false,
        types: false,
      },
    };
  },
  computed: {
    types() {
      return this.$store.getters["Addresses/types"];
    },
    addresses() {
      return this.$store.getters["Addresses/book"];
    },
  },
  methods: {
    async removeRecord(id) {
      let c = await this.$confirm({
        title: "Хотите удалить запись из адресной книги ?",
        level: "danger",
        nextText: "Да, удалить запись",
      });

      if (!c) return;
    },
    getTypeSource(code) {
      switch (code) {
        case "sol":
          return "nova-poshta";
        case "usps":
          return "usps";
        case "cargo_sol":
          return "meest";
        default:
          break;
      }
    },
  },
};
</script>
<style lang="scss">
.address-logo {
  object-fit: contain;
  object-position: center center;
  height: 28px;

  &--usps {
    width: 100px;
  }

  &--cargo_sol {
    width: 70px;
  }
}
</style>
