<template>
  <PageContainer
    :title="
      edit_address
        ? `${$tt('common.edit', 1)} адрес`
        : `Новый адрес: ${address_type && address_type.title}`
    "
    :caption="address_type && address_type.direction.title"
    with-back
    :loading="loading.fields || loading.save"
  >
    <div class="container">
      <!-- {{ edit_address }} -->
      <!-- <q-slide-transition> -->
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        appear
      >
        <div v-if="fields">
          <app-select
            v-model="variation"
            :dense="false"
            :label="$tt('common.direction', 1)"
            v-if="fields && fields.variations"
            :options="fields.variations"
            :option-value="(v) => v && v.code"
            :option-label="(v) => v && v.title"
            @input="(variation) => fillFirstValue(variation)"
            :disable="!!edit_address"
          ></app-select>

          <q-slide-transition>
            <div class="q-mt-xl" v-if="variation">
              <div class="row q-col-gutter-md">
                <div
                  class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
                  v-for="(field, code) in user"
                  :key="code"
                >
                  <app-input
                    :label="field.title"
                    v-model="field.value"
                    :loading="field.loading"
                    :disable="field.relation && !variation.fields[field.relation].value"
                    :error="$v.user[code] && $v.user[code].$anyError"
                  ></app-input>
                </div>
              </div>

              <div class="q-my-md"></div>

              <div class="row q-col-gutter-md">
                <div
                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"
                  v-for="(field, code) in variation.fields"
                  :key="code"
                >
                  <app-select
                    v-if="field.external && field.external === 'search'"
                    v-model="field.value"
                    :clearable="false"
                    use-input
                    hide-selected
                    fill-input
                    input-debounce="777"
                    :label="field.title"
                    :options="options[code]"
                    @filter="
                      (value, update, abort) =>
                        inputFilterOptions(code, field, { value, update, abort })
                    "
                    @filter-abort="abortFilter"
                    :placeholder="`начинайте вводить значение для поиска`"
                    :loading="field.loading"
                    :option-label="(opt) => opt && opt.title"
                    :option-value="(opt) => opt && opt.id"
                    :disable="field.relation && !variation.fields[field.relation].value"
                    map-options
                    :emit-value="false"
                    :error="
                      $v.variation &&
                        $v.variation.fields[code] &&
                        $v.variation.fields[code].$anyError
                    "
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          <small>Ничего не найдено</small>
                        </q-item-section>
                      </q-item>
                    </template>
                  </app-select>

                  <app-select
                    v-else-if="field.external && field.external === 'select'"
                    :label="field.title"
                    v-model="field.value"
                    :loading="field.loading"
                    @filter="
                      (update, abort) => selectFilterOptions(code, field, { update, abort })
                    "
                    @filter-abort="abortFilter"
                    :disable="field.relation && !variation.fields[field.relation].value"
                    :error="
                      $v.variation &&
                        $v.variation.fields[code] &&
                        $v.variation.fields[code].$anyError
                    "
                  ></app-select>

                  <app-select
                    :label="field.title"
                    :options="field.data"
                    :option-label="(opt) => opt && opt.title"
                    :option-value="(opt) => opt && opt.id"
                    :emit-value="false"
                    map-options
                    v-model="field.value"
                    v-else-if="field.data"
                    :loading="field.loading"
                    :disable="field.relation && !variation.fields[field.relation].value"
                    :error="
                      $v.variation &&
                        $v.variation.fields[code] &&
                        $v.variation.fields[code].$anyError
                    "
                  ></app-select>

                  <app-input
                    v-else
                    :label="field.title"
                    v-model="field.value"
                    :loading="field.loading"
                    :disable="field.relation && !variation.fields[field.relation].value"
                    :error="
                      $v.variation &&
                        $v.variation.fields[code] &&
                        $v.variation.fields[code].$anyError
                    "
                  ></app-input>
                </div>
              </div>

              <div class="flex-center q-mt-xl">
                <app-btn
                  @click="saveAddress"
                  :loading="loading.save"
                  padding="md"
                  color="accent"
                  class="q-px-xl"
                  :submit="$q.screen.xs"
                >
                  <q-icon name="save" size="18px" class="q-mr-sm"></q-icon>
                  {{ $tt("common.save", 1) }}
                </app-btn>
              </div>
            </div>
          </q-slide-transition>
        </div>
      </transition>
      <!-- </q-slide-transition> -->
    </div>
  </PageContainer>
</template>

<script>
import {
  //  requiredIf,
  required,
} from "vuelidate/lib/validators";

export default {
  name: "EditAddress",
  async created() {
    if (this.edit_address) {
      try {
        this.loading.fields = true;

        let address = await this.getAddress(this.edit_address);

        const { firstname, middlename, lastname, book_type, book_data } = address;

        if (!book_data) return;

        const { code, data } = book_data;

        let { variations } = await this.getModuleFields(book_type);

        let current_address_variation = variations.find((v) => v.code === code);

        if (!current_address_variation) {
          this.$alert({ level: "danger", title: this.tt("errors.load_data") });
          return;
        }

        this.variation = current_address_variation;

        this.user.firstname.value = firstname;
        this.user.middlename.value = middlename;
        this.user.lastname.value = lastname;

        let keys = Object.keys(this.variation.fields);

        keys.forEach(async (key) => {
          if (this.variation.fields[key].external) {
            let restore_value = { id: data[key], title: book_data.titles[key] };

            if (!this.variation.fields[key].value) {
              this.$set(this.variation.fields[key], "value", restore_value);
            } else {
              this.variation.fields[key].value = restore_value;
            }
          } else {
            this.variation.fields[key].value = data[key];
          }
          // this.$forceUpdate(); // ? uncomment this in case of troubles with update fields values
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.tt("errors.load_data") });
      } finally {
        this.loading.fields = false;
      }
    } else {
      await this.getModuleFields();
      this.pickFirstVariation();
    }
  },
  data() {
    return {
      loading: { save: false, fields: false },
      fields: null,
      variation: null,
      options: {},
      user: {
        lastname: {
          value: null,
          title: "Фамилия",
        },
        firstname: {
          value: null,
          title: "Имя",
        },
        middlename: {
          value: null,
          title: "Отчество",
        },
      },
    };
  },
  computed: {
    type() {
      return this.$route.query.module;
    },
    types() {
      return this.$store.getters["Addresses/types"];
    },
    address_type() {
      return this.types && this.types.find((m) => m.code === this.type);
    },
    required_fields() {
      return this.variation && this.variation.required;
    },
    all_fields() {
      return { ...this.user, ...((this.variation && this.variation.fields) || {}) };
    },
    edit_address() {
      return (this.$route.params && this.$route.params.id) || null;
    },
  },
  methods: {
    async getAddress(id = this.edit_address) {
      return await this.$store.dispatch("Addresses/GET_ADDRESS", id);
    },
    async getModuleFields(type = this.type) {
      return new Promise(async (done, fail) => {
        try {
          this.loading.fields = true;

          const {
            data: { fields },
          } = await this.$api.get(`/user/book/fields/${type}`);

          this.fields = fields;

          done(this.fields);
        } catch (e) {
          console.log(e);
          fail(e);
        } finally {
          this.loading.fields = false;
        }
      });
    },
    pickFirstVariation() {
      if (
        this.fields &&
        this.fields.variations &&
        this.fields.variations.length &&
        this.fields.variations.length === 1
      ) {
        this.variation = this.fields.variations[0];
      }
    },
    fillFirstValue(variation) {
      if (this.edit_address) return;

      let fields = variation.fields;

      Object.values(fields).forEach((f) => {
        if (f.data && f.data.length && f.data.length === 1) {
          f.value = f.data[0].id;
        }
      });
    },
    getFieldOptions(code, field, value = null) {
      return new Promise(async (done, fail) => {
        try {
          let { type } = this;
          let relations = field.relation
            ? {
                [field.relation]:
                  this.variation.fields[field.relation].value.id ||
                  this.variation.fields[field.relation].value,
              }
            : {};

          const o = await this.$store.dispatch("Addresses/GET_DATA", {
            type: type,
            ...relations,
            [code]: value || "",
          });

          done(o);
        } catch (e) {
          fail(e);
        }
      });
    },
    async inputFilterOptions(code, field, { value, update, abort }) {
      try {
        field.loading = true;

        const o = await this.getFieldOptions(code, field, value);

        update(
          () => {
            if (!this.options[code]) this.$set(this.options, code, []);

            if (value) {
              const needle = (value && value.toLowerCase()) || null;
              this.options[code] = o.filter(
                (v) => (v.title && v.title.toLowerCase().indexOf(needle) > -1) || false
              );
            } else {
              this.options[code] = o;
            }
          },

          (ref) => {
            if (value !== "" && ref.options[code] && ref.options[code].length > 0) {
              ref.setOptionIndex(-1);
              ref.moveOptionSelection(1, true);
            }
          }
        );
      } catch (e) {
        console.log(e);

        this.$message({
          title: `${field.title}: не найдена информация о данном поле`,
          level: "warning",
        });

        abort();
      } finally {
        field.loading = false;
      }
    },
    async selectFilterOptions(code, field, { update, abort }) {
      // ! EXPLORE THIS ??????

      try {
        field.loading = true;

        let o = await this.getFieldOptions(code, field);

        update(
          () => {
            if (!this.options[code]) this.$set(this.options, code, []);

            if (value) {
              const needle = (value && value.toLowerCase()) || null;

              this.options[code] = o.filter(
                (v) => (v.title && v.title.toLowerCase().indexOf(needle) > -1) || false
              );
            } else {
              this.options[code] = o;
            }
            // }
          },

          (ref) => {
            if (value !== "" && ref.options[code] && ref.options[code].length > 0) {
              ref.setOptionIndex(-1);
              ref.moveOptionSelection(1, true);
            }
          }
        );
      } catch (e) {
        console.log(e);

        this.$message({
          title: `${field.title}: не найдена информация о данном поле`,
          level: "warning",
        });
      } finally {
        field.loading = false;
      }
    },
    abortFilter() {},
    // * SAVE
    async saveAddress() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      try {
        this.loading.save = true;

        let {
          variation: { code: variation_type, fields: variation_fields },
          type: book_type,
          user,
          edit_address: address_id = null,
        } = this;

        let fields = {};

        Object.entries({ ...variation_fields, ...user }).forEach(([code, field]) => {
          if (!field.value) {
            fields[code] = "";
          } else {
            fields[code] = field.value.id || field.value;
          }
        });

        let message;

        if (this.edit_address) {
          await this.$store.dispatch("Addresses/UPDATE_ADDRESS", {
            address_id,
            fields,
            variation_type,
            book_type,
          });

          message = this.$tt("messages.changes_saved");
        } else {
          await this.$store.dispatch("Addresses/SAVE_ADDRESS", {
            variation_type,
            fields,
            book_type,
          });

          message = "Запись добавлена в адресную книгу";
        }

        this.$alert({ level: "success", title: message });

        this.$router.push("/addresses");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.save = false;
      }
    },
  },
  validations() {
    let { fields } = this.variation;
    let withRules = {};

    Object.entries(fields).forEach(([code, field]) => {
      if (this.required_fields.includes(code)) withRules[code] = { value: { required } };
    });

    return {
      user: {
        firstname: { value: required },
        lastname: { value: required },
      },
      variation: {
        required,
        fields: {
          ...withRules,
        },
      },
    };
  },
};
</script>

<style lang="scss">
.new-address {
  &__fields {
    max-width: 777px;
  }
}
</style>
