<template>
  <q-dialog position="top" ref="dispute-add-track">
    <q-card style="min-width:420px">
      <q-card-section>
        <h5 class="q-ma-none">{{ $tt("common.input", 1) }} {{ $tt("common.track_number") }}</h5>
      </q-card-section>
      <q-card-section>
        <app-select
          :label="$tt('common.carrier', 1)"
          :options="carriers"
          emit-value
          map-options
          class="q-mb-lg"
        ></app-select>
        <app-input :label="$tt('common.track_number')"></app-input>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="hide" flat color="negative">{{ $tt("common.cancel") }}</app-btn>
          <app-btn>
            {{ $tt("common.accept") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  data() {
    return {
      carriers: [],
    };
  },
  methods: {
    show() {
      this.$refs["dispute-add-track"].show();
    },
    hide() {
      this.$refs["dispute-add-track"].hide();
    },
  },
};
</script>
