<template>
  <q-dialog position="top" ref="edit-message">
    <q-card style="min-width:630px" class="relative-position">
      <q-card-section>
        <h5 class="q-ma-none">
          Изменить сообщение
        </h5>
      </q-card-section>
      <q-separator> </q-separator>
      <q-card-section>
        <app-input rows="10" type="textarea" v-model="new_message"></app-input>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn flat color="negative" @click="hide">{{ $tt("common.cancel") }}</app-btn>
          <app-btn color="accent" @click="submit">
            {{ $tt("common.save", 1) }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    message: String,
  },
  data() {
    return {
      new_message: this.message,
    };
  },
  methods: {
    show() {
      this.$refs["edit-message"].show();
    },
    hide() {
      this.$refs["edit-message"].hide();
    },
    submit() {
      this.$emit("ok", this.new_message);
    },
  },
};
</script>
