<template>
  <PageContainer :loading="loading.dispute" with-back :title="`Диспут №${dispute_id}`">
    <with-loading :state="loading.dispute" />

    <template #actions>
      <div class="flex items-center q-gutter-x-lg">
        <div
          class="flex q-gutter-sm items-center"
          v-if="dispute && dispute.actions && dispute.actions.length"
        >
          <app-btn
            @click="dispatchAction(a)"
            :key="idx"
            padding="11px"
            size="12px"
            :color="actions[a].color"
            v-for="(a, idx) in dispute.actions"
          >
            {{ actions[a].text }}
          </app-btn>
        </div>

        <div v-else>
          <small class="text-muted">{{ $tt("common.not_available") }} </small>
        </div>

        <app-btn padding="11px" size="12px" round icon="more_vert">
          <q-menu>
            <q-list style="min-width:210px">
              <q-item
                v-close-popup
                clickable
                @click="changeIssueState"
                :disable="!ableToChangeOpenStatus"
              >
                <q-item-section side>
                  <q-icon name="task_alt" color="positive" size="22px"></q-icon>
                </q-item-section>
                <q-item-section>
                  {{ $tt("pages.disputes.question_resolved") }}
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
      </div>
    </template>

    <div class="container">
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        appear
      >
        <div v-if="loading.dispute">
          <div class="row q-col-gutter-lg" :class="$q.screen.xs && 'column'">
            <div class="col q-gutter-y-lg">
              <q-skeleton height="77px"></q-skeleton>
              <q-skeleton height="923px"></q-skeleton>
            </div>
            <div class="col-6 q-gutter-y-lg">
              <q-skeleton height="280px"></q-skeleton>
              <q-skeleton height="280px"></q-skeleton>
            </div>
          </div>
        </div>
        <div v-else-if="dispute">
          <div class="row q-col-gutter-lg" :class="$q.screen.xs && 'column'">
            <div class="col q-gutter-y-lg">
              <app-banner gradient :level="dispute_reason.level" class="q-mb-lg">
                <div class="flex column">
                  <div>
                    <small class="font-500 text-uppercase"> {{ $tt("common.reason") }}: </small>
                  </div>
                  <div class="font-500 q-mt-sm">
                    {{ dispute_reason.text || dispute.reason }}
                  </div>
                </div>
              </app-banner>
              <!-- <q-card> -->
              <app-list :header="$tt('common.common_info', 1)">
                <q-item>
                  <q-item-section>
                    {{ $tt("common.status", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{ statuses[dispute.status].text }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    {{ $tt("common.phase", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{
                      ($store.getters["Disputes/phases"] &&
                        $store.getters["Disputes/phases"][dispute.phase] &&
                        $store.getters["Disputes/phases"][dispute.phase].text) ||
                        dispute.phase
                    }}
                  </q-item-section>
                </q-item>

                <q-item
                  clickable
                  @click="
                    () => {
                      $copyText(dispute.pp_dispute_id);
                      $message({
                        title: $tt('common.copied', 1),
                        level: 'success',
                        icon: 'copy_all',
                      });
                    }
                  "
                >
                  <q-item-section>ID</q-item-section>
                  <q-item-section avatar>
                    {{ dispute.pp_dispute_id }}
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="
                    () => {
                      $copyText(dispute.order.order_id);
                      $message({ title: 'Номер заказа скопирован' });
                    }
                  "
                >
                  <q-item-section>
                    {{ $tt("common.order_number", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{ dispute.order.order_id }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.buyer", 1) }}
                    </q-item-label>
                    <!-- <q-item-label caption>
                      <small>информация из заказа</small>
                    </q-item-label> -->
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label class="flex column items-end q-gutter-y-sm">
                      <div class="flex items-center font-500">
                        {{ dispute.order.order_buyer_name }}
                      </div>
                      <div v-if="dispute.order.order_buyer_phone" class="flex items-center">
                        {{ dispute.order.order_buyer_phone }}
                      </div>
                      <div v-if="dispute.order.order_buyer_email" class="flex items-center">
                        {{ dispute.order.order_buyer_email }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>{{ $tt("common.summ", 1) }}</q-item-section>
                  <q-item-section avatar>
                    <div class="text-subtitle2">
                      {{ dispute.currency.symbol_left }} {{ dispute.amount }}
                      {{ dispute.currency.right }}
                    </div>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    {{ $tt("common.created_at", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{ $date(dispute.pp_created) }}
                    {{ $time(dispute.pp_created) }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    {{ $tt("common.updated", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{
                      dispute.pp_last_update &&
                        `${$date(dispute.pp_last_update)} ${$time(dispute.pp_last_update)}`
                    }}
                  </q-item-section>
                </q-item>
                <q-item v-if="dispute.order.order_shop_place">
                  <q-item-section>
                    {{ $tt("common.platform", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    <img
                      height="21px"
                      width="auto"
                      :src="`/img/logos/${dispute.order.order_shop_place.toLowerCase()}.svg`"
                      :alt="dispute.order.order_shop_place"
                      :title="`Shop place: ${dispute.order.order_shop_place}`"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    {{ $tt("common.order_status", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    {{ dispute.order.status_name }}
                  </q-item-section>
                </q-item>
                <q-item class="bg-amber-1">
                  <q-item-section>
                    <q-item-label class="q-mb-sm" caption>
                      <!-- Комментарий к заказу -->
                      {{ $tt("common.comment", 1) }}
                    </q-item-label>
                    <q-item-label>
                      {{ dispute.order.order_comment }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
              <!-- </q-card> -->
            </div>
            <div class="col-6 q-gutter-y-lg">
              <app-banner level="info" gradient class="q-mb-lg" v-if="dispute.outcome">
                <div>
                  <small> {{ $tt("common.decision", 1) }}: </small>
                </div>
                <div class="font-500">
                  {{ transformOutcome(dispute.outcome).toUpperCase() }}
                </div>
              </app-banner>
              <!-- <q-card> -->
              <app-list header="Сообщения">
                <q-item class="q-pb-lg">
                  <q-item-section>
                    <q-item-label>
                      <div class="flex items-start">
                        <div
                          style="font-size:32px;line-height:28px"
                          class="text-subtitle2 text-grey-7 relative-position"
                        >
                          {{ (dispute.messages && dispute.messages.length) || 0 }}
                        </div>
                      </div>
                    </q-item-label>
                    <q-item-label caption class="text-muted">
                      {{ $tt("pages.disputes.from_buyer") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div class="flex items-start">
                        <div
                          style="font-size:32px;line-height:28px"
                          class="text-subtitle2 text-grey-7 relative-position"
                        >
                          {{ (dispute.dialogue && dispute.dialogue.length) || 0 }}
                        </div>
                        <div class="flex items-center q-ml-xs" v-if="dispute.operator_unread">
                          <div
                            style="font-size:12px;border-radius:21px;padding-top:4px"
                            class="q-py-xs q-px-sm bg-primary text-white"
                          >
                            <!-- <q-tooltip anchor="top middle" self="bottom middle">
                              новые сообщения от оператора
                            </q-tooltip> -->
                            <div class="flex items-center font-500">
                              <q-icon name="new_releases"></q-icon>
                              <div class="q-ml-xs line-height1">
                                {{ dispute.operator_unread || 0 }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </q-item-label>
                    <q-item-label caption class="text-muted">
                      {{ $tt("pages.disputes.from_operator") }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("pages.disputes.response_due", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <div v-if="dispute.seller_response_due_date" class="text-subtitle2">
                      {{ $date(dispute.seller_response_due_date) }}
                    </div>
                    <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
                  </q-item-section>
                </q-item>
                <template #summary>
                  <q-item class="text-accent" clickable @click.prevent="showMessages">
                    <q-item-section>
                      <div class="text-subtitle2">
                        {{ $tt("pages.disputes.open_messages") }}
                      </div>
                    </q-item-section>
                    <q-item-section avatar>
                      <q-icon size="19px" name="forum"></q-icon>
                    </q-item-section>
                  </q-item>
                </template>
              </app-list>
              <!-- </q-card> -->

              <!-- <q-card class="q-mt-lg"> -->
              <app-list
                :empty="
                  (!dispute.order.track || !dispute.order.track.length) &&
                    $tt('errors.not_specified', 1)
                "
                :header="$tt('shipments.info_about_delivery_status')"
              >
                <q-item
                  clickable
                  @click="
                    () => {
                      $copyText(t.track_number);
                      $message({ title: $tt('common.copied', 1), icon: 'copy_all' });
                    }
                  "
                  v-for="(t, idx) in dispute.order.track"
                  :key="idx"
                >
                  <q-item-section>
                    {{ t.track_number }}
                  </q-item-section>
                  <q-item-section avatar>
                    <div v-if="t.carrier_name !== 'OTHER'">
                      <q-tooltip
                        v-if="
                          t.other_name &&
                            t.other_name.toLowerCase() !== t.carrier_name.toLowerCase()
                        "
                      >
                        {{ t.other_name }}
                      </q-tooltip>
                      <q-img
                        width="100px"
                        contain
                        :alt="t.carrier_name"
                        :src="`/img/carriers/${t.carrier_name.toLowerCase()}.svg`"
                      >
                        <template #error>
                          {{ t.carrier_name }}
                        </template>
                      </q-img>
                    </div>
                    <div v-else>
                      <small class="text-muted">другой</small>
                      <!-- <q-icon size="16px" class="q-ml-xs" color="grey" name="alt_route" /> -->
                    </div>
                  </q-item-section>
                </q-item>
                <q-item
                  @click.stop="
                    $openURL(
                      `https://t.17track.net/ru#nums=${dispute.order.track
                        .map((t) => t.track_number)
                        .join(',')}`
                    )
                  "
                  class="text-grey-7"
                  clickable
                  v-if="dispute.order.track && dispute.order.track.length"
                >
                  <q-item-section side>
                    <q-icon color="grey-7" size="18px" name="radar"></q-icon>
                  </q-item-section>
                  <q-item-section>
                    <!-- 17Track -->
                    <div class=" flex items-center">
                      Проверить на

                      <img
                        class="q-ml-xs"
                        width="50px"
                        style="object-fit:contain;object-position:center center;border-radius:2px"
                        height="auto"
                        src="/img/logos/17track.svg"
                        alt=""
                      />
                    </div>
                  </q-item-section>
                </q-item>
              </app-list>
              <!-- </q-card> -->

              <!-- v-if="dispute.details" -->
              <app-list v-if="false" header="Доказательства">
                <q-item class="q-py-md" v-for="ev in dispute.details.evidences">
                  <q-item-section>
                    <q-item-label class="q-mb-sm" caption>
                      {{ $date(ev.date) }}
                    </q-item-label>
                    <q-item-label v-if="ev.documents && ev.documents.length">
                      <q-card>
                        <q-expansion-item
                          expand-separator
                          icon="attach_file"
                          :label="`Файлы (${ev.documents && ev.documents.length})`"
                        >
                          <q-list separator class="q-mt-sm">
                            <q-item v-for="doc in ev.documents">
                              <q-item-section>
                                <small class="block ellipsis">{{ doc.name }}</small>
                              </q-item-section>
                              <q-item-section side>
                                <app-btn
                                  flat
                                  color="accent"
                                  size="11px"
                                  class="q-mr-sm"
                                  icon="download"
                                ></app-btn>
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </q-expansion-item>
                      </q-card>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
              <!-- </q-card> -->
            </div>
          </div>
        </div>
      </transition>
    </div>
  </PageContainer>
</template>
<script>
let t;

export default {
  created() {
    this.getDispute();
  },
  data() {
    return {
      dispute: null,
      tab: "customer",
      files: [],
      loading: {
        dispute: false,
      },
      actions: {
        accept_claim_chargeback: {
          text: this.$tt("pages.disputes.accept_claim_chargeback", 1),
          color: "positive",
        },
        send_message: {
          text: this.$tt("pages.disputes.send_message", 1),
          color: "info",
        },
        provide_tracking_info: {
          text: this.$tt("pages.disputes.provide_tracking_info", 1),
          color: "accent",
        },
        accept_claim: {
          text: this.$tt("pages.disputes.accept_claim", 1),
          color: "positive",
        },
        accept_claim_with_return: {
          text: this.$tt("pages.disputes.accept_claim_with_return", 1),
          color: "cyan",
        },
        make_offer_refund_with_return: {
          text: this.$tt("pages.disputes.make_offer_refund_with_return", 1),
          color: "blue",
        },
        make_offer_different_amount: {
          text: this.$tt("pages.disputes.make_offer_different_amount", 1),
          color: "indigo",
        },
      },
    };
  },
  computed: {
    dispute_id() {
      return this.$route.params && this.$route.params.id;
    },
    dispute_reason() {
      return (
        this.$store.getters["Disputes/reasons"] &&
        this.$store.getters["Disputes/reasons"][this.dispute.reason]
      );
    },
    // actions() {
    //   return this.$store.getters["Disputes/actions"];
    // },
    statuses() {
      return this.$store.getters["Disputes/statuses"];
    },
    ableToChangeOpenStatus() {
      return !!this.operator_dialogue.length;
    },
    operator_dialogue() {
      return this.dispute?.dialogue || [];
    },
    customer_dialogue() {
      let responses = this.dispute.responses.map((r) => {
        return {
          content: r.message,
          posted_by: "SELLER",
          time_posted: r.last_update,
          moderation_status: r.moderation_status,
        };
      });

      let r = [...this.dispute.messages, ...responses];

      let m = r.sort((a, b) => {
        return new Date(a.time_posted).getTime() - new Date(b.time_posted).getTime();
      });
      return m;
    },
  },
  watch: {
    tab(tab) {
      try {
        clearTimeout(t);
        t = setTimeout(async () => {
          if (tab === "operator" && this.dispute.operator_unread > 0) {
            this.dispute.operator_unread = 0;
            await this.$api.post(`/disputes/${this.dispute_id}/read-all`);
          }
          // else if (tab === "customer" && this.dispute.seller_unread > 0) {
          //   this.dispute.seller_unread = 0;

          //   await this.$api.post(`/disputes/${this.dispute_id}/read-all`);
          // }
        }, 2000);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      }
    },
  },
  methods: {
    async getDispute() {
      return new Promise(async (done, fail) => {
        this.loading.dispute = true;

        try {
          const { data: dispute } = await this.$api(`/disputes/${this.dispute_id}`);

          this.dispute = dispute;
          done(dispute);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
          fail(e);
        } finally {
          this.loading.dispute = false;
        }
      });
    },
    async changeIssueState(state) {
      try {
        const { data } = await this.$api.post(`/disputes/${this.dispute_id}/issue-status`, {
          open: false,
        });

        this.$message({
          level: "success",
          title: (data && data.message) || this.$tt("messages.changes_saved"),
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
      }
    },
    addTrack() {
      this.$q.dialog({
        parent: this,
        component: () => import("./AddTrack.vue"),
      });
    },
    // TODO: IMPLEMENT THIS:

    showMessages() {
      this.$q.dialog({
        parent: this,
        component: () => import("./Messages.vue"),
        dispute: this.dispute,
      });
    },
    transformOutcome(code) {
      const CODES = {
        ACCEPTED: this.$tt("pages.disputes.codes.accepted"),
        CANCELED_BY_BUYER: this.$tt("pages.disputes.codes.canceled_by_buyer"),
        DENIED: this.$tt("pages.disputes.codes.denied"),
        NONE: this.$tt("pages.disputes.codes.none"),
        RESOLVED_BUYER_FAVOUR: this.$tt("pages.disputes.codes.resolved_buyer_favour"),
        RESOLVED_SELLER_FAVOUR: this.$tt("pages.disputes.codes.resolved_seller_favour"),
        RESOLVED_WITH_PAYOUT: this.$tt("pages.disputes.codes.resolved_with_payout"),
      };

      return CODES[code];
    },
    dispatchAction(action) {
      switch (action) {
        case "send_message":
          this.showMessages();
          break;
        default:
          break;
      }
    },
  },
};
</script>
