<template>
  <q-dialog :position="$q.screen.xs ? 'bottom' : 'right'" maximized full-height ref="messages">
    <q-card class="flex column no-wrap ">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey "
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="customer" label="">
          <q-icon class="q-mb-sm q-mt-sm" size="24px" name="account_circle"></q-icon>

          <q-badge floating v-if="!!iDispute.seller_unread" color="primary">
            {{ iDispute.seller_unread }}
          </q-badge>
          <div class="q-mb-sm">
            {{ $tt("common.buyer", 1) }}
          </div>
        </q-tab>
        <q-tab name="operator" label="">
          <q-icon class="q-mb-sm q-mt-sm" size="24px" name="support_agent"></q-icon>

          <!-- <q-badge floating color="primary">
            
          </q-badge> -->
          <div class="q-mb-sm">
            {{ $tt("common.operator", 1) }}
          </div>
        </q-tab>
      </q-tabs>

      <q-separator />

      <q-tab-panels
        :style="$q.screen.xs ? 'width:100vw' : $q.screen.sm ? 'width:70vw' : 'width:50vw'"
        class="full-height  q-pa-none"
        v-model="tab"
        animated
      >
        <q-tab-panel class="full-height full-width q-pa-none" name="customer">
          <div
            ref="customer-chatflow"
            style="overflow-y:scroll"
            v-if="customer_dialogue && customer_dialogue.length"
            class="q-pa-md q-pt-xl q-pb-md full-height "
          >
            <div v-for="(m, idx) in customer_dialogue" :key="idx" class="q-mb-lg scroll">
              <div
                class="flex q-gutter-x-sm no-wrap"
                :class="m.posted_by === 'SELLER' && 'justify-end'"
              >
                <q-chip
                  v-if="m.posted_by === 'SELLER' && m.moderation_status"
                  text-color="white"
                  class="font-500 q-ma-none q-ml-sm"
                  :color="moderationStatus(m.moderation_status).color"
                  square
                  size="9px"
                >
                  {{ moderationStatus(m.moderation_status).text.toUpperCase() }}
                </q-chip>
                <q-chat-message
                  :text="[m.content]"
                  :sent="m.posted_by === 'SELLER'"
                  :bg-color="m.posted_by === 'SELLER' ? 'grey-2' : 'blue'"
                  :text-color="m.posted_by === 'SELLER' ? 'grey-9' : 'white'"
                >
                  <template #stamp>
                    <small class="block text-right q-mt-sm">
                      {{ $date(m.time_posted) }}, {{ $time(m.time_posted) }}
                    </small>
                  </template>
                  <template #avatar>
                    <q-avatar
                      :class="m.posted_by === 'SELLER' ? 'q-ml-md' : 'q-mr-md'"
                      size="36px"
                      :color="m.posted_by === 'SELLER' ? 'primary' : 'accent'"
                      text-color="white"
                    >
                      <q-tooltip
                        v-if="m.posted_by === 'BUYER'"
                        anchor="top middle"
                        self="bottom middle"
                      >
                        {{ iDispute.order.order_buyer_name }}
                      </q-tooltip>
                      <small v-if="m.posted_by === 'SELLER'">Вы</small>
                      <small v-else>
                        {{
                          iDispute.order.order_buyer_name &&
                            iDispute.order.order_buyer_name
                              .split(" ")[0]
                              .charAt(0)
                              .toUpperCase() +
                              iDispute.order.order_buyer_name
                                .split(" ")[1]
                                .charAt(0)
                                .toUpperCase()
                        }}
                      </small>
                    </q-avatar>
                  </template>
                </q-chat-message>
              </div>
            </div>
          </div>

          <div v-else class="q-pa-md">
            <small class="text-muted block q-my-lg text-center">
              {{ $tt("errors.no_data", 1) }}
            </small>
          </div>
        </q-tab-panel>

        <q-tab-panel class="full-height  q-pa-none" name="operator">
          <div
            ref="operator-chatflow"
            style="overflow-y:scroll"
            v-if="iDispute.dialogue && iDispute.dialogue.length"
            class="q-pa-md q-pt-xl q-pb-md full-height "
          >
            <!-- :name="m.posted_by === 'SELLER' ? 'Вы' : 'Оператор'" -->
            <q-chat-message
              v-for="(m, idx) in operator_dialogue"
              :key="idx"
              :text="[m.content]"
              :sent="m.posted_by === 'SELLER'"
              :bg-color="m.posted_by === 'SELLER' ? 'grey-2' : 'blue'"
              :text-color="m.posted_by === 'SELLER' ? 'grey-9' : 'white'"
              class="q-mb-lg"
            >
              <!-- :stamp="new Date(m.time_posted).toLocaleString()" -->
              <template #stamp>
                <small class="block text-right q-mt-sm">
                  {{ $date(m.time_posted) }}
                </small>
              </template>
              <template #avatar>
                <q-avatar
                  :class="m.posted_by === 'SELLER' ? 'q-ml-md' : 'q-mr-md'"
                  size="36px"
                  :color="m.posted_by === 'SELLER' ? 'primary' : 'accent'"
                  text-color="white"
                >
                  <small v-if="m.posted_by === 'SELLER'">Вы</small>
                  <q-icon name="support_agent" v-else> </q-icon>
                </q-avatar>
              </template>
            </q-chat-message>
          </div>

          <div v-else class="q-pa-md">
            <small class="text-muted block q-my-lg text-center">
              {{ $tt("errors.no_data", 1) }}
            </small>
          </div>
        </q-tab-panel>
      </q-tab-panels>

      <q-separator></q-separator>

      <input type="file" hidden ref="dispute-message-file-picker" />

      <q-card-section>
        <div class="flex items-stretch no-wrap">
          <div class="full-width">
            <app-input
              type="textarea"
              rows="2"
              class="full-width"
              v-model.trim="message"
              :disable="loading.message"
              label="Ваше сообщение"
            >
            </app-input>
          </div>
          <div>
            <app-btn
              :loading="loading.message"
              @click="sendMessage"
              icon="send"
              :disable="!message || !message.length"
              class="full-height q-ml-md"
              unelevated
              size="11px"
              color="accent"
            ></app-btn>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {
    dispute: Object,
  },
  created() {
    this.iDispute = this.dispute;
  },
  data() {
    return {
      tab: "customer",
      loading: {
        message: false,
      },
      message: null,
      iDispute: null,
    };
  },
  watch: {
    tab: {
      immediate: true,
      handler(target) {
        this.message = null;
        this.scrollToBottom();
      },
    },
  },
  computed: {
    operator_dialogue() {
      return this.iDispute?.dialogue || [];
    },
    customer_dialogue() {
      let responses = this.iDispute.responses.map((r) => {
        return {
          content: r.message,
          posted_by: "SELLER",
          time_posted: r.last_update,
          moderation_status: r.moderation_status,
        };
      });

      let r = [...this.iDispute.messages, ...responses];

      let m = r.sort((a, b) => {
        return new Date(a.time_posted).getTime() - new Date(b.time_posted).getTime();
      });
      return m;
    },
  },
  methods: {
    show() {
      this.$refs["messages"].show();
    },
    hide() {
      this.$refs["messages"].hide();
    },
    moderationStatus(status) {
      if (!status) return null;

      switch (status.toLowerCase()) {
        case "waiting":
          return {
            text: "ожидает модерации",
            color: "orange",
          };
        case "declined":
          return {
            text: this.$tt("common.declined"),
            color: "negative",
          };
        default:
          return {
            text: status,
            color: "grey",
          };
      }
    },
    handleFile(type) {
      this.$refs["dispute-message-file-picker"].click();
    },
    scrollToBottom(target = this.tab) {
      setTimeout(() => {
        let t = this.$refs[`${target}-chatflow`];
        t.scrollTop = t.clientHeight || 1000000;
      }, 0);
    },
    async sendMessage() {
      let is_customer_tab = this.tab === "customer";

      if (
        is_customer_tab &&
        (this.dispute.phase !== "INQUIRY" ||
          !["WAITING_FOR_SELLER_RESPONSE", "OPEN"].includes(this.dispute.status))
      ) {
        this.$alert({
          level: "warning",
          title: this.$tt("errors.bad_operation"),
          message: this.$tt("pages.disputes.phase_warning"),
        });

        return;
      }

      // if (is_customer_tab && this.iDispute.reason === "UNAUTHORISED") {
      //   this.$alert({
      //     level: "warning",
      //     title: this.$tt("errors.bad_operation"),
      //     message: this.$tt("pages.disputes.reason_warning"),
      //   });
      //   return;
      // }

      this.$v.message.$touch();

      if (this.$v.message.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return false;
      }

      let { message } = this,
        m = {
          message,
          posted_by: "SELLER",
          time_posted: new Date().toISOString(),
        },
        ROUTE = `/disputes/${this.iDispute.dispute_id}/`;

      switch (this.tab) {
        case "customer":
          ROUTE += "send-message";
          break;
        case "operator":
          ROUTE += "message-to-operator";
          break;
        default:
          throw new Error("Unhadled target type");
      }

      this.loading.message = true;

      try {
        await this.$api.post(ROUTE, m);
        // await this.getDispute();

        this.message = null;

        const { data: dispute } = await this.$api(`/disputes/${this.dispute.dispute_id}`);
        this.iDispute = dispute;

        setTimeout(() => {
          this.scrollToBottom();
        }, 0);

        this.$v.message.$reset();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.message = false;
      }
    },
    async editMessage({ content: message }) {
      let response_id = this.iDispute.responses.find((r) => r.moderation_status === "WAITING")
        .dispute_response_id;

      if (!response_id) {
        this.$alert({ title: this.$tt("errors.bad_operation", 1), level: "danger" });
        return;
      }

      let EditMessageDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./EditMessage.vue"),
          message,
        })
        .onOk(async (new_message) => {
          if (!new_message || !new_message.length) {
            this.$message({ title: this.$tt("errors.bad_data") });
            return;
          }
          this.loading.message = true;

          try {
            await this.$api.post(`/dispute-response/${response_id}/edit`, {
              message: new_message,
            });

            message = new_message;
            EditMessageDialog.hide();

            this.$message({ level: "success", title: this.$tt("messages.changes_saved") });

            // this.getDispute();
          } catch (e) {
            console.log(e);

            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            this.loading.message = false;
          }
        });
    },
  },
  validations() {
    return {
      message: { required },
    };
  },
};
</script>
