<template>
  <q-dialog
    persistent
    full-height
    position="top"
    :maximized="$q.screen.sm || $q.screen.xs"
    class="types-modal"
    ref="types-dialog"
  >
    <q-card style="max-width:777px;width:100%">
      <div class="flex column justify-between">
        <!-- // ? HEAD -->
        <div>
          <div class="q-pa-lg">
            <h5 class="q-ma-none">Выберите тариф</h5>
          </div>
          <q-separator />
        </div>
        <!-- // ? TARIFFS -->
        <div class="flex column scroll full-height" style="max-height:70vh;">
          <div class="q-pa-lg" v-if="tariffs && tariffs.length">
            <TariffItem
              @change="selectCarrier"
              :key="item.carrier_service.id"
              :active="picked_type && picked_type.carrier_service.id === item.carrier_service.id"
              :tariff="item"
              v-for="item in tariffs"
            />
          </div>
          <div class="q-pa-lg text-center" v-else>
            <div class="text-muted">По данным параметрам не найдено тарифов</div>
          </div>
        </div>

        <!-- // ? FOOTER -->
        <div>
          <q-separator />
          <div class="flex justify-between bg-white q-py-md q-px-lg">
            <app-btn
              class="q-px-lg q-py-sm text-red"
              @click="
                () => {
                  hide();
                  $emit('hide');
                }
              "
              flat
              :label="$tt('common.cancel', 1)"
            />

            <app-btn
              :disable="!picked_type || picked_type.carrier_service.error"
              @click="submitPicked(picked_type)"
              :label="$tt('common.pick', 1)"
              color="positive"
              unelevated
              class="q-px-lg q-py-sm"
            />
          </div>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
import TariffItem from "./item.vue";

export default {
  name: "TypesModal",
  components: {
    TariffItem,
  },
  props: {
    types: Array,
    loading: Boolean,
  },
  created() {
    this.tariffs = this.types;
  },
  data() {
    return {
      picked_type: null,
      tariffs: null,
      insurance: null,
    };
  },
  methods: {
    show() {
      this.$refs["types-dialog"].show();
    },
    hide() {
      this.$refs["types-dialog"].hide();
    },
    selectCarrier({ carrier, insurance }) {
      this.insurance = insurance;
      this.picked_type = carrier;
    },
    submitPicked() {
      this.$emit("ok", { carrier: this.picked_type, insurance: this.insurance });
      // this.hide();
    },
  },
};
</script>

<style lang="scss" scoped>
.types-modal {
  // min-height: -webkit-fill-available;

  .q-hoverable:hover > .q-focus-helper {
    opacity: 0.042 !important;
  }
}
</style>
