<template>
  <q-item
    :disable="!!tariff.carrier_service.error"
    :clickable="!tariff.carrier_service.error"
    class="carrier-item q-py-md q-mb-md"
    :class="[active && 'carrier-item--active', $q.screen.xs && 'carrier-item--xs']"
    @click.prevent="
      pickType(
        (insurance_services && insurance_services.length && insurance_services[1] && insurance_services[1].value) || null
      )
    "
  >
    <!-- @dblclick="submit(insurance)" -->
    <q-tooltip
      transition-show="jump-down"
      transition-hide="jump-down"
      v-if="!!tariff.carrier_service.error"
      anchor="center middle"
      self="center middle"
    >
      <div class="flex items-center">
        <q-icon name="lock" size="16px" class="q-mr-sm" />
        <b>Данный тариф недоступен для выбора</b>, присутствуют ошибки
      </div>
    </q-tooltip>
    <q-item-section>
      <q-item-label>
        <div class="carrier-item__title" :style="$q.screen.xs && 'max-width:63%'">
          <div class="flex items-center">
            <div class=" font-500" :class="active ? 'text-primary' : 'text-grey-8'">
              {{ transformType(tariff.ship_type) }}
            </div>

            <img
              :src="getCarrierLogo(tariff.carrier_service.carrier.toLowerCase()).path"
              :alt="tariff.carrier_service.carrier.toLowerCase().code"
              style="display:block"
              height="28px"
              class="carrier-item__logo q-ml-sm"
              :class="`carrier-item__logo--${getCarrierLogo(tariff.carrier_service.carrier.toLowerCase()).code}`"
            />
          </div>
          <div class="q-py-lg">
            <div class="font-500" style="font-size:17px" :class="active && 'text-primary'">
              {{ tariff.carrier_service.carrier }}:
              <span>{{ tariff.carrier_service.name }}</span>
            </div>
            <div class=" q-mt-md" :class="active ? 'text-primary' : `text-grey-8`">
              {{ tariff.carrier_service.timing_description }}
            </div>
          </div>
        </div>

        <div class="q-mb-md q-gutter-y-sm" v-if="tariff.carrier_service.error || tariff.carrier_service.warning">
          <div v-if="tariff.carrier_service.error" class="flex no-wrap items-start text-negative">
            <q-icon class="q-mr-xs" name="error" />
            <div class="text-negative" style="font-size:12px" v-html="tariff.carrier_service.error"></div>
          </div>

          <div v-if="tariff.carrier_service.warning" class="flex no-wrap items-start text-orange-7">
            <q-icon class="q-mr-xs" name="warning" />
            <div class="text-orange-9" style="font-size:12px" v-html="tariff.carrier_service.warning"></div>
          </div>
        </div>

        <div class="insurance-services" v-if="tariff.insurance_services && tariff.insurance_services.length">
          <!-- :disable="!active" -->
          <q-btn-toggle
            v-show="!tariff.carrier_service.error"
            class="bg-white"
            @click.stop
            size="sm"
            push
            toggle-color="primary"
            :options="insurance_services"
            v-model="insurance"
            @input="(value) => pickInsurance(value)"
          ></q-btn-toggle>
        </div>
      </q-item-label>
    </q-item-section>
    <q-item-section :style="$q.screen.xs && 'position: absolute; right: 7px; top: 28px;'" side>
      <div
        class="flex items-center"
        v-if="!!tariff.rates.total + ((tariff.rates.insurance && tariff.rates.insurance.cost) || 0)"
      >
        <div class="carrier-item__cost text-right q-mr-sm">
          <div>
            {{ $toUSD(tariff.rates.total + ((insurance && insurance.cost) || 0)) }}
          </div>
        </div>
        <app-btn @click.stop round color="primary" flat icon="ion-information-circle-outline">
          <q-menu>
            <q-list separator>
              <q-item v-for="(value, line) in rate_summary" :key="line">
                <q-item-section style="min-width:70px">
                  <q-item-label caption>
                    <div>
                      {{ line }}
                    </div>
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <div class="font-500" :class="!value && 'text-grey'">
                    {{ $toUSD(value) }}
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
      </div>
      <div v-else>
        <small class="text-muted">
          {{ $tt("common.not_avalable", 1) }}
        </small>
      </div>
    </q-item-section>
  </q-item>
</template>
<script>
const LINES = {
  label: "Лейба",
  consolidation: "Консолидация",
  direct: "Экспресс",
  handling: "Обработка посылки",
  to_hands: "Лично в руки",
  gift_box: "Упаковка",
  edit_address: "Изменение адреса",
  insurance: "Повышенная ответственность",
  postcard: "Открытка",
  total: "Итого",
};

export default {
  props: {
    tariff: Object,
    active: Boolean,
  },
  data() {
    return {
      insurance: null,
    };
  },
  computed: {
    insurance_services() {
      if (!this.tariff.insurance_services || !this.tariff.insurance_services.length) return null;

      return [
        {
          value: { id: 0, cost: 0 },
          label: `Без возмещения`,
          rate: 0,
        },
        ...this.tariff.insurance_services.map((s) => {
          return {
            label: `Возмещение ${this.$toUSD(s.insure_value)} (${this.$toUSD(s.cost)})`,
            value: { id: s.id, cost: s.cost },
          };
        }),
      ];
    },
    rate_summary() {
      let summary = {};

      if (this.insurance) summary[LINES["insurance"]] = this.insurance.cost;

      Object.entries(this.tariff.rates).forEach(([key, cost]) => {
        cost && (summary[LINES[key]] = cost);
      });

      return summary;
    },
  },
  watch: {
    active(state) {
      !state && (this.insurance = null);
    },
  },
  methods: {
    transformType(val) {
      switch (val) {
        case "consolidation":
          return "Консолидация";
        case "direct":
          return "Экспресс";
        case "return_label":
          return "Возвратная отправка";
        case "usa_domestic":
          return "Отправка со склада";
        case "consolidation_usa":
          return "Global Forward";
        case "postcard":
          return "Открытка";
        default:
          return val;
      }
    },
    getCarrierLogo(carrier) {
      let logo_map = {
        dhl: "dhl",
        usps: "usps",
        ups: "ups",
        "gls czech": "gls",
        "dpd czech republic": "dpd",
        "dhl ukraine": "dhl",
        "tnt ukraine": "tnt",
        "fedex ukraine": "fedex",
        "fedex russia": "fedex",
        "fedex usa": "fedex",
        "ukrposhta": "ukrposhta",
        "nova global": "nova-global",
        "asendia usa": "asendia",
      };

      return {
        path: `/img/carriers/${logo_map[carrier]}.svg`,
        code: logo_map[carrier],
      };
    },
    pickType(insurance) {
      if (insurance && !this.insurance) this.insurance = insurance;

      let { tariff: carrier } = this;

      this.$emit("change", { carrier, insurance: (this.insurance && this.insurance.id) || null });
    },
    pickInsurance(insurance) {
      this.pickType(insurance);
    },
    submit() {
      //   console.log("submit", this.tariff, this.insurance);
    },
  },
};
</script>
<style lang="scss">
.carrier-item {
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: all ease 0.21s;

  &__carrier-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
  }

  &__cost {
    transition: transform ease 0.21s;
    transform-origin: right center;
    font-size: 20px;
  }

  &--active {
    box-shadow: 0 0 0 4px rgba($primary, 0.1);
    background-color: rgba($blue-1, 0.42);
    border-color: $primary !important;

    .carrier-item__cost {
      color: $primary !important;
      transform: scale(1.28);
      font-weight: 500;
    }
  }

  &--disabled {
    color: $grey;
  }

  &--xs {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  &__logo {
    display: block;
    object-fit: contain;
    object-position: center center;
    height: 21px;
    width: 49px;

    &--dhl {
      background-color: #fecc01;
      width: 77px;
    }

    &--usps {
      width: 114px;
      height: auto;
    }

    &--ups {
      width: 30px;
      height: 30px;
    }

    &--tnt {
      height: 32px;
      width: auto;
    }

    &--gls {
      width: 68px;
      height: auto;
    }
    &--fedex {
      width: 59px;
      // background-size: cover;
    }
    &--dpd {
      height: 28px;
      width: 66px;
    }
    &--ukrposhta {
      height: 30px;
      width: 86px;
    }
    &--nova-global {
      width: 114px;
      height: auto;
    }
  }
}
</style>
