<template>
  <PageContainer :title="$tt('pages.new_buy.title_new_parcel_page', true) ">
    <with-loading :state="loading.orders" />

    <div class="container">
      <div v-if="affiliated_orders && Object.keys(affiliated_orders) && Object.keys(affiliated_orders).length">
        <AffilliatedGroup
          v-for="(orders, aff) in affiliated_orders"
          :orders="orders"
          :key="aff"
          :aff="getAffiliate(aff)"
        />
      </div>
      <div v-else>
        <div class="text-muted">{{ $tt("pages.new_buy.no_info_wh") }}</div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import AffilliatedGroup from "./Affilliation";

export default {
  components: {
    AffilliatedGroup,
  },
  created() {
    this.getOrders();
  },
  data() {
    return {
      orders: null,
      affiliates: null,
      loading: {
        orders: null,
      },
      checked: {},
    };
  },
  computed: {
    affiliated_orders() {
      if (!this.orders || !this.orders.length) return null;

      let res = {};

      this.orders.forEach((o) => {
        if (res[o.aff]) {
          res[o.aff].push(o);
        } else {
          res[o.aff] = [o];
        }
      });

      return res;
    },
  },
  methods: {
    async getOrders() {
      try {
        this.loading.orders = true;

        const {
          data: { orders, affiliates },
        } = await this.$api.get(`/buy/in_warehouse`);

        this.affiliates = affiliates;
        this.orders = [...orders.flatMap((order) => order)];
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("pages.new_buy.failed_to_load_wh_orders") });
      } finally {
        this.loading.orders = false;
      }
    },
    getAffiliate(code) {
      return this.affiliates.find((a) => a.aff === code) || code;
    },
  },
};
</script>
<style lang="scss"></style>
