<template>
  <PageContainer :title="$tt('nav.sells.agent_sales.title')">
    <template #actions>
      <app-btn padding="11px" size="12px" to="/agent-sales/new" color="accent">
        {{ $tt("common.create_request") }}
      </app-btn>
    </template>

    <app-banner level="info" class="q-mb-xl">
      <div class="container">
        {{ $tt("pages.agent_sales.messages.info") }}
      </div>
    </app-banner>

    <div class="container">
      <div class="flex-center-between q-mb-lg">
        <div>
          <app-pagination unelevated v-model="human_page" :max="total_pages || 1" />
        </div>

        <div class="flex items-center no-wrap q-gutter-x-md">
          <small class="text-muted"> {{ $tt("common.total") }} {{ total_count || 0 }} </small>
          <app-select
            :options="[20, 35, 50, 75, 100]"
            v-model="filter.onPage"
            style="min-width:120px"
            :label="$tt('common.on_page', 1)"
          ></app-select>
        </div>
      </div>

      <app-table-list
        :loading="loading"
        :header="$tt('pages.agent_sales.your_requests', 1)"
        :empty="(!requests || !requests.length) && 'Вы не подали ни одной заявки на продажи'"
        :colspan="7"
      >
        <template #thead>
          <tr>
            <th side>
              {{ $tt("common.image", 1) }}
            </th>
            <th>{{ $tt("common.title", 1) }}</th>
            <th>{{ $tt("common.created_at", 1) }}</th>
            <th>{{ $tt("common.cost", 1) }}</th>
            <th>
              {{ $tt("common.delivery", 1) }}
            </th>
            <th>
              {{ $tt("pages.agent_sales.product_links", 1) }}
            </th>
            <th class="text-right" side>{{ $tt("common.status", 1) }}</th>
            <!-- <th></th> -->
          </tr>
        </template>

        <router-link
          tag="tr"
          :to="`/agent-sales/request/${r.agent_sale_id}`"
          class="cursor-pointer"
          v-for="r in requests"
          :key="r.agent_sale_id"
        >
          <td side>
            <q-img
              v-if="r.preview_image && r.preview_image.base_64"
              :src="`data:image;base64,${r.preview_image.base_64}`"
              height="70px"
              width="70px"
              cover
              class="rounded-borders"
            ></q-img>
            <q-img
              v-else-if="r.images_preview_link"
              :src="r.images_preview_link"
              height="70px"
              width="70px"
              cover
              class="rounded-borders"
            ></q-img>

            <small class="text-muted block text-center" v-else>
              {{ $tt("common.not_available") }}
            </small>
          </td>
          <td>
            <small class="text-grey-8">
              № заявки:
              <span class="font-500">{{ r.agent_sale_id }}</span>
            </small>
            <div class="text-subtitle2">{{ r.product_name }}</div>
            <small
              :title="r.product_description"
              style="white-space:normal"
              class="block text-grey-7 q-mb-xs"
            >
              <div class="ellipsis-3-lines">
                {{ r.product_description }}
              </div>
            </small>
            <q-chip
              v-if="r.request_product"
              square
              dense
              color="purple"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              Товар в системе

              <q-tooltip>
                <div>
                  <table>
                    <tr class="text-left">
                      <th>
                        Код
                      </th>
                      <th>
                        Наименование
                      </th>
                      <th class="text-right q-pl-sm">
                        На складе
                      </th>
                    </tr>
                    <tr>
                      <td class="q-pr-sm">
                        {{ r.request_product.product_code }}
                      </td>
                      <td class="q-pr-sm">
                        <div style="max-width:140px" class="ellipsis">
                          {{ r.request_product.product_title }}
                        </div>
                      </td>
                      <td class="text-right">
                        {{ r.request_product.warehouse_amount }}
                      </td>
                    </tr>
                  </table>
                </div>
              </q-tooltip>
            </q-chip>
            <q-chip
              v-if="r.product_status"
              square
              dense
              color="indigo"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              {{ r.product_status.name }}
            </q-chip>
            <!-- v-if="r?.payments?.length" -->
            <q-chip
              v-if="r?.payments?.length"
              square
              dense
              color="orange-8"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              Продаж: {{ r?.payments?.length }}
            </q-chip>

            <q-chip
              v-if="r.personalization_allowed"
              square
              dense
              color="teal"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              Персонализация
              <q-tooltip>
                {{ r.personalization_text }}
              </q-tooltip>
            </q-chip>

            <q-chip
              v-if="r?.listing_product?.current_stock"
              square
              dense
              color="cyan-8"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              На складе посредника:
              {{ r?.listing_product?.current_stock || 0 }}
            </q-chip>
            <q-chip
              v-if="r?.listing_product?.on_the_way"
              square
              dense
              color="pink-8"
              text-color="white"
              size="10px"
              class="font-500 q-ma-none q-mr-xs"
            >
              В пути к посреднику:
              {{ r?.listing_product?.on_the_way || 0 }}
            </q-chip>
          </td>
          <td>
            <div v-if="r.created_at">
              <div>
                {{ $date(r.created_at) }}
              </div>
              <small class="text-muted font-500">
                {{ $time(r.created_at) }}
              </small>
            </div>
            <small class="text-muted" v-else>
              {{ $tt("errors.not_specified") }}
            </small>
          </td>

          <td>
            <div class="text-subtitle2">
              {{ $toUSD(r.product_price) }}
            </div>
          </td>
          <td class="text-center">
            <q-btn
              v-if="r.local_track"
              @click.stop
              size="12px"
              flat
              round
              icon="info_outline"
              color="grey"
            >
              <q-menu>
                <app-list>
                  <q-item>
                    <q-item-section>
                      <q-item-label caption> {{ $tt("common.track_number", 1) }} НП</q-item-label>
                      <q-item-label>
                        {{ r.local_track }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </app-list>
              </q-menu>
            </q-btn>
            <small v-else class="text-muted">
              {{ $tt("common.not_specified") }}
            </small>
          </td>
          <td class="text-center">
            <q-btn
              class="relative-position"
              round
              flat
              icon="link"
              @click.stop
              size="12px"
              color="grey"
            >
              <!-- {{ $tt("common.link", 0, 2) }}
              ({{ r.external_links.length }}) -->

              <q-popup-proxy>
                <q-list>
                  <q-item-label header class="text-accent">
                    <small class="font-500">
                      {{ $tt("pages.agent_sales.product_links", 1) }}
                    </small>
                  </q-item-label>
                  <q-item v-if="!r.external_links || !r.external_links.length">
                    <q-item-section>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("common.not_specified") }}
                        </small>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item
                    class="text-blue-8"
                    clickable
                    @click="$openURL(link)"
                    :key="idx"
                    v-for="(link, idx) in r.external_links"
                  >
                    <q-item-section>
                      <q-item-label>
                        {{ link }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-item-label class="q-pl-lg">
                        <q-icon size="15px" name="open_in_new"></q-icon>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator></q-separator>
                  <q-item
                    v-close-popup
                    @click="updateLinks(r)"
                    v-if="r.can_update_links"
                    clickable
                    class="text-grey-8"
                  >
                    <q-item-section>
                      <q-item-label>
                        {{ $tt("common.change", 1) }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-item-label>
                        <q-icon color="grey-8" size="15px" name="edit"></q-icon>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-popup-proxy>
            </q-btn>
          </td>
          <td side class="text-right">
            <app-badge :class="['request-status', `request-status--${r.status.code}`]">
              {{ r.status.name }}
            </app-badge>
          </td>
          <!-- <td class="fit-column">
            <q-icon color="grey-7" size="21px" name="chevron_right"></q-icon>
          </td> -->
        </router-link>
      </app-table-list>
    </div>
  </PageContainer>
</template>

<script>
export default {
  name: "AgentSalesRequest",
  created() {
    // this.getRequests();
  },
  mounted() {
    this.filter = {
      ...this.filter,
      ...this.normalizeParams(this.$route.query),
    };

    this.$routeFilter({ query: this.filter });
  },
  data() {
    return {
      requests: null,
      loading: false,
      links_loading: false,
      filter: {
        page: 0,
        onPage: 20,
      },
      total_count: null,
    };
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (this.total_count && Math.ceil(this.total_count / this.filter.onPage)) || 1;
    },
  },
  watch: {
    "$route.query": {
      handler(query) {
        this.getRequests(query);
      },
      immediate: true,
    },
    "filter.page"(page) {
      this.$routeFilter({ query: { ...this.normalizeParams(this.filter), page } });
    },
    "filter.onPage"(onPage) {
      this.$routeFilter({ query: { ...this.normalizeParams(this.filter), onPage, page: 0 } });
    },
  },
  methods: {
    normalizeParams(params = this.filter) {
      let f = {};

      Object.entries(params).forEach(([key, value]) => {
        if (key === "page" || key === "onPage") {
          f[key] = +value;
        } else if (value !== null && value !== undefined) {
          f[key] = value;
        }
      });

      return f;
    },
    async getRequests(params = {}) {
      try {
        this.loading = true;

        let $params = this.normalizeParams(params);

        let {
          data: { items_total, onPage, page, sale_requests },
        } = await this.$api.post(`/agent-sales/search`, $params);

        this.requests = sale_requests;
        this.total_count = items_total;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить инфомарцию о заявках",
        });
      } finally {
        this.loading = false;
      }
    },
    async showRequest(request) {
      this.$routeFilter(`/agent-sales/request/${request.agent_sale_id}`);
    },
    updateLinks(request) {
      let UpdateLinks = this.$q
        .dialog({
          component: () => import("./UpdateLinks.vue"),
          parent: this,
          request,
          loading: this.links_loading,
        })
        .onOk(async ({ external_links, id }) => {
          this.links_loading = true;

          await this.$api.post(`/agent-sales/${id}/update-external-links`, {
            external_links,
          });

          this.links_loading = false;

          UpdateLinks.hide();

          this.getRequests();

          this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });
        });
    },
    $routeFilter(params, replace = false) {
      this.$router[replace ? "replace" : "push"](params).catch(() => {});
    },
  },
};
</script>

<style lang="scss" scoped>
.request-status {
  &--on_review {
    background-color: rgba(#ffb400, 0.42);
    color: rgb(126, 103, 0);
    // box-shadow: 0 0 0 3px rgba(#ffb400, 0.21);
  }

  &--accepted {
    background-color: rgba(#10b981, 0.42);
    color: rgb(17, 90, 35);
    // box-shadow: 0 0 0 3px rgba(#10b981, 0.21);
  }

  &--declined {
    background-color: rgba(#b90000, 0.21);
    color: rgb(177, 0, 0);
    // box-shadow: 0 0 0 3px rgba(#b90000, 0.21);
  }

  &--selling {
    background-color: rgba(#0097a7, 0.21);
    color: #0097a7;
    // box-shadow: 0 0 0 3px rgba(#0097a7, 0.21);
  }

  &--took_off {
    background-color: rgba(#455a64, 0.21);
    color: #455a64;
    // box-shadow: 0 0 0 3px rgba(#455a64, 0.21);
  }

  &--succeed {
    background-color: rgba(#009688, 0.21);
    color: #009688;
    // box-shadow: 0 0 0 3px rgba(#009688, 0.21);
  }
}
</style>
