<template>
  <q-dialog
    :position="$q.screen.xs ? 'bottom' : 'top'"
    :maximized="$q.screen.xs || false"
    ref="update-links"
  >
    <q-card style="width:420px" class="relative-position">
      <with-loading :state="loading" />
      <q-card-section>
        <h5 class="q-ma-none">
          {{ $tt("common.change", 1) }} {{ $tt("pages.agent_sales.product_links", 0) }}
        </h5>
      </q-card-section>
      <q-separator></q-separator>

      <q-list separator>
        <div v-if="lot?.external_links?.length">
          <q-item tag="label" class="q-py-md" v-for="(link, idx) in lot.external_links" :key="idx">
            <q-item-section>
              <q-item-label>
                <app-input
                  :label="
                    `${$tt('pages.agent_sales.product_links', 1)} ${$tt(
                      'pages.agent_sales.on_market'
                    )}`
                  "
                  :error="$v.lot.external_links.$each[idx].$anyError"
                  error-message="Значение должно быть ссылкой"
                  v-model="link.value"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <!-- <q-item-label> -->
              <q-btn
                :disable="lot.external_links.length === 1"
                @click="removeLink(idx)"
                padding="sm"
                flat
                icon="close"
                color="negative"
              ></q-btn>
              <!-- </q-item-label> -->
            </q-item-section>
          </q-item>
        </div>

        <div v-else>
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption>
                {{ $tt("errors.no_data", 1) }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <q-separator></q-separator>

        <q-item class="q-py-md" clickable @click="addLink">
          <q-item-section side>
            <q-icon size="20px" name="add"></q-icon>
          </q-item-section>
          <q-item-section>
            <q-item-label class="font-500">
              {{ $tt("common.add", 1) }}
              {{ $tt("common.link") }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>

      <q-separator></q-separator>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn padding="11px" size="12px" @click="hide" flat>
            {{ $tt("common.cancel") }}
          </app-btn>
          <app-btn padding="11px" size="12px" @click="submit" color="positive">
            {{ $tt("common.save") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { url, minLength, required } from "vuelidate/lib/validators";

export default {
  props: {
    request: Object,
    loading: Boolean,
  },
  mounted() {},
  created() {
    let { external_links, ...request } = this.request;

    this.lot = {
      ...request,
      external_links: external_links.map((link) => ({ value: link })),
    };
  },
  data() {
    return {
      lot: null,
    };
  },
  methods: {
    show() {
      this.$refs["update-links"].show();
    },
    hide() {
      this.$refs["update-links"].hide();
    },
    addLink() {
      this.lot.external_links.push({ value: null });
    },
    removeLink(idx) {
      this.lot.external_links.splice(idx, 1);
    },
    async submit() {
      let links_validator = this.$v.lot.external_links;

      links_validator.$touch();

      if (links_validator.$anyError) {
        this.$message({ title: this.$tt("errors.bad_data"), level: "warning" });

        return;
      }

      let c = await this.$confirm({
        title: this.$tt("messages.save_changes_prompt"),
        icon: "help",
      });

      if (!c) return;

      let not_empty_links = this.lot.external_links
        .filter((link) => !!link.value && link.value.length)
        .map(({ value }) => value);

      this.$emit("ok", { external_links: not_empty_links, id: this.lot.agent_sale_id });
    },
  },
  validations() {
    return {
      lot: {
        external_links: {
          required,
          minLength: minLength(1),

          $each: {
            value: { url, required },
          },
        },
      },
    };
  },
};
</script>
