<template>
  <PageContainer :title="$tt('nav.buys.lost_orders.title')">
    <app-banner level="info" class="q-mb-xl">
      <div class="container " style="padding-left:0px;padding-right:0px;">
        {{ $tt("pages.lost_orders.info_message") }}
        <a class="text-blue-8" href="mailto:so-support@seller-online.com">so-support@seller-online.com</a>.
      </div>
    </app-banner>

    <div class="container">
      <p>
        {{ $tt("pages.lost_orders.help_message") }}
      </p>

      <app-list class="q-mt-xl">
        <q-item class="q-py-md">
          <q-item-section>
            <app-input v-model="query" :label="$tt('common.search', 1)"></app-input>
          </q-item-section>
        </q-item>
        <q-item v-for="(order, idx) in filtered_orders" :key="idx">
          <q-item-section>
            {{ order }}
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      query: null,
      lost_orders: [
        "82935 02/03/20 David Scott 804732 watch body 1 new $3.00",
        "82929 01/23/20 Low Silecky ??????CANADA some black shirt 1 new $3.00",
        "82917 12/23/19 JL Chen 32995 223759604118 SEKONDA watch w/o acc 1 used $3.00 (возможно возврат Номер заказа 18076410)",
        "82918 01/03/20 andre szardenings 52150DE MIR russian photo zoom in case 3 new $3.00 (Возврат чекаут)",
        "82914 12/20/19 Lary David 42136 DEWIT watch in box 4 new $5.00",
        "82911 12/02/19 gagik umroyan 14406GB russian badge return 1 new $3.00",
        "82908 11/15/19 Darkplace Manufacturing LLC 30480 Lot of music sequencers w acc 17 new $10.00",
        "82903 11/11/19 dimastech USA 87586 lot of 2 some bottels with some liquid+some plastic device 7 new $5.00",
        "82904 11/11/19 Chandler Limited 6004709 some music device 32 new $20.00",
        "82900 10/31/19 MB TETMA 49978LT lot of2 jeanses 3 new $3.00",
        "82899 10/31/19 fiver olars 30760 some metal device 1 new $3.00",
        "82898 10/26/19 emma Barski 12592 return pendant 1 new $3.00",
        "82893 10/22/19 Joe Carter 54560 watch returner w/o box 3 new $3.00",
        "82891 10/15/19 Parcel returned from RUSSIA EQ081676880US GRACE music device 23 new $20.00",
        "82887 10/09/19 Chandler Limited 15182 amplifier mixer 22 new $20.00",
        "82886 10/08/19 Cocktail Kihgdom 32423 Lot of cocktail equipment 20 new $10.00",
        "82885 10/03/19 brown 87327 leather bag 3 new $3.00",
        "82884 09/27/19 modernist pantry 109822 BOOKER AND DUST device for Andrii Bezkorovianyl 22 new $20.00",
        "82882 08/25/19 Espresso parts 49047 Lot of cafe equipments for Andrii Bezkorovianyi 22 new $20.00",
        "82883 09/25/19 Espresso parts 49952 Lot of cafe equipments for Andrii Bezkorovianyi 12 new $10.00",
        "82879 09/23/19 Crustal devito 55475 lot of 2 some bijuteria 1 new $3.00",
        "82880 09/23/19 Parcel returned from Crystal Cohen 901425UA Classic Buckle Watchband 1 new $3.00",
        "82877 09/12/19 Ray Birt 80654 1494830083 Mamamastrer baby equipment 1 new $3.00",
        "82875 09/11/19 Yufei Larsen 36358 red handle bag 2 new $3.00",
        "82876 09/11/19 Parcel returned 93476 arch 14 new $10.00",
        "82873 08/29/19 Paula Collins 49949 some cloth 1 new $3.00",
        "82869 08/24/19 Net a poter ??????? 3 pack candle box 4 new $5.00",
        "82870 08/24/19 Butique amps distribution 798974 music amplifier 51 new $25.00",
        "82871 08/24/19 Butique amps distribution 78930 music amplifier 41 new $20.00",
        "82872 08/24/19 Butique amps distribution 79591 music amplifier 52 new $25.00",
        "82864 08/21/19 Ireen Qures 908069CA CHANEL white tee 2 new $3.00",
        "82865 08/21/19 Marianna Banks 50840 GERMIX XDQ504 device 5 new $5.00",
        "82861 08/19/19 Kaithin Galbraitz 305947 return Best 30(1) bijuteria 1 new $3.00",
        "82858 08/16/19 Christian Weber 67376 some figurine 17 new $10.00",
        "82854 08/14/19 Sheena Cantan 61321 phone case 1 new $3.00",
        "82851 08/12/19 mr sharon oren 19466 OMEGA watch in wooden box 2 new $3.00",
        "82829 07/30/19 wave distro LLC 51542 some music device 17 new $10.00",
        "82828 07/29/19 Parcel returned from RUSSIA UA429395141US Training handcuffs 2 new $3.00",
        "82826 07/26/19 Amazon 42000 HDMI converter 1 new $3.00",
        "82823 07/23/19 M1 Distribution 91285 HG-2 Music Generator 24 new $20.00",
        "82820 07/18/19 Daniel Vaccarecci 6005556IT GUCCI phone case 1 new $3.00 (возможно возврат по заказу 14840185)",
        "82818 07/17/19 warm audio LLC 46659 Lot of 3 WA-47 microphones in boxes 39 new $20.00",
        "82819 07/17/19 warm audio LLC 46660 Lot of diff microphones 23 new $20.00",
        "82811 07/13/19 Robin Clay 49609 some wooden board 8 new 5",
        "82812 07/13/19 Warm auto LLC 46670 WARM aplifier 26 new 20",
        "82813 07/13/19 Warm auto LLC 46648 Lot of 2 WA 87 microphones 37 new 20",
        "82802 07/09/19 Tien Pham 309475 OMEGA+ROLEX+ROLEX watches in wooden boxes 4 used 5",
        "82800 07/08/19 Karen Pandal 83336 Some red pets mat 5 new $5.00 (возврат по заказу 14276763)",
        "82801 07/09/19 ashford 40893 DIOR watch in box 4 new $5.00",
        "82799 07/06/19 marlou souhartsnt 306531 original of watches but b ORIENT watch w.o acc 1 new 3",
        "82793 06/27/19 sam Halnour 85005 OMEGA watch in wooden box 2 used 3",
        "82790 06/25/19 Alexey Pupkov 51800FJ Lot of 3 pins 1 new 3",
        "82785 06/20/19 ????? philippines 576871PH IPHONE iPAD usb cable 1 new 3",
        "82780 06/17/19 ?????Philippines 77969PH Cleaning sponge 1 new 3",
        "82781 06/17/19 Sandra Biancaniello 30708 1468853711 laptop desk 2 new 3",
        "82774 06/14/19 USAM 80019 stickers 1 new 3",
        "82775 06/14/19 USAM 51800JF weeks pills boxes 1 new 3",
        "82773 06/13/19 Jos Gibe Rtoni 11053 RECORD WATCH rare watch w strap 1 used 3",
        "82767 06/12/19 percue 353847PH H0557 devise 1 new 3",
        "82768 06/12/19 Omer Elrayah 74385 GUCCI phone case 1 new 3 (возможно возврат по заказу 13643520 )",
        "82770 06/12/19 Madeleine Buiseret 78767 Leather valet 1 new 3",
        "82764 06/11/19 zamaniego Eheyga 15868 Lot of 3 diff talismans 1 new 3",
        "82766 06/11/19 Sky Zone LLC 29213 leather bag 4 new 5",
        "82760 06/08/19 Chantelle Hampphreeps 27563 LV phone case 1 new 3",
        "82751 06/06/19 Parcel 82717 divide ????? ROOKIE smart jump rope 2 new 3",
        "82752 06/06/19 Parcel 82606 divided ????? Leather valet 1 new 3",
        "82748 06/05/19 USAM 51800FY Tattoo patch 1 new 3",
        "82749 06/05/19 USAM 51800G3 some utensil case 1 new 3",
        "82750 06/05/19 Lavonne Primbch 79920 253835436152 scissors 1 used 3 (возможно возврат по заказу 14718591)",
        "82734 06/03/19 ????? china 12515 pendant 1 new 3",
        "82736 06/03/19 ????? UK 65029GB iPHONE case 1 new 3",
        "82737 06/03/19 Yonghao 30427CN fake flower 1 new 3",
        "82741 06/03/19 Larry David 46205 DEWIT watch in box 4 new 5",
        "82729 05/31/19 Heater Treweek 38543 Lot of 2 packs of suspenders 1 new 3",
        "82721 05/30/19 Damir Tursumbayev 10147 253831839770 HETZER SOLINGEN 1 new 3 (возможно возврат по заказу 14833744)",
        "82723 05/30/19 Ashley 99148 crossbody bag 2 used 3",
        "82718 05/29/19 Kathy-Lynn Greig 58943CA smart phone case 1 new 3",
        "82720 05/29/19 365cycles.com 30485 bike seat 2 new 3",
        "82712 05/28/19 Camelia Florescu 64285AU playing card 1 used 3",
        "82717 05/29/19 AppLE 48232 EMBER temperature control mug+ROOKIE smart jump rope 5 new 5",
        "82707 05/24/19 J.Lemons Events llc 97144 Lot of some small pieces of сloth 6 new 5",
        "82696 05/21/19 Revozport 505562HK ALVARAE carbon shoe horn in case 6 new 5",
        "82684 05/20/19 Azadeh Hamacher 23981DE GUCCI phone case 1 new 3 (возврат по заказу 13975032 )",
        "82687 05/20/19 Thomas Mulhall 209669 car model 2 new 3 (возврат номер заказ 665342)",
        "82683 05/17/19 Emil Israilov 20004800KG IPHONE 7+ phone w case w/o acc 2 new 3",
        "82656 05/08/19 ????? 985159FR phone case 1 new 3",
        "82651 05/07/19 Alex Lysov 71278 254110778625 HETZER SOLINGEN 1 new 3 (возврат по заказу 14418327)",
        "82629 05/03/19 Danburg management cor 68096 toys 1 new 3",
        "82633 05/03/19 EcoWalnut Shop Alex Ivanov 90306 Lot of some wooden comp boards 65 new 25",
        "82618 04/30/19 RJE INTERNATIONAL INC 14329 Diver navigation board+diver swim board w compas&carryng bag 6 new 5",
        "82591 04/23/19 kmart 70798 EVERLAST sneakers 4 new 5",
        "82595 04/24/19 EccoWalnut shop alex ivanov 75508UA Lot of wooden iphonnes plates 75 new 25",
        "82588 04/23/19 Joseph Griffith 81632 Lot of 2 CISCO QSFP-40G-LR4 devices 1 new 3",
        "82586 43577 EcoWalnut Shop Alex Ivanov cp060755936UA Lot of wooden iphonnes plates 70 new 25",
        "82561 04/15/19 BNW 91662 VSSL the slim 1 new",
        "82565 04/15/19 fulfilment Center 30424 muzics amplifier 13 new",
        "82566 04/15/19 fulfilment Center 93413 muzics amplifier 13 new",
        "82567 04/15/19 fulfilment Center 16604 muzics amplifier 13 new",
        "82568 04/15/19 fulfilment Center 11632 keyboard 30 new",
        "82569 04/15/19 fulfilment Center 31363 keyboard 30 new",
        "82570 04/15/19 fulfilment Center 507378 keyboard 30 new",
        "82571 04/15/19 fulfilment Center 5996 keyboard 30 new",
        "82572 04/15/19 fulfilment Center 607582 key board 30 new",
        "82560 13-Apr-19 Yevgeny Lotlyar 75089 254167570719 Lot of 6SOLINGEN nail tools 1 new $3.00",
        "82558 12-Apr-19 Hazelriggindusters LLC 13366 D.W. Fearn microphone preamplifiers 19 used $10.00",
        "82554 11-Apr-19 Andrew Monaco 60262 GUCCI phone case 1 new $3.00 (возможно возврат по заказу 13029600)",
        "82539 6-Apr-19 Shop jane iredale 24449 Jane Iredale cosmetics 1 new $3.00",
        "82532 4-Apr-19 Ayrat safine 39044 some rare watch w strap 1 new $3.00",
        "82533 4-Apr-19 Grand Khanbailov 39772 OMEGA watch in wood box 2 new $3.00",
        "82514 27-Mar-19 Ruggeno Rinaldin 90781IT phone case 1 new $3.00",
        "82513 26-Mar-19 S Baker 27574GB OMEGA watches 2 new $3.00",
        "82501 23-Mar-19 Barbara Dahlke 17866 smart phone case 1 new $3.00",
        "82502 23-Mar-19 Aleksander GleYzer 40352 1222812380485 D&G underwear 1 new $3.00",
        "82490 22-Mar-19 Daniel Polocoser 80836 253835436152 HETZER scissors 1 new $3.00 (Возврат Номер заказа 13658206)",
        "82493 22-Mar-19 P.Taylor 907752GB bride dress 2 new $3.00",
        "82495 22-Mar-19 Accuprint Pack N ship 91290 some wooden device 12 used $10.00",
        "82497 22-Mar-19 Quantum Technologies 89948 Lot of 2 HEAR BACK personal monitor mixer 5 new $5.00",
        "82498 22-Mar-19 Quantum Technologies 55528 HEAR 8 chanel music mixer 21 new $20.00",
        "82499 22-Mar-19 Sequental LLC 95198 PROPHET kea board 13 new $10.00",
        "82500 22-Mar-19 Sequental LLC 22789 key board 30 new $20.00",
        "82483 21-Mar-19 Jeffrey Height 173800264034 19267 HAAS NEVEUX watch in box 1 used $3.00 (Возврат Номер заказа 13450206)",
        "82463 15-Mar-19 Sophia Landers 84009 Lot of some toys 1 new $3.00",
        "82466 15-Mar-19 Christy Braham 25362 some leather bag 3 new $3.00 (возврат по заказу 13182934)",
        "82450 11-Mar-19 Steve 901120 EQP-WA tube equalizer 14 new $10.00",
        "82443 8-Mar-19 ?????? MSLA 59804 some leather bag 3 new $3.00 (Возврат Номер заказа: 13083921 )",
        "82435 7-Mar-19 Bruce Yuang 66296 WA73 WARM audio design box 13 new $10.00",
        "82436 7-Mar-19 Bruce Yuang 41392 Lot of 3 WA76 music devices 39 new $20.00",
        "82437 7-Mar-19 Bruce Yuang 40661 Lot of 4 microphones 23 new $20.00",
        "82438 7-Mar-19 Bruce Yuang 41370 Lot of 3 WA76 music devices 39 new $20.00",
        "82423 4-Mar-19 Audio Equip 52111 some music cable 1 new $3.00",
        "82420 2-Mar-19 funt 89756 some refund of scissors 1 new $3.00",
        "82421 2-Mar-19 amazon 86000 some cable 1 new $3.00",
        "82418 28-Feb-19 Kenneth Burgess 93747 TR ID 09u88929ee2459314 AA-170 anthenna Analyzer 4 used $5.00",
        "82414 27-Feb-19 Records CDS And Such-online music 69979 SOULVILLE THE BEN WEBSTER cd 1 new $3.00",
        "82405 24-Feb-19 KONI 86610 Lot of 2 FH09030-0 1 new $3.00",
        "82400 22-Feb-19 Shaine Cline 11775 some flower in box 1 new $3.00 (Возврат Номер заказа: 12720599 )",
        "82394 19-Feb-19 Jacob Provencher 96187 some wooden box empty 4 used $5.00",
        "82395 19-Feb-19 Amndres Harnison 33168 ROLEX watch +2 more watch straps in wooden box 2 new $3.00",
        "82368 11-Feb-19 Parcel returned 99593 marker 1 new $3.00",
        "82367 9-Feb-19 Amazon 700000 Lot of 2 RB951 series devices 2 new $3.00",
        "82362 7-Feb-19 Marcus Badia 97705 183623905240 OMEGA watch 2 new $3.00 (Возврат Номер заказа 12840150 )",
        "82357 6-Feb-19 EduardRouge 906875 LONGINES watch w broken glass 1 new $3.00",
        "82360 6-Feb-19 Claudia Phoenix 18523 amlifier 10 used $5.00",
        "82353 2-Feb-19 Kristyn Tankersley 92466 Some black wom bag 2 used $3.00",
        "82321 18-Jan-19 Janice Reynolds 83049 some white filter 5 new $5.00",
        "82322 18-Jan-19 plaza Kungu 25 70442 Lot of 2 MYTHERESA paants 5 new $5.00",
        "82310 17-Jan-19 Shane Casias 37553 some rare pendant 1 new $3.00 (Возврат Номер заказа 12333007)",
        "82304 15-Jan-19 chandler limited 52986 microphone 23 new $20.00",
        "82291 11-Jan-19 charlotte Penenberg 72541 some rug 9 new $5.00 (Возврат? Номер заказа: 12203366)",
        "82292 11-Jan-19 online camera system 608321 153170102716 Lot of 10 CISCO electronics devices 23 new $20.00",
        "82289 10-Jan-20 Tony Huang 96157 Lot of 16 boxes of cosmetic equipment 120 new $50.00",
        "82270 4-Jan-19 Parcel returned eq081565597us Lot of 2 whiskey kits 5 new $5.00 (Возврат Номер заказа: 12072266 )",
        "82279 7-Jan-19 Lindell 30635 some metal part 2 new $3.00",
        "82261 31-Dec-18 wn shipping USA 94887 some zipper jacket white 1 new $3.00",
        "82259 29-Dec-18 Mark Leahey 32633 speaker 12 new $10.00",
        "82244 26-Dec-18 Abdul rahiman 81632 VACHERON&CONSTANTIN watch w/o acc 1 used $3.00",
        "82245 26-Dec-18 Mariena Friebe 94589DE Wom white top 1 new $3.00",
        "82246 26-Dec-18 Steven Brennan 906188 173593544413 LONGINES rare watch in wooden box 2 used $3.00 (возможно возврат Номер заказа 11535731)",
        "82240 24-Dec-18 Lawrence Carrero 30697 some valet 1 new $3.00",
        "82238 22-Dec-18 Parcel returned cm289039368us KII device 56 new $25.00",
        "82227 20-Dec-18 Kelly Tea 24987 ROLEX watch in wooden box 2 used $3.00",
        "82215 19-Dec-18 G Wilson 76129GB INTERNATIONAL WATCH watch w/o orig box 1 used $3.00",
        "82211 18-Dec-18 Lyudmila Gubenko 45951 HETZER cutter 1 new 3",
        "82201 13-Dec-18 Server supply com inc 93671 Lot of 2 server equipments 20 new $10.00",
        "82187 12-Dec-18 Catherine Brait 13360 some filter 4 new $5.00",
        "82183 11-Dec-18 Haydn Davis 54510 disabled stick 2 new $3.00",
        "82167 10-Dec-18 Pavel Popov 57109SE Lot of 3 some parts 4 used $5.00",
        "82174 10-Dec-18 United music LLC 59358 H9000 music processor device 20 new $10.00",
        "82156 7-Dec-18 Pavel Popov 57306SE Lot of 3 some parts 4 used $5.00",
        "82150 6-Dec-18 Brunei Surgical Inc 709220 Lot of beauty equipment 34 new $20.00",
        "82132 4-Dec-18 Kordsh Marshedizaden 203219 JAEGER LECOULTRE watch w/o acc 1 used $3.00 (возможно возврат Номер заказа 11659426)",
        "82136 4-Dec-18 Kimberly Nicol 44869 poster 1 used $3.00",
        "82124 3-Dec-18 ??? ORPINGON UK 307548GB GUCCI phone case 1 new $3.00",
        "82126 3-Dec-18 Julian Hallai 27739 173561144982 OMEGA BRAUSWELLER JANOS SZEGEDEN watch in wooden box ,watch is working 1 used $3.00 (возможно возврат по заказу 11324855)",
        "82128 3-Dec-18 Sai Luxe 54349 CLINIQUE set 2 new $3.00",
        "82108 27-Nov-18 Korosh morshedizadeh 39757 LONGINES watch w strap in wooden box BROKEN GLASS 1 new $3.00 (возможно возврат по заказу 11633315)",
        "82101 25-Nov-18 Morris Licciardello 97289 153194505658 AUDIENT device for evgeniy shimanskiy 3 new $3.00",
        "82102 25-Nov-18 Chen Hu 96425 253983180223 Lot of APPLE MCBOOK parts 10 used $5.00",
        "82100 24-Nov-18 Amazon 13000 Lot of 2 QNAP transcoders 13 new $10.00",
        "82090 24-Nov-18 Andrea A Ruzzine 84130 some cosmetic bag 1 used $3.00",
        "82091 24-Nov-18 Margaret Maahs 76685 NIKE sneakers 2 new $3.00",
        "82078 21-Nov-18 Elena Gribtcova 601211 253596474846 Lot of 4 tweezers 1 new $3.00 (возможно возврат по заказу 11716131)",
        "82070 20-Nov-18 Amazon 77362 headphones parts 1 new $3.00",
        "82073 20-Nov-18 ?????? CITY OF INDUSTRY USA 62770 microscope 2 new $3.00",
        "82075 20-Nov-18 Amazon 15359 DELL laptop w charger 7 used $5.00",
        "82064 19-Nov-18 ????? HENDERSON NV USA 38183 blue uv 1 new $3.00",
        "82066 19-Nov-18 Global sportwear 65636 ULTRA CLUB tee 1 new $3.00",
        "82053 15-Nov-18 wing lee 82682 Lot of some stickers 1 new $3.00",
        "82018 8-Nov-18 Marianne Kuhn 25339 192685042588 OMEGA watch w/o acc 1 used $3.00 (возможно возврат по заказу 11492904)",
        "81991 1-Nov-18 Karen Mcdanahan 93743 KINZA wom top 2 new $3.00",
        "81982 30-Oct-18 Yiming XU 98028 173561200569 LONGINES watch w strap+box 2 used $3.00 (возможно возврат по заказу 11313967)",
        "81975 27-Oct-18 Evheshkin Stanislav 83609RU Lot of 8 ID14 usb audio interface 35 new $20.00",
        "81964 22-Oct-18 Lap Data systems 79496 ZENITH watch w/o acc 1 used $3.00",
        "81951 17-Oct-18 aramex 18121 Lot of 6 watches w straps w/o boxes 3 new $3.00",
        "81946 15-Oct-18 Brunei Surgical Inc 85023 Lot of cosmetics equipment 23 new $20.00",
        "81937 13-Oct-18 Amazon 51000 RAIN PONCHO raincoat 1 new $3.00",
        "81930 12-Oct-18 aramex 53706 Lot of 6 watches w straps w/o boxes 2 used $3.00",
        "81876 3-Oct-18 DAVE SMITH ????? San Francisco CA USA Lot of 4 some electronics knobs 1 used $3.00",
        "81880 3-Oct-18 ooma freight outdirect office 39879 OOMA office device 3 new $3.00",
        "81872 2-Oct-18 Upsky Network solutions 16716 Lot of telephones 12 used $10.00",
        "81873 2-Oct-18 Sequential LLC 78591 OB-6 music processor 15 new $10.00",
        "81874 2-Oct-18 Velox Shipping 402752 WA73 +WA73EQ devices 35 new $20.00",
        "81875 2-Oct-18 Velox Shipping 403299 WA2A + lot of 2 WA76 devices 71 new $25.00",
        "81847 28-Sep-18 Camen Cabral 56805 smart phone case 1 new $3.00",
        "81848 28-Sep-18 Richard Rococi 85266 some skull figurine 2 used $3.00",
        "81853 28-Sep-18 rode microphone 25613 Lot of 4 APHEX CHANEL processor 70 new $25.00",
        "81834 25-Sep-18 UAB Sparrows songs 94286LV RME studio set 45 new $20.00",
        "81827 24-Sep-18 Bryan Eyring 38019 watch mechanizm 1 used $3.00",
        "81823 22-Sep-18 Yenvi Tran 56664 ROLEX watch in non orig box 1 used $3.00",
        "81822 21-Sep-18 6 Piano 26080 Lot of 2 watch mechanizms 1 used $3.00",
        "81816 19-Sep-18 sultitaja talrunis LATVIA EA003218660LV Audient studio SET 58 new $25.0",
        "81815 18-Sep-18 Evneshkin Stamisla 83586RU music keyboard 42 used $20.00",
        "81809 17-Sep-18 Esperanza Fielding 98708 253831839770 manicure cutter return 1 new $3.00",
        "81810 17-Sep-18 aramex 59883 Lot of 6 watches w straps w/o boxes 3 new $3.00",
        "81812 17-Sep-18 parcel return CM289042676US CM289042676US lot of 2 books 4 used $5.00",
        "81804 14-Oct-18 DAVE SMITH ????? San Francisco CA USA Lot of 2 resistors 1 new $3.00",
        "81802 13-Oct-18 Yenphan Ord 134172751 watchband in box 1 new $3.00",
        "81797 12-Sep-18 Amazon 95000 ord 55459 Lot of aluminum foil pans 2 new $3.00",
        "81791 10-Sep-18 Milos Antic 66261 VACHERON CONSTANTIN watch w/o acc 1 used $3.00",
        "81792 10-Sep-18 customer service C/O Norsk 87002 Lot of soft toys 3 used $3.00",
        "81793 10-Sep-18 ???????? 904053 switch 16 used $10.00",
        "81783 7-Sep-18 ?????????? ELEKTON MD USA 32144 Leather laptop cover 1 used $3.00",
        "81784 7-Sep-18 Kimmat Nguyen 21405 Watch w 2 straps 2 used $3.00",
        "81785 7-Sep-18 Stacy Ranta 48557 some el board 1 used $3.00",
        "81773 6-Sep-18 Olga Batuyeva 59201 Lot of 5 HETZER manicure equipment 1 new $3.00",
        "81778 6-Sep-18 Amazon 96695 some anthena 6 new $5.00",
        "81779 6-Sep-18 Amazon 96413 some anthena 6 new $5.00",
        "81768 5-Sep-18 Sakvalidze 80644RU watch w strap w/o acc 1 new $3.00",
        "81770 5-Sep-18 Complete computer solutions 301573 CISCO switch 51 used $25.00",
        "81765 4-Sep-18 Christopher Montes 42663 97050 Some el board 1 used $3.00",
        "81760 1-Sep-18 ?????? SEATLE USA 204202 some el box 1 new $3.00",
        "81756 30-Aug-18 Ombligo 223101581729 DELL server 65 used $25.00",
        "81748 28-Aug-18 Padams UK 83202GB OMEGA watch in wood box w/ acc 2 used $3.00",
        "81742 27-Aug-18 Kartech LLC 65109 pcomp power cable 1 new $3.00",
        "81747 27-Aug-18 Binrong Huang 14059CN t of ei boards 5 new $5.00",
        "81738 25-Aug-18 Jeremy Mcclellan 14220 OMEGA watch in wood box 2 new $3.00",
        "81740 25-Aug-18 Dan Mcgeehan 96094 el board 1 used $3.00",
        "81732 24-Aug-18 Alex Korchevsky 33531US return Lot of 3 боевого красного знамени medals 1 used $3.00",
        "81737 24-Aug-18 Brunei Surgical Inc 31511 Lot of manicure equipment 70 new $25.00",
        "81728 23-Aug-18 olga yatsenko 48818 253651181300 Lot of 4 HETZER scissors 1 new $3.00 (10547444 возможно возврат)",
        "81729 23-Aug-18 olga yatsenko 903794 manicure kit 1 new $3.00 (10547444 возможно возврат)",
        "81727 22-Aug-18 Vincent Corona 41961 OMEGA watch 1 used $3.00",
        "81701 16-Aug-18 Ivan Harayan 109049 ULYSSE NARDIN watch w/o acc 1 used $3.00 (Возврат по чекауту)",
        "81693 14-Aug-18 Puget sound foursquare s/o chad isenhaf 173367318408 JUVENIA watch w strap w/o acc 1 used $3.00",
        "81694 14-Aug-18 Jason Hastings 77781 return HJ492907069US LONGINES watch w strap 1 used $3.00",
        "81686 11-Aug-18 ?????????CENTERRNIAL CO USA 702133 Lot of knifes 2 new $3.00",
        "81684 10-Aug-18 HDEtron.com 86578 LOGITECH comp mouse 1 new $3.00",
        "81685 10-Aug-18 Sahak Yaghoyan 1014 manicure equipment 14 new $10.00",
        "81679 9-Aug-18 DAVE SMITH 60718 music keyboard 36 new $20.00",
        "81680 9-Aug-18 DAVE SMITH 91296 music keyboard 36 new $20.00",
        "81681 9-Aug-18 DAVE SMITH 37905 music keyboard 36 new $20.00",
        "81682 9-Aug-18 DAVE SMITH 63721 music keyboard 36 new $20.00",
        "81673 7-Aug-18 CS MK3 ryrdenko michail 18700 58268 Loi of 6 watches w/o acc 3 new $3.00",
        "81625 27-Jul-18 Bruce Tirado 93380 OMEGA watch w/o acc 1 new $3.00",
        "81617 25-Jul-18 Gabriella Rose Reinhart 61859 LV phone case 1 new $3.00",
        "81618 25-Jul-18 Tracy Botten 22638 CHANEL tee 1 new $3.00 (Возврат заказа 9475823 )",
        "81614 24-Jul-18 UAB Sparrows sons EA003102304LV Fane RME SET 51 new $25.00",
        "81612 23-Jul-18 aramex 57448 Lot of 6 watches w/o acc 2 new $3.00",
        "81590 17-Jul-18 Fullfillment Center 79683 PROPHET synthesizer 13 new $10.00",
        "81591 17-Jul-18 Fullfillment Center 92705 music keyboard 29 new $20.00",
        "81592 17-Jul-18 Fullfillment Center 31511 music keyboard 29 new $20.00",
        "81593 17-Jul-18 Fullfillment Center 50090 music keyboard 29 new $20.00",
        "81585 16-Jul-18 Anastasia Khilkevich 87455 dress+ sveater 1 used $3.00 (Возврат 9743126)",
        "81581 13-Jul-18 Alexandr Obolonskiy 203266 Lot of backpacks 24 new $20.00",
        "81576 12-Jul-18 bonnie Born Riback ????? ANN ARBOR MI USA 86J683068J412733D scarf 1 new $3.00 (Возврат 9670315)",
        "81574 11-Jul-18 Gateway shopping center 15115 some plastic parts 12 new $10.00",
        "81575 11-Jul-18 Vards Uzvards Latvia EA003075983LV RME studio set 60 new $25.00",
        "81564 9-Jul-18 Adam Wicker 42590 OMEGA watch in box 2 used $3.00",
        "81565 9-Jul-18 Aramex Ridenko michail 904882 Lot of 6 watches w/o acc 2 used $3.00",
        "81549 3-Jul-18 Brunei Surgial industry 66153 lot of manicure equpments 27 new $20.00",
        "81533 2-Jul-18 Chris Bender 76368 143354990407 Jger LECOULTRE watch w band 1 used $3.00",
        "81534 2-Jul-18 ?????? 67031GB OLYMPUS photo camera 1 used $3.00",
      ],
    };
  },
  computed: {
    filtered_orders() {
      if (!this.query || !this.query.length) return this.lost_orders;
      else {
        return this.lost_orders.filter((o) => o.toLowerCase().indexOf(this.query.toLowerCase()) >= 0);
      }
    },
  },
};
</script>
