<template>
  <q-page>
    <!-- <with-loading :state="loading" /> -->

    <slot name="before" />

    <div class="page q-pb-xl">
      <div
        ref="page-title"
        class="page__head q-py-xl"
        v-if="title || caption"
        :style="!!$slots['before'] && 'padding-top:0px;'"
      >
        <div :class="fluid ? 'container-fluid' : 'container'">
          <div
            class="flex-center-between"
            :class="
              $q.screen.sm || $q.screen.xs ? 'column text-center' : 'no-wrap'
            "
          >
            <div class="page__title ">
              <div
                class="flex items-start no-wrap"
                :class="[
                  ($q.screen.xs || $q.screen.sm) && 'column items-center',
                ]"
              >
                <app-btn
                  v-if="withBack"
                  round
                  flat
                  color="accent"
                  icon="arrow_back"
                  @click="handleBackClick"
                  class="q-mr-md"
                  size="17px"
                  style="margin-top:13px"
                />

                <q-skeleton
                  height="38px"
                  class="q-pt-xs q-my-lg"
                  style="min-width:420px"
                  width="140px"
                  v-if="loading"
                ></q-skeleton>
                <h2 v-else class="q-pt-xs font-ubuntu text-grey-8">
                  {{ title }}
                </h2>
              </div>

              <p
                v-if="caption"
                class="text-muted ellipsis-3-lines"
                :class="[
                  withBack && 'caption--with-back',
                  ($q.screen.xs || $q.screen.sm) && 'full-width',
                ]"
              >
                {{ caption }}
              </p>
            </div>
            <div class="q-ml-md">
              <slot name="actions" />
            </div>
          </div>
        </div>
      </div>

      <q-inner-loading
        transition-show="jump-down"
        transition-hide="jump-up"
        :showing="loading"
        class="z-top"
      >
        <div class="flex items-center q-gutter-x-sm">
          <q-spinner-ios size="22px" color="grey-8" />

          <small class="text-grey">
            <!-- {{ $tt("common.loading", 1) }} -->
            Загрузка
          </small>
        </div>
      </q-inner-loading>

      <slot />
    </div>
    <!-- <slot name="after" /> -->
  </q-page>
</template>

<script>
export default {
  props: {
    title: String,
    caption: String,
    type: String,
    withBack: [Boolean, String, Object],
    loading: [Boolean, String],
    fluid: [Boolean],
  },
  methods: {
    handleBackClick() {
      if (typeof this.withBack === "string") {
        this.$router.push(this.withBack);
      } else if (typeof this.withBack === "boolean") {
        this.$router.go(-1);
      } else {
        this.$router.push(this.withBack);
      }
    },
  },
};
</script>

<style lang="scss">
.page {
  .caption--with-back {
    padding-left: 70px;
  }

  &__head {
    position: relative;
  }

  &__title {
    position: relative;
    z-index: 2;

    h2 {
      line-height: 1;
      // font-weight: 400;
      font-family: "Fira", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
  }

  .back-btn {
    cursor: pointer;
    opacity: 0.7;
    color: $accent;
    margin-right: 14px;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
