<template>
  <div class="currency-table">
    <!-- :loading="loadingRates && 'Обновление информации'" -->

    <app-list
      :loading="loadingRates"
      :empty="(!currencyRates || !currencyRates) && 'Нет информации'"
      :caption="$tt('finances.one_usd_cost', 1)"
      :header="$tt('common.exchange_rates', 1)"
    >
      <q-item>
        <q-item-section> </q-item-section>
        <q-item-section>
          <q-item-label class="text-center font-500" caption>
            <small>
              {{ $tt("common.deposit", 1) }}
            </small>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center font-500" caption>
            <small>
              {{ $tt("common.withdrawal", 1) }}
            </small>
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-item v-for="c in currencyRates" :key="c.code">
        <q-item-section>
          <q-item-label>
            <div class="flex font-500 items-center no-wrap">
              <app-flag class="q-mr-xs" :country="c.code"></app-flag>
              {{ c.name }}
            </div>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center">
            {{ c.rate_in }}
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-center">
            {{ c.rate_out }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </app-list>
  </div>
</template>
<script>
// import EmojiHandler from "src/utils/emojiHandler";
// const EMOJI_HANDLER = new EmojiHandler();

export default {
  name: "CurrencyRatesSide",
  async mounted() {
    this.loadingRates = true;

    const rateResponse = await this.$store.dispatch("Finances/GET_CURRENCY_RATES");
    if (rateResponse && rateResponse.rates) {
      this.currencyRates = rateResponse.rates
        .filter((rate) => rate.code !== "USD")
        .map((rate) => ({
          // name: `${EMOJI_HANDLER.getFlagEmoji(rate.code.slice(0, 2))} ${rate.code}`,
          name: rate.code,
          rate_in: rate.in_rate,
          rate_out: rate.out_rate,
          code: rate.code.slice(0, 2),
        }))
        .sort(
          // make UAH the first currency in the list
          ({ name: a }, { name: b }) => (a === "UAH" ? -1 : b === "UAH" ? 1 : a.localeCompare(b))
        );
    }
    this.loadingRates = false;
  },
  data() {
    return {
      currencyRates: null,
      loadingRates: true,
    };
  },
  computed: {},
  methods: {},
};
</script>
<style lang="scss">
.currency-table {
  &__title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: bold;

    &::after {
      content: attr(data-text);
      position: absolute;
      margin-top: 24px;
      left: 16px;
      font-size: 12px;
      color: grey;
      font-weight: normal;
    }
  }
}
</style>
