<template>
  <PageContainer :title="$t('nav.bills.money_in.title')">
    <with-loading :state="loading" />
    <div class="refill">
      <div class="container">
        <div class="row q-col-gutter-lg" :class="$q.screen.xs && 'column'">
          <div class="col-3">
            <app-input
              v-model.number="amount"
              suffix="USD"
              size="xl"
              :dense="false"
              :label="$capitalize($tc('common.summ', 1))"
              ref="pay-amount"
            />
            <div class="q-mt-lg">
              <CurrencyRatesSide />
            </div>
          </div>

          <div class="col">
            <app-list
              :header="$tt('common.method', 1, 2)"
              v-if="methods && methods.length"
            >
              <q-item
                :class="[($q.screen.xs || $q.screen.sm) && 'column items-start']"
                v-for="(m, idx) in methods"
                class="q-py-lg"
                :key="idx"
              >
                <q-item-section avatar>
                  <q-img width="121px" :src="`data:image;base64,${m.image}`" contain />
                </q-item-section>
                <q-item-section :class="($q.screen.xs || $q.screen.sm) && 'q-my-md'">
                  <q-item-label>{{ m.title }}</q-item-label>
                </q-item-section>
                <q-item-section
                  :style="
                    ($q.screen.xs || $q.screen.sm) && 'padding-left:0;margin-bottom:14px'
                  "
                  side
                  class="relative-position"
                >
                  <app-btn
                    v-if="amount"
                    size="12px"
                    class="q-py-sm"
                    @click="selectMethod(m)"
                    color="blue-8"
                  >
                    <!-- :disable="!amount || amount === 0" -->
                    {{ $tt("common.pick", 1) }} {{ $tt("common.method") }}
                    <q-icon name="chevron_right"></q-icon>
                  </app-btn>
                  <div
                    style="height:44.86px;"
                    v-else
                    class="flex items-center text-negative font-500 fz-12"
                  >
                    {{ $tt("messages.pls_input", 0, 2) }}
                    {{ $tt("common.summ", 0, 2) }}
                  </div>
                </q-item-section>
              </q-item>
            </app-list>
            <!-- </q-card> -->
          </div>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import CurrencyRatesSide from "@/components/CurrencyRates/Side";

export default {
  components: {
    CurrencyRatesSide,
  },
  data() {
    return {
      methods: null,
      amount: null,
      loading: false,
    };
  },
  async created() {
    this.$store.dispatch("Finances/GET_BALANCE");
    await this.getMethods();

    this.amount = (this.$route.query && +this.$route.query.amount) || null;
  },
  mounted() {
    let r =
      this.$refs["pay-amount"] && this.$refs["pay-amount"].$el.querySelector("input");

    setTimeout(() => {
      r && r.focus();
    }, 0);
  },
  methods: {
    getMethods() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          const {
            data: { methods, amount },
          } = await this.$api.get(`/payments/pay_money`);

          this.methods = methods;
          this.amount = amount;
          done();
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data"),
          });
          fail();
        } finally {
          this.loading = false;
        }
      });
    },
    async selectMethod({ code: invoice_module, min_amount = null, max_amount = null }) {
      let { amount } = this;

      if (min_amount !== null && min_amount !== 0 && amount < min_amount) {
        this.$alert({
          title: `Сума поповнення не повинна бути меншою за ${this.$toUSD(min_amount)}`,
          level: "warning",
        });
        return;
      }

      if (max_amount !== null && max_amount !== 0 && amount > max_amount) {
        this.$alert({
          title: `Сума поповнення не повинна перевищувати ${this.$toUSD(max_amount)}`,

          level: "warning",
        });
        return;
      }

      try {
        this.loading = true;

        const { data: bill_info } = await this.$api.post(`/payments/pay_money`, {
          amount,
          invoice_module,
        });

        this.$router.push({
          name: "MONEY_IN_CHECKOUT",
          query: { amount, pay_module: invoice_module },
          params: {
            bill_info,
          },
        });
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
