<template>
  <q-dialog position="top" ref="claim-payment">
    <q-card style="width:490px">
      <q-card-section>
        <h5 class="q-ma-none">
          {{ $tt("pages.lost_payments.title") }}
        </h5>
      </q-card-section>
      <q-card-section>
        <app-input
          :error="$v.request.buyer_email.$anyError"
          v-model="request.buyer_email"
          class="q-mb-lg"
          :label="$tt('pages.lost_payments.customer_email')"
        >
        </app-input>
        <app-input v-model="request.transaction_number" class="q-mb-lg" :label="$tt('common.pp_num')"> </app-input>
        <app-input
          :error="$v.request.comment.$anyError"
          v-model="request.comment"
          rows="4"
          type="textarea"
          class="q-mb-md"
          :label="$tt('common.comment', 1)"
        >
        </app-input>
        <div>
          <div class="flex-center-between q-mb-md">
            <small class="block">
              {{ $tt("pages.lost_payments.attach_info") }}
            </small>
            <div style="flex-shrink:0" class="q-ml-lg">
              <input @change="handleFile" ref="file-holder" type="file" hidden />
              <app-btn @click="$refs['file-holder'].click()" color="accent" size="12px" icon="attachment" v-if="!file">
                &nbsp;&nbsp;&nbsp;{{ $tt("common.attach") }} {{ $tt("common.file") }}
              </app-btn>
            </div>
          </div>
          <div class="ellipsis">
            <small v-if="!file" class="text-grey-6 flex items-center no-wrap">
              <q-icon class="q-mr-sm" size="18px" name="description"></q-icon>
              {{ $tt("errors.not_specified", 1) }}
            </small>
            <div class="flex items-center no-wrap" v-else>
              <app-btn @click="file = null" class="q-mr-sm" dense round icon="close" flat color="negative"></app-btn>
              <q-icon class="q-mr-sm" size="18px" color="grey-7" name="description"></q-icon>
              <div  style="flex-shrink:1;flex-grow:0">
                <small>{{ file.name }}</small>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn flat color="negative" @click="hide">{{ $tt("common.cancel") }}</app-btn>
          <app-btn color="primary" @click="submitRequest">
            {{ $tt("pages.lost_payments.send_request") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  props: {
    payment: Object,
  },
  data() {
    return {
      file: null,
      request: {
        buyer_email: null,
        transaction_number: null,
        comment: null,
        filename: null,
      },
    };
  },
  methods: {
    show() {
      this.$refs["claim-payment"].show();
    },
    hide() {
      this.$refs["claim-payment"].hide();
    },
    handleFile(event) {
      let file = event.target && event.target.files && event.target.files[0];

      this.file = file;
      event.target.value = null;
    },
    async submitRequest() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });

        return;
      }

      this.$emit("ok", { ...(this.file && { file: this.file }), ...this.request });
      this.hide();
    },
  },
  validations() {
    return {
      request: {
        buyer_email: {
          required,
        },
        // transaction_number: { required },
        comment: { required },
      },
    };
  },
};
</script>
<style lang="scss"></style>
