<template>
  <PageContainer :loading="loading" :title="$tt('nav.sells.unidentified_payments.title')">
    <div class="container">
      <!-- :loading="loading" -->
      <div class="flex-center-between no-wrap q-mb-lg">
        <app-pagination v-model="human_page" :max="total_pages || 1" :disable="loading" />

        <app-select
          style="max-width:121px"
          class="full-width"
          :options="[10, 25, 50, 100]"
          :label="$tt('common.on_page')"
          v-model="pager.on_page"
        ></app-select>
      </div>

      <app-table-list>
        <template #thead>
          <tr>
            <th colspan="6">
              <div style="max-width:420px" class="q-py-md">
                <app-input v-model="query" :label="$tt('common.search', 1)"></app-input>
              </div>
            </th>
          </tr>
          <tr class="text-left">
            <th>ID</th>
            <th>
              {{ $tt("common.fio", 1) }}
            </th>
            <th>
              {{ $tt("common.product", 1) }}
            </th>
            <th>
              {{ $tt("common.title", 1) }}
            </th>
            <th class="text-right">{{ $tt("common.summ", 1) }}</th>
            <th></th>
          </tr>
        </template>
        <!-- <tbody v-if="payments && payments.length"> -->
        <tr v-for="(p, idx) in filtered_paymens" :key="idx">
          <td>
            {{ p.order_id }}
            <div>
              <small class="text-muted">от {{ $date(p.payment_date) }}</small>
            </div>
          </td>
          <td style="max-width:350px;white-space:normal">
            <div v-if="p.address_name && p.address_name.length">
              {{ p.address_name }}
            </div>
            <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
          </td>
          <td style="max-width:350px;white-space:normal">
            <div v-if="p.order_shop_id && p.order_shop_id.length">
              {{ p.order_shop_id }}
            </div>
            <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
          </td>
          <td style="max-width:350px;white-space:normal">
            <div v-if="p.order_shop_title && p.order_shop_title.length">
              {{ p.order_shop_title }}
            </div>
            <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
          </td>
          <td class="text-right text-subtitle2">
            {{ $toUSD(p.order_shop_price) }}
          </td>
          <td sticky>
            <app-btn @click="claimPayment(p)" size="10px" color="primary">
              {{ $tt("common.claim") }}
            </app-btn>
          </td>
        </tr>
        <!-- </tbody> -->
      </app-table-list>

      <div class="flex-center-between no-wrap q-mt-lg">
        <app-pagination v-model="human_page" :max="total_pages || 1" :disable="loading" />

        <app-select
          style="max-width:121px"
          class="full-width"
          :options="[10, 25, 50, 100]"
          :label="$tt('common.on_page')"
          v-model="pager.on_page"
        ></app-select>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  mounted() {
    this.getLostPayments();
  },
  data() {
    return {
      query: null,
      payments: null,
      loading: false,
      query: null,
      pager: { page: +this.$route.query.page || 1, on_page: +this.$route.query.on_page || 20 },
      total: null,
    };
  },
  watch: {
    "pager.on_page": {
      // immediate: true,
      handler(on_page) {
        this.$router.push({ name: this.$route.name, query: { on_page, page: 0 } });
        this.getLostPayments({ page: 0, on_page });
      },
    },
    "pager.page": {
      // immediate: true,
      handler(page) {
        this.$router.push({
          name: this.$route.name,
          query: { ...this.$route.query, page },
        });
        this.getLostPayments();
      },
    },
  },
  computed: {
    filtered_paymens() {
      if (this.query && this.query.length) {
        let finder = (field) => {
          return (
            (field &&
              field.toString() &&
              field
                .toString()
                .toLowerCase()
                .indexOf(this.query.toLowerCase()) >= 0) ||
            false
          );
        };

        return this.payments.filter((p) => {
          return (
            finder(p.order_id) ||
            finder(p.address_name) ||
            finder(p.order_shop_id) ||
            finder(p.order_shop_title)
          );
        });
      } else {
        return this.payments;
      }
    },
    total_pages() {
      return Math.ceil(this.total / this.pager.on_page);
    },
    human_page: {
      get() {
        return this.pager.page;
      },
      set(page) {
        this.pager.page = page;
      },
    },
  },
  methods: {
    async getLostPayments(params = {}) {
      this.loading = true;

      try {
        const {
          data: { lost_payments, total },
        } = await this.$api({
          url: `/orders/lost_payments`,
          params: {
            ...this.$route.query,
            ...this.pager,
            ...params,
          },
        });

        this.total = total;
        this.payments = lost_payments;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные о платежах" });
      } finally {
        this.loading = false;
      }
    },
    claimPayment(payment) {
      let ClaimDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./ClaimPayment.vue"),
          payment,
        })
        .onOk(async (data) => {
          let { file, ...request } = data;

          try {
            this.loading = true;

            await this.submitClaim({
              ...request,
              ...(file && { filename: await this.$store.dispatch(`Service/UPLOAD_FILE`, file) }),
              order_id: payment.order_id,
            });

            this.$alert({
              title: "Заявка на опознание платежа была успешно содзана",
              level: "success",
            });

            this.getLostPayments();
          } catch (e) {
            console.log(e);
            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            ClaimDialog.hide();

            this.loading = false;
          }
        });
    },
    async submitClaim(params) {
      return new Promise(async (done, fail) => {
        try {
          let { data } = await this.$api.put(`/orders/lost_payments`, params);

          done(data);
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
  },
};
</script>
