<template>
  <div class="q-pa-lg relative">
    <with-loading :state="loading" />

    <div class="q-mb-lg flex-center-between">
      <div style="font-size: 17px; margin:0; font-weight: 500">
        <!-- Документы, подтверждающие стоимость -->
        {{ $tt("pages.shipments.messages.invoice_title") }}
      </div>
      <app-btn icon="close" flat size="sm" @click="$modal.hide('invoices')" />
    </div>
    <div>
      <div v-if="files && files.length" class="q-mb-md">
        <app-list>
          <q-item v-for="(f, idx) in files" :key="f">
            <q-item-section>
              <q-item-label>{{ f }}</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <app-btn
                v-show="can_change_files"
                @click="removeFile(f, idx)"
                flat
                color="red"
                size="sm"
                icon="close"
              />
            </q-item-section>
          </q-item>
        </app-list>
      </div>

      <small class="text-grey-7" v-else>
        <!-- К данной посылке не прикреплено ни одного файла. -->
        {{ $tt("errors.nothing_to_display") }}
        <br />
        <br />
      </small>

      <div
        class="invoices__input q-mb-lg"
        @dragenter="handleDrag('enter', $event)"
        @dragleave="handleDrag('leave', $event)"
        @drop="handleDrag('drop', $event)"
      >
        <input
          multiple="true"
          @change="handleInvoiceUpload"
          id="invoice-files"
          type="file"
          :disabled="can_change_files"
        />
        <label
          for="invoice-files"
          class="invoices__input-prettier"
          :class="[!can_change_files && 'alert alert-warning']"
        >
          <div v-if="can_change_files">
            Нажмите, чтобы выбрать файлы, или перетащите их в эту область
            <small>Разрешены к загрузке: JPG, JPEG, PNG, PDF</small>
            <small>Максимальный размер файла: 1 МБ (не более 5 файлов)</small>
          </div>
          <div v-else>
            <!-- На текущем этапе доставки нельзя внести изменения -->
            {{ $tt("errors.bad_operation") }}
          </div>
        </label>
      </div>
    </div>
    <div>
      <app-btn
        class="full-width text-red"
        flat
        :label="$tt('common.close')"
        @click="$modal.hide('invoices')"
      />
    </div>
  </div>
</template>

<script>
// import CollapseHoc from "~common/components/CollapseHOC";

export default {
  props: {
    files: Array,
    id: Number,
    can_change_files: Boolean,
  },
  data() {
    return {
      loading: false,
      new_files: [],
    };
  },
  methods: {
    handleDrag(state, $event) {
      switch (state) {
        case "leave":
        case "drop":
          $event.target.parentElement.classList.remove("--files-over");
          break;
        case "enter":
          $event.target.parentElement.classList.add("--files-over");
          break;
        default:
          break;
      }
    },

    async removeFile(title, idx) {
      let c = await this.$confirm({
        title: `${this.$tt("common.delete", 1)} файл ?`,
        width: 420,
      });

      if (!c) return;

      this.loading = true;

      try {
        let {
          data: { success },
        } = await this.$api.delete(`/v2/shipping/parcels/${this.id}/files/${title}`);
        if (success) {
          this.files.splice(idx, 1);

          this.$message({
            level: "success",
            title: this.$tt("messages.changes_saved"),
          });
        }
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async handleInvoiceUpload(event) {
      let new_files = event.target.files;
      let files_array = Array.from(new_files);
      let accepted_formats = ["image/jpeg", "image/png", "application/pdf"];

      let valid_files_type = files_array.every((f) => {
        return accepted_formats.includes(f.type);
      });

      if (
        this.files.length >= 5 ||
        files_array.length > 5 ||
        this.files.length + files_array.length > 5
      ) {
        this.$alert({
          level: "warning",
          title: this.$tt("pages.shipments.messages.invoices_count_warning"),
        });
        return;
      }

      if (!valid_files_type) {
        this.$alert({
          level: "warning",
          title: this.$tt("pages.shipments.messages.invoice_format_warning"),
        });

        return;
      }

      try {
        this.loading = true;

        const uploadedFilenames = await this.attachFiles(new_files);

        if (uploadedFilenames && uploadedFilenames.length) {
          this.files.push(...uploadedFilenames);

          this.$message({
            level: "success",
            // title: uploadedFilenames.length > 1 ? "Файлы успешно загружены" : "Файл успешно загружены",
            title: this.$tt("messages.changes_saved"),
          });
        }
      } catch (e) {
        console.log("e:", e);
      } finally {
        this.loading = false;
      }
    },
    uploadFiles(files) {
      return new Promise(async (ok, fail) => {
        let stack = Array.from(files);

        let filenames = stack.map((f) => {
          let file = new FormData();
          file.append("file", f);

          return this.$api.post(`maintenance/upload`, file);
        });

        let uploaded = await Promise.allSettled(filenames);

        if (uploaded.some((req) => req.status === "rejected")) {
          // default alert for undefined server error
          let msg = this.$tt("errors.save_data");
          let level = "danger";

          // try to get error messages
          try {
            const error = uploaded
              .filter((req) => req.status === "rejected")
              .map((req) => req.reason.response.data.message)
              .filter((msg) => !!msg)[0];
            if (error) {
              msg = error;
              level = "warning";
            } else {
              level = "success";
              msg = this.$tt("messages.changes_saved");
            }
          } catch (e) {
            level = "danger";
            msg = this.$parseApiError(e, this.$tt("errors.save_data")).message;

            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });

            throw e;
          } finally {
            this.$alert({
              level: level,
              title: msg,
            });
            this.loading = false;
          }
        }

        filenames = uploaded.map((req) => req.value.data.filename);

        ok(filenames);
      });
    },
    attachFiles(files) {
      return new Promise(async (ok, fail) => {
        let filenames = await this.uploadFiles(files);

        let attachFiles = filenames.map((filename) => {
          return this.$api.post(`v2/shipping/parcels/${this.id}/files/${filename}`);
        });

        let attached = await Promise.allSettled(attachFiles);

        if (attached.some((req) => req.status === "rejected")) {
          this.$alert({
            level: "danger",
            title: this.$tt("errors.save_data"),
          });
          return;
        }

        ok(filenames);
      });
    },
    removeInvoice(idx) {
      this.new_files.splice(idx, 1);
    },
  },
};
</script>

<style lang="scss">
.invoices {
  @mixin dragActiveState() {
    color: rgb(50, 113, 207) !important;

    label {
      background-color: rgb(218, 233, 255) !important;
      border-color: rgb(218, 233, 255) !important;
    }

    * {
      color: rgb(50, 113, 207) !important;
    }
  }

  &__input {
    position: relative;

    input[type="file"] {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;

      &:hover + label {
        background-color: #f1f1f1;
      }

      &:disabled {
        cursor: not-allowed !important;
      }

      &:disabled + label {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed !important;
      }
    }

    &-prettier {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #f7f7f7;
      border-radius: 3px;
      border: 1px solid #ddd;
      height: 100px;
      width: 100%;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      color: #444;
      transition: background-color ease 0.21s;

      small {
        display: block;
        margin-top: 7px;
        color: #777;
      }
    }
  }

  .--files-over {
    @include dragActiveState;
  }
}
</style>
