<template>
  <q-dialog position="top" ref="manage-products">
    <q-card style="max-width:700px;width:100%" class="relative-position">
      <with-loading :state="loading" />
      <h5 class="q-px-md q-mt-md">
        <!-- Внесите информацию о товарах -->
        {{ $tt("messages.input_products_info") }}
      </h5>
      <!-- <q-card-section> -->
      <q-list
        class="q-mt-md"
        :header="$tt('common.products', 1)"
        :empty="(!products || !products.length) && $tt('errors.nothing_to_display')"
      >
        <q-item v-for="(prod, idx) in products" :key="prod.code_internal">
          <q-item-section side>
            <q-item-label class="text-subtitle2">
              {{ idx + 1 }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <app-input
                :error="$v.products.$each.$iter[idx].title.$anyError"
                v-model.trim="prod.title"
                :label="`${$tt('common.title', 1)}`"
              ></app-input>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <app-input
                :error="$v.products.$each.$iter[idx].title_customs_eng.$anyError"
                v-model.trim="prod.title_customs_eng"
                :label="`${$tt('common.title', 1)} (eng)`"
              ></app-input>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <app-input
                :error="$v.products.$each.$iter[idx].title_customs_ua.$anyError"
                v-model.trim="prod.title_customs_ua"
                :label="`${$tt('common.title', 1)} (укр.)`"
              ></app-input>
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label>
              <app-input
                type="number"
                :error="$v.products.$each.$iter[idx].quantity.$anyError"
                v-model.trim="prod.quantity"
                :label="$tt('common.count')"
              ></app-input>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <!-- </q-card-section> -->
      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="hide" flat color="negative">{{ $tt("common.cancel") }}</app-btn>
          <app-btn @click="submit" color="positive">
            {{ $tt("common.continue") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {
    items: Array,
  },
  mounted() {},
  created() {
    this.products = this.items;
  },
  data() {
    return {
      products: null,
      loading: false,
    };
  },
  methods: {
    show() {
      this.$refs["manage-products"].show();
    },
    hide() {
      this.$refs["manage-products"].hide();
    },
    async submit() {
      try {
        this.loading = true;

        await this.$api.put(`/warehouse/products`, [
          ...this.products.map(
            ({
              id: product_id,
              title_customs_eng: product_title_customs_eng,
              title_customs_ua: product_title_customs_ua,
            }) => ({
              product_id,
              product_title_customs_eng,
              product_title_customs_ua,
            })
          ),
        ]);

        this.$emit("ok");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      products: {
        $each: {
          title: { required },
          title_customs_eng: { required },
          title_customs_ua: { required },
          quantity: { required },
        },
      },
    };
  },
};
</script>
<style lang="scss"></style>
