<template>
  <div class="app-banner">
    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" appear>
      <q-banner
        v-show="visible"
        class="app-banner__container q-py-md"
        :class="[
          gradient
            ? [...getGradientClass()]
            : accent
            ? [...getAccentColors()]
            : [...getMutedColors()],
          rounded && 'rounded-borders',
        ]"
      >
        <div class="app-banner__body" :class="!title && 'items-center'">
          <div v-if="icon" v-show="!$q.screen.xs" class="app-banner__icon q-mr-md">
            <q-icon :size="iconSize || '32px'" :name="icon" />
          </div>
          <div class="app-banner__content full-width" :style="{ 'padding-right: 35px': close }">
            <div class="app-banner__title" v-if="title">
              {{ title }}
            </div>
            <div
              class="app-banner__text flex no-wrap"
              :style="bolder && 'font-weight:500;letter-spacing:-0.1px'"
            >
              <slot />
              <div v-if="close">
                <q-icon @click="visible = false" size="24px" name="close" />
              </div>
            </div>
          </div>
        </div>
      </q-banner>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    level: {
      type: String,
    },
    accent: Boolean,
    title: String,
    icon: String,
    iconSize: String,
    close: Boolean,
    rounded: {
      type: Boolean,
      default: true,
    },
    gradient: Boolean,
    bolder: Boolean,
  },
  data() {
    return {
      visible: true,
    };
  },
  methods: {
    getGradientClass() {
      switch (this.level) {
        case "success":
          return ["gradient-success", "text-white"];
        case "warning":
          return ["gradient-warning", "text-white"];
        case "info":
          return ["gradient-info", "text-white"];
        case "danger":
          return ["gradient-danger", "text-white"];
        case "dark":
          return ["gradient-dark", "text-white"];
        case "light":
          return ["gradient-light", "text-blue-grey-7", "shadow-2"];
        default:
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
      }
    },
    getAccentColors() {
      switch (this.level) {
        case "success":
          return ["bg-positive", "text-white"];
        case "warning":
          return ["bg-deep-orange-1", "text-red-8"];
        case "info":
          return ["bg-primary", "text-white"];
        case "danger":
          return ["bg-negative", "text-white"];
        case "dark":
          return ["bg-blue-grey-7", "text-white"];
        case "light":
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
        default:
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
      }
    },
    getMutedColors() {
      switch (this.level) {
        case "success":
          return ["bg-green-1", "text-green"];
        case "warning":
          return ["bg-amber-1", "text-brown-5"];
        case "info":
          return ["bg-blue-1", "text-blue-8"];
        case "danger":
          return ["bg-red-1", "text-red-9"];
        case "dark":
          return ["bg-grey-3", "text-grey-9", "shadow-2"];
        case "light":
          return ["bg-white", "text-grey-8", "shadow-2"];
        default:
          return ["bg-white", "text-grey-8", "shadow-2"];
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.app-banner {
  position: relative;

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;

    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  &__body {
    display: flex;
    flex-wrap: nowrap;
    // padding-bottom: 7px;
  }

  &__content {
    // padding-right: 28px;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    padding-top: 7px;
    margin-bottom: 7px;
  }

  &__text {
    font-weight: 400;
  }

  &__icon {
    margin-top: 1px;
  }
}
</style>
