<template>
  <!-- <q-dialog :maximized="$q.screen.xs || false" ref="connect-other"> -->
  <DialogWrapper
    :title="$tt('common.create_request', 1)"
    name="connect-other"
    :loading="loading.modal"
    ref="connect-other"
    dialog-name="connect-other"
  >
    <form @submit.prevent>
      <q-card-section class="q-pt-none">
        <app-select
          transition-show="jump-down"
          transition-hide="jump-up"
          class="q-pb-none"
          v-model="new_shop.type"
          :error="$v.new_shop.type.$anyError"
          :label="$tt('common.type', 1)"
          :options="shop_types"
          :option-value="(opt) => opt"
          :option-label="(opt) => opt && opt.shop_name"
          :loading="loading.types"
          :dense="false"
        >
        </app-select>

        <q-slide-transition>
          <div flat v-if="new_shop.type">
            <app-banner level="info" class="q-my-lg">
              {{ new_shop.type.shop_desc }}
            </app-banner>

            <div class="row q-col-gutter-lg">
              <div class="col-6">
                <app-input
                  v-model="new_shop.shop_login"
                  :error="$v.new_shop.shop_login.$anyError"
                  :label="$tt('common.login', 1)"
                />
              </div>
              <div class="col-6">
                <app-input
                  v-model="new_shop.shop_password"
                  :error="$v.new_shop.shop_password.$anyError"
                  :label="$tt('common.password', 1)"
                  type="password"
                />
              </div>
              <div class="col-12">
                <app-input
                  v-model="new_shop.shop_url"
                  :error="$v.new_shop.shop_url.$anyError"
                  :error-message="
                    ($v.new_shop.shop_url.required &&
                      !$v.new_shop.shop_url.url &&
                      'Значення повинно будти посиланням') ||
                      null
                  "
                  :label="$tt('common.shop_url', 1)"
                />
              </div>
              <div class="col-12">
                <app-input
                  v-model="new_shop.shop_name"
                  :error="$v.new_shop.shop_name.$anyError"
                  :label="$tt('common.shop_name', 1)"
                />
              </div>
              <div class="col-12">
                <!-- hint="Укажите специфику товара, а также, откуда будет отправляться товар и кто будет являться отправителем." -->
                <app-input
                  v-model="new_shop.shop_comment"
                  :error="$v.new_shop.shop_comment.$anyError"
                  type="textarea"
                  placeholder="Вкажіть специфіку товару, а також, звідки відправлятиметься товар і хто буде відправником."
                  rows="4"
                />
              </div>
            </div>
          </div>
        </q-slide-transition>
      </q-card-section>
    </form>

    <template #actions>
      <div>
        <q-separator />
        <q-card-section>
          <app-btn
            padding="md"
            @click="submitRequest"
            type="submit"
            color="positive"
            class="full-width"
          >
            {{ $tt("common.create", 1) }}
          </app-btn>
        </q-card-section>
      </div>
    </template>
  </DialogWrapper>
  <!-- </q-dialog> -->
</template>

<script>
import { required, url } from "vuelidate/lib/validators";

export default {
  props: {
    platform: {
      type: String,
      required: false,
    },
  },
  async created() {
    await this.getShopTypes();

    if (this.platform) {
      let t = this.shop_types.find(
        (type) =>
          type.shop_name &&
          type.shop_name.toLowerCase() &&
          type.shop_name.toLowerCase().indexOf(this.platform) >= 0
      );

      if (!t) return;

      this.new_shop.type = t;
    }
  },
  data() {
    return {
      shop_types: null,
      loading: {
        types: false,
        modal: false,
      },
      new_shop: {
        type: null,
        shop_login: null,
        shop_password: null,
        shop_url: null,
        shop_name: null,
        shop_comment: null,
      },
    };
  },
  methods: {
    show() {
      this.$refs["connect-other"].show();
    },
    hide() {
      this.$refs["connect-other"].hide();
    },
    getShopTypes() {
      return new Promise(async (done, fail) => {
        try {
          this.loading.types = true;

          const {
            data: { available_shop_types },
          } = await this.$api.get(`service/link-shop/types`);

          this.shop_types = available_shop_types;
          done(available_shop_types);
        } catch (e) {
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data", 1),
          });

          fail(e);
        } finally {
          this.loading.types = false;
        }
      });
    },
    async submitRequest() {
      this.$v.new_shop.$touch();

      if (this.$v.new_shop.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });

        return;
      }

      this.loading.modal = true;

      const { type, ...new_shop } = this.new_shop;
      const request = {
        ...new_shop,
        shop_type_id: type.shop_type_id,
      };

      try {
        const {
          data: { shops },
        } = await this.$api.post(`/service/link-shop`, request);

        this.$alert({
          level: "success",
          title: this.$tt("messages.changes_saved"),
        });

        this.$emit("ok", shops);
        this.hide();
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data", 1),
        });
      } finally {
        this.loading.modal = false;
      }
    },
  },
  validations() {
    return {
      new_shop: {
        type: { required },
        shop_login: { required },
        shop_password: { required },
        shop_url: { required, url },
        shop_name: { required },
        shop_comment: { required },
      },
    };
  },
};
</script>
