<template>
  <div></div>
</template>
<script>
export default {
  async created() {
    this.$store.commit("auth/AUTH_ERROR");

    // * on ready:
    this.$router.replace("/login");
  },
  data() {
    return {};
  },
  methods: {},
};
</script>
