<template>
  <PageContainer
    :title="
      payments_type === 'income'
        ? $t('nav.my_account.earn_payments.title')
        : $t('nav.my_account.sent_payments.title')
    "
  >
    <template #actions>
      <div class="flex items-center q-gutter-x-md">
        <app-btn
          padding="11px"
          size="12px"
          :loading="loading.download"
          @click="downloadReport"
          icon="download"
        >
          &nbsp;&nbsp;&nbsp;{{ $tt("common.export") }}
        </app-btn>
        <app-btn
          padding="11px"
          size="12px"
          color="primary"
          v-if="payments_type === 'income'"
          to="/payments/outcome"
        >
          {{ $t("nav.my_account.sent_payments.title") }}
        </app-btn>
        <app-btn
          padding="11px"
          size="12px"
          color="primary"
          v-if="payments_type === 'outcome'"
          to="/payments/income"
        >
          {{ $t("nav.my_account.earn_payments.title") }}
        </app-btn>
      </div>
    </template>

    <div class="container">
      <div class="payments">
        <div class="q-gutter-y-xl">
          <div>
            <div class="row q-col-gutter-md">
              <div class="col-3">
                <app-input
                  :value="
                    (filter.date_from &&
                      filter.date_to &&
                      `${transformDateLabel(filter.date_from)} - ${transformDateLabel(
                        filter.date_to
                      )}`) ||
                      $tt('common.not_specified', 1)
                  "
                  :label="$tt('common.pick_range', 1)"
                  class="readonly-default"
                  readonly
                >
                  <template #append>
                    <q-btn
                      @click.stop.prevent="clearDate"
                      flat
                      icon="close"
                      color="negative"
                      padding="xs"
                      size="12px"
                    />
                  </template>

                  <q-popup-proxy>
                    <LocalDatePicker
                      :value="{ from: filter.date_from, to: filter.date_to }"
                      @input="(range) => setRange(range)"
                      minimal
                      range
                      mask="YYYY-MM-DD"
                    >
                      <div class="flex-center-between">
                        <app-btn size="11px" v-close-popup flat color="grey-6">
                          {{ $tt("common.cancel") }}
                        </app-btn>
                        <app-btn size="11px" color="accent" v-close-popup>
                          {{ $tt("common.pick") }}
                        </app-btn>
                      </div>
                    </LocalDatePicker>
                  </q-popup-proxy>
                </app-input>
              </div>
              <div class="col-3">
                <app-select
                  emit-value
                  map-options
                  :options="[
                    {
                      label: $tt('common.all', 1, 2),
                      value: null,
                    },
                    {
                      label: $tt('pages.payments.available', 1),
                      value: 'unblocked',
                    },
                    {
                      label: $tt('pages.payments.waiting', 1),
                      value: 'blocked',
                    },
                  ]"
                  :label="$tt('common.status', 1)"
                  v-model="filter.blocked"
                ></app-select>
              </div>
              <div class="col">
                <app-btn
                  @click="acceptFilter"
                  class="full-height"
                  color="positive"
                  :disable="loading.payments"
                >
                  {{ $t("common.apply") }} {{ $tt("common.filter") }}
                </app-btn>
                <app-btn
                  :disable="loading.payments"
                  @click="clearFilter"
                  class="full-height q-ml-md text-negative"
                >
                  <!-- icon="close" -->
                  {{ $tt("common.reset") }}
                </app-btn>
              </div>
            </div>
          </div>

          <div class="flex-center-between no-wrap">
            <app-pagination
              v-model="human_page"
              :max="
                total_pages && total_pages < 5
                  ? total_pages
                  : total_pages > 5
                  ? total_pages
                  : 1
              "
              color="accent"
              :disable="loading.payments"
            />

            <app-select
              style="max-width:121px"
              class="full-width"
              :options="[10, 20, 35, 50, 100]"
              :label="$tt('common.on_page', 1)"
              v-model="filter.on_page"
              :disable="loading.payments"
            ></app-select>
          </div>

          <div>
            <app-table-list
              :empty="(!payments || !payments.length) && $tt('errors.no_data', 1)"
              :header="$tt('pages.payments.payments_list')"
              :loading="loading.payments"
              :colspan="7"
            >
              <template #thead>
                <tr>
                  <th>
                    {{ $tt("pages.payments.target", 1) }}
                  </th>
                  <th>
                    {{ $tt("common.date", 1) }}
                  </th>
                  <th class="text-center">
                    {{ $tt("common.order", 1) }}
                  </th>
                  <th class="text-center">
                    {{ $tt("common.shipment", 1) }}
                  </th>
                  <th class="text-center">
                    {{ $tt("common.parcel", 1) }}
                  </th>
                  <th class="text-right">
                    {{ $tt("common.summ", 1) }}
                  </th>
                  <th></th>
                </tr>
              </template>

              <tr v-for="p in payments" :key="p.payment_id" class="relative-position">
                <td>
                  <div class="flex no-wrap">
                    <q-icon
                      size="21px"
                      :color="p.payment_type === '+' ? 'positive' : 'negative'"
                      :name="
                        p.payment_type === '+'
                          ? 'add_circle_outline'
                          : 'remove_circle_outline'
                      "
                      class="q-mr-sm"
                    />

                    <div style="padding-top:2px">
                      <div class="font-500 flex items-center">
                        {{ p.payment_operation_name }}
                      </div>
                      <q-badge
                        v-if="p.payment_is_blocked"
                        color="negative"
                        class="q-my-xs"
                      >
                        <!-- Ожидает -->
                        {{ $tt("common.waiting", 1) }}
                        <q-icon
                          v-if="p.payment_is_blocked"
                          color="white"
                          class="q-ml-xs"
                          name="lock"
                        ></q-icon>
                      </q-badge>
                      <small class="block text-muted">
                        {{ p.payment_comment }}
                      </small>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    {{ $date(p.payment_date) }}
                  </div>
                  <small class="text-muted">
                    {{ $time(p.payment_date) }}
                  </small>
                </td>
                <td class="text-center">
                  <a
                    class="link"
                    target="_blank"
                    :href="`/orders/sell/${p.order_id}`"
                    v-if="p.order_id"
                  >
                    {{ p.order_id }}
                  </a>
                  <small class="text-muted" v-else>
                    &bull;
                  </small>
                </td>
                <td class="text-center">
                  <div v-if="p.shipment_id" class="flex justify-center items-center">
                    <a target="_blank" :href="`/shipments/list?filter=${p.shipment_id}`">
                      {{ p.shipment_id }}
                    </a>
                  </div>
                  <small class="text-muted" v-else>
                    &bull;
                  </small>
                </td>
                <td class="text-center">
                  <a
                    target="_blank"
                    :href="`/shipments/list?filter=${p.parcel_id}`"
                    v-if="p.parcel_id"
                  >
                    {{ p.parcel_id }}
                  </a>
                  <small class="text-muted" v-else>
                    &bull;
                  </small>
                </td>
                <td class="text-right">
                  <div
                    class="text-subtitle2"
                    :class="`text-${p.payment_type === '+' ? 'positive' : 'negative'}`"
                  >
                    {{ $toUSD(p.payment_sum) }}
                  </div>
                </td>
                <td side class="text-center">
                  <app-btn
                    v-if="
                      p.payment_description || p.payment_destination || p.payment_comment
                    "
                    size="12px"
                    flat
                    icon="info_outline"
                    padding="sm"
                    color="grey-7"
                    round
                  >
                    <!-- Детали -->
                    <q-popup-proxy>
                      <q-card>
                        <app-list :bordered="false">
                          <q-item v-if="p.payment_description">
                            <q-item-section>
                              <q-item-label caption class="q-pr-xl">
                                {{ $tt("common.description", 1) }}
                              </q-item-label>
                            </q-item-section>
                            <q-item-section>
                              <q-item-label class="font-500">
                                {{ p.payment_description }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-item v-if="p.payment_destination">
                            <q-item-section>
                              <q-item-label caption class="q-pr-xl">
                                {{ $tt("pages.payments.target", 1) }}
                              </q-item-label>
                            </q-item-section>
                            <q-item-section>
                              <q-item-label
                                class="font-500"
                                v-html="p.payment_destination"
                              ></q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-separator v-if="p.payment_comment"></q-separator>
                          <q-item class="bg-orange-1 text-brown" v-if="p.payment_comment">
                            <q-item-section>
                              <q-item-label caption class="q-pr-xl">
                                {{ $tt("common.comment", 1) }}
                              </q-item-label>
                              <q-item-label class="font-500">
                                {{ p.payment_comment }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                        </app-list>
                      </q-card>
                    </q-popup-proxy>
                  </app-btn>
                  <!-- <small v-else class="text-muted">
                  {{ $tt("common.not_available") }}
                </small> -->
                </td>
              </tr>
            </app-table-list>
          </div>

          <div class="flex-center-between no-wrap">
            <app-pagination
              v-model="human_page"
              :max="
                total_pages && total_pages < 5
                  ? total_pages
                  : total_pages > 5
                  ? total_pages
                  : 1
              "
              :disable="loading.payments"
            />

            <app-select
              style="max-width:121px"
              class="full-width"
              :options="[10, 20, 35, 50, 100]"
              :label="$tt('common.on_page', 1)"
              v-model="filter.on_page"
              :disable="loading.payments"
            ></app-select>
          </div>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  name: "IncomePayments",
  data() {
    return {
      loading: { payments: false, download: false },
      payments: null,
      total: 0,
      total_pages: null,
      filter: {
        blocked: null,
        date_from: null,
        date_to: null,
        page: 0,
        on_page: 20,
      },
    };
  },
  mounted() {
    this.$store.dispatch("Finances/GET_BALANCE");

    let $filter = this.normalizeFilter(this.$route.query);

    this.filter = {
      ...this.filter,
      ...$filter,
    };

    this.getPayments();
  },
  watch: {
    "filter.page"(page) {
      this.getPayments({ ...this.filter, page });
    },
    "filter.on_page"(on_page) {
      this.filter.page = 0;
      this.getPayments({ ...this.filter, on_page });
    },
  },
  computed: {
    payments_type() {
      return this.$route.params.type;
    },
    payment_sign() {
      if (this.payments_type === "income") return "+";
      else if (this.payments_type === "outcome") return "-";
      else throw new Error("This payment type not supported");
    },
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
  },
  methods: {
    normalizeFilter(filter = this.filter) {
      let f = {};

      Object.entries(filter).forEach(([k, val]) => {
        let accept = (v = val) => (f[k] = v);
        let number_params = ["page", "on_page"];

        if (number_params.includes(k)) {
          accept(+val);
        } else if (val !== null && val !== undefined) {
          accept();
        }
      });

      return f;
    },
    async getPayments(params = this.filter) {
      let $params = this.normalizeFilter(params);

      try {
        this.loading.payments = true;

        const {
          data: { payments, total, total_pages },
        } = await this.$api.post(`/payments`, {
          payment_type: this.payment_sign,
          ...$params,
        });

        this.total_pages = total_pages;
        this.payments = payments;
        this.total = total;

        this.$router.push({ query: $params });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.payments = false;
      }
    },
    setRange({ from, to }) {
      this.filter.date_from = from;
      this.filter.date_to = to;
    },
    clearFilter() {
      this.filter = {
        blocked: null,
        date_from: null,
        date_to: null,
        page: 0,
        on_page: 20,
      };

      this.getPayments();
    },
    async downloadReport() {
      try {
        this.loading.download = true;

        let { date_from = "", date_to = "" } = this;

        let { data: file } = await this.$api({
          method: "post",
          url: `/v2/reports/payments/xlsx`,
          data: { date_from, date_to },
          responseType: "arraybuffer",
        });

        const blob = new Blob([file]),
          _filename = `payments-${date_from || "all"}-${date_to || "all"}.xlsx`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, _filename);
        } else {
          const link = document.createElement("a");

          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", _filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.download = false;
      }
    },
    transformDateLabel(date) {
      return date
        .split("-")
        .reverse()
        .join(".");
    },
    clearDate() {
      if (!this.filter.date_from || !this.filter.date_to) return;

      this.filter.date_from = null;
      this.filter.date_to = null;
      this.filter.page = 0;

      this.getPayments();
    },
    acceptFilter() {
      this.filter.page = 0;

      this.getPayments();
    },
  },
};
</script>
