<template>
  <span
    v-if="country"
    :class="[
      square ? 'flag-icon flag-icon-squared' : 'flag-icon',
      `flag-icon-${
        country === 'en' || country.toLowerCase() === 'us_pa' ? 'us' : country.toLowerCase()
      }`,
      block && 'block',
    ]"
    style="border-radius: 2px"
    :style="size && `font-size:${size}`"
  >
    <slot />
  </span>
  <span
    class="flag-icon"
    style="
      background-color:#ddd;
      box-shadow: 0 0 0 1px #ccc;
      border-radius: 1px
    "
    v-else
  >
    <span class="flex flex-center absolute-full">
      <q-icon color="grey-7" name="public" size="11px"></q-icon>
    </span>
  </span>
</template>
<script>
export default {
  props: { country: String, block: Boolean, square: Boolean, size: String },
};
</script>
<style>
.flag-icon {
  background-size: cover;
}
</style>
