<template>
  <q-dialog :position="$q.screen.xs ? 'bottom' : 'top'" ref="order-add-track">
    <q-card style="max-width:420px" class="full-width">
      <form @submit.prevent="submitTrack">
        <q-card-section>
          <div class="flex-center-between">
            <h5 class="q-ma-none">
              {{ $tt("add_order_track_numbers") }}
            </h5>
            <q-btn
              @click="hide"
              dense
              icon="close"
              color="negative"
              size="12px"
              round
              padding="11px"
              flat
            />
          </div>
        </q-card-section>
        <q-separator />

        <app-list
          :bordered="false"
          :empty="(!tracks || !tracks.length) && $tt('no_added_tracks')"
        >
          <q-item dense>
            <q-item-section>
              <q-item-label>
                {{ $tt("added_track_numbers") }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            @click="$copyText(number)"
            v-for="({ number, country, parcel_id, status }, idx) in tracks"
            :key="`track--${idx}`"
          >
            <q-item-section side>
              <q-item-label>
                <app-flag :country="country" />
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label v-if="parcel_id">
                {{ parcel_id }}
              </q-item-label>
              <q-item-label>
                {{ number }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                {{ status }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <q-card-section>
          <app-input
            :dense="false"
            :error="$v.new_track.$error"
            v-model.trim="new_track"
            :label="$tt('common.track_number', 1)"
            ref="new-track"
          />
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="flex-center-between">
            <app-btn
              @click="hide"
              padding="11px"
              type="button"
              flat
              color="negative"
              size="12px"
            >
              {{ $tt("common.cancel", 1) }}
            </app-btn>

            <app-btn padding="11px" type="submit" color="positive" size="12px">
              {{ $tt("common.save", 1) }}
            </app-btn>
          </div>
        </q-card-section>
      </form>
    </q-card>
  </q-dialog>
</template>

<i18n lang="json">
{
  "en": {
    "double_track_number": "This track number is already entered in this order",
    "added_track_numbers": "Added track numbers",
    "no_added_tracks": "No added track numbers",
    "add_order_track_numbers": "Add track numbers to order"
  },
  "uk": {
    "double_track_number": "Даний трек-номер вже внесений в це замовлення",
    "added_track_numbers": "Додані трек-номери",
    "no_added_tracks": "Немає доданих трек-номерів",
    "add_order_track_numbers": "Додати трек-номери до замовлення"
  }
}
</i18n>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {
    tracks: Array,
  },
  data() {
    return {
      new_track: null,
    };
  },
  mounted() {
    setTimeout(() => {
      this.$refs["new-track"].focus();
    }, 0);
  },
  methods: {
    show() {
      this.$refs["order-add-track"].show();
    },
    hide() {
      this.$refs["order-add-track"].hide();
    },
    submitTrack() {
      this.$v.$touch();

      if (this.$v.$anyError) return;

      let doubleTrack =
        (this.tracks &&
          this.tracks.length &&
          this.tracks.find(
            (track) =>
              track.number === this.new_track ||
              track.number.indexOf(this.new_track) === 0
          )) ||
        false;

      if (doubleTrack) {
        this.$alert({
          title: this.$tt("double_track_number"),
          level: "warning",
        });

        return;
      }

      this.$emit("ok", this.new_track);
    },
  },
  validations() {
    return {
      new_track: { required },
    };
  },
};
</script>
