<template>
  <q-dialog :position="$q.screen.xs ? 'bottom' : 'top'" ref="prompt-amount">
    <q-card style="min-width:350px">
      <q-item class="q-pt-lg">
        <q-item-section>
          <q-item-label class="text-h6">
            {{ $tt("enter_refund_amount", 1) }}
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn
            round
            icon="close"
            color="negative"
            flat
            size="12px"
            padding="9px"
            dense
            @click="hide"
          />
        </q-item-section>
      </q-item>
      <form @submit.prevent="submitAmount">
        <q-item>
          <q-item-section>
            <app-input
              v-model.number="amount"
              type="number"
              :label="$tt('common.refund_amount', 1)"
              suffix="USD"
              step="0.001"
              :dense="false"
            />
          </q-item-section>
        </q-item>
        <q-item class="q-py-md">
          <q-item-section>
            <div class="flex-center-between">
              <app-btn padding="9px" type="button" color="grey" flat>
                {{ $tt("common.cancel") }}
              </app-btn>
              <app-btn padding="9px" type="submit" color="positive">
                {{ $tt("common.accept", 1) }}
              </app-btn>
            </div>
          </q-item-section>
        </q-item>
      </form>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    defaultAmount: Number,
  },
  mounted() {
    setTimeout(() => {
      this.$refs["prompt-amount"].focus();
    }, 0);
  },
  created() {
    this.amount = this.defaultAmount || null;
  },
  data() {
    return {
      amount: null,
    };
  },
  methods: {
    show() {
      this.$refs["prompt-amount"].show();
    },
    hide() {
      this.$refs["prompt-amount"].hide();
    },
    submitAmount() {
      if (!this.amount) {
        this.$message({ title: "Введите сумму" });

        return;
      }

      this.$emit("ok", this.amount);
    },
  },
};
</script>

<i18n lang="json">
{
"en": {
"enter_refund_amount": "Enter refund amount",
"common.refund_amount": "Refund amount"
},
"uk": {
"enter_refund_amount": "Введіть суму повернення",
"common.refund_amount": "Сума повернення"
}
}
</i18n>
