<template>
  <q-dialog ref="track-info-dialog" position="bottom">
    <div class="container" style="padding-left:0;padding-right:0;">
      <q-card>
        <q-card-section>
          <div class="flex-center-between">
            <h5 class="q-ma-none">
              Информация о трек-номерах
            </h5>
            <app-btn dense @click="hide" round icon="close" flat color="negative"></app-btn>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="row q-col-gutter-lg" :class="$q.screen.xs && 'column'">
            <div class="col">
              <app-list color="positive" icon="gps_fixed" header="Отслеживается">
                <q-item v-if="!tracks.tracking_result || !tracks.tracking_result.length">
                  <q-item-section>
                    <small class="text-muted">{{ $tt("errors.no_data", 1) }}</small>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="
                    () => {
                      $copyText(t.number);
                      $message({ level: 'success', title: $tt('common.copied', 1) });
                    }
                  "
                  v-for="(t, idx) in tracks.tracking_result"
                  :key="idx"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.track_number", 1) }}
                    </q-item-label>
                    <q-item-label>{{ t.number }}</q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.status", 1) }}
                    </q-item-label>
                    <q-item-label>
                      <div class="font-500 flex items-center text-positive" v-if="t.delivered">
                        <q-icon class="q-mr-xs" name="check" size="19px"></q-icon>
                        Доставлено
                      </div>
                      <div class="font-500 flex items-center text-orange-7" v-else>
                        <q-icon class="q-mr-xs" name="close" size="19px"></q-icon>
                        Не доставлено
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>
            <div class="col">
              <app-list color="grey-6" icon="gps_off" header="Не отслеживаются">
                <q-item v-if="!tracks.cannot_track || !tracks.cannot_track.length">
                  <q-item-section>
                    <small class="text-muted">{{ $tt("errors.no_data", 1) }}</small>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="
                    () => {
                      $copyText(t.number);
                      $message({ title: $tt('common.copied', 1) });
                    }
                  "
                  v-for="(t, idx) in tracks.cannot_track"
                  :key="idx"
                >
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.track_number", 1) }}
                    </q-item-label>
                    <q-item-label> {{ t.number }} ({{ t.country }}) </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label caption>
                      {{ $tt("common.status", 1) }}
                    </q-item-label>
                    <q-item-label>
                      {{ t.status }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>
<script>
export default {
  props: {
    tracks: Object,
  },
  mounted() {},
  created() {},
  data() {
    return {};
  },
  methods: {
    show() {
      this.$refs["track-info-dialog"].show();
    },
    hide() {
      this.$refs["track-info-dialog"].hide();
    },
  },
};
</script>
<style lang="scss"></style>
