<template>
  <PageContainer with-back :title="$tt('nav.shipments.ukrposhta_create.title')">
    <with-loading :state="loading.page" />

    <div class="container">
      <div class="flex column q-gutter-y-xl">
        <div class="q-gutter-y-md">
          <h5 class="q-mb-md">
            {{ $tt("common.sender", 1) }}
          </h5>

          <app-select
            emit-value
            map-options
            :options="shippers"
            :label="$tt('pages.shipments.messages.pick_sender')"
            v-model="current_shipper"
            :loading="loading.shippers"
            ref="shipper-select"
            :error="$v.current_shipper.$anyError"
            class="full-width"
            :dense="false"
          >
            <template #after>
              <app-btn
                @click="create_sender_mode = !create_sender_mode"
                unelevated
                class="full-height"
                color="accent"
                :icon="create_sender_mode ? 'remove' : 'add'"
              >
                <q-tooltip>
                  {{ $tt("pages.shipments.messages.create_sender") }}
                </q-tooltip>
              </app-btn>
            </template>
          </app-select>

          <q-slide-transition>
            <q-card bordered class="relative-position q-pb-sm" flat v-if="create_sender_mode">
              <with-loading :state="loading.shipper" />

              <q-card-section>
                <h6>
                  {{ $tt("pages.shipments.messages.new_sender_record") }}
                </h6>
              </q-card-section>
              <!-- <q-separator></q-separator> -->
              <app-banner level="info" :rounded="false">
                <div class=" full-width">
                  {{ $tt("pages.shipments.messages.fields_must_be_latin_only") }}
                </div>
              </app-banner>
              <!-- <q-separator></q-separator> -->
              <q-card-section>
                <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.firstname.$anyError"
                      v-model="new_shipper.firstname"
                      :label="$tt('common.name', 1)"
                    ></app-input>
                  </div>
                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.lastname.$anyError"
                      v-model="new_shipper.lastname"
                      :label="$tt('common.lastname', 1)"
                    ></app-input>
                  </div>
                  <div class="col-4">
                    <CountrySelect
                      :error="$v.new_shipper.country_code.$error"
                      v-model="new_shipper.country_code"
                    />
                  </div>
                  <div class="col-4">
                    <StateSelect
                      :country="new_shipper.country_code"
                      v-model="new_shipper.region"
                    />
                  </div>
                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.address.$anyError"
                      v-model="new_shipper.address"
                      :label="$tt('common.address', 1)"
                    ></app-input>
                  </div>

                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.city.$anyError"
                      v-model="new_shipper.city"
                      label="Город"
                    ></app-input>
                  </div>
                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.postal_code.$anyError"
                      v-model="new_shipper.postal_code"
                      :label="$tt('common.zip', 1)"
                    ></app-input>
                  </div>
                  <div class="col-4">
                    <app-input
                      :error="$v.new_shipper.phone_number.$anyError"
                      v-model="new_shipper.phone_number"
                      :label="$tt('common.phone', 1)"
                    ></app-input>
                  </div>
                  <div class="col-4">
                    <!-- :error="$v.new_shipper.region.$anyError" -->
                    <app-input
                      v-model="new_shipper.region"
                      :label="`${$tt('common.region', 1)}/${$tt('common.region', 1)}`"
                    ></app-input>
                  </div>
                </div>
              </q-card-section>

              <q-card-section class="flex-center">
                <app-btn
                  size="12px"
                  padding="11px 14px"
                  :loading="loading.shipper"
                  icon="save"
                  @click="saveNewShipper"
                  color="positive"
                >
                  &nbsp;&nbsp; {{ $tt("common.save", 1) }} {{ $tt("common.record") }}
                </app-btn>
              </q-card-section>
            </q-card>
          </q-slide-transition>
        </div>

        <div class="q-gutter-y-md">
          <div class="flex-center-between q-mb-md">
            <h5>{{ $tt("common.recipient", 1) }}</h5>

            <div
              class="flex no-wrap"
              :class="$q.screen.xs ? 'column q-gutter-y-md' : 'q-gutter-x-md'"
            >
              <app-input
                :disable="loading.order"
                v-model.number="order_id"
                :label="$tt('common.order_number', 1)"
                :dense="false"
              >
                <template #after>
                  <app-btn
                    :disable="loading.order || !order_id"
                    color="accent"
                    @click="loadFromOrder"
                    v-close-popup
                    style="white-space:nowrap;"
                    :loading="loading.order"
                    class="full-height"
                  >
                    <!-- {{ $tt("messages.load_address_from_order") }} -->
                    {{ $tt("common.load") }}
                    {{ $tt("common.address") }}
                  </app-btn>
                </template>
              </app-input>
            </div>
          </div>

          <q-slide-transition>
            <div v-if="order_extended">
              <app-list :header="`${$tt('common.order', 1)}: ${$tt('common.product', 0, 2)}`">
                <q-item class="q-py-md" v-for="(item, id) in order_extended.items" :key="id">
                  <q-item-section avatar>
                    <q-item-label>
                      <q-img
                        height="70px"
                        width="70px"
                        contain
                        class="rounded-borders"
                        v-if="item.image_preview"
                        :src="item.image_preview"
                      ></q-img>
                      <div
                        v-else
                        style="height:70px;width:70px"
                        class="bg-grey-3 rounded-borders flex-center"
                      >
                        <q-icon name="image" size="28px" color="grey-7"></q-icon>
                      </div>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.title", 1) }}
                    </q-item-label>
                    <q-item-label class="q-pr-lg">
                      <div class="">
                        <span class="text-subtitle2">
                          {{ item.title }}
                        </span>

                        <div class="text-muted q-mt-xs">{{ item.quantity }} шт.</div>
                      </div>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.variation", 1) }}
                    </q-item-label>
                    <q-item-label class="q-gutter-xs">
                      <q-chip
                        icon="style"
                        text-color="white"
                        color="pink-8"
                        square
                        size="10px"
                        class="font-500"
                        v-for="(v, char) in item.variations"
                        :key="char"
                      >
                        {{ char }}: {{ v }}
                      </q-chip>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label caption>
                      {{ $tt("common.personalization", 1) }}
                    </q-item-label>
                    <q-item-label
                      v-if="
                        item.personalization &&
                          !item.personalization.includes('Not requested on this item.')
                      "
                    >
                      {{ item.personalization }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>

              <app-banner
                level="warning"
                v-if="order_extended.gift_m1essage && order_extended.gift_message.length"
              >
                {{ order_extended.gift_message }}
              </app-banner>
            </div>
          </q-slide-transition>

          <app-banner class="q-my-lg" level="info" close>
            <div class="full-width">
              {{ $tt("pages.shipments.messages.fields_must_be_latin_only") }}
            </div>
          </app-banner>

          <div>
            <div class="q-my-xl flex items-center">
              <div class="text-muted q-mr-md">{{ $tt("common.recipient", 1) }}:</div>
              <q-btn-toggle
                push
                v-model="consignee.type"
                toggle-color="primary"
                :options="[
                  { label: $tt('common.individual', 1), value: 'individual' },
                  { label: $tt('common.entity', 1), value: 'entity' },
                ]"
                padding="md xl"
              />
            </div>

            <div class="q-mt-lg">
              <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
                <div class="col-4" v-if="consignee.type === 'individual'">
                  <app-input
                    :error="$v.new_consignee.firstname.$anyError"
                    v-model="new_consignee.firstname"
                    :label="`${$tt('common.name', 1)} (лат.)`"
                  ></app-input>
                </div>
                <div class="col-4" v-else>
                  <app-input
                    v-model="new_consignee.company"
                    :error="$v.new_consignee.company.$anyError"
                    :label="$tt('common.company_name', 1)"
                  ></app-input>
                </div>
                <div class="col-4">
                  <CountrySelect
                    :error="$v.new_consignee.country_code.$error"
                    v-model="new_consignee.country_code"
                  />
                </div>
                <!-- <div class="col-4">
                  <StateSelect
                    :country="new_consignee.country_code"
                    v-model="new_consignee.state"
                  />
                </div> -->
                <div class="col-4">
                  <app-input
                    :error="$v.new_consignee.phone_number.$anyError"
                    v-model="new_consignee.phone_number"
                    :label="$tt('common.phone', 1)"
                  ></app-input>
                </div>
                <div class="col-4" v-if="consignee.type === 'individual'">
                  <app-input
                    :error="$v.new_consignee.lastname.$anyError"
                    v-model="new_consignee.lastname"
                    :label="`${$tt('common.lastname', 1)} (лат.)`"
                  ></app-input>
                </div>
                <div class="col-4">
                  <app-input
                    v-model="new_consignee.tax_number"
                    :label="$tt('common.tax_number')"
                  ></app-input>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="q-gutter-y-md">
          <h5 class="q-mb-md">
            {{ $tt("common.recipient_name", 1) }}
          </h5>

          <div>
            <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
              <div class="col-6">
                <app-input
                  v-model="new_consignee.region"
                  :label="`${$tt('common.region', 1)}/${$tt('common.state', 1)}`"
                ></app-input>
              </div>
              <div class="col-6">
                <app-input
                  :error="$v.new_consignee.city.$anyError"
                  v-model="new_consignee.city"
                  :label="$tt('common.city', 1)"
                ></app-input>
              </div>
              <div class="col-6">
                <app-input
                  :error="$v.new_consignee.postal_code.$anyError"
                  v-model="new_consignee.postal_code"
                  :label="$tt('common.zip', 1)"
                ></app-input>
              </div>
              <div class="col-6">
                <app-input
                  :error="$v.new_consignee.address.$anyError"
                  v-model="new_consignee.address"
                  :label="$tt('common.address', 1)"
                ></app-input>
              </div>
            </div>
          </div>
        </div>

        <div class="q-gutter-y-md">
          <h5 class="q-mb-md">
            {{ $tt("common.parcel", 1) }}
          </h5>

          <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
            <div class="col-4">
              <app-select
                emit-value
                map-options
                :error="$v.parcel_type.$anyError"
                v-model="parcel_type"
                :options="[
                  { label: $tt('pages.shipments.small_pack', 1), value: 'SMALL_BAG' },
                  { label: $tt('common.parcel', 1), value: 'PARCEL' },
                  { label: 'EMS', value: 'EMS' },
                  { label: 'Бандероль', value: 'BANDEROLE' },
                ]"
                :label="$tt('common.type', 1)"
              ></app-select>
            </div>
            <div class="col-4">
              <app-select
                :error="$v.transport_type.$anyError"
                v-model="transport_type"
                map-options
                emit-value
                :options="[
                  { label: $tt('pages.shipments.avia', 1), value: 'AVIA' },
                  { label: $tt('pages.shipments.ground_combined', 1), value: 'GROUND' },
                ]"
                label="Транспорт"
              ></app-select>
            </div>
            <div class="col-4">
              <app-select
                emit-value
                map-options
                :error="$v.parcel_category.$anyError"
                v-model="parcel_category"
                :options="[
                  { label: $tt('pages.shipments.gift', 1), value: 'GIFT' },
                  {
                    label: $tt('pages.shipments.sales_of_good', 1),
                    value: 'SALE_OF_GOODS' /** disabled parcel_type === 'EMS'  */,
                  },
                  {
                    label: $tt('pages.shipments.commercial_sample', 1),
                    value: 'COMMERCIAL_SAMPLE',
                  },
                  { label: $tt('common.document', 1, 1), value: 'DOCUMENTS' },
                ]"
                :label="$tt('common.category', 1, 1)"
              ></app-select>
            </div>
          </div>
        </div>

        <div class="q-gutter-y-md">
          <h5 class="q-mb-md">
            {{ $tt("common.additional", 1) }}
          </h5>

          <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
            <div class="col-4">
              <q-checkbox color="accent" v-model="options.to_hands">
                {{ $tt("messages.to_hands", 1) }}
              </q-checkbox>
            </div>
            <div class="col-4">
              <q-checkbox color="accent" v-model="options.courier">
                {{ $tt("pages.shipments.courier_send", 1) }}
              </q-checkbox>
            </div>
            <div class="col-4">
              <q-checkbox color="accent" v-model="options.bulky">
                {{ $tt("pages.shipments.big_parcel", 1) }}
              </q-checkbox>
            </div>
            <div class="col-4">
              <q-checkbox color="accent" v-model="options.notification">
                {{ $tt("pages.shipments.deliver_notification", 1) }}
              </q-checkbox>
            </div>
            <div class="col-4">
              <q-checkbox
                color="accent"
                v-model="options.direct_flight"
                country-only
                :disable="
                  transport_type !== 'AVIA' ||
                    new_consignee.country_code !== 'US' ||
                    parcel_type !== 'SMALL_BAG'
                "
              >
                <div>
                  {{ $tt("pages.shipments.express_delivery", 1) }}
                </div>
                <small class="text-muted">
                  ({{ $tt("pages.shipments.small_pack") }}, {{ $tt("pages.shipments.avia") }} в
                  США)
                </small>
              </q-checkbox>
            </div>
          </div>
        </div>

        <div class="q-gutter-y-md">
          <h5 class="q-mb-md">
            <!-- Содержимое -->
            {{ $tt("common.inner", 1) }}
          </h5>

          <app-list :min-width="700" :header="$tt('common.product', 1, 2)">
            <q-item v-if="!products || !products.length">
              <q-item-section>
                <q-item-label>
                  <small class="text-muted">
                    {{ $tt("errors.not_selected", 1, 1) }}
                  </small>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="q-py-lg" v-for="(p, idx) in products" :key="idx">
              <q-item-section side>
                <div class="text-subtitle1 text-grey-5" style="font-size:35px">{{ idx + 1 }}</div>
              </q-item-section>

              <q-item-section>
                <div class="row q-col-gutter-md">
                  <div class="col-10">
                    <div>
                      <q-item-label caption>{{ $tt("common.title", 1) }} (ENG)</q-item-label>
                      <q-item-label>
                        <app-input
                          v-model="p.title_customs_eng"
                          :error="$v.products.$each[idx].title_customs_eng.$anyError"
                        ></app-input>
                      </q-item-label>
                    </div>
                    <div v-if="is_EMS" class="q-mt-md">
                      <q-item-label caption>{{ $tt("common.title", 1) }} (UA)</q-item-label>
                      <q-item-label>
                        <!-- label="Введите наименование товара на кириллице" -->
                        <app-input
                          v-model="p.title_customs_ua"
                          :error="$v.products.$each[idx].title_customs_ua.$anyError"
                        ></app-input>
                      </q-item-label>
                    </div>
                  </div>
                  <div class="col">
                    <q-item-label caption>{{ $tt("common.count", 1) }}</q-item-label>
                    <q-item-label>
                      <app-input
                        v-model.number="p.quantity"
                        suffix="шт."
                        :error="$v.products.$each[idx].quantity.$anyError"
                      ></app-input>
                    </q-item-label>
                  </div>
                </div>
                <div class="row q-col-gutter-md q-mt-sm">
                  <div class="col-5">
                    <!-- <customs-codes
                      :initial="(p.uktved && p.uktved.id) || undefined"
                      @select="(code) => setProductCode(p, code)"
                    /> -->

                    <customs-codes v-if="p" dense v-model="p.uktved" />

                    <!-- :error="$v.products.$each[idx].uktved.$anyError" -->
                  </div>
                  <div class="col">
                    <app-input
                      v-model.number="p.real_weight"
                      :error="$v.products.$each[idx].real_weight.$anyError"
                      :label="$tt('common.weight', 1)"
                    ></app-input>
                  </div>
                  <div class="col">
                    <app-input
                      v-model.number="p.cost"
                      :error="$v.products.$each[idx].cost.$anyError"
                      suffix="USD"
                      :label="$tt('common.cost', 1)"
                    ></app-input>
                  </div>
                  <div class="col">
                    <app-input
                      :value="getProductTotalCost(p)"
                      suffix="USD"
                      :label="$tt('common.summ', 1)"
                      readonly
                    ></app-input>
                  </div>
                </div>
              </q-item-section>

              <q-item-section side>
                <app-btn
                  @click="removeProduct(idx)"
                  flat
                  round
                  icon="close"
                  color="negative"
                ></app-btn>
              </q-item-section>
            </q-item>
            <q-item @click="addNewProduct" clickable>
              <q-item-section side>
                <q-icon size="20px" name="new_releases"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <div class="text-subtitle2">{{ $tt("common.add", 1) }}</div>
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item @click="showMyItems" clickable>
              <q-item-section side>
                <q-icon size="20px" name="maps_home_work"></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <div class="text-subtitle2">
                    {{ show_warehouse ? $tt("common.hide", 1) : $tt("common.show", 1) }}
                    {{ $tt("common.product", 0, 2) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
          <q-slide-transition>
            <div class="q-mt-md" v-if="show_warehouse">
              <!-- <MyProducts @on-row-dbclick="(product) => addFromWarehouse(product)" :actions="['add', 'control']" /> -->
              <NewWarehouse
                @pick-product="(product) => addFromWarehouse(product)"
                :actions="['add', 'control']"
              />
            </div>
          </q-slide-transition>
        </div>

        <div class="q-gutter-y-md">
          <h6 class="q-mb-md">
            {{ $tt("common.dimensions", 1) }}
          </h6>

          <div class="row q-col-gutter-md">
            <div class="col-3 col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <app-input
                suffix="cm"
                :error="$v.dimensions.length.$anyError"
                v-model.number="dimensions.length"
                type="number"
                step="1"
                :label="$tt('common.length', 1) + ', cm'"
              ></app-input>
            </div>
            <div class="col-3 col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <app-input
                suffix="cm"
                :error="$v.dimensions.width.$anyError"
                v-model.number="dimensions.width"
                type="number"
                step="1"
                :label="$tt('common.width', 1) + ', cm'"
              ></app-input>
            </div>
            <div class="col-3 col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <app-input
                suffix="cm"
                :error="$v.dimensions.height.$anyError"
                v-model.number="dimensions.height"
                type="number"
                step="1"
                :label="$tt('common.height', 1) + ', cm'"
              ></app-input>
            </div>
            <div class="col-3 col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <app-input
                suffix="kg"
                :error="$v.dimensions.weight.$anyError"
                v-model.number="dimensions.weight"
                type="number"
                step="0.001"
                :label="$tt('common.weight', 1) + ', kg'"
              ></app-input>
            </div>
          </div>
        </div>

        <div class="flex-center">
          <app-btn
            :loading="loading.page"
            @click="createShipment"
            color="positive"
            padding="md"
            class="q-px-xl"
          >
            {{ $tt("common.create", 1) }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import CountrySelect from "@/components/CountrySelect";
import StateSelect from "@/components/CountrySelect/States.vue";
import { required, minLength, requiredIf } from "vuelidate/lib/validators";
import CustomsCodes from "@/components/CustomsCodes";

const split_name = (name) => {
  let val = name.split(" ");
  let first_name = val.shift();
  let last_name = val.join(" ");
  return { firstname: first_name, lastname: last_name };
};

export default {
  components: {
    CountrySelect,
    NewWarehouse: () => import("@/components/NewWarehouse"),
    "customs-code": CustomsCodes,
    StateSelect,
  },
  mounted() {
    try {
      this.$store.dispatch("Info/GET_COUNTRIES");
    } catch (e) {
      console.log(e);

      this.$showApiError(e, { fallbackMessage: this.$ttt("errors.load_data"), notify: true });
    } finally {
    }

    this.getShippers();
  },
  data() {
    return {
      create_sender_mode: false,
      loading: {
        page: false,
        shipper: false,
        shippers: false,
        new_consignee: false,
        order: false,
      },
      dimensions: {
        length: null,
        width: null,
        height: null,
        weight: null,
      },
      shippers: null,
      consignees: null,
      options: {
        to_hands: false,
        courier: false,
        notification: false,
        fragile: false,
        bulky: false,
        direct_flight: false,
      },
      current_shipper: null,
      consignee: {
        type: "individual",
      },
      new_shipper: {
        country_code: null,
        state: null,
        city: null,
        postal_code: null,
        address: null,
        firstname: null,
        lastname: null,
        phone_number: null,
        region: null,
      },
      new_consignee: {
        country_code: null,
        state: null,
        city: null,
        postal_code: null,
        address: null,
        firstname: null,
        lastname: null,
        phone_number: null,
        company: null,
        region: null,
        tax_number: null,
      },
      products: [],
      order_id: null,
      // order_id: 39992827,
      order_extended: null,
      parcel_type: null,
      transport_type: null,
      parcel_category: null,
      show_warehouse: false,
    };
  },
  computed: {
    is_EMS() {
      return this.parcel_type === "EMS";
    },
  },
  methods: {
    async getShippers() {
      this.loading.shippers = true;

      try {
        let {
          data: { addresses },
        } = await this.$api.get(`/ukrposhta/addresses/`);

        this.shippers = Object.entries(addresses).map(([value, label]) => ({
          value,
          label,
        }));
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true, fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.shippers = false;
      }
    },
    getItemFromWarehouse() {
      return new Promise(async (done, fail) => {
        this.$q
          .dialog({
            parent: this,
            component: () => import("@/components/Warehouse/PickWarehouseItem.vue"),
          })
          .onOk((product) => {
            if (product) {
              done(product);
            }
          });
      });
    },
    async addNewProduct() {
      this.products.push({
        cost: null,
        is_new: true,
        product_id: null,
        quantity: 1,
        real_weight: null,
        title_customs_eng: null,
        uktved: null,
      });

      this.$message({ title: "Новый товар добавлен", level: "success" });
    },
    addFromWarehouse(product) {
      this.products.push({
        is_new: true,
        product_id: null,
        quantity: 1,
        real_weight: product.weight,
        title_customs_eng: product.title,
        uktved: product.uktved,
        cost: product.cost,
      });

      this.$message({ title: "Товар добавлен", level: "success" });
    },
    showMyItems() {
      this.show_warehouse = !this.show_warehouse;
    },
    removeProduct(idx) {
      this.products.splice(idx, 1);
    },
    getProductTotalCost(product) {
      return (product.cost || 0) * (product.quantity || 1);
    },
    setProductCode(product, code) {
      if (!code) return;

      let { id } = code;

      product.uktved = id;
    },
    async loadFromOrder() {
      this.$v.order_id.$touch();

      if (this.$v.order_id.$anyError) {
        // this.$message({ title: "Введите номер заказа" });
        this.$message({
          title: `${this.$tt("messages.pls_input", 1)} ${this.$tt("common.order_number")}`,
        });
        return;
      }

      this.loading.new_consignee = true;
      this.loading.order = true;

      try {
        const {
          data,
          data: { address: buyer_address, extended = null },
        } = await this.$api.get(`/shipping/get_address_by_order/${this.order_id}`);

        data.sol_order_id && (this.order_id = data.sol_order_id);

        extended && (this.order_extended = extended);

        let {
          city = null,
          country: country_code = null,
          street: address = null,
          state: region = null,
          zip: postal_code = null,
          phone: phone_number = null,
          name,
        } = buyer_address;

        let { firstname, lastname } = split_name(name);

        this.new_consignee = {
          country_code,
          city,
          address,
          region,
          postal_code,
          phone_number,
          firstname,
          lastname,
        };
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading.new_consignee = false;
        this.loading.order = false;
      }
    },
    getConsigneeCountry({ country }) {
      this.new_consignee.country_code = country;
    },
    getShipperCountry({ country }) {
      this.new_shipper.country_code = country;
    },
    async saveNewShipper() {
      this.$v.new_shipper.$touch();

      if (this.$v.new_shipper.$anyError) {
        this.$message({ level: "warning", title: this.$tt("messages.fill_req_fields") });

        return;
      }
      this.loading.shipper = true;

      try {
        await this.$api.post(`/ukrposhta/addresses`, this.new_shipper);
        this.new_shipper = {
          country_code: null,
          state: null,
          city: null,
          postal_code: null,
          address: null,
          firstname: null,
          lastname: null,
          phone_number: null,
          region: null,
        };

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved"),
          // caption: "Теперь вы можете выбрать и использовать эту запись из списка",
        });

        this.create_sender_mode = false;

        this.getShippers();
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });

        console.log(e);
      } finally {
        this.loading.shipper = false;
      }

      setTimeout(() => {}, 777);
    },
    async createShipment() {
      this.$v.current_shipper.$touch();

      if (this.$v.current_shipper.$anyError) {
        this.$message({
          title: `${this.$tt("common.pick", 1, 3)} ${this.$tt("common.sender", 0, 2)}`,
        });
        return;
      }

      this.$v.new_consignee.$touch();
      if (this.$v.new_consignee.$anyError) {
        this.$message({ title: this.$tt("pages.shipments.messages.fill_recipient_data") });
        return;
      }

      this.$v.parcel_type.$touch();
      this.$v.parcel_category.$touch();
      this.$v.transport_type.$touch();

      if (this.$v.parcel_type.$anyError) {
        this.$message({ title: `${this.$tt("common.pick", 1, 2)} ${this.$tt("common.type", 1)}` });
        return;
      }

      if (this.$v.transport_type.$anyError) {
        this.$message({ title: `${this.$tt("common.pick_transort_type")} ` });

        return;
      }

      if (this.$v.parcel_category.$anyError) {
        this.$message({ title: `${this.$tt("common.pick_category")} ` });

        return;
      }

      // ? validate products
      this.$v.products.$touch();
      if (this.$v.products.$anyError) {
        this.$message({ title: this.$tt("pages.shipments.messages.input_parcel_inner") });
        return;
      }

      // ? validate dimensions
      this.$v.dimensions.$touch();
      if (this.$v.dimensions.$anyError) {
        this.$message({ title: this.$tt("pages.shipments.messages.input_parcel_dimensions") });
        return;
      }

      let {
        current_shipper: shipper_uuid,
        transport_type,
        parcel_type,
        parcel_category,
        new_consignee: consignee,
        order_id,
      } = this;

      let {
        weight: parcel_weight,
        length: parcel_length,
        width: parcel_width,
        height: parcel_height,
      } = this.dimensions;

      let parcel_items = this.products.map((p) => {
        let { is_new = undefined, uktved, ...product } = p;

        return { ...product, ...(uktved && uktved.id ? { uktved: { id: uktved.id } } : {}) };
      });

      let params = {
        ...(order_id && { order_id }),
        shipper_uuid,
        consignee,
        parcel: {
          parcel_weight,
          parcel_length,
          parcel_width,
          parcel_height,
          parcel_items,
        },
        transport_type,
        parcel_type,
        parcel_category,
        ...this.options,
      };

      try {
        this.loading.page = true;

        // CALC & SHOW COST HERE:
        const { data } = await this.$api.post(`/ukrposhta/shipments/cost`, params);

        let ConfirmCost = await this.$confirm({
          level: "info",
          title: `Стоимость отправки посылки составит ${data.cost} грн. (${this.$toUSD(
            data.cost_usd
          )}). Хотите завершить создание отправки ?`,
        });

        if (!ConfirmCost) {
          this.$message({ level: "warning", title: "Операция отменена" });
          return;
        }

        let {
          data: {
            shipment: { uuid, barcode },
          },
        } = await this.$api.post(`/ukrposhta/shipments`, params);

        this.$alert({
          title: this.$tt("common.request_created"),
          level: "success",
        });

        let document = await this.$store.dispatch("Ukrposhta/GET_LABEL", {
          uuid,
          format: "SIZE_A5",
        });

        this.$q.dialog({
          parent: this,
          component: () => import("@/components/_ui/DocumentViewer"),
          name: "ukrposhta-label",
          document,
          filename: `ukrposhta-label-${barcode || new Date().getTime()}.pdf`,
        });

        this.$router.push("/ukrposhta-shipments");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.page = false;
      }
    },
  },
  validations() {
    return {
      current_shipper: { required },
      order_id: { required },
      new_shipper: {
        country_code: { required },
        city: { required },
        postal_code: { required },
        address: { required },
        firstname: { required },
        lastname: { required },
        phone_number: { required },
        // region: { required },
      },
      new_consignee: {
        country_code: { required },
        // state: {required},
        city: { required },
        postal_code: { required },
        address: { required },
        firstname: {
          required: requiredIf(function() {
            return this.consignee.type === "individual";
          }),
        },
        lastname: {
          required: requiredIf(function() {
            return this.consignee.type === "individual";
          }),
        },
        phone_number: { required },
        company: {
          required: requiredIf(function() {
            return this.consignee.type === "entity";
          }),
        },
      },
      products: {
        required,
        minLength: minLength(1),
        $each: {
          cost: { required },
          quantity: { required },
          real_weight: { required },
          title_customs_eng: { required },
          title_customs_ua: {
            required: requiredIf(function() {
              return this.is_EMS;
            }),
          },
          // uktved: { required },
        },
      },
      parcel_type: { required },
      transport_type: { required },
      parcel_category: { required },
      dimensions: {
        width: { required },
        length: { required },
        height: { required },
        weight: { required },
      },
    };
  },
};
</script>
