<template>
  <PageContainer with-back :title="current_method.title" :caption="current_method.terms">
    <with-loading fixed :state="loading.page" />

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" appear>
      <div class="container" v-if="current_method && method_data">
        <div class="get-checkout">
          <app-banner v-if="current_method.description" icon="info" class="q-mb-lg" level="info">
            {{ $capitalize(current_method.description) }}
          </app-banner>

          <div class="row q-col-gutter-md" :class="($q.screen.xs || $q.screen.sm) && 'q-mb-lg'">
            <div
              v-if="current_method.account_type !== 'cash'"
              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
              :class="($q.screen.xs || $q.screen.sm) && 'q-mb-lg'"
            >
              <div class="get-checkout__accounts">
                <app-list
                  :error="
                    $v.account.$anyError &&
                      $tt('common.pick', 1, 2) + ' ' + $tt('pages.get_money.requisites', 0, 2)
                  "
                  :min-width="method_data.fields && method_data.fields.length * 210"
                  :empty="
                    (!method_data.customer_data || !method_data.customer_data.length) &&
                      $tt('common.not_available', 1)
                  "
                  :header="
                    $capitalize($tc('common.available', 2)) +
                      ' ' +
                      $tt('pages.get_money.requisites', 0, 2)
                  "
                  class="q-mt-md"
                >
                  <template #summary>
                    <q-item
                      :to="`/requisites/${current_method.account_type}`"
                      clickable
                      class="text-grey-7"
                    >
                      <q-item-section>
                        <div class="flex items-center">
                          <q-icon size="21px" class="q-mr-sm" name="manage_accounts"></q-icon>
                          <div class="line-height1">
                            {{ $capitalize($t("common.manage")) }}
                          </div>
                        </div>
                      </q-item-section>
                    </q-item>
                  </template>

                  <q-item tag="label" v-for="(r, idx) in method_data.customer_data" :key="idx">
                    <q-tooltip
                      transition-show="jump-down"
                      transition-hide="jump-down"
                      v-if="!r.valid"
                      anchor="center middle"
                      self="center middle"
                    >
                      <div class="flex items-center">
                        <q-icon name="warning" size="16px" class="q-mr-sm" />
                        {{ $t("errors.account_has_errors") }}
                      </div>
                    </q-tooltip>
                    <q-item-section side>
                      <q-radio :disable="!r.valid" :val="idx" v-model="account"></q-radio>
                    </q-item-section>
                    <q-item-section v-for="(f, idx) in method_data.fields" :key="idx">
                      <q-item-label style="font-size: 11px" caption>
                        {{ f.title }}
                      </q-item-label>
                      <q-item-label>
                        <div style="word-break: break-word" v-if="r[f.field]">
                          {{ r[f.field] }}
                        </div>
                        <div v-else class="text-muted">&bull;</div>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </app-list>
              </div>
            </div>
            <div class="col">
              <div class="get-checkout__summary">
                <app-list
                  :header="`${$tt('common.summary', 1, 1)} ${$tt('common.info')}`"
                  :loading="loading.info"
                  class="q-mt-md"
                >
                  <q-item v-if="current_method.terms">
                    <q-item-section>
                      <q-item-label caption>
                        <!-- Метод -->
                        {{ $tt("common.method", 1) }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      {{ current_method.title }}
                    </q-item-section>
                  </q-item>
                  <q-item v-if="current_method.terms">
                    <q-item-section>
                      <q-item-label caption>
                        {{ $tt("common.description", 1) }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section class="text-right" avatar>
                      {{ current_method.terms }}
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label caption>
                        {{ $tt("pages.get_money.you_earns") }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <div class="text-subtitle2">
                        {{ $toUSD(current_method.amount || current_amount) }}
                      </div>
                      <q-item-label
                        v-if="current_method.max !== 0 && current_method.max < current_amount"
                        caption
                        class="text-orange"
                      >
                        {{ $tt("pages.get_money.method_limit") }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label caption>
                        {{ $tt("pages.get_money.transfer_cost") }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <div v-if="current_method.commission">
                        {{ $toUSD(current_method.commission) }}
                      </div>
                      <div v-else>
                        {{ $toUSD(0) }}
                      </div>
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section>
                      <q-item-label caption>
                        <!-- Сумма, которая будет снята со счёта -->
                        {{ $tt("pages.get_money.total_summ") }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section avatar>
                      <div class="text-subtitle1 text-accent text-bold">
                        {{
                          $toUSD(
                            (current_method.amount || current_amount) +
                              (current_method.commission || 0)
                          )
                        }}
                      </div>
                    </q-item-section>
                  </q-item>
                  <!-- v-if="warning" -->
                  <q-item v-if="warning" class="bg-orange-1 text-brown-5">
                    <q-item-section>
                      {{ warning }}
                    </q-item-section>
                  </q-item>
                </app-list>

                <app-input
                  v-model="comment"
                  type="textarea"
                  rows="3"
                  :label="$tt('common.comment', 1)"
                  class="q-mt-md"
                ></app-input>
              </div>
            </div>
          </div>

          <div
            class="get-checkout__session-fields q-mt-md"
            v-if="current_method.session_fields && current_method.session_fields.length"
          >
            <app-list>
              <q-item v-for="(field, idx) in current_method.session_fields" :key="idx">
                <q-item-section>
                  {{ field.title }}
                </q-item-section>
                <q-item-section>
                  <!-- v-model="current_method.session_fields[field.field]" -->
                  <app-input
                    v-model="session_fields[field.field]"
                    :label="field.description"
                    v-if="field.type === 'string'"
                  ></app-input>
                  <q-file
                    :label="field.description"
                    v-else-if="field.type === 'file'"
                    outlined
                    dense
                    v-model="session_fields.file"
                    ref="file-input"
                  >
                    <template #prepend>
                      <q-icon name="note" />
                    </template>
                    <template #append>
                      <q-icon name="add" />
                    </template>
                  </q-file>
                  <app-input
                    v-model="session_fields[field.field]"
                    v-else-if="field.type === 'textarea'"
                    type="textarea"
                    :label="field.description"
                    rows="8"
                  ></app-input>
                </q-item-section>
              </q-item>
            </app-list>
          </div>

          <div class="get-checkout__confirms q-mt-md">
            <app-list
              :header="$tt('pages.get_money.confirm_actions')"
              :error="
                ($v.true_data.$anyError || (need_convert_currency && $v.true_summ.$anyError)) &&
                  'Подтвердите действие'
              "
            >
              <q-item tag="label">
                <q-item-section side>
                  <q-checkbox v-model="true_data" :val="true" />
                </q-item-section>
                <q-item-section>
                  <div>
                    {{ $tt("pages.get_money.messages.requsites_valid_confirm") }}
                  </div>
                </q-item-section>
              </q-item>

              <q-item tag="label" v-if="need_convert_currency">
                <q-item-section side>
                  <q-checkbox color="accent" v-model="true_summ" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ $tt("pages.get_money.messages.currency_rate_confirm") }}
                  </q-item-label>

                  <q-item-label caption>
                    ({{ $tt("common.exchange_rates") }}
                    {{ $toFixed(current_method.external_sum / current_amount) }}
                    {{ current_method.external_currency }} за {{ $toUSD(1) }})
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label caption>
                    <small>{{ $tt("common.total") }}</small>
                  </q-item-label>
                  <q-item-label>
                    <div class="text-subtitle1">
                      {{ current_method.external_sum }}
                      {{ current_method.external_currency }}
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>

            <app-banner
              gradient
              class="q-mt-lg"
              v-if="current_method.additional_agreement"
              level="danger"
            >
              <div class="flex-center-between">
                <div class="font-500">
                  {{ current_method.additional_agreement }}
                </div>

                <div class="q-ml-lg">
                  <app-btn
                    @click="additional_agreement = !additional_agreement"
                    size="12px"
                    padding="md"
                    color="white"
                    text-color="negative"
                  >
                    <div class="flex no-wrap items-center">
                      <q-checkbox
                        @click.stop
                        dense
                        v-model="additional_agreement"
                        color="negative"
                        class="q-mr-sm"
                      ></q-checkbox>
                      подтверждаю
                    </div>
                  </app-btn>
                </div>
              </div>
            </app-banner>
          </div>

          <div class="get-checkout__actions q-mt-xl">
            <div class="flex-center-between">
              <app-btn to="/get-money" padding="md lg" flat color="negative">{{
                $tt("common.cancel")
              }}</app-btn>
              <app-btn @click="getMoney" padding="md lg" unelevated color="positive">
                {{ $tt("common.continue") }}
              </app-btn>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </PageContainer>
</template>
<script>
// import { required, requiredIf } from "vuelidate/lib/validators";

const confrimRouteExit = (event) => {
  event.preventDefault();
  event.returnValue = "";
  return "";
};

export default {
  beforeRouteEnter(to, from, next) {
    if (!to.params.method || !to.params.amount) {
      next("/get-money");
    } else {
      next();
    }
  },
  created() {
    this.current_method = this.$route.params.method;
    this.current_amount = this.current_method.amount || this.$route.params.amount;
  },
  async mounted() {
    try {
      this.loading.page = true;

      await this.getAccounts();

      if (
        this.method_data &&
        this.method_data.customer_data &&
        this.method_data.customer_data.length &&
        this.method_data.customer_data.length === 1
      ) {
        this.account = 0;
      }
    } catch (e) {
      console.log(e);

      this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
    } finally {
      this.loading.page = false;
    }

    window.addEventListener("beforeunload", confrimRouteExit);
  },
  beforeRouteLeave(to, from, next) {
    window.removeEventListener("beforeunload", confrimRouteExit);
    next();
  },
  computed: {
    current_account_type() {
      return this.current_method.account_type || null;
    },
    need_requisite_index() {
      return !["cash"].includes(this.current_method.account_type);
    },
    need_convert_currency() {
      return (
        this.current_method.external_currency !== "USD" &&
        isFinite(this.current_method.external_sum / this.current_amount)
      );
    },
  },
  data() {
    return {
      additional_agreement: false,
      current_method: null,
      current_amount: null,
      comment: null,
      loading: {
        page: false,
        info: false,
      },
      method_data: null,
      account: null,
      true_data: false,
      true_summ: false,
      warning: null,
      session_fields: {},
    };
  },
  watch: {
    async account(selected, _old) {
      this.loading.info = true;

      let params = {
        amount: this.current_amount,
        account_type: this.current_method.account_type,
        idx: selected,
      };

      try {
        const {
          data: { commission, warning = null },
        } = await this.$api.post(`/payments/get_money/clarify_commission`, params);

        this.current_method.commission = commission;
        this.warning = warning;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("pages.get_money.messages.unable_to_update"),
        });
      } finally {
        this.loading.info = false;
      }
    },
  },
  methods: {
    getAccounts() {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api.get(
            `/user/payment_accounts/${this.current_method.account_type}`
          );

          this.method_data = data;

          done(this.method_data);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("pages.get_money.errors.unable_to_get_requisites"),
          });
          fail(e);
        }
      });
    },
    getAccountField(code) {
      return this.method_data.fields.find((f) => f.field === code) || null;
    },
    async prepareSessionFields() {
      return new Promise(async (done, fail) => {
        if (
          this.current_method.session_fields &&
          Object.keys(this.current_method.session_fields) &&
          Object.keys(this.current_method.session_fields).length
        ) {
          let res = {};

          for (let f in this.current_method.session_fields) {
            if (
              this.current_method.session_fields[f].type === "file" &&
              this.session_fields.file
            ) {
              try {
                let file = new FormData();

                file.append("file", this.session_fields.file);

                this.loading.page = true;

                let {
                  data: { filename },
                } = await this.$api.post("/maintenance/upload", file);

                this.loading.page = false;

                res[this.current_method.session_fields[f].field] = filename;
              } catch (e) {
                console.log(e);

                this.$showApiError(e, {
                  fallbackMessage: this.$tt("pages.get_money.errors.load_file"),
                });

                fail(e);
              }
            } else {
              res[this.current_method.session_fields[f].field] = this.session_fields[
                this.current_method.session_fields[f].field
              ];
            }
          }

          done(res);
        } else {
          done(null);
        }
      });
    },
    getCurrentMethod(method = this.current_account_type) {
      return this.$api.get(`/user/payment_accounts/${method}`);
    },
    async getMoney() {
      this.$v.$touch();

      // TODO: VALIDATE DATA && CHECK ALL ACCEPS (CHECKBOXES)

      if (this.need_requisite_index && this.$v.account.$anyError) {
        this.$message({
          title: this.$tt("pages.get_money.messages.pick_requisites"),
          level: "warning",
        });
        return;
      }

      if (this.$v.true_data.$anyError) {
        this.$message({
          title: this.$tt("pages.get_money.messages.confrim_valid_data"),
          level: "warning",
        });
        return;
      }

      if (this.need_convert_currency && this.$v.true_summ.$anyError) {
        this.$message({
          title: this.$tt("pages.get_money.messages.confirm_currency_warning"),
          level: "warning",
        });
        return;
      }

      if (this.current_method.additional_agreement && !this.additional_agreement) {
        this.$message({
          title: `Подтвердите факт ознакомления с курсом вывода для данного метода`,
          level: "warning",
        });

        return;
      }

      let { min = 0, max = 0 } = this.current_method;

      if (min) {
        if (this.current_amount < min) {
          let c = await this.$confirm({
            level: "warning",
            title: `${this.$tt("pages.get_money.messages.minimal_method_summ")} - ${this.$toUSD(
              min
            )}. ${this.$tt("pages.get_money.messages.auth_change_summ")}`,
            nextText: `${this.$tt("pages.get_money.inc_for")} ${this.$toUSD(min)}`,
          });

          if (c) {
            this.current_amount = min;
            this.current_method.amount = min;

            this.$message({
              title: this.$tt("pages.get_money.messages.comfirm_changed_summ"),
            });
            return;
          } else {
            return;
          }
        }
      }
      if (max) {
        if (this.current_amount > max) {
          let c = await this.$confirm({
            level: "warning",
            title: `${this.$tt("pages.get_money.messages.max_method_summ")} - ${this.$toUSD(
              max
            )}. ${this.$toUSD(min)}. ${this.$tt("pages.get_money.messages.auth_change_summ")}`,
            nextText: `${this.$tt("pages.get_money.dec_for")} ${this.$toUSD(max)}`,
          });

          if (c) {
            this.current_amount = max;
            this.current_method.amount = max;

            this.$message({
              title: this.$tt("pages.get_money.messages.comfirm_changed_summ"),
            });
            return;
          } else {
            return;
          }
        }
      }

      let session_fields = null;

      if (this.current_method.session_fields) {
        session_fields = await this.prepareSessionFields();
      }

      // .....
      let params = {
        amount: this.current_amount,
        idx: this.need_requisite_index ? this.account : 0,
        ...(this.comment && { comment: this.comment }),
        ...(session_fields && { custom: session_fields }),
      };

      const c = await this.$confirm({
        title: this.$tt("pages.get_money.messages.confirm_method"),
      });

      if (!c) return;

      this.loading.page = "Завершение операции";

      let { account_type } = this.current_method;

      try {
        await this.$api.put(`/payments/get_money`, {
          account_type,
          ...params,
        });

        this.$alert({
          level: "success",
          title: this.$tt("pages.get_money.messages.get_money_finished"),
        });

        this.$router.push("/get-money");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.page = false;
      }
    },
  },
  validations() {
    const validators = {
      trueOnly(val) {
        return val === true;
      },
      notEmptyValue(val) {
        return val !== null && val !== undefined;
      },
    };

    return {
      ...(this.need_requisite_index && {
        account: {
          notEmptyValue: validators.notEmptyValue,
        },
      }),
      ...(this.need_convert_currency && {
        true_summ: {
          trueOnly: validators.trueOnly,
        },
      }),
      true_data: {
        trueOnly: validators.trueOnly,
      },
    };
  },
};
</script>
