<template>
  <q-dialog no-refocus position="top" :maximized="!!$q.screen.xs" ref="process-category">
    <q-card style="min-width:420px" class="relative-position">
      <div v-show="loading" class="absolute-full light-dimmed flex-center z-top">
        <q-spinner-ios class="z-top" size="20px"></q-spinner-ios>
      </div>

      <q-item clickable class="q-py-lg" v-if="edit">
        <q-item-section>
          <h5 class="q-ma-none">{{ $capitalize(edit.title) }}</h5>
          <div class="text-muted q-mt-xs">
            {{ $tt("warehouse.edit_category") }}
          </div>
        </q-item-section>
      </q-item>

      <q-item clickable class="q-py-lg" v-else>
        <q-item-section>
          <div v-if="parent_category">
            <h5 class="q-ma-none">{{ $capitalize(parent_category.title) }}</h5>
            <div class="text-muted q-mt-xs">
              {{ $tt("warehouse.create_nested_category") }}
            </div>
          </div>
          <div v-else>
            <h5 class="q-ma-none">{{ $tt("common.category", 1) }}: {{ $tt("common.create") }}</h5>
          </div>
        </q-item-section>
      </q-item>

      <q-separator />
      <q-item clickable class="q-py-md">
        <q-item-section>
          <app-input
            :error="$v.title.$anyError"
            v-model="title"
            :label="$tt('common.title', 1)"
            :dense="false"
          ></app-input>
        </q-item-section>
      </q-item>

      <q-item clickable class="q-py-md">
        <q-item-section>
          <app-input
            :error="$v.description.$anyError"
            type="textarea"
            rows="3"
            v-model="description"
            :label="$tt('common.description', 1)"
          ></app-input>
        </q-item-section>
      </q-item>

      <q-item clickable class="q-py-md">
        <q-item-section>
          <div class="flex-center-between">
            <app-btn size="12px" padding="12px" @click="hide" color="negative" flat>
              {{ $tt("common.cancel") }}
            </app-btn>
            <app-btn size="12px" padding="12px" @click="submit" color="positive">
              {{ is_edit ? $tt("common.save") : $tt("common.create") }}
            </app-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: { parent_category: [Object, null], edit: [Object, null, undefined] },
  mounted() {
    if (this.edit) {
      let { title, desc: description } = this.edit;

      this.title = title;
      this.description = description;
    }
  },
  data() {
    return {
      title: null,
      description: null,
      loading: false,
    };
  },
  computed: {
    is_edit() {
      return !!this.edit;
    },
  },
  methods: {
    show() {
      this.$refs["process-category"].show();
    },
    hide() {
      this.$refs["process-category"].hide();
    },
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ level: "danger", title: this.$tt("errors.bad_data", 1) });
        return;
      }

      if (this.is_edit) {
        this.saveCategory();
      } else {
        this.createCategory();
      }

      //   this.$emit("ok", { title, description });
    },
    async createCategory() {
      try {
        this.loading = true;

        let { title: category_title, description: category_description } = this;

        let category = await this.$store.dispatch("Warehouse/CREATE_CATEGORY", {
          category_title,
          category_description,
          category_parent: (this.parent_category && this.parent_category.id) || 0,
        });

        this.$emit("ok", category);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    async saveCategory() {
      try {
        this.loading = true;
        let { title: category_title, description: category_description } = this;

        const updated = await this.$store.dispatch("Warehouse/SAVE_CATEGORY", {
          category_id: this.edit.id,
          category_title,
          category_description,
        });

        this.$emit("ok", updated);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data", 1) });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      title: { required },
      description: { required },
    };
  },
};
</script>
