<template>
  <PageContainer class="page page--auth auth-page">
    <div class="flex column justify-center items-center" style="min-height:63vh;">
      <!-- <template #title> -->
      <!-- <div> -->
      <div class="text-center q-mb-xl">
        <h2>
          {{ $tt("common.authorization", 1) }}
        </h2>
      </div>
      <!-- </template> -->
      <div class="auth-page__form">
        <form @submit.prevent="submit" class="flex column items-start">
          <app-input
            required
            v-model="login"
            :label="$tt('common.login', 1)"
            :dense="false"
            class="full-width q-mb-lg"
            name="login"
          />
          <app-input
            required
            name="password"
            type="password"
            :label="$tt('common.password', 1)"
            v-model="password"
            :dense="false"
            class="full-width q-mb-lg"
          />
          <div class="flex full-width justify-center q-mt-md">
            <app-btn
              padding="md"
              :submit="$q.screen.xs"
              type="submit"
              class="q-px-xl"
              color="positive"
            >
              {{ $tt("common.login", 1) }}
            </app-btn>
          </div>
          <!-- <div class="text-muted text-center full-width q-my-lg">
            or
          </div>
          <app-btn
            icon="ion-logo-google"
            class="full-width"
            color="red"
            @click="signIn"
          >
            &nbsp; Sign In with Google
          </app-btn> -->
          <!-- <app-btn class="text-red" @click="signOut">signOut</app-btn> -->
        </form>
      </div>
      <table class="q-mt-xl">
        <tr>
          <td align="right">
            <div class="text-muted q-mr-lg">
              {{ $tt("common.not_registered_yet") }}
            </div>
          </td>
          <td align="left">
            <app-btn to="/register" size="12px" class="bg-red-1" color="red" flat>
              {{ $tt("common.create", 1) }} {{ $tt("common.account", 1) }}
            </app-btn>
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td align="right">
            <div class="text-muted q-mr-lg">
              {{ $tt("common.forgot_password") }}
            </div>
          </td>
          <td align="left">
            <app-btn to="/restore-password" size="12px" class="bg-blue-1" color="blue" flat>
              {{ $tt("common.restore_account") }}
            </app-btn>
          </td>
        </tr>
      </table>

      <!-- </div> -->
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      login: null,
      password: null,
    };
  },
  methods: {
    async submit() {
      const { login, password } = this;

      try {
        this.$store.commit("app/SET_LOADING", true);

        let status = await this.$store.dispatch("auth/AUTH_REQUEST", {
          login,
          password,
        });

        if (!status) {
          return;
        }

        let cameFrom = this.$route.query && this.$route.query.cameFrom;

        if (cameFrom) {
          this.$router.push(cameFrom);
        } else this.$router.push("/");

        this.$store.dispatch("Finances/GET_BALANCE");
        this.$store.dispatch("Notifications/GET_COUNT");
        this.$store.dispatch(`Finances/GET_CURRENCY_RATES`);

        let { enabled } = await this.$store.dispatch("2fa/GET_STATUS");

        if (!enabled) {
          let Auth2fa = this.$q.notify({
            icon: "add_moderator",
            message: this.$tt("common.account_security"),
            caption: this.$tt("messages.2fa_warn"),
            position: "bottom-right",
            progress: true,
            timeout: 14000,
            actions: [
              {
                label: this.$tt("common.hide"),
                color: "white",
                handler: () => {
                  Auth2fa();
                },
              },
              {
                label: this.$tt("common.turn_on"),
                color: "positive",
                handler: () => {
                  this.$router.push("/settings/2fa");
                },
              },
            ],
          });
        }
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, {
          fallbackMessage: "Неопознанная ошибка авторизации",
        });

        this.$store.commit("auth/AUTH_ERROR");
      } finally {
        this.$store.commit("app/SET_LOADING", false);
      }
    },
  },
};
</script>

<style lang="scss">
.auth-page {
  &__form {
    min-width: 280px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}
</style>
