<template>
  <PageContainer with-back title="Восстановление пароля">
    <div class="container">
      <form @submit.prevent="restore">
        <div style="max-width:420px;width:100%">
          <app-input ref="login" v-model="login" label="Введите логин"></app-input>

          <app-btn
            type="submit"
            :disable="!login || !login.length"
            class="q-mt-md"
            padding="md"
            color="accent"
          >
            Восстановить
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
export default {
  mounted() {
    let input = this.$refs["login"];

    setTimeout(() => {
      input && input.focus();
    }, 0);
  },

  data() {
    return {
      login: null,
    };
  },
  methods: {
    restore() {
      try {
        this.loading = true;

        let { login } = this;

        this.$api.post(`auth/recovery`, { login });

        this.$alert({
          level: "success",
          title:
            "Вы запросили письмо для восстановления пароля. Если вы правильно внесли логин или email, то письмо придет на адрес, указанный в аккаунте в Seller-Online. Если письмо не пришло - проверьте папку SPAM. Если в течение 10-15 минут вы так и не получили письмо, то, возможно, вы ошиблись в указании логина или email.",
        });

        this.$router.push("/login");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось обработать запрос. Попробуйте ещё раз.",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
