<template>
  <PageContainer :title="$tt('common.registration', 1)" class="register-page">
    <div class="container">
      <app-banner level="info" class="q-mb-lg">
        <div
          class="flex full-width items-center justify-between no-wrap "
          :class="$q.screen.xs && 'column'"
        >
          <div>
            {{ $tt("pages.register.agreement_message") }}
          </div>
          <app-btn
            :class="$q.screen.xs && 'q-mt-lg'"
            color="blue-8"
            @click="$openURL('https://seller-online.com/user-agreement/')"
            padding="md"
          >
            {{ $tt("pages.register.agreement") }}
          </app-btn>
        </div>
      </app-banner>

      <form @submit.prevent="submitRegister">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <app-select
            :dense="false"
            transition-show="jump-down"
            transition-hide="jump-up"
            :loading="loading"
            :label="$tt('common.country', 1)"
            :error="$v.reg_data.country.$anyError"
            :value="reg_data.country"
            @input="
              (country) => {
                reg_data.country = country;

                if (!is_UA) {
                  reg_data.user_type = 'individual';
                } else {
                  reg_data.user_type = null;
                }
              }
            "
            :options="countries"
            :option-label="(opt) => opt && `${opt.iso} - ${opt.name}`"
            :option-value="(opt) => opt && opt.id"
          >
            <!-- <template v-slot:selected="selected">
                    {{selected}}
                  </template> -->
          </app-select>
        </div>

        <q-slide-transition appear :duration="420">
          <app-select
            transition-show="jump-down"
            transition-hide="jump-up"
            :label="$tt('pages.register.pick_user_type')"
            :dense="false"
            :options="user_types"
            option-label="title"
            option-value="code"
            v-model="reg_data.user_type"
            :error="$v.reg_data.user_type.$anyError"
            emit-value
            map-options
            class="q-mt-md"
            @input="$v.reg_data.$reset()"
            v-if="reg_data?.country?.iso === 'UA'"
          >
            <!-- <template v-slot:selected="selected">
            {{ selected }}
          </template> -->
          </app-select>
        </q-slide-transition>
        <br />
        <q-slide-transition appear :duration="420">
          <div class="row q-col-gutter-lg" v-if="reg_data?.country">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.email.$anyError"
                :label="$tt('common.email', 1)"
                v-model="reg_data.email"
              ></app-input>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                readonly
                :value="$tt('pages.register.auto_create')"
                :label="$tt('common.password', 1)"
              ></app-input>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.name.$anyError"
                :label="$tt('common.name', 1)"
                v-model="reg_data.name"
              ></app-input>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.lastname.$anyError"
                :label="$tt('common.lastname', 1)"
                v-model="reg_data.lastname"
              ></app-input>
            </div>

            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12"
              v-if="false && needItn"
            >
              <app-input
                :dense="false"
                :error="$v.reg_data.itn.$anyError"
                :label="$tt('common.itn', 1)"
                v-model="reg_data.itn"
              ></app-input>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" v-if="needPsrn">
              <app-input
                :dense="false"
                :error="$v.reg_data.psrn.$anyError"
                label="ОГРН"
                v-model="reg_data.psrn"
              ></app-input>
            </div>

            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12"
              v-if="needCompanyName"
            >
              <app-input
                :dense="false"
                :error="$v.reg_data.company_name.$anyError"
                :label="$tt('common.company', 1)"
                v-model="reg_data.company_name"
              ></app-input>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.phone.$anyError"
                prefix="+"
                :label="$tt('common.phone', 1)"
                v-model="reg_data.phone"
              >
              </app-input>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.city.$anyError"
                :label="$tt('common.city', 1)"
                v-model="reg_data.city"
              ></app-input>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.zip.$anyError"
                :label="$tt('common.zip', 1)"
                v-model="reg_data.zip"
              ></app-input>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <app-input
                :dense="false"
                :error="$v.reg_data.address.$anyError"
                :label="$tt('common.address', 1)"
                v-model="reg_data.address"
              ></app-input>
            </div>

            <div class="col-12">
              <q-checkbox
                color="accent"
                :class="accept_offer_error && !accept_offer && 'text-negative'"
                v-model="accept_offer"
                size="56px"
                class="q-mt-lg"
              >
                <div
                  v-html="$tt('pages.register.accept_agreement_message')"
                  class="q-pl-md"
                ></div>
              </q-checkbox>
            </div>

            <div class="col-12 q-mt-md">
              <div class="flex justify-center">
                <app-btn
                  padding="md xl"
                  type="submit"
                  class="q-mt-lg"
                  color="positive"
                  :disable="$v.reg_data.$error"
                  :submit="$q.screen.xs"
                >
                  {{ $tt("common.registration") }}
                </app-btn>
              </div>
            </div>
          </div>
        </q-slide-transition>
      </form>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  async mounted() {
    this.loading = true;
    try {
      // let browserlang = window.navigator.language;
      let browserlang = Intl.DateTimeFormat().resolvedOptions().locale;

      let fallbackLanguage = "uk";

      browserlang = (browserlang && browserlang.toLowerCase()) || fallbackLanguage;

      let sitelang = browserlang.includes("ua")
        ? "uk"
        : browserlang.includes("ru")
        ? "ru"
        : browserlang.includes("en")
        ? "us"
        : browserlang;

      this.lang_code = sitelang;

      this.$store.commit("app/SET_LANG", this.lang_code);

      this.countries = await this.$store.dispatch("Info/GET_REG_COUNTRIES");
    } catch (e) {
      console.log(e);
    } finally {
      this.loading = false;
    }
  },
  data() {
    return {
      lang_code: null,
      reg_data: {
        email: null,
        fio: null,
        address: null,
        zip: null,
        city: null,
        phone: null,
        country: null,
        user_type: null,
        itn: null,
        psrn: null,
        company_name: null,
      },
      loading: false,
      countries: [],
      accept_offer: false,
      accept_offer_error: false,
      user_types: [
        {
          title: this.$tt("pages.register.user", 1),
          code: "individual",
        },
        {
          title: this.$tt("pages.register.flp", 1),
          code: "self_employed",
        },
        {
          title: this.$tt("pages.register.lcc"),
          code: "entity",
        },
      ],
    };
  },
  computed: {
    is_UA() {
      return this.reg_data?.country?.iso === "UA" || false;
    },
    needCompanyName() {
      return this.is_UA && ["entity", "self_employed"].includes(this.reg_data.user_type);
    },
    needItn() {
      return (
        this.is_UA && ["individual", "self_employed"].includes(this.reg_data.user_type)
      );
    },
    needPsrn() {
      return this.is_UA && this.reg_data.user_type === "entity";
    },
  },

  methods: {
    async submitRegister() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });

        return;
      }

      if (!this.accept_offer) {
        this.accept_offer_error = true;
        this.$alert({
          level: "warning",
          title: this.$tt("pages.register.accept_agreement_warn"),
        });

        return;
      } else {
        this.accept_offer_error = false;
      }

      let {
        country,
        phone,
        name,
        lastname,
        // user_type,
        ...data
      } = this.reg_data;

      try {
        const registration = await this.$api.post(
          `/v2/register/`,
          {
            ...data,
            // user_type: country?.iso === "UA" ? user_type : "individual",
            fio: `${name} ${lastname}`,
            phone: `+${phone}`,
            lang_code: this.lang_code,
            country: country?.id,
          },
          {
            headers: {
              "ACCESS-KEY": process.env.SELLER_API_ACCESS_KEY,
            },
          }
        );

        if (registration.status === 200) {
          this.$alert({
            level: "success",
            title: this.$tt("pages.register.success_register_message"),
            message: this.$tt("pages.register.register_password_hint"),
          });

          this.$router.push("/login");
        }
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Сервер ответил ошибкой",
        });
      } finally {
      }
    },
  },
  validations() {
    return {
      reg_data: {
        email: { required },
        // fio: { required },
        name: { required },
        lastname: { required },
        address: { required },
        zip: { required },
        city: { required },
        phone: { required },
        country: { required },
        user_type: { required },
        // itn: {
        //   required: requiredIf(function() {
        //     return this.needItn;
        //   }),
        // },
        psrn: {
          required: requiredIf(function() {
            return this.needPsrn;
          }),
        },
        company_name: {
          required: requiredIf(function() {
            return this.needCompanyName;
          }),
        },
      },
    };
  },
};
</script>

<style lang="scss">
.register-page {
  .container {
    max-width: 777px;
  }
}
</style>
