<template>
  <!-- <PageContainer> -->
  <q-page class="flex-center" style="height:100%">
    <div class="flex column items-center fit">
      <q-spinner-oval color="primary" :size="'2.42em'" class="q-mb-md" />

      <!-- <h6>Создание нового пароля...</h6> -->

      <div class="text-muted">
        Создание нового пароля...
      </div>
    </div>
  </q-page>
  <!-- </PageContainer> -->
</template>
<script>
export default {
  mounted() {
    this.restoreParams = this.$route.query;
    this.createPassword();
  },
  created() {},
  data() {
    return {
      restoreParams: null,
    };
  },
  methods: {
    async createPassword() {
      // PUT auth/recovery
      try {
        await this.$api.put(`/auth/recovery`, this.restoreParams);

        this.$alert({
          level: "success",
          title: "Новый пароль выслан Вам на почту. Воспользуйтесь им для входа.",
        });

        this.$store.dispatch("auth/AUTH_LOGOUT");
        this.$router.push("/");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось создать новый пароль. Повторите попытку.",
        });
      }
    },
  },
};
</script>
<style lang="scss"></style>
