<template>
  <PageContainer :loading="loading" :title="$tt('nav.account.summary_info', 1)">
    <template #actions>
      <div class="flex q-gutter-x-md">
        <app-btn
          padding="11px"
          size="12px"
          @click="downloadReport"
          class="text-accent line-height1"
        >
          <q-icon name="save" size="17px" class="q-mr-xs"></q-icon>
          {{ $tt("common.download") }}
        </app-btn>
        <date-picker @clear="clearFilter" v-model="date" range>
          <template #actions>
            <div class="flex-center-between">
              <app-btn flat color="negative" icon="close" v-close-popup></app-btn>
              <app-btn
                v-close-popup
                @click="getReport"
                :disable="!date.from || !date.to"
                color="primary"
              >
                {{ $tt("common.pick") }}
              </app-btn>
            </div>
          </template>
        </date-picker>
      </div>
    </template>

    <with-loading :state="loading" />

    <div class="container" v-if="stat">
      <div class="row q-col-gutter-md">
        <div class="col">
          <app-list class="q-mb-lg" :header="$tt('nav.buys._parent')">
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">{{ $tt("common.count", 1) }} покупок</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ stat.buys_count || 0 }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500"
                  >Покупок на {{ $tt("common.summ", 0, 2) }}</q-item-label
                >
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.buys_sum) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>
        <div class="col">
          <app-list class="q-mb-lg" :header="$tt('common.shipment', 1)">
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.shipment", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ stat.shippings_count }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.shipment", 1) }} на {{ $tt("common.summ", 0, 2) }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.shippings_sum) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>

        <div class="col-12">
          <app-list :header="$tt('nav.sells._parent')">
            <q-item>
              <q-item-section>
                <q-item-label class="font-500"> {{ $tt("nav.sells._parent") }} </q-item-label>
                <q-item-label caption>
                  {{ $tt("common.count") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ stat.sales_count }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">{{ $tt("common.summ", 1) }} оплат</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.sales_sum) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500"
                  >{{ $tt("common.comission", 1) }} PayPal</q-item-label
                >
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.pp_tax) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500"
                  >{{ $tt("common.comission", 1) }} Seller Online</q-item-label
                >
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.sol_tax) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">Sales Tax</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.sales_tax) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.return", 1) }}
                </q-item-label>
                <q-item-label caption>
                  {{ $tt("common.summ") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.refunded_sum) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500"
                  >{{ $tt("common.summ", 1) }} {{ $tt("common.transaction", 0, 2) }}</q-item-label
                >
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ $toUSD(stat.profit) }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.inputed_valid_tracks") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ stat.validated_track }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.need_to_ship") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">
                    {{ stat.need_to_send }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item :class="[stat.delta_orders_count < 0 ? 'text-negative' : 'text-positive']">
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.orders_count_dynamic") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">{{ stat.delta_orders_count }}%</div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item :class="[stat.delta_orders_sum < 0 ? 'text-negative' : 'text-positive']">
              <q-item-section>
                <q-item-label class="font-500">
                  {{ $tt("common.income_dynamic") }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <div class="text-subtitle1">{{ stat.delta_orders_sum }}%</div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { exportFile } from "quasar";

export default {
  created() {
    this.getReport();
  },
  data() {
    return {
      date: {
        from: null,
        to: null,
      },
      loading: false,
      stat: null,
    };
  },
  methods: {
    splitDate(date) {
      let [year, mon, day] = date.split("-");

      return {
        year: +year,
        mon: +mon,
        day: +day,
      };
    },
    async getReport(params = {}) {
      this.loading = true;

      if (this.date.from && this.date.to) {
        params = {
          from_date: this.splitDate(this.date.from),
          to_date: this.splitDate(this.date.to),
        };
      }

      try {
        const {
          data: { stats },
        } = await this.$api.post(`/reports/customer_stat`, params);

        this.stat = stats;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
      } finally {
        this.loading = false;
      }
    },
    async downloadReport() {
      if (!this.date.from || !this.date.to) {
        this.$alert({
          title: "Выберите промежуток дат для отчёта",
          level: "warning",
        });
        return;
      }

      try {
        this.loading = true;

        const { data } = await this.$api({
          method: "POST",
          url: `/reports/customer_stat/download_xlsx`,
          responseType: "arraybuffer",
          data: {
            from_date: this.splitDate(this.date.from),
            to_date: this.splitDate(this.date.to),
          },
        });

        exportFile(
          `summary-report-${this.date.from}-${this.date.to}-${new Date().getTime()}.xlsx`,
          data,
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        );
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось получить отчёт" });
      } finally {
        this.loading = false;
      }
    },
    clearFilter() {
      this.date = {
        from: null,
        to: null,
      };

      this.getReport();
    },
  },
};
</script>
<style lang="scss"></style>
