<template>
  <PageContainer :title="$capitalize($tt('common.main_page'))">
    <template #before>
      <div class="container flex column q-gutter-y-lg">
        <div>
          <q-card flat bordered class="bg-blue-9 text-white">
            <q-item class="q-py-md">
              <q-item-section side>
                <q-icon
                  name="img:img/logos/crm-logo-mini-white.svg"
                  size="50px"
                ></q-icon>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-subtitle1 font-500">
                  {{ $tt("messages.welcome_crm.title") }}

                  <q-badge
                    color="white"
                    text-color="blue-9"
                    style="font-size:16px"
                    class="q-pa-sm font-500"
                  >
                    Seller-Online CRM
                  </q-badge>
                </q-item-label>
                <q-item-label
                  caption
                  class="text-grey-1 q-pt-xs text-bold"
                  style="font-size:14px"
                >
                  {{ $tt("messages.welcome_crm.text") }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-separator></q-separator>
            <q-item clickable class="q-py-md" tag="label">
              <q-item-section>
                <q-item-label class="font-500" style="font-size:17px">
                  {{ $tt("messages.welcome_crm.free_period") }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label>
                  <app-btn
                    :href="`https://crm.seller-online.com/`"
                    target="_blank"
                    color="white"
                    text-color="blue-9"
                    class="text-bold"
                    size="14px"
                  >
                    {{ $tt("messages.welcome_crm.button") }}
                  </app-btn>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-card>
        </div>

        <div>
          <q-banner class="text-blue-7 bg-blue-1 rounded-borders q-py-lg">
            <div class="flex items-center no-wrap">
              <div
                :class="$q.screen.xs && 'hidden'"
                style="height:50px"
                class="q-mr-md"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="50px"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <g><rect fill="none" height="24" width="24" y="0" /></g>
                  <g>
                    <path
                      d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M16.64,8.8 c-0.15,1.58-0.8,5.42-1.13,7.19c-0.14,0.75-0.42,1-0.68,1.03c-0.58,0.05-1.02-0.38-1.58-0.75c-0.88-0.58-1.38-0.94-2.23-1.5 c-0.99-0.65-0.35-1.01,0.22-1.59c0.15-0.15,2.71-2.48,2.76-2.69c0.01-0.03,0.01-0.12-0.05-0.18c-0.06-0.05-0.14-0.03-0.21-0.02 c-0.09,0.02-1.49,0.95-4.22,2.79c-0.4,0.27-0.76,0.41-1.08,0.4c-0.36-0.01-1.04-0.2-1.55-0.37c-0.63-0.2-1.12-0.31-1.08-0.66 c0.02-0.18,0.27-0.36,0.74-0.55c2.92-1.27,4.86-2.11,5.83-2.51c2.78-1.16,3.35-1.36,3.73-1.36c0.08,0,0.27,0.02,0.39,0.12 c0.1,0.08,0.13,0.19,0.14,0.27C16.63,8.48,16.65,8.66,16.64,8.8z"
                    />
                  </g>
                </svg>
              </div>
              <div
                class="full-width "
                :class="$q.screen.xs ? 'flex column' : 'flex-center-between'"
              >
                <div style="font-weight:500">
                  <!-- В Telegram есть наш канал для консультаций, обменом опыта и обсуждения новостей. Добро пожаловать! -->
                  {{ $tt("pages.dashboard.tg_welcome_message") }}
                </div>

                <app-btn
                  class="bg-blue-7 text-white text-bold"
                  size="11px"
                  padding="9px 16px"
                  :class="[$q.screen.xs ? 'q-mt-md' : 'q-px-md q-ml-lg']"
                  style="color:#0088cc;"
                  @click="$openURL('https://t.me/joinchat/BpbggpO8tDEyNzhi')"
                >
                  {{ $tt("common.go_to") }}
                </app-btn>
              </div>
            </div>
          </q-banner>
        </div>
      </div>
    </template>

    <div class="container">
      <div class="q-gutter-y-xl">
        <div>
          <div class="flex-center-between q-mb-lg">
            <h5 class="line-height1">
              {{ $tt("pages.dashboard.last_news") }}
            </h5>

            <app-btn
              size="11px"
              padding="9px 16px"
              icon-right="chevron_right"
              color="primary"
              @click="$openURL('https://seller-online.com/category/novosti/')"
            >
              {{ $tt("common.all_records", 1) }}
            </app-btn>
          </div>
          <div
            v-if="!$store.state.Blog.loading && blogPosts"
            class="row q-col-gutter-md"
          >
            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
              v-for="post in blogPosts"
              :key="post.postId"
            >
              <q-card flat bordered>
                <q-img
                  v-if="post.image"
                  no-default-spinner
                  height="240px"
                  cover
                  :src="post.image"
                >
                  <template #loading>
                    <q-skeleton class="absolute-full"></q-skeleton>
                  </template>
                </q-img>

                <div
                  style="height:240px"
                  v-else
                  class="gradient-grey flex q-pa-lg items-center"
                >
                  <div class="flex column ">
                    <q-icon
                      name="newspaper"
                      color="accent"
                      class="q-mb-md"
                      size="35px"
                    ></q-icon>
                    <h4
                      style="font-size:21px"
                      class="ellipsis-3-lines q-ma-none text-accent"
                    >
                      {{ post.title }}
                    </h4>
                  </div>
                </div>

                <q-card-section>
                  <div class="text-h6 text-accent">
                    <div class="ellipsis" v-html="post.title"></div>
                  </div>
                  <small class="text-muted">{{ post.date }}</small>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <p class="ellipsis-3-lines">
                    {{ post.text }}
                  </p>

                  <app-btn
                    color="accent"
                    @click="$openURL(post.url)"
                    class="full-width q-mt-sm"
                    flat
                    size="12px"
                    padding="14px"
                  >
                    {{ $capitalize($tt("common.show_more")) }}
                  </app-btn>
                </q-card-section>
                <!-- <q-separator></q-separator> -->
              </q-card>
            </div>
          </div>

          <div v-else-if="loading.blog" class="row q-col-gutter-md">
            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
              v-for="idx in Array.from(
                { length: $q.screen.sm ? 4 : 3 },
                (x, i) => i
              )"
              :key="`post-skeleon-${idx}`"
            >
              <q-card flat bordered>
                <q-skeleton height="240px" square />
                <q-card-section class="q-p-sm">
                  <q-skeleton type="text" height="32px" />
                  <q-skeleton type="text" height="13px" width="20%" />
                </q-card-section>
                <q-card-section class="q-pt-none q-mb-md">
                  <q-skeleton type="text" />
                  <q-skeleton type="text" />
                  <q-skeleton type="text" />
                </q-card-section>
                <q-card-actions align="left">
                  <q-skeleton width="100%" height="45px" type="QBtn" />
                </q-card-actions>
              </q-card>
            </div>
          </div>
        </div>

        <!-- * * * * * * * * * * * * DASHBOARD: RECENT SHIPMENTS * * * * * * * * * * * *  -->
        <div>
          <div class="flex-center-between q-mb-lg">
            <h5>
              {{ $tt("pages.dashboard.last_created_shipments") }}
            </h5>
            <app-btn
              icon-right="add_circle"
              to="/shipments/create"
              color="primary"
              size="11px"
              padding="9px 16px"
              :class="$q.screen.xs && 'q-mt-sm'"
            >
              {{
                $tt("common.create") +
                  " " +
                  $tt("pages.dashboard.new_shipment")
              }}&nbsp;&nbsp;
            </app-btn>
          </div>

          <app-table-list
            :loading="loading.shipments"
            colspan="7"
            :empty="
              (!recent.shipments || !recent.shipments.length) &&
                $tt('common.not_specified', 1)
            "
          >
            <template #actions> </template>

            <template #thead>
              <tr class="text-left">
                <th>
                  {{ $tt("common.parcel_number", 1) }}
                </th>
                <th>
                  {{ $tt("common.carrier", 1) }}
                </th>
                <th>
                  {{ $tt("common.type", 1) }}
                </th>
                <th>
                  {{ $tt("common.status", 1) }}
                </th>
                <th>
                  {{ $tt("common.created_at", 1) }}
                </th>
                <th>
                  {{ $tt("common.cost", 1) }}
                </th>
                <th class="text-right" side></th>
              </tr>
            </template>

            <router-link
              tag="tr"
              :to="
                shipment.parcels && {
                  name: 'SHIPMENTS_LIST',
                  query: {
                    filter: shipment.parcels[0].parcel_id,
                  },
                }
              "
              v-for="shipment in recent.shipments"
              :key="shipment.id"
            >
              <td>
                {{ shipment.parcels[0].parcel_id }}
              </td>
              <td>
                <span v-if="shipment.parcels[0].parcel_carrier">
                  {{ shipment.parcels[0].parcel_carrier }}
                </span>
                <span class="text-muted" v-else>
                  {{ $tt("errors.not_specified") }}
                </span>
              </td>
              <td>
                {{ shipment.type }}
              </td>
              <td>
                <app-badge color="blue-1" text-color="blue-9">
                  {{ shipment.status }}
                </app-badge>
              </td>
              <td>
                {{ shipment.date }}
              </td>
              <td>
                {{ $toUSD(shipment.cost) }}
              </td>
              <td side class="text-right">
                <q-btn
                  flat
                  round
                  icon="chevron_right"
                  dense
                  size="14px"
                  color="grey-8"
                ></q-btn>
              </td>
            </router-link>

            <router-link to="/shipments/list" tag="tr" class="cursor-pointer">
              <td colspan="6" class="text-primary font-500">
                {{ $tt("shipments.all_shipments", 1) }}
              </td>
              <td side class="text-right">
                <q-btn
                  flat
                  round
                  icon="chevron_right"
                  dense
                  size="14px"
                  color="grey-8"
                ></q-btn>
              </td>
            </router-link>
          </app-table-list>
        </div>
        <!-- * * * * * * * * * * * * DASHBOARD: RECENT SHIPMENTS END * * * * * * * * * * * *  -->

        <!-- * * * * * * * * * * * * DASHBOARD: RECENT PAYMENTS * * * * * * * * * * * *  -->
        <div>
          <h5 class="q-mb-lg">
            {{ $tt("pages.dashboard.last_account_operations") }}
          </h5>

          <app-table-list
            :loading="loading.payments"
            :colspan="4"
            :empty="
              (!recent.payments || !recent.payments.length) &&
                $tt('common.not_specified', 1)
            "
          >
            <template #thead>
              <tr class="text-left">
                <th side style="width:0px;">
                  {{ $tt("common.type", 1) }}
                </th>
                <th class="text-right">
                  {{ $tt("common.summ", 1) }}
                </th>
                <th>
                  {{ $tt("common.operation", 1) }}
                </th>
                <th>
                  {{ $tt("common.date", 1) }}
                </th>
              </tr>
            </template>

            <tr v-for="p in recent.payments" :key="p.id">
              <td>
                <q-icon
                  size="20px"
                  :name="p.payment_type === '+' ? 'add' : 'remove'"
                  :color="p.payment_type === '+' ? 'green-7' : 'grey-7'"
                ></q-icon>
              </td>
              <td
                class="text-right"
                :class="p.payment_type === '+' ? 'text-green-7' : 'text-grey-7'"
                style="font-size:15px"
              >
                <!-- {{ p.payment_type }} -->
                {{ $toUSD(p.payment_sum) }}
              </td>
              <td
                :class="p.payment_type === '+' ? 'text-green-7' : 'text-grey-7'"
              >
                {{ p.payment_operation_name }}
              </td>
              <td style="white-space:nowrap">
                {{ $date(p.payment_date) }}, {{ $time(p.payment_date) }}
              </td>
            </tr>

            <router-link to="/invoices" tag="tr" class="cursor-pointer">
              <td colspan="3" class="text-primary font-500">
                {{ $tt("finances.all_account_operations", 1) }}
              </td>
              <td side class="text-right">
                <q-btn
                  flat
                  round
                  icon="chevron_right"
                  dense
                  size="14px"
                  color="grey-8"
                ></q-btn>
              </td>
            </router-link>
          </app-table-list>
        </div>
        <!-- * * * * * * * * * * * * DASHBOARD: RECENT PAYMENTS END * * * * * * * * * * * *  -->

        <!-- * * * * * * * * * * * * DASHBOARD: RECENT RETURNS * * * * * * * * * * * *  -->
        <div>
          <h5 class="q-mb-lg">
            {{ $tt("common.return", 1, 2) }}
          </h5>
          <app-table-list
            colspan="4"
            :empty="
              (!recent.payments || !recent.payments.length) &&
                $tt('common.not_specified', 1)
            "
            :loading="loading.returns"
          >
            <template #thead>
              <tr class="text-left">
                <th side>
                  {{ $tt("common.created_at", 1) }}
                </th>
                <th side>
                  {{ $tt("common.order_number", 1) }}
                </th>
                <th>
                  {{ $tt("common.picked_action", 1) }}
                </th>
                <th side>
                  {{ $tt("common.status", 1) }}
                </th>
              </tr>
            </template>

            <tr v-for="r in recent.returns" :key="r.id">
              <td side>
                {{ $date(r.date) }}
              </td>
              <td side>
                <span v-if="r.order_id">
                  {{ r.order_id }}
                </span>

                <small class="text-muted" v-else>
                  {{ $tt("errors.not_specified") }}
                </small>
              </td>

              <td side>
                <span v-if="r.action_title">
                  {{ r.action_title }}
                </span>
                <small v-else class="text-muted">
                  {{ $tt("common.not_specified") }}
                </small>
              </td>
              <td style="width:0px" side>
                <app-badge
                  :class="[
                    `text-white bg-${
                      r.status === 'accepted'
                        ? 'positive'
                        : r.status === 'declined'
                        ? 'negative'
                        : r.status === 'operator_created'
                        ? 'blue-8'
                        : 'primary'
                    }`,
                  ]"
                >
                  {{ r.status_title }}
                </app-badge>
              </td>
            </tr>

            <router-link
              to="/shipments/returns"
              tag="tr"
              class="cursor-pointer"
            >
              <td colspan="3" class="text-primary font-500">
                {{ $tt("returns.all_returns") }}
              </td>
              <td side class="text-right">
                <q-btn
                  flat
                  round
                  icon="chevron_right"
                  dense
                  size="14px"
                  color="grey-8"
                ></q-btn>
              </td>
            </router-link>
          </app-table-list>
        </div>
        <!-- * * * * * * * * * * * * DASHBOARD: RECENT RETURNS END * * * * * * * * * * * *  -->
      </div>
    </div>
  </PageContainer>
</template>

<script>
import CurrencyRates from "@/components/CurrencyRates/Side";

export default {
  name: "DashboardPage",
  components: {
    CurrencyRates,
  },

  data() {
    return {
      dashboard: null,
      loading: {
        returns: false,
        payments: false,
        news: false,
        shipments: false,
        blog: false,
      },
      recent: {
        shipments: null,
        returns: null,
        payments: null,
      },
      slide: 1,
    };
  },
  computed: {
    blogPosts() {
      let posts = this.$store.getters["Blog/posts"];

      if (!posts || !posts.length) return null;

      if (!this.$q.screen.xl && !this.$q.screen.lg) return posts;
      else return [posts[0], posts[1], posts[2]];
    },
  },
  mounted() {
    this.getDashData();
  },
  // preFetch() {
  //   // this.getDashData();
  // },
  methods: {
    // * GET LAST SHIPMENTS
    getRecentShipments() {
      return new Promise(async (done, fail) => {
        try {
          let url = `/shipping/shipment`;
          const {
            data: { shipments },
          } = await $api.get(url, { params: { on_page: 5 } });

          this.recent.shipments = shipments;
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.shipments = false;
        }
      });
    },
    getRecentReturns() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { return_shipments },
          } = await this.$api.get(`/shipping/return_shipment`);

          this.recent.returns = return_shipments.slice(0, 5);
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.returns = false;
        }
      });
    },
    getRecentPayments() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { payments },
          } = await this.$api.post(`/payments`, {
            on_page: 5,
          });

          this.recent.payments = payments;

          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.payments = false;
        }
      });
    },
    async getRecentBlogPosts() {
      return new Promise(async (done, fail) => {
        try {
          await this.$store.dispatch("Blog/GET_RECENT_POSTS");
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.blog = false;
        }
      });
    },
    async getDashData() {
      if (!this.$store.getters["auth/is_logged"]) return;

      this.loading.blog = true;
      this.loading.shipments = true;
      this.loading.returns = true;
      this.loading.payments = true;

      try {
        await this.getRecentBlogPosts();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
          notify: true,
        });
      } finally {
        this.loading.blog = false;
      }
      try {
        await this.getRecentShipments();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
          notify: true,
        });
      } finally {
        this.loading.shipments = false;
      }
      try {
        await this.getRecentPayments();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
          notify: true,
        });
      } finally {
        this.loading.payments = false;
      }
      try {
        await this.getRecentReturns();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
          notify: true,
        });
      } finally {
        this.loading.returns = false;
      }
    },
  },
};
</script>
<style lang="scss">
.dashboard {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  &__section {
    margin-bottom: 56px;
    position: relative;
  }

  @mixin new_action($color, $slug) {
    $name: "new-action-" + #{$slug};

    @keyframes #{$name} {
      from {
        // box-shadow: 0 0 0 0px rgba($color, .7);
        box-shadow: 0 0 0 0px rgba($color, 0.42);
      }
      to {
        box-shadow: 0 0 0 10px rgba($color, 0);
      }
    }

    animation: #{$name} 2s ease 0s infinite;
  }

  table {
    th {
      font-weight: bold !important;
    }
  }

  .q-item {
    .q-item__section:last-child {
      text-align: right;
    }
  }
}

.tg-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aadd+1,0088cc+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0088cc+0,00aadd+99 */
  background: rgb(0, 136, 204); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#00aadd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
</style>
