<template>
  <div class="dash-chart">
    <!-- :style="height && `height: ${height}px`" -->
    <div ref="chart-inner" class="dash-chart__inner">
      <div class="dash-chart__axios dash-chart__axios--vertical">
        <div>{{ bars.min }}</div>
        <div>{{ bars.max }}</div>
      </div>
      <div class="dash-chart__axios dash-chart__axios--horizontal"></div>
      <div class="dash-chart__wrp" v-for="(bar, idx) in bars.items" :key="idx">
        <div
          ref="bar"
          :data-value="bar[yKey]"
          class="dash-chart__bar"
          :class="!bar[yKey] && 'dash-chart__bar--zero'"
        >
          <div class="dash-chart__axios-helper">
            <!-- {{ bar[xKey] | formatDate }} -->
            {{ $date(bar[xKey]) }}
            <q-tooltip anchor="bottom middle" self="top middle" :offset="[0, 30]">
              заказы: {{ bar[yKey] }}
            </q-tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    values: {
      type: Array,
    },

    xKey: {
      type: String,
      required: true,
    },
    yKey: {
      type: String,
      required: true,
    },
  },
  computed: {
    bars() {
      let _values = this.values.map((v) => v[this.yKey]);

      return {
        items: this.values.reverse().slice(0, 25),
        max: Math.max(..._values),
        min: Math.min(..._values),
      };
    },
  },
  mounted() {
    const bars = this.$refs.bar;

    // ! DEBUG BARS
    // ! FILL SELLS COUNT BY RANDOM INTs
    // window.IntersectionObserver = undefined;
    // const randomInteger = (min = 0, max = 28) => {
    //   let rand = min - 0.5 + Math.random() * (max - min + 1);
    //   return Math.round(rand);
    // };
    // this.values = this.values.map((v) => (v.value = randomInteger())).reverse();
    // ! DEBUG BARS END

    let _H = this.$refs["chart-inner"].clientHeight || this.$refs["chart-inner"].offsetHeight;

    const riseBars = (el) => {
      if (!!+el.dataset.value) {
        let maxHeight = _H - 14;

        el.style.height = `${(maxHeight / this.bars.max) * el.dataset.value}px`;
      } else {
        el.style.height = `1px`;
      }
    };

    if (!!window.IntersectionObserver) {
      const barsObserver = new IntersectionObserver((bars, observer) => {
        let t = 100;

        bars.forEach((bar) => {
          let el = bar.target;

          if (bar.isIntersecting) {
            setTimeout(() => {
              riseBars(el);
            }, t);
          }
          t += 50;
        });
      });

      setTimeout(() => {
        bars.forEach((bar) => {
          barsObserver.observe(bar);
        });
      }, 100);
    } else {
      setTimeout(() => {
        bars.forEach((bar) => {
          riseBars(bar);
        });
      }, 100);
    }
  },
};
</script>

<style lang="scss" scoped>
.dash-chart {
  $size_modifier: 14px;
  // width: 100%;
  padding: 21px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 22px;
  padding-bottom: 70px;
  padding-left: 28px;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 10px;
    height: 99%;
    width: 100%;
  }

  &__axios {
    background: #999;
    // position: fixed;
    position: absolute;
    display: block;
    width: 100%;

    &--vertical {
      width: 1px;
      height: 100%;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 12px;
      color: #999;

      div {
        padding-right: 7px;
      }
    }

    &--horizontal {
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      min-width: $size_modifier / 1.77;
    }

    &-helper {
      position: absolute;
      top: calc(100% + 14px);
      font-size: 10px;
      width: auto;
      left: 0;
      transform: rotateZ(90deg);
      cursor: pointer;
      // will-change: transform;

      &:hover {
        color: $accent;
      }
    }
  }

  &__wrp {
    margin-right: $size_modifier / 1.55;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2n) {
      .dash-chart__axios-helper {
        transform: scale(0.77) rotateZ(90deg);
        opacity: 0.77;
      }
    }

    &:last-child {
      .dash-chart__axios-helper {
        display: block;
        font-weight: bold;
        font-size: 12px;
      }
    }

    &:hover {
      .dash-chart__tip {
        display: block;
      }
    }
  }

  &__bar {
    min-width: $size_modifier / 1.77;
    // border-radius: $size_modifier * 10;
    border-radius: 2px;
    height: 0;
    opacity: 1;
    transition: height cubic-bezier(1, 0.01, 0.44, 1.01) 0.42s;
    position: relative;
    min-height: 4px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.14);
    }

    background-color: $accent;

    div {
      width: 100%;
    }

    &--zero {
      height: 0;
      filter: grayscale(1);
      min-height: 2px;
      opacity: 0.4;
    }
  }
}
</style>
