<template>
  <PageContainer :loading="loading.service">
    <div>
      <q-img
        src="https://mmr.ua/wp-content/uploads/2021/05/ecommerce-1200x580.jpg"
        cover
        height="350px"
      >
        <div class="absolute-full flex flex-center">
          <div class="container">
            <h1 v-if="service && service.name" class="text-white q-mt-lg">
              {{ getLangService(service.name).text }}
            </h1>
            <div v-else class="q-mb-xl">
              <q-skeleton height="52px"></q-skeleton>
            </div>

            <div
              class="q-mt-xl text-body1 text-white ellipsis-3-lines"
              style="white-space:pre-wrap;"
              v-html="getLangService(service.desc).text"
              v-if="service && service.desc"
            ></div>

            <div v-else class="q-gutter-y-sm q-mt-xl">
              <q-skeleton type="rect"></q-skeleton>
              <q-skeleton type="rect"></q-skeleton>
              <q-skeleton type="rect"></q-skeleton>
            </div>
          </div>
        </div>
      </q-img>
    </div>

    <div class="container">
      <div v-if="service">
        <q-banner
          v-if="service.first_time_free"
          class="q-mt-xl bg-orange-1 text-white rounded-borders relative-position overflow-hidden"
        >
          <div class="flex items-center no-wrap q-py-md">
            <q-icon size="63px" class="q-mr-md" color="orange-4" name="local_activity"></q-icon>
            <div class="font-500 text-orange-4 text-subtitle1">
              {{ $tt("pages.services.first_time_free") }}
            </div>
          </div>
        </q-banner>

        <q-expansion-item
          class="q-my-xl"
          label="Описание"
          header-class="bg-grey-3 rounded-borders"
          :value="true"
        >
          <div
            class="text-subtitle1 q-mt-lg q-mb-xl"
            style="white-space:pre-wrap;"
            v-html="getLangService(service.desc).text"
            v-if="service"
          ></div>
        </q-expansion-item>

        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div v-if="fields && fields.length">
              <!-- <h4 class="q-mb-xl">Заполните заявку</h4> -->

              <div class="row q-col-gutter-lg">
                <div class="col-12" v-for="(f, idx) in fields" :key="f.field_id">
                  <div v-if="f.field_type === 'text'">
                    <app-input
                      v-model.trim="f.value"
                      :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
                      :label="getLangService(f.name).text"
                      type="text"
                      :dense="false"
                      :name="`service-field-${f.field_id}`"
                    ></app-input>
                  </div>

                  <div v-else-if="f.field_type === 'textarea'">
                    <app-input
                      v-model.trim="f.value"
                      :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
                      :label="getLangService(f.name).text"
                      type="textarea"
                      rows="4"
                    ></app-input>
                  </div>

                  <div v-else-if="f.field_type === 'number'">
                    <app-input
                      v-model.trim="f.value"
                      :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
                      :label="getLangService(f.name).text"
                      :dense="false"
                    ></app-input>
                  </div>

                  <div v-else-if="f.field_type === 'checkbox'">
                    <q-list
                      style="border: 1px solid rgba(0, 0, 0, 0.24);"
                      class="bg-white rounded-borders"
                    >
                      <q-item clickable class="q-py--md" tag="label">
                        <q-item-section>
                          <q-item-label class="text-subtitle1">
                            <!-- <div class="font-500"></div> -->

                            {{ getLangService(f.name).text }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          <q-item-label>
                            <q-toggle
                              v-model="f.value"
                              :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
                              size="40px"
                              true-value="true"
                              false-value="false"
                              color="positive"
                            >
                            </q-toggle>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </div>

                  <div v-else-if="f.field_type === 'select'">
                    <app-list
                      :header="getLangService(f.name).text"
                      :error="
                        $v.fields.$each[idx] && $v.fields.$each[idx].$error && 'Выберите значение'
                      "
                    >
                      <q-item
                        tag="label"
                        v-for="(opt, idx) in f.field_values"
                        :key="idx"
                        :class="f.value === idx && 'text-primary font-500 bg-blue-1'"
                      >
                        <q-item-section>
                          <q-item-label class="text-subtitle2">
                            {{ getLangService(opt).text }}
                          </q-item-label>
                        </q-item-section>

                        <q-item-section side>
                          <q-item-label>
                            <q-radio
                              :name="`field-radio-${f.field_id}`"
                              v-model="f.value"
                              :val="String(idx)"
                            ></q-radio>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </app-list>
                  </div>

                  <div v-else-if="f.field_type === 'file'">
                    <!-- <FileInput /> -->
                    <!--  -->
                    <div class="flex no-wrap relative-position">
                      <q-card
                        :style="
                          $v.fields.$each[idx] &&
                            $v.fields.$each[idx].$error &&
                            'border-width:2px;border-color: #de4747'
                        "
                        bordered
                        flat
                        class="full-width"
                      >
                        <q-file
                          borderless
                          hide-bottom-space
                          @input="(files) => updateFiles(files, f.field_id)"
                          :label="f.name[0].text"
                          :multiple="f.field_multiple"
                          class="bg-white full-width q-px-md rounded-borders"
                          :ref="`file-field-${f.field_id}`"
                          :disable="loading.files"
                          :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
                          accept=""
                          max-file-size="1000000"
                          :value="f.value"
                        >
                          <template #selected>
                            <small class="font-500">
                              {{ $tt("common.picked", 1) }}: {{ (f.value || []).length }}
                            </small>
                          </template>

                          <template #append>
                            <div class="flex-center q-gutter-x-sm">
                              <app-btn
                                :loading="loading.files"
                                @click="pickFiles(`file-field-${f.field_id}`)"
                                color="blue-8"
                                class="bg-indigo-1 font-500"
                                icon="file_open"
                                padding="10px 14px"
                                size="10px"
                              >
                                &nbsp;&nbsp;{{ $tt("common.pick") }}
                                {{ $tt("common.file", 0, f.field_multiple ? 2 : 1) }}
                              </app-btn>
                            </div>
                          </template>
                        </q-file>

                        <div v-if="files[f.field_id] && files[f.field_id].length">
                          <q-separator></q-separator>
                          <q-list separator>
                            <q-item
                              v-for="({ type, name, size }, idx) in files[f.field_id]"
                              :key="`${name}-${size}-${f.field_id}-${idx}`"
                            >
                              <q-item-section side>
                                <q-item-label>
                                  <!-- {{ type }} -->
                                  <q-icon
                                    size="28px"
                                    :name="
                                      type.includes('image')
                                        ? 'image'
                                        : type.includes('pdf')
                                        ? 'picture_as_pdf'
                                        : 'quiz'
                                    "
                                  ></q-icon>
                                </q-item-label>
                              </q-item-section>

                              <q-item-section>
                                <q-item-label>
                                  {{ name }}
                                </q-item-label>
                                <q-item-label caption> {{ humanStorageSize(size) }} </q-item-label>
                              </q-item-section>
                              <q-item-section side>
                                <q-item-label>
                                  <q-btn
                                    flat
                                    icon="close"
                                    round
                                    size="12px"
                                    text-color="negative"
                                    @click="cancelFile(f.field_id, idx, f.value)"
                                  ></q-btn>
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </div>
                      </q-card>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="q-mt-lg q-mb-xl">
                    <!-- standout="bg-orange-1 text-brown-4" -->
                    <app-input
                      :dense="false"
                      rows="3"
                      :label="$tt('common.comment', 1)"
                      type="textarea"
                      v-model="comment"
                    ></app-input>
                  </div>
                </div>

                <div class="col-12">
                  <q-card bordered flat>
                    <q-list class="relative-position" v-if="service.annual_cost">
                      <q-item class="q-py-lg">
                        <q-item-section avatar>
                          <q-item-label>
                            <div class="relative-position">
                              <!-- color="green-7" -->
                              <q-checkbox
                                color="orange-6"
                                id="annual-payment"
                                size="56px"
                                v-if="service.annual_cost"
                                v-model="annual_payment"
                                class="z-top"
                              >
                              </q-checkbox>
                            </div>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>
                            <div
                              class="text-grey-7 text-weight-light q-mb-md"
                              style="font-size:22px"
                            >
                              {{ $tt("pages.services.buy_year_package") }}
                            </div>
                            <div class="q-mt-sm">
                              <div class="flex items-center">
                                <q-chip
                                  dense
                                  square
                                  class="font-500 q-ma-none q-mr-sm q-py-lg q-px-md "
                                  :text-color="annual_payment ? 'orange-1' : 'grey-7'"
                                  :color="annual_payment ? 'orange-6' : 'grey-3'"
                                  size="14px"
                                >
                                  <div class="flex items-center ">
                                    <q-icon size="16px" class="q-mr-sm " name="discount"></q-icon>
                                    <div class="text-weight-light " style="font-size:20px">
                                      {{ $toUSD(service.annual_cost) }}
                                    </div>
                                  </div>
                                </q-chip>
                                <div class="flex text-grey-8 items-center font-500">
                                  <q-icon size="16px" class="q-mr-xs" name="today"></q-icon>
                                  {{ $tt("common.year", 1) }}
                                </div>
                              </div>
                            </div>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          <q-item-label class="q-pr-sm">
                            <div class="relative-position">
                              <q-icon
                                class="cursor-pointer"
                                @click="annual_payment = !annual_payment"
                                size="49px"
                                :color="annual_payment ? 'orange-6' : 'grey-5'"
                                name="local_activity"
                              />
                            </div>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-card>
                </div>

                <div class="col-12">
                  <div class="q-mt-xl flex items-center justify-center q-gutter-x-xl">
                    <app-btn padding="md" flat to="/services" class="text-negative">
                      {{ $tt("common.back") }}
                    </app-btn>
                    <app-btn padding="md" @click="orderService" color="positive">
                      {{ $tt("common.accept") }}
                    </app-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { requiredIf } from "vuelidate/lib/validators";
import { format } from "quasar";

// import FileInput from "./FileInput.vue";
const { humanStorageSize, ...formaters } = format;

export default {
  components: {
    // FileInput,
  },
  created() {
    this.getService();
  },
  data() {
    return {
      service: null,
      fields: null,
      lang: null,
      comment: null,
      annual_payment: false,
      loading: {
        service: false,
        files: false,
      },
      files: {},
    };
  },
  computed: {
    service_id() {
      return +this.$route.params.id;
    },
    validation() {
      return (this.fields && this.fields.filter((f) => f.field_required)) || {};
    },
  },
  methods: {
    async getService() {
      try {
        this.loading.service = true;

        let {
          data: { preferred_lang, stage1: fields, ...service },
        } = await this.$api.get(`/service-for-customers/${this.service_id}`);

        this.service = service;

        this.fields = fields.map((f) => {
          this.$set(
            f,
            "value",
            f.field_type === "file" ? [] : f.field_type === "checkbox" ? "false" : null
          );

          return f;
        });

        this.lang = preferred_lang;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading.service = false;
      }
    },
    getLangService(field, lang = this.lang) {
      return (field && field.find((f) => f.lang === lang)) || { [field]: null, lang };
    },

    updateFiles(files, field_id) {
      let target = this.fields.find((f) => f.field_id === field_id);

      let is_multiple = Array.isArray(files);

      if (is_multiple) {
        this.$set(this.files, field_id, [...(this.files[field_id] || []), ...files]);
        target.value = [...(target.value || []), ...files];
      } else {
        this.$set(this.files, field_id, [files]);
        target.value = [files];
      }
    },
    pickFiles(ref) {
      this.$refs[ref] && this.$refs[ref][0].$el.click();
    },
    cancelFile(field_id, index, file_storage) {
      let target = this.fields.find((f) => f.field_id === field_id);

      this.files[field_id].splice(index, 1);
      target.value.splice(index, 1);
    },
    uploadFiles() {
      return new Promise(async (done, fail) => {
        try {
          let picked_files = Object.entries(this.files);

          for await (let [field_id, files] of picked_files) {
            const id = +field_id;

            let field = this.fields.find((f) => +f.field_id === id);

            let filenames = await Promise.all(
              Array.from(files).map(
                async (f) => await this.$store.dispatch("Service/UPLOAD_FILE", f)
              )
            );
            // :

            field.filenames = filenames.join(",");
          }

          done();
        } catch (e) {
          // throw e;
          fail(e);
        }
      });
    },
    async orderService() {
      this.$v.$touch();

      let valid = !this.$v.$anyError;

      if (!valid) {
        this.$message({ level: "warning", title: this.$tt("messages.fill_req_fields") });

        return;
      }

      try {
        this.loading.service = true;

        let has_files = !!(
          this.files &&
          Object.keys(this.files) &&
          Object.keys(this.files).length
        );

        if (has_files) {
          await this.uploadFiles();
        }

        let { comment, service_id, annual_payment = false } = this;

        let $params = {
          fields: this.fields.map(({ field_id, value, filenames = null }) => {
            return { field_id, field_value: filenames || value };
          }),
          annual_payment,
          service_id,
          ...(comment && comment.length && { comment }),
        };

        await this.$api.post(`/service-for-customers/order`, $params);

        this.$router.push(`/services`);

        this.$message({ title: this.$tt("messages.changes_saved"), level: "success" });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.service = false;
      }
    },
    humanStorageSize(val) {
      return humanStorageSize(val);
    },
  },
  validations() {
    return {
      fields: {
        $each: {
          value: {
            required: requiredIf((f) => {
              return f.field_required || false;
            }),
          },
        },
      },
    };
  },
};
</script>

<style lang="scss">
.q-list--bordered {
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
}
</style>
