<template>
  <q-card bordered flat class="full-width">
    file
    <q-file
      borderless
      hide-bottom-space
      @input="(files) => updateFiles(files, f.field_id)"
      :label="f.name[0].text"
      :multiple="f.field_multiple"
      class="bg-white full-width q-px-md"
      :ref="`file-field-${f.field_id}`"
      :disable="loading.files"
      :error="$v.fields.$each[idx] && $v.fields.$each[idx].$error"
      :error-message="`${$tt('common.pick')} ${$tt('common.file', 0, f.field_multiple ? 2 : 1)}`"
      accept=""
      max-file-size="1000000"
    >
      <!-- :value="f.value" -->
      <template v-if="false" v-slot:file="{ index, file }">
        <q-chip
          size="12px"
          removable
          class="q-my-xs q-px-md q-ml-none"
          square
          @remove="(state) => cancelFile(f.field_id, index, state)"
        >
          <div class="flex inline items-center ">
            <q-avatar>
              <!-- <q-icon size="18px" name="attach_file" /> -->
              <q-icon size="17px" color="grey-8" name="upload_file" />
            </q-avatar>
            <div class="q-pr-sm">
              {{ file.name }}
            </div>
          </div>
        </q-chip>
      </template>

      <template #error="{errorMessage}">
        <q-item>
          <q-item-section>
            <q-item-label>
              {{ errorMessage }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>

      <template #append>
        <div class="flex-center">
          <app-btn
            :loading="loading.files"
            @click="pickFiles(`file-field-${f.field_id}`)"
            color="blue-8"
            class="q-ml-md"
            icon="upload_file"
            padding="9px 14px"
          >
            &nbsp;&nbsp;{{ $tt("common.pick") }}
            <!-- {{ $tt("common.file", 0, 2) }} -->
          </app-btn>
        </div>
      </template>
    </q-file>

    <div v-if="files[f.field_id] && files[f.field_id].length">
      <q-separator></q-separator>
      <q-list separator>
        <q-item
          v-for="({ type, name, size }, idx) in files[f.field_id]"
          :key="`${name}-${size}-${f.field_id}-${idx}`"
        >
          <q-item-section side>
            <q-item-label>
              <!-- {{ type }} -->
              <q-icon
                size="28px"
                :name="
                  type.includes('image')
                    ? 'image'
                    : type.includes('pdf')
                    ? 'picture_as_pdf'
                    : 'quiz'
                "
              ></q-icon>
            </q-item-label>
          </q-item-section>

          <q-item-section>
            <q-item-label>
              {{ name }}
            </q-item-label>
            <q-item-label caption> {{ size }} b </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label>
              <q-btn
                flat
                icon="close"
                round
                size="12px"
                text-color="negative"
                @clicks.stop="files[f.field_id].slice(idx, 1)"
              ></q-btn>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-card>
</template>

<script>
export default {};
</script>

<style></style>
