<template>
  <PageContainer :title="$tt('common.service', 1, 2)">
    <template #actions>
      <app-btn padding="11px" size="12px" to="/services/all" color="blue-8">
        {{ $tt("pages.services.order_new_service") }}
      </app-btn>
    </template>

    <div class="container">
      <app-table-list
        :loading="loading"
        :empty="(!services || !services.length) && $tt('errors.no_data', 1)"
        :colspan="5"
        header="Все доступные услуги"
      >
        <template #thead>
          <tr class="text-left">
            <th>
              {{ $tt("common.service", 1) }}
            </th>
            <th class="text-right">
              {{ $tt("common.cost", 1) }}
            </th>
            <th>
              {{ $tt("common.range", 1) }}
            </th>
            <th>
              {{ $tt("common.status", 1) }}
            </th>
            <th></th>
          </tr>
        </template>

        <tr v-for="(s, idx) in services" :key="idx">
          <td style="white-space:normal">
            <div class="q-py-sm">
              <div class="text-subtitle2 ellipsis-2-lines">
                {{ s.service_name }}
              </div>

              <div class="text-muted">
                {{ getDepartment(s.dep_code) }}
              </div>
            </div>
          </td>
          <td class="text-right">
            <div class="font-500">
              {{ $toUSD(s.paid_amount) }}
            </div>
          </td>
          <td>
            <BadgeSelector
              :can-change="false"
              :value="{
                icon: 'today',
                name: getPeriod(s.period_code),
              }"
              :key="idx"
              text-color="blue"
              bg-color="blue-1"
            />
          </td>
          <td>
            <BadgeSelector
              :can-change="false"
              :value="{
                name: statuses && statuses.find((st) => st.code === s.status_code).names[0].name,
              }"
              :icon="getStatusTheme(s.status_code).icon"
              :key="idx"
              :text-color="getStatusTheme(s.status_code).textColor"
              :bg-color="getStatusTheme(s.status_code).bgColor"
            />

            <div class="q-mt-sm" v-if="s.status_code === 'work'">
              <small class="text-grey-6 flex items-center no-wrap">
                <q-icon class="q-mr-xs" name="info_outline" size="14px"></q-icon>
                <div>
                  {{ $tt("pages.services.pay_due") }}
                  <span class="font-500">
                    {{
                      s.paid_until &&
                        s.paid_until
                          .split("-")
                          .reverse()
                          .join(".")
                    }}
                  </span>
                </div>
              </small>
            </div>
          </td>
          <td side class="text-right ">
            <div class="q-gutter-x-md">
              <app-btn
                v-show="s.status_code !== 'archive'"
                flat
                icon="more_vert"
                padding="9px"
                size="10px"
              >
                <q-menu>
                  <q-list v-close-popup>
                    <q-item
                      clickable
                      @click="payService(s.order_id, s.service_name, getPeriod(s.period_code))"
                      class="text-blue-8"
                      :disable="s.status_code === 'cancel' || s.status_code === 'archive'"
                    >
                      <q-item-section>
                        <q-item-label class="font-500">
                          {{ $tt("pages.services.pay_for", 1) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      @click="dispatchAction('cancel', s.order_id)"
                      clickable
                      class="text-negative"
                      :disable="s.status_code === 'cancel'"
                      v-show="s.status_code !== 'cancel' && s.status_code !== 'archive'"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.cancel", 1) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-show="s.status_code === 'cancel' && s.status_code !== 'archive'"
                      @click="dispatchAction('archive', s.order_id)"
                      clickable
                      :disable="s.status_code === 'archive'"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("pages.services.archivate", 1) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </app-btn>

              <app-btn
                flat
                icon="chevron_right"
                color="grey-9"
                :to="`/services/info/${s.order_id}`"
                padding="10px"
                size="12px"
              >
                <q-tooltip>
                  {{ $tt("common.show_more", 1) }}
                </q-tooltip>
              </app-btn>
            </div>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
import { mapActions } from "vuex";

export default {
  async mounted() {
    try {
      this.loading = true;

      this.terms = await this.GET_PERIODS();
      this.statuses = await this.GET_STATUSES();
      this.departments = await this.GET_DEPARTMENTS();

      await this.getServices();

      if (!this.services || !this.services.length) {
        this.$router.push(`services/all`);
      }
    } catch (e) {
      console.log(e);

      this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data"), notify: true });
    } finally {
      this.loading = false;
    }
  },
  data() {
    return {
      services: null,
      lang: null,
      terms: null,
      statuses: null,
      departments: null,
      loading: false,
    };
  },

  methods: {
    ...mapActions("CustomerServices", [
      "GET_PERIODS",
      "GET_STATUSES",
      "GET_ORDERED_SERVICES",
      "PROCESS_SERVICE_ORDER",
      "GET_DEPARTMENTS",
    ]),
    async getServices() {
      return new Promise(async (done, fail) => {
        try {
          let { orders, lang } = await this.GET_ORDERED_SERVICES();

          this.services = orders;
          this.lang = lang;

          done(orders);
        } catch (e) {
          console.log(e);

          fail(e);
        }
      });
    },
    service_lang(service, lang = this.lang) {
      let name = service.name && service.name.length && service.name.find((n) => n.lang === lang);
      let desc = service.desc && service.desc.length && service.desc.find((n) => n.lang === lang);

      return { name: (name && name.text) || null, desc: (desc && desc.text) || null };
    },
    getStatusTheme(code) {
      switch (code) {
        case "new":
          return {
            icon: "new_releases",
            textColor: "white",
            bgColor: "indigo",
          };
        case "work":
          return {
            icon: "published_with_changes",
            textColor: "white",
            bgColor: "positive",
          };
        case "done":
          return {
            icon: "verified",
            textColor: "white",
            bgColor: "brown",
          };
        case "stop":
          return {
            icon: "highlight_off",
            textColor: "white",
            bgColor: "negative",
          };
        case "cancel":
          return {
            icon: "do_not_disturb",
            textColor: "red-9",
            bgColor: "red-2",
          };
        case "preparation":
          return {
            icon: "help_center",
            textColor: "green-9",
            bgColor: "green-2",
          };
        case "sign":
          return {
            icon: "architecture",
            textColor: "brown-7",
            bgColor: "orange-2",
          };
        case "review":
          return {
            icon: "rule",
            textColor: "white",
            bgColor: "purple",
          };
        case "archive":
          return {
            icon: "inventory_2",
            color: "grey-8",
            bgColor: "grey-3",
          };
      }
    },
    getPeriod(code) {
      return (this.terms && this.terms.find((t) => t.code === code).names[0].name) || null;
    },
    getDepartment(code) {
      let d = this.departments && this.departments.find((d) => d.dep_code === code);

      return (d && d.names[0].dep_name) || code;
    },
    async dispatchAction(action, order_id) {
      let translate =
        action === "cancel"
          ? this.$tt("pages.services.cancel_service")
          : action === "archive"
          ? this.$tt("pages.services.move_to_archive")
          : null;

      let c = await this.$confirm({
        level: "warning",
        title: this.$t("messages.confirm_action", { action: translate }),
      });

      if (!c) return;

      this.loading = true;

      try {
        await this.PROCESS_SERVICE_ORDER({ action, order_id });

        this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });

        this.getServices();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async payService(order_id, name, period) {
      // let order = this.services.find((o) => o.order_id === order_id);

      let has_money = true;

      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("pages.services.pay_order_service")}:  ${period} - "${name}"`,
        }),
        // title: `Действительно хотите оплатить услугу ${period} - "${name}" со своего счёта Seller Online ?`,
        level: has_money ? "info" : "warning",
        nextText: has_money ? "Оплатить" : "Пополнить счёт",
        ...(!has_money && {
          message: "На Вашем счету недостаточно средст для оплаты услуги.",
        }),
      });

      if (!c) return;

      if (!has_money) {
        this.$router.push(`/pay-money`);

        return;
      }

      try {
        await this.$api.put(`/service-for-customers/order/pay`, {
          order_id,
          annual: false,
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
      }
    },
  },
};
</script>
