<template>
  <PageContainer
    :loading="loading"
    with-back
    :title="(order && order.service_name) || `Услуга ${order_id}`"
    :caption="order && order.service_desc"
  >
    <template #actions>
      <div class="flex no-wrap q-gutter-x-sm q-ml-lg">
        <app-btn
          padding="11px"
          size="12px"
          @click="payOrder"
          v-show="order && order.status === 'stop'"
          color="blue-8"
        >
          {{ $tt("pages.services.pay_for") }}
        </app-btn>

        <app-btn icon="more_horiz" padding="11px" size="12px">
          <q-menu>
            <q-list>
              <q-item class="text-negative" clickable @click="dispatchAction('cancel')">
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.cancel", 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable @click="dispatchAction('archive')">
                <q-item-section>
                  <q-item-label> {{ $tt("common.archivate", 1) }} </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
      </div>
    </template>

    <div class="container">
      <div v-if="loading">
        {{ $tt("common.loading", 1) }}
      </div>

      <div v-else-if="order">
        <app-list class="q-mb-xl" :header="$tt('common.common_info', 1)">
          <q-item>
            <q-item-section>
              <q-item-label>
                {{ $tt("common.service", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-subtitle1">
                {{ order.service_name }}
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              <q-item-label>
                {{ $tt("common.cost", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ $toUSD(order.cost) }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>
                {{ $tt("common.status", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <BadgeSelector
                  :icon="getStatusTheme(order.status).icon"
                  :value="{ name: getStatus(order.status) }"
                  :text-color="getStatusTheme(order.status).textColor"
                  :bg-color="getStatusTheme(order.status).bgColor"
                />
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-expansion-item v-if="order.service_desc" :label="$tt('common.description', 1)">
            <q-item>
              <q-item-section>
                <q-item-label class="text-body2 q-pb-lg">
                  <div style="line-height: 2">
                    {{ order.service_desc }}
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-expansion-item>
        </app-list>

        <div v-for="(stage, idx) in fields" :key="idx">
          <app-list
            class="q-mb-lg"
            v-for="(fields, time) in stage"
            swap-header
            :header="
              idx + 1 === 1
                ? $tt('common.request_created', 1)
                : idx + 1 === 2
                ? $tt('pages.services.operator_processed', 1)
                : $tt('common.result', 1)
            "
            :caption="
              time &&
                time
                  .split(`-`)
                  .reverse()
                  .join('.')
            "
            :key="time"
          >
            <q-item class="q-py-md" v-for="f in fields" :key="f.field_id">
              <q-item-section>
                <q-item-label caption>
                  {{ f.field_name }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label v-if="f.field_type === 'checkbox'">
                  <q-icon
                    size="22px"
                    name="check"
                    color="positive"
                    v-if="f.value === 'true'"
                  ></q-icon>
                  <q-icon size="22px" name="close" v-else color="negative"></q-icon>
                </q-item-label>
                <q-item-label v-else-if="f.field_type === 'select'">
                  <div class="flex items-center q-gutter-sm">
                    <app-badge
                      v-for="(opt, idx) in getFieldOptions(f.field_id)"
                      :color="idx === +f.value ? 'blue-8' : 'grey-1'"
                      :text-color="idx === +f.value ? 'white' : 'grey-6'"
                      :key="idx"
                    >
                      {{ opt.text }}
                    </app-badge>
                  </div>
                </q-item-label>
                <q-item-label v-else-if="f.field_type === 'file'">
                  <div class="q-gutter-y-lg">
                    <div class="flex items-center no-wrap">
                      <app-btn
                        padding="10px 16px"
                        class="text-blue-8"
                        icon="attachment"
                        size="12px"
                        @click="downloadFile(f.data_id)"
                        :loading="file_loading[f.data_id]"
                        :disable="file_loading[f.data_id]"
                      >
                        &nbsp;&nbsp;&nbsp;{{ $tt("common.download", 1) }} {{ $tt("common.file") }}
                      </app-btn>
                    </div>

                    <app-banner
                      icon="info"
                      v-if="
                        service &&
                          order &&
                          order.status === 'sign' &&
                          getFieldInfo(f.field_id).file_must_signed
                      "
                      level="info"
                    >
                      {{ $tt("pages.services.file_must_be_signed") }}
                    </app-banner>
                    <div
                      v-if="
                        service &&
                          order &&
                          order.status === 'sign' &&
                          getFieldInfo(f.field_id).file_must_signed
                      "
                    >
                      <q-file
                        :error-message="
                          `${$tt('common.pick')} ${$tt(
                            'common.file',
                            0,
                            f.field_multiple ? 2 : 1
                          )}`
                        "
                        :label="f.field_name"
                        outlined
                        :multiple="f.field_multiple"
                        :ref="`file-field-${f.field_id}`"
                        :error="false"
                        v-model="files[f.field_id]"
                      >
                        <!-- :value="(files[f.field_id] && files[f.field_id].files) || []" -->
                        <!-- @input="(files) => updateFiles(files, f.field_id, f.field_multiple)" -->
                        <template v-slot:file="{ file }">
                          <q-chip
                            outline
                            size="12px"
                            color="black"
                            class="q-my-xs q-ml-none"
                            square
                          >
                            <div class="flex no-wrap ellipsis items-center">
                              <q-icon name="upload_file" size="16px" class="q-mr-xs"></q-icon>
                              {{ file.name }}
                            </div>
                          </q-chip>
                        </template>

                        <template #append>
                          <div class="flex full-height flex-center">
                            <div v-if="!files[f.field_id]">
                              <app-btn
                                padding="10px"
                                @click="pickFiles(`file-field-${f.field_id}`)"
                                color="blue-8"
                                class="q-ml-md"
                                size="13px"
                              >
                                {{ $tt("common.pick") }}
                                {{ $tt("common.file", 0, f.field_multiple ? 2 : 1) }}
                              </app-btn>
                            </div>
                            <div v-else>
                              <app-btn
                                padding="10px"
                                @click="clearFiles(f.field_id)"
                                class="text-negative q-ml-md"
                                size="13px"
                              >
                                {{ $tt("common.clear") }}
                              </app-btn>
                            </div>
                          </div>
                        </template>
                      </q-file>
                    </div>
                  </div>
                </q-item-label>
                <q-item-label v-else>
                  {{ f.value }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>

        <div class="q-mt-xl q-gutter-x-lg flex-center">
          <app-btn flat to="/services" color="grey-7" padding="md">
            {{ $tt("common.back") }}
          </app-btn>

          <app-btn
            @click="saveChanges"
            v-show="order && order.status === 'sign'"
            padding="md"
            color="positive"
          >
            {{ $tt("common.save") }}
            {{ $tt("common.changes", 0, 2) }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { mapActions } from "vuex";

export default {
  async created() {
    if (!this.statuses) this.getStatuses();

    this.getServiceOrder();
  },
  data() {
    return {
      order: null,
      loading: false,
      service: null,
      statuses: null,
      files: {},
      file_loading: {},
    };
  },
  computed: {
    order_id() {
      return +this.$route.params.id;
    },
    stages() {
      let stages = [];

      this.order &&
        this.order.data &&
        this.order.data.length &&
        this.order.data.forEach((f) => {
          let stage_idx = f.stage_no - 1;

          if (stages[stage_idx]) {
            stages[stage_idx].push(f);
          } else {
            stages[stage_idx] = [f];
          }
        });

      return stages;
    },
    fields() {
      let fields = [];

      this.stages &&
        this.stages.length &&
        this.stages.forEach((stage, idx) => {
          let sorted = {};

          stage.forEach((field) => {
            if (sorted[field.grouptime]) {
              sorted[field.grouptime].push(field);
            } else {
              sorted[field.grouptime] = [field];
            }
          });

          fields[idx] = sorted;
        });

      return fields;
    },
  },
  methods: {
    ...mapActions("CustomerServices", [
      "GET_STATUSES",
      "GET_SERVICE_ORDER",
      "GET_SERVICE",
      "PROCESS_SERVICE_ORDER",
    ]),
    async getServiceOrder() {
      try {
        this.loading = true;

        this.order = await this.GET_SERVICE_ORDER(this.order_id);

        !this.service && this.getService();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    async getStatuses() {
      try {
        this.loading = true;

        this.statuses = await this.GET_STATUSES();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true });
      } finally {
        this.loading = false;
      }
    },
    async getService(service_id = this.order && this.order.service_id) {
      try {
        // this.loading = true;

        let { preferred_lang, ...service } = await this.GET_SERVICE(service_id);

        this.service = service;
        this.lang = preferred_lang;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    getFieldOptions(field_id) {
      let stage = 1;

      let fields = this.service && this.service[`stage${stage}`];

      let field = fields && fields.find((f) => f.field_id === field_id);

      if (!field) return null;

      let values = field && field.field_values;

      values = values.map((v) => {
        return v.find((langs) => langs.lang === this.lang);
      });

      return values;
    },
    getStatus(code = this.order.status) {
      let d = this.statuses && this.statuses.find((s) => s.code === code);

      return (d && d.names[0].name) || code;
    },
    async dispatchAction(action, order_id = this.order_id) {
      let translate =
        action === "cancel"
          ? this.$tt("pages.services.cancel_service")
          : action === "archive"
          ? this.$tt("pages.services.move_to_archive")
          : null;

      let c = await this.$confirm({
        level: "warning",
        title: this.$t("messages.confirm_action", { action: translate }),
      });

      if (!c) return;

      this.loading = true;

      try {
        await this.PROCESS_SERVICE_ORDER({ action, order_id });

        this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });

        this.getServices();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async downloadFile(data_id) {
      try {
        this.$set(this.file_loading, data_id, true);

        let { data: blob } = await this.$api({
          url: `/service-for-customers/order/file/${data_id}`,
          responseType: "blob",
        });

        let filename = `service-${this.order_id}-order-attachment`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          let url = URL.createObjectURL(blob);

          const link = document.createElement("a");

          if (link.download !== undefined) {
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.setAttribute("id", "document-download-link");
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
          }
        }
      } catch (e) {
        console.log(e);

        alert(
          (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось получить данные"
        );
      } finally {
        this.file_loading[data_id] = false;
      }
    },
    getStatusTheme(code) {
      switch (code) {
        case "new":
          return {
            icon: "new_releases",
            textColor: "white",
            bgColor: "indigo",
          };
        case "work":
          return {
            icon: "published_with_changes",
            textColor: "white",
            bgColor: "positive",
          };
        case "done":
          return {
            icon: "verified",
            textColor: "white",
            bgColor: "brown",
          };
        case "stop":
          return {
            icon: "highlight_off",
            textColor: "white",
            bgColor: "negative",
          };
        case "cancel":
          return {
            icon: "do_not_disturb",
            textColor: "red-9",
            bgColor: "red-2",
          };
        case "preparation":
          return {
            icon: "help_center",
            textColor: "green-9",
            bgColor: "green-2",
          };
        case "sign":
          return {
            icon: "architecture",
            textColor: "brown-7",
            bgColor: "orange-2",
          };
        case "review":
          return {
            icon: "rule",
            textColor: "white",
            bgColor: "purple",
          };
        case "archive":
          return {
            icon: "inventory_2",
            color: "grey-8",
            bgColor: "grey-3",
          };
      }
    },
    getFieldInfo(id) {
      let fields = [
        this.service.stage1 || [],
        this.service.stage2 || [],
        this.service.stage3 || [],
      ].flat();
      let field = fields.find(({ field_id }) => field_id === id) || null;

      return field;
    },
    pickFiles(ref) {
      this.$refs[ref] && this.$refs[ref][0].$el.click();
    },
    updateFiles(files, field_id, multiple = false) {
      let field_storage = this.files[field_id];
      let documents = multiple ? Array.from(files) : [files];

      if (!!field_storage) {
        field_storage.push(documents);
      } else {
        this.$set(this.files, field_id, [...documents]);
      }
    },
    clearFiles(field_id) {
      this.files[field_id] = null;
    },
    async uploadFiles() {
      return new Promise(async (done, fail) => {
        let f = Object.entries(this.files);

        try {
          this.loading = true;

          let filenames = await Promise.all(
            f.map(async ([field_id, files]) => {
              let filenames;

              if (Array.isArray(files)) {
                filenames = await Promise.all(
                  files.map(
                    async (file) => await this.$store.dispatch(`Service/UPLOAD_FILE`, file)
                  )
                );
              } else {
                filenames = await this.$store.dispatch(`Service/UPLOAD_FILE`, files);
              }

              return [field_id, filenames];
            })
          );

          let params = filenames.map(([field_id, field_value]) => ({
            field_id: +field_id,
            field_value,
          }));

          done(params);
        } catch (e) {
          console.log(e);

          throw e;
        } finally {
          this.loading = false;
        }
      });
    },
    async saveChanges() {
      let fields = await this.uploadFiles();

      let params = {
        fields,
        order_id: this.order_id,
      };

      try {
        this.loading = true;

        await this.$api.put(`/service-for-customers/order/upload_signed`, params);

        this.$message({ title: this.$tt("messages.changes_saved"), level: "success" });

        this.getServiceOrder();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async payOrder() {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: this.$tt("pages.services.pay_order_service"),
        }),
      });

      if (!c) return;

      this.loading = true;

      try {
        await this.$api.put(`/service-for-customers/order/pay`, {
          annual: false,
          order_id: this.order_id,
        });

        this.$message({ title: this.$tt("messages.changes_saved"), level: "success" });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
