<template>
  <PageContainer :loading="loading" :title="$tt('common.service', 1, 2)">
    <template #actions>
      <app-btn padding="11px" size="12px" to="/services" text-color="blue-8">
        {{ $tt("common.all", 1, 2) }}
        {{ $tt("common.service", 0, 2) }}
      </app-btn>
    </template>

    <div class="container">
      <app-table-list
        :empty="(!category_services || !category_services.length) && $tt('errors.no_data', 1)"
      >
        <template #append>
          <q-tabs
            active-color="blue-8"
            narrow-indicator
            align="left"
            v-model="category"
            inline-label
            class="full-width"
          >
            <q-tab class="q-py-md" name="all" :label="$tt('common.all', 1)" />
            <q-tab
              class="q-py-md"
              :name="dep_code"
              :key="dep_id"
              :label="getLangText(names, 'dep_name', 'lang_code')"
              v-for="{ dep_code, dep_id, names } in departments"
            />
          </q-tabs>
        </template>

        <tr v-for="s in category_services" :key="s.service_id">
          <td style="white-space:normal">
            <div class="q-py-lg">
              <div class="flex items-center q-mb-sm">
                <div class="text-subtitle1 font-500">
                  {{ getLangText(s.name) }}
                </div>
                <q-icon
                  class="q-ml-sm"
                  size="24px"
                  color="amber-8"
                  v-if="s.first_time_free"
                  name="local_activity"
                >
                  <q-tooltip>
                    Бесплатный период
                  </q-tooltip>
                </q-icon>
              </div>

              <div class="text-grey-8">
                {{ getLangText(s.desc) }}
              </div>
            </div>
          </td>

          <td side>
            <div class="flex column items-end">
              <q-chip
                square
                class="font-500 q-ma-none q-mb-sm"
                text-color="blue-8"
                color="indigo-1"
                size="14px"
              >
                {{ $toUSD(s.cost) }}
              </q-chip>

              <div class="flex no-wrap text-grey-8 items-center">
                {{ getPeriodText(s.period_code) }}
                <q-icon size="16px" class="q-ml-xs" name="today"></q-icon>
              </div>
            </div>
          </td>

          <td side>
            <app-btn
              :to="`/services/order/${s.service_id}`"
              size="12px"
              color="positive"
              padding="20px md"
              class="q-mr-md"
            >
              <div class="flex no-wrap items-center">
                <!-- <q-icon class="q-mr-xs" size="24px" color="white" name="local_activity" /> -->
                <q-icon class="q-mr-xs" size="24px" color="white" name="add" />

                {{ $tt("common.pick", 1) }}
              </div>
            </app-btn>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
import { mapActions } from "vuex";

export default {
  async mounted() {
    try {
      this.loading = true;

      this.departments = await this.GET_DEPARTMENTS();
      this.periods = await this.GET_PERIODS();

      const { services, lang } = await this.GET_ALL_SERVICES();

      this.services = services;
      this.lang = lang;
    } catch (e) {
      console.log(e);

      this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data"), notify: true });
    } finally {
      this.loading = false;
    }
  },

  data() {
    return {
      category: "all",
      services: null,
      lang: null,
      periods: null,
      loading: false,
      departments: null,
    };
  },
  computed: {
    category_services() {
      if (this.services && this.services.length) {
        if (this.category === "all") {
          return this.services;
        } else {
          return this.services.filter(({ dep_code }) => dep_code === this.category);
        }
      } else {
        return [];
      }
    },
  },
  methods: {
    ...mapActions("CustomerServices", ["GET_ALL_SERVICES", "GET_PERIODS", "GET_DEPARTMENTS"]),
    getLangText(collection, text_key = "text", lang = "lang") {
      let t = collection && collection.find((v) => v[lang] === this.lang);
      let res = (t && t[text_key]) || null;

      return res;
    },
    getPeriodText(code) {
      let t = this.periods.find((p) => p.code === code);

      return t && this.getLangText(t.names, "name");
    },
  },
};
</script>
