<template>
  <PageContainer :title="$tt('nav.my_account.balance_log.title')">
    <with-loading :state="loading" />
    <div class="container">
      <div class="q-gutter-y-xl">
        <app-input
          style="max-width:350px"
          class="readonly-default"
          :label="$tt('common.pick_range', 1)"
          readonly
          :dense="false"
          :value="
            (filter.start_date &&
              filter.end_date &&
              `${transformDateLabel(filter.start_date)} - ${transformDateLabel(
                filter.end_date
              )}`) ||
              $tt('errors.not_specified')
          "
        >
          <q-menu>
            <LocalDatePicker
              mask="YYYY-MM-DD"
              :value="{ from: filter.start_date, to: filter.end_date }"
              @input="writeDate"
              minimal
              range
            >
              <div class="flex-center-between">
                <app-btn unelevated v-close-popup> {{ $tt("common.cancel") }} </app-btn>
                <app-btn @click="getBalance()" color="primary" unelevated v-close-popup>
                  {{ $tt("common.apply") }}
                </app-btn>
              </div>
            </LocalDatePicker>
          </q-menu>

          <template #append>
            <!-- // TODO: NORM RESET BTN -->
            <app-btn
              size="13px"
              @click.stop="
                () => {
                  filter.start_date = null;
                  filter.end_date = null;
                  filter.page = 0;

                  getBalance();
                }
              "
              color="negative"
              flat
              dense
              unelevated
              icon="close"
            >
            </app-btn>
          </template>
        </app-input>

        <div class="flex-center-between">
          <div>
            <app-pagination v-model="human_page" :max="total_pages || 1" push color="accent" />
          </div>
          <div class="flex items-center">
            <small class="text-muted">
              {{ $tt("common.on_page") }}
            </small>
            <app-select
              v-model="filter.on_page"
              :options="[20, 50, 100, 150, 200]"
              class="q-ml-sm"
            />
          </div>
        </div>

        <app-table-list
          separator="cell"
          :header="$tt('nav.my_account.balance_log.title')"
          :empty="(!records || !records.length) && $tt('errors.no_data')"
        >
          <template #thead>
            <tr class="text-left">
              <th colspan="2"></th>
              <th colspan="2">{{ $tt("common.before_operation", 1) }}</th>
              <th colspan="2">{{ $tt("common.after_operation", 1) }}</th>
              <th colspan="5"></th>
            </tr>
            <tr class="text-left">
              <th>
                {{ $tt("common.date", 1) }}
              </th>
              <th>{{ $tt("common.operation", 1) }}</th>
              <th></th>
              <th class="text-right">
                {{ $tt("common.summ", 1) }}
              </th>
              <th></th>
              <th class="text-right">
                {{ $tt("common.summ", 1) }}
              </th>
              <th>{{ $tt("common.status", 1) }}</th>
              <th class="text-right">
                {{ $tt("common.balance", 1) }}
              </th>
              <th>
                {{ $tt("common.comment", 1) }}
              </th>
              <th>
                {{ $tt("common.order", 1) }}
              </th>
              <th>
                {{ $tt("common.parcel", 1) }}
              </th>
            </tr>
          </template>

          <tr v-for="r in records" :key="r.log_id">
            <td>
              <div>
                {{ r.log_date.split(" ")[0] }}
              </div>
              <small>
                {{ r.log_date.split(" ")[1] }}
              </small>
            </td>
            <td
              class="font-500"
              :class="[
                r.operation === 'Создан' && 'text-positive',
                r.operation === 'Обновлен' && 'text-blue-7',
                r.operation === 'Удален' && 'text-negative',
              ]"
            >
              {{ r.operation }}
            </td>
            <td class="text-center">
              <q-icon color="positive" name="add" v-if="r.old_op === '+'" size="20px"></q-icon>
              <q-icon color="negative" name="remove" v-if="r.old_op === '-'" size="20px"></q-icon>
            </td>
            <td class="text-right">
              {{ $toUSD(r.old_sum) }}
            </td>
            <td class="text-center">
              <q-icon color="positive" name="add" v-if="r.new_op === '+'" size="20px"></q-icon>
              <q-icon color="negative" name="remove" v-if="r.new_op === '-'" size="20px"></q-icon>
            </td>
            <td class="text-right font-500">
              {{ $toUSD(r.payment_sum) }}
            </td>
            <td>
              <div class="font-500 fz-12 flex no-wrap items-center">
                {{ r.state && $capitalize(r.state) }}
                <q-icon
                  v-show="r.state === 'заблокировано'"
                  class="q-ml-xs"
                  color="grey"
                  size="12px"
                  name="lock"
                ></q-icon>
              </div>
            </td>
            <td class="text-right" :class="r.balance < 0 && 'text-negative'">
              {{ $toUSD(r.balance) }}
            </td>
            <td>
              <span v-if="r.payment_comment && r.payment_comment.length">
                {{ r.payment_comment }}
              </span>
              <small v-else class="text-muted block">
                {{ $tt("errors.not_specified") }}
              </small>
            </td>
            <td>
              <span v-if="r.order_id">{{ r.order_id }}</span>
              <span class="text-muted text-center block" v-else>&bull;</span>
            </td>

            <td>
              <span v-if="r.parcel_id">{{ r.parcel_id }}</span>
              <span class="text-muted text-center block" v-else>&bull;</span>
            </td>
          </tr>
        </app-table-list>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  mounted() {
    let { page, on_page, start_date, end_date } = this.$route.query;

    page && (this.filter.page = +page);
    on_page && (this.filter.on_page = +on_page);
    start_date && (this.filter.start_date = start_date);
    end_date && (this.filter.end_date = end_date);

    this.getBalance();
  },
  data() {
    return {
      loading: false,
      filter: {
        page: 0,
        on_page: 20,
        start_date: null,
        end_date: null,
      },
      records: null,
      total_records: null,
    };
  },
  watch: {
    "filter.page"(page) {
      this.getBalance({ ...this.filter, page });
    },
    "filter.on_page"(on_page) {
      this.getBalance({ ...this.filter, page: 0, on_page });
    },
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (
        (this.records &&
          this.records.length &&
          this.total_records &&
          Math.ceil(this.total_records / this.filter.on_page)) ||
        1
      );
    },
  },
  methods: {
    normalizeParams(params = this.filter) {
      let f = {};

      let number_fields = ["page", "on_page"];

      Object.entries(params).forEach(([key, value]) => {
        if (number_fields.includes(key)) {
          f[key] = +value;
        } else if (value !== null && value !== undefined) {
          f[key] = value;
        }
      });

      return f;
    },
    writeDate({ from, to }) {
      this.filter.start_date = from;
      this.filter.end_date = to;
    },
    transformDateLabel(date) {
      return (
        date &&
        date
          .split("-")
          .reverse()
          .join(".")
      );
    },
    async getBalance(filter = this.filter) {
      let params = this.normalizeParams(filter);

      try {
        this.loading = true;

        const {
          data: { report, total },
        } = await this.$api.get(`https://api.seller-online.com/payments/customer_balance_log`, {
          params,
        });

        this.records = report;
        this.total_records = total;

        this.$router.push({ query: params });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить данные журнала",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
