<template>
  <q-dialog ref="distribute-items">
    <q-card
      :style="{
        minWidth: '770px',
      }"
      class="relative-position"
    >
      <q-item class="q-pt-lg q-pb-md">
        <q-item-section>
          <q-item-label class="text-h6">
            Створити заявку
          </q-item-label>
          <q-item-label caption>
            на росподіл товарів з повернення на утилізацію та ресток
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <app-btn flat text-color="negative" icon="close" @click="hide" />
        </q-item-section>
      </q-item>

      <q-item
        clickable
        v-for="(item, item_idx) in products"
        class="q-py-md1"
        :key="item_idx"
      >
        <q-item-section side>
          <q-card
            :style="{
              width: '63px',
              height: '63px',
            }"
          >
            <q-img cover class="fit" :src="item.image_url" />
          </q-card>
        </q-item-section>
        <q-item-section>
          <q-item-label caption>
            {{ item.category_title }}
          </q-item-label>
          <q-item-label class="text-subtitle2">
            {{ item.title }}
          </q-item-label>
          <ItemCount>
            {{ item.quantity }}
          </ItemCount>
          <q-item-label v-if="item.comment?.length">
            {{ item.comment }}
          </q-item-label>

          <br />
        </q-item-section>

        <q-item-section avatar class="text-right">
          <q-item-label caption>
            {{ $tt("common.cost", 1) }}
          </q-item-label>
          <q-item-label class="text-subtitle2">
            {{ $formatCurrency(item.cost) }}
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-input
            :style="{
              width: '210px',
            }"
            borderless
            item-aligned
            stack-label
            v-model.number="item.restock"
            :suffix="$tt('common.pcs')"
            type="number"
            min="0"
            :dense="false"
            :label="$tt('pages.shipments.returns.restock', 1)"
            :max="item.quantity - item.disposal"
            input-class="text-right"
            :error="item.restock < 0 || item.quantity - item.disposal < item.restock"
          >
            <template #label>
              <div class="text-right">
                {{ $tt("pages.shipments.returns.restock", 1) }}
              </div>
            </template>
          </q-input>
        </q-item-section>
        <q-item-section side>
          <q-input
            :style="{
              width: '128px',
            }"
            borderless
            item-aligned
            stack-label
            v-model.number="item.disposal"
            :suffix="$tt('common.pcs')"
            type="number"
            min="0"
            :dense="false"
            :label="$tt('pages.shipments.returns.disposal', 1)"
            :max="item.quantity - item.restock"
            input-class="text-right"
            :error="item.disposal < 0 || item.quantity - item.restock < item.disposal"
          >
            <template #label>
              <div class="text-right">
                {{ $tt("pages.shipments.returns.disposal", 1) }}
              </div>
            </template>
          </q-input>
        </q-item-section>
      </q-item>
      <q-item class="q-py-md">
        <q-item-section>
          <div class="flex-center-between">
            <app-btn flat @click="hide">
              {{ $tt("common.cancel", 1) }}
            </app-btn>
            <app-btn :disable="loading" @click="submitRequest" color="positive">
              {{ $tt("common.create_request", 1) }}
            </app-btn>
          </div>
        </q-item-section>
      </q-item>
      <q-inner-loading :showing="loading">
        <q-spinner></q-spinner>
      </q-inner-loading>
    </q-card>
  </q-dialog>
</template>
<script>
import { required, minValue, maxValue } from "vuelidate/lib/validators";

import ItemCount from "@/components/ItemCount";

export default {
  components: { ItemCount },
  props: {
    item: Object,
  },
  created() {
    this.products = [...this.item?.products];

    this.products.forEach((product) => {
      product.restock = product.restocked || 0;
      product.disposal = product.disposed || 0;
    });
  },
  data() {
    return {
      products: [],
      loading: false,
    };
  },
  methods: {
    show() {
      this.$refs["distribute-items"].show();
    },
    hide() {
      this.$refs["distribute-items"].hide();
      this.$emit("hide");
    },
    async submitRequest() {
      const invalid = this.products.some(
        ({ restock, disposal, quantity }) =>
          restock < 0 ||
          disposal < 0 ||
          restock + disposal !== quantity ||
          restock + disposal === 0
      );

      if (invalid) {
        this.$alert({
          title: this.$tt("pages.shipments.returns.messages.products_amount_error", 1),
          level: "warning",
        });

        return;
      }

      let c = await this.$confirm({
        title: this.$tt(
          "pages.shipments.returns.messages.create_distribution_request_confirm",
          1
        ),
        level: "info",
      });

      if (!c) {
        return;
      }
      try {
        this.loading = true;

        const { data: response } = await this.$api.post(
          `/v2/shipping/return-shipments/${this.item.id}/distribution-request`,
          {
            distributions: this.products.map(({ product_id, restock, disposal }) => ({
              product_id,
              restock,
              disposal,
            })),
          }
        );

        this.$alert({
          title: this.$tt(
            "pages.shipments.returns.messages.create_distribution_request_success",
            1
          ),
          level: "success",
        });

        this.hide();

        this.$emit("ok", response);
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
