<template>
  <PageContainer :title="$tt('common.return', 1, 2)">
    <template #actions>
      <!-- actions ? -->
      <app-btn
        color="primary"
        padding="11px"
        size="12px"
        to="/shipments/returns/unidentified"
      >
        {{ $tt("nav.shipments.unidentified_returns.title") }}
      </app-btn>
    </template>
    <div class="container">
      <app-list
        :header="$tt('returns.your_returns')"
        class="relative-position"
        :min-width="1100"
        :empty="(!returns || !returns.length) && $tt('errors.no_data')"
        :loading="loading"
      >
        <template #actions>
          <div>
            <q-checkbox dense v-model="only_stale">
              <div class="font-500">
                <!-- Только просроченные -->
                {{ $tt("common.only", 1) }} {{ $tt("common.outdated", 0, 2) }}
              </div>
            </q-checkbox>
          </div>
        </template>

        <q-item>
          <q-item-section>
            <q-item-label class="q-pb-sm">
              <app-input
                :hint="
                  `${$tt('common.return', 0, 2)} № / ${$tt('common.comment')} / ${$tt(
                    'common.order_number'
                  )} / ${$tt('common.parcel_number')} / ${$tt(
                    'common.recipient'
                  )} / ${$tt('common.track_number')}`
                "
                v-model="query"
                :placeholder="$tt('common.search', 1)"
              ></app-input>
            </q-item-label>
          </q-item-section>
        </q-item>

        <ReturnItem
          @updated="getReturns()"
          v-for="r in filtered_returns"
          :data="r"
          :key="r.id"
        />
      </app-list>
    </div>
  </PageContainer>
</template>

<script>
import ReturnItem from "./ReturnItem";

export default {
  components: {
    ReturnItem,
  },
  data() {
    return {
      returns: [],
      loading: false,
      only_stale: false,
      query: null,
    };
  },
  created() {
    if (this.$route.query.only_stale) {
      this.only_stale = true;
    }

    this.getReturns();
  },
  computed: {
    filtered_returns() {
      if (!this.returns?.length) return [];
      if (!this.query?.length) return this.returns;
      else {
        let contains = (str) => {
          return str
            ?.toString()
            ?.toLowerCase()
            ?.includes(this.query?.toString()?.toLowerCase());
        };

        return this.returns.filter((r) => {
          return (
            contains(r?.comment) ||
            contains(r?.internal_code) ||
            contains(r?.order_id) ||
            contains(r?.customers_comment) ||
            contains(r?.receiver_name) ||
            contains(r?.track_number) ||
            contains(r?.parcel_id)
          );
        });
      }
    },
  },
  watch: {
    only_stale(staled) {
      if (staled) {
        this.$router.push("/shipments/returns?only_stale=1").catch(() => {});
      } else {
        this.$router.push("/shipments/returns").catch(() => {});
      }
      this.getReturns(staled);
    },
  },
  methods: {
    async getReturns(stale = this.only_stale) {
      this.loading = true;

      try {
        const {
          data: { return_shipments },
        } = await this.$api.get(
          `/shipping/return_shipment${stale ? "?slice=stale" : ""}`
        );

        this.returns = return_shipments;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
