<template>
  <q-dialog ref="prompt-address">
    <q-card
      :style="{
        minWidth: '630px',
      }"
    >
      <q-item class="q-pt-lg">
        <q-item-section>
          <q-item-label class="fz-18 font-500">
            {{ $tt("common.enter_address", 1) }}
          </q-item-label>
          <q-item-label caption>
            Повернення товару буде здійснено за адресою, яку ви вкажете нижче.
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn
            flat
            icon="close"
            dense
            padding="7px"
            @click="$emit('hide')"
            color="negative"
          />
        </q-item-section>
      </q-item>
      <q-item class="q-py-md">
        <q-item-section>
          <div>
            <div class="row q-col-gutter-md">
              <div class="col-6">
                <app-input
                  v-model="address.name"
                  :label="$tt('common.fio', 1)"
                  :dense="false"
                  :error="$v.address.name.$error"
                  name="name"
                />
              </div>
              <div class="col-6">
                <app-input
                  v-model="address.company"
                  :label="$tt('common.company', 1)"
                  :dense="false"
                  :error="$v.address.company.$error"
                  name="company"
                />
              </div>
              <div class="col-12">
                <app-input
                  v-model="address.street"
                  :label="$tt('common.street', 1)"
                  :dense="false"
                  :error="$v.address.street.$error"
                  name="street"
                />
              </div>
              <div class="col-6">
                <app-input
                  v-model="address.city"
                  :label="$tt('common.city', 1)"
                  :dense="false"
                  :error="$v.address.city.$error"
                  name="city"
                />
              </div>
              <div class="col-6">
                <app-select
                  :dense="false"
                  :label="$tt('common.state', 1)"
                  v-model="address.state"
                  map-options
                  emit-value
                  :options="states"
                  :disable="!states?.length"
                  :loading="loading_states"
                  :error="$v.address.state.$error"
                  name="state"
                >
                  <template #selected-item="{ opt }">
                    <span v-if="opt">
                      {{ opt.label }}&nbsp;<span class="text-grey-7">
                        ({{ opt.value }})
                      </span>
                    </span>
                  </template>
                  <template #option="{ opt, toggleOption }">
                    <q-item clickable dense @click="toggleOption(opt)">
                      <q-item-section>
                        <q-item-label>
                          {{ opt.label }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-item-label caption>
                          {{ opt.value }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </app-select>
              </div>
              <div class="col-6">
                <app-input
                  v-model="address.zip"
                  :label="$tt('common.zip', 1)"
                  :dense="false"
                  :error="$v.address.zip.$error"
                  name="zip"
                />
              </div>
              <div class="col-6">
                <!-- v-model="address.country" -->
                <app-select
                  :value="address.country"
                  @input="selectCountry"
                  emit-value
                  map-options
                  :options="countries"
                  :dense="false"
                  :error="$v.address.country.$error"
                  name="country"
                  :label="$tt('common.country', 1)"
                  :disable="loading_states || !countries?.length"
                >
                  <template #selected-item="{opt}">
                    <app-flag size="14px" class="q-mr-sm" :country="opt.value" />
                    {{ opt.label }}
                  </template>

                  <template #option="{opt, toggleOption}">
                    <q-separator v-if="opt.divider" />
                    <q-item clickable @click="toggleOption(opt)" v-else>
                      <q-item-section>
                        <q-item-label>
                          <div class="flex items-center ellipsis no-wrap" v-if="opt">
                            <app-flag size="12px" class="q-mr-sm" :country="opt.value" />
                            <div class="line-height1">
                              <span class="text-grey-7">{{ opt.value }}</span
                              >&nbsp;{{ opt.label }}
                            </div>
                          </div>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </app-select>
              </div>
              <div class="col-6">
                <app-input
                  v-model="address.phone"
                  :label="$tt('common.phone', 1)"
                  :dense="false"
                  :error="$v.address.phone.$error"
                  name="phone"
                />
              </div>
              <div class="col-6">
                <app-input
                  v-model="address.email"
                  :label="$tt('common.email', 1)"
                  :dense="false"
                  :error="$v.address.email.$error"
                  name="email"
                />
              </div>
            </div>
          </div>
        </q-item-section>
      </q-item>
      <q-item class="q-py-md">
        <q-item-section>
          <div class="flex-center-between">
            <app-btn padding="9px 11px" size="12px" flat @click="$emit('hide')">
              {{ $tt("common.cancel", 1) }}
            </app-btn>

            <app-btn @click="submit" padding="9px 11px" size="12px" color="secondary">
              {{ $tt("common.accept", 1) }}
            </app-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-card>
  </q-dialog>
</template>
<script>
import { required, email, requiredIf } from "vuelidate/lib/validators";
import CountrySelect from "@/components/CountrySelect";

export default {
  components: {
    CountrySelect,
  },
  created() {
    if (!this.countries?.length) {
      this.$store.dispatch("Info/GET_COUNTRIES");
    }
  },
  data() {
    return {
      address: {
        country: null,
        name: null,
        company: null,
        street: null,
        city: null,
        state: null,
        zip: null,
        phone: null,
        email: null,
      },

      states: null,
      loading_states: false,
    };
  },
  computed: {
    countries() {
      return this.$store.getters["Info/countries"] || [];
    },
  },
  methods: {
    show() {
      this.$refs["prompt-address"].show();
    },
    hide() {
      this.$refs["prompt-address"].hide();
    },
    selectCountry(country) {
      console.log("country:", country);
      this.states = null;

      this.address.state = null;
      this.address.country = country;

      this.getStates(country);
    },
    async getStates(country) {
      try {
        this.loading_states = true;

        this.states = [];

        let states = await this.$store.dispatch("Info/GET_STATES", country);

        this.states = Object.entries(states).map(([code, title]) => ({
          label: title,
          value: code,
        }));
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true });
      } finally {
        this.loading_states = false;
      }
    },
    submit() {
      this.$v.$touch();

      if (this.$v.$error) {
        this.$message({
          level: "danger",
          title: this.$tt("messages.fill_req_fields", 1),
        });

        return;
      }

      this.$emit("ok", this.address);
      this.hide();
    },
  },
  validations() {
    return {
      address: {
        name: {
          required,
        },
        company: {
          //   required,
        },
        street: {
          required,
        },
        country: {
          required,
        },
        city: {
          required,
        },
        state: {
          required: requiredIf(() => this.states?.length),
        },
        zip: {
          required,
        },
        phone: {
          required,
        },
        email: {
          required,
          email,
        },
      },
    };
  },
};
</script>
