<template>
  <q-dialog position="top" :maximized="$q.screen.xs || false" ref="provide-products-info">
    <q-card style="width: 1000px; max-width: 80vw;">
      <q-item tag="label" class="q-py-md">
        <q-item-section>
          <q-item-label>
            <h5 class="q-ma-none">
              {{ $tt("returns.provide_products_info") }}
            </h5>
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <app-btn
            flat
            @click="hide"
            icon="close"
            padding="5px"
            text-color="negative"
            dense
          />
        </q-item-section>
      </q-item>

      <q-item class="q-py-lg">
        <q-item-section>
          <q-item-label>
            <Warehouse
              max-height="420px"
              @pick-product="addProduct"
              :actions="['add']"
            ></Warehouse>

            <div class="q-mt-lg">
              <h5 class="q-mb-md">
                {{ $tt("common.checked", 1) }} {{ $tt("common.product", 0, 2) }}
              </h5>

              <app-list bordered separator class="rounded-borders" v-if="products.length">
                <q-item v-for="(p, idx) in products" :key="idx">
                  <q-item-section side>
                    <q-item-label>
                      <q-btn
                        round
                        flat
                        color="negative"
                        icon="close"
                        @click="removeProduct(idx)"
                      ></q-btn>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>
                      {{ p.code }}
                    </q-item-label>
                    <q-item-label class="text-subtitle2 q-ma-none">
                      {{ p.title }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <prod-counter v-model="p.count" />
                  </q-item-section>
                </q-item>
              </app-list>

              <small class="text-muted mt-2" style="display: block" v-else>
                Добавьте товары
              </small>
            </div>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator></q-separator>
      <q-item class="q-py-md">
        <q-item-section>
          <q-item-label>
            <div class="flex-center-between">
              <app-btn padding="11px" size="12px" flat color="red" @click="hide">{{
                $tt("common.cancel")
              }}</app-btn>
              <app-btn
                padding="11px"
                size="12px"
                @click="submitProducts"
                :disabled="!products.length"
                color="positive"
                :submit="$q.screen.xs"
              >
                Обновить информацию о товарах
              </app-btn>
            </div>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-card>
  </q-dialog>
</template>

<script>
import Warehouse from "@/components/NewWarehouse";
import Counter from "@/components/Counter";

export default {
  components: {
    Warehouse,
    "prod-counter": Counter,
  },
  data() {
    return {
      products: [],
    };
  },
  methods: {
    show() {
      this.$refs["provide-products-info"].show();
    },
    hide() {
      this.$refs["provide-products-info"].hide();
    },
    addProduct(prod) {
      let double = this.products.find((p) => p.code_internal === prod.code_internal);

      if (double) {
        double.count++;
      } else {
        this.products.push({
          ...prod,
          count: 1,
        });
      }

      this.$message({
        level: "success",
        title: "Товар добавлен",
      });
    },
    removeProduct(idx) {
      this.products.splice(idx, 1);
    },
    submitProducts() {
      let products = this.products.map(({ product_id: id, count }) => ({
        id,
        count,
      }));

      this.$emit("ok", products);
    },
  },
};
</script>
