<template>
  <q-expansion-item
    header-class="q-py-md"
    :key="data.id"
    :caption="data.status_title"
    class="relative-position"
    :disable="loading"
  >
    <template #header>
      <q-item-section side>
        <div
          class="return-item__img rounded-borders"
          v-intersection.once="onImageIntersection"
        >
          <div v-if="images && images.length" class="return-item__counter">
            {{ images.length }}
            {{ $tc("common.photo", images.length > 1 ? 2 : 1) }}
          </div>
          <q-img
            v-if="images && images.length"
            :src="`data:image/png;base64,${images[0]}`"
            cover
            @click.stop="showMedia"
            :ratio="1"
            square
          />
          <q-icon v-else name="image_not_supported" size="24px" color="grey-5" />
        </div>
      </q-item-section>

      <q-item-section>
        <q-item-label>
          <div
            v-if="data.action_deadline"
            class="text-orange line-height-1 flex items-center"
          >
            <span class="text-caption">
              {{ $tt("pages.shipments.returns.action_deadline", 1) }}
            </span>
            &nbsp;
            <span class=" font-500">
              {{ $date(data?.action_deadline) }}
            </span>
            &nbsp;

            <q-icon name="pending_actions" />
          </div>
        </q-item-label>
        <q-item-label>
          {{ $tt("common.return", 1) }} #{{ data.internal_code }}
        </q-item-label>

        <q-item-label class="text-black">
          <span class="text-muted">
            {{ $tt("common.from") }}
          </span>
          {{ (data.date && $date(data.date)) || "-" }}
        </q-item-label>
      </q-item-section>

      <q-item-section>
        <q-item-label caption>{{ $tt("common.comment", 1) }}</q-item-label>
        <q-item-label v-if="data.comment && data.comment.length">
          <div class="ellipsis-3-lines">
            {{ data.comment }}
          </div>
        </q-item-label>
        <q-item-label v-else>
          <small class="text-muted">
            {{ $tt("errors.not_specified") }}
          </small>
        </q-item-label>
      </q-item-section>

      <q-item-section>
        <q-item-label caption>
          {{ $tt("common.status", 1) }}
        </q-item-label>
        <q-item-label>
          <q-item-label>
            <app-badge
              light
              :level="
                data.status === 'waiting_for_acceptance'
                  ? 'warning'
                  : data.status === 'operator_created'
                  ? 'info'
                  : data.status === 'accepted'
                  ? 'positive'
                  : data.status === 'declined'
                  ? 'negative'
                  : 'default'
              "
            >
              {{ data.status_title }}
            </app-badge>
          </q-item-label>
        </q-item-label>
      </q-item-section>

      <q-item-section>
        <q-item-label caption>
          {{ $tt("common.order_number", 1) }}
        </q-item-label>
        <q-item-label>
          <q-item-label>
            <div v-if="data.order_id">{{ data.order_id }}</div>
            <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
          </q-item-label>
        </q-item-label>
      </q-item-section>

      <q-item-section>
        <div v-if="data?.actions?.length" class="flex justify-end">
          <app-btn
            padding="11px"
            color="primary"
            size="11px"
            @click.stop
            :loading="loading_action || loading"
            :disable="loading_action"
          >
            <div class="flex no-wrap items-center">
              {{ $tt("common.pick_action", 1) }}

              <q-icon class="q-ml-sm" name="new_releases" />
            </div>

            <q-menu>
              <q-list>
                <q-item
                  @click="provideProductsInfo"
                  clickable
                  v-show="data.can_set_products"
                  v-close-popup
                >
                  <q-item-section>
                    <!-- Предоставить информацию о товарах -->
                    {{ $tt("returns.provide_products_info") }}
                  </q-item-section>
                </q-item>

                <div v-for="act in data.actions" :key="act.code">
                  <q-item clickable v-if="act.code === 'resend'">
                    <q-item-section>
                      <q-item-label>
                        {{ act.title }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-icon size="20px" name="chevron_right" />
                    </q-item-section>

                    <q-menu>
                      <q-list v-close-popup>
                        <q-item clickable @click="selectAction(act)">
                          <q-item-section>
                            <q-item-label>
                              Надіслати за адресою покупця
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item clickable @click="selectAction(act, true)">
                          <q-item-section>
                            <q-item-label>
                              Надіслати іншою адресою
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-item>

                  <q-item
                    v-else
                    @click="selectAction(act)"
                    clickable
                    :class="[act.code === 'utilize' && 'text-red']"
                    v-close-popup
                  >
                    <q-item-section>
                      <q-item-label>
                        {{ act.title }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side v-if="act.cost">
                      <q-chip
                        size="10px"
                        text-color="white"
                        square
                        color="positive"
                        class="q-ml-xs font-500"
                      >
                        {{ $toUSD(act.cost) }}
                      </q-chip>
                    </q-item-section>
                  </q-item>
                </div>
              </q-list>
            </q-menu>
          </app-btn>
        </div>

        <div v-else-if="!!data.created_parcel_id" class="flex justify-end">
          <app-badge color="green">
            {{ $tt("returns.new_parcel", 1) }}: {{ data.created_parcel_id }}
          </app-badge>
        </div>

        <div v-else-if="data.action_title" class="flex justify-end">
          <app-badge
            :color="
              data.action === 'utilize'
                ? 'negative'
                : data.action === 'to_warehouse'
                ? 'brown'
                : data.action === 'send_ua'
                ? 'blue'
                : data.action === 'pay_storage'
                ? 'positive'
                : data.action === 'resend'
                ? 'orange'
                : 'grey'
            "
          >
            {{ data.action_title }}
          </app-badge>
        </div>

        <div v-else>
          {{ $tt("common.not_avaliable") }}
        </div>
      </q-item-section>

      <!-- <q-inner-loading :showing="loading">
        <q-spinner size="28px" color="primary" />
      </q-inner-loading> -->
    </template>

    <div class="relative-position">
      <q-item class="q-py-md">
        <q-item-section>
          <div class="row q-col-gutter-md">
            <div class="col-12">
              <app-list
                :header="$tt('common.product', 1, 2)"
                :empty="!data?.products?.length && $tt('errors.no_data', 1)"
              >
                <div v-if="is_custom_action && !is_accepted">
                  <q-item class="bg-orange-1 text-brown">
                    <q-item-section side>
                      <q-item-label>
                        <q-icon name="pending_actions" size="20px" color="brown" />
                      </q-item-label>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="text-caption text-brown">
                        Ваша заявка на зарахування товару знаходиться на розгляді
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator />
                </div>

                <template #actions v-if="data?.allow_distribution_request">
                  <app-btn color="accent" @click="createDistributionRequest">
                    {{ $tt("pages.shipments.returns.distribute_items") }}
                  </app-btn>
                </template>

                <q-item
                  class="q-py-md"
                  clickable
                  :key="prod.id"
                  v-for="prod in data.products"
                >
                  <q-item-section
                    :style="{
                      flexBasis: '35%',
                    }"
                  >
                    <q-item-label caption v-if="prod?.product_code?.length">
                      {{ prod.product_code }}
                    </q-item-label>
                    <q-item-label class="text-subtitle2">
                      {{ prod.title }}
                    </q-item-label>
                  </q-item-section>

                  <q-item-section class="text-right">
                    <q-item-label caption>
                      {{ $tt("common.count", 1) }}
                    </q-item-label>
                    <q-item-label class="font-500">
                      {{ prod.quantity }} {{ $tt("common.pcs") }}
                    </q-item-label>
                  </q-item-section>

                  <q-item-section v-show="is_custom_action" class="text-right">
                    <q-item-label caption>
                      {{
                        $tt(
                          is_custom_action && is_accepted
                            ? "pages.shipments.returns.restocked"
                            : "pages.shipments.returns.restock",
                          1
                        )
                      }}
                    </q-item-label>
                    <q-item-label
                      :class="[
                        (prod.restocked || prod.restock) && 'text-positive font-500',
                      ]"
                      v-if="prod.restocked || prod.restock"
                    >
                      {{ prod.restocked || prod.restock }} {{ $tt("common.pcs") }}
                    </q-item-label>
                    <q-item-label caption v-else>
                      &bull;
                    </q-item-label>
                  </q-item-section>

                  <q-item-section v-show="is_custom_action" class="text-right">
                    <q-item-label caption>
                      {{
                        $tt(
                          is_custom_action && is_accepted
                            ? "pages.shipments.returns.disposed"
                            : "pages.shipments.returns.disposal",
                          1
                        )
                      }}
                    </q-item-label>
                    <q-item-label
                      :class="[
                        (prod.disposed || prod.disposal) && 'text-negative font-500',
                      ]"
                      v-if="prod.disposed || prod.disposal"
                    >
                      {{ prod.disposed || prod.disposal }} {{ $tt("common.pcs") }}
                    </q-item-label>
                    <q-item-label caption v-else>
                      &bull;
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>

            <div class="col-6">
              <app-list :header="$tt('returns.info_about_return')">
                <q-item
                  v-if="false && data.days_before_stale * -1 > 0"
                  class="bg-red-1 text-negative"
                >
                  <q-item-section side>
                    <q-icon size="31px" class="q-mr-xs" color="negative" name="error" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle2">
                        {{ $tt("returns.this_return_outdated", 1) }}!
                      </div>
                      <div class="q-mt-sm">
                        {{ $tt("common.outdated", 1) }}:
                        <b>{{ Math.abs(data.days_before_stale) }}</b> дн.
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label caption>{{ $tt("common.hub", 1) }}</q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <div class="flex items-center">
                      <img
                        height="13px"
                        style="object-fit:contain;object-position:center center;border-radius:2px"
                        v-if="data.hub && data.hub.code"
                        :src="`/img/flags/${data.hub.code.toLowerCase()}.svg`"
                        class="q-mr-sm"
                      />
                      <div>{{ (data.hub && data.hub.title) || "-" }}</div>
                    </div>
                  </q-item-section>
                </q-item>

                <q-item v-if="data.is_storage_paid" class="bg-green-1 text-positive">
                  <q-item-section>
                    <q-item-label class="text-positive" caption>
                      <!-- Хранение оплачено -->
                      {{ $tt("returns.warehouse_paid") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label class="text-right">
                      <div style="font-size:11px" class="q-mb-sm">
                        {{
                          (data.paid_store_from && $date(data.paid_store_from)) || "..."
                        }}
                        -
                        {{ (data.paid_store_to && $date(data.paid_store_to)) || "..." }}
                      </div>
                      {{ $tt("returns.in_warehouse") }}:
                      <b>{{ getSavingDays(data.date) }}</b> дн.
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-if="data.track_number">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.track_number", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label>
                      {{ data.track_number }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item v-if="data.receiver_name">
                  <q-item-section>
                    <q-item-label caption>{{ $tt("common.recipient", 1) }}</q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label>
                      {{ data.receiver_name }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-expansion-item :label="$tt('common.statuses_history', 1)">
                  <div class="q-pa-md">
                    <app-list>
                      <q-item :key="idx" v-for="(e, idx) in data.status_history">
                        <q-item-section side>
                          {{ $date(e.date) }}
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>{{ e.status_title }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </app-list>
                  </div>
                </q-expansion-item>
              </app-list>
            </div>
            <div class="col">
              <div class="q-gutter-y-md">
                <q-card
                  flat
                  bordered
                  class="q-mb-md"
                  v-if="data.comment || data.action_deadline"
                >
                  <q-list separator>
                    <q-item
                      class="q-py-md bg-blue-1 text-blue-7"
                      v-if="data?.comment?.length"
                    >
                      <q-item-section>
                        <q-item-label caption>
                          {{ $tt("common.operator_comment", 1) }}:
                        </q-item-label>

                        <q-item-label class="text-subtitle2">
                          {{ data.comment }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-icon name="info_outline" color="blue-7" />
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-if="data.action_deadline"
                      class="q-py-md text-brown bg-orange-1"
                    >
                      <q-item-section>
                        <q-item-label caption>
                          {{ $tt("pages.shipments.returns.action_deadline", 1) }}
                        </q-item-label>
                        <q-item-label class="text-subtitle2">
                          {{ $date(data.action_deadline) }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-icon color="brown" name="pending_actions" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>

                <app-input
                  type="textarea"
                  :label="$tt('returns.return_note')"
                  rows="3"
                  @change="saveCustomerNote"
                  v-model="data.customers_comment"
                  hint="Цей текст бачите лише Ви"
                />
              </div>
            </div>
          </div>
        </q-item-section>
      </q-item>

      <q-inner-loading :showing="loading">
        <q-spinner size="28px" color="primary" />
      </q-inner-loading>
    </div>
  </q-expansion-item>
</template>

<script>
"use strict";
import { throttle } from "quasar";

export default {
  props: {
    data: Object,
  },

  data() {
    return {
      images: null,
      loading: false,

      loading_action: false,

      ratesDialogInstance: null,
    };
  },
  computed: {
    is_custom_action() {
      return this.data.action === "custom";
    },
    is_accepted() {
      return this.data.status === "accepted";
    },
  },
  methods: {
    async getImages() {
      if (this.images) return;

      const {
        data: { images },
      } = await this.$api.get(`/shipping/return_shipment/${this.data.id}/images`);

      if (images && images.length) {
        this.images = images;
      } else {
        this.images = [];
      }
    },
    onImageIntersection(el) {
      if (el.isIntersecting) {
        throttle(this.getImages(), 33000);
      }
    },
    async resendReturn() {
      console.log("resendReturn:");
      try {
        this.loading_action = true;

        const { data } = await this.$api.get(
          `/v2/shipping/return-shipments/${this.data.id}/resend/rates`
        );

        this.$q
          .dialog({
            parent: this,
            component: () => import("@/pages/Shipments/Create/TypesDialog.vue"),
            types: data,
            loading: this.loading.types,
          })
          .onOk(async (carrier) => {
            console.log("carrier:", carrier);

            this.loading_action = true;

            await this.$api.post(
              `/v2/shipping/return-shipments/${this.data.id}/resend/${carrier.service_id}`,
              {
                additional_services: carrier?.insurance?.id
                  ? {
                      insurance: {
                        id: carrier.insurance.id,
                      },
                    }
                  : {},
              }
            );

            this.loading_action = false;

            this.$alert({
              title: this.$tt("messages.changes_saved", 1),
              level: "success",
            });

            this.$emit("updated");

            return Promise.resolve();
          });
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading_action = false;
      }
    },
    // NEW ACTION DISPATCH
    promptAddress() {
      return new Promise(async (resolve, reject) => {
        this.$q
          .dialog({
            component: () => import("./PromptAddress.vue"),
            parent: this,
          })
          .onOk((address) => {
            resolve(address);
          })
          .onCancel(() => {
            reject();
          })
          .onDismiss(() => {
            reject();
          });
      });
    },

    async $getRates(options = {}) {
      try {
        this.loading = true;

        const { data: results } = await this.$api.post(
          `/v2/shipping/return-shipments/${this.data.id}/resend/rates`,
          options
        );

        return Promise.resolve(results);
      } catch (e) {
        console.log(e);

        return Promise.reject(e);
      } finally {
        this.loading = false;
      }
    },

    async $confirmRate(params) {
      const carrier_service_id = params.service_id;
      const insurance_id = params?.insurance?.id || null;
      const address = params?.address || null;

      try {
        this.loading = true;

        await this.$api.post(
          `/v2/shipping/return-shipments/${this.data.id}/resend/${carrier_service_id}`,
          {
            additional_services: {
              ...(insurance_id && { insurance: { id: insurance_id } }),
            },
            ...(address ? { address } : {}),
          }
        );

        this.$alert({
          title: this.$tt("pages.shipments.returns.messages.resend_action_success", 1),
          level: "success",
        });

        return Promise.resolve();
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading = false;
      }
    },

    async $resendAction(new_address = null) {
      const c = await this.$confirm({
        title: this.$tt("pages.shipments.returns.messages.resend_action_confirm", 1),
        level: "info",
      });

      if (!c) {
        return Promise.reject({ cancel: true });
      }

      return new Promise(async (done, fail) => {
        const types = await this.$getRates({
          ...(!!new_address && { address: new_address }),
        });

        const SelectCarrier = this.$q
          .dialog({
            parent: this,
            component: () => import("@/pages/Shipments/Create/TypesDialog"),
            types,
            loading: this.loading,
          })
          .onOk(async (params) => {
            await this.$confirmRate({
              ...params,
              ...(new_address ? { address: new_address } : {}),
            });

            SelectCarrier.hide();

            done();
          })
          .onCancel(() => {
            this.$message({
              title: this.$tt("messages.action_cancelled", 1),
              level: "warning",
            });

            fail({ cancel: true });
          });
      });
    },

    async selectAction({ code, title }, new_address = false) {
      try {
        this.loading = true;

        if (code === "custom") {
          await this.createDistributionRequest();
        } else if (code === "resend") {
          await this.$resendAction(new_address ? await this.promptAddress() : null);
        } else {
          await this.dispatchAction(code);
        }

        this.$emit("updated");
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    async dispatchAction(code) {
      this.loading_action = true;

      try {
        await this.$api.get(`/shipping/return_shipment/${this.data.id}/${code}`);

        this.$emit("updated");

        this.$alert({
          title: this.$tt(
            "pages.shipments.returns.messages.distribution_request_created",
            1
          ),
          level: "success",
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading_action = false;
      }
    },
    async saveCustomerNote() {
      try {
        this.loading = true;

        await this.$api.put(`/shipping/return_shipment/${this.data.id}`, {
          customers_comment: this.data.customers_comment,
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved"),
        });
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    showMedia(event, index = 0) {
      this.$q.dialog({
        parent: this,
        component: () => import("@/components/_ui/Carousel"),
        images: this.images,
        index,
      });
    },
    provideProductsInfo() {
      let PriovideProducts = this.$q
        .dialog({
          component: () => import("./ProvideProductsInfo.vue"),
          name: "set-products",
          parent: this,
        })
        .onOk(async (products) => {
          try {
            const {
              data: { success },
            } = await this.$api.post(
              `shipping/return_shipment/${this.data.id}/products`,
              products
            );

            if (success) {
              this.$alert({
                level: "success",
                title: this.$tt("messages.changes_saved"),
              });

              PriovideProducts.hide();
            }
          } catch (e) {
            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          }
        });
    },
    getSavingDays(date) {
      let now = new Date(),
        return_date = new Date(date);

      let range = Math.floor((now - return_date) / 1000 / 60 / 60 / 24);
      return range;
    },
    //
    createDistributionRequest() {
      return new Promise((resolve, reject) => {
        this.$q
          .dialog({
            component: () => import("./DistributeItems.vue"),
            parent: this,
            item: this.data,
          })
          .onOk((request) => {
            console.log("request:", request);

            this.$emit("updated");

            resolve();
          })
          .onCancel(() => {
            reject();
          });
      });
    },
    changeAddress() {
      console.log("changeAddress");
    },
  },
};
</script>

<style lang="scss">
.return-item {
  &__img {
    height: 77px;
    width: 77px;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .return-item__counter {
        opacity: 1;
      }
    }
  }

  .q-timeline__title {
    font-size: 14px !important;
    background-color: #f00;
  }

  &__counter {
    position: absolute;
    background-color: rgba(#000, 0.5);
    color: white;
    top: 0;
    left: 0;
    padding: 2px;
    z-index: 9;
    width: 100%;
    pointer-events: none;
    font-size: 11px;
    text-align: center;
    opacity: 0;
    transition: opacity ease 0.21s;
  }
}
</style>
