<template>
  <app-input
    :error="error"
    class="bg-white readonly-default"
    readonly
    :label="getModeLabel()"
    :value="getDisplayValue()"
    :color="color"
  >
    <q-menu>
      <LocalDatePicker
        :color="color"
        :range="range"
        v-model="date"
        minimal
        @input="$emit('input', date)"
        :mask="mask"
        :emit-immediately="!range"
      >
        <!-- v-close-popup="!range" -->
        <slot name="actions" v-if="$slots && $slots['actions']" />
      </LocalDatePicker>
    </q-menu>
    <template #prepend>
      <q-icon size="20px" color="grey" name="event"></q-icon>
    </template>
    <template #append>
      <app-btn
        @click.stop.prevent="
          () => {
            date = { from: null, to: null };
            $emit('input', range ? { from: null, to: null } : null);
            $emit('clear');
          }
        "
        color="negative"
        flat
        icon="close"
        dense
        size="13px"
      >
      </app-btn>
    </template>
  </app-input>
</template>
<script>
import calendarLocale from "@/data/CalendarLocale.js";

export default {
  props: {
    color: {
      type: String,
      default: "primary",
    },
    error: Boolean,
    dense: Boolean,
    value: [String, Object],
    range: Boolean,
    mask: {
      type: String,
      default: "YYYY-MM-DD",
    },
    label: {
      type: String,
    },
  },
  data() {
    return {
      ruCalendar: calendarLocale["ru-RU"],
      int_value: this.value,
    };
  },
  computed: {
    date: {
      get() {
        return this.int_value;
      },
      set(date) {
        this.int_value = date;
      },
    },
  },
  methods: {
    getDisplayValue() {
      if (this.range) {
        if (this.value.from && this.value.to) {
          return `${this.value.from} - ${this.value.to}`;
        } else {
          return "*";
        }
      } else {
        return this.value || "*";
      }
    },
    getModeLabel() {
      if (this.range) {
        return this.label || this.$tt("common.pick_range", 1);
      } else {
        return this.label || this.$tt("common.pick_date", 1);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid !important;
}
</style>
