<template>
  <PageContainer :title="$tt('nav.account.passport_info')">
    <with-loading :state="loading" />

    <div class="container">
      <div class="row q-col-gutter-x-md">
        <div class="col-4">
          <app-list :header="$tt('common.itn')" class="q-mb-lg">
            <q-item>
              <q-item-section>
                <app-input
                  :error="$v.inn.$anyError"
                  v-model="inn"
                  :label="$tt('common.itn')"
                ></app-input>
              </q-item-section>
            </q-item>
          </app-list>
        </div>
        <div class="col">
          <app-list :header="$tt('common.passport', true)">
            <q-item>
              <q-item-section>
                <q-item-label>{{ $tt("common.passport_number_series", true) }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <div class="row q-col-gutter-md">
                  <div class="col-3">
                    <app-input
                      :error="$v.passport.seria.$anyError"
                      v-model="passport.seria"
                      :label="$tt('common.series', true)"
                    >
                    </app-input>
                  </div>
                  <div class="col">
                    <app-input
                      :error="$v.passport.number.$anyError"
                      v-model="passport.number"
                      :label="$tt('common.number', true)"
                    >
                    </app-input>
                  </div>
                </div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label>{{ $tt("common.issued_date", true) }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  :error="$v.date.$anyError"
                  v-model="date"
                  :hint="`${$tt('common.date_format', 1)}: ${$tt('common.date_format_example')}`"
                >
                  <q-menu>
                    <LocalDatePicker mask="YYYY-MM-DD" v-model="date">
                      <app-btn v-close-popup @click="date = null">{{ $tt('common.cancel', true) }}</app-btn>
                      <app-btn v-close-popup color="primary" class="q-ml-sm">{{
                        $tt("common.pick", 1)
                      }}</app-btn>
                    </LocalDatePicker>
                  </q-menu>
                </app-input>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>{{ $tt("common.issued_by", true) }}</q-item-label>
                <q-item-label caption>{{ $tt("common.or") }} "{{ $tt("common.id_card") }}"</q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  :error="$v.who.$anyError"
                  v-model="who"
                  type="textarea"
                  rows="2"
                  :label="$tt('common.issued', true)"
                ></app-input>
              </q-item-section>
            </q-item>
          </app-list>
        </div>
      </div>
      <div class="flex-center q-pt-xl">
        <app-btn @click="save" padding="md xl" color="primary">
          {{ $tt("common.save", 1) }}
        </app-btn>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  created() {
    this.getInitial();
  },
  data() {
    return {
      date: null,
      passport: {
        seria: null,
        number: null,
      },
      who: null,
      inn: null,
      loading: false,
    };
  },
  methods: {
    async getInitial() {
      try {
        this.loading = true;

        const {
          data: {
            passport_data: { inn, seria, number, date, who },
          },
        } = await this.$api.get(`/user/passport/`);

        this.inn = inn;
        this.passport.seria = seria;
        this.passport.number = number;
        this.date = date;
        this.who = who;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", true) });
      } finally {
        this.loading = false;
      }
    },
    async save() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });

        return;
      }

      this.loading = true;

      // PUT /user/passport/

      let {
        inn,
        passport: { seria, number },
        date,
        who,
      } = this;

      try {
        await this.$api.put(`/user/passport/`, {
          inn,
          seria,
          number,
          date,
          who,
        });

        this.$alert({ title: this.$tt("messages.changes_saved"), level: "success" });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      passport: {
        seria: { required },
        number: { required },
      },
      date: { required },
      inn: { required },
      who: { required },
    };
  },
};
</script>
<style lang="scss"></style>
