<template>
  <PageContainer :loading="loading" :title="$tt('nav.account.sales_settings')">
    <div class="container sales-settings">
      <div v-if="settings">
        <app-list :header="$tt('pages.settings.sales.pp_settings.title')">
          <q-item>
            <q-item-section>
              <q-item-label class="text-body2">
                {{ $tt("pages.settings.sales.pp_settings.description") }}
              </q-item-label>
              <q-item-label>
                <app-banner v-if="!settings.showPaypal" class="q-my-md" level="warning" gradient>
                  <div class="font-500">
                    <!-- В данный момент информация об адресе PayPal недоступна -->
                    {{ $tt("pages.settings.sales.pp_settings.no_address_warn") }}
                  </div>
                </app-banner>

                <app-input
                  v-else-if="settings.paypal_email"
                  class="q-my-md"
                  :label="`PayPal ${$tt('common.address')}`"
                  :value="settings.paypal_email"
                  readonly
                  :dense="false"
                >
                  <template #append>
                    <app-btn
                      icon="copy_all"
                      flat
                      size="12px"
                      color="accent"
                      padding="10px"
                      @click="
                        () => {
                          $copyText(settings.paypal_email);
                          $message({ title: 'Значение скопировано', level: 'success' });
                        }
                      "
                    />
                  </template>
                </app-input>

                <app-banner v-else class="q-my-md" level="warning" gradient>
                  <div class="font-500">
                    {{ $tt("errors.not_enough_data", 1) }}
                    <!-- для отображения PayPal-адреса -->
                  </div>
                </app-banner>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="q-py-md">
            <q-item-section class="text-body2">
              <q-item-label>
                <!-- Укажите Ваш eBay-логин, название Etsy магазина. -->
                {{ $tt("pages.settings.sales.pp_settings.logins_title") }}
              </q-item-label>
              <q-item-label caption>
                <!-- Время зачисления платежа - до 15 минут. -->
                {{ $tt("pages.settings.sales.pp_settings.logins_desc") }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <div v-if="settings.accounts && settings.accounts.length">
            <q-item :key="idx" v-for="(acc, idx) in settings.accounts">
              <q-item-section>
                {{ acc }}
              </q-item-section>
              <q-item-section side>
                <q-item-label>
                  <q-btn size="12px" @click="removeAccount(acc)" color="negative" flat>
                    <!-- удалить -->
                    {{ $tt("common.delete") }}
                  </q-btn>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-separator></q-separator>
          </div>
          <q-item clickable class="text-accent" @click="addAccount">
            <q-item-section side>
              <q-icon color="accent" name="add"></q-icon>
            </q-item-section>
            <q-item-section>
              <div class="text-subtitle2">
                {{ $tt("common.add", 1) }} Etsy {{ $tt("common.shop") }}
              </div>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list class="q-mt-xl" :header="$tt('pages.settings.sales.cms.title')">
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label class="text-body2">
                {{ $tt("pages.settings.sales.cms.desc") }}
              </q-item-label>
              <q-item-label>
                <app-input class="q-my-md" :value="settings.token">
                  <template #append>
                    <app-btn
                      icon="copy_all"
                      flat
                      size="12px"
                      color="accent"
                      padding="10px"
                      @click="
                        () => {
                          $copyText(settings.token);
                          $message({ title: 'Значение скопировано', level: 'success' });
                        }
                      "
                    />
                  </template>
                </app-input>
              </q-item-label>
              <q-item-label>
                <div class="text-muted">
                  {{ $tt("pages.settings.sales.cms.help_api") }}
                  <a href="https://developer.paypal.com">developer.paypal.com</a>
                  <br />
                  <br />
                  {{ $tt("pages.settings.sales.cms.help_note") }}
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list class="q-mt-xl" :header="$tt('pages.settings.sales.personal_links.title')">
          <q-item class="bg-blue-1 text-blue-8">
            <q-item-section>
              <q-item-label class="q-py-md">
                {{ $tt("pages.settings.sales.personal_links.info") }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="text-accent" clickable to="/payment-links">
            <q-item-section>
              <q-item-label>
                {{ $tt("pages.settings.sales.personal_links.manage") }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <q-icon size="22px" color="accent" name="arrow_forward"></q-icon>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list
          :key="idx"
          v-for="(m, idx) in settings.webhooks"
          :header="`${$tt('pages.settings.sales.settings_data')} ${m.system}`"
          class="q-mt-xl"
        >
          <q-item class="q-pb-lg">
            <q-item-section>
              <q-item-label>
                <app-input :dense="false" :value="m.link" readonly>
                  <template #append>
                    <app-btn
                      icon="copy_all"
                      flat
                      size="12px"
                      color="accent"
                      padding="10px"
                      @click="
                        () => {
                          $copyText(m.link);
                        }
                      "
                    />
                  </template>
                </app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="text-accent" @click="$openURL(m.help)" clickable>
            <q-item-section side>
              <q-icon color="accent" name="help_outline"></q-icon>
            </q-item-section>
            <q-item-section class="text-subtitle2">
              {{ $tt("pages.settings.sales.help_for") }} {{ m.system }}
            </q-item-section>
            <q-item-section side>
              <q-icon color="accent" name="chevron_right"></q-icon>
            </q-item-section>
          </q-item>
        </app-list>
      </div>
      <div v-else>
        <small class="text-muted">
          {{ $tt("errors.no_data", 1) }}
        </small>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  created() {
    this.getSettings();
  },
  data() {
    return {
      loading: null,
      settings: null,
    };
  },
  methods: {
    async getSettings() {
      try {
        this.loading = true;

        let {
          data: { success, ...settings },
        } = await this.$api.get(`user/accounts`);

        this.settings = settings || {};
        this.settings.showPaypal =
          parseInt(process.env.HIDE_PAYPAL_RF) === 1
            ? this.$store.getters["auth/user"] &&
              !["RU", "BY"].includes(this.$store.getters["auth/user"].country_iso)
            : true;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "" });
      } finally {
        this.loading = false;
      }
    },
    async removeAccount(account) {
      let c = await this.$confirm({
        // title: "Действительно хотите удалить аккаунт ?",
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.delete")} ${this.$tt("common.account")}`,
        }),
        // message: "Это действие нельзя отменить",
        level: "warning",
      });

      if (!c) return;

      try {
        this.loading = true;

        await this.$api.delete(`user/accounts`, { data: { account } });

        this.$message({ level: "success", title: this.$tt("messages.changes_saved", 1) });

        this.getSettings();
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async addAccount() {
      this.$q
        .dialog({
          parent: this,
          component: () => import("./PromptAccount.vue"),
        })
        .onOk(() => this.getSettings());
    },
  },
};
</script>
<style lang="scss">
.sales-settings {
  .text-body2 {
    line-height: 1.42 !important;
    font-size: 13px;
  }
}
</style>
