<template>
  <q-dialog :position="$q.screen.xs || $q.screen.sm ? 'bottom' : 'top'" ref="prompt-account">
    <q-card>
      <with-loading :state="loading" />

      <form @submit.prevent="submitAccount">
        <q-item class="q-py-md">
          <q-item-section>
            <div class="flex-center-between">
              <h5 class="q-ma-none">
                <!-- Добавить новый Etsy-магазин -->
                {{ $tt("common.add", 1) }}
                {{ $tt("common.new") }}
                Etsy
                {{ $tt("common.shop") }}
              </h5>
              <q-btn
                icon="close"
                color="negative"
                round
                class="q-ml-xl"
                flat
                @click="hide"
              ></q-btn>
            </div>
          </q-item-section>
        </q-item>
        <q-separator></q-separator>
        <q-item class="q-py-md">
          <q-item-section>
            <q-item-label>
              <app-input v-model="account" label="Etsy-магазин" :dense="false"></app-input>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator></q-separator>
        <q-item class="q-py-md">
          <q-item-section>
            <div class="flex-center-between">
              <div></div>
              <app-btn
                size="12px"
                padding="11px"
                :disable="!account || !account.length"
                type="submit"
                color="positive"
              >
                {{ $tt("common.save", 1) }}
              </app-btn>
            </div>
          </q-item-section>
        </q-item>
      </form>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  data() {
    return {
      account: null,
      loading: false,
    };
  },
  methods: {
    show() {
      this.$refs["prompt-account"].show();
    },
    hide() {
      this.$refs["prompt-account"].hide();
    },
    async submitAccount() {
      try {
        this.loading = true;

        let { account } = this;
        await this.$api.post(`/user/accounts`, {
          account,
        });

        this.$message({ title: "Аккаунт успешно добавлен", level: "success" });

        this.hide();
        this.$emit("ok");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss"></style>
