<template>
  <div class="counter flex q-gutter-x-sm">
    <app-btn
      size="sm"
      icon="remove"
      @click.prevent="changeCount('dec')"
      :disable="disabled.dec"
      flat
      v-ripple:negative
      color="negative"
    />
    <app-input
      @input="directInput"
      @change="handleChange"
      v-model.number="value"
      :readonly="disabled.dec && disabled.inc"
      class="text-center"
      :size="size"
      style="width:77px"
    />
    <app-btn
      size="sm"
      color="blue-8"
      icon="add"
      @click.prevent="changeCount('inc')"
      :disable="disabled.inc"
      flat
      v-ripple:blue-8
    />
  </div>
</template>

<script>
export default {
  name: "counter",
  model: {
    event: "input",
    prop: "value",
  },
  props: {
    max: [Number, Boolean],
    value: {
      type: Number,
      default: 1,
    },
    disabled: {
      type: Object,
      default: () => ({ inc: false, dec: false }),
    },
    size: {
      type: String,
      default: "14px",
    },
  },
  data() {
    return {
      count: this.value,
    };
  },
  computed: {
    counter: {
      get() {
        return this.count;
      },
      set(count) {
        this.count = count;
      },
    },
  },
  methods: {
    changeCount(op) {
      if (op === "dec") {
        if (this.counter === 1) return; // ? prevent 0 count
        this.counter = this.counter - 1;
      } else if (op === "inc") {
        if (this.max && this.max === this.counter) return;
        this.counter = this.counter + 1;
      }

      this.$emit("input", this.counter);
    },
    directInput(value) {
      value = +value;

      if (this.max && value > this.max) {
        this.$message({
          title: "Невозможно отправить больше товаров, чем имеется в наличии на складе",
          level: "warning",
        });

        this.counter = this.max;
      } else {
        this.counter = value;
      }

      this.$emit("input", this.counter);
    },
    handleChange(event) {
      if (!this.count) {
        this.count = 1;
      }
    },
  },
};
</script>

<style lang="scss">
.counter {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 1;

  .app-input {
    margin: 0 7px;
    width: 49px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .q-field__native {
    font-weight: 600;
    font-size: 15px;
    text-align: center !important;
  }
}
</style>
