<template>
  <q-dialog :ref="name">
    <q-card style="min-width:420px">
      <q-card-section>
        <div class="flex-center-between full-width">
          <h5 class="q-ma-none">{{ title }}</h5>
          <q-btn class="q-ml-lg" size="10px" flat color="negative" @click="hide" icon="close" round></q-btn>
        </div>
      </q-card-section>
      <q-card-section>
        <form @submit.prevent="saveCategory">
          <div>
            <app-input
              :label="$tt('common.title', 1)"
              v-model="category.title"
              class="q-mb-md"
              :error="$v.category.title.$anyError"
            />
            <app-input
              type="textarea"
              label="Описание"
              v-model="category.description"
              rows="3"
              class="q-mb-md"
              :error="$v.category.description.$anyError"
            />
          </div>
          <q-btn color="primary" type="submit" class="full-width" :label="$tt('common.save', 1)" />
        </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: { name: String, title: String },
  data() {
    return {
      category: { title: null, description: null },
    };
  },
  //   mounted() {},
  methods: {
    show() {
      this.$refs[this.name].show();
    },
    hide() {
      this.$refs[this.name].hide();
    },
    saveCategory() {
      this.$v.category.$touch();

      if (this.$v.category.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });
        return;
      }

      this.$emit("ok", this.category);
      this.hide();
    },
  },
  validations() {
    return {
      category: {
        title: { required },
        description: { required },
      },
    };
  },
};
</script>

<style></style>
