<template>
  <div class="wh-categories" style="position:relative">
    <div v-if="!$q.screen.sm && !$q.screen.xs">
      <div class="wh-categories__tree rounded-borders aborder bg-white" style="position: relative;">
        <with-loading :state="loading" />
        <q-tree
          acc
          dense
          :nodes="[
            {
              title: `${$tt('common.all', 1, 2)} ${$tt('common.category', 0, 2)}`,
              id: null,
            },
            ...categories,
          ]"
          node-key="id"
          label-key="title"
          children-key="folders"
          selected-color="white"
          :selected.sync="catrgory_id"
        >
          <template #default-header="data">
            <div class="full-width flex-center-between">
              {{ data.node.title }}
              <div>
                <q-btn
                  v-if="!!data.node.id"
                  icon="more_horiz"
                  class="bg-white text-primary"
                  push
                  @click.stop
                  padding="xs"
                >
                  <q-menu>
                    <q-list>
                      <q-item-label header>
                        <small class="font-500"> {{ data.node.title }}: </small>
                      </q-item-label>
                      <q-item v-close-popup @click.stop="createCategory(data.node)" clickable>
                        <q-item-section>
                          {{ $tt("warehouse.create_nested_category", 1) }}
                        </q-item-section>
                      </q-item>
                      <q-item @click.stop="initEditCategory(data.node.id)" clickable v-close-popup>
                        <q-item-section>
                          {{ $tt("common.edit", 1) }}
                        </q-item-section>
                      </q-item>
                      <q-item class="text-negative" @click.stop="deleteCategory(data.node.id)" clickable v-close-popup>
                        <q-item-section>{{ $tt("common.delete", 1) }}</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </div>
            </div>
          </template>
        </q-tree>
      </div>
      <app-btn @click="createCategory(null)" size="13px" icon="add" class="text-primary q-mt-md full-width">
        &nbsp;&nbsp;{{ $tt("common.new_f", 1) }} {{ $tt("common.category") }}
      </app-btn>
    </div>
    <div v-else>
      <q-btn :label="$tt('common.category', 1, 2)" class="full-width">
        <q-badge v-if="full_category" floating>
          {{ full_category.title }}
        </q-badge>
        <q-menu fit>
          <div class="wh-categories__tree bg-white" style="position: relative;border:none;height:auto;">
            <with-loading :state="loading" />
            <q-tree
              acc
              dense
              :nodes="[
                {
                  title: `${$tt('common.all', 1, 2)} ${$tt('common.category', 0, 2)}`,
                  id: null,
                },
                ...categories,
              ]"
              node-key="id"
              label-key="title"
              children-key="folders"
              selected-color="white"
              :selected.sync="catrgory_id"
            >
              <template #default-header="data">
                <div class="full-width flex-center-between">
                  {{ data.node.title }}
                  <div>
                    <q-btn
                      v-if="!!data.node.id"
                      icon="more_vert"
                      size="7px"
                      dense
                      unelevated
                      @click.stop
                      class="bg-grey-2"
                    >
                      <q-menu>
                        <q-list>
                          <q-item-label header> {{ data.node.title }}: </q-item-label>
                          <q-item v-close-popup @click.stop="createCategory(data.node)" clickable>
                            <q-item-section>
                              Создать вложенную категорию
                            </q-item-section>
                          </q-item>
                          <q-item @click.stop="initEditCategory(data.node.id)" clickable v-close-popup>
                            <q-item-section>
                              {{ $tt("common.edit", 1) }}
                            </q-item-section>
                          </q-item>
                          <q-item
                            class="text-negative"
                            @click.stop="deleteCategory(data.node.id)"
                            clickable
                            v-close-popup
                          >
                            <q-item-section>{{ $tt("common.delete", 1) }}</q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </div>
                </div>
              </template>
            </q-tree>
          </div>
          <q-separator />
          <q-btn @click="createCategory(null)" icon="add" class="full-width q-py-sm" flat>
            &nbsp;&nbsp;{{ $tt("common.new_f", 1) }} {{ $tt("common.category") }}
          </q-btn>
        </q-menu>
      </q-btn>
    </div>
  </div>
</template>

<script>
const recursivlyFindTarget = (list, target_id) => {
  let category;

  [...list].some(
    (currentItem) =>
      (category =
        currentItem.id === target_id
          ? currentItem
          : currentItem.folders && recursivlyFindTarget(currentItem.folders, target_id)) || null
  );

  return category;
};

export default {
  props: {
    preselect: null,
  },
  mounted() {
    this.getCategories();
    if (this.preselect) this.catrgory_id = this.preselect;
  },
  data() {
    return {
      catrgory_id: null,
      categories: [],
      loading: false,
      new_category: {
        category_title: null,
        category_description: null,
      },
      editable_category: {
        title: null,
        desc: null,
      },
    };
  },
  watch: {
    catrgory_id(cat) {
      this.$emit("change", this.full_category);
    },
  },
  computed: {
    full_category() {
      if (this.categories && this.catrgory_id) {
        return recursivlyFindTarget(this.categories, this.catrgory_id);
      } else {
        return null;
      }
    },
  },
  methods: {
    getCategories() {
      this.loading = true;

      this.$api
        .get(`/warehouse/get_tree`)
        .then(
          ({
            data: {
              category_tree: { folders },
            },
          }) => {
            this.categories = folders;
          }
        )
        .catch((e) => {
          this.$alert({
            level: "warning",
            title: (e && e.response && e.response.data && e.response.data.message) || this.$tt("errors.load_data"),
            errors: e && e.response && e.response.data && e.response.data.errors,
          });
        })
        .then(() => {
          this.loading = false;
        });
    },

    // ? REFACTOR START

    createCategory(parent = null) {
      this.$q
        .dialog({
          parent: this,
          component: () => import("./CreateCategory.vue"),
          name: "create-category",
          // title: `Создать новую ${parent && parent.title ? "вложенную" : ""} категорию`,
          title:
            parent && parent.title
              ? this.$tt("warehouse.create_nested_category", 1) + ` (${parent.title})`
              : this.$tt("warehouse.create_category", 1),
        })
        .onOk(async ({ title: category_title, description: category_description }) => {
          await this.saveNewCategory({
            category_title,
            category_description,
            category_parent: (parent && parent.id) || 0,
          });

          this.$message({
            title: this.$tt("warehouse.category_created"),
            level: "success",
          });
        });
    },

    saveNewCategory(category) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          await this.$api.post(`/warehouse/categories`, category);

          this.getCategories();
          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
        } finally {
          this.loading = false;
        }
      });
    },

    // * DONE:
    initEditCategory(category_id) {
      let category = recursivlyFindTarget(this.categories, category_id);
      if (!category) return;

      this.$q
        .dialog({
          parent: this,
          component: () => import("./EditCategory.vue"),
          title: "Edit Category",
          category,
          name: "edit-category",
        })
        .onOk(async (data) => {
          await this.saveCategory(data);
          this.$message({ level: "success", title: this.$tt("messages.changes_saved") });
        });
    },
    async saveCategory({ id: category_id, title: category_title, desc: category_description }) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          await this.$api({
            url: `/warehouse/categories`,
            method: "PUT",
            data: {
              category_id,
              category_title,
              category_description,
            },
          });
          this.getCategories();

          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    async deleteCategory(category_id = this.category_id) {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", { action: this.$tt("warehouse.remove_category") }),
        width: 420,
        level: "danger",
      });

      if (!c) return false;

      try {
        this.loading = true;

        await this.$api({
          url: `/warehouse/categories`,
          method: "DELETE",
          data: { category_id },
        });

        this.$message({
          title: this.$tt("warehouse.category_deleted"),
          level: "success",
        });

        this.getCategories();
        this.catrgory_id = null;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss">
.wh-categories {
  // height: 100%;

  &__tree {
    height: 411px;
    overflow-y: scroll;
    padding: 14px 10px;

    .q-tree__node {
      font-size: 13px;
      font-weight: 600;
    }

    .q-tree__node--selected {
      background-color: $primary;

      .q-tree__arrow {
        color: #fff;
      }

      .q-tree__node-header-content {
        // color: #fff;
      }
    }
  }
}
</style>
