<template>
  <PageContainer :title="`${$tt('nav.sells.agent_sales.title')}: ${$tt('nav.sells.agent_sales.products.title')}`">
    <div class="container" id="agent-sales-products">
      <!-- :loading="true" -->
      <form @submit.prevent="$router.push({ query: { ...normalizeQuery(), page: 0 } })">
        <div class="q-mb-xl">
          <div class="row q-col-gutter-md q-mb-md">
            <div class="col-4">
              <app-input
                  v-model="filter.product_title"
                  :label="$tt('filter_fields.product_title_part', 1)"
              ></app-input>
            </div>
            <div class="col-4">
              <app-input
                  v-model="filter.sku"
                  :label="$tt('filter_fields.sku', 1)"
              ></app-input>
            </div>
            <div class="col-4">
              <app-input
                  v-model="filter.request_id"
                  :label="$tt('common.request_id', 1)"
              ></app-input>
            </div>
          </div>
          <div class="row q-col-gutter-md">
            <div class="col-4">
              <app-select
                  :label="$tt('filter_fields.sorting', 1)"
                  dense
                  :options="[
                    { label: $tt('pages.agent_sales.request_id_asc'), value: 'request_id_asc' },
                    { label: $tt('pages.agent_sales.request_id_desc'), value: 'request_id_desc' },
                    { label: $tt('pages.agent_sales.product_stock_asc'), value: 'product_stock_asc' },
                    { label: $tt('pages.agent_sales.product_stock_desc'), value: 'product_stock_desc' },
                  ]"
                  emit-value
                  map-options
                  v-model="filter.sort_by"
              >
              </app-select>
            </div>
            <div class="col-4">
              <app-select
                  :label="$tt('pages.agent_sales.product_status_filter.title')"
                  dense
                  :options="[
                    { label: $tt('common.all', true, 2), value: null },
                    { label: $tt('pages.agent_sales.product_status_filter.in_warehouse'), value: 'in_warehouse' },
                    { label: $tt('pages.agent_sales.product_status_filter.on_the_way'), value: 'on_the_way' },
                  ]"
                  emit-value
                  map-options
                  v-model="filter.product_status"
              >
              </app-select>
            </div>
            <div class="col text-right">
              <div class="q-gutter-x-md full-height">
                <app-btn
                    @click="clearFilter"
                    type="button"
                    class="full-height"
                    text-color="negative"
                >
                  {{ $tt("common.clear") }}
                </app-btn>
                <app-btn type="submit" class="full-height" color="primary">
                  {{ $tt("common.apply") }}
                </app-btn>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-table-list
        :colspan="4"
        :loading="loading"
        :empty="!products?.length && $tt('errors.no_data', 1)"
      >
        <template #pagination>
          <q-item class="q-py-md">
            <q-item-section>
              <div class="flex-center-between">
                <div>
                  <app-pagination
                    size="12px"
                    :value="(($route.query && $route.query.page && +$route.query.page) || 0) + 1"
                    :to-fn="getPageRoute"
                    :max="total_pages"
                    :disable="loading"
                  ></app-pagination>
                </div>

                <div class="flex items-center">
                  <small class="text-muted q-mr-sm"> {{ $tt("common.on_page") }}: </small>
                  <app-select
                    :value="filter.on_page"
                    :options="[10, 20, 35, 50, 75, 100]"
                    @input="
                      (on_page) =>
                        $router.push({ query: { ...filter, page: 0, on_page } }).catch(() => {})
                    "
                  ></app-select>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </template>

        <template #thead>
          <tr>
            <th rowspan="2" side style="max-width: 80px; width: 80px;"></th>
            <th colspan="3" class="text-center" style="width: 65%">
              {{ $tt("pages.agent_sales.agent_product") }}
            </th>
            <th rowspan="2" class="vertical-middle" style="width: 25%">
              {{ $tt("pages.agent_sales.your_product") }}
            </th>
            <th rowspan="2" class="vertical-middle" style="width: 5%">
              {{ $tt("pages.agent_sales.request_number") }}
            </th>
          </tr>
          <tr>
            <th>
              {{ $tt("products.title_sku", 1) }}
            </th>
            <th>
              {{ $tt("products.in_stock", 1) }}
            </th>
            <th>
              {{ $tt("products.on_the_way", 1) }}
            </th>
          </tr>
        </template>

        <tr v-for="product in products" :key="product.agent_sale_id">
          <td side>
            <q-img
                v-if="getListingImage(product)"
                :src="getListingImage(product)"
                height="70px"
                width="70px"
                cover
                class="rounded-borders"
            ></q-img>
            <div v-else class="flex-center" style="height: 70px; width: 70px; background-color: #f5f5f5">
              <q-icon name="photo" size="20px" color="grey"></q-icon>
            </div>
          </td>
          <td>
            <div class="text-h5">
              {{ product.listing_product.product_code }}
            </div>
            <small class="text-muted ellipsis">
              {{ product.listing_product.product_title }}
            </small>
          </td>
          <td>
            <span class="text-subtitle2">
              {{ product.listing_product.current_stock || '-' }}
            </span>
          </td>
          <td>
            <span class="text-subtitle2">
              {{ product.listing_product.on_the_way || '-' }}
            </span>
          </td>
          <td>
            <template v-if="product.request_product">
              <div class="text-h5">
                {{ product.request_product.product_code }}
              </div>
              <small class="text-muted ellipsis">
                {{ product.request_product.product_title }}
              </small>
            </template>
            <template v-else>
              <span class="text-muted">{{ $tt("common.not_specified") }}</span>
            </template>
          </td>
          <td>
            <router-link :to="`/agent-sales/request/${product.agent_sale_id}`" class="cursor-pointer" target="_blank">
              {{ product.agent_sale_id }}
            </router-link>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  props: {},
  mounted() {
    this.$router
      .replace({ query: { ...this.normalizeQuery(), ...this.normalizeQuery(this.$router.query) } })
      .catch(() => {});
  },
  data() {
    return {
      loading: false,
      products: null,
      items_total: 0,
      filter: {
        page: 0,
        on_page: 20,
        request_id: null,
        sku: null,
        product_title: null,
        sort_by: "request_id_desc",
        product_status: null,
      },
    };
  },
  computed: {
    total_pages() {
      return (this.items_total && Math.ceil(this.items_total / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "$route.query": {
      handler(query) {
        this.getProducts(query);
      },
      immediate: true,
    },
    "filter.on_page"(on_page) {
      this.$router.push({ query: { ...this.filter, page: 0, on_page } }).catch(() => {});
    },
  },
  methods: {
    async getProducts(query = this.filter) {
      query = this.normalizeQuery(query);

      try {
        this.loading = true;

        let {
          data: { products, items_total },
        } = await this.$api.post(`/agent-sales/products`, query);

        this.items_total = items_total;
        this.products = products;

        this.filter = {
          ...this.filter,
          ...query,
        };
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    getPageRoute(page) {
      return { query: { ...this.filter, page: page - 1 } };
    },
    normalizeQuery(filter = this.filter) {
      return this.$normalizeQuery({
        is_number: ["on_page", "page", "request_id"],
      })(filter);
    },
    clearFilter() {
      this.filter.request_id = null;
      this.filter.sku = null;
      this.filter.product_title = null;
      this.filter.sort_by = "request_id_desc";
      this.filter.product_status = null;

      this.$router.push({ query: { page: 0, on_page: this.filter.on_page } }).catch(() => {});
    },
    getListingImage(product) {
      if (product.listing_product && product.listing_product.image_url) {
        return product.listing_product.image_url;
      } else if (
        product.request_product && product.request_product.image_url
      ) {
        return product.request_product.image_url;
      } else if (
          product.images_preview_link &&
          /(png|jpeg|jpg|webp)$/.test(product.images_preview_link)
      ) {
        return product.images_preview_link;
      } else {
        return null;
      }
    }
  },
};
</script>

<style lang="scss">
#agent-sales-products {
  table {
    border-collapse: collapse !important;
  }

  thead {
    tr {
      th {
        text-align: center !important;
        border: 1px solid rgba(0, 0, 0, 0.12) !important;

        &:first-child {
          border-left: none !important;
        }

        &:last-child {
          border-right: none !important;
        }
      }
    }
  }
}
</style>