<template>
  <PageContainer :title="$tt('limited_access_accounts', 1)">
    <template #actions>
      <app-btn padding="9px" size="12px" to="/subaccounts/new" color="accent">
        {{ $tt("add_account", 1) }}

        {{ $tt("with_limited_access", 1) }}
      </app-btn>
    </template>

    <div class="container">
      <app-list
        :min-width="permissions && Object.keys(permissions).length * 140"
        :loading="loading"
        :empty="!accounts?.length && $tt('messages.no_data', 1)"
      >
        <q-expansion-item
          header-class="q-py-md"
          :key="acc.id"
          group="accounts"
          v-for="acc in accounts"
        >
          <template #header>
            <q-item-section avatar>
              <q-icon name="verified" v-if="acc.active" color="positive" size="28px">
                <q-tooltip anchor="top middle" self="bottom middle">
                  <!-- Аккаунт активен -->
                  {{ $tt("common.active", 1) }}
                </q-tooltip>
              </q-icon>
              <q-icon name="power_off" v-else color="negative" size="28px">
                <q-tooltip anchor="top middle" self="bottom middle">
                  <!-- Аккаунт отключён -->
                  {{ $tt("common.inactive", 1) }}
                </q-tooltip>
              </q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                {{ $tt("common.title", 1) }}
              </q-item-label>
              <q-item-label class="text-subtitle2">
                {{ acc.name }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                Email
              </q-item-label>
              <q-item-label>
                {{ acc.email }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                <!-- Уровень прав -->
                {{ $tt("permission_level", 1) }}
              </q-item-label>
              <q-item-label>
                <q-linear-progress
                  :value="getPermissionsCount(acc) / Object.keys(acc.permissions).length"
                  size="14px"
                  class="q-mt-sm relative-position flex-cetner rounded-borders"
                  style="max-width:140px"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    <!-- разрешений: -->
                    {{ $tt("common.permission", 1, 2) }}

                    <span class="font-500">
                      {{ getPermissionsCount(acc) }}
                    </span>
                    /
                    {{ Object.keys(acc.permissions).length }}
                  </q-tooltip>
                </q-linear-progress>
              </q-item-label>
            </q-item-section>
          </template>

          <q-separator />

          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption>
                <!-- Управление разрешениями -->
                {{ $tt("manage_permissions", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-btn
                :to="{ name: 'EDIT_SUBACCOUNT', params: { account: acc } }"
                color="primary"
                size="12px"
                padding="9px"
                icon="manage_accounts"
              >
                <!-- Изменить настройки аккаунта -->
                {{ $tt("edit_account_settings", 1) }}
              </app-btn>
            </q-item-section>
          </q-item>

          <div class="row">
            <div
              v-for="([key, value], idx) in Object.entries(acc.permissions)"
              :key="idx"
              class="col-4"
            >
              <q-item class="full-height q-py-md">
                <q-item-section side class="q-pr-sm">
                  <q-icon
                    v-if="value"
                    name="check_circle_outline"
                    color="positive"
                    size="28px"
                    class="q-mr-sm"
                  />
                  <q-icon
                    v-else
                    name="highlight_off"
                    color="negative"
                    size="28px"
                    class="q-mr-sm"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label class="text-subtitle2">
                    {{ getPermissionInfo(key).name }}
                  </q-item-label>
                  <q-item-label caption>
                    {{ getPermissionInfo(key).desc }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <div class="flex items-center no-wrap">
                <div class="q-ml-xs"></div>
              </div>
            </div>
          </div>
        </q-expansion-item>
      </app-list>
    </div>
  </PageContainer>
</template>

<i18n lang="json">
{
"en": {
"add_account": "Add account",
"with_limited_access": "with limited access",
"permission_level": "Permission level"
,"manage_permissions": "Manage permissions"
,"edit_account_settings": "Edit account settings",
"limited_access_accounts": "Limited access accounts"
},
"uk": {
  
"add_account": "Додати аккаунт",
"with_limited_access": "з обмеженим доступом",
"permission_level": "Рівень доступу",
"manage_permissions": "Управління дозволами",
"edit_account_settings": "Редагувати налаштування",
"limited_access_accounts": "Облікові записи з обмеженим доступом"
}
}
</i18n>

<script>
export default {
  created() {
    this.getAccounts();
    this.getPermissions();
  },
  data() {
    return {
      accounts: null,
      permissions: null,
      loading: false,
    };
  },
  methods: {
    async getAccounts() {
      try {
        this.loading = true;

        const {
          data: { subaccounts },
        } = await this.$api.get(`/user/sub`);

        this.accounts = subaccounts;
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading = false;
      }
    },
    async getPermissions() {
      try {
        this.loading = true;

        const {
          data: { permissions },
        } = await this.$api.get(`/user/sub/rights/`);

        this.permissions = permissions;
      } catch (e) {
        console.log(e);
        this.$showApiError(e);
      } finally {
        this.loading = false;
      }
    },
    getPermissionsCount(acc) {
      return Object.entries(acc.permissions).filter(([k, val]) => val === true).length;
    },
    getPermissionInfo(code) {
      return (this.permissions && this.permissions.find((p) => p.key === code)) || null;
    },
  },
};
</script>
