<template>
  <PageContainer :title="$tt('nav.my_account.cashback.title')">
    <template #actions>
      <div class="flex" :class="$q.screen.xs ? 'column q-gutter-y-md full-width' : 'q-gutter-x-md'">
        <app-select
          :class="[$q.screen.xs && 'full-width']"
          :label="$tt('common.month', 1)"
          :options="[
            { value: 1, label: $tt('months.jan') },
            { value: 2, label: $tt('months.feb') },
            { value: 3, label: $tt('months.mar') },
            { value: 4, label: $tt('months.apr') },
            { value: 5, label: $tt('months.may') },
            { value: 6, label: $tt('months.jun') },
            { value: 7, label: $tt('months.jul') },
            { value: 8, label: $tt('months.aug') },
            { value: 9, label: $tt('months.sep') },
            { value: 10, label: $tt('months.oct') },
            { value: 11, label: $tt('months.nov') },
            { value: 12, label: $tt('months.dec') },
          ]"
          emit-value
          map-options
          v-model="date.mon"
          :disable="loading"
          style="min-width:140px"
        ></app-select>
        <app-select
          :class="[$q.screen.xs && 'full-width']"
          :label="$capitalize($tt('common.year'))"
          :options="[2019, 2020, 2021, 2022, 2023]"
          v-model="date.year"
          :disable="loading"
          style="min-width:140px"
        ></app-select>

        <app-btn @click="getCashback(1)" color="accent" :loading="!!loading">
          {{ $tt("common.load") }}
        </app-btn>
      </div>
    </template>
    <div class="container">
      <app-list v-if="cashback" :loading="!!loading" :header="$tt('pages.cashback.list_title')" style="max-width:490px">
        <q-item>
          <q-item-section>
            {{ $tt("pages.cashback.customer_sell_order", 1) }}
          </q-item-section>
          <q-item-section avatar>{{ cashback.detail.CUSTOMER_SELL_ORDER }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section> {{ $tt("pages.cashback.paypal_comm", 1) }} </q-item-section>
          <q-item-section avatar>{{ cashback.detail.PAYPAL_COMM }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section> {{ $tt("pages.cashback.sales_tax", 1) }} </q-item-section>
          <q-item-section avatar>{{ cashback.detail.SALES_TAX }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section> {{ $tt("pages.cashback.refund", 1) }} </q-item-section>
          <q-item-section avatar>{{ cashback.detail.REFUND }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section> {{ $tt("pages.cashback.paypal_comm_refund", 1) }} </q-item-section>
          <q-item-section avatar>{{ cashback.detail.PAYPAL_COMM_REFUND }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section> {{ $tt("pages.cashback.sales_tax_refund", 1) }} </q-item-section>
          <q-item-section avatar>{{ $toUSD(cashback.detail.SALES_TAX_REFUND) }}</q-item-section>
        </q-item>
        <q-item v-if="cashback.customer_discount !== 0">
          <q-item-section> {{ $tt("pages.cashback.customer_discount", 1) }} </q-item-section>
          <q-item-section avatar>{{ cashback.customer_discount }}%</q-item-section>
        </q-item>
        <q-item
          v-else
          class="font-500"
          :class="
            ` bg-${cashback.can_use_cashback ? 'green-1' : 'red-1'} text-${
              cashback.can_use_cashback ? 'positive' : 'negative'
            }`
          "
        >
          <q-item-section>Cashback {{ $tc("common.available", 1) }}</q-item-section>
          <q-item-section avatar>
            <div class="flex items-center">
              <q-icon
                :name="cashback.can_use_cashback ? 'check' : 'close'"
                :color="cashback.can_use_cashback ? 'positive' : 'negative'"
                v-once
                size="21px"
              ></q-icon>
              <!-- <div :class="`text-${cashback.can_use_cashback ? 'positive' : 'negative'}`" class="q-ml-sm">
                {{ cashback.can_use_cashback ? "Да" : "Нет" }}
              </div> -->
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>{{ $tt("pages.cashback.total") }}</q-item-section>
          <q-item-section avatar>{{ cashback.total }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>{{ $tt("pages.cashback.sum_for_calc") }}</q-item-section>
          <q-item-section avatar>{{ cashback.sum_for_calc }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>{{ $tt("pages.cashback.expected_cashback") }}</q-item-section>
          <q-item-section avatar>{{ cashback.expected_cashback }}$</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>{{ $tt("pages.cashback.percent") }}</q-item-section>
          <q-item-section avatar>
            <b>{{ cashback.percent }}%</b>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>{{ $tt("pages.cashback.period") }}</q-item-section>
          <q-item-section avatar>{{ cashback.period }}</q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  created() {
    let date = new Date();

    let current_mon = date.getMonth();
    let current_year = date.getFullYear();

    this.date.mon = current_mon + 1;
    this.date.year = current_year;

    this.getCashback();
  },
  data() {
    return {
      cashback: null,
      date: {
        mon: null,
        year: null,
      },
      loading: false,
    };
  },
  methods: {
    async getCashback(triggered = false) {
      this.cashback = null;

      try {
        this.loading = true;

        const { data: cashback } = await this.$api.post(`/reports/calculate_personal_cashback`, {
          ...this.date,
        });

        this.cashback = cashback;

        triggered && this.$message({ title: "Информация обновлена", level: "success" });
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
