<template>
  <PageContainer :title="$tt('common.cart', 1)" :loading="loading.page">
    <!-- <with-loading :state="" /> -->
    <div class="container">
      <app-banner
        v-if="!cart || !cart.length"
        icon="production_quantity_limits"
        icon-size="24px"
        level="info"
      >
        <div class="flex-center-between">
          {{ $tt("pages.new_buy.cart_is_empty") }}

          <app-btn to="/buy/new" color="blue-7">
            {{ $tt("nav.buys.new.title") }}
          </app-btn>
        </div>
      </app-banner>

      <div v-else>
        <q-markup-table
          :key="shop"
          v-for="(products, shop) in groupped_cart"
          flat
          bordered
          class="rounded-borders q-mb-xl relative-position"
        >
          <thead>
            <tr class="text-left">
              <th style="position:sticky:top:47px;left:0;border-bottom-width:0px"></th>
              <th style="position:sticky:top:47px;left:0;border-bottom-width:0px" colspan="6">
                <div>
                  {{ $tt("pages.new_buy.goods_from_shop") }}:
                  <span class="font-500 text-primary">"{{ shop }}"</span>
                </div>
              </th>
            </tr>
            <tr class="text-left">
              <th></th>
              <th style="width:0;white-space:nowrap;">
                {{ $tt("common.image", 1) }}
              </th>
              <th width="420">{{ $tt("common.title", 1) }}</th>
              <th class="text-center">{{ $tt("common.count") }}</th>
              <th class="text-right">
                {{ $tt("common.delivery", 1) }}
              </th>
              <th class="text-right">
                {{ $tt("common.tax", 1) }}
              </th>
              <th class="text-right">
                {{ $tt("pages.new_buy.unit_cost") }}
              </th>
              <!-- <th class="text-right">{{ $tt('common.summ', 1) }}</th> -->
            </tr>
          </thead>
          <tbody class="relative-position" v-if="products && products.length">
            <tr v-for="(item, idx) in products" :key="`cart-item--${idx}`">
              <td style="width:0;white-space:nowrap;">
                <app-btn
                  @click="removeItem(item.uid)"
                  size="11px"
                  class="text-negative bg-white"
                  round
                  flat
                  icon="close"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    {{ $tt("pages.new_buy.remove_from_cart") }}
                  </q-tooltip>
                </app-btn>
              </td>
              <td style="width:70px;white-space:nowrap;">
                <q-img
                  :src="item.photos[0]"
                  cover
                  height="70px"
                  width="70px"
                  class="rounded-borders bg-grey-4"
                ></q-img>
              </td>
              <td>
                <small class="text-muted">{{ item.sku }}</small>

                <a
                  style="white-space:normal"
                  class="text-subtitle2 block text-black q-mt-xs flex items-center"
                  :href="item.url"
                  target="_blank"
                >
                  {{ item.title }}
                </a>
                <div class="flex q-mt-sm q-gutter-xs items-center q-gutter-x-xs">
                  <q-badge color="grey-3" text-color="grey-8" v-if="item.color" class="font-500">
                    <q-icon name="palette" size="16px" class="q-mr-xs"></q-icon>
                    {{ item.color }}
                  </q-badge>
                  <q-badge color="grey-3" text-color="grey-8" v-if="item.size" class="font-500">
                    <q-icon name="straighten" size="16px" class="q-mr-xs"></q-icon>
                    {{ item.size }}
                  </q-badge>
                </div>
                <q-badge
                  v-if="item.comment && item.comment.length"
                  class="font-500 q-mt-xs q-py-xs q-px-sm bg-orange-1 rounded-borders text-brown-7"
                >
                  {{ item.comment }}
                </q-badge>
              </td>
              <td class="text-center">
                {{ item.quantity }}
              </td>
              <td class="text-right">
                <div v-if="item.shipping">{{ $toUSD(item.shipping) }}</div>
                <small class="text-muted" v-else>
                  {{ $tt("errors.not_specified") }}
                </small>
              </td>
              <td class="text-right">
                <div v-if="item.tax">{{ $toUSD(item.tax) }}</div>
                <small class="text-muted" v-else>
                  {{ $tt("errors.not_specified") }}
                </small>
              </td>
              <td class="text-right">
                {{ $toUSD(item.cost) }}
              </td>
            </tr>
            <tr class="bg-grey-1">
              <td></td>
              <td colspan="5" class="text-muted">
                <small>
                  {{ $tt("common.system_comission", 1) }}
                </small>
              </td>
              <td class="flex items-center justify-end text-grey-7">
                <q-skeleton
                  class="q-ml-a q-mr-none"
                  height="20px"
                  width="35px"
                  v-if="loading.calculate"
                ></q-skeleton>
                <div v-else class="line-heigh1">
                  {{
                    $toUSD(
                      (calculated && calculated[shop] && calculated[shop].system_commission) || 0
                    )
                  }}
                </div>
              </td>
            </tr>
            <tr
              v-if="calculated && calculated[shop] && calculated[shop].discount"
              class="bg-orange-1 font-500 text-brown-6"
            >
              <td></td>
              <td colspan="5">
                {{ $tt("pages.cashback.customer_discount", 1) }}
                <q-icon name="local_offer"></q-icon>
              </td>
              <td class="text-right">
                <q-skeleton
                  class="q-ml-a q-mr-none"
                  height="20px"
                  width="63px"
                  v-if="loading.calculate"
                ></q-skeleton>
                <div class="line-height1" v-else>
                  {{ $toUSD(calculated[shop].discount) || 0 }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <with-loading :state="loading.calculate" size="24px" />
              </td>
              <td colspan="5">
                {{ $tt("pages.new_buy.order_summary") }} <span class="font-500">"{{ shop }}"</span>
                <small class="text-muted block">
                  {{ $tt("pages.new_buy.without_delivery_cost") }}
                </small>
              </td>
              <td class="text-right flex items-center justify-end">
                <!-- <transition  enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear> -->
                <q-skeleton
                  class="q-ml-a q-mr-none"
                  height="20px"
                  width="63px"
                  v-if="loading.calculate"
                ></q-skeleton>

                <div
                  v-else-if="calculated && calculated[shop]"
                  class="font-500 text-subtitle1 line-height1"
                  key="commission_value"
                >
                  {{
                    $toUSD(
                      (calculated[shop].system_commission || 0) +
                        (calculated[shop].order_summ || 0)
                    )
                  }}
                </div>
                <!-- </transition> -->
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td></td>
              <td colspan="6">
                <div>
                  <small class="text-muted">
                    {{ $tt("pages.new_buy.cart_is_empty", 1) }}
                  </small>
                </div>
              </td>
            </tr>
          </tbody>
        </q-markup-table>

        <div style="border: 1px dashed currentColor" class="q-mb-lg text-grey-5"></div>

        <q-item>
          <q-item-section class="text-subtitle2">
            {{ $tt("pages.new_buy.orders_summary") }} ({{ Object.keys(groupped_cart).length }})
          </q-item-section>
          <q-item-section avatar>
            <q-skeleton height="24px" width="77px" v-if="loading.calculate"></q-skeleton>
            <div v-else-if="orders_total" class="font-500 text-h6  line-height1 text-positive">
              {{ $toUSD(orders_total || 0) }}
            </div>
          </q-item-section>
        </q-item>

        <div class="flex-center-between q-mt-lg">
          <app-btn padding="md lg" to="/buy/new" icon="add">
            &nbsp;&nbsp;{{ $tt("common.add", 1) }} {{ $tt("common.product", 1) }}
          </app-btn>
          <app-btn
            padding="md lg"
            @click="submitOrder"
            color="positive"
            :disable="!cart || !cart.length"
          >
            {{ $tt("common.finish_buy") }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import AppCounter from "../../components/Counter";
import { mapActions } from "vuex";

export default {
  components: {
    "app-counter": AppCounter,
  },
  async created() {
    this.loading.page = true;

    this.calculateCommision();

    // await this.$store.dispatch("Addresses/GET_ADDRESSES");
    // await this.$store.dispatch("Addresses/GET_TYPES");

    this.loading.page = false;
  },
  data() {
    return {
      loading: {
        page: false,
        calculate: false,
      },
      accepted: false,
      calculated: null,
      // ?:
      address: null,
      modules: null,
      allow_declared_price: false,
      delivery_options: {
        customs_clearance: false,
        declared_price: null,
        method: null,
        module: null,
        forward: null,
      },
    };
  },
  watch: {
    "delivery_options.customs_clearance"(v) {
      if (v === true && !!this.delivery_options.customs_clearance) {
        this.allow_declared_price = false;
      }
    },
  },
  computed: {
    cart() {
      return this.$store.getters["Cart/user_cart"];
    },
    cart_counter() {
      return this.$store.getters["Cart/user_cart_count"];
    },

    groupped_cart() {
      let groups = {};

      this.cart.forEach((prod) => {
        if (groups[prod.shop_name]) {
          groups[prod.shop_name].push(prod);
        } else {
          groups[prod.shop_name] = [prod];
        }
      });

      return groups;
    },
    orders_total() {
      let orders_total = 0;

      this.calculated &&
        Object.values(this.calculated).forEach((commissions) => {
          let { discount, ...payments } = commissions;

          Object.values(payments).forEach((v = 0) => {
            orders_total += v;
          });
        });

      return orders_total;
    },

    // ADDRESSES GETTERS:
    // types() {
    //   return this.$store.getters["Addresses/types"];
    // },
    // addresses() {
    //   return this.$store.getters["Addresses/book"];
    // },
  },
  watch: {
    cart() {
      this.calculateCommision();
    },
  },
  methods: {
    ...mapActions({
      removeCartItem: "Cart/CART_REMOVE",
    }),
    async removeItem(uid) {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.delete")} ${this.$tt("common.product")}`,
        }),
        nextText: this.$tt("common.delete"),
        level: "warning",
      });

      if (!c) return;

      // this.$store.dispatch(
      //   "Cart/CART_REMOVE",
      //   this.cart.findIndex((p) => p.uid === uid)
      // );

      this.removeCartItem(this.cart.findIndex((p) => p.uid === uid));

      this.calculateCommision();

      this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });
    },
    getTypeSource(code) {
      switch (code) {
        case "sol":
          return "nova-poshta";
        case "usps":
          return "usps";
        case "cargo_sol":
          return "meest";
        default:
          break;
      }
    },
    async getModules(address_id = this.address.id) {
      this.modules = null;

      try {
        this.loading.calculate = true;

        let { data } = await this.$api.post("/buy/parcel/calc", {
          address_id,
          total_weight: 1,
          affiliate_id: "1-2",
        });

        this.modules = data.shipping;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading.calculate = false;
      }
    },

    async submitOrder() {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.create")} ${this.$tt("common.order")}`,
        }),
        level: "success",
      });

      if (!c) return;

      try {
        this.loading.page = true;

        let items = this.cart.map(({ photos, ...product }) => ({ photo: photos[0], ...product }));

        await this.$api.post(`/buy`, { items });

        this.$store.commit("Cart/CART_CLEAR");

        this.$alert({ level: "success", title: this.$tt("pages.new_buy.order_ready") });

        this.$router.push("/orders/buy");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.page = false;
      }
    },
    handleItemCount(item, count) {
      this.$store.dispatch("Cart/CHANGE_ITEM_COUNT", { item, count });
    },
    async calculateCommision() {
      return new Promise(async (done, fail) => {
        try {
          this.loading.calculate = true;

          const {
            data: { calculate },
          } = await this.$api.post(`/buy/calc`, { items: [...this.cart] });

          this.calculated = calculate;
          done();
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data"),
          });

          fail();
        } finally {
          this.loading.calculate = false;
        }
      });
    },
    // ? module is reserved js word
    selectMethod({ module: mod, cost }, type, code) {
      this.delivery_options.module = mod;
      this.delivery_options.method = code;
    },
  },
  validations() {
    if (this.address && this.address.id) {
      return {
        delivery_options: {
          customs_clearance: {
            required,
          },
          declared_price: {
            required: requiredIf(function() {
              return !!this.allow_declared_price;
            }),
          },
          method: { required },
          module: { required },
        },
      };
    } else {
      return {};
    }
  },
};
</script>
<style lang="scss">
.address-logo {
  object-fit: contain;
  object-position: center center;
  height: 28px;

  &--usps {
    width: 100px;
  }

  &--cargo_sol {
    width: 70px;
  }
}
</style>
