<template>
  <PageContainer
    :title="
      `${$tt('common.integration', 1)}: ${$capitalize(
        platform === 'new_market' ? 'Seller Online Market' : platform
      )}`
    "
  >
    <!-- :caption="$tt('common.integration', 1)" -->
    <div class="container">
      <component v-bind:is="platform" />
    </div>
  </PageContainer>
</template>

<script>
import * as Platforms from "./Platforms/";

export default {
  name: "IntegrationModuleProvider",
  beforeRouteEnter(to, from, next) {
    const avaliable_platforms = [
      "etsy",
      "amazon",
      "shopify",
      "ebay",
      "other",
      "market",
      "new_market",
    ];
    if (avaliable_platforms.includes(to.params.platform)) {
      next();
    } else {
      next({ name: "404" });
    }
  },
  components: {
    ...Platforms,
  },
  mounted() {},
  data() {
    return {
      //   platform: this.$route.params.platform
    };
  },
  computed: {
    platform() {
      return this.$route.params.platform;
    },
  },
};
</script>
