<template>
  <PageContainer :title="$tt('nav.shipments.ukrposhta_list.title')">
    <!-- <with-loading :state="loading" /> -->
    <template #actions>
      <app-btn padding="11px" size="12px" to="/ukrposhta-shipments/new" color="accent">
        <q-icon name="add" class="q-mr-sm"></q-icon>
        {{ $tt("common.create") }}
      </app-btn>
    </template>

    <div class="container">
      <app-list :loading="loading">
        <q-item v-if="!shipments || !shipments.length">
          <q-item-section>
            <q-item-label caption>{{ $tt("errors.no_data", 1) }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-for="(s, idx) in shipments" :key="idx">
          <q-item-section>
            <q-item-label caption>{{ $tt("common.recipient", 1) }}</q-item-label>
            <q-item-label>
              {{ s.recipient.name }}
            </q-item-label>
            <!-- <q-item-label caption>
              <small>{{ s.recipientPhone }}</small>
            </q-item-label> -->
          </q-item-section>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.track_number", 1) }}
            </q-item-label>
            <q-item-label>
              {{ s.barcode }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.type", 1) }}
            </q-item-label>
            <q-item-label>
              <div>{{ s.type }} ({{ s.deliveryType }})</div>
              <small class="font-500">
                {{ translateType(s.packageType) }}
              </small>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>{{ $tt("common.cost", 1) }} доставки</q-item-label>
            <q-item-label>
              <span class="text-subtitle2">{{ s.deliveryPrice }}</span>
              UAH
            </q-item-label>
            <q-item-label style="margin:0" caption>
              <small>{{ s.deliveryPriceCurr }} {{ s.currencyCode }}</small>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.status", 1) }}
            </q-item-label>
            <q-item-label>
              <app-badge>{{ s.parcel_status }}</app-badge>
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <app-btn color="accent" round icon="more_horiz">
              <q-menu>
                <q-list>
                  <q-item clickable class="font-500">
                    <q-item-section style="white-space: nowrap">
                      {{ $tt("common.download", 1) }} лейбу
                    </q-item-section>
                    <q-item-section side>
                      <q-icon size="16px" name="chevron_right"></q-icon>
                    </q-item-section>
                    <q-menu>
                      <q-list>
                        <q-item-label header>
                          <small>{{ $tt("common.pick", 1) }} формат</small>
                        </q-item-label>
                        <q-item
                          @click="getLabel(s, f.value)"
                          v-close-popup
                          clickable
                          :key="f.value"
                          v-for="f in formats"
                        >
                          <q-item-section>
                            {{ f.label }}
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-item>
                  <q-item
                    v-close-popup
                    @click="deleteShipment(s.uuid)"
                    class="text-negative"
                    clickable
                  >
                    <q-item-section>
                      {{ $tt("common.delete", 1) }}
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </app-btn>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
import { exportFile } from "quasar";

export default {
  created() {
    this.getShipments();
  },
  data() {
    return {
      shipments: null,
      loading: false,
    };
  },
  computed: {
    formats() {
      return this.$store.getters["Ukrposhta/formats"];
    },
  },
  methods: {
    async getShipments() {
      try {
        this.loading = true;

        this.shipments = await this.$store.dispatch("Ukrposhta/GET_SHIPMENTS");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    translateType(type) {
      switch (type) {
        case "SMALL_BAG":
          // return "Мелкий пакет";
          return this.$tt("pages.shipments.small_pack", 1);
        case "PARCEL":
          // return "Посылка";
          return this.$tt("common.parcel", 1);
        default:
          return type;
      }
    },
    getCreatedDate(shipment) {
      // return shipment.lifecycle
    },
    async getLabel({ uuid, barcode }, format) {
      this.$message({ title: "Загрузка файла начнётся через несколько секунд" });

      try {
        this.loading = true;

        let data = await this.$store.dispatch("Ukrposhta/GET_LABEL", { uuid, format });

        setTimeout(() => {
          exportFile(
            `ukrposhta-label-${barcode || new Date().getTime()}.pdf`,
            data,
            "application/pdf"
          );
        }, 1400);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить документы" });
      } finally {
        this.loading = false;
      }
    },
    async deleteShipment(uuid) {
      let c = await this.$confirm({ title: "Уверены, что хотите удалить данную заявку ?" });

      if (!c) return;

      try {
        this.loading = true;

        await this.$store.dispatch("Ukrposhta/DELETE_SHIPMENT", uuid);

        this.$message({ title: "Заявка удалена", level: "success" });

        this.getShipments();
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
