<template>
  <PageContainer
    :title="`${$tt('nav.sells.agent_sales.title')}: ${$tt('nav.sells.agent_sales.orders.title')}`"
  >
    <div class="agent-sales-orders-container">
      <app-banner level="info" class="q-mb-md">
        <div class="container">
          {{ $tt("pages.agent_sales.messages.orders_info") }}
        </div>
      </app-banner>

      <form @submit.prevent="$router.push({ query: { ...normalizeQuery(), page: 0 } })">
        <div class="q-mb-xl">
          <div class="row q-col-gutter-md">
            <div class="col-1">
              <app-input
                v-model="filter.request_id"
                :label="$tt('common.request', 1)"
              ></app-input>
            </div>
            <div class="col-2">
              <app-input
                v-model="filter.product_code"
                :label="$tt('filter_fields.sku', 1)"
              ></app-input>
            </div>
            <div class="col-2">
              <app-select
                :label="$tt('common.status', 1)"
                dense
                :options="[
                    { label: $tt('common.all', true), value: null },
                    { label: $tt('pages.agent_sales.status_active', true), value: 'active' },
                    { label: $tt('pages.agent_sales.status_completed', true), value: 'completed' },
                  ]"
                emit-value
                map-options
                v-model="filter.order_status"
              >
              </app-select>
            </div>
            <div class="col-2">
              <app-input
                readonly
                class="readonly-default cursor-pointer"
                :value="(filter.date_from && $date(filter.date_from)) || null"
                :label="$tt('common.date_from', 1)"
              >
                <q-menu>
                  <LocalDatePicker mask="YYYY-MM-DD" v-model="filter.date_from" minimal/>
                </q-menu>
              </app-input>
            </div>
            <div class="col-2">
              <app-input
                readonly
                class="readonly-default cursor-pointer"
                :value="filter.date_to && $date(filter.date_to)"
                :label="$tt('common.date_to', 1)"
              >
                <q-menu>
                  <LocalDatePicker mask="YYYY-MM-DD" v-model="filter.date_to" minimal/>
                </q-menu>
              </app-input>
            </div>
            <div class="col-3 text-right">
              <div class="q-gutter-x-md full-height">
                <app-btn
                  @click="clearFilter"
                  type="button"
                  class="full-height"
                  text-color="negative"
                >
                  {{ $tt("common.clear") }}
                </app-btn>
                <app-btn type="submit" class="full-height" color="primary">
                  {{ $tt("common.apply") }}
                </app-btn>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-list
        :loading="loading"
        :empty="!orders?.length && $tt('errors.no_data', 1)"
        :separator="false"
      >
        <template #pagination>
          <q-item class="q-py-md">
            <q-item-section>
              <div class="flex-center-between">
                <div>
                  <app-pagination
                    size="12px"
                    :value="(($route.query && $route.query.page && +$route.query.page) || 0) + 1"
                    :to-fn="getPageRoute"
                    :max="total_pages"
                    :disable="loading"
                  ></app-pagination>
                </div>

                <div class="flex items-center">
                  <small class="text-muted q-mr-sm"> {{ $tt("common.on_page") }}: </small>
                  <app-select
                    :value="filter.on_page"
                    :options="[10, 20, 35, 50, 75, 100]"
                    @input="
                      (on_page) =>
                        $router.push({ query: { ...filter, page: 0, on_page } }).catch(() => {})
                    "
                  ></app-select>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </template>
        <q-item v-for="order in orders" :key="order.ext_order_id" class="order">
          <q-item-section class="order__head">
            <div>{{ $date(order.created_at) }}</div>
            <div>
              <b>{{ order.buyer_name }}</b>
            </div>
            <img :alt="`${order.market_type} logo`" :src="getMarketplaceLogo(order.market_type.toLowerCase())" height="20px"/>
          </q-item-section>
          <q-item-section
            class="order__product"
            v-for="item in order.items"
            :key="item.ext_order_item_id"
          >
            <q-img
              v-if="item.image_url"
              :src="item.image_url"
              height="70px"
              width="70px"
              cover
              class="rounded-borders"
            ></q-img>
            <div
              v-else
              class="flex-center"
              style="height: 70px; width: 70px; background-color: #f5f5f5"
            >
              <q-icon name="photo" size="20px" color="grey"></q-icon>
            </div>
            <div style="width: 200px">
              <div class="text-h5">
                {{ getProductData(item).listing_product ? getProductData(item).listing_product.product_code : getProductData(item).sku }}
              </div>
              <div class="text-muted ellipsis">
                {{ getProductData(item).listing_product ? getProductData(item).listing_product.product_title : getProductData(item).product_name }}
              </div>
            </div>
            <div class="text-h5" style="width: 100px">&times; {{ item.quantity }}</div>
            <div style="width: 200px">
              <small>{{ $tt("common.variation", true) }}</small>
              <div
                :class="['q-mb-xs', 'wrap', item.variation && 'variation-chip cursor-pointer']"
                :title="item.variation"
                @click="
                    () => {
                      $copyText(item.variation);
                      $message({ level: 'success', title: $tt('common.copied', 1) });
                    }
                  "
              >
                {{ item.variation || "-" }}
              </div>
              <small>{{ $tt("common.personalization", true) }}</small>
              <div
                :class="[
                  'q-mb-xs',
                  'wrap',
                  item.personalization && 'personalization-chip cursor-pointer',
                ]"
                :title="item.personalization"
                @click="
                    () => {
                      $copyText(item.personalization);
                      $message({ level: 'success', title: $tt('common.copied', 1) });
                    }
                  "
              >
                {{ item.personalization || "-" }}
              </div>
            </div>
            <div style="width: 200px">
              <div class="q-mb-xs">
                <span>{{ $tt("common.request_id", true) }}: </span>
                <router-link
                  :to="`/agent-sales/request/${getProductData(item).agent_sale_id}`"
                  class="cursor-pointer"
                  target="_blank"
                >
                  {{ getProductData(item).agent_sale_id }}
                </router-link>
              </div>
              <div class="q-mb-xs">
                {{ $tt("products.in_stock", true) }}:
                {{ getProductData(item).listing_product ? getProductData(item).listing_product.current_stock || 0 : 0}}
              </div>
              <div class="q-mb-xs">
                {{ $tt("products.on_the_way", true) }}:
                {{ getProductData(item).listing_product ? getProductData(item).listing_product.on_the_way || 0 : 0 }}
              </div>
            </div>
          </q-item-section>
          <q-item-section v-if="order.buyer_note" class="order__note">
            <b>{{ $tt("common.buyer_note", 1) }}</b>
            <pre>{{ order.buyer_note }}</pre>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      loading: false,
      orders: null,
      items_total: 0,
      filter: {
        page: 0,
        on_page: 20,
        order_status: "active",
        product_code: null,
        request_id: null,
        date_from: null,
        date_to: null,
      },
    };
  },
  computed: {
    total_pages() {
      return (this.items_total && Math.ceil(this.items_total / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "$route.query": {
      handler(query) {
        this.getOrders({...this.filter, ...query});
      },
      immediate: true,
    },
    "filter.on_page"(on_page) {
      this.$router.push({ query: { ...this.filter, page: 0, on_page } }).catch(() => {});
    },
  },
  methods: {
    async getOrders(query = this.filter) {
      query = this.normalizeQuery(query);

      try {
        this.loading = true;

        let {
          data: {orders, items_total},
        } = await this.$api.post(`/agent-sales/active-orders`, query);

        this.items_total = items_total;
        this.orders = orders;

        this.filter = {
          ...this.filter,
          ...query,
        };
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {fallbackMessage: this.$tt("errors.load_data", 1)});
      } finally {
        this.loading = false;
      }
    },
    getPageRoute(page) {
      return {query: {...this.filter, page: page - 1}};
    },
    normalizeQuery(filter = this.filter) {
      return this.$normalizeQuery({
        is_number: ["on_page", "page"],
      })(filter);
    },
    getMarketplaceLogo(marketType) {
      if (marketType === "ebay") {
        return `/img/logos/ebay-colored.svg`;
      }
      return `/img/logos/${marketType}.svg`
    },
    clearFilter() {
      const values = {
        page: 0,
        on_page: this.filter.on_page,
        order_status: "active",
        product_code: null,
        request_id: null,
        date_from: null,
        date_to: null,
      }
      this.$router.push({ query: values }).catch(() => {});
      this.filter = values;
    },
    getProductData(item) {
      return item.product || item.ext_variation || item.ext_product;
    }
  },
};
</script>

<style lang="scss">
.agent-sales-orders-container {
  max-width: 1280px;
  margin: 0 auto -15px auto;

  .order {
    padding: 10px;
    display: flex;
    flex-direction: column;

    border: 3px solid #c7ebff;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__head {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px dashed #eeeeee;
      padding: 10px 0;
      margin-bottom: 10px;
      font-size: 16px;
    }

    &__product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid #eeeeee;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    &__note {
      padding: 10px 10px 0 10px;
      margin-top: 10px;
      border-top: 2px dashed #eeeeee;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .personalization-chip,
    .variation-chip {
      border-radius: 4px;
      font-size: 12px;
      padding: 0 4px;
      color: white;
      width: fit-content;
    }

    .variation-chip {
      background-color: #9c27b0;
    }

    .personalization-chip {
      background-color: #3f51b5;
    }
  }
}
</style>
