<template>
  <div class="relative-position app-list">
    <q-badge
      style="top: -10px; right: 10px; z-index: 2"
      class="bg-negative"
      floating
      v-if="error"
    >
      <div class="flex items-center">
        <q-icon color="white" class="q-mr-xs" name="error"></q-icon>
        <div class="line-height1">
          {{ error }}
        </div>
      </div>
    </q-badge>

    <q-badge
      style="top: -10px; right: 10px; z-index: 2"
      class="bg-warning text-brown"
      floating
      v-if="warning"
    >
      <div class="flex items-center">
        <q-icon color="white" class="q-mr-xs" name="warning"></q-icon>
        <div class="line-height1">
          {{ warning }}
        </div>
      </div>
    </q-badge>

    <q-card :style="{ overflowX: 'auto' }" :bordered="bordered" flat>
      <div
        :style="{
          ...(!empty && minWidth && { minWidth: `${minWidth}px` }),
        }"
      >
        <q-toolbar
          v-if="header || caption || ($slots && $slots['actions'])"
          class="q-py-lg text-accent"
          style="padding-left:16px;padding-right:16px;"
        >
          <q-btn
            size="11px"
            class="q-mr-sm"
            flat
            round
            icon="menu"
            v-if="$slots && $slots['menu']"
          >
            <q-menu>
              <slot name="menu" />
            </q-menu>
          </q-btn>

          <div class="flex column" :class="swapHeader ? 'column reverse' : 'column'">
            <div class="flex items-center q-gutter-x-sm">
              <div style="font-size:18px" v-if="icon && icon.length">
                {{ icon }}
              </div>
              <div
                v-if="loading"
                class="flex items-center no-wrap"
                style="font-size:13px"
              >
                <q-skeleton
                  height="18.2px"
                  :width="`${(header && header.length && header.length * 7.5) || 210}px`"
                ></q-skeleton>

                <!-- <q-spinner-ios size="18px" class="q-ml-xs" color="grey-8" /> -->
              </div>
              <div class="font-500" v-else-if="header" style="font-size:13px">
                {{ header }}
              </div>
            </div>

            <div v-if="caption" class="q-mt-sm">
              <div style="font-weight: normal; font-size: 11px" class="text-grey-7">
                {{ caption }}
              </div>
            </div>
          </div>

          <q-space></q-space>
          <!-- <q-btn flat round dense icon="more_vert" /> -->
          <div style="position:sticky;right:16px;top:0;">
            <slot v-if="$slots && $slots['actions']" name="actions" />
          </div>
        </q-toolbar>

        <q-list
          :separator="separator"
          class="relative-position"
          :style="{
            ...(maxHeight && { maxHeight: `${maxHeight}px`, 'overflow-y': 'scroll' }),
          }"
        >
          <slot v-if="$slots && $slots['pagination']" name="pagination" />

          <div v-if="$slots && $slots['sticky']" class="app-list__sticky">
            <slot name="sticky"></slot>
          </div>

          <q-item v-if="empty" class="q-py-lg">
            <q-item-section>
              <q-item-label class="relative-position">
                <div class="text-muted" style="position: sticky; left: 16px; top: 0">
                  {{ empty }}
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>

          <slot v-else></slot>

          <div v-if="$slots && $slots['sticky']" class="app-list__sticky">
            <slot name="sticky"></slot>
          </div>

          <slot v-if="$slots && $slots['pagination']" name="pagination" />

          <q-separator></q-separator>

          <slot name="summary"></slot>
        </q-list>
      </div>

      <q-inner-loading
        transition-show="fade"
        transition-hide="fade"
        :showing="loading"
        class="z-top"
      >
        <q-spinner size="22px" color="grey-8" />
      </q-inner-loading>
    </q-card>
  </div>
</template>

<script>
export default {
  props: {
    swapHeader: Boolean,
    empty: [Boolean, String],
    loading: [Boolean, String],
    white: {
      type: Boolean,
      default: true,
    },
    bordered: {
      type: Boolean,
      default: true,
    },
    separator: {
      type: Boolean,
      default: true,
    },
    rounded: {
      type: Boolean,
      default: true,
    },
    header: {
      type: String,
    },
    caption: [String, null, Number],
    maxHeight: String,
    minWidth: { type: Number },
    error: { type: [Boolean, String] },
    warning: { type: [Boolean, String] },
    icon: { type: [String, null, undefined] },
    color: String,
    headerClass: String,
    stickyTop: Number,
  },
};
</script>

<style lang="scss">
.app-list {
  position: relative;
  // !EXP
  // border: 1px solid rgba(0, 0, 0, 0.24) !important;

  transition: box-shadow ease 0.21s, border-color ease 0.21s;

  &--error {
    box-shadow: 0 0 0 1px rgba($negative, 1);
    // box-shadow: 0 0 0 4px rgba($negative, 0.28);
    border-color: $negative !important;
  }

  &--warning {
    box-shadow: 0 0 0 1px rgba($warning, 1);
    // box-shadow: 0 0 0 4px rgba($warning, 0.28);
    border-color: $warning !important;
  }

  // &::-webkit-scrollbar {
  //   width: 4px;
  //   height: 4px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: $grey-2;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $grey-4;
  // }

  &--bordered {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
</style>
