<template>
  <div>
    <with-loading :state="loading" />
    <app-table-list :empty="!orders || (!orders.length && $tt('errors.no_data', 1))" class="q-mb-xl">
      <template #thead>
        <tr>
          <td colspan="6">
            <div class="q-pt-sm">
              <h5 class="q-ma-none text-primary">
                {{ aff.name || aff }}
              </h5>
              <small class="text-grey-7">
                {{ $tt("common.order", 1, 2) }}
              </small>
            </div>
          </td>
        </tr>
        <tr class="text-left">
          <th></th>
          <th>{{ $tt("common.order_number", 1) }}</th>
          <th>{{ $tt("common.shop", 1) }}</th>
          <th>{{ $tt("common.title", 1) }}</th>
          <th class="text-center">{{ $tt("common.count", 1) }}</th>
          <th class="text-right">{{ $tt("common.summ", 1) }}</th>
        </tr>
      </template>
      <tr v-for="order in orders" :key="order.id">
        <td>
          <q-checkbox :name="`affilliate-${aff}`" v-model="checked" :val="order.order_id"></q-checkbox>
        </td>
        <td>
          {{ order.order_id }}
        </td>
        <td>
          {{ order.order_shop_place }}
        </td>
        <td style="white-space:normal">
          {{ order.order_shop_title }}
        </td>
        <td class="text-center">
          {{ order.order_quantity }}
        </td>
        <td class="text-right">
          {{ $toUSD(order.order_summ) }}
        </td>
      </tr>
      <tr>
        <td :align="!$q.screen.xs && !$q.screen.sm ? 'center' : 'left'" colspan="6">
          <app-btn
            :style="($q.screen.xs || $q.screen.sm) && 'position:sticky;left:16px'"
            @click="
              $router.push({
                name: 'BUY_CREATE_PARCEL',
                query: {},
                params: {
                  checked,
                  aff,
                },
              })
            "
            class="q-my-sm"
            color="accent"
            :disable="!checked || !checked.length"
          >
            {{ $tt("common.create_parcel") }} ({{ aff.name || aff }})
          </app-btn>
        </td>
      </tr>
    </app-table-list>
  </div>
</template>
<script>
export default {
  props: {
    aff: [Object, String],
    orders: [Array, null, []],
  },
  created() {
    this.checked = this.orders.map((order) => order.order_id);
  },
  data() {
    return {
      loading: false,
      checked: [],
    };
  },
};
</script>
