<template>
  <PageContainer :title="$tt('nav.account.customs_codes_catalog')">
    <div class="container">
      <form class="q-mb-lg" @submit.prevent="getCatalog">
        <div class="flex no-wrap">
          <app-input
            :loading="loading"
            :disable="loading"
            :label="`${$tt('common.code', 1)} / ${$tt('common.title')}`"
            :dense="false"
            class="full-width"
            v-model="query"
            clearable
            clear-icon="close"
            @clear="
              query = null;
              catalog = null;
              getRoots();
            "
          >
            <template #append>
              <q-btn flat padding="sm">
                <app-flag class="q-mr-sm" :country="lang === 'ru' ? null : lang"></app-flag>

                {{ lang }}

                <q-menu>
                  <q-list>
                    <q-item
                      v-close-popup
                      clickable
                      v-for="opt in ['ua', 'ru', 'en']"
                      :key="opt"
                      @click="changeLang(opt)"
                      :class="lang === opt && 'text-primary font-500'"
                    >
                      <q-item-section side>
                        <app-flag :country="opt === 'ru' ? null : opt"></app-flag>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>
                          {{ opt.toUpperCase() }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </template>
          </app-input>
          <app-btn :disable="loading" :loading="loading" class="q-px-lg q-ml-lg" color="primary">
            {{ $tt("common.search") }}
          </app-btn>
        </div>
      </form>

      <FadeTransition>
        <app-list :loading="loading" v-if="catalog && catalog.length">
          <CodeItem :key="code.id" no-select v-for="code in catalog" :item="code" />
        </app-list>
      </FadeTransition>
    </div>
  </PageContainer>
</template>

<script>
import CodeItem from "@/components/CustomsCodes/child.vue";
import FadeTransition from "@/components/FadeTransition";

export default {
  components: {
    CodeItem,
    FadeTransition,
  },
  data() {
    return {
      query: null,
      catalog: null,
      loading: false,
      lang: "ua",
    };
  },
  mounted() {
    this.getRoots();
  },
  methods: {
    async getRoots() {
      try {
        this.loading = true;

        const { data: codes } = await this.$api.get(`/v2/products/uktved/roots`, {
          params: {
            lang: this.lang,
          },
        });

        this.catalog = codes;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true });
      } finally {
        this.loading = false;
      }
    },
    async getCatalog() {
      try {
        this.loading = true;

        const { data: codes } = await this.$api.get(`/v2/products/uktved`, {
          params: {
            lang: this.lang,
            title: this.query,
            lang: this.lang,
          },
        });

        this.catalog = codes;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true });
      } finally {
        this.loading = false;
      }
    },
    changeLang(lang) {
      if (this.lang === lang) return;

      this.lang = lang;
      if (this.query && this.query.length) {
        this.getCatalog();
      } else {
        this.getRoots();
      }
    },
  },
};
</script>
