<template>
  <div class="clogo">
    <img
      :class="['clogo__img', `clogo__img--${carrier()}`]"
      :src="require(`assets/img/logos/carriers/${carrier()}.svg`)"
      :alt="carrier()"
    />
  </div>
</template>

<script>
export default {
  props: {
    code: String
  },
  methods: {
    carrier() {
      if (!this.code || !this.code.length) return "-";

      if (this.code.toLowerCase().indexOf("usps") >= 0) return "usps";
      if (this.code.toLowerCase().indexOf("fedex") >= 0) return "fedex";
      if (this.code.toLowerCase().indexOf("tnt") >= 0) return "tnt";
      if (this.code.toLowerCase().indexOf("ups") >= 0) return "ups";
      if (this.code.toLowerCase().indexOf("dhl") >= 0) return "dhl";
      if (this.code.toLowerCase().indexOf("ukrposhta") >= 0) return "ukrposhta";
    }
  }
};
</script>

<style lang="scss">
.clogo {
  &__img {
    display: block;
    width: 100px;
    object-fit: contain;
    object-position: left center;
    max-height: 19px;

    &--fedex {
      max-height: 21px;
    }

    &--ups {
      max-height: 30px;
    }
  }
}
</style>
