<template>
  <PageContainer :title="$tt('pages.fop.title', true)">
    <template #actions>
      <div>
        <!-- <a target="_blank" class="link q-mr-lg" href="https://youtu.be/EtC94I3WieI">
          Инструкция по использованию раздела
        </a> -->
        <app-btn padding="11px" @click="showDetails(null)" color="accent">{{ $tt("common.create_request") }}</app-btn>
      </div>
    </template>
    <div class="container">
      <q-card bordered flat class="bg-blue-1 text-blue-8 q-mb-lg">
        <q-item clickable href="https://youtu.be/EtC94I3WieI" target="_blank" class="q-py-md">
          <!-- <q-item-section side>
            <q-icon color="blue-8" name="help_outline"></q-icon>
          </q-item-section> -->
          <q-item-section>
            <q-item-label>
              {{ $tt("common.current_page_tutorial", true) }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-icon size="20px" name="open_in_new"></q-icon>
          </q-item-section>
        </q-item>
      </q-card>

      <app-table-list
        :header="$tt('pages.fop.current_requests', true)"
        :empty="(!fops || !fops.length) && $tt('errors.nothing_to_display', 1)"
        :loading="loading"
        :colspan="4"
      >
        <template #thead>
          <tr>
            <th class="text-left">
              {{ $tt("common.fio") }}
            </th>
            <th class="text-left">
              {{ $tt("common.address", 1) }}
            </th>
            <th class="text-left">
              {{ $tt("common.status", 1) }}
            </th>
            <th side class="text-left">
              <!-- Изменить -->
            </th>
          </tr>
        </template>

        <!-- <tbody v-if="fops && fops.length"> -->
        <tr v-for="fop in fops" :key="fop.fop_id">
          <td>
            {{ fop.fio_ua }}
          </td>
          <td style="max-width:420px;white-space:normal">
            <!-- <small> -->
            {{ fop.address }}
            <!-- </small> -->
          </td>
          <td>
            <app-badge
              :level="
                fop.status_code === 'wait_review'
                  ? 'info'
                  : fop.status_code === 'declined'
                  ? 'negative'
                  : fop.status_code === 'wait_agreement'
                  ? 'amber'
                  : fop.status_code === 'invalid_data'
                  ? 'negative'
                  : fop.status_code === 'wait_approve'
                  ? 'amber'
                  : fop.status_code === 'approved'
                  ? 'positive'
                  : 'bg-grey text-grey-8'
              "
            >
              <div class="flex items-center">
                <q-icon
                  size="14px"
                  class="q-mr-xs"
                  :name="
                    fop.status_code === 'wait_review'
                      ? 'new_releases'
                      : fop.status_code === 'declined'
                      ? 'block'
                      : fop.status_code === 'wait_agreement'
                      ? 'edit_off'
                      : fop.status_code === 'invalid_data'
                      ? 'error'
                      : fop.status_code === 'wait_approve'
                      ? 'pending'
                      : fop.status_code === 'approved'
                      ? 'check'
                      : ''
                  "
                ></q-icon>
                {{ translateStatusCode(fop.status_code) }}
              </div>
            </app-badge>
          </td>
          <td>
            <app-btn color="accent" round padding="sm" size="11px" icon="more_horiz">
              <q-menu>
                <q-list>
                  <q-item
                    clickable
                    @click="getAgreement(fop)"
                    v-if="fop.status_code === 'wait_agreement'"
                  >
                    <q-item-section> {{ $tt("common.download", 1) }}</q-item-section>
                  </q-item>
                  <q-item clickable @click="showDetails(fop)">
                    <q-item-section>
                      {{ $tt("common.edit", 1) }}
                    </q-item-section>
                  </q-item>
                  <q-item class="text-negative" clickable @click="removeFop(fop.fop_id)">
                    <q-item-section>
                      {{ $tt("common.delete", 1) }}
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </app-btn>
          </td>
        </tr>
        <!-- </tbody> -->
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  created() {
    this.getFops();
  },
  data() {
    return {
      loading: false,
      fops: null,
      filter: {
        status: null,
        login: null,
      },
      pager: {
        page: 1,
        pages: null,
        on_page: 25,
        total: null,
      },
      statuses: [
        { label: this.$tt("common.new", true), value: "wait_review" },
        { label: this.$tt("pages.fop.statuses.invalid_data", true), value: "invalid_data" },
        { label: this.$tt("pages.fop.statuses.wait_agreement", true), value: "wait_agreement" },
        { label: this.$tt("pages.fop.statuses.wait_approve", true), value: "wait_approve" },
        { label: this.$tt("pages.fop.statuses.approved", true), value: "approved" },
        { label: this.$tt("common.declined", true), value: "declined" },
      ],
    };
  },
  watch: {
    "pager.page"() {
      this.getFops();
    },
    "pager.on_page"() {
      this.pager.page = 1;
    },
  },

  methods: {
    async getFops() {
      try {
        this.loading = true;

        let url = `/finance/fop/credentials`;

        let clearParams = {
          ...(!!this.filter.login && { login: this.filter.login }),
          ...(!!this.filter.status && { status: this.filter.status }),
          ...(!!this.pager.page && { page: this.pager.page }),
          ...(!!this.pager.on_page && { on_page: this.pager.on_page }),
        };

        let urlParams = new URLSearchParams(clearParams).toString();

        if (urlParams.length) {
          url += `?${urlParams}`;
        }

        const {
          data: { credentials, pages, total },
        } = await this.$api.get(url);

        this.fops = credentials;
        this.pager.pages = pages;
        this.pager.total = total;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("pages.fop.alerts.failed_to_get_credentials") });
      } finally {
        this.loading = false;
      }
    },
    translateStatusCode(code) {
      let s = this.statuses.find((s) => s.value === code).label || code;
      return s;
    },
    async removeFop(id) {
      let c = confirm(this.$tt("pages.fop.alerts.confirm_delete"));

      if (!c) return;

      try {
        this.loading = true;

        await this.$api.delete(`operator/finance/fop/credentials/${id}`);

        this.getFops();
        this.$message({ title: this.$tt("messages.changes_saved"), level: "success" });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    clearFilter() {
      this.getFops();
    },
    pageGo(page) {
      this.pager.page = page;
    },
    showDetails(item = null) {
      console.log(1);

      this.$q
        .dialog({
          parent: this,
          component: () => import("./RegisterFop.vue"),
          ...(item && { item }),
        })
        .onOk(() => {
          this.getFops();
        });
    },
    async getAgreement(item) {
      let agreement_filename = item.files.find(
        (f) => f && f.toLowerCase().indexOf("agreement") >= 0
      );

      try {
        this.loading = true;

        const { data } = await this.$api.get(
          `/finance/fop/credentials/${item.fop_id}/download/${agreement_filename}`,
          {
            responseType: "arraybuffer",
          }
        );

        let blob = new Blob([data]);

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, agreement_filename);
        } else {
          const link = document.createElement("a");
          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", agreement_filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        setTimeout(() => {
          this.loading = false;
        }, 500);
      }
    },
  },
};
</script>
