<template>
  <q-dialog
    transition-show="slide-down"
    transition-hide="slide-up"
    position="top"
    ref="fop-details"
  >
    <q-card style="min-width:350px;max-width:700px;width:100%" class="create-fop full-height">
      <with-loading :state="loading" />

      <form @submit.prevent="submitFopData">
        <div>
          <q-item class="q-py-md">
            <q-item-section>
              <div class="flex-center-between">
                <h5>
                  {{ $tt("pages.get_money.requisites", 1) }}
                </h5>
                <div>
                  <q-btn @click="hide" round color="negative" icon="close" flat dense></q-btn>
                </div>
              </div>
            </q-item-section>
          </q-item>

          <q-separator />
        </div>

        <div>
          <q-item class="q-py-lg">
            <q-item-section>
              <div class="create-fop__info">
                <div class="row q-col-gutter-lg">
                  <div class="col-12">
                    <div class="text-grey-8 q-mb-sm">
                      {{ $tt("common.type", 1) }}
                    </div>
                    <q-slide-transition>
                      <app-banner level="danger" v-if="$v.fop_data.is_digital.$anyError">
                        {{ $tt("pages.fop.register.choose_product_type") }}
                      </app-banner>
                    </q-slide-transition>
                    <q-btn-toggle
                      padding="14px"
                      v-model="fop_data.is_digital"
                      push
                      size="12px"
                      toggle-color="primary"
                      :options="[
                        {
                          // label: $tt('common.physical', 1),
                          label: $tt('pages.fop.register.physical_products'),
                          value: false,
                        },
                        {
                          // label: $tt('common.digital', 1),
                          label: $tt('pages.fop.register.digital_products'),
                          value: true,
                        },
                      ]"
                      spread
                    />
                  </div>
                  <div class="col-6" v-for="f in fields" :key="f.code">
                    <div
                      class="form-group"
                      :class="$v.fop_data[f.code].$anyError && 'input--error'"
                      v-if="f.type === 'text' || f.type === 'select'"
                    >
                      <app-input
                        :label="f.label"
                        :hint="f.label_caption"
                        :name="f.code"
                        v-if="f.type === 'text'"
                        v-model="fop_data[f.code]"
                        type="text"
                        :error="$v.fop_data[f.code].$anyError"
                        :dense="false"
                      />

                      <app-select
                        :id="f.code"
                        :name="f.code"
                        v-else-if="f.type === 'select'"
                        v-model="fop_data[f.code]"
                        :options="f.options"
                        :label="f.label"
                        emit-value
                        map-options
                        :dense="false"
                        :error="$v.fop_data[f.code].$anyError"
                      >
                        <!-- <option :value="opt.value" v-for="opt in f.options">
                      {{ opt.label }}
                    </option> -->
                      </app-select>
                    </div>
                    <div v-else-if="f.type === 'file'">
                      <!-- $v.fop_data[f.code].$anyError && 'input--error' -->

                      <q-card
                        bordered
                        flat
                        :class="[$v.fop_data[f.code].$anyError && 'error-border']"
                      >
                        <q-item clickable tag="label" class="q-pr-xs">
                          <q-item-section
                            side
                            :class="[$v.fop_data[f.code].$anyError && 'text-negative']"
                          >
                            <q-icon name="attachment"></q-icon>
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>
                              {{ f.label }}
                            </q-item-label>
                            <q-item-label
                              :class="[$v.fop_data[f.code].$anyError && 'text-negative font-500']"
                              caption
                            >
                              {{ $tt("common.pick", 1) }} {{ $tt("common.file") }}
                              <input
                                hidden
                                :id="f.code"
                                :multiple="f.multiple"
                                @change="(event) => handleFiles(event, f.code)"
                                type="file"
                              />
                            </q-item-label>
                          </q-item-section>
                          <q-item-section side v-if="$v.fop_data[f.code].$anyError">
                            <q-item-label>
                              <q-icon
                                size="24px"
                                name="error"
                                color="negative"
                                class="q-mr-sm"
                              ></q-icon>
                            </q-item-label>
                            <!-- <q-item-label v-else-if="fop_data[f.code] && fop_data[f.code].length">
                              <q-icon
                                size="20px"
                                name="check"
                                color="positive"
                                class="q-mr-sm"
                              ></q-icon>
                            </q-item-label> -->
                          </q-item-section>
                        </q-item>

                        <q-input
                          v-if="false"
                          :id="f.code"
                          dense
                          :multiple="f.multiple"
                          @change="handleFiles($event, f.code)"
                          type="file"
                          class="app-file-input cursor-pointer"
                          :label="f.label"
                          :error="$v.fop_data[f.code].$anyError"
                          borderless
                          hide-bottom-space
                        >
                          <template #prepend>
                            <q-icon size="18px" name="attach_file" class="q-ml-sm"></q-icon>
                          </template>
                          <template #append>
                            <q-icon
                              size="18px"
                              v-if="fop_data[f.code] && fop_data[f.code].length"
                              name="check"
                              color="positive"
                              class="q-mr-sm"
                            ></q-icon>
                          </template>
                        </q-input>

                        <q-separator></q-separator>

                        <q-list>
                          <q-item v-if="!fop_data[f.code] || !fop_data[f.code].length">
                            <q-item-section>
                              <q-item-label caption>
                                {{ $tt("errors.no_data", 1) }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>

                          <q-item v-for="(file, idx) in fop_data[f.code]" :key="idx">
                            <q-item-section class="ellipsis">
                              {{ file.name }}
                            </q-item-section>
                            <q-item-section side>
                              <app-btn
                                size="12px"
                                dense
                                class="q-mr-xs"
                                color="negative"
                                flat
                                round
                                @click.prevent="removeFile(f.code, idx)"
                                :title="$tt('common.delete', 1)"
                                icon="delete"
                              >
                              </app-btn>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-card>
                    </div>
                  </div>
                  <div class="col-12" v-if="needAgreement">
                    <app-btn
                      color="cyan"
                      class="block full-width"
                      :label="$tt('pages.fop.register.send_signed_agreement', true)"
                      icon="history_edu"
                      @click="
                        () => {
                          $refs['signed-agreement'] && $refs['signed-agreement'].click();
                        }
                      "
                      padding="md"
                    ></app-btn>
                    <input
                      @change="handleSignedAgreement"
                      type="file"
                      style="display:none"
                      id="signed_agreement"
                      class="app-file-input"
                      ref="signed-agreement"
                    />
                    <!-- <label class="btn btn-block btn-primary mb-4 text-left" for="signed_agreement">
                  Отправить подписанный договор
                </label> -->
                  </div>
                </div>
              </div>

              <app-list
                v-if="item && item.files && item.files.length"
                class="q-mt-lg"
                :header="$tt('pages.fop.register.attached_files', true)"
              >
                <q-item v-for="(f, idx) in item.files" :key="idx">
                  <q-item-section>
                    <div
                      :class="[
                        f.indexOf('agreement') >= 0 && 'text-primary text-subtitle1 font-500',
                      ]"
                    >
                      {{ f }}
                    </div>
                  </q-item-section>
                  <q-item-section side>
                    <div class="flex items-center">
                      <app-btn
                        icon="download"
                        round
                        size="11px"
                        flat
                        class="bg-blue-1 text-blue q-mr-sm"
                        @click.prevent="downloadAttached(f)"
                      >
                      </app-btn>
                      <app-btn
                        @click.prevent="removeAttached(f)"
                        icon="close"
                        color="negative"
                        round
                        size="11px"
                        flat
                        class="bg-red-1"
                      >
                      </app-btn>
                    </div>
                  </q-item-section>
                </q-item>
              </app-list>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <q-separator />

          <q-item class="q-py-md">
            <q-item-section>
              <div class="flex-center-between">
                <app-btn flat size="12px" padding="11px" color="negative" @click="hide">
                  {{ $tt("common.cancel", 1) }}
                </app-btn>
                <app-btn
                  size="12px"
                  padding="11px"
                  color="positive"
                  type="submit"
                  class="btn text-primary"
                >
                  {{ item ? $tt("common.save", 1) : $tt("common.send", 1) }}
                </app-btn>
              </div>
            </q-item-section>
          </q-item>
        </div>
      </form>
    </q-card>
  </q-dialog>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  props: {
    item: {
      type: Object,
      default: null,
    },
  },
  async mounted() {
    this.fop_data = {
      ...this.fop_data,
      ...this.item,
    };
  },
  data() {
    return {
      fop_data: {
        fio_ua: null,
        fio_en: null,
        passport: null,
        inn: null,
        address: null,
        phone: null,
        iban: null,
        bank: null,
        passport_files: [],
        inn_file: null,
        registration_file: null,
        moved_person_file: null,
        is_digital: false,

        // fio_ua: "Даниил Даниил Даниил",
        // fio_en: "Dan Dan Dan",
        // passport: "ВК848212",
        // inn: "0000000000",
        // address: "ул. Кольцова 13 / 22",
        // phone: "+380881231212",
        // iban: "UA21 3223 1300 0002 6007 2335 6600 1",
        // bank: "monobank",
        // passport_files: [],
        // inn_file: null,
        // registration_file: null,
        // moved_person_file: null,
      },
      loading: false,
      signed_agreement: null,
    };
  },
  computed: {
    fields() {
      return [
        {
          type: "text",
          label: this.$tt("common.fio"),
          label_caption: this.$tt("common.in_ukrainian"),
          code: "fio_ua",
        },
        {
          type: "text",
          label: this.$tt("common.fio"),
          label_caption: this.$tt("pages.fop.register.as_in_international_passport"),
          code: "fio_en",
        },
        {
          type: "text",
          label: this.$tt("common.passport_number"),
          code: "passport",
        },
        {
          type: "text",
          label: this.$tt("common.itn"),
          code: "inn",
        },
        {
          type: "text",
          label: this.$tt("pages.fop.register.address"),
          code: "address",
        },
        {
          type: "text",
          label: this.$tt("pages.fop.register.phone"),
          code: "phone",
        },
        {
          type: "select",
          label: this.$tt("common.bank", true),
          code: "bank",
          options: [
            {
              label: this.$tt("errors.not_selected"),
              value: null,
            },
            {
              label: "ПриватБанк",
              value: "privatbank",
            },
            {
              label: "Monobank",
              value: "monobank",
            },
          ],
        },
        {
          type: "text",
          label: this.$tt("pages.fop.register.iban_currency", true),
          code: "iban",
        },
        {
          type: "file",
          label: this.$tt("pages.fop.register.passport_files", true),
          code: "passport_files",
          multiple: true,
        },
        {
          type: "file",
          label: this.$tt("pages.fop.register.inn_file", true),
          code: "inn_file",
        },
        {
          type: "file",
          label: this.$tt("pages.fop.register.registration_file", true),
          code: "registration_file",
        },
        {
          type: "file",
          label: this.$tt("pages.fop.register.moved_person_file", true),
          code: "moved_person_file",
        },
      ];
    },
    hasAgreement() {
      return !!this.item.files.find((f) => f && f.toLowerCase().indexOf("agreement") >= 0);
    },
    needAgreement() {
      return this.item && this.item.status_code === "wait_agreement";
    },
  },
  methods: {
    show() {
      this.$refs["fop-details"].show();
    },
    hide() {
      this.$refs["fop-details"].hide();
    },
    handleFiles(event, code) {
      if (code === "passport_files") {
        if (event.target.files && event.target.files.length && event.target.files.length > 5) {
          this.$alert({
            level: "warning",
            title: this.$tt("pages.fop.alerts.max_files", 1),
          });
          return;
        }

        this.fop_data[code].push(...event.target.files);
      } else {
        this.fop_data[code] = [...event.target.files];
      }
      event.target.value = null;
    },
    async removeFile(code, index) {
      try {
        let c = await this.$confirm({ title: this.$tt("messages.discard_upload_confirmation"), level: "warning" });

        if (!c) return;

        this.fop_data[code] && this.fop_data[code].length && this.fop_data[code].splice(index, 1);
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            this.$tt("errors.save_data", true),
          inner: {
            errors: (e && e.response && e.response.data && e.response.data.errors) || null,
          },
        });
      }
    },
    async removeAttached(filename) {
      let c = confirm(this.$tt("messages.file_delete_confirmation", true));

      if (!c) return;

      try {
        this.loading = true;
        const { data } = await this.$api.delete(
          `/finance/fop/credentials/${this.item.fop_id}/remove/${filename}`
        );

        if (data.success) {
          let idx = this.item.files.findIndex((file) => file === filename);
          this.item.files.splice(idx, 1);

          this.$message({
            level: "success",
            title: this.$tt("messages.file_deleted", 1),
          });

          this.$parent.$emit("request-changed");
        }
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            this.$tt("errors.save_data"),
          inner: {
            errors: (e && e.response && e.response.data && e.response.data.errors) || null,
          },
        });
      } finally {
        this.loading = false;
      }
    },
    async downloadAttached(filename) {
      try {
        this.loading = true;

        const { data } = await this.$api.get(
          `/finance/fop/credentials/${this.item.fop_id}/download/${filename}?login=${this.item.login}`,
          {
            responseType: "arraybuffer",
          }
        );

        let blob = new Blob([data]);
        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          const link = document.createElement("a");
          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        this.$alert({
          level: "warning",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            this.$tt("messages.file_deletion_failed", true),
        });

        console.log(e);
      } finally {
        setTimeout(() => {
          this.loading = false;
        }, 777);
      }
    },
    async submitFopData() {
      this.$v.fop_data.$touch();

      if (this.$v.fop_data.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });
        return;
      }

      try {
        this.loading = true;

        let fop_data = new FormData();

        Object.entries(this.fop_data).forEach(([key, value]) => {
          if (Array.isArray(value)) {
            value.forEach((v, index) => {
              fop_data.append(`${key}`, v);
            });
          } else {
            value && fop_data.append(key, value);
          }
        });

        if (this.item) fop_data.append("fop_id", this.item.fop_id);

        let mth = this.item ? "put" : "post";

        await this.$api[mth]("/finance/fop/credentials", fop_data);

        this.fop_data = {
          fio_ua: null,
          fio_en: null,
          passport: null,
          inn: null,
          address: null,
          phone: null,
          iban: null,
          bank: null,
          passport_files: [],
          inn_file: null,
          registration_file: null,
          moved_person_file: null,
          is_digital: null,
        };

        this.fop_data.passport_files = [];
        this.fop_data.inn_file = null;
        this.fop_data.registration_file = null;
        this.fop_data.moved_person_file = null;

        this.$emit("ok");

        this.$alert({
          level: "success",
          title: this.$tt("pages.fop.alerts.data_saved", true)
        });
        this.hide();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    async handleSignedAgreement(e) {
      let agreement = e && e.target && e.target.files[0];

      if (!agreement) return;

      this.signed_agreement = agreement;

      try {
        this.loading = true;
        let params = new FormData();
        params.set("agreement_file", this.signed_agreement);

        const { data } = await this.$api.put(
          `/finance/fop/credentials/${this.item.fop_id}/agreement`,
          params
        );

        this.$alert({
          level: "success",
          title: this.$tt("pages.fop.alerts.agreement_sent", true),
        });

        this.$parent.$emit("request-changed");

        this.$modal.hide("create-fop");
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            this.$tt("pages.fop.alerts.failed_to_send_agreement", true),
          inner: {
            errors: (e && e.response && e.response.data && e.response.data.errors) || null,
          },
        });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      fop_data: {
        fio_ua: {
          required,
        },
        fio_en: {
          required,
        },
        passport: {
          required,
        },
        inn: {
          required,
        },
        address: {
          required,
        },
        phone: {
          required,
        },
        iban: {
          required,
        },
        bank: {
          required,
        },
        passport_files: {
          required: requiredIf(function() {
            if (this.item) {
              return !(
                this.item.files && this.item.files.find((doc) => doc.indexOf("passport") >= 0)
              );
            } else {
              return true;
            }
          }),
        },
        inn_file: {
          required: requiredIf(function() {
            if (this.item) {
              return !(this.item.files && this.item.files.find((doc) => doc.indexOf("inn") >= 0));
            } else {
              return true;
            }
          }),
        },
        registration_file: {
          required: requiredIf(function() {
            if (this.item) {
              return !(this.item.files && this.item.files.find((doc) => doc.indexOf("reg") >= 0));
            } else {
              return true;
            }
          }),
        },
        moved_person_file: {},
        is_digital: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss">
.app-file-input {
  input[type="file"] {
    display: none !important;
  }
}
</style>
