<template>
  <q-dialog :maximized="$q.screen.xs || false" ref="create-dialog">
    <q-card
      style="max-width:560px;width:100%"
      class="relative-position no-wrap flex column justify-between"
    >
      <with-loading :state="loading" />
      <div>
        <q-card-section>
          <h5 class="q-ma-none">{{ $tt("common.create", 1) }} {{ $tt("common.product") }}</h5>
        </q-card-section>
        <q-separator></q-separator>
      </div>

      <div class="scroll-y">
        <q-card-section>
          <div class="q-gutter-y-md">
            <app-input
              :label="$tt('common.title', 1)"
              :error="$v.new_product.product_title.$error"
              v-model="new_product.product_title"
              class="full-width"
            />

            <app-input
              :label="`${$tt('common.title', 1)} (EN)`"
              :error="$v.new_product.product_title_customs_eng.$error"
              v-model="new_product.product_title_customs_eng"
              class="full-width"
              placeholder="Описание товара для таможни на английском языке"
            />
            <app-input
              :label="`${$tt('common.title', 1)} (UA)`"
              :error="$v.new_product.product_title_customs_ua.$error"
              v-model="new_product.product_title_customs_ua"
              class="full-width"
              placeholder="Описание товара для таможни на украинском языке"
            />

            <customs-codes class="q-mb-md" @select="handleCustomsCode" />

            <div class="row q-mb-md q-col-gutter-md">
              <div class="col flex">
                <app-input
                  label="Код"
                  :error="$v.new_product.product_code.$error"
                  v-model="new_product.product_code"
                  :prefix="`(${next_code})`"
                  class="full-width"
                >
                </app-input>
              </div>

              <div class="col-4">
                <app-input
                  :label="$tt('common.cost', 1)"
                  :error="$v.new_product.product_cost.$error"
                  v-model.number="new_product.product_cost"
                  suffix="USD"
                  placeholder="Формат: 12.34"
                />
              </div>
            </div>
            <div class="row q-col-gutter-md">
              <div class="col-3">
                <app-input
                  :error="$v.new_product.product_length.$error"
                  v-model.number="new_product.product_length"
                  label="Длина"
                  suffix="cm"
                />
              </div>
              <div class="col-3">
                <app-input
                  :error="$v.new_product.product_width.$error"
                  v-model.number="new_product.product_width"
                  label="Ширина"
                  suffix="cm"
                />
              </div>
              <div class="col-3">
                <app-input
                  :error="$v.new_product.product_height.$error"
                  v-model.number="new_product.product_height"
                  label="Высота"
                  suffix="cm"
                />
              </div>
              <div class="col-3">
                <app-input
                  :error="$v.new_product.product_weight.$error"
                  v-model.number="new_product.product_weight"
                  :label="$tt('common.weight', 1)"
                  suffix="kg"
                  hint="например: 0.4"
                />
              </div>
            </div>
            <ProductMedia :bordered="true" @change="handleImages" />
          </div>
        </q-card-section>
      </div>

      <div>
        <q-separator></q-separator>
        <q-card-section>
          <div class="flex-center-between">
            <app-btn :label="$tt('common.cancel', 1)" flat @click="hide" />
            <app-btn :label="$tt('common.create', 1)" @click="submitNewProduct" color="primary" />
          </div>
        </q-card-section>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

import ProductMedia from "./ProductMedia.vue";
import CustomsCodes from "@/components/CustomsCodes";

export default {
  components: {
    ProductMedia,
  },
  props: { category: Object },
  data() {
    return {
      loading: false,
      next_code: null,
      images: null,
      new_product: {
        product_title: null,
        product_code: null,
        product_cost: null,
        product_length: null,
        product_width: null,
        product_height: null,
        product_weight: null,
        product_fragile: true,
        category_id: null,
        // product_title_customs_ua: null,
        uktved: null,
        files: null,
      },
    };
  },
  async mounted() {
    this.next_code = await this.getNextCode();
  },
  methods: {
    show() {
      this.$refs["create-dialog"].show();
    },
    hide() {
      this.$refs["create-dialog"].hide();
    },
    getNextCode() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { next_code },
          } = await this.$api.get("/warehouse/products/next_code");

          done(next_code);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage:
              "Не далось корректно получить данные, нужные для создание нового товарар. Попробуйте ещё раз.",
          });
          fail(e);
        }
      });
    },
    handleCustomsCode(code) {
      if (!code) return;

      this.new_product.uktved = { id: code.id };
    },
    handleImages({ new_images: images }) {
      this.images = images;
    },
    async uploadImages() {
      if (!this.images || !this.images.length) return;

      return new Promise(async (done, fail) => {
        let queue = this.images.map((img) => {
          return new Promise(async (done, fail) => {
            try {
              const filename = await this.$store.dispatch("Service/UPLOAD_FILE", img.file);

              done(filename);
            } catch (e) {
              fail(e);
              throw e;
            } finally {
              img.loading = false;
            }
          });
        });

        try {
          let res = await Promise.all(queue);

          done(res);

          this.images = null;
        } catch (e) {
          fail(e);
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
          //   throw e;
        }
      });
    },
    async submitNewProduct() {
      this.$v.new_product.$touch();

      if (this.$v.new_product.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });
        return;
      }

      this.loading = true;

      this.new_product.category_id = this.category.id;

      try {
        if (this.images && this.images.length) {
          const files = await this.uploadImages();
          this.new_product.files = files;
        }

        const {
          data: { product },
        } = await this.$api.post(`/warehouse/products`, this.new_product);

        this.new_product = {
          product_title: null,
          product_code: null,
          product_cost: null,
          product_length: null,
          product_width: null,
          product_height: null,
          product_weight: null,
          product_fragile: true,
          category_id: null,
          product_title_customs_ua: null,
        };

        this.$v.new_product.$reset();

        this.$emit("ok", product);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      new_product: {
        product_title: {
          required,
        },
        product_title_customs_eng: {
          // required
        },
        product_title_customs_ua: {},
        product_code: {
          required,
        },
        product_cost: {
          required,
        },
        product_length: {
          required,
        },
        product_width: {
          required,
        },
        product_height: {
          required,
        },
        product_weight: {
          required,
        },
      },
    };
  },
};
</script>
<style lang="scss"></style>
