<template>
  <q-dialog :maximized="$q.screen.xs || false" ref="edit-clone-dialog">
    <q-card
      style="max-width:777px;width:100%"
      class="relative-position no-wrap flex column justify-between"
    >
      <with-loading class="z-max" :state="loading.modal" />

      <div>
        <q-card-section>
          <div class="flex-center-between">
            <h5 class="q-ma-none">
              {{ is_clone ? "Создать копию товара" : "Изменить товар" }}
            </h5>
            <app-btn dense round @click="hide" flat icon="close" color="negative"></app-btn>
          </div>
        </q-card-section>
        <q-separator></q-separator>
      </div>
      <div class="scroll-y">
        <q-card-section class="relative-position">
          <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column reverse'">
            <div class="col-8">
              <app-input
                :error="$v.int_row.title.$anyError"
                v-model="int_row.title"
                :label="$tt('common.title', 1)"
                class="full-width q-mb-lg"
              />

              <app-input
                :label="`${$tt('common.title', 1)} (ENG)`"
                v-model="int_row.title_customs_eng"
                class="full-width q-mb-lg"
                placeholder="Описание товара для таможни"
              />
              <app-input
                :label="`${$tt('common.title', 1)} (UA)`"
                v-model="int_row.title_customs_ua"
                class="full-width q-mb-lg"
                placeholder="Описание товара для таможни"
              />

              <div class="row q-col-gutter-md">
                <div class="col">
                  <app-input
                    :error="$v.int_row.cost.$anyError"
                    v-model="int_row.code"
                    :label="$tt('common.code', 1)"
                    :prefix="`(${int_row.code_internal})`"
                  />
                </div>
                <div class="col-4">
                  <app-input
                    :error="$v.int_row.cost.$anyError"
                    v-model.number="int_row.cost"
                    :label="$tt('common.cost', 1)"
                    prefix="$"
                  >
                    <template #append>
                      <q-icon name="help_outline" size="20px" color="grey">
                        <q-tooltip>
                          исп. {{ $tt("common.as") }} {{ $tt("common.customs_cost") }}
                        </q-tooltip>
                      </q-icon>
                    </template>
                  </app-input>
                </div>
              </div>

              <div class="row q-mt-xs q-col-gutter-md">
                <div class="col-3">
                  <app-input
                    :error="$v.int_row.length.$anyError"
                    v-model.number="int_row.length"
                    type="number"
                    min="1"
                    step="0.1"
                    :label="$tt('common.length', 1)"
                    suffix="cm"
                  >
                  </app-input>
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.int_row.width.$anyError"
                    v-model.number="int_row.width"
                    type="number"
                    min="1"
                    step="0.1"
                    :label="$tt('common.width', 1)"
                    suffix="cm"
                  >
                  </app-input>
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.int_row.height.$anyError"
                    v-model.number="int_row.height"
                    type="number"
                    min="1"
                    step="0.1"
                    :label="$tt('common.height', 1)"
                    suffix="cm"
                  >
                  </app-input>
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.int_row.weight.$anyError"
                    v-model.number="int_row.weight"
                    type="number"
                    min="0.1"
                    step="0.1"
                    :label="$tt('common.weight', 1)"
                    suffix="kg"
                  />
                </div>
              </div>

              <div class="q-mt-md">
                <ProductMedia
                  :id="int_row.product_id"
                  :loaded="int_row.files"
                  bordered
                  @change="storeImages"
                />
              </div>
            </div>
            <div class="col-4 q-mb-sm">
              <wh-categories :preselect="int_row.category" @change="changeCategory" />
            </div>
          </div>
        </q-card-section>
      </div>
      <div>
        <q-separator></q-separator>
        <q-card-section>
          <div class="flex justify-between">
            <app-btn
              color="grey-8"
              size="13px"
              flat
              :label="$tt('common.close', 1)"
              @click.prevent="hide"
            />

            <app-btn
              color="negative"
              :label="`${$tt('common.delete', 1)} ${$tt('common.product')}`"
              v-show="!is_clone"
              @click.prevent="deleteProduct"
              size="13px"
            />

            <app-btn
              color="positive"
              @click="submitRow"
              :label="$tt('common.save', 1)"
              v-if="!is_clone"
              size="13px"
            />

            <app-btn
              color="positive"
              @click="submitRow"
              :label="$tt('common.create', 1)"
              v-else
              size="13px"
            />
          </div>
        </q-card-section>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import WhCategories from "../categories";
import ProductMedia from "./ProductMedia.vue";

export default {
  components: {
    "wh-categories": WhCategories,
    ProductMedia,
  },
  props: {
    is_clone: Boolean,
    row: Object,
  },
  created() {
    this.int_row = { ...this.row };
  },
  async mounted() {
    if (this.is_clone) {
      let next_code = await this.getNextCode();

      this.int_row.code_internal = next_code;
    }
  },
  data() {
    return {
      loading: { modal: false, images: false },
      next_code: null,
      int_row: null,
      images: null,
      uploaded_images: null,
    };
  },
  methods: {
    hide() {
      this.$refs["edit-clone-dialog"].hide();
    },
    show() {
      this.$refs["edit-clone-dialog"].show();
    },
    async deleteProduct(row) /** * OK * */ {
      let c = await this.$confirm({
        level: "danger",
        title: this.$tt("pages.shipments.messages.want_to_remove_product"),
      });

      if (!c) return false;

      let product_id = row ? row.product_id : this.int_row.product_id;

      try {
        await this.$api({
          url: `/warehouse/products/`,
          method: "DELETE",
          data: {
            product_id,
          },
        });

        this.$message({
          title: "Товар удалён",
          level: "success",
        });

        this.hide();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      }
    },
    normalizeRow(row) {
      return {
        product_id: row.product_id,
        product_title: row.title,
        product_title_customs_eng: row.title_customs_eng,
        product_title_customs_ua: row.title_customs_ua,
        category_id: row.category,
        product_weight: row.weight,
        product_length: row.length,
        product_width: row.width,
        product_fragile: row.fragile,
        product_params: row.params,
        product_code: row.code,
        product_cost: row.cost,
        product_height: row.height,
        ...(row.uktved && row.uktved.id && { uktved: { id: row.uktved.id } }),
      };
    },
    getNextCode() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { next_code },
          } = await this.$api.get("/warehouse/products/next_code");

          done(next_code);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
          fail(e);
        }
      });
    },

    async submitRow() {
      this.$v.int_row.$touch();

      if (this.$v.int_row.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields") });
        return;
      }

      this.loading.modal = true;

      let { product_id, ...prod } = this.normalizeRow(this.int_row);

      try {
        if (this.images) {
          let q = this.images.new_images.map((img) =>
            this.$store.dispatch("Service/UPLOAD_FILE", img.file)
          );
          let filenames = await Promise.all(q);

          prod.files = [...(this.images.old_images || []), ...filenames];
        }

        const {
          data: { product },
        } = await this.$api[this.is_clone ? "post" : "put"](
          `/warehouse/products`,
          this.is_clone ? { ...prod } : { product_id, ...prod }
        );

        this.$emit("ok", product);

        this.hide();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.modal = false;
      }
    },
    changeCategory(val) {
      if (val) this.int_row.category = val.id;
    },
    changeCustomsCode(code) {
      if (!code) return;

      this.int_row.uktved = { id: code.id };
    },
    storeImages(images) {
      this.images = images;
    },
    removeImage(index) {
      this.int_row.files.slice(index, 1);
    },
  },
  validations() {
    return {
      int_row: {
        cost: {
          required,
        },
        height: {
          required,
        },
        length: {
          required,
        },
        title: {
          required,
        },
        weight: {
          required,
        },
        width: {
          required,
        },
      },
    };
  },
};
</script>
