<template>
  <div class="wh-products" style="position:relative">
    <div class="wh-products__table">
      <div
        class="wh-products__data aborder overflow-hidden relative-position rounded-borders"
      >
        <with-loading :state="loading" />

        <q-item class="bg-white q-py-md">
          <q-item-section>
            <q-item-label>
              <div class="flex-center-between no-wrap">
                <div class="flex no-wrap">
                  <app-pagination
                    v-model="human_page"
                    :max="total_pages || 1"
                    :disable="loading"
                    class="q-mr-sm"
                    size="12px"
                  />
                </div>
                <div>
                  <app-select
                    v-model="pager.on_page"
                    style="min-width:120px"
                    :options="[20, 35, 50, 75, 100]"
                    :label="$tt('common.on_page')"
                  ></app-select>
                </div>
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-separator></q-separator>
        <q-item class="bg-white q-py-md">
          <q-item-section>
            <q-item-label>
              <app-input
                style="min-width:280px"
                :label="$tt('common.search', 1)"
                v-model="query"
                :placeholder="
                  `${$tt('common.title', 1)}/${$tt('common.code')} товара`
                "
                :disable="loading"
                class="bg-white"
              />
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator></q-separator>
        <q-markup-table flat :style="!autoHeight && 'height: 340px'">
          <thead>
            <tr>
              <th
                class="text-left"
                v-for="(col, idx) in columns"
                :key="idx"
                :class="col.extraClasses && [...col.extraClasses]"
              >
                <div
                  @click="sortBy(col)"
                  class="flex items-center no-wrap"
                  :class="[
                    col.sortable && 'cursor-pointer',
                    sort.field && sort.field === col.sortable && 'text-accent',
                  ]"
                >
                  <div v-html="col.label"></div>
                  <q-icon
                    v-if="col.sortable"
                    :name="
                      sort.dir && sort.field === col.sortable
                        ? 'sort'
                        : 'segment'
                    "
                    :color="
                      (sort.field && sort.field === col.sortable && 'accent') ||
                        'grey'
                    "
                    size="16px"
                    class="q-ml-sm"
                    :class="[
                      sort.field &&
                      sort.field === col.sortable &&
                      sort.dir &&
                      sort.dir === 'dec'
                        ? 'rotate-180'
                        : '',
                    ]"
                  >
                  </q-icon>
                  <q-tooltip v-if="col.sortable">
                    {{ $tt("common.sort", 1) }}
                  </q-tooltip>
                </div>
              </th>
            </tr>
          </thead>

          <tbody v-if="products && products.length">
            <tr
              @dblclick="onRowDblClick(row)"
              class="cursor-pointer"
              v-for="(row, idx) in sorter"
              :key="idx"
            >
              <td>
                <div class="flex no-wrap items-center q-gutter-x-xs">
                  <app-btn
                    v-if="actions.includes('add')"
                    size="12px"
                    padding="xs"
                    class="bg-accent text-white"
                    push
                    @click="onRowDblClick(row)"
                    icon="add"
                  >
                  </app-btn>

                  <q-btn
                    v-if="actions.includes('control')"
                    size="12px"
                    class="bg-white text-primary"
                    icon="more_vert"
                    push
                    padding="xs"
                  >
                    <q-menu>
                      <q-list>
                        <q-item
                          clickable
                          v-close-popup
                          @click="(action) => handleProductAction(row, 'edit')"
                        >
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("common.edit", 1) }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click="(action) => handleProductAction(row, 'clone')"
                        >
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("common.copy", 1) }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click="getProductHistory(row)"
                        >
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("common.history", 1) }}
                              <!-- История движения товара -->
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click="
                            (action) => handleProductAction(row, 'delete')
                          "
                          class="text-negative"
                        >
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("common.delete", 1) }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </td>
              <td>
                <small>
                  <span class="text-muted text-weight-medium">
                    {{ row.code_internal }}
                  </span>
                  {{ row.code }}
                </small>
              </td>
              <td>
                <!-- :title="row.uktved.title" -->
                <div
                  style="max-width:140px;width:100%;white-space:normal;"
                  v-if="row.uktved"
                >
                  <small style="white-space:nowrap" class="block">
                    <q-tooltip>{{ row.uktved.title }}</q-tooltip>
                    {{ row.uktved.code }}
                  </small>
                </div>
                <small class="text-muted" v-else>
                  {{ $tt("errors.not_specified") }}
                </small>
              </td>
              <td style="max-width:280px;font-size:12px;white-space:normal">
                <div style="font-size:11px" class="text-muted">
                  {{ row.category_title }}
                </div>
                <div>
                  {{ row.title }}
                </div>
                <div
                  v-if="row.files && row.files.length"
                  class="flex text-grey-6"
                >
                  <q-icon name="image" style="margin-right:2px"></q-icon>
                  <small
                    ><span class="font-500">{{ row.files.length }}</span>
                    {{ $tt("common.photo", 0, row.files.length > 1 ? 2 : 1) }}
                  </small>
                </div>
              </td>

              <td>
                {{ $toUSD(row.cost) }}
              </td>
              <td>
                {{ row.product_quantity }}
              </td>
              <td>
                <div
                  style="line-height:1;min-width:70px"
                  class="flex items-center"
                >
                  {{ row.length }}
                  <span
                    style="margin-left:2px;margin-right:1px"
                    class="text-grey-8"
                  >
                    &bull;
                  </span>
                  {{ row.width }}
                  <span
                    style="margin-left:2px;margin-right:1px"
                    class="text-grey-8"
                  >
                    &bull;
                  </span>
                  {{ row.height }}
                </div>
              </td>
              <td>
                {{ $toFixed(row.weight, 3) }}
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td class="text-center" :colspan="columns.length">
                <small class="text-grey">
                  {{ $tt("errors.no_data", 1) }}
                </small>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
        <q-separator></q-separator>
        <q-item class="bg-white q-py-md">
          <q-item-section>
            <q-item-label>
              <div class="flex-center-between no-wrap">
                <div class="flex no-wrap">
                  <app-pagination
                    v-model="human_page"
                    :max="total_pages || 1"
                    :disable="loading"
                    class="q-mr-sm"
                    size="12px"
                  />
                </div>
                <div>
                  <app-select
                    v-model="pager.on_page"
                    style="min-width:120px"
                    :options="[20, 35, 50, 75, 100]"
                    :label="$tt('common.on_page')"
                  ></app-select>
                </div>
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </div>

    <div class="q-mt-md">
      <div class="flex-center-between">
        <div></div>
        <div class="q-gutter-x-md">
          <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
            appear
          >
            <app-btn
              @click="bulkAdd"
              class="bg-white text-primary"
              v-if="filter"
            >
              Добавить все из категории <b>&nbsp;{{ filter.title }}</b>
            </app-btn>
          </transition>
          <app-btn
            @click="createNewProduct"
            color="primary"
            v-show="!isWarehouse && !autoHeight"
            :style="{ 'opacity: 0.42': !filter }"
            :disable="!filter"
          >
            <q-icon name="new_releases" size="15px" class="q-mr-sm"></q-icon>
            {{ `${$tt("common.create", 1)} ${$tt("common.product")}` }}
            <q-tooltip anchor="center start" self="center right" v-if="!filter">
              {{ $tt("pages.shipments.messages.pick_category") }}
            </q-tooltip>
          </app-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WarehouseProducts",
  props: {
    isWarehouse: Boolean,
    filter: Object,
    actions: Array,
    autoHeight: Boolean,
    withPager: Boolean,
  },
  mounted() {
    this.getProducts();
  },
  data() {
    return {
      loading: false,
      rows: [],
      editable_row: null,
      query: null,
      sort: {
        field: null,
        dir: null,
      },
      pager: {
        page: 0,
        on_page: 20,
      },
      total: null,
    };
  },
  computed: {
    cols() {
      return {
        warehouse: [
          {
            label: "",
          },
          {
            label: this.$tt("common.code", 1),
            dataType: String,
            extraClasses: [
              (this.sort.dir &&
                this.sort.field &&
                this.sort.field === "code" &&
                "text-accent") ||
                "",
            ],
          },
          {
            label: this.$tt("common.hs_code", 1),
          },
          {
            label: this.$tt("common.title", 1),
            sortable: "title",
            dataType: String,
            extraClasses: [
              (this.sort.dir &&
                this.sort.field &&
                this.sort.field === "title" &&
                "text-accent") ||
                "",
            ],
          },
          {
            label: this.$tt("common.cost", 1),
          },
          {
            label: this.$tt("common.count", 1),
            sortable: "product_quantity",
            dataType: Number,
            extraClasses: [
              "th-nowrap",
              (this.sort.dir &&
                this.sort.field &&
                this.sort.field === "product_quantity" &&
                "text-accent") ||
                "",
            ],
          },
          {
            label: this.$tt("common.lwh"),
          },
          {
            label: `${this.$tt("common.weight", 1)}, kg`,
          },
        ],
        common: [
          {
            label: "",
          },
          {
            label: this.$tt("common.code", 1),
            sortable: "code",
            dataType: String,
            extraClasses: [
              (this.sort.dir &&
                this.sort.field &&
                this.sort.field === "code" &&
                "text-accent") ||
                "",
            ],
          },
          {
            label: this.$tt("common.hs_code", 1),
          },
          {
            label: this.$tt("common.title", 1),
            sortable: "title",
            dataType: String,
            extraClasses: [
              (this.sort.dir &&
                this.sort.field &&
                this.sort.field === "title" &&
                "text-accent") ||
                "",
            ],
          },
          {
            label: this.$tt("common.cost", 1),
          },
          { label: "" },
          {
            label: "Д•Ш•В",
          },
          {
            label: `${this.$tt("common.weight", 1)}, kg`,
          },
        ],
      };
    },
    columns() {
      return this.isWarehouse ? this.cols.warehouse : this.cols.common;
    },
    sorter() {
      let { dir = null, field = null, type = null } = this.sort;

      let has_sort = !!(dir && field && type);

      if (has_sort) {
        if (type === "Number") {
          return [...this.products].sort((a, b) => {
            if (dir === "dec") {
              return b[field] - a[field];
            } else {
              return a[field] - b[field];
            }
          });
        } else if (type === "String") {
          return [...this.products].sort((a, b) => {
            if (dir === "dec") {
              return ("" + a[field]).localeCompare(b[field], undefined, {
                numeric: true,
                sensitivity: "base",
              });
            } else {
              return ("" + b[field]).localeCompare(a[field], undefined, {
                numeric: true,
                sensitivity: "base",
              });
            }
          });
        }
      } else {
        return this.products;
      }
    },
    products() {
      let p = this.rows;

      if (this.filter) {
        p = this.rows.filter(
          (row) =>
            row.category === this.filter.id ||
            (row.category_parent_id &&
              row.category_parent_id === this.filter.id)
        );
      }

      if (this.query && this.query.length) {
        let has_includes = (str) => {
          return (
            str && str.toLowerCase().indexOf(this.query.toLowerCase()) >= 0
          );
        };

        p = p.filter(
          (p) =>
            has_includes(p.code) ||
            has_includes(p.title) ||
            has_includes(p.title_customs_eng) ||
            has_includes(p.title_customs_ua) ||
            false
        );
      }

      return p;
    },
    human_page: {
      get() {
        return this.pager.page + 1;
      },
      set(page) {
        this.pager.page = page - 1;
      },
    },
    total_pages() {
      return (this.total && Math.ceil(this.total / this.pager.on_page)) || 1;
    },
  },
  watch: {
    isWarehouse(new_val, old_val) {
      new_val !== old_val && this.getProducts();
    },
    "pager.page"(page) {
      this.getProducts({ ...this.pager, page });
    },
    "pager.on_page"(on_page) {
      this.getProducts({ page: 0, on_page });
    },
  },
  methods: {
    async getProducts(params = {}) {
      try {
        this.loading = true;

        const {
          data: { products, total },
        } = await this.$api({
          url: `/warehouse/get_all_products${this.isWarehouse ? "/  /" : ""}`,
          params: {
            ...params,
            ...(this.withPager && {
              ...this.pager,
            }),
          },
        });

        this.rows = products;
        this.total = total;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
    getProductMedia(row) {
      if (!row || !row.files) return null;

      return new Promise(async (done, fail) => {
        this.loading = true;

        let queue = row.files.map(async (f) => {
          const { data } = await this.$api.get(
            `/v2/products/${row.product_id}/files/${f}`,
            {
              responseType: "arraybuffer",
            }
          );

          function arrayBufferToBase64(buffer) {
            let binary = "";
            let bytes = new Uint8Array(buffer);
            let len = bytes.byteLength;
            for (let i = 0; i < len; i++) {
              binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
          }

          return {
            data: arrayBufferToBase64(data),
            filename: f,
          };
        });

        try {
          let files = await Promise.all(queue);

          done(files);
        } catch (e) {
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data"),
          });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    // * DONE * //
    async editRow(row, is_clone = false) {
      if (this.isWarehouse && is_clone) {
        this.$message({
          level: "warning",
          title: this.$tt("pages.shipments.errors.product_create_not_allowed"),
        });

        return;
      }

      let target_row;

      if (is_clone) {
        let { code, ...cloned_row } = row;

        target_row = {
          ...cloned_row,
          title: `${row.title} (копия)`,
        };
      } else {
        target_row = { ...row };
      }

      let editDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./EditDialog.vue"),
          root: this,
          row: target_row,
          is_clone,
        })
        .onOk(async (row) => {
          this.getProducts();

          this.$message({
            title: this.$tt("messages.changes_saved", 1),
            level: "success",
          });

          editDialog.hide();
        });
    },
    async removeProduct({ product_id = null }) {
      if (!product_id) throw new Error("There is no product_id");

      let c = await this.$confirm({
        level: "danger",
        title: this.$tt("pages.shipments.messages.want_to_remove_product"),
      });

      if (!c) return false;

      try {
        await this.$api({
          url: `/warehouse/products/`,
          method: "DELETE",
          data: {
            product_id,
          },
        });

        this.$message({
          title: "Товар удалён",
          level: "success",
        });

        this.getProducts();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      }
    },
    onRowDblClick(row) {
      this.$emit("on-row-dbclick", row);
    },
    async createNewProduct() {
      if (!this.filter) {
        this.$message({
          title: "Сначала выберите категорию",
          level: "warning",
        });
        return;
      }

      const createDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./CreateDialog.vue"),
          root: this,
          category: this.filter,
        })
        .onOk((product) => {
          createDialog.hide();

          this.$message({
            title: this.$tt("pages.shipments.messages.product_created"),
            level: "success",
          });

          this.getProducts();
          this.highlightNewRow();
        });
    },
    // TODO: IMPLEMENT THIS FEATURE
    highlightNewRow() {
      //TODO: IMPLEMENT this method
    },
    handleProductAction(row, action) {
      switch (action) {
        case "edit":
          this.editRow(row);
          break;
        case "delete":
          this.removeProduct(row);
          break;
        case "clone":
          this.editRow(row, true);
          break;
        default:
          throw new Error("Unknown product action: " + action);
        // break;
      }
    },
    async getProductHistory({ product_id: id }) {
      try {
        this.loading = true;

        let {
          data: { history },
        } = await this.$api.get(`/warehouse/products/status_history/${id}`);

        this.$q.dialog({
          parent: this,
          component: () => import(`./ProductHistory.vue`),
          history,
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
    sortBy({ sortable: field, dataType }) {
      if (!field || !dataType) return;

      this.sort.field = field;
      this.sort.type = dataType.name;

      switch (this.sort.dir) {
        case null:
          this.sort.dir = "asc";
          break;
        case "asc":
          this.sort.dir = "dec";
          break;
        case "dec":
          this.sort.dir = null;
          this.sort.field = null;
          this.sort.type = null;
          break;
      }
    },
    bulkAdd() {
      this.$emit("on-row-dbclick", this.products);
    },
  },
};
</script>

<style lang="scss">
.wh-products {
  &__table {
    position: relative;
  }

  &__data {
    // overflow-x: scroll;
    width: 100%;
    .q-markup-table {
      // min-width: 700px;

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: $grey-2;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey-5;
      }
    }
  }
}
</style>
