<template>
  <div class="prod-media relative-position">
    <with-loading :state="loading" />

    <input style="display: none;" ref="images-holder" @change="handleNewImages" type="file" multiple accept="image/*" />

    <q-list :bordered="bordered" :class="bordered && 'rounded-borders'" separator>
      <q-item-label header>
        <div class="flex flex-center-between">
          <small class="text-primary font-500">
            Фото товара
          </small>
          <app-btn @click="() => $refs['images-holder'].click()" flat color="accent" size="11px" class="bg-red-1">
            <div class="flex items-center">
              <q-icon name="add_photo_alternate" class="q-mr-sm"></q-icon>
              <span>
                {{ $tt("common.attach", 1) }}
              </span>
            </div>
          </app-btn>
        </div>
      </q-item-label>

      <div v-if="saved_images">
        <q-item v-for="(i, idx) in saved_images" :key="idx">
          <q-item-section avatar>
            <q-item-label>
              <q-img :src="i.src" width="56px" :ratio="1" class="rounded-borders aborder cursor-pointer" cover></q-img>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              {{ i.filename }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label>
              <app-btn dense icon="close" color="negative" flat size="14px" @click="removeSavedImage(i.filename)" />
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>

      <div v-if="prepared_images">
        <div v-for="(img, idx) in prepared_images" :key="idx">
          <q-item>
            <q-item-section avatar>
              <q-item-label>
                <q-img
                  :src="img.src"
                  width="56px"
                  :ratio="1"
                  class="rounded-borders aborder"
                  cover
                  :loading="img.loading"
                ></q-img>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <small class="text-red-7 font-500">
                  Новое
                </small>
                <div class="flex items-center no-wrap">
                  <div class="ellipsis">{{ img.file.name }}</div>
                  <!-- <q-icon name="new_releases" class="q-ml-sm" color="red-7" size="14px"></q-icon> -->
                </div>
              </q-item-label>
              <q-item-label caption>
                <div>{{ toHumanFileSize(img.file.size) }}</div>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <app-btn dense icon="close" color="negative" flat size="14px" @click="removePreparedImage(idx)" />
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator></q-separator>
        </div>
      </div>

      <div v-if="(!saved_images || !saved_images.length) && (!prepared_images || !prepared_images.length)">
        <q-item>
          <q-item-section>
            <q-item-label>
              <small class="text-muted">
                {{ $tt("errors.no_data") }}
              </small>
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </q-list>

    <!-- <small class="text-muted q-mt-md block" v-else>
      {{ $tt("common.image", 1, 2) }} {{ $tt("messages.not_loaded") }}
    </small> -->
  </div>
</template>

<script>
import { format } from "quasar";
const { humanStorageSize } = format;

export default {
  props: {
    loaded: [Array, null, undefined],
    bordered: Boolean,
    id: Number,
  },
  mounted() {
    if (this.loaded && this.loaded.length) {
      this.showLoaded();
    }
  },
  data() {
    return {
      loading: false,
      prepared_images: [],
      saved_images: null,
    };
  },
  methods: {
    toHumanFileSize(s) {
      return humanStorageSize(s);
    },
    async handleNewImages(event) {
      let input = event.target;
      let files = input.files;

      if (!files) return;

      let images = Array.from(files).map((file) => ({
        src: URL.createObjectURL(file),
        file,
        loading: false,
      }));

      this.prepared_images.push(...images);

      this.$emit("change", {
        new_images: this.prepared_images,
        ...(this.saved_images &&
          this.saved_images &&
          this.saved_images.length && { old_images: [...this.saved_images.map((i) => i.filename)] }),
      });

      input.value = null;
    },
    removePreparedImage(idx) {
      // TODO: BRIND THIS ACTION TO BACKEND
      this.prepared_images.splice(idx, 1);

      this.$emit("change", {
        new_images: this.prepared_images,
        old_images:
          (this.saved_images && this.saved_images.length && [...this.saved_images.map((i) => i.filename)]) || [],
      });
    },
    openMedia(img) {
      // ? OPEN IMAGE BETA
      var newTab = window.open();
      newTab.document.body.innerHTML = `
        <img src='data:image;base64,${img}' width='100%' />
      `;
    },
    showLoaded() {
      let loaded = [];

      this.loaded.forEach(async (f) => {
        let { data } = await this.$api({
          method: "GET",
          url: `/v2/products/${this.id}/files/${f}`,
          responseType: "blob",
        });

        loaded.push({
          filename: f,
          src: URL.createObjectURL(data),
        });
      });

      this.saved_images = loaded;
    },
    async removeSavedImage(filename) {
      let idx = this.saved_images.findIndex((f) => f.filename === filename);

      this.saved_images.splice(idx, 1);

      this.$emit("change", {
        new_images: this.prepared_images,
        old_images: [...this.saved_images.map((i) => i.filename)],
      });
    },
  },
};
</script>
