<template>
  <q-dialog :maximized="$q.screen.xs || false" ref="product-history">
    <q-card class="full-width" style="max-width:560px">
      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">
            {{ $tt("pages.shipments.messages.move_history") }}
          </h5>
          <q-btn round flat color="negative" dense icon="close" @click="hide"></q-btn>
        </div>
      </q-card-section>
      <q-tabs active-color="primary" active-bg-color="blue-1" inline-label stretch dense v-model="type">
        <q-tab class="full-width" name="in" color="red">
          <div class="flex items-center font-500">
            <q-icon class="q-mr-sm" size="18px" name="arrow_circle_down"></q-icon>
            Приход
          </div>
        </q-tab>
        <q-tab class="full-width" name="out">
          <div class="flex items-center font-500">
            <q-icon class="q-mr-sm" size="18px" name="arrow_circle_up"></q-icon>
            Расход
          </div>
        </q-tab>
      </q-tabs>

      <app-list
        :empty="(!actual_history || !actual_history.length) && $tt('errors.no_data')"
        :bordered="false"
        icon="arrow_circle_down"
      >
        <q-item v-for="(record, idx) in actual_history" :key="idx">
          <q-item-section>
            <q-item-label caption>
              <small>
                {{ $tt("common.date", 1) }}
              </small>
            </q-item-label>
            <!-- <q-item-label>{{ record.date }}</q-item-label> -->
            <q-item-label>{{ $date(record.date) }}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>
              <small>{{ $tt("common.order_number", 1) }}</small>
            </q-item-label>
            <q-item-label v-if="record.order_id">{{ record.order_id }}</q-item-label>
            <q-item-label v-else>
              <div class="text-muted">&bull;</div>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption><small>Номер посылки</small></q-item-label>
            <q-item-label v-if="record.parcel_id">{{ record.parcel_id }}</q-item-label>
            <q-item-label v-else>
              <div class="text-muted">&bull;</div>
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label caption>
              <small>{{ $tt("common.count", 1) }}</small>
            </q-item-label>
            <q-item-label>{{ record.quantity }}</q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
      <!-- <q-card-section></q-card-section> -->
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    history: Object,
  },
  computed: {
    actual_history() {
      return this.history[this.type];
    },
  },
  data() {
    return {
      type: "in",
    };
  },
  methods: {
    show() {
      this.$refs["product-history"].show();
    },
    hide() {
      this.$refs["product-history"].hide();
    },
  },
};
</script>
