<template>
  <PageContainer :title="$t('nav.shipments.shipments.title')">
    <with-loading fixed :state="loading.shipments" />

    <div class="container">
      <div class="shipments" id="shippings-list" v-cloak>
        <div class="shipments__addresses row q-col-gutter-md q-mb-xl">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <app-banner level="info">
              <div>
                <div class="text-subtitle2 q-mb-md">{{ $tt("office_address_label", 1) }}:</div>
                <div v-html="$tt('office_address')"></div>
              </div>
            </app-banner>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <app-banner level="warning">
              <div>
                <div class="text-subtitle2 q-mb-md">{{ $tt("svh_address_label", 1) }}:</div>
                <div>
                  Warehouse Service <br />
                  Seller Online, LLC <br />
                  635 Somers ave, <br />
                  Feasterville-Trevose, PA 19053, <br />
                  United States<br />
                  +1 (267) 800-90-48
                </div>
              </div>
            </app-banner>
          </div>
        </div>

        <!-- // * FILTER STARTS -->
        <form
          @submit.prevent="
            () => {
              params.page = 1;
              getShipments({ ...params });
            }
          "
          class="q-mb-xl"
        >
          <div>
            <div class="row q-col-gutter-md">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <app-input
                  v-model.trim="params.filter"
                  :label="$capitalize($t('common.query'))"
                  class="bg-white"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    <!-- номер заказа, номер посылки, получатель, адрес (можно частично), почтовый код, трек-номер -->
                    {{ $tt("common.order_number") }}, {{ $tt("common.parcel_number") }},
                    {{ $tt("common.recipient") }},
                    {{ $tt("common.address") }}
                    <!-- (част.) -->
                    , {{ $tt("common.zip") }},
                    {{ $tt("common.track_number") }}
                  </q-tooltip>
                </app-input>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <app-select
                  v-model="params.type"
                  :label="$tt('common.shipping_type', 1)"
                  :options="types"
                  class="bg-white"
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  emit-value
                  map-options
                />
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <app-select
                  v-model="params.status"
                  :label="$tt('common.status', 1)"
                  class="bg-white"
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  emit-value
                  map-options
                  :options="[
                    {
                      label: $tt('common.all', 1, 2),
                      value: null,
                    },
                    ...(statuses || []),
                  ]"
                />
              </div>
            </div>
          </div>

          <div class="q-mt-lg flex justify-between">
            <app-btn
              padding="sm xl"
              class="bg-white text-grey-8"
              @click="clearFilter"
              size="12px"
              type="button"
            >
              {{ $tt("common.reset") }}
            </app-btn>
            <app-btn
              @click="
                () => {
                  params.page = 1;
                  getShipments({ ...params });
                }
              "
              size="12px"
              color="primary"
              type="button"
              padding="sm xl"
              class="text-bold"
            >
              {{ $tt("common.search") }}
            </app-btn>
          </div>
        </form>

        <transition-group
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <div key="with-shipments" class="relative-position" v-if="shipments && shipments.length">
            <div class="flex-center-between">
              <app-pagination
                v-model="params.page"
                :max="total_pages || 1"
                :max-pages="$q.screen.xs ? 3 : 6"
                :disable="!!loading.shipments"
                @input="(page) => getShipments({ ...params, page })"
              />

              <div class="flex items-center">
                <small class="text-grey q-mr-sm" style="font-size: 12px;">
                  {{ $tt("common.on_page") }}
                </small>
                <app-select
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  :options="[10, 20, 30, 40, 50]"
                  class="bg-white"
                  v-model="params.on_page"
                  @input="(on_page) => getShipments({ ...params, page: 1, on_page })"
                />
              </div>
            </div>

            <div class="q-my-xl">
              <div class="shipments__item" v-for="ship in shipments" :key="ship.id">
                <ShipmentItem
                  :ship="ship"
                  :key="ship.id"
                  :loading="loading[ship.id]"
                  @set-item-loading="(value) => setItemLoading(ship.id, value)"
                  @get-doc="(isSticker) => getShipmentDoc(ship.id, isSticker)"
                  @get-stickers="getStickers"
                  :sticker-format="sticker_format"
                  show-buttons="1"
                  @updated="getShipments(params)"
                />
              </div>
            </div>

            <div class="flex-center-between">
              <app-pagination
                v-model="params.page"
                :max="total_pages || 1"
                :max-pages="$q.screen.xs ? 3 : 6"
                :disable="!!loading.shipments"
                @input="(page) => getShipments({ ...params, page })"
              />

              <div class="flex items-center">
                <small class="text-grey q-mr-sm" style="font-size: 12px;">
                  {{ $tt("common.on_page") }}
                </small>
                <app-select
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  :options="[10, 20, 30, 40, 50]"
                  class="bg-white"
                  v-model="params.on_page"
                  @input="(on_page) => getShipments({ ...params, page: 1, on_page })"
                />
              </div>
            </div>
          </div>

          <div
            class="flex-center column text-grey-5"
            key="empty-shipments"
            v-else-if="!loading.shipments"
          >
            <q-icon class="q-mb-sm" size="35px" name="search_off"></q-icon>
            <small>
              {{ $tt("errors.not_found", 1) }}
            </small>
          </div>
        </transition-group>

        <!-- // TODO: REPLACE BY DIALOG -->
        <modal scrollable height="auto" name="shippings-docs">
          <div class="modal">
            <with-loading :state="loading.modal" />
            <div class="modal__body">
              <table
                cellspacing="0"
                class="table"
                v-if="prepare_ship.products && prepare_ship.products.length"
              >
                <tr>
                  <th>
                    <!-- Описание -->
                    {{ $tt("common.description") }}
                  </th>
                  <th>{{ $tt("common.title", 1) }} (eng)</th>
                  <th v-if="prepare_ship.type_code !== 'agent_shipping'">
                    {{ $tt("common.title", 1) }} (укр.)
                  </th>
                  <th>
                    {{ $tt("common.count") }}
                  </th>
                </tr>
                <tr :key="i" v-for="(prod, i) in prepare_ship.products">
                  <td>
                    {{ prod.title }}
                  </td>
                  <td>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.prepare_ship.products.$each[i].title_customs_eng.$error,
                      }"
                    >
                      <input type="text" v-model="prod.title_customs_eng" />
                    </div>
                  </td>
                  <td v-if="prepare_ship.type_code !== 'agent_shipping'">
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.prepare_ship.products.$each[i].title_customs_ua.$error,
                      }"
                    >
                      <input type="text" v-model="prod.title_customs_ua" />
                    </div>
                  </td>
                  <td>
                    {{ prod.quantity }}
                  </td>
                </tr>
              </table>

              <div class="modal__content-group">
                <p
                  v-html="$tt('pages.shipments.list.title_warning')"
                  style="color: #0079d0;font-size:13px;line-height:18px;padding:0;"
                ></p>
              </div>
              <div class="modal__content-group" v-if="prepare_ship.type_code !== 'agent_shipping'">
                <div class="row">
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.length.$error }"
                    >
                      <label for="">
                        {{ $tt("common.length") }}
                      </label>
                      <input type="number" step="1" v-model.number="dimensions.length" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.width.$error }"
                    >
                      <label for="">
                        {{ $tt("common.width") }}
                      </label>
                      <input type="number" step="1" v-model.number="dimensions.width" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.height.$error }"
                    >
                      <label for="">
                        {{ $tt("common.height") }}
                      </label>
                      <input type="number" step="1" v-model.number="dimensions.height" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.weight.$error }"
                    >
                      <label for="">
                        {{ $tt("common.weight") }}
                      </label>
                      <input type="number" step="0.001" v-model.number="dimensions.weight" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal__content-group" v-if="prepare_ship.type_code !== 'agent_shipping'">
                <!-- <div class="modal__heading-group">
                  <h3>Отправитель</h3>
                  <button @click="clearShipper" class="btn btn-xs">
                    Удалить отправителя из памяти
                  </button>
                </div> -->
                <div class="row">
                  <div class="col">
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_name_ua.$error,
                      }"
                    >
                      <label for="">
                        {{ $tt("common.fio") }}
                        (укр)
                      </label>
                      <input v-model="new_shipper.shipper_name_ua" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_name_en.$error,
                      }"
                    >
                      <label for="">
                        {{ $tt("common.fio") }}
                        (eng)
                      </label>
                      <input v-model="new_shipper.shipper_name_en" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_email.$error,
                      }"
                    >
                      <label for="">Email:</label>
                      <input v-model="new_shipper.shipper_email" type="text" />
                    </div>

                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_city_ua.$error,
                      }"
                    >
                      <label for=""> {{ $tt("common.city") }} (укр): </label>
                      <input v-model="new_shipper.shipper_city_ua" type="text" />
                    </div>

                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_city_en.$error,
                      }"
                    >
                      <label for=""> {{ $tt("common.city") }} (eng): </label>
                      <input v-model="new_shipper.shipper_city_en" type="text" />
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_street_ua.$error,
                      }"
                    >
                      <label for=""> {{ $tt("common.address", 1) }} (укр):</label>
                      <input v-model="new_shipper.shipper_street_ua" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_street_en.$error,
                      }"
                    >
                      <label for=""> {{ $tt("common.address", 1) }} (eng):</label>
                      <input v-model="new_shipper.shipper_street_en" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_phone.$error,
                      }"
                    >
                      <label for="">
                        {{ $tt("common.phone") }}
                        :
                      </label>
                      <input v-model="new_shipper.shipper_phone" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_postal_code.$error,
                      }"
                    >
                      <label for="">{{ $tt("common.zip") }}:</label>
                      <input v-model="new_shipper.shipper_postal_code" type="text" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal__footer">
              <button v-if="prepare_ship.type_code !== 'agent_shipping'" class="btn btn-sm">
                {{ $tt("common.send") }}
              </button>
              <button v-else class="btn btn-block btn-primary" @click="getAgentDocs">
                {{ $tt("common.accept") }}
              </button>
            </div>
          </div>
        </modal>
      </div>
    </div>

    <q-page-sticky
      class="shipments__bulk-actions"
      style="z-index:9"
      position="bottom-right"
      :offset="[21, 21]"
    >
      <div class="flex">
        <app-btn rounded color="red-7" @click="createTrack" class="q-px-sm q-mr-md" no-caps>
          <img
            height="21px"
            width="21px"
            class="q-mr-sm"
            src="img/logos/nova-poshta-light.svg"
            alt=""
          />
          {{ $tt("pages.shipments.messages.create_ttn") }}
          <!-- <q-badge floating class="shadow-4 text-white bg-blue-7 font-500">
            {{ $tt("common.free", 1) }}
          </q-badge> -->
          <q-badge class="bg-white text-red-7 q-ml-sm font-500" v-if="checked && checked.length">
            {{ checked.length }}
          </q-badge>
        </app-btn>
        <q-fab
          :label="$tt('common.action', 1, 2)"
          icon="keyboard_arrow_up"
          direction="up"
          vertical-actions-align="right"
          push
          size="14px"
          padding="7px 21px 7px 14px"
          color="primary"
        >
          <q-fab-action class="bg-white q-px-sm" label="" @click="startAddTrack">
            <!-- Добавить трек-номера неотправленным -->
            {{ $tt("common.add", 1) }} {{ $tt("common.track_number") }} ({{
              $tt("common.unsent")
            }})
          </q-fab-action>
          <q-fab-action
            class="bg-white q-px-sm"
            :disable="!checked.length || !ableToAddTrack"
            @click="startAddTrack"
          >
            <!-- Добавить трек-номера выбранным -->
            {{ $tt("common.add", 1) }} {{ $tt("common.track_number") }} ({{
              $tt("common.checked")
            }})

            <q-badge class="bg-red text-white q-ml-sm  font-500">{{ checked.length }}</q-badge>
          </q-fab-action>
          <q-fab-action
            class="bg-white q-px-sm"
            @click="getAvaliableStickers((checked && checked.length && checked) || null)"
          >
            <!-- Печать стикеров -->
            {{ $tt("common.get", 1) }} {{ $tt("common.stickers", 0, 2) }}

            <q-badge v-if="checked.length" class="bg-red text-white q-ml-sm  font-500">
              {{ checked.length }}
            </q-badge>
          </q-fab-action>

          <q-fab-action
            v-if="$store.getters['auth/enable_customer_dhl']"
            class="bg-white q-px-sm"
            @click="bulkCreateDHL()"
          >
            {{ $tt("common.create", 1) }} {{ $tt("common.document", 0, 1) }} DHL
            <q-badge v-if="checked.length" class="bg-red text-white q-ml-sm  font-500">
              {{ checked.length }}
            </q-badge>
          </q-fab-action>

          <q-fab-action
            v-show="
              ($store.getters['auth/customer_vars'] &&
                (($store.getters['auth/customer_vars'].CUSTOMER_DHL_ENABLE &&
                  $store.getters['auth/customer_vars'].CUSTOMER_DHL_ENABLE === '1') ||
                  ($store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE &&
                    $store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE === '1'))) ||
                false
            "
            class="bg-white q-px-sm"
            :label="`${$tt('common.create', 1)} labels`"
            @click="createLabels"
          />
        </q-fab>
      </div>
    </q-page-sticky>
  </PageContainer>
</template>

<script>
import ShipmentItem from "@/components/Shipments/Shipment";
import { required, requiredIf } from "vuelidate/lib/validators";

const re = /^[^а-яА-Я]*$/; // alphanumeric & spaces
const ALPHA_PLUS = (val) => {
  return re.test(val);
};

export default {
  name: "ShipmentsList",
  components: {
    ShipmentItem,
  },
  beforeMount() {
    this.$store.commit("Shipments/CLEAR_CHECKED");
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit("Shipments/CLEAR_CHECKED");
    next();
  },
  async mounted() {
    this.getStatuses();

    let { print_stickers_id = undefined } = this.$route.query;

    if (print_stickers_id) this.getStickers(print_stickers_id);

    let { page = 1, on_page = 20, filter = null, type = null, status = null } = this.$route.query;

    this.params.filter = filter;
    this.params.type = type;
    this.params.status = status;

    this.params.page = +page;
    this.params.on_page =
      (localStorage.getItem("shippings-onpage") &&
        !isNaN(+localStorage.getItem("shippings-onpage")) &&
        +localStorage.getItem("shippings-onpage")) ||
      +on_page;

    this.getShipments(this.params);
  },
  data() {
    return {
      total_pages: null,
      shipments: null,
      loading: {
        shipments: false,
        modal: false,
      },
      prepare_ship: {
        products: [],
      },
      dimensions: {
        length: null,
        width: null,
        height: null,
        weight: null,
      },
      new_shipper: {
        shipper_name_ua: null,
        shipper_name_en: null,
        shipper_street_ua: null,
        shipper_street_en: null,
        shipper_email: null,
        shipper_city_ua: null,
        shipper_city_en: null,
        shipper_phone: null,
        shipper_postal_code: null,
      },
      sticker_format: "10x10",
      params: {
        page: null,
        on_page: null,
        filter: null,
        type: null,
        status: null,
      },
      statuses: null,
      types: [
        {
          label: this.$tt("common.all", 1, 2),
          value: null,
        },
        {
          label: this.$tt("types.consolidation", 1),
          value: "consolidation",
        },
        {
          label: this.$tt("types.consolidation_usa", 1),
          value: "consolidation_usa",
        },
        {
          label: this.$tt("types.direct", 1),
          value: "direct",
        },
        {
          label: this.$tt("types.svh", 1),
          value: "svh",
        },
        {
          label: this.$tt("types.usa_domestic", 1),
          value: "usa_domestic",
        },
        {
          label: this.$tt("types.client_bulk", 1),
          value: "client_bulk",
        },
        {
          label: this.$tt("types.direct_usa_less_1kg", 1),
          value: "direct_usa_less_1kg",
        },
        {
          label: this.$tt("types.consolidated_from_sender", 1),
          value: "consolidated_from_sender",
        },
        {
          label: this.$tt("types.postcard", 1),
          value: "postcard",
        },
      ],
    };
  },
  computed: {
    ableToAddTrack() {
      if (!this.checked.length) return false;
      return (
        this.checked.every((shipment) => !shipment.track_ua) &&
        this.checked.every((s) => s.status_code === "customer_created")
      );
    },
    ableToCreateDocs() {
      return this.checked.every((s) => s.status_code === "customer_created");
    },
    checked() {
      return this.$store.getters["Shipments/checked_shipments"];
    },
  },
  methods: {
    routerPush(params) {
      this.$router.push(params).catch(() => {});
    },
    normalizeFilter(params = this.params) {
      let f = {};

      let { print_stickers_id = undefined, ...filter } = params;

      Object.entries(filter).forEach(([key, val]) => {
        if (Array.isArray(val)) {
          val && val.length && (f[key] = val);
        } else if (val !== null && val !== undefined) {
          f[key] = val;
        }
      });

      return f;
    },
    clearFilter() {
      this.params.page = 1;
      this.params.on_page =
        (localStorage.getItem("shippings-onpage") &&
          !isNaN(+localStorage.getItem("shippings-onpage")) &&
          +localStorage.getItem("shippings-onpage")) ||
        20;

      this.params.status = null;
      this.params.type = null;
      this.params.filter = null;

      this.getShipments(this.params);
    },
    async getStatuses() {
      try {
        const statuses = await this.$store.dispatch("Info/GET_SHIPMENT_STATUSES");

        this.statuses = Object.entries(statuses).map(([value, label]) => ({
          value,
          label,
        }));
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить возможные статусы отправок",
        });
      } finally {
      }
    },
    async getShipments(params = this.params) {
      // debugger;
      return new Promise(async (done, fail) => {
        try {
          this.loading.shipments = true;

          let $params = this.normalizeFilter(params);

          const { shipments, total_pages } = await this.$store.dispatch(
            "Shipments/GET_SHIPMENTS",
            $params
          );

          this.shipments = shipments;
          this.total_pages = total_pages;

          this.$router.push({ query: $params });

          done(shipments);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: "Не удалось получить список отправок" });
          fail(e);
        } finally {
          this.loading.shipments = false;
        }
      });
    },
    getShipmentProducts(id) {
      return this.$api.post(`/shipping/parcel_products`, [...id]);
    },
    async getStickers(shipment_ids, print_format = this.sticker_format) {
      return new Promise(async (done, fail) => {
        this.loading.shipments = true;

        try {
          const { data } = await this.$api({
            method: "POST",
            url: `/v2/shipping/shipments/get-stickers`,
            data: { shipment_ids, ...(print_format && { print_format }) },
            responseType: "arraybuffer",
          });

          done(data);
        } catch (e) {
          fail(e);
        } finally {
          this.loading.shipments = false;
        }
      });
    },
    getCreateLabel() {
      return this.$api.get(`/shipping/shipment?action=create_label`);
    },
    getCustomerCreated() {
      return this.$api.get(`/shipping/shipment?action=add_track`);
    },
    getCreatedLabel() {
      return this.$api.get(`/shipping/shipment?action=download_label`);
    },
    getDhlCreated() {
      return this.$api.get(`/shipping/shipment?action=create_label_consolidation`);
    },
    // * NEW:
    // TODO: UNITE BOTH FUNCTIONS
    async unsentAddTrack() {
      const {
        data: { shipments },
      } = await this.getCustomerCreated();

      this.routerPush({
        name: "PROCESS_SHIPMENTS",
        query: { action: "add_track" },
        params: { shipments },
      });
    },
    async startAddTrack() {
      let t;

      if (this.checked && this.checked.length) {
        t = this.checked;
      } else {
        try {
          this.loading.shipments = true;
          const {
            data: { shipments },
          } = await this.getCustomerCreated();
          t = shipments;
        } catch (e) {
          console.log(e);
        } finally {
          this.loading.shipments = false;
        }
      }

      if (!t || !t.length) {
        this.$message({ title: "Вы не выбрали ни одной отправки", level: "warning" });
        return;
      }

      this.routerPush({
        name: "PROCESS_SHIPMENTS",
        query: { action: "add_track" },
        params: { shipments: t },
      });
    },
    // TODO: UNITE BOTH FUNCTIONS
    async getAvaliableStickers(checked = null) {
      let target;

      try {
        this.loading.shipments = true;

        if (checked) {
          target = checked;
        } else {
          const {
            data: { shipments },
          } = await this.$api.get(`shipping/shipment?action=download_label`);

          target = shipments;
        }

        this.routerPush({
          name: "PROCESS_SHIPMENTS",
          // params: { shipments },
          params: { shipments: target },
          query: { action: "get_available_stickers" },
        });
      } catch (e) {
        console.log(e);
      } finally {
        this.loading.shipments = false;
      }
    },
    // * NEW END:

    async createTrack() {
      let target;

      if (this.checked && this.checked.length) {
        target = this.checked;
      } else {
        try {
          this.loading.shipments = true;

          let {
            data: { shipments },
          } = await this.$api.get(`/shipping/shipment?action=add_track`);

          target = shipments;
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить информацию о целевых отправках",
          });
        } finally {
          this.loading.shipments = false;
        }
      }

      this.routerPush({
        name: "PROCESS_SHIPMENTS",
        query: { action: "create_track" },
        params: { shipments: target },
      });
    },
    async addTrack(shipments) {
      return;
      let _TARGET;

      if (target === "checked") {
        if (!this.ableToAddTrack) {
          this.$alert(
            {
              level: "warning",
              title: "Одной или нескольким из выбранных посылок уже присвоен трек-номер.",
              message: "Таким отправкам невозможно присвоить новый трек-номер",
            },
            7000
          );

          return;
        }
        _TARGET = this.checked;
      } else if (target === "created") {
        // this.loading.shipments = true;
        this.$store.commit("app/SET_LOADING", true);

        try {
          let {
            data: { shipments },
          } = await this.getCustomerCreated();

          if (!shipments || !shipments.length) {
            this.$alert({
              level: "warning",
              title: "По данным критериям отправок не найдено",
            });

            return;
          }

          _TARGET = shipments;
        } catch (e) {
          console.log("e:", e);
        } finally {
          // this.loading.shipments = false;
          this.$store.commit("app/SET_LOADING", false);
        }
      }

      let addTrack = this.$q
        .dialog({
          parent: this,
          component: () => import("@/components/Shipments/AddTrack/dialog.vue"),
          shipments: _TARGET,
          showing: ["track"],
          title: "Внесение транзитных трек-номеров",
          confirm_btn: "Присвоить",
        })
        .onOk(async ({ track, checked }) => {
          if (!track || !track.length) {
            this.$message({
              level: "warning",
              title: "Введите трек-номмер",
            });
            return;
          }

          let c = await this.$confirm({
            title: "Присвоить введённый трек-номер к выбранным посылкам ?",
          });

          if (!c) return;

          addTrack.hide();

          this.loading.modal = true;

          try {
            await this.$api.post(`/v2/shipping/shipments/add-track`, {
              shipment_ids: [...checked],
              track_number: track,
            });

            this.$message({
              level: "success",
              title: `Трек номер внесён для выбранных (${checked.length}) отправок`,
            });

            this.$modal.hide("add-track");

            this.$store.commit("Shipments/CLEAR_CHECKED");
          } catch (e) {
            console.log("e:", e);

            const { message: title = "Не удалось завершить запрос", errors } = this.$parseApiError(
              e
            );

            this.$alert({
              level: "danger",
              title,
              errors,
            });
          } finally {
            this.loading.modal = false;
          }
        });
    },
    setItemLoading(shipment_id, loading_state) {
      this.$set(this.loading, shipment_id, loading_state);
    },
    async getShipmentDoc(itemId, sticker = false) {
      this.setItemLoading(itemId, true);

      try {
        let { data: file } = await this.$api.get(
          `/v2/shipping/shipments/${itemId}/get-${sticker ? "sticker" : "label"}`,
          {
            responseType: "arraybuffer",
          }
        );

        const blob = new Blob([file]),
          _FILENAME = `shipping-${sticker ? "sticker" : "label"}-${itemId}.pdf`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, _FILENAME);
        } else {
          const link = document.createElement("a");

          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", _FILENAME);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log("e:", e);

        const { message = "Не удалось получить документы", errors } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title: message,
          errors,
        });
      } finally {
        this.setItemLoading(itemId, false);
      }
    },
    async stickersBulkPrint() {
      try {
        // this.loading.modal = true;
        let target;

        if (this.checked && this.checked.length) {
          target = this.checked;
        } else {
          const {
            data: { shipments },
          } = await this.$api.get(`/shipping/shipment?action=download_label`);

          target = shipments;
        }

        let checkDialog = this.$q
          .dialog({
            parent: this,
            parent: this,
            component: () => import("@/components/Shipments/AddTrack/dialog.vue"),
            shipments: target,
            heading: "Печать стикеров",
            confirm_btn: "Получить стикеры",
            showing: ["format"],
            loading: this.loading.modal,
          })
          .onOk(async ({ checked, format = null }) => {
            checkDialog.hide();

            try {
              this.loading.modal = true;

              const document = await this.getTargetStickers({
                checked,
                format: (format && format.value) || null,
              });

              this.$q.dialog({
                parent: this,
                component: () => import("@/components/_ui/DocumentViewer"),
                document,
                name: "cdek-document",
              });
            } catch (e) {
              console.log("e:", e);

              this.$showApiError(e, {
                fallbackMessage: "Не удалось получить стикеры",
              });
            } finally {
              this.loading.modal = false;
            }
          })
          .onDismiss(() => {
            this.getShipments();
          });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить целевые отправки",
        });
      } finally {
        this.loading.shipments = false;
        this.loading.modal = false;
      }
    },
    async getTargetStickers({ checked: shipment_ids, format: print_format = null }) {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api({
            method: "POST",
            url: `/v2/shipping/shipments/get-stickers`,
            data: { shipment_ids, print_format },
            responseType: "arraybuffer",
          });

          done(data);
        } catch (e) {
          fail(e);
        }
      });
    },
    // * WORK WITH LABELS:
    async createLabels() {
      let t;

      // this.loading.shipments = true;

      if (this.checked && this.checked.length) {
        t = this.checked;
      } else {
        try {
          this.loading.shipments = true;
          let {
            data: { shipments },
          } = await this.$api.get(`/shipping/shipment?action=create_label`);

          t = shipments;
        } catch (e) {
          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить информацию об отправках",
          });
        } finally {
          this.loading.shipments = true;
        }
      }

      if (t && t.length) {
        this.routerPush({
          name: "PROCESS_SHIPMENTS",
          params: { shipments: t },
          query: { action: "create_labels" },
        });
      } else {
        this.$message({ level: "warning", title: "Не удалось найти целевые отправки" });
      }
    },
    // * WORK WITH LABELS END:
    getDhlAvailable() {
      return new Promise(async (done, fail) => {
        try {
          let {
            data: { shipments },
          } = await this.$api(`/shipping/shipment?action=create_label_consolidation`);

          done(shipments);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить информацию о целевых отправках",
          });
          fail(e);
        }
      });
    },
    async bulkCreateDHL(shipments = this.checked) {
      if (!shipments || !shipments.length) {
        this.loading.shipments = true;
        shipments = await this.getDhlAvailable();
        this.loading.shipments = false;
      }

      this.routerPush({
        name: "PROCESS_SHIPMENTS",
        params: { shipments },
        query: { action: "create_dhl" },
      });
    },
  },
  validations() {
    return {
      prepare_ship: {
        products: {
          $each: {
            title_customs_eng: {
              required,
              ALPHA_PLUS,
            },
            title_customs_ua: {
              required: requiredIf(function() {
                return this.prepare_ship.type_code !== "agent_shipping";
              }),
            },
          },
        },
      },
      dimensions: {
        length: {
          required,
        },
        width: {
          required,
        },
        height: {
          required,
        },
        weight: {
          required,
        },
      },
      new_shipper: {
        shipper_name_ua: {
          required,
        },
        shipper_name_en: {
          required,
          ALPHA_PLUS,
        },
        shipper_street_ua: {
          required,
        },
        shipper_street_en: {
          required,
          ALPHA_PLUS,
        },
        shipper_email: {
          required,
        },
        shipper_city_ua: {
          required,
        },
        shipper_city_en: {
          required,
          ALPHA_PLUS,
        },
        shipper_phone: {
          required,
        },
        shipper_postal_code: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss">
.shipments {
  &__item {
    margin-bottom: 21px;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.28), 0 28px 35px -16px rgba(9, 9, 16, 0.07);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
