<template>
  <q-dialog persistent position="top" ref="confirm-auth">
    <!-- <form @submit.prevent="confrim"> -->
    <q-card class="z-max" style="max-width:420px">
      <q-card-section>
        <h5 class="q-ma-none">{{ method }}: {{ message }}</h5>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <app-input
          ref="code-input"
          :error="$v.code.$anyError"
          label="Введите код"
          v-model="code"
        ></app-input>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="hide" flat>{{ $tt("common.cancel") }}</app-btn>
          <app-btn
            type="submit"
            :disable="$v.code.$anyError"
            color="positive"
            unelevated
            @click="confrim"
          >
            <q-icon size="18px" name="lock_open"></q-icon>
            &nbsp;&nbsp;{{ $tt("common.accept", 1) }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
    <!-- </form> -->
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  name: "ConfirmAuthDialog",
  props: {
    message: String,
    method: String,
    retry: Boolean,
    signature: String,
  },
  data() {
    return {
      code: null,
    };
  },
  mounted() {
    setTimeout(() => {
      this.$refs["code-input"].focus();
    }, 0);
  },
  methods: {
    show() {
      this.$refs["confirm-auth"].show();
    },
    hide() {
      this.$refs["confirm-auth"].hide();
    },
    confrim() {
      this.$v.$touch();

      if (this.$v.$anyError) return;

      this.$emit("ok", { code: this.code });
      this.hide();
    },
  },
  validations() {
    return {
      code: {
        required,
      },
    };
  },
};
</script>
