<template>
  <!-- <q-dialog transition-show="jump-up" transition-hide="jump-down" ref="edit-account"> -->
  <DialogWrapper
    :title="$tt('common.edit', 1) + ' ' + $tt('pages.get_money.requisites')"
    caption="на подключение магазина"
    name="edit-account"
    ref="edit-account"
  >
    <q-separator></q-separator>
    <q-item clickable class="q-py-md">
      <q-item-section>
        <div class="row q-col-gutter-md">
          <div
            :class="[field.type === 'textarea' ? 'col-12' : 'col-6']"
            v-for="(field, idx) in fields"
            :key="idx"
          >
            <app-input
              :type="field.type === 'string' ? 'text' : field.type"
              v-model="current_account[field.field]"
              :label="field.title"
              :rows="field.type === 'textarea' && 4"
            />
          </div>
        </div>
      </q-item-section>
    </q-item>
    <q-separator></q-separator>
    <q-item class="q-py-md">
      <q-item-section>
        <div class="flex-center-between">
          <app-btn size="12px" padding="11px" @click="hide" flat>{{
            $tt("common.cancel")
          }}</app-btn>
          <app-btn size="12px" padding="11px" @click="saveAccount" color="positive">
            {{ $tt("common.save", 1) }}
          </app-btn>
        </div>
      </q-item-section>
    </q-item>
    <!-- </q-card> -->
  </DialogWrapper>
  <!-- </q-dialog> -->
</template>
<script>
export default {
  props: {
    title: String,
    description: String,
    fields: Array,
    account: [Object, null],
  },
  created() {
    if (this.account) {
      this.current_account = { ...this.account };
    } else {
      this.current_account = {};

      let fields = this.fields.map(({ field }) => field);

      fields.forEach((f) => {
        // this.current_account[f] = null;
        this.$set(this.current_account, f, null);
      });
    }
  },
  data() {
    return {
      current_account: null,
    };
  },
  methods: {
    show() {
      this.$refs["edit-account"].show();
    },
    hide() {
      this.$refs["edit-account"].hide();
    },
    saveAccount() {
      this.$emit("ok", this.current_account);
    },
  },
};
</script>
<style lang="scss"></style>
