<template>
  <PageContainer with-back="/get-money" :title="title || ' '" :caption="description">
    <template #actions>
      <app-btn
        padding="11px"
        size="12px"
        @click="manageRecord(null, null)"
        color="positive"
        icon="add"
      >
        &nbsp;{{ $tt("common.add_requisistes") }}
      </app-btn>
    </template>

    <with-loading :state="loading.page" />

    <div class="container" :class="($q.screen.xs || $q.screen.sm) && 'q-mb-lg'">
      <app-list
        v-if="fields"
        :min-with="(Object.keys(fields) && Object.keys(fields).length * 210) || 420"
        :empty="(!customer_data || !customer_data.length) && $tt('errors.no_data', 1)"
        header="Сохранённые реквизиты"
        caption="для данного метода"
      >
        <q-item v-for="(account, idx) in customer_data" :key="idx">
          <q-item-section v-for="(f, _idx) in fields" :key="_idx">
            <q-item-label caption>
              {{ f.title }}
            </q-item-label>
            <q-item-label>
              <div style="word-break: break-word" v-if="getField(idx)[f.field]">
                {{ getField(idx)[f.field] }}
              </div>
              <small class="text-muted" v-else>{{ $tt("errors.not_specified") }}</small>
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn round flat icon="more_vert" size="11px">
              <q-menu>
                <q-list>
                  <q-item v-close-popup @click="manageRecord(account, idx)" clickable>
                    <q-item-section>
                      {{ $tt("common.edit", 1) }}
                    </q-item-section>
                  </q-item>
                  <q-item @click="removeRecord(idx)" clickable class="text-negative">
                    <q-item-section>{{ $tt("common.delete", 1) }}</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      title: null,
      description: null,
      customer_data: null,
      fields: null,
      loading: {
        page: false,
      },
    };
  },
  created() {
    this.getMethod();
  },
  computed: {
    method_slug() {
      return this.$route.params.method;
    },
  },
  methods: {
    getMethod(slug = this.method_slug) {
      return new Promise(async (done, fail) => {
        this.loading.page = true;
        try {
          const {
            data,
            data: { title, customer_data, fields, description },
          } = await this.$api.get(`user/payment_accounts/${slug}`);

          this.title = title;
          this.description = description;
          this.customer_data = customer_data;
          this.fields = fields;

          done(data);
        } catch (e) {
          console.log(e);
        } finally {
          this.loading.page = false;
        }
      });
    },
    getField(account) {
      return this.customer_data[account];
    },
    saveRecord(update, idx = null, auth = null) {
      this.loading.page = true;

      return new Promise(async (done, fail) => {
        let route = `/user/payment_accounts/${this.method_slug}/`;

        let is_edit = idx !== null && idx !== undefined;

        if (is_edit) route += `${idx}`;

        try {
          await this.$api[is_edit ? "put" : "post"](route, {
            ...update,
            ...(auth && { ...auth }),
          });

          this.$alert({ level: "success", title: this.$tt("messages.changes_saved", 1) });

          this.getMethod();

          done(true);
        } catch (e) {
          if (!e || !e.response) {
            this.$alert({
              title: this.$tt("errors.save_data", 1),
              level: "danger",
            });
          }

          if (e.response.status === 403) {
            let { message, method, retry, signature = null } = e.response.data;

            // PREFORM 2FA AUTH:
            this.$q
              .dialog({
                parent: this,
                component: () => import("./ConfirmAuth.vue"),
                message,
                method,
                retry,
                signature,
                parent: this,
              })
              .onOk(async ({ code }) => {
                let auth = {
                  "2fa_key": code,
                  ...(signature && { "2fa_sign": signature }),
                };
                this.saveRecord(update, idx, auth);
              });
            // TODO: HANDLE 'CANCEL' (HIDE WITHOUT CODE) ACTION
          } else {
            this.$showApiError(e, {
              extended: true,
              fallbackMessage: this.$tt("errors.save_data"),
            });

            fail(false);
          }
        } finally {
          this.loading.page = false;
        }
      });
    },
    async removeRecord(idx, auth = {}) {
      let c = await this.$confirm({
        // title: "Вы уверены, что хотите удалить данную запись из реквизитов ?",
        title: this.$t("confrim_action", { action: "удалить данную запись из реквизитов" }),
      });

      if (!c) return;

      try {
        await this.$api.delete(`/user/payment_accounts/${this.method_slug}/${idx}`, {
          data: { ...auth },
        });

        this.$message({
          title: this.$tt("messages.changes_saved"),
          level: "success",
        });

        this.getMethod();
      } catch (e) {
        console.log(e);

        if (!e || !e.response) {
          this.$alert({
            title: this.$tt("errors.save_data", 1),
            level: "danger",
          });
        }

        if (e.response.status === 403) {
          let { message, method, retry, signature = null } = e.response.data;

          // PREFORM 2FA AUTH:
          this.$q
            .dialog({
              parent: this,
              component: () => import("./ConfirmAuth.vue"),
              message,
              method,
              retry,
              signature,
              parent: this,
            })
            .onOk(async ({ code }) => {
              let auth = {
                "2fa_key": code,
                ...(signature && { "2fa_sign": signature }),
                // retry,
              };

              await this.removeRecord(idx, auth);
            });

          return;
        } else {
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
        }
      }
      // finally {
      // }
    },
    manageRecord(account = null, idx = null) {
      let { fields, title, description } = this;

      console.log("fields:", fields);

      let manageDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./EditAccount.vue"),
          parent: this,
          title,
          description,
          fields,
          ...(account && { account }),
        })
        .onOk(async (update) => {
          manageDialog.hide();
          await this.saveRecord(update, idx);
        });
    },
  },
};
</script>
