<template>
  <q-dialog ref="add-card" position="top">
    <q-card>
      <with-loading :state="loading" />

      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">
            {{
              readonly
                ? `${$capitalize($t("common.info"))} о карте №${feecard_id}`
                : `${$capitalize($t("common.add"))} карту`
            }}
          </h5>

          <q-btn dense round color="negative" flat icon="close" @click="hide"></q-btn>
        </div>
      </q-card-section>
      <app-banner level="info" icon="info" :gradient="!readonly" :rounded="false">
        <!-- <div class="font-500">Внимание!</div> -->
        {{ $t("pages.fee_cards.modal.info") }}
      </app-banner>
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <app-input
              v-model="request.name"
              :error="$v.request.name.$anyError"
              :label="$tt('common.fio', 1)"
              :readonly="readonly"
            ></app-input>
          </div>
          <div class="col-6">
            <app-input
              v-model="request.passport"
              :error="$v.request.passport.$anyError"
              :label="$t('common.passport_number')"
              :readonly="readonly"
            ></app-input>
          </div>
          <div class="col-6">
            <app-input
              v-model="request.inn"
              :error="$v.request.inn.$anyError"
              :label="$t('common.tax_number_inn')"
              :readonly="readonly"
            ></app-input>
          </div>

          <div class="col-6">
            <app-input
              v-model="request.email"
              :error="$v.request.email.$anyError"
              label="Email"
              :readonly="readonly"
            ></app-input>
          </div>

          <div class="col-6">
            <app-input
              readonly
              :value="request.birth_date"
              :error="$v.request.birth_date.$anyError"
              :label="$t('common.birth_date')"
              class="readonly-default"
            >
              <template #append>
                <q-btn
                  @click.stop="request.birth_date = null"
                  size="13px"
                  padding="xs"
                  flat
                  icon="close"
                  color="negative"
                  :disable="readonly"
                ></q-btn>
              </template>
              <q-menu>
                <LocalDatePicker
                  mask="YYYY-MM-DD"
                  emit-immediately
                  v-model="request.birth_date"
                  :readonly="readonly"
                >
                  <div class="flex-center-between">
                    <app-btn
                      @click="
                        () => {
                          request.birth_date = null;
                        }
                      "
                      v-close-popup
                      flat
                      color="negative"
                    >
                      {{ $tt("common.cancel", 1) }}
                    </app-btn>
                    <app-btn v-close-popup color="primary">
                      {{ $tt("common.pick") }}
                    </app-btn>
                  </div>
                </LocalDatePicker>
              </q-menu>
            </app-input>
          </div>
          <div class="col-6">
            <app-input :readonly="readonly" v-model="request.anydesk" label="AnyDesk ID">
              <template #append>
                <q-icon name="help_outline" size="20px" color="grey">
                  <q-tooltip>
                    Это программа удаленного доступа. Установите ее на ваш компьютер и впишите
                    номер в форму. С помощью этой программы мы внесем созданную карту Вам на Etsy
                    для оплат.
                  </q-tooltip>
                </q-icon>
              </template>
            </app-input>
          </div>
          <div class="col-6">
            <app-input
              v-model="request.viber"
              :error="$v.request.viber.$anyError"
              :label="`Viber ${$tt('common.phone')}`"
              :readonly="readonly"
            ></app-input>
          </div>
          <div class="col-12">
            <app-input
              v-model="request.billing_address"
              :error="$v.request.billing_address.$anyError"
              :label="`${$tt('common.billing', 1)} ${$tt('common.address')}`"
              :readonly="readonly"
            >
              <template #append>
                <q-icon name="help_outline" size="20px" color="grey">
                  <q-tooltip>
                    {{ $t("pages.fee_cards.modal.your_urk_address", 1) }}
                  </q-tooltip>
                </q-icon>
              </template>
            </app-input>
          </div>

          <div class="col-12">
            <app-select
              :error="$v.request.shop_id.$anyError"
              :option-label="(o) => o && o.shop_name"
              :option-value="(o) => o && o.shop_id"
              map-options
              emit-value
              :loading="shops_loading"
              :options="shop_credentials"
              v-model="request.shop_id"
              :label="$tt('common.shop', 1)"
              v-if="!feecard_id"
            >
            </app-select>
          </div>

          <div class="col-12 q-mt-md" v-if="!readonly">
            <h6 class="q-ma-none">
              {{ $tt("common.passport_scan", 1) }}
            </h6>
            <div class="flex-center-between q-mt-md">
              <div v-if="!scan_image">
                <q-icon v-show="$v.scan_image.$anyError" name="error" color="negative"></q-icon>
                <small :class="$v.scan_image.$anyError ? 'text-negative font-500' : 'text-muted'">
                  {{ $tt("errors.not_selected") }}
                </small>
              </div>
              <div v-else>
                <q-img height="100px" width="280px" class="rounded-borders" cover :src="preview">
                  <q-btn
                    size="9px"
                    class="q-mt-sm q-ml-sm bg-white text-negative"
                    round
                    icon="close"
                    @click="clearScan"
                  ></q-btn>
                </q-img>
              </div>
              <!-- <label @click.stop class="flex" for="pass-scan-picker"> -->
              <app-btn
                @click="
                  () => {
                    $refs['pass-scan-picker'] && $refs['pass-scan-picker'].click();
                  }
                "
                size="11px"
                color="accent"
                icon="attachment"
              >
                <!-- Выбрать {{ scan_image && "другой" }} файл -->
                &nbsp;&nbsp;{{ $tt("common.pick", 0, 1) }} {{ $tt("common.file") }}
              </app-btn>
              <!-- </label> -->
              <input
                accept="image/*"
                @change="handleScan"
                hidden
                type="file"
                ref="pass-scan-picker"
              />
            </div>
          </div>
        </div>
      </q-card-section>
      <q-card-section v-show="!readonly">
        <div class="flex-center-between">
          <app-btn @click="hide" color="negative" flat padding="12px">
            {{ $tt("common.cancel") }}
          </app-btn>
          <app-btn @click="createRequest" color="positive" padding="12px">
            {{ $tt("common.create") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required, minLength, maxLength, email } from "vuelidate/lib/validators";

export default {
  props: {
    feecard_id: Number,
  },
  async created() {
    this.getShops();

    if (this.feecard_id) {
      this.loading = true;

      try {
        let {
          data: {
            request: {
              connect_anydesk = null,
              connect_viber = null,
              feecard_bdate = null,
              feecard_billing_address = null,
              feecard_email = null,
              feecard_inn = null,
              feecard_name = null,
              feecard_passport = null,
              credential_shop_id = null,
            },
          },
        } = await this.getRequest();

        let { request } = this;

        request.name = feecard_name;
        request.passport = feecard_passport;
        request.inn = feecard_inn;
        request.email = feecard_email;
        request.billing_address = feecard_billing_address;
        request.birth_date = feecard_bdate;
        request.viber = connect_viber;
        request.anydesk = connect_anydesk;
        credential_shop_id && (request.shop_id = shop_id);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить информацию о заявке" });
        this.hide();
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      request: {
        name: null,
        passport: null,
        image: null,
        inn: null,
        email: null,
        birth_date: null,
        anydesk: null,
        viber: null,
        billing_address: null,
        shop_id: null,
        // name: "Firstname Middlename Lastname",
        // passport: "EE000777",
        // image: null,
        // inn: "0000000000",
        // email: "test@mail.com",
        // birth_date: null,
        // anydesk: null,
        // viber: "+380661234567",
        // billing_address: "Ukraine, m. Kiyv, Lenina 1a",
        // shop_id: null,
      },
      scan_image: null,
      preview: null,
      loading: null,
      shop_credentials: [],
    };
  },
  computed: {
    readonly() {
      return !!this.feecard_id;
    },
  },
  methods: {
    show() {
      this.$refs["add-card"].show();
    },
    hide() {
      this.$refs["add-card"].hide();
    },
    getRequest(id = this.feecard_id) {
      return this.$api.get(`/finance/fee_card/${id}`);
    },
    handleScan({
      target: {
        files: [file = null],
      },
    }) {
      try {
        this.scan_image = file;
        this.preview = URL.createObjectURL(file);
      } catch (e) {
        console.log(e);
        this.$message({ title: "Не удалось выбрать данный файл к загрузке", level: "warning" });
      }
    },
    clearScan() {
      this.scan_image = null;
      this.preview = null;
      this.$refs["pass-scan-picker"].value = null;
    },
    toBase64(file) {
      return new Promise((ok, fail) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => ok(reader.result);
        reader.onerror = (error) => fail(error);
      });
    },
    async createRequest() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      // load image first
      this.request.image = await this.toBase64(this.scan_image);

      try {
        this.loading = true;

        await this.$api.post(`/finance/fee_card/`, { ...this.request });

        this.$alert({
          title: "Заявка успешно создана",
          level: "success",
        });

        this.$emit("ok");
        this.hide();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось создать заявку" });
      } finally {
        this.loading = false;
      }
    },
    async getShops() {
      try {
        this.shops_loading = true;
        let {
          data: { avail: shops },
        } = await this.$api.get(`/finance/fee_card/avail_shops`);

        this.shop_credentials = shops;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.shops_loading = false;
      }
    },
  },
  validations() {
    return {
      scan_image: {
        required,
      },
      request: {
        name: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(100),
        },
        passport: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(30),
        },
        // image: {
        //   required,
        // },
        inn: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(20),
        },
        email: {
          required,
          email,
        },
        viber: {
          required,
        },
        billing_address: {
          required,
        },
        birth_date: {
          required,
        },
        shop_id: {
          required,
        },
      },
    };
  },
};
</script>
<style lang="scss">
.scan-input {
  input[type="file"] {
    display: none;
  }
}
</style>
