<template>
  <PageContainer
    :title="$t('pages.fee_cards.messages.fee_cards_desc')"
    :caption="$t('pages.fee_cards.messages.fee_cards_caption')"
  >
    <template #actions>
      <app-btn
        @click="addCard"
        icon="new_releases"
        padding="11px"
        size="12px"
        color="primary"
      >
        &nbsp;&nbsp;&nbsp;{{ $capitalize($t("common.add")) }}
      </app-btn>
    </template>

    <div class="container">
      <q-expansion-item
        icon="help_outline"
        :label="$t('pages.fee_cards.messages.help_message')"
        class="q-mb-xl bg-blue-1 text-blue-9 rounded-borders"
      >
        <div class="q-pt-lg q-pa-md bg-grey-1">
          <div>
            <q-timeline color="accent">
              <q-timeline-entry :key="idx" v-for="(t, idx) in 3">
                <div
                  v-html="$t(`pages.fee_cards.help[${idx}]`)"
                  style="min-height:42px;padding-top:2px"
                  class="text-subtitle2 text-grey-7"
                ></div>
              </q-timeline-entry>
            </q-timeline>
          </div>

          <div class="q-mb-lg">
            <h6 class=" text-black q-mb-md">
              {{ $t("pages.fee_cards.faq.title") }}
            </h6>
            <q-list class="rounded-borders text-black" separator bordered>
              <q-expansion-item
                group="faq"
                icon="help_outline"
                :label="$t('pages.fee_cards.faq.what_is_anydesk')"
              >
                <!-- caption="5 unread emails" -->
                <q-separator />
                <q-card>
                  <q-card-section>
                    {{ $t("pages.fee_cards.faq.anydesk_is") }}
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-expansion-item
                group="faq"
                icon="maps_home_work"
                :label="$t('pages.fee_cards.faq.what_is_billing_address')"
              >
                <q-separator />
                <q-card>
                  <q-card-section>
                    {{ $t("pages.fee_cards.faq.billing_address_is") }}
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
        </div>
      </q-expansion-item>
      <div class="q-mb-xl">
        <app-table-list
          :empty="(!requests || !requests.length) && 'Не создано ни одной заявки'"
          :header="$t('pages.fee_cards.list_title')"
          :colspan="6"
          :loading="loading"
        >
          <template #thead>
            <tr class="text-left">
              <th>
                {{ $tt("common.fio", 1) }}
              </th>
              <th>
                {{ $tt("common.number", 1) }}
              </th>
              <th class="text-right">
                {{ $tt("common.balance", 1) }}
              </th>
              <th v-if="false">
                {{ $tt("common.limit", 1) }}
              </th>
              <th side>
                {{ $tt("common.status", 1) }}
              </th>
              <th side v-if="false">
                {{ $tt("common.shop", 1) }}
              </th>
            </tr>
          </template>

          <tr
            class="cursor-pointer"
            @click="showRequest(r.feecard_id)"
            :key="r.feecard_id"
            v-for="r in requests"
          >
            <td>
              {{ r.feecard_name }}
            </td>
            <td>
              <div v-if="r.feecard_cc_num">
                {{ r.feecard_cc_num }}
              </div>
              <small v-else class="text-muted">
                {{ $tt("errors.not_specified") }}
              </small>
            </td>
            <td align="right">
              <div v-if="r.feecard_balance">
                {{ $toUSD(r.feecard_balance) }}
              </div>
              <small v-else class="text-muted">
                {{ $tt("common.not_available") }}
              </small>
            </td>
            <td v-if="false">
              {{ $toUSD(r.used_limit) }} /
              {{ $toUSD(r.limit) }}
            </td>
            <td side>
              <div class="flex q-gutter-sm">
                <q-chip
                  size="11px"
                  class="font-500"
                  :icon="r.feecard_status_name === 'Готово' ? 'check' : 'hourglass_top'"
                  :text-color="
                    r.feecard_status_name === 'Готово' ? 'positive' : 'brown-6'
                  "
                  :color="r.feecard_status_name === 'Готово' ? 'green-1' : 'orange-1'"
                  square
                  v-if="r.feecard_scan_present"
                >
                  {{ r.feecard_status_name }}
                </q-chip>

                <q-chip
                  size="11px"
                  class="font-500"
                  icon="task"
                  color="green-1"
                  text-color="positive"
                  square
                  v-if="r.feecard_scan_present"
                >
                  {{ $tt("common.document", 1, 1) }}
                  {{ $tt("common.attached", 0, 2) }}
                </q-chip>
                <q-chip
                  size="11px"
                  class="font-500"
                  icon="report_problem"
                  color="red-1"
                  text-color="negative"
                  square
                  v-if="false && !r.credentials_shop_id"
                >
                  {{ $tt("pages.fee_cards.need_to_link_shop") }}
                </q-chip>
              </div>
            </td>
            <td side v-if="false">
              <div v-if="!r.credentials_shop_id">
                <app-btn @click.stop="linkShop(r)" color="accent" size="sm">
                  {{ $tt("common.bind") }}
                  {{ $tt("common.shop") }}
                </app-btn>
              </div>

              <div v-else>
                {{ r.shop_name }}
                <div
                  v-if="
                    r.credentials_shop_id &&
                      $store.getters['auth/customer_vars'].MULTIPLE_SHOPS_FOR_FEE_CARDS
                  "
                >
                  <app-btn @click.stop="linkShop(r)" color="accent" size="sm">
                    {{ $tt("common.add") }}
                    {{ $tt("common.shop") }}
                  </app-btn>
                </div>
              </div>
            </td>
          </tr>
        </app-table-list>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  created() {
    this.getRequests();
  },
  data() {
    return {
      loading: false,
      requests: null,
    };
  },
  methods: {
    addCard() {
      this.$q
        .dialog({
          parent: this,
          component: () => import("./AddCard.vue"),
          parent: this,
        })
        .onOk(() => {
          this.getRequests();
        });
    },
    async getRequests() {
      try {
        this.loading = true;
        const {
          data: { requests },
        } = await this.$api.get(`/finance/fee_card`);

        this.requests = requests;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },

    showRequest(feecard_id) {
      this.$q.dialog({
        parent: this,
        component: () => import("./AddCard.vue"),
        feecard_id,
      });
    },
    linkShop(card) {
      let LinkShop = this.$q
        .dialog({
          parent: this,
          component: () => import("./LinkShop.vue"),
        })
        .onOk(async (shop_id) => {
          try {
            this.loading = true;

            await this.$api.put(`/finance/fee_card/link_shop`, {
              shop_id,
              feecard_id: card.feecard_id,
            });

            this.$alert({
              level: "success",
              title: this.$tt("messages.changes_saved"),
            });

            this.getRequests();
          } catch (e) {
            console.log(e);
            this.$showApiError(e, {
              fallbackMessage: this.$tt("errors.save_data"),
            });
          } finally {
            this.loading = false;
          }
        });
    },
  },
};
</script>
