<template>
  <q-dialog ref="link-card-shop">
    <q-card>
      <q-card-section>
        <h5 class="q-ma-none">
          Карта для оплаты Fee: привязать магазин
        </h5>
      </q-card-section>
      <q-card-section>
        <app-select
          :option-label="(o) => o && o.shop_name"
          :option-value="(o) => o && o.shop_id"
          map-options
          :loading="shops_loading"
          :options="shop_credentials"
          v-model="shop"
          label="Магазин"
          :error="$v.shop.$anyError"
        >
        </app-select>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn flat color="negative" @click="hide">
            {{ $tt("common.cancel", 1) }}
          </app-btn>
          <app-btn @click="submit" color="positive">
            {{ $tt("common.pick", 1) }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  created() {
    this.getShops();
  },
  data() {
    return {
      shop_credentials: null,
      shop: null,
    };
  },
  methods: {
    show() {
      this.$refs["link-card-shop"].show();
    },
    hide() {
      this.$refs["link-card-shop"].hide();
    },
    async getShops() {
      try {
        this.shops_loading = true;
        let {
          data: { avail: shops },
        } = await this.$api.get(`/finance/fee_card/avail_shops`);

        this.shop_credentials = shops;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.shops_loading = false;
      }
    },
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        return;
      }

      let c = await this.$confirm({
        title: `Действительно хотите выбрать выбрать магазин ${this.shop.shop_name}`,
        level: "info",
      });

      if (!c) return;

      this.$emit("ok", this.shop.shop_id);
      this.hide();
    },
  },
  validations() {
    return {
      shop: {
        required,
      },
    };
  },
};
</script>
