<template>
  <div
    :style="!autoWidth ? `width:${width}px` : 'width:auto'"
    class="flex inline column relative-position"
    @click.stop.prevent
    style="transition: max-width ease .14s"
  >
    <q-card
      :style="`min-width:${minWidth}px`"
      flat
      bordered
      v-ripple
      class="cursor-pointer font-500 relative-position"
      style="
        transition: color ease .21s, background ease .21s;
        overflow: hidden;
      "
      :class="[
        loading && 'light-dimmed no-pointer-events cursor-default',
        `text-${textColor || 'grey-7'}`,
        `bg-${bgColor || 'white'}`,
      ]"
      :ref="reference_name"
    >
      <!-- , min-width ease .21s -->
      <q-card-section
        :style="rounded ? 'padding:5px 9px' : 'padding:6px 10px'"
        style="overflow: hidden;"
      >
        <div class="flex-center-between">
          <!-- appear -->
          <transition
            enter-active-class="animated rotateInDownLeft absolute"
            leave-active-class="animated rotateOutDownLeft absolute"
          >
            <!-- leave-to-class="animated fadeOut absolute"
              enter-to-class="animated fadeIn absolute" -->
            <div :key="`badge-container-${value && value.id}`" class="flex items-center no-wrap">
              <q-icon
                class="q-mr-sm"
                :name="icon || (value && value.icon) || 'more_horiz'"
                size="16px"
              ></q-icon>
              <div class="ellipsis">
                {{ (value && value.name) || $tt("Не визначений", 1) }}
              </div>
            </div>
          </transition>
          <div class="" style="width:16px"></div>

          <q-spinner-ios
            size="16px"
            color="black z-top"
            class="opacity-50"
            v-if="loading"
          ></q-spinner-ios>

          <q-icon class="q-ml-md" v-else-if="canChange" size="16px" name="expand_more"></q-icon>
        </div>
      </q-card-section>

      <q-menu :cover="rounded" no-focus no-refocus v-if="canChange" @before-show="beforeShow">
        <q-list v-if="options && options.length">
          <!-- dense -->
          <div v-for="opt in options" :key="opt.code">
            <q-separator v-if="opt.divider"></q-separator>

            <q-item
              v-else
              :disable="opt.disabled"
              @click="pickOption(opt)"
              clickable
              v-close-popup
              :dense="dense"
              :class="[
                opt.bgColor && `bg-${opt.bgColor}`,
                opt.textColor && `text-${opt.textColor}`,
              ]"
            >
              <q-item-section>
                <q-item-label style="font-size:13px">
                  <div class="flex items-center no-wrap">
                    <q-icon class="q-mr-sm" size="15px" :name="opt.icon || 'more_horiz'"></q-icon>

                    <div class="line-height1" style="white-space:nowrap">
                      {{ opt.name }}
                    </div>
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </q-list>
        <q-list v-else>
          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>
                <small class="text-muted">
                  {{ $tt("errors.no_data", 1) }}
                </small>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-card>
    <small class="block q-mt-xs text-right text-grey" v-if="hint && hint.length">{{ hint }}</small>
  </div>
</template>

<script>
export default {
  props: {
    hint: String,
    rounded: Boolean,
    noOptions: [String, Boolean],
    value: undefined,
    canChange: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
    },
    options: Array,
    // TODO: IMPLEMENT THIS PROP
    autoWidth: {
      type: Boolean,
      default: false,
    },
    dense: {
      type: Boolean,
      default: false,
    },
    width: {
      type: Number,
      default: 177,
    },
    icon: String,
    textColor: {
      type: String,
      default: () => "grey-8",
    },
    bgColor: {
      type: String,
      default: () => "grey-2",
    },
  },
  data() {
    return {
      minWidth: null,
    };
  },
  computed: {
    reference_name() {
      return `badge-${this._uid}`;
    },
    reference() {
      return this.$refs[this.reference_name];
    },
  },
  methods: {
    setMinWidth() {
      let {
        $el: { offsetWidth: elementWidth },
      } = this.reference;

      this.minWidth = elementWidth;

      console.log("this.minWidth:", this.minWidth);
    },
    beforeShow(event) {
      this.$emit("before-show", event);
    },
    pickOption(option) {
      this.setMinWidth();

      this.$emit("change", option);
    },
  },
};
</script>
