<template>
  <PageContainer title="Продажи через посредника: платежи">
    <div class="container">
      <!-- :loading="true" -->
      <form @submit.prevent="$router.push({ query: { ...normalizeQuery(), page: 0 } })">
        <div class="q-mb-xl">
          <div class="row q-col-gutter-md">
            <div class="col-2">
              <app-input
                v-model="filter.request_id"
                :label="$tt('common.request_id', 1)"
              ></app-input>
            </div>
            <div class="col-2">
              <app-input
                readonly
                class="readonly-default cursor-pointer"
                :value="(filter.date_from && $date(filter.date_from)) || null"
                :label="$tt('common.date_from', 1)"
              >
                <q-menu>
                  <LocalDatePicker mask="YYYY-MM-DD" v-model="filter.date_from" minimal />
                </q-menu>
              </app-input>
            </div>
            <div class="col-2">
              <app-input
                readonly
                class="readonly-default cursor-pointer"
                :value="filter.date_to && $date(filter.date_to)"
                :label="$tt('common.date_to', 1)"
              >
                <q-menu>
                  <LocalDatePicker mask="YYYY-MM-DD" v-model="filter.date_to" minimal />
                </q-menu>
              </app-input>
            </div>
            <div class="col text-right">
              <div class="q-gutter-x-md full-height">
                <app-btn
                  @click="clearFilter"
                  type="button"
                  class="full-height"
                  text-color="negative"
                >
                  {{ $tt("common.clear") }}
                </app-btn>
                <app-btn type="submit" class="full-height" color="primary">
                  {{ $tt("common.apply") }}
                </app-btn>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-table-list
        :colspan="4"
        :loading="loading"
        :empty="!payments?.length && $tt('errors.no_data', 1)"
      >
        <template #pagination>
          <q-item class="q-py-md">
            <q-item-section>
              <div class="flex-center-between">
                <div>
                  <!-- <q-pagination
                    size="12px"
                    :value="(($route.query && $route.query.page && +$route.query.page) || 0) + 1"
                    :to-fn="getPageRoute"
                    :max="total_pages"
                    :disable="loading"
                  >
                  </q-pagination> -->

                  <app-pagination
                    size="12px"
                    :value="(($route.query && $route.query.page && +$route.query.page) || 0) + 1"
                    :to-fn="getPageRoute"
                    :max="total_pages"
                    :disable="loading"
                  ></app-pagination>
                </div>

                <div class="flex items-center">
                  <small class="text-muted q-mr-sm"> {{ $tt("common.on_page") }}: </small>
                  <app-select
                    :value="filter.on_page"
                    :options="[10, 20, 35, 50, 75, 100]"
                    @input="
                      (on_page) =>
                        $router.push({ query: { ...filter, page: 0, on_page } }).catch(() => {})
                    "
                  ></app-select>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </template>

        <template #thead>
          <tr>
            <th side>№ заявки</th>
            <th>
              {{ $tt("common.product", 1) }}
            </th>
            <th>
              {{ $tt("common.date", 1) }}
            </th>
            <th side>
              {{ $tt("common.summ", 1) }}
            </th>
          </tr>
        </template>

        <tr v-for="payment in payments" :key="payment.id">
          <td>
            <router-link
              target="_blank"
              :to="`/agent-sales/request/${payment.agent_sale_request_id}`"
            >
              {{ payment.agent_sale_request_id }}

              <q-tooltip> Перейти к заявке №{{ payment.agent_sale_request_id }} </q-tooltip>
            </router-link>
          </td>
          <td>
            {{ payment.agent_sale_product_name }}
          </td>
          <td>
            {{ $date(payment.payment_date) }}
          </td>
          <td>
            <span class="text-subtitle2">
              {{ $toUSD(payment.payment_summ) }}
            </span>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  props: {},
  mounted() {
    this.$router
      .replace({ query: { ...this.normalizeQuery(), ...this.normalizeQuery(this.$router.query) } })
      .catch(() => {});
  },
  data() {
    return {
      loading: false,
      payments: null,
      items_total: 0,
      filter: { page: 0, on_page: 20, date_from: null, date_to: null, request_id: null },
    };
  },
  computed: {
    total_pages() {
      return (this.items_total && Math.ceil(this.items_total / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "$route.query": {
      handler(query) {
        this.getPayments(query);
      },
      immediate: true,
    },
    "filter.on_page"(on_page) {
      this.$router.push({ query: { ...this.filter, page: 0, on_page } }).catch(() => {});
    },
  },
  methods: {
    async getPayments(query = this.filter) {
      query = this.normalizeQuery(query);

      try {
        this.loading = true;

        let {
          data: { payments, items_total },
        } = await this.$api.post(`/agent-sales/payments`, query);

        this.items_total = items_total;
        this.payments = payments;

        this.filter = {
          ...this.filter,
          ...query,
        };
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    getPageRoute(page) {
      return { query: { ...this.filter, page: page - 1 } };
    },
    normalizeQuery(filter = this.filter) {
      return this.$normalizeQuery({
        is_number: ["on_page", "page", "request_id"],
      })(filter);
    },
    clearFilter() {
      this.filter.request_id = null;
      this.filter.date_from = null;
      this.filter.date_to = null;

      this.$router.push({ query: { page: 0, on_page: this.filter.on_page } }).catch(() => {});
    },
  },
};
</script>
