<template>
  <PageContainer
    with-back="/agent-sales"
    :loading="loading"
    :title="`${edit_id ? $tt('common.edit', 1) : $tt('common.create', 1)}`"
  >
    <template #actions>
      <app-btn
        padding="11px"
        size="12px"
        color="negative"
        v-show="lot.is_deletable || false"
        @click="removeRequest"
      >
        {{ $tt("common.delete") }}
      </app-btn>
    </template>

    <div v-if="edit_id" class="q-pb-xl">
      <app-banner v-if="able_to_edit" level="success">
        <div class="container">
          {{ $tt("pages.agent_sales.can_change_product") }}
        </div>
      </app-banner>
      <app-banner v-else level="warning">
        <div class="container">
          {{ $tt("pages.agent_sales.no_changes_allowed") }}
        </div>
      </app-banner>
    </div>

    <div class="container">
      <div style="max-width:700px" class="q-gutter-y-xl">
        <div>
          <app-input
            v-model="lot.product_name"
            class="q-mb-md"
            :label="$tt('common.title', 1)"
            :error="$v.lot.product_name.$anyError"
            :readonly="!editable"
          ></app-input>
          <app-input
            type="textarea"
            rows="4"
            :label="$tt('common.description', 1)"
            v-model="lot.product_description"
            :error="$v.lot.product_description.$anyError"
            :readonly="!editable"
          ></app-input>
        </div>

        <div>
          <div class="row q-col-gutter-md">
            <div class="col-8">
              <app-input
                :label="$tt('common.materials', 1, 2)"
                :hint="$tt('pages.agent_sales.messages.materials_hint')"
                v-model="lot.materials"
                :error="$v.lot.materials.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
            <div class="col">
              <app-input
                type="number"
                suffix="USD"
                :label="$tt('common.cost', 1)"
                v-model="lot.product_price"
                :error="$v.lot.product_price.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
          </div>
        </div>

        <div>
          <h6 class="q-mb-md">
            {{ $tt("common.dimensions", 1) }}
          </h6>
          <div class="row q-col-gutter-md">
            <div class="col">
              <app-input
                suffix="cm"
                v-model="lot.length"
                :label="$tt('common.length', 1)"
                :error="$v.lot.length.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
            <div class="col">
              <app-input
                suffix="cm"
                v-model="lot.width"
                :label="$tt('common.width', 1)"
                :error="$v.lot.width.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
            <div class="col">
              <app-input
                suffix="cm"
                v-model="lot.height"
                :label="$tt('common.height', 1)"
                :error="$v.lot.height.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
            <div class="col">
              <app-input
                suffix="kg"
                v-model="lot.weight"
                :label="$tt('common.weight', 1)"
                :error="$v.lot.weight.$anyError"
                :readonly="!editable"
              ></app-input>
            </div>
          </div>
        </div>

        <div>
          <app-list
            :header="`${$tt('common.link', 1, 2)} на ${$tt('common.product', 0, 2)}`"
            :caption="$tt('pages.agent_sales.on_market')"
          >
            <q-item v-for="(l, idx) in lot.external_links" :key="idx">
              <q-item-section>
                <app-input
                  :label="
                    `${$tt('pages.agent_sales.product_links', 1)} ${$tt(
                      'pages.agent_sales.on_market'
                    )}`
                  "
                  :value="l"
                  @input="(val) => bindLink(val, idx)"
                  :readonly="!editable"
                >
                  <template #append>
                    <q-btn
                      flat
                      icon="close"
                      padding="xs"
                      color="negative"
                      @click="removeLink(idx)"
                      :disable="!editable"
                    ></q-btn>
                  </template>
                </app-input>
              </q-item-section>
            </q-item>
            <q-item v-if="editable" @click="addLink" clickable class="text-primary">
              <q-item-section class="font-500">
                <q-item-label>
                  {{ $tt("pages.agent_sales.add_link", 1) }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              clickable
              @click="changeLinks"
              class="text-primary font-500"
              v-else-if="lot.can_update_links"
            >
              <q-item-section side>
                <q-item-label>
                  <q-icon name="edit" color="primary"></q-icon>
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  {{ $tt("common.change", 1) }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>

        <div>
          <h6>{{ $tt("common.personalization", 1) }}</h6>
          <q-checkbox :disable="!editable" v-model="lot.personalization_allowed">
            {{ $tt("common.personalization", 1) }}
          </q-checkbox>

          <q-slide-transition>
            <app-input
              v-if="lot.personalization_allowed"
              class="q-mt-md"
              :label="$tt('pages.agent_sales.personalization_help')"
              type="textarea"
              rows="3"
              :error="$v.lot.personalization_text.$anyError"
              v-model="lot.personalization_text"
              :readonly="!editable"
            ></app-input>
          </q-slide-transition>
        </div>

        <div>
          <div class="flex items-center q-mb-md">
            <h6 class="q-ma-none">
              {{ $tt("common.product", 1, 1) }}
            </h6>
          </div>
          <app-table-list :colspan="4">
            <template #thead>
              <tr>
                <th>
                  {{ $tt("common.code", 1) }}
                </th>
                <th>
                  {{ $tt("common.title", 1) }}
                </th>
                <th>
                  {{ $tt("common.cost", 1) }}
                </th>
                <th
                  side
                  class="text-center"
                  v-if="
                    lot.request_product &&
                      lot.request_product.warehouse_amount !== undefined &&
                      lot.request_product.warehouse_amount !== null
                  "
                >
                  {{ $tt("pages.agent_sales.in_stock", 1) }}
                </th>
                <th side></th>
              </tr>
            </template>
            <tr v-if="internal_product">
              <td>
                {{ internal_product.code }}
              </td>
              <td>
                <small class="text-muted">
                  {{ internal_product.category_title }}
                </small>
                <div>
                  {{ internal_product.title }}
                </div>
              </td>
              <td>
                {{ $toUSD(internal_product.cost) }}
              </td>
              <td
                side
                class="text-center"
                v-if="
                  lot.request_product &&
                    lot.request_product.warehouse_amount !== undefined &&
                    lot.request_product.warehouse_amount !== null
                "
              >
                {{ lot.request_product.warehouse_amount || 0 }}
                <small class="text-muted">шт.</small>
              </td>
              <td>
                <q-btn
                  :disable="!editable"
                  @click="internal_product = null"
                  round
                  icon="close"
                  color="negative"
                  dense
                  flat
                ></q-btn>
              </td>
            </tr>
            <tr v-else>
              <td style="white-space:normal" colspan="3">
                <div class="text-muted fz-12 font-500">
                  {{ $tt("pages.agent_sales.messages.link_product") }}
                </div>
              </td>
              <td side>
                <app-btn :disable="!editable" @click="pickProduct" size="11px" color="accent"
                  >Выбрать товар</app-btn
                >
              </td>
            </tr>
          </app-table-list>

          <app-list class="q-mt-lg" header="Информация о доставке">
            <q-item class="q-py-md">
              <q-item-section>
                <q-item-label> {{ $tt("common.track_number", 1) }} "Новая Почта" </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <app-input v-model="lot.local_track"></app-input>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>

          <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
            appear
          >
            <div v-if="internal_product" class="q-mt-md bg-white aborder rounded-borders">
              <q-item>
                <q-item-section>
                  <q-item-label class="fz-12 text-accent font-500">
                    {{ $tt("pages.agent_sales.messages.additional_delivery_info") }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!-- <app-banner :rounded="false" level="info">
                  <div class="fz-13">
                    Предоставьте дополнительную информацию о доставке товара, для того чтобы ...
                  </div>
                </app-banner> -->
              <div class="row">
                <div class="col-6">
                  <q-item
                    clickable
                    :disable="!editable"
                    tag="label"
                    class="q-py-md"
                    :class="product_info_type === 'parcel_id' && 'text-primary'"
                  >
                    <q-item-section side>
                      <q-item-label>
                        <q-radio
                          :disable="!editable"
                          name="product_info_type"
                          v-model="product_info_type"
                          val="parcel_id"
                        ></q-radio>
                      </q-item-label>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="font-500">
                        {{ $tt("common.parcel_number", 1) }}
                      </q-item-label>
                      <q-item-label caption>
                        {{ $tt("pages.agent_sales.messages.if_has_parcel_in_system") }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </div>
                <div class="col-6">
                  <q-item
                    clickable
                    :disable="!editable"
                    tag="label"
                    class="q-py-md"
                    :class="product_info_type === 'track_number' && 'text-primary'"
                  >
                    <q-item-section side>
                      <q-item-label>
                        <q-radio
                          :disable="!editable"
                          name="product_info_type"
                          v-model="product_info_type"
                          val="track_number"
                        ></q-radio>
                      </q-item-label>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="font-500">
                        {{ $tt("common.track_number", 1) }}
                      </q-item-label>
                      <q-item-label caption>
                        {{ $tt("pages.agent_sales.messages.in_case_self_delivery") }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </div>
              </div>
              <q-separator></q-separator>

              <q-item class="q-py-md" v-if="product_info_type">
                <q-item-section>
                  <q-item-label>
                    <app-input
                      :disable="!editable"
                      :label="`${$tt('messages.pls_input', 1)} ${$tt('common.parcel_number')}`"
                      v-model="product_parcel_id"
                      v-if="product_info_type === 'parcel_id'"
                    ></app-input>
                    <!--  -->
                    <app-input
                      :disable="!editable"
                      :label="`${$tt('messages.pls_input', 1)} ${$tt('common.track_number')}`"
                      v-model="product_track_number"
                      v-if="product_info_type === 'track_number'"
                    ></app-input>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </transition>
        </div>

        <div>
          <div class="flex items-center q-mb-md">
            <h6 class="q-ma-none">
              {{ $tt("common.image", 1, 2) }}
            </h6>
            <!-- // TODO: VALIDATE  EXTERNAL IMG  MESSAGE HERE -->
            <div v-if="$v.images && $v.images.$anyError" class="q-ml-md text-negative">
              {{ $tt("errors.add_less_one_image", 1) }}
            </div>
          </div>

          <div class="bg-white rounded-borders q-mt-md aborder ">
            <div class="row">
              <div class="col-6">
                <q-item
                  :disable="!editable && image_type !== 'local'"
                  tag="label"
                  :class="image_type === 'local' && 'text-primary bg-blue-1'"
                >
                  <q-item-section side>
                    <q-item-label>
                      <q-radio
                        :disable="!editable"
                        checked-icon="task_alt"
                        unchecked-icon="panorama_fish_eye"
                        v-model="image_type"
                        val="local"
                        color="primary"
                      />
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label class="font-500">
                      {{ $tt("common.local", 1) }}
                    </q-item-label>
                    <q-item-label caption>
                      <!-- Выбрать -->
                      {{ $tt("common.images_from_computer", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <div class="col-6">
                <q-item
                  :disable="!editable && image_type !== 'external'"
                  class="full-height"
                  tag="label"
                  :class="image_type === 'external' && 'text-indigo bg-indigo-1'"
                >
                  <q-item-section side>
                    <q-item-label>
                      <q-radio
                        :disable="!editable"
                        checked-icon="task_alt"
                        unchecked-icon="panorama_fish_eye"
                        v-model="image_type"
                        val="external"
                        color="indigo"
                      />
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label class="font-500">
                      {{ $tt("common.external_source", 1) }}
                    </q-item-label>
                    <q-item-label caption>
                      {{ $tt("common.add_images_links", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>

            <q-separator></q-separator>

            <div class="q-pa-md">
              <transition-group
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                appear
              >
                <div key="local-image-type" v-if="image_type === 'local'">
                  <input @change="appendImages" ref="agent-images" type="file" hidden multiple />

                  <app-btn v-show="editable" @click="$refs['agent-images'].click()" color="accent">
                    <div class="flex items-center">
                      <q-icon size="20px" class="q-mr-sm" name="add_photo_alternate"></q-icon>
                      {{ images && images.length ? $tt("common.add", 1) : $tt("common.pick", 1) }}
                    </div>
                  </app-btn>

                  <div class="q-mt-lg q-gutter-x-md" v-if="images && images.length">
                    <q-img
                      class="bg-grey-3 rounded-borders relative-position"
                      v-for="(img, idx) in images"
                      alt="haha"
                      :src="`${img.preview}`"
                      height="100px"
                      width="100px"
                      contain
                      :key="idx"
                    >
                      <q-btn
                        v-show="editable"
                        round
                        icon="close"
                        size="13px"
                        class="absolute bg-white text-negative"
                        style="top: 4px; left: 4px"
                        @click="removeImage(idx)"
                        dense
                      ></q-btn>
                    </q-img>
                  </div>

                  <div v-else class="text-muted q-mt-md">
                    {{ $tt("common.image", 1, 2) }} {{ $tt("errors.not_selected") }}
                  </div>
                </div>

                <div key="external-image-type" v-else-if="image_type === 'external'">
                  <table class="full-width">
                    <tr>
                      <td style="width:1px">
                        <div style="white-space:nowrap" class="text-muted q-mr-sm">
                          {{ $tt("pages.agent_sales.main_image", 1) }}
                        </div>
                      </td>
                      <td>
                        <app-input
                          v-model="external_images.images_preview_link"
                          class="full-width"
                          :label="$tt('common.image_link', 1)"
                          :error="
                            $v.external_images && $v.external_images.images_preview_link.$anyError
                          "
                          :error-message="
                            ($v.external_images &&
                              !$v.external_images.images_preview_link.url &&
                              'Значение должно быть ссылкой') ||
                              null
                          "
                          :readonly="!editable"
                        ></app-input>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:1px">
                        <div style="white-space:nowrap" class="text-muted q-mr-sm">
                          {{ $tt("pages.agent_sales.additional_images", 1) }}
                        </div>
                      </td>
                      <td>
                        <app-input
                          :error="
                            $v.external_images && $v.external_images.images_folder_link.$anyError
                          "
                          :error-message="
                            ($v.external_images &&
                              (!$v.external_images.images_preview_link.url ||
                                !$v.external_images.images_preview_link
                                  .must_be_google_drive_folder_link) &&
                              $tt('pages.agent_sales.messages.google_drive_warning')) ||
                              null
                          "
                          v-model="external_images.images_folder_link"
                          class="full-width"
                          :label="$tt('pages.agent_sales.drive_folder_link')"
                          :readonly="!editable"
                        >
                          <template #append>
                            <q-icon name="help_outline">
                              <q-tooltip>
                                {{ $tt("pages.agent_sales.messages.drive_folder_help") }}
                              </q-tooltip>
                            </q-icon>
                          </template>
                        </app-input>
                      </td>
                    </tr>
                  </table>
                </div>
              </transition-group>
            </div>
          </div>
        </div>

        <div>
          <h6 class="q-ma-none q-mb-md">
            {{ $tt("common.contacts", 1) }}
          </h6>
          <app-input
            v-model="lot.contact_phone"
            class="q-mb-md"
            :label="$tt('pages.agent_sales.manager_phone')"
            :error="$v.lot.contact_phone.$anyError"
            :readonly="!editable"
          ></app-input>
        </div>

        <div class="flex-center">
          <app-btn
            v-if="editable"
            :loading="loading"
            padding="md xl"
            class="q-mt-xl"
            color="positive"
            @click="submit"
            :submit="$q.screen.xs"
          >
            {{
              edit_id
                ? $tt("common.save") + " " + $tt("common.changes", 0, 2)
                : $tt("common.create")
            }}
          </app-btn>
          <app-btn v-else padding="md" class="q-mt-xl text-negative full-width" to="/agent-sales/">
            {{ $tt("common.cancel") }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf, minLength, url } from "vuelidate/lib/validators";

export default {
  name: "CreateAgentSaleRequest",
  components: {},
  async created() {
    if (this.edit_id) {
      try {
        this.loading = true;

        let { agent_sale_id, images, ...lot } = await this.getRequest(this.edit_id);

        this.lot = { ...lot };

        let is_external_images = lot.images_preview_link && lot.images_folder_link;

        if (is_external_images) {
          this.image_type = "external";

          let { images_preview_link, images_folder_link } = lot;

          this.lot = { ...this.lot, images_preview_link, images_folder_link };
        } else if (images) {
          this.image_type = "local";

          this.lot = { ...this.lot, images };

          this.images = images.map(({ base_64: preview, filename }) => ({
            preview: `data:image;base64,${preview}`,
            filename,
          }));
        }

        let req_product = lot.request_product || null;

        if (req_product) {
          let { products } = await this.$store.dispatch("Warehouse/GET_PRODUCTS", {});

          let { track_number = null, parcel_id = null, product_id: req_product_id } = req_product;

          this.internal_product = products.find((prod) => prod.product_id === req_product_id);

          if (parcel_id) {
            this.product_info_type = "parcel_id";
            this.product_parcel_id = parcel_id;
          } else if (track_number) {
            this.product_info_type = "track_number";
            this.product_track_number = track_number;
          }
        }

        if (this.lot && this.lot.status && this.lot.status.id === 1) this.editable = true;
        else this.editable = false;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить заявку" });
      } finally {
        this.loading = false;
      }
    } else {
      this.editable = true;
    }
  },
  mounted() {},
  data() {
    return {
      lot: {
        external_links: [],
        height: null,
        width: null,
        length: null,
        weight: null,
        materials: null,
        personalization_allowed: false,
        personalization_text: null,
        product_description: null,
        product_name: null,
        product_price: null,
        contact_phone: null,
        local_track: null,
      },
      images: [],
      loading: false,
      editable: false,
      image_type: "external",
      external_images: {
        images_preview_link: null,
        images_folder_link: null,
      },
      internal_product: null,
      product_info_type: "parcel_id",
      product_parcel_id: null,
      product_track_number: null,
    };
  },
  computed: {
    edit_id() {
      return (this.$route.params && this.$route.params.id) || false;
    },
    product_id() {
      return (this.internal_product && this.internal_product.product_id) || null;
    },
    able_to_edit() {
      return (this.edit_id && this.lot.status && this.lot.status.id === 1) || false;
    },
  },
  methods: {
    appendImages(event) {
      if (!event || !event.target || !event.target.files || !event.target.files.length) return;

      this.images.push(
        ...Array.from(event.target.files).map((file) => ({
          file,
          preview: URL.createObjectURL(file),
        }))
      );

      event.target.value = null;
    },
    removeImage(index) {
      this.images.splice(index, 1);
      this.$message({ level: "info", title: "Изображение не будет загружено" });
    },
    addLink() {
      this.lot.external_links.push(null);
    },
    bindLink(val, index) {
      this.lot.external_links[index] = val;
      this.$forceUpdate();
    },
    removeLink(idx) {
      this.lot.external_links.splice(idx, 1);
    },
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });

        return;
      }

      try {
        this.loading = true;

        let { external_links, images, ...lot } = this.lot;

        let request = {
          ...this.lot,
          external_links,
          ...(this.product_id && {
            product_id: this.product_id,
            ...(this.product_info_type === "parcel_id"
              ? {
                  product_parcel_id: this.product_parcel_id,
                }
              : {
                  product_track_number: this.product_track_number,
                }),
          }),
        };

        if (this.image_type === "local") {
          let q = this.images
            .filter((i) => !!i.file)
            .map(({ file }) => this.$store.dispatch("Service/UPLOAD_FILE", file));

          let upload_images = await Promise.all(q);

          request = {
            ...request,
            upload_images: [
              ...((this.lot &&
                this.lot.images &&
                this.lot.images.length &&
                this.lot.images.map((f) => f.filename)) ||
                []),
              ...upload_images,
            ],
          };
        } else if (this.image_type === "external") {
          let {
            external_images: { images_folder_link, images_preview_link },
          } = this;

          request = {
            ...request,
            images_folder_link,
            images_preview_link,
            upload_images: [],
          };
        } else {
          throw new Error(`Unhandled images source type: ${this.image_type}`);
        }

        await this.$api[this.edit_id ? "put" : "post"](
          `/agent-sales/${this.edit_id ? this.edit_id : ""}`,
          request
        );

        this.$alert({
          title: this.edit_id ? "Заявка обновлена" : this.$tt("common.request_created"),
          level: "success",
        });

        this.$router.push("/agent-sales");
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: "Не удалось создать заявку" });
      } finally {
        this.loading = false;
      }
    },
    // ? EDIT SECTION:
    async getRequest(id = this.edit_id) {
      return new Promise(async (done, fail) => {
        try {
          let { data } = await this.$api.get(`/agent-sales/${id}`);

          done(data);
        } catch (e) {
          fail(e);
        }
      });
    },
    async removeRequest() {
      let c = await this.$confirm({
        title: "Действительно хотите удалить товар ?",
        message: "Это действие нельзя отменить",
        level: "warning",
      });

      if (!c) return;

      try {
        this.loading = true;

        let t = this.edit_id || this.lot.agent_sale_id;

        await this.$api.delete(`/agent-sales/${t}`);

        this.$router.push("/agent-sales");
        this.$message({ title: "Товар удалён", level: "success" });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    pickProduct() {
      let PickProduct = this.$q
        .dialog({
          parent: this,
          component: () => import("@/components/Warehouse/PickWarehouseItem.vue"),
        })
        .onOk((product) => {
          this.internal_product = product;

          PickProduct.hide();

          this.$message({ title: "Товар выбран", level: "success" });
        });
    },
    changeLinks() {
      let UpdateLinks = this.$q
        .dialog({
          component: () => import("../UpdateLinks.vue"),
          parent: this,
          request: this.lot,
        })
        .onOk(async ({ external_links }) => {
          try {
            this.links_loading = true;

            await this.$api.post(`/agent-sales/${this.edit_id}/update-external-links`, {
              external_links,
            });

            UpdateLinks.hide();

            let { external_links: updated_links } = await this.getRequest();

            this.lot = {
              ...this.lot,
              external_links: updated_links,
            };

            this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });
          } catch (e) {
            console.log(e);

            this.$showApiError(e, { fallbackMessage: this.$tt("errors.changes_saved") });
          } finally {
            this.links_loading = false;
          }
        });
    },
  },
  validations() {
    const must_be_google_drive_folder_link = (value) =>
      (value && value.indexOf("drive.google.com/drive/folders") >= 0) || false;

    return {
      lot: {
        length: { required },
        height: { required },
        width: { required },
        weight: { required },
        materials: { required },
        contact_phone: { required },
        personalization_text: {
          required: requiredIf(function() {
            return this.personalization_allowed;
          }),
        },
        product_description: { required },
        product_name: { required },
        product_price: { required },
      },

      ...(this.image_type === "local"
        ? {
            images: {
              required,
              minLength: minLength(1),
            },
          }
        : {
            external_images: {
              images_preview_link: { required, url },
              images_folder_link: {
                // required,
                url,
                must_be_google_drive_folder_link,
              },
            },
          }),
    };
  },
};
</script>
