<template>
  <PageContainer with-back title="Создать новую ссылку для оплаты">
    <with-loading :state="loading" />
    <div class="container">
      <app-banner close class="q-mb-xl" gradient level="warning">
        <div class="font-500 full-width flex items-center">
          Продажа цифровых товаров по персональной ссылке запрещена
        </div>
      </app-banner>

      <div class="q-mb-xl">
        <h5 class="q-ma-none q-mb-md">Информация о товаре</h5>

        <app-input
          v-model="new_link.product_name"
          :error="$v.new_link.product_name.$anyError"
          class="q-mb-md"
          label="Название товара"
          :dense="false"
        ></app-input>
        <app-input
          v-model="new_link.product_description"
          :error="$v.new_link.product_description.$anyError"
          label="Описание товара"
          type="textarea"
          rows="3"
        ></app-input>
      </div>

      <div>
        <h5 class="q-ma-none q-mb-md">Параметры ссылки</h5>

        <!-- :class="$q.screen.xs && 'column'" -->
        <div class="row q-col-gutter-lg">
          <div class="col-6 col-xs-12 col-sm-12">
            <app-select
              :options="link_types"
              emit-value
              map-options
              :label="$tt('common.type', 1)"
              v-model="new_link.link_type"
              :error="$v.new_link.link_type.$anyError"
            ></app-select>
          </div>
          <div class="col">
            <app-input
              v-model.number="new_link.product_price"
              :error="$v.new_link.product_price.$anyError"
              label="Стоимость товара"
              suffix="USD"
            ></app-input>
          </div>
          <div class="col">
            <app-input
              v-model.number="new_link.shipping_price"
              :error="$v.new_link.shipping_price.$anyError"
              label="Стоимость доставки"
              suffix="USD"
            ></app-input>
          </div>
        </div>
      </div>

      <q-slide-transition>
        <div class="q-mt-xl" v-if="new_link.link_type === 'permanent'">
          <h5 class="q-ma-none q-mb-md">Информация о магазине</h5>
          <app-input
            :error="$v.new_link.shop_url.$anyError"
            v-model="new_link.shop_url"
            label="Ссылка на магазин"
          ></app-input>
        </div>
      </q-slide-transition>

      <div class="q-my-xl">
        <h5 class="q-ma-none q-mb-md">Фото товара</h5>

        <div
          class="flex column reverse items-start"
          :class="($q.screen.xs || $q.screen.sm) && 'column reverse'"
        >
          <div>
            <div class="relative-position" v-if="preview">
              <q-img
                v-if="preview"
                height="140px"
                width="280px"
                contain
                class="bg-grey-3 rounded-borders"
                :src="preview"
              >
                <app-btn
                  style="position: absolute; top: 7px; right: 7px"
                  round
                  icon="close"
                  class="text-negative bg-white"
                  size="11px"
                  @click="
                    () => {
                      image = null;
                      preview = null;
                    }
                  "
                ></app-btn>
              </q-img>
            </div>

            <div
              style="height: 210px; width: 210px"
              class="
                aborder
                rounded-borders
                bg-grey-3
                text-grey-7
                text-center
                flex-center
                relative-position
              "
              v-else
              :class="$v.new_link.image_upload.$anyError && 'error-border'"
            >
              <input
                accept="image/*"
                @change="handleImages"
                ref="img-input"
                type="file"
                class="bg-red absolute-full full-width z-max"
                style="opacity:0"
              />
              <div>Выберите или перетащите изображение</div>
            </div>
          </div>

          <app-btn
            @click="pickImages"
            color="accent"
            :disable="!!preview"
            icon="add_photo_alternate"
            padding="md"
            class="q-mb-lg"
          >
            &nbsp;&nbsp;
            <!-- Выбрать изображение -->
            {{ $tt("common.pick") }}
            {{ $tt("common.image") }}
          </app-btn>
        </div>
      </div>

      <div class="flex-center">
        <app-btn
          :submit="$q.screen.xs"
          @click="createLink"
          color="positive"
          padding="md"
          class="block q-px-lg"
        >
          {{ $tt("common.create", 1) }}
        </app-btn>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf, url } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      loading: false,
      new_link: {
        image_upload: null,
        shop_url: null,
        product_name: null,
        product_description: null,
        product_price: null,
        link_type: null,
        shipping_price: null,
      },
      link_types: [
        {
          label: "Постоянная",
          value: "permanent",
        },
        {
          label: "Разовая",
          value: "one_time",
        },
      ],
      preview: null,
    };
  },
  methods: {
    pickImages() {
      this.$refs["img-input"].click();
    },
    handleImages(e) {
      if (e.target.files[0]) {
        let p = URL.createObjectURL(e.target.files[0]);
        this.preview = p;
        this.new_link.image_upload = e.target.files[0];
        e.target.value = null;
      }
    },
    async createLink() {
      this.$v.new_link.$touch();

      if (this.$v.new_link.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });
        return;
      }

      let c = await this.$confirm({
        title: "Создать новую ссылку для оплаты ?",
      });

      if (!c) return;

      this.loading = true;

      let DATA = new FormData();

      Object.keys(this.new_link).forEach((k) => {
        DATA.set(k, this.new_link[k]);
      });

      if (this.new_link.link_type === "one_time") {
        DATA.delete("shop_url");
      }

      if (this.new_link.link_type === "one_time") {
        DATA.delete("shop_url");
      }

      try {
        await this.$api.post(`/payment-links/`, DATA);

        this.$alert({
          level: "success",
          title: this.$tt("common.request_created"),
        });

        this.$router.push("/payment-links");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      new_link: {
        image_upload: {
          required,
        },
        shop_url: {
          required: requiredIf(function() {
            return this.new_link.link_type === "permanent";
          }),
          url,
        },
        product_name: {
          required,
        },
        product_description: {
          required,
        },
        product_price: {
          required,
        },
        link_type: {
          required,
        },
        shipping_price: {
          required,
        },
      },
    };
  },
};
</script>
<style lang="scss">
.error-border {
  box-shadow: 0 0 0 2px rgba($negative, 1);
  color: $negative !important;
}
</style>
