<template>
  <PageContainer :title="$tt('pages.payment_links.payment_link', 1, 2)">
    <template v-if="!payment_links_disabled" #actions>
      <q-skeleton height="54.2px" width="121.5px" v-if="loading" type="QBtn" padding="md"></q-skeleton>

      <app-btn v-else padding="11px" size="12px" to="/payment-links/new" color="accent" icon="new_releases">
        &nbsp;&nbsp;{{ $tt("common.create") }}
      </app-btn>
    </template>

    <div class="container">
      <app-banner level="danger" class="q-mb-xl" v-if="payment_links_disabled">
        <div class="container">
          {{ $tt("pages.payment_links.payment_links_are_currently_disabled") }}
        </div>
      </app-banner>
      <div class="q-my-lg">
        <q-skeleton v-if="loading" type="QInput"></q-skeleton>

        <app-input v-show="links && links.length" :dense="false" v-model="query"
          :label="$tt('common.search', 1)"></app-input>
      </div>

      <app-table-list :header="$tt('pages.payment_links.pl_list', 1)"
        :empty="(!filtered_links || !filtered_links.length) && $tt('errors.no_data', 1)" :loading="loading" :colspan="5">
        <template #thead>
          <tr>
            <th side>
              {{ $tt("common.photo", 1) }}
            </th>
            <th>
              {{ $tt("common.product", 1) }}
            </th>
            <th></th>
            <th side></th>
          </tr>
        </template>

        <PaymentLink @updated="getLinks" :link="link" :key="link.link_id" v-for="link in filtered_links" />
      </app-table-list>
    </div>
  </PageContainer>
</template>

<script>
import PaymentLink from "./PaymentLink.vue";

export default {
  components: { PaymentLink },
  data() {
    return {
      loading: true,
      links: null,
      query: null,
      // payment_links_disabled: true,
    };
  },
  mounted() {
    this.getLinks();
  },
  computed: {
    filtered_links() {
      if (!this.query || !this.query.length) {
        return this.links;
      } else {
        return this.links.filter(
          (l) =>
            (l.product_name &&
              l.product_name.toLowerCase().indexOf(this.query.toLowerCase()) >= 0) ||
            (l.product_description &&
              l.product_description.toLowerCase().indexOf(this.query.toLowerCase()) >= 0)
        );
      }
    },
    payment_links_disabled() {
      return this.$store.getters?.["auth/customer_vars"]?.ALLOW_PAYMENT_LINKS !== '1'
    }
  },
  methods: {
    async getLinks() {
      try {
        this.loading = true;

        const {
          data: { links },
        } = await this.$api.get(`/payment-links`);

        this.links = links;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
