<template>
  <q-dialog
    class="payment-link-dialog"
    :position="$q.screen.xs ? 'bottom' : 'right'"
    :maximized="$q.screen.xs || false"
    full-height
    ref="payment-link-details"
  >
    <q-card class="full-width">
      <q-card-section>
        <div class="flex-center-between no-wrap">
          <div class="flex items-center no-wrap">
            <div>
              <q-img
                :src="img"
                height="140px"
                width="140px"
                contain
                class="q-mr-md rounded-borders bg-grey-2"
              >
                <template #error>
                  <div class="absolute-full bg-grey-3 flex-center">
                    <q-icon name="image_not_supported" color="grey-6" size="28px"></q-icon>
                  </div>
                </template>
              </q-img>
            </div>

            <div class="full-width">
              <h5 class="q-ma-none">
                {{ link.product_name }}
              </h5>
              <small class="text-grey-9 q-mt-sm block">{{ link.product_description }}</small>
            </div>
          </div>

          <q-btn @click="hide" round icon="close" color="negative" flat></q-btn>
        </div>

        <app-input
          v-if="link.payable"
          class="q-mt-md"
          :label="$tt('pages.payment_links.payment_link', 1)"
          readonly
          :value="link.payment_url"
          :dense="false"
        >
          <template #append>
            <app-btn
              color="grey-7"
              @click="
                () => {
                  $copyText(link.payment_url);
                  $message({
                    level: 'success',
                    title: $tt('common.link', 1) + ' ' + $tt('common.copied'),
                  });
                }
              "
              size="12px"
              flat
              round
              icon="copy_all"
            ></app-btn>
          </template>
        </app-input>
      </q-card-section>
      <q-list separator>
        <!-- <q-item-label class="text-accent font-500" header>
            Информация о платёжной ссылке
          </q-item-label> -->
        <q-item>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.type", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            {{
              link.link_type === "one_time"
                ? $tt("pages.payment_links.statuses.one_time")
                : $tt("pages.payment_links.statuses.permanent")
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.created_at", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            {{ $date(link.created) }}
          </q-item-section>
        </q-item>
        <q-item avatar>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.status", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            {{ transformStatus() }}
          </q-item-section>
        </q-item>
        <q-item avatar>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("pages.payment_links.pay_available", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label class="text-positive items-center flex" v-if="link.payable">
              <app-badge
                icon="check_circle_outline"
                class="font-500 flex items-center"
                color="positive"
              >
                <!-- <q-icon name="check_circle" color="white" size="20px" class="q-mr-xs"></q-icon> -->
                Доступно
              </app-badge>
            </q-item-label>
            <q-item-label class="text-negative items-center flex" v-else>
              <app-badge icon="block" class="font-500 flex items-center" color="negative">
                Недоступно
              </app-badge>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item avatar>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.order", 1, 2) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label v-if="link.orders && link.orders.length">
              <q-badge
                class="cursor-pointer"
                @click="$openURL(`/orders/sell/${order.order_id}`)"
                :key="order.order_id"
                v-for="order in link.orders"
              >
                {{ order.order_id }}

                <q-tooltip class="bg-accent">
                  <small>
                    {{ $date(order.insert_date) }}
                  </small>
                  <br />
                  {{ order.order_buyer_name }}
                </q-tooltip>
              </q-badge>
            </q-item-label>
            <q-item-label v-else caption>
              <small>нет информации о заказах</small>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item avatar>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.product_cost", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            <div class="text-subtitle2">
              {{ $toUSD(link.product_price) }}
            </div>
          </q-item-section>
        </q-item>
        <q-item avatar>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.delivery_cost", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            <div class="text-subtitle2" v-if="$toUSD(link.shipping_price)">
              {{ $toUSD(link.shipping_price) }}
            </div>
            <app-badge color="positive" v-else>
              FREE SHIPPING
            </app-badge>
          </q-item-section>
        </q-item>
        <q-item
          v-if="link.operator_comment && link.operator_comment.length"
          class="bg-amber-1 text-brown q-py-lg"
        >
          <q-item-section>
            <q-item-label class="q-mb-sm" caption>{{ $tt("common.comment", 1) }}</q-item-label>
            <q-item-label>
              {{ link.operator_comment }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>

      <q-card-section>
        <div class="flex column q-gutter-y-md" :class="($q.screen.xs || $q.screen.sm) && 'column'">
          <app-btn padding="md" @click="$openURL(link.shop_url)" text-color="primary">
            <!-- Перейти в магазин -->
            {{ $tt("common.open") }}
            {{ $tt("common.shop") }}
            <q-icon name="open_in_new" size="16px" class="q-ml-sm"></q-icon>
          </app-btn>
          <app-btn
            padding="md"
            :disable="!link.seller_can_delete"
            text-color="negative"
            color="white"
            @click="removeLink(link)"
          >
            {{ $tt("common.delete") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    link: Object,
  },
  created() {
    this.getImage();
  },
  data() {
    return {
      img: null,
    };
  },
  methods: {
    show() {
      this.$refs["payment-link-details"].show();
    },
    hide() {
      this.$refs["payment-link-details"].hide();
    },
    async getImage() {
      try {
        let {
          data: { product_image_base64 = null },
        } = await this.$api.get(`/payment-links/${this.link.link_id}/get-image`);

        this.img = `data:image;base64,${product_image_base64}`;
      } catch (e) {
        console.log(e);
      } finally {
      }
    },
    transformStatus() {
      switch (this.link.moderation_status) {
        case "waiting":
          if (this.link.link_type == "one_time") {
            if (this.link.payable) {
              return "Действующая";
            } else {
              return "Оплачена";
            }
          } else {
            return "В рассмотрении";
          }
        case "approved":
          return "Одобрена";
        case "declined":
          return "Отклонена";
        case "blocked":
          return "Заблокирована";
        default:
          throw new Error("Unprocessable moderation_status code");
      }
    },
    async removeLink() {
      let c = await this.$confirm({
        title: "Уверены, что хотите удалить ссылку для оплаты ?",
        message: "Это действие нельзя отменить",
        level: "danger",
      });

      if (!c) return;

      this.loading = true;

      try {
        await this.$api.delete(`/payment-links/${this.link.link_id}`);

        this.$message({ title: this.$tt("messages.changes_saved"), level: "success" });

        this.$emit("updated");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss">
.payment-link-dialog {
  .q-dialog__inner--minimized {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
</style>
