<template>
  <tr clickable class="cursor-pointer relative-position" @click="showLinkDetails">
    <!-- :class="[link.moderation_status === 'declined' && 'light-dimmed']" -->
    <td side>
      <div
        v-intersection.once="getLinkImage"
        style="height:77px;width:77px;"
        class="bg-grey-4 rounded-borders"
      >
        <q-img height="77px" width="77px" :ratio="1" class="rounded-borders" cover :src="prod_img">
          <template #error>
            <div class="absolute-full bg-grey-3 flex-center">
              <q-icon name="image_not_supported" color="grey-6" size="28px"></q-icon>
            </div>
          </template>
        </q-img>
      </div>
    </td>
    <td>
      <div style="max-width:350px;white-space:normal" class="q-py-lg q-gutter-y-sm">
        <small v-if="link.product_code" class="text-muted">
          {{ link.product_code }}
        </small>
        <h6 class="q-ma-none">
          {{ link.product_name }}
        </h6>
        <div class="ellipsis-2-lines text-muted">
          {{ link.product_description }}
        </div>
        <div class="flex no-wrap items-center q-gutter-x-sm">
          <q-badge
            :key="idx"
            v-for="(s, idx) in getLinkStatuses()"
            class="q-px-sm q-py-sm"
            style="font-weight: 500; font-size: 12px"
            :class="[`bg-${s.bg || 'grey-2'} text-${s.color}`]"
          >
            <q-icon class="q-mr-sm" size="18px" :name="s.icon" v-if="s.icon"></q-icon>
            {{ s.text }}
          </q-badge>
        </div>
      </div>
    </td>
    <td side>
      <app-btn
        @click.stop="
          () => {
            $copyText(link.payment_url);
            $message({ title: 'Ссылка скопирована', icon: 'copy_all' });
          }
        "
        size="12px"
      >
        {{ $tt("common.copy") }}
      </app-btn>
    </td>
    <td side>
      <q-icon size="22px" color="grey-7" name="chevron_right"></q-icon>
    </td>
  </tr>
</template>
<script>
export default {
  props: {
    link: Object,
  },
  mounted() {},
  data() {
    return {
      prod_img: null,
      loading: false,
    };
  },
  methods: {
    getLinkStatuses() {
      let tags = [];

      if (this.link.link_type == "one_time") {
        // if (!this.link.payable) {
        if (this.link.orders && this.link.orders.length) {
          tags.push({
            text: this.$tt("pages.payment_links.statuses.paid"),
            color: "positive",
            bg: "green-1",
            icon: "credit_score",
          });
        }

        tags.push({
          text: "Разовая",
          color: "blue-grey",
          bg: "blue-grey-1",
          icon: "repeat_one",
        });
      } else {
        if (this.link.orders && this.link.orders.length) {
          tags.push({
            text: `${this.$tt("pages.payment_links.statuses.paid")} (${this.link.orders.length})`,
            color: "positive",
            icon: "credit_score",
            bg: "green-1",
          });
        }

        tags.push({
          text: this.$tt("pages.payment_links.statuses.permanent"),
          color: "indigo",
          bg: "indigo-1",
          icon: "all_inclusive",
        });
      }

      switch (this.link.moderation_status) {
        case "waiting":
          tags.push({
            text: this.$tt("pages.payment_links.statuses.in_review"),
            bg: "amber-1",
            color: "amber-7",
            icon: "schedule",
          });
          break;
        case "approved":
          tags.push({
            text: this.$tt("pages.payment_links.statuses.accepted"),
            bg: "green-1",
            color: "positive",
            icon: "verified",
          });
          break;
        case "declined":
          tags.push({
            text: this.$tt("pages.payment_links.statuses.declined"),
            bg: "red-1",
            color: "negative",
            icon: "cancel",
          });
          break;
        case "blocked":
          tags.push({
            text: this.$tt("pages.payment_links.statuses.blocked"),
            bg: "red-1",
            color: "negative",
            icon: "block",
          });
          break;
        default:
          break;
      }

      return tags;
    },
    async getLinkImage() {
      try {
        const {
          data: { product_image_base64, product_image },
        } = await this.$api.get(`/payment-links/${this.link.link_id}/get-image`);

        if (product_image_base64 && product_image_base64.length) {
          this.prod_img = `data:image;base64,${product_image_base64}`;
        } else if (product_image && product_image.length) {
          this.prod_img = product_image;
        } else {
          throw new Error("Unknown image type");
        }
      } catch (e) {
        console.log(e);
        this.$message({
          level: "warning",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось загрузить изображение",
        });
      }
    },

    showLinkDetails() {
      this.$q.dialog({
        parent: this,
        component: () => import("./LinkDetails.vue"),
        link: this.link,
      });
    },
  },
};
</script>
