<template>
  <PageContainer :title="$tt('pages.call.sol_call')">
    <div class="container">
      <div class="row q-col-gutter-xl" :class="($q.screen.xs || $q.screen.sm) && 'reverse'">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div id="call" class="flex column q-gutter-y-md">
            <app-btn
              class="full-width"
              padding="lg md"
              v-for="d in deps"
              :key="d.num"
              :disable="status === 'progress'"
              @click="departmentCall(d)"
              align="between"
            >
              <div>
                <q-avatar class="q-mr-md" square size="49px">
                  <img v-if="d.icon" :src="require(`./${d.icon}.svg`)" alt="" />
                </q-avatar>

                {{ d.title }}
              </div>

              <div class="flex flex-center no-wrap">
                <small
                  v-if="$q.screen.xl || $q.screen.lg || $q.screen.md"
                  class="text-muted block q-mr-sm"
                >
                  {{ $tt("pages.call.call") }}
                </small>
                <q-icon name="call"></q-icon>
              </div>
            </app-btn>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- <transition-group  enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear> -->
          <div v-if="target">
            <h3 class="q-mt-none">
              {{ target.title }}
            </h3>
          </div>

          <app-banner v-if="status === 'progress'" key="progress" :rounded="true" level="info">
            <div class="flex-center-between ">
              <div class="flex items-center no-wrap">
                <q-spinner-ios size="28px" class="q-mr-md"></q-spinner-ios>
                {{ $tt("pages.call.sol_connection") }}
              </div>

              <app-btn v-show="session" @click="terminate" color="blue-8">
                {{ $tt("pages.call.terminate") }}
              </app-btn>
            </div>
          </app-banner>

          <app-banner v-if="status === 'failed'" key="failed" :rounded="true" level="danger">
            <div class="flex items-center">
              <q-icon name="phone_disabled" size="35px" class="q-mr-md"></q-icon>
              <div>
                <div class="font-500">{{ $tt("pages.call.call_terminated") }}</div>
                <div class="q-mt-xs" v-if="error_message">
                  {{ error_message }}
                </div>
              </div>
            </div>
          </app-banner>

          <!-- -->
          <app-banner
            v-if="status === 'confirmed'"
            key="confirmed"
            :rounded="true"
            level="success"
          >
            <div class="flex-center-between">
              <div class="flex items-center">
                <q-icon name="phone_in_talk" size="35px" class="q-mr-md"></q-icon>
                <div>
                  <div class="font-500">
                    {{ $tt("pages.call.call_session", 1) }}: {{ format_duration }}
                  </div>
                </div>
              </div>
              <app-btn @click="terminate" color="positive">
                {{ $tt("pages.call.terminate") }}
              </app-btn>
            </div>
          </app-banner>

          <app-banner v-if="status === 'ended'" key="ended" :rounded="true" level="info">
            <div class="flex items-center">
              <q-icon name="info" size="35px" class="q-mr-md"></q-icon>
              <div>
                <div class="font-500">{{ $tt("pages.call.call_terminated") }}</div>
                <div class="q-mt-xs" v-if="error_message">
                  {{ error_message }}
                </div>
              </div>
            </div>
          </app-banner>
        </div>
      </div>
    </div>
    <audio ref="ring" src="./sounds/ringing.mp3"></audio>
    <audio ref="busy" src="./sounds/busy.mp3"></audio>
  </PageContainer>
</template>
<script>
import JsSIP from "jssip";

String.prototype.toHHMMSS = function() {
  var sec_num = parseInt(this, 10); // don't forget the second param
  var hours = Math.floor(sec_num / 3600);
  var minutes = Math.floor((sec_num - hours * 3600) / 60);
  var seconds = sec_num - hours * 3600 - minutes * 60;

  if (hours < 10) {
    hours = "0" + hours;
  }
  if (minutes < 10) {
    minutes = "0" + minutes;
  }
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  // hours + ":" +
  return minutes + ":" + seconds;
};

export default {
  mounted() {
    // this.initAudioDevice();
    this.initSIP();
  },
  created() {},
  beforeRouteLeave(to, from, next) {
    this.terminate(false);

    next();
  },
  beforeDestroy() {
    this.terminate(false);
  },
  data() {
    return {
      status: null,
      socket: null,
      session: null,
      //
      localStream: null,
      remoteAudio: null,
      deps: [
        {
          title: this.$tt("pages.call.deps.support"),
          num: "7091",
          icon: "support",
        },
        {
          title: this.$tt("pages.call.deps.delivery"),
          num: "7092",
          icon: "delivery",
        },
        // ...((process.env.DEV && [
        //   { num: "1206", title: "Даниил" },
        //   { num: "1234", title: "Test" },
        // ]) ||
        //   []),
      ],
      ready: false,
      target: null,
      error_message: null,
      ring: null,
      timer: null,
      duration: 0,
      localStream: null,
      remoteAudio: null,
      mediaConstraints: { audio: true, video: false },
    };
  },
  computed: {
    format_duration() {
      return (this.duration && String(this.duration).toHHMMSS()) || "00:00";
    },
  },
  methods: {
    async initAudioDevice() {
      try {
        let device = await navigator.mediaDevices.getUserMedia(this.mediaConstraints);

        const localStream = new MediaStream();
        const remoteAudio = new window.Audio();

        remoteAudio.autoplay = true;

        this.localStream = localStream;
        this.remoteAudio = remoteAudio;
      } catch (e) {
        this.$message({ title: "Не удалось получить доступ к микрофону" });
        console.log(e);
      }
    },
    startRing() {
      this.$refs["ring"].play();

      this.ring = setInterval(() => {
        this.$refs["ring"].play();
      }, 6000);
    },
    startBusy() {
      this.$refs["busy"].play();
    },
    stopRing() {
      let player = this.$refs["ring"];

      player.pause();
      player.currentTime = 0;

      clearInterval(this.ring);
    },
    async initSIP() {
      // JsSIP.debug.enable('JsSIP:*');
      let socket = new JsSIP.WebSocketInterface(process.env.SIP_SRC, "sip");

      await this.$store.dispatch("auth/GET_USER");

      let user = this.$store.getters["auth/user"];

      var configuration = {
        sockets: [socket],
        uri: process.env.SIP_URI,
        password: process.env.SIP_PASS,
        display_name: `${user.fname} ${user.mname || ""} ${user.lname}`,
      };
      const ua = new JsSIP.UA(configuration);

      this.socket = ua;

      // ? События регистрации клиента:
      this.socket.on("connected", function(e) {
        // console.log("connected", e);
      });
      this.socket.on("disconnected", function(e) {
        // console.log("disconnected", e);

        this.stopRing();
        this.stopDuration();
      });
      this.socket.on("registered", function(e) {
        // console.log("registered, e", e);
      });
      this.socket.on("unregistered", function(e) {
        // console.log("unregistered", e);
        // this.stopRing();
        // this.stopDuration();
      });
      this.socket.on("registrationFailed", function(e) {
        // console.log("registrationFailed", e);

        this.stopRing();
        this.stopDuration();
      });

      this.socket.start();
    },
    async initCall(number) {
      this.initAudioDevice();

      this.duration = 0;

      try {
        this.status = null;

        let eventHandlers = {
          progress: this.progress,
          failed: this.failed,
          ended: this.ended,
          confirmed: this.confirmed,
        };

        const options = {
          eventHandlers,
          mediaConstraints: this.mediaConstraints,
        };

        this.session = this.socket.call(String(number), options);

        this.startRing();
      } catch (e) {
        console.log(e);

        this.stopRing();

        alert(e);
      }
    },
    departmentCall(dep) {
      this.target = null;
      this.target = dep;

      this.initCall(dep.num);
    },
    progress(e) {
      this.status = "progress";
    },
    failed(e) {
      this.error_message = e.cause;

      this.$message({ title: e.cause, level: "danger" });

      this.session = null;

      this.status = "failed";
      this.stopRing();
      this.startBusy();
    },
    ended(e) {
      this.error_message = e.cause;

      // this.$message({ title: e.cause });

      this.status = "ended";

      this.remoteAudio.srcObject = null;
      this.session = null;

      this.stopDuration();
    },
    confirmed(e) {
      this.startDuration();

      this.stopRing();

      this.status = "confirmed";

      if (this.session) {
        let rec = this.session.connection.getReceivers();
        let track = rec[0].track;
        let stream = new MediaStream();
        stream.addTrack(track);
        this.remoteAudio.srcObject = stream;
      }
    },
    terminate(sound = true) {
      if (sound) {
        this.startBusy();
      }

      this.stopDuration();

      this.status = null;

      this.session && this.session.terminate();
      this.session = null;
    },
    startDuration() {
      this.timer = setInterval(() => {
        this.duration += 1;
      }, 1000);
    },
    stopDuration() {
      clearInterval(this.timer);
    },
  },
};
</script>
