<template>
  <q-dialog ref="all-images">
    <q-card class="full-width">
      <div>
        <div class="flex-center-between q-px-md q-py-sm">
          <div class=" font-500 text-primary">
            Загруженные фото
          </div>
          <q-btn @click="hide" dense flat icon="close" round color="negative"></q-btn>
        </div>
        <q-separator />
      </div>
      <div>
        <div v-for="(src, idx) in images" :key="idx">
          <q-img width="100%" height="auto" :src="src" />
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    images: Array,
  },
  mounted() {},
  created() {},
  data() {
    return {};
  },
  methods: {
    show() {
      this.$refs["all-images"].show();
    },
    hide() {
      this.$refs["all-images"].hide();
    },
  },
};
</script>
