<template>
  <div
    v-if="images && images.length"
    v-intersection="onIntersection"
    class="flex no-wrap relative-position product-preview"
    :class="limit > 1 && 'q-gutter-x-xs'"
    :style="`width:100%;height:100%;flex-shrink:0;`"
    @click="showImages"
  >
    <q-img
      v-for="(s, idx) in src"
      :key="`${id}-${idx}`"
      :height="height"
      :width="width"
      :src="s"
      class="rounded-borders bg-grey-2 product-preview__image"
      no-default-spinner
    />
  </div>
  <div
    :style="`width:100%;height:100%;flex-shrink:0;`"
    v-else
    class="flex inline flex-center rounded-borders bg-grey-2 q-mr-sm"
    v-once
  >
    <q-icon name="image" :size="`${width.split('px')[0] / 2.8}px`" color="grey-5"></q-icon>
  </div>
</template>
<script>
export default {
  props: {
    images: [Array, undefined, null],
    id: Number,
    limit: Number,
    height: {
      type: String,
      default: () => "100%",
    },
    width: {
      type: String,
      default: () => "100%",
    },
  },
  created() {
    this.size = this.limit || 1;
  },
  data() {
    return {
      src: [],
      loading: true,
      size: null,
    };
  },
  watch: {
    async images(images, old_images) {
      if (images && images.length && old_images && old_images.length) {
        if (images[0] !== old_images[0]) {
          this.src = [await this.getImage(images[0])];
        }
      }
    },
  },
  methods: {
    getImage(source) {
      return new Promise(async (done, fail) => {
        try {
          let { data } = await this.$api({
            method: "GET",
            responseType: "blob",
            url: `/v2/products/${this.id}/files/${source}`,
          });

          let url = URL.createObjectURL(data);

          done(url);
        } catch (e) {
          console.log(e);

          this.$message({
            title: this.$tt("errors.load_data", 1),
            level: "warning",
            icon: "broken_image",
          });
        }
      });
    },
    async getImages(start = 0, end = this.size) {
      return new Promise(async (done, fail) => {
        try {
          let q = this.images.slice(start, end).map((soruce) => this.getImage(soruce));

          let sources = await Promise.all(q);

          done(sources);
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    async getPreview() {
      let preview = await this.getImages(0, this.size);

      this.src = preview;

      this.$emit("preview-ready", preview);
    },
    async onIntersection(entry) {
      if (!this.images || !this.images.length) return;

      if (this.src && this.src.length) return;

      if (entry.isIntersecting) {
        this.getPreview();
      }
    },
    async showImages() {
      let rest = await this.getImages(this.size, this.images.length);

      let images = [...this.src, ...rest];

      this.$q.dialog({
        component: () => import("./AllImages.vue"),
        parent: this,
        images,
      });
    },
  },
};
</script>
<style lang="scss">
.product-preview {
  &__image {
    transition: opacity ease 0.21s;
    will-change: opacity;

    &:hover {
      opacity: 0.63;
    }
  }
}
</style>
