<template>
  <q-dialog
    :position="$q.screen.xs ? 'bottom' : 'standard'"
    ref="change-address"
    transition-show="jump-up"
    transition-hide="jump-down"
  >
    <q-card class="relative-position">
      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">
            <!-- Изменить адрес назначения -->
            {{ $tt("common.change", 1) }} {{ $tt("common.address", 0, 2) }}
          </h5>
          <app-btn icon="close" color="negative" dense push @click="hide" />
        </div>
      </q-card-section>

      <q-separator />

      <form @submit.prevent="submit" class="modal__content-group">
        <q-card-section>
          <div class="row q-col-gutter-md">
            <div class="col-6">
              <app-select
                :label="$tt('common.country', 1)"
                :value="current_parcel.parcel_country"
                class="q-mb-sm"
                :options="countries"
                option-value="value"
                option-label="label"
                emit-value
                map-options
                @input="changeCountry"
                :loading="loading.countries"
              >
                <template #selected-item="{opt}">
                  {{ opt.label }} <span class="text-muted">&nbsp;({{ opt.value }}) </span>
                </template>
              </app-select>
            </div>
            <div class="col-6">
              <app-select
                :loading="loading.states"
                :label="$tt('common.state', 1)"
                v-model="current_parcel.parcel_state"
                :options="states"
                option-value="code"
                option-label="label"
                map-options
                emit-value
                :disable="!states?.length"
                :error="$v.current_parcel.parcel_state.$error"
              >
                <template #selected-item="{opt}">
                  {{ opt?.label }}
                  <span class="text-muted" v-if="opt">&nbsp;({{ opt?.code }}) </span>
                </template>
              </app-select>
            </div>

            <div class="col-6">
              <app-input
                v-model="current_parcel.parcel_zip"
                :error="$v.current_parcel.parcel_zip.$anyError"
                :label="$tt('common.zip', 1)"
              />
            </div>
            <div class="col-6">
              <app-input
                v-model="current_parcel.parcel_city"
                :error="$v.current_parcel.parcel_city.$anyError"
                :label="$tt('common.city', 1)"
              />
            </div>

            <div class="col-12">
              <app-input
                v-model="current_parcel.parcel_address"
                :error="$v.current_parcel.parcel_address.$anyError"
                :label="$tt('common.address', 1)"
              />
            </div>

            <div class="col-6">
              <app-input
                :error="$v.current_parcel.parcel_receiver.$anyError"
                v-model="current_parcel.parcel_receiver"
                :label="$tt('common.recipient', 1)"
              />
            </div>
            <div class="col-6">
              <app-input
                v-model="current_parcel.parcel_phone"
                :error="$v.current_parcel.parcel_phone.$anyError"
                :label="$tt('common.phone', 1)"
              />
            </div>

            <div class="col-6">
              <app-input v-model="current_parcel.email" label="Email" />
            </div>
            <div class="col-6">
              <app-input
                v-model="current_parcel.parcel_company"
                :label="$tt('common.company', 1)"
              />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <div class="flex-center-between">
            <app-btn @click="hide" :label="$tt('common.cancel')" flat />
            <app-btn
              type="submit"
              class="q-px-md "
              unelevated
              color="primary"
              :label="$tt('common.accept')"
            />
          </div>
        </q-card-section>
      </form>

      <with-loading :state="loading.modal" />
    </q-card>
  </q-dialog>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  props: {
    parcel: Object,
    shipmentId: Number,
  },
  async mounted() {
    this.countries = await this.getCountries();

    this.getStates(this.current_parcel.parcel_country);
  },
  data() {
    return {
      current_parcel: { ...this.parcel },
      loading: {
        modal: false,
        countries: false,
        states: false,
      },
      states: null,
      countries: null,
    };
  },
  methods: {
    show() {
      this.$refs["change-address"].show();
    },
    hide() {
      this.$refs["change-address"].hide();
    },
    async getCountries() {
      try {
        this.loading.countries = true;

        const countries = await this.$store.dispatch("Info/GET_COUNTRIES");

        return countries;
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading.countries = false;
      }
    },
    async submit() {
      let address_data = this.$v.current_parcel;

      address_data.$touch();

      if (address_data.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });
        return;
      }

      let c = await this.$confirm({
        // title: "Действительно хотите изменить адрес назначения для данной посылки ?",
        title: `${this.$t("messages.confirm_action", {
          action: `${this.$tt("common.change")} ${this.$tt("common.address", 0, 2)}`,
        })}`,
      });

      if (!c) return;

      let {
        parcel_receiver: name,
        parcel_country: country,
        parcel_state: state = null,
        parcel_company: company,
        parcel_city: city,
        parcel_address: street,
        parcel_zip: zip,
        parcel_phone: phone,
      } = this.current_parcel;

      const address = {
        name,
        country,
        state,
        company,
        city,
        street,
        zip,
        phone,
        email: this.parcel.parcel_email,
      };

      try {
        this.loading.modal = true;

        const { data: types } = await this.$api.post(
          `/v2/shipping/shipments/${this.shipmentId}/get-carriers`,
          {
            address,
          }
        );

        // ? SHOW CARRIERS

        this.$q
          .dialog({
            parent: this,
            component: () => import("@/components/TypesModal/dialog.vue"),
            types,
          })
          .onOk(async ({ service_id, insurance }) => {
            // ? CONFIRM CARRIER

            await this.submitNewCarrier({
              new_address: address,
              service_id,
              insurance,
            });
          });

      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить тарифы",
        });
      } finally {
        this.loading.modal = false;
      }
    },
    async submitNewCarrier({ new_address, service_id, insurance }) {
      try {
        await this.$api.put(`/v2/shipping/shipments/${this.shipmentId}/update-address`, {
          address: new_address,
          service_id,
          ...(insurance &&
            insurance.id && {
              additional_services: {
                insurance: {
                  id: insurance.id,
                },
              },
            }),
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved", 1),
        });

        this.$emit("ok");

        this.hide();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.modal = false;
      }
    },
    normalizeOptions(opt) {
      return Object.entries(opt).map(([code, label]) => ({ code, label }));
    },
    async getStates(country) {
      if (!country) return;

      try {
        this.loading.states = true;

        let states = await this.$store.dispatch("Info/GET_STATES", country);

        states = Object.entries(states).map(([code, label]) => ({ code, label }));

        this.states = states;
      } catch (e) {
        console.log(e);

        this.$showApiError(e);
      } finally {
        this.loading.states = false;
      }
    },
    changeCountry(country) {
      this.current_parcel.parcel_state = null;
      this.current_parcel.parcel_country = country;
      this.states = null;

      this.getStates(country);
    },
  },
  validations() {
    return {
      current_parcel: {
        parcel_receiver: {
          required,
        },
        parcel_country: {
          required,
        },
        parcel_state: {
          required: requiredIf(() => {
            return !!this.states?.length;
          }),
        },
        parcel_city: {
          required,
        },
        parcel_address: {
          required,
        },
        parcel_zip: {
          required,
        },
        parcel_phone: {
          required,
        },
        // parcel_company: {
        //   required
        // },
      },
    };
  },
};
</script>
