<template>
  <q-dialog position="top" ref="edit-products">
    <q-card style="min-width:700px">
      <with-loading :state="loading" />
      <q-card-section>
        <h5 class="q-ma-none">{{ $tt("common.product", 1, 2) }}: {{ $tt("common.info") }}</h5>
      </q-card-section>
      <!-- <q-card-section> -->
      <app-list :bordered="false" :header="$tt('common.inner')">
        <q-item v-for="(p, idx) in internal_products" :key="idx">
          <q-item-section>
            <q-item-label caption>{{ $tt("common.title", 1) }}</q-item-label>
            <q-item-label>
              {{ p.title }}
            </q-item-label>
            <q-item-label caption>
              <small>{{ p.code }}</small>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <!-- <q-item-label caption></q-item-label> -->
            <q-item-label>
              <app-input
                :error="$v.internal_products.$each.$iter[idx].title_customs_eng.$anyError"
                v-model="p.title_customs_eng"
                :label="`${$tt('common.title', 1)} (EN)`"
                :disable="loading"
              ></app-input>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <!-- <q-item-label caption></q-item-label> -->
            <q-item-label>
              <app-input
                :error="$v.internal_products.$each.$iter[idx].title_customs_ua.$anyError"
                v-model="p.title_customs_ua"
                :label="`${$tt('common.title', 1)} (УКР)`"
                :disable="loading"
              ></app-input>
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label caption>{{ $tt("common.count", 1) }}</q-item-label>
            <q-item-label>
              <div class="text-subtitle1">
                {{ p.quantity }}
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
      <!-- </q-card-section> -->
      <q-separator></q-separator>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn flat :label="$tt('common.cancel')" @click="hide" />
          <app-btn :loading="loading" @click="submit" color="accent">
            {{ $tt("common.accept") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  props: {
    products: Array,
  },
  mounted() {},
  created() {
    this.internal_products = [...this.products];
  },
  data() {
    return {
      internal_products: null,
      loading: false,
    };
  },
  methods: {
    show() {
      this.$refs["edit-products"].show();
    },
    hide() {
      this.$refs["edit-products"].hide();
    },
    saveProducts(products) {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api.put(`warehouse/products`, products);
          done(data);
        } catch (e) {
          fail(e);
        }
      });
    },
    async submit() {
      let products_validator = this.$v.internal_products;

      products_validator.$touch();

      if (products_validator.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });
        return;
      }

      this.loading = true;

      try {
        let normalize_products = this.internal_products.map(
          ({ title_customs_ua, title_customs_eng, id: product_id }) => ({
            title_customs_ua,
            title_customs_eng,
            product_id,
          })
        );

        await this.saveProducts(normalize_products);
        this.$emit("ok", normalize_products);
        this.hide();
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      internal_products: {
        $each: {
          title_customs_eng: { required },
          title_customs_ua: { required },
        },
      },
    };
  },
};
</script>
<style lang="scss"></style>
