<template>
  <div
    class="shipment relative-position bg-white"
    :class="[
      checked && 'shipment--checked',
      ship.is_new && 'shipment--new',
      loading && 'shipment--loading',
    ]"
    transition-hide="fade"
  >
    <with-loading :state="loading || internal_loading" />

    <div class="flex justify-between q-px-md q-py-sm">
      <div
        class="flex items-center no-wrap "
        :class="$q.screen.xs ? 'q-ml-none' : 'q-mr-lg'"
      >
        <q-checkbox @input="checkShipment" v-model="checked" />

        <div class="flex" :class="$q.screen.xs && 'column items-start'">
          <!-- @click="$router.push({ query: { page: 1, type: ship.type_code } })"
            :square="false" -->
          <q-chip clickable :class="[getTypeColor(ship.type_code), 'text-weight-bold']">
            {{ ship.type }}
          </q-chip>
          <!-- clickable
            @click="$router.push({ query: { page: 1, status: ship.status_code } })" -->
          <q-chip
            :square="false"
            :class="[getStatusColor(ship.status_code), 'text-weight-bold']"
          >
            {{ ship.status }}
          </q-chip>
        </div>
      </div>
      <div :class="$q.screen.xs && 'full-width'" class="flex items-center justify-end">
        <div
          class="flex items-center q-mr-lg q-gutter-x-sm"
          v-show="!$q.screen.xs && !$q.screen.sm && !$q.screen.md"
        >
          <div class="flex items-center">
            <span class="q-mr-sm text-grey-8 fz-11">
              {{ $tt("common.created_at", 1) }}
            </span>
            <b>{{ ship.date }}</b>
          </div>
          <div class="fz-10 text-grey">
            /
          </div>
          <div class="flex items-center" v-if="ship.cost">
            <span class="q-mr-sm text-grey-8 fz-11">{{ $tt("common.cost", 1) }}</span>
            <b>{{ $toUSD(ship.cost) }}</b>
          </div>
          <div v-if="ship.cost" class="fz-10 text-grey">
            /
          </div>
          <div class="flex items-center">
            <span class="q-mr-sm text-grey-8 fz-11">
              {{ $tt("common.weight", 1) }}
            </span>
            <b>{{ ship.weight }} кг</b>
          </div>
        </div>

        <app-btn
          icon="more_horiz"
          size="12px"
          :round="!$q.screen.xs"
          color="accent"
          unelevated
          class="q-ml-sm"
          :class="$q.screen.xs && 'q-my-sm  block full-width'"
          :label="$q.screen.xs ? $tt('common.shipment') : null"
        >
          <q-menu>
            <q-list style="min-width:210px">
              <div>
                <q-item clickable v-if="ship.type_code === 'svh'">
                  <q-item-section side>
                    <q-item-label>
                      🏷️
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <!-- Получить стикеры -->
                      {{ $tt("common.get", 1) }} {{ $tt("common.stickers", 0, 2) }}
                    </q-item-label>
                    <q-item-label caption>
                      {{ $tt("common.warehouse") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-icon name="chevron_right" size="14px"></q-icon>
                  </q-item-section>
                  <q-menu anchor="top start" self="top end">
                    <q-list separator>
                      <q-item-label header>
                        <small class="text-muted block" style="min-width:140px">
                          {{ $tt("common.stickers_format", 1) }}
                        </small>
                      </q-item-label>
                      <q-item
                        clickable
                        v-close-popup
                        v-for="f in [
                          {
                            label: 'A4',
                            value: 'A4',
                          },
                          {
                            label: 'A5',
                            value: 'A5',
                          },
                          {
                            value: 'thermal',
                            label: 'Термопринтер',
                          },
                        ]"
                        :key="f.label"
                        @click="getStickers(ship.id, f.value)"
                      >
                        <q-item-section>
                          {{ f.label }}
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-item>
              </div>

              <q-item
                v-if="false"
                v-show="
                  ship.parcels[0].parcel_track_destination &&
                    ship.parcels[0].parcel_country === 'US' &&
                    (ship.type_code === 'consolidation' ||
                      ship.type_code === 'consolidation_usa' ||
                      ship.type_code === 'usa_domestic' ||
                      ship.type_code === 'direct')
                "
                clickable
                :to="`/shipments/create?return_id=${ship.id}`"
              >
                <q-item-section>
                  <q-item-label> {{ $tt("common.returned", 1) }} Label </q-item-label>
                </q-item-section>
              </q-item>
              <q-item
                v-if="
                  $store.getters['auth/enable_customer_dhl'] &&
                    ship.type_code !== 'postcard'
                "
                clickable
                @click="createDHL"
              >
                <q-item-section side>
                  <q-item-label>
                    📄
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.create", 1) }} DHL {{ $tt("common.document", 0, 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                v-show="
                  ship.parcels[0].parcel_track_destination &&
                    ship.parcels[0].parcel_country === 'US' &&
                    (ship.type_code === 'consolidation' ||
                      ship.type_code === 'consolidation_usa' ||
                      ship.type_code === 'usa_domestic' ||
                      ship.type_code === 'direct')
                "
                clickable
                :to="`/shipments/create?return_id=${ship.id}`"
              >
                <q-item-section side>
                  <q-item-label>
                    🔙
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <!-- Возвратная Label -->
                    {{ $tt("common.returned", 1) }} Label
                  </q-item-label>
                </q-item-section>
              </q-item>

              <div v-if="ship.type_code == 'return_label'">
                <q-item
                  clickable
                  v-close-popup
                  v-if="!ship.parcels[0].parcel_track_destination"
                  @click="getReturnLabel"
                  :disable="!!ship.parcels[0].parcel_warning"
                >
                  <q-item-section side>
                    <q-item-label>
                      📄
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <!-- Запустить создание возвратной лейбы -->
                      {{ $tt("common.returned", 1) }} label: {{ $tt("common.create") }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>

              <q-item clickable v-close-popup @click="getLabel">
                <q-item-section side>
                  <q-item-label>
                    💾
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <!-- Загрузить документы -->
                    {{ $tt("common.download", 1) }} {{ $tt("common.document", 0, 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable disable>
                <q-item-section side>
                  <q-item-label>
                    🔄
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.recreate_douments") }} USPS/UPS
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                v-if="
                  $store.state.auth.user.vars?.CUSTOMER_USPS_ENABLE === '1' ||
                    $store.state.auth.user.vars?.CUSTOMER_DHL_ENABLE === '1'
                "
                :disable="!ship.parcels[0].parcel_track_destination"
                v-close-popup
                clickable
                @click="getShipmentDocuments"
              >
                <q-item-section side>
                  <q-item-label>
                    📄
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <!-- Получить документы -->
                    {{ $tt("common.get", 1) }} {{ $tt("common.document", 0, 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />

              <q-item
                @click="changeAddress"
                clickable
                v-ripple
                v-close-popup
                :disable="!ship.parcels[0].is_address_editable"
              >
                <q-item-section side>
                  <q-item-label>
                    🏚️
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <!-- Изменить адрес -->
                    {{ $tt("common.change", 1) }} {{ $tt("common.address", 0, 2) }}
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon
                    v-show="!ship.parcels[0].is_address_editable"
                    name="lock"
                    size="13px"
                  />
                </q-item-section>
              </q-item>

              <q-item
                clickable
                v-close-popup
                @click="delShipment"
                :disable="!canDeleteShipment"
              >
                <q-item-section side>
                  <q-item-label>
                    🗑️
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label class="text-negative flex-center-between">
                    <!-- Удалить отправку -->
                    {{ $tt("common.delete", 1) }}
                    <q-icon v-show="!canDeleteShipment" class="q-ml-md" name="lock" />
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
        <!-- </div> -->
      </div>
      <div
        class="flex full-width q-mt-sm"
        v-show="$q.screen.xs || $q.screen.sm || $q.screen.md"
        :class="$q.screen.xs ? 'column items-start' : 'items-center justify-between '"
      >
        <div class="flex items-center" :class="$q.screen.xs && 'justify-between'">
          <span class="q-mr-sm text-grey-7">
            {{ $tt("common.created_at") }}
          </span>
          <b>{{ ship.date }}</b>
        </div>
        <div class="flex items-center" :class="$q.screen.xs && 'justify-between'">
          <span class="q-mr-sm text-grey-7">{{ $tt("common.cost", 1) }}</span>

          <b>{{ $toUSD(ship.cost) }}</b>
        </div>
        <div class="flex items-center" :class="$q.screen.xs && 'justify-between'">
          <span class="q-mr-sm text-grey-7">
            {{ $tt("common.weight") }}
          </span>
          <b>{{ ship.weight }} кг</b>
        </div>
      </div>
    </div>

    <q-separator />

    <div
      class="q-px-lg q-pt-lg q-pb-n"
      v-if="ship.status_code === 'customer_created' || ship.track_ua"
      v-show="ship.type_code !== 'return_label'"
    >
      <div v-if="ship.status_code === 'customer_created'">
        <div class="row q-col-gutter-md">
          <div class="col col-xs-12">
            <app-input
              :dense="false"
              v-model.trim="new_track"
              :label="`${$tt('common.track_number', 1)} / номер ${$tt('common.ttn')}`"
              style="flex-shrink: 0; flex-grow: 1"
            >
              <template #append>
                <app-btn
                  :label="`${$tt('common.add', 1)} ${$tt('common.track_number')}`"
                  @click="addTrack"
                  :disable="!new_track || !new_track.length"
                  :flat="!new_track || !new_track.length"
                  class="text-weight-bold"
                  color="primary"
                  unelevated
                  size="12px"
                  style="padding-top:6px;padding-bottom:6px;"
                />
              </template>
            </app-input>
          </div>
          <!-- <div class="col-auto col-xs-12">
            
          </div> -->
        </div>
      </div>
      <div v-else-if="ship.track_ua">
        <app-input
          class="font-500"
          :dense="false"
          v-model="ship.track_ua"
          :label="$tt('common.track_number', 1)"
          readonly
          style="flex-shrink: 0; flex-grow: 1"
        />
      </div>
    </div>

    <div
      class="shipment__parcels flex-center-between no-wrap"
      v-if="ship.parcels && ship.parcels[0]"
    >
      <ShipmentParcel
        :key="ship.parcels[0].parcel_id"
        :is-new="ship.is_new || false"
        :parcel="ship.parcels[0]"
        @change-address="(parcel) => $emit('parcel-change-address', parcel)"
        @set-loading="(state) => $emit('set-item-loading', state)"
        @get-doc="(isSticker) => $emit('get-doc', isSticker)"
        :shipment-id="ship.id"
        :shipment-type="ship.type_code"
      ></ShipmentParcel>
    </div>
  </div>
</template>

<script>
import ShipmentParcel from "./Parcel/index";

export default {
  name: "ShippingItem",
  components: {
    ShipmentParcel,
  },
  props: {
    ship: Object,
    stickerFormat: String,
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      new_track: null,
      internal_loading: this.loading || false,
      checked: false,
    };
  },
  computed: {
    canDeleteShipment() {
      if (
        this.ship.type_code === "postcard" &&
        this.ship.status_code === "customer_created"
      ) {
        return true;
      }

      if (
        this.ship.type_code === "return_label" &&
        !this.ship.parcels[0].parcel_track_destination
      ) {
        return true;
      }

      let noParcelsWithTrack = !this.ship.parcels.find(
        (p) => p.parcel_track_destination || p.parcel_track_transit
      );

      if (noParcelsWithTrack) {
        if (
          this.ship.type_code === "consolidation" ||
          this.ship.type_code === "consolidation_usa" ||
          this.ship.type_code === "direct" ||
          this.ship.type_code === "direct_usa_less_1kg" ||
          this.ship.type_code === "client_bulk"
        ) {
          return (
            this.ship.status_code === "customer_created" ||
            this.ship.status_code === "customer_sent"
          );
        }
        if (this.ship.type_code === "usa_domestic") {
          return (
            this.ship.status_code === "svh_process" &&
            this.ship.parcels.length === 1 &&
            this.ship.parcels[0].is_deletable
          );
        }
        return false;
      } else {
        if (this.ship.type_code === "svh") {
          return (
            this.ship.status_code === "customer_created" ||
            this.ship.status_code === "customer_sent"
          );
        }

        return false;
      }
    },
  },
  methods: {
    getTypeColor(type) {
      return TYPES_COLORS_MAP[type];
    },
    getStatusColor(status) {
      return STATUSES_COLORS_MAP[status];
    },
    async addTrack() {
      const AlphaNumeric = (val) => {
        return val.replace(/[^a-z0-9]/gi, "");
      };

      try {
        this.internal_loading = true;

        await this.$api.post(`/shipping/shipment/add_track`, {
          shipment_id: this.ship.id,
          track: AlphaNumeric(this.new_track.toString().trim()),
        });

        this.$message(
          {
            title: "ТТН добавлен",
            level: "success",
          },
          1000
        );

        this.$emit("updated");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.internal_loading = false;
      }
    },
    async delShipment() {
      let c = await this.$confirm({
        level: "danger",
        title: `${this.$t("messages.confirm_action", {
          action: this.$tt("common.delete") + " " + this.$tt("common.shipment", 0, 3),
        })}`,
        message: this.$tt("messages.uncancelled_action"),
      });

      if (!c) return;

      try {
        this.internal_loading = true;

        await this.$store.dispatch("Shipments/SHIPMENT_REMOVE", this.ship.id);

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved"),
        });
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.internal_loading = false;
      }
    },
    async getStickers(shipment_id, print_format) {
      this.internal_loading = true;

      try {
        let data = await this.$store.dispatch("Shipments/GET_WAREHOUSE_STICKERS", {
          shipment_id,
          print_format,
        });

        let blob = new Blob([data]);
        let ext = print_format === "thermal" ? "pdf" : "html";
        let filename = `warehouse-stickers-${new Date().getTime()}.${ext}`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          const link = document.createElement("a");
          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.internal_loading = false;
      }
    },

    checkShipment(checked, event) {
      this.$store.commit("Shipments/UPADTE_CHECKED", {
        shipment: this.ship,
        checked,
      });
    },
    changeAddress() {
      this.$q
        .dialog({
          parent: this,
          component: () => import("./ChangeAddressDialog.vue"),
          parcel: this.ship.parcels[0],
          shipmentId: this.ship.id,
          parent: this,
        })
        .onDismiss(() => {
          // this.$store.dispatch("Shipments/GET_SHIPMENTS");
          this.$router.push({ query: this.$route.query }).catch(() => {});
        });
    },
    async getShipmentDocuments() {
      this.$emit("get-doc");
    },
    // !!!!!!!!!!!
    // !! NEW: !!
    // !!!!!!!!!
    prepareParcelProducts() {
      return new Promise(async (done, fail) => {
        const products = await this.$store.dispatch(
          "Shipments/GET_PARCEL_PRODUCTS",
          this.ship.parcels[0].parcel_id
        );

        let valid_products = products.every(
          (p) => !!p.title_customs_eng || !!p.title_customs_ua
        );

        if (valid_products) {
          done(true);
        } else {
          this.$message({
            title: this.$tt("messages.all_products_must_be_valid"),
            level: "info",
            icon: "info",
          });

          try {
            this.$q
              .dialog({
                parent: this,
                component: () => import("./EditProducts.vue"),
                products,
              })
              .onOk(async () => {
                done(true);
              })
              .onCancel(() => {
                // TODO: HANDLE CANCEL EDIT PRODUCTS
                fail(new Error("Операция отменена"));
              });
          } catch (e) {
            fail(false);
          }
        }
      });
    },
    async createUSPS() {
      try {
        this.internal_loading = true;

        const validate_products = await this.prepareParcelProducts();

        if (!validate_products) {
          return;
        }

        const { message: title } = await this.$store.dispatch(
          "Shipments/CREATE_CONSOLIDATION_LABEL",
          this.ship.id
        );

        this.$alert({ title, level: "success", closeText: "продолжить" });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.internal_loading = false;
      }
    },
    async getLabel() {
      try {
        this.internal_loading = true;

        const data = await this.$store.dispatch(
          "Shipments/GET_SHIPMENT_LABEL",
          this.ship.id
        );
        //
        //
        //
        //
        //
        let blob = new Blob([data]);
        let filename = `label-${this.ship.id}-${new Date().getTime()}.pdf`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          const link = document.createElement("a");
          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.internal_loading = false;
      }
    },
    async getReturnLabel() {
      try {
        this.internal_loading = true;

        let shipment_id = this.ship.id;

        const {
          data: { message: title },
        } = await this.$api.post(`/shipping/label/consolidation/`, {
          shipment_id,
        });

        this.$message({
          title,
          level: "success",
        });
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.internal_loading = false;
      }
    },
    async createDHL() {
      this.$router.push({
        name: "PROCESS_SHIPMENTS",
        params: { shipments: [this.ship] },
        query: { action: "create_dhl" },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.shipment {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(9, 9, 16, var(--text-opacity)) !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
  position: relative !important;
  transition: border-color ease 0.21s, background-color ease 0.21s, box-shadow ease 0.21s;
  overflow: hidden;

  &__parcels {
    // padding: 21px 14px;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }

  &--checked {
    border: 1px solid $primary;
    box-shadow: 0 0 0px 4px rgba($primary, 0.35);
    background-color: rgba($primary, 0.042) !important;
  }

  .q-chip {
    font-size: 13px;
  }

  &:before {
    display: none;
  }

  &--loading {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#fff, 0.7);
      z-index: 3;
    }
  }
}
</style>
