<template>
  <PageContainer :title="$tt('nav.buys.my_parcels.title')">
    <div class="container q-mb-lg">
      <div class="flex-center-between">
        <app-pagination unelevated v-model="human_page" :max="total_pages || 1" push />
        <div class="flex items-center no-wrap q-gutter-x-md">
          <small class="text-muted"> {{ $tt("common.total") }} {{ total_count || 0 }} </small>
          <app-select
            :options="[20, 35, 50, 75, 100]"
            v-model="filter.on_page"
            style="min-width:120px"
            :label="$tt('common.on_page', 1)"
          ></app-select>
        </div>
      </div>
      <app-table-list
        :loading="loading"
        :colspan="7"
        :header="$tt('pages.new_buy.ready_parcels')"
        :empty="(!parcels || !parcels.length) && $tt('errors.no_data', 1)"
      >
        <template #thead>
          <tr>
            <th side>
              {{ $tt("common.parcel_number", 1) }}
            </th>
            <th>{{ $tt("common.address", 1) }}</th>
            <th class="text-right">
              {{ $tt("common.delivery", 1, 1) }}
            </th>
            <th>
              {{ $tt("common.status", 1) }}
            </th>
            <th style="width:280px">
              {{ $tt("common.track_number", 1) }}
              <!-- Трек-номер -->
            </th>
            <th side></th>
          </tr>
        </template>

        <tr v-for="p in parcels" :key="p.parcel_id">
          <td side>
            {{ p.parcel_id }}
          </td>
          <td style="width:280px;white-space:normal;font-size:12px;">
            {{ p.address }}
          </td>
          <td class="text-right">
            <div class="font-500">
              {{ $toUSD(p.parcel_cost) }}
            </div>
          </td>

          <td>
            <app-badge :level="transformStatus(p.status_key).level">
              {{ transformStatus(p.status_key).text }}
            </app-badge>
          </td>
          <td style="white-space: normal;">
            <app-badge
              color="grey-4"
              text-color="grey-9"
              class="q-mb-xs"
              size="12px"
              v-if="p.shipping_method"
            >
              {{ $capitalize(p.shipping_method) }}
            </app-badge>
            <div v-if="p.parcel_track_number">
              {{ p.parcel_track_number }}
            </div>
            <small v-else class="text-muted">
              {{ $tt("errors.not_specified") }}
            </small>
          </td>
          <!-- <td class="text-right">
            <small class="text-muted">нет информации</small>
          </td> -->
          <td side>
            <app-btn size="12px">
              {{ $tt("common.inner", 1) }}

              <q-menu>
                <app-list
                  :header="
                    `${$tt('common.inner', 1)} ${$tt('common.parcel', 0, 2)} № ${p.parcel_id}`
                  "
                  style="max-width:770px"
                >
                  <q-item v-for="item in p.content" :key="item.order_id">
                    <q-item-section top avatar>
                      <q-item-label>
                        <small class="text-muted">
                          <!-- Номер заказа в магазине -->
                          {{ $tt("common.order_number", 1) }}
                        </small>
                      </q-item-label>
                      <q-item-label>
                        {{ item.order_shop_id }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section top avatar>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("common.int_order_number", 1) }}
                        </small>
                      </q-item-label>
                      <q-item-label>
                        {{ item.order_id }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section top>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("common.shop", 1) }}
                        </small>
                      </q-item-label>
                      <q-item-label
                        v-if="
                          item.order_shop_place &&
                            item.order_shop_place.length &&
                            item.order_shop_place.indexOf('http') > -1
                        "
                      >
                        <a target="_blank" :href="item.order_shop_place" class="link">
                          {{ $tt("common.go_to") }}
                        </a>
                      </q-item-label>
                      <q-item-label v-else>
                        {{ item.order_shop_place }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section top>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("common.title", 1) }}
                        </small>
                      </q-item-label>
                      <q-item-label>
                        {{ item.order_shop_title }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section top avatar class="text-right">
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("common.cost", 1) }}
                        </small>
                      </q-item-label>
                      <q-item-label>
                        {{ $toUSD(+item.order_summ) }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </app-list>
              </q-menu>
            </app-btn>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>

<script>
export default {
  async created() {
    let { page = 0, on_page = 20 } = this.normalizeParams(this.$route.query);

    this.filter.page = page;
    this.filter.on_page = on_page;

    await this.getParcels(this.filter);
  },
  data() {
    return {
      parcels: null,
      filter: {
        page: 0,
        on_page: 20,
      },
      loading: false,
      total_count: null,
    };
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (this.total_count && Math.ceil(this.total_count / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "filter.page"(page) {
      this.getParcels({ ...this.normalizeParams(this.filter), page });
    },
    "filter.on_page"(on_page) {
      this.getParcels({ ...this.normalizeParams(this.filter), on_page, page: 0 });
    },
  },
  methods: {
    normalizeParams(params = this.filter) {
      let f = {};

      Object.entries(params).forEach(([k, v]) => {
        if (k === "page" || k === "on_page") {
          f[k] = +v;
        } else if (v !== null && v !== undefined) {
          f[k] = v;
        }
      });

      return f;
    },
    async getParcels(params = this.filter) {
      try {
        this.loading = true;

        let $params = this.normalizeParams(params);

        let {
          data: { parcels, total },
        } = await this.$api({
          url: `/buy/parcel`,
          params: $params,
        });

        this.total_count = total;
        this.parcels = parcels;

        this.$router.push({ query: $params });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    transformStatus(code) {
      switch (code) {
        case "ACCEPTED":
          return { text: this.$tt("pages.new_buy.statuses.accepted", 1), level: "positive" };
        case "INCOMING":
          return { text: this.$tt("pages.new_buy.statuses.incoming", 1), level: "primary" };
        case "MONEY_COME":
          return { text: this.$tt("pages.new_buy.statuses.money_come", 1), level: "positive" };
        case "READY2SEND":
          return { text: this.$tt("pages.new_buy.statuses.ready2send", 1), level: "positive" };
        case "PARCEL":
          return { text: this.$tt("pages.new_buy.statuses.parcel", 1), level: "positive" };
        case "VERIFIED":
          return { text: this.$tt("pages.new_buy.statuses.verified", 1), level: "info" };
        case "IN_USA":
          return { text: this.$tt("pages.new_buy.statuses.in_usa", 1), level: "positive" };
        case "PAYED":
          return { text: this.$tt("pages.new_buy.statuses.payed", 1), level: "positive" };
        case "ERROR":
          return { text: this.$tt("pages.new_buy.statuses.error", 1), level: "negative" };
        case "CANCELLED":
          return { text: this.$tt("pages.new_buy.statuses.cancelled", 1), level: "negative" };
        case "REFUNDED":
          return { text: this.$tt("pages.new_buy.statuses.refunded", 1), level: "warning" };
        case "PARTREFUND":
          return { text: this.$tt("pages.new_buy.statuses.partrefund", 1), level: "warning" };
        case "HOLD":
          return { text: this.$tt("pages.new_buy.statuses.hold", 1), level: "negative" };
        case "SENT":
          return { text: this.$tt("pages.new_buy.statuses.sent", 1), level: "positive" };
        case "UNLOCKED":
          return { text: this.$tt("pages.new_buy.statuses.unlocked", 1), level: "positive" };
        case "WAIT_PAY":
          return { text: this.$tt("pages.new_buy.statuses.wait_pay", 1), level: "info" };
        case "TRANSFER":
          return { text: this.$tt("pages.new_buy.statuses.transfer", 1), level: "info" };
        case "HOLD_LEGAL":
          return { text: this.$tt("pages.new_buy.statuses.hold_legal", 1), level: "warning" };

        default:
          return { text: code, level: "grey" };
      }
    },
  },
};
</script>
