<template>
  <div class="parcel-inner">
    <q-expansion-item
      v-model="show_products_templates"
      class="q-mb-md"
      header-class="bg-grey-3 text-grey-7 font-500"
      expand-icon-class="text-grey-7"
      v-if="shippingType === 'svh'"
    >
      <template #header>
        <!-- <q-item clickable @click="toggle" class="full-width"> -->
        <q-item-section>
          <q-item-label>
            <div class="full-width flex items-center">
              <q-icon size="24px" name="new_releases" class="q-mr-sm"></q-icon>

              <div>
                Добавление товаров из шаблонов
              </div>
            </div>
          </q-item-label>
        </q-item-section>
      </template>

      <q-list class="bg-grey-1">
        <q-item tag="label" clickable class="q-py-md">
          <q-item-section side>
            <q-item-label>
              1.
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="q-mb-xs text-grey-7">
              Скачайте шаблон:
            </q-item-label>
            <q-item-label>
              <app-btn
                size="11px"
                padding="7px 11px"
                @click="downloadInnerTemplate"
                class=" bg-blue-8 text-white"
              >
                {{ $tt("common.download", 1) }}
                {{ $tt("common.template", 1) }}
              </app-btn>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="q-py-md">
          <q-item-section side>
            <q-item-label>
              2.
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <div class="font-500 flex items-center">
                Откройте файл и заполните шаблон
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" clickable class="q-py-md">
          <q-item-section side>
            <q-item-label>
              3.
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="q-mb-xs text-grey-7">
              Загрузите подготовленный файл:
            </q-item-label>
            <q-item-label>
              <input
                @change="uploadInnerTemplate"
                hidden
                type="file"
                ref="ready-products-template"
              />
              <app-btn size="11px" padding="7px 11px" @click="pickInnerTemplate" color="positive">
                {{ $tt("common.load", 1) }}
                готовый
                {{ $tt("common.file", 1) }}
              </app-btn>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-expansion-item>

    <app-table-list
      :loading="loading"
      :header="$tt('pages.shipments.messages.inner_products_title')"
      :error="error"
      :empty="
        (!parcel_inner || !parcel_inner.length) && $tt('pages.shipments.messages.add_product_help')
      "
      :colspan="6"
    >
      <template #actions v-if="shippingType === 'svh'">
        <div class="flex items-center q-gutter-x-sm">
          <app-btn size="10px" padding="7px 11px" @click="pickInnerTemplate" color="positive">
            {{ $tt("common.load", 1) }}
            <!-- {{ $tt("common.file", 1) }} -->
            {{ $tt("common.template", 1) }}
            с товарами
          </app-btn>
          <q-btn
            icon="help_outline"
            flat
            color="grey-7"
            size="10px"
            padding="7px 11px"
            @click="show_products_templates = !show_products_templates"
          ></q-btn>
        </div>
      </template>

      <template #thead>
        <tr>
          <th></th>
          <th class="text-left">
            {{ $tt("common.code", 1) }}
          </th>
          <th class="text-left">
            <!-- <div v-if="row && row.preview">
              {{ row.preview }}
            </div> -->
            {{ $tt("common.title", 1) }}
          </th>
          <th class="text-center">{{ $tt("common.count", 1) }}</th>
          <th class="text-right">
            {{ $tt("pages.new_buy.unit_cost", 1) }}
          </th>
          <th width="160px" class="text-right">{{ $tt("common.summ", 1) }}</th>
        </tr>
      </template>

      <tr class="products-row" v-for="row in parcel_inner" :key="row.product_id">
        <td width="42">
          <app-btn
            icon="close"
            color="red"
            @click="removeItem(row.product_id)"
            size="12px"
            flat
            round
          />
        </td>
        <td>
          <small class="text-muted">
            {{ row.code_internal }}
          </small>
          {{ row.code }}
        </td>
        <td style="white-space:normal">
          <div class="flex items-center">
            <div v-if="shippingType === 'svh' || shippingType === 'usa_domestic'" class="q-mr-sm">
              <RowImages :id="row.product_id" :files="row.files" />
            </div>
            <div>
              <div class="font-500">
                {{ row.title }}
              </div>
              <div class="fz-12 text-grey-7" v-if="row.uktved">
                {{ row.uktved.code }}
              </div>
            </div>
          </div>
        </td>
        <td class="text-center">
          <Counter
            :key="`counter-${row.product_id}`"
            v-model.number="row.count"
            :max="shippingType === 'usa_domestic' && row.product_quantity"
            size="10px"
          />
        </td>
        <td class="text-right">
          {{ $toUSD(row.cost) }}
        </td>
        <td class="text-right">
          <b>
            {{ $toUSD(row.count * row.cost) }}
          </b>
        </td>
      </tr>
    </app-table-list>

    <div class="q-mt-lg">
      <div class="flex-center-between" v-if="!$root.return_label_id">
        <div class="text-grey">
          <!-- Стоимость товаров в посылке -->
          {{ $tt("common.product_cost", 1, 2) }}
        </div>
        <div style="font-size:21px;font-weight:500;" class="text-grey-8">
          {{ $toUSD(customs_cost) }}
        </div>
      </div>
      <div class="flex-center-between" v-if="$parent.order_sum">
        <div class="text-grey">
          {{ $tt("common.order_cost") }}
        </div>
        <div style="font-size:17px">
          {{ $toUSD($parent.order_sum) }}
        </div>
      </div>

      <app-banner
        level="warning"
        v-if="customs_cost > 200 && !$root.return_label_id"
        class="q-mt-md"
        icon="warning"
        close
      >
        {{ $tt("pages.shipments.messages.customs_cost_warning") }}
      </app-banner>
    </div>
  </div>
</template>

<script>
import Counter from "@/components/Counter";
import RowImages from "./RowImages.vue";

export default {
  name: "ParcelInnerList",
  components: {
    RowImages,
    Counter,
  },
  props: {
    parcel_inner: {
      type: Array,
      default: () => [],
    },
    shippingType: String,
    error: [Boolean, String],
    addProduct: Function,
    clearInner: Function,
  },
  computed: {
    customs_cost() {
      let r = 0;

      this.parcel_inner.forEach((prod) => {
        r += prod.cost * prod.count;
      });

      this.$parent.inner_customs_cost = r;

      return r;
    },
  },
  data() {
    return {
      loading: false,
      show_products_templates: false,
    };
  },
  watch: {
    parcel_inner() {
      this.$emit("change", this.customs_cost);
    },
  },
  methods: {
    removeItem(pid) {
      this.$emit("remove-item", pid);
    },
    async downloadInnerTemplate() {
      try {
        this.loading = true;

        let { data: blob } = await this.$api.get(`/v2/shipping/upload-item-list/template`, {
          responseType: "blob",
        });

        let filename = "upload-items-list";

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          let url = URL.createObjectURL(blob);

          const link = document.createElement("a");

          if (link.download !== undefined) {
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.setAttribute("id", "document-download-link");
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
          }
        }

        console.log("data:", data);
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    pickInnerTemplate() {
      let input = this.$refs["ready-products-template"];

      input.click();
    },
    async uploadInnerTemplate(e) {
      if (this.parcel_inner && this.parcel_inner.length) {
        let c = await this.$confirm({
          title:
            "Ранее добавленные товары будут заменены товарами из шаблона, всё-равно хотите продолжить ?",
          level: "warning",
        });

        if (!c) {
          this.$message({ title: "cancelled" });
          return;
        }

        this.clearInner();
      }

      let file = e.target.files || null;

      file = Array.from(file)[0];

      let fd = new FormData();

      fd.append("file", file);

      try {
        this.loading = true;

        let {
          data: { errors, products },
        } = await this.$api.post(`/v2/shipping/upload-item-list`, fd);

        let input = this.$refs["ready-products-template"];

        input.value = null;

        if (products && products.length) {
          if (errors && errors.length) {
            this.$alert({
              title: errors.join("<br />"),
              level: "warning",
              message: `${this.$tt("common.product", 1, 2)} - ${products.length}`,
              actions: [
                {
                  label: this.$tt("common.terminate"),
                  action: () => {
                    return;
                  },
                },

                {
                  label:
                    this.$tt("common.anyway") +
                    " " +
                    this.$tt("common.continue") +
                    " " +
                    this.$tt("common.import"),
                  color: "positive",
                  action: () => {
                    products.forEach((product) => {
                      this.addProduct(product);
                    });
                  },
                },
              ],
            });
          } else {
            products.forEach((product) => {
              this.addProduct(product);
            });
          }
        } else {
          this.$alert({
            title: this.$tt("errors.load_data"),
            level: "warning",
          });
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_changes", 1) });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.parcel-inner {
  color: #444;

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    line-height: 1;

    &-value {
      font-size: 24px;
      font-weight: 400;
      color: #444;
    }
  }

  .del-inner-item {
    font-size: 11px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.4;
    vertical-align: middle;
  }

  &__product {
    &-cost {
      font-weight: 500;
      font-size: 13px;
    }
  }
}
</style>
