<template>
  <div class="product-media flex items-center">
    <div v-if="images && images.length" class="flex items-center">
      <div class="flex q-gutter-x-xs">
        <q-img
          spinner-size="14px"
          spinner-color="white"
          v-for="(f, idx) in images"
          class="bg-grey-3 rounded-borders cursor-pointer product-media__image"
          :key="idx"
          height="42px"
          width="42px"
          cover
          :src="f"
          @click="openMedia(f)"
        ></q-img>
      </div>
      <small
        v-show="!loading && files.length !== images.length"
        @click="loadAll"
        class="text-grey-7 cursor-pointer q-ml-sm product-media__load"
      >
        ещё <b>{{ turncated_length }}</b>
      </small>
    </div>
    <div style="width:42px;height:42px" v-else class="flex-center rounded-borders bg-grey-2" v-once>
      <q-icon name="image" size="16px" color="grey-5"></q-icon>
    </div>

    <q-spinner-ios v-if="loading" class="q-ml-xs" size="14px"></q-spinner-ios>
  </div>
</template>
<script>
export default {
  props: { files: [Array, null, undefined], id: Number },
  mounted() {
    this.loadImages();
  },
  data() {
    return {
      images: [],
      size: 2,
      loading: false,
    };
  },
  computed: {
    turncated_length() {
      return this.files.length - this.size;
    },
  },
  methods: {
    async loadImages(start = 0, end = this.size) {
      try {
        this.loading = true;

        let q = this.files.slice(start, end).map((f) =>
          this.$api({
            method: "GET",
            url: `/v2/products/${this.id}/files/${f}`,
            responseType: "blob",
          })
        );

        let images = await Promise.all(q);

        this.images.push(...images.map(({ data }) => URL.createObjectURL(data)));
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    loadAll() {
      this.loadImages(this.size, this.files.length);
    },
    openMedia(img) {
      var newTab = window.open();
      newTab.document.body.innerHTML = `
        <img src='${img}' width='100%' />
      `;
    },
  },
};
</script>
<style lang="scss">
.product-media {
  &__image {
    transition: opacity ease 0.21s;

    &:hover {
      opacity: 0.77;
    }
  }

  &__load {
    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
