<template>
  <div class="page-loading">
    <div class="page-loading__bar"></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $red;
  }
}
</style>
