<template>
  <q-dialog position="top" ref="add-address">
    <q-card class="relative-position" style="width:777px">
      <with-loading :state="loading.modal" />

      <q-card-section>
        <h5 v-if="type === 'warehouse'" class="q-ma-none">Добавить отделение "Новая Почта"</h5>
        <h5 v-else class="q-ma-none">Добавить адрес для забора посылки</h5>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <app-select
          @filter="getCities"
          v-model="city"
          :option-value="(city) => city && city.id"
          :option-label="(city) => city && city.title"
          emit-value
          map-options
          :input-debounce="1000"
          :dense="false"
          label="Город"
          use-input
          :options="cities"
          :loading="loading.cities"
          :error="$v.city.$anyError"
        >
          <template #no-option>
            <q-item>
              <q-item-section>
                <small class="text-label">
                  {{ $tt("errors.no_data", 1) }}
                </small>
              </q-item-section>
            </q-item>
          </template>
        </app-select>
      </q-card-section>
      <q-separator></q-separator>
      <q-slide-transition>
        <q-card-section v-if="type === 'warehouse' && city">
          <app-select
            :label="$tt('common.department', 1)"
            :placeholder="`${$tt('common.pick', 1)} ${$tt('common.department')}`"
            :dense="false"
            :options="warehouses"
            v-model="warehouse"
            :option-label="(wh) => wh && wh.title"
            :loading="loading.warehouses"
            :error="$v.warehouse.$anyError"
          ></app-select>
        </q-card-section>
      </q-slide-transition>

      <q-slide-transition>
        <q-card-section v-if="type === 'address' && city">
          <app-select
            :label="$tt('common.street', 1)"
            placeholder="Начинайте вводить название улицы"
            @filter="getStreets"
            :option-value="(street) => street && street.id"
            :option-label="(street) => street && street.title"
            emit-value
            map-options
            :input-debounce="1000"
            :dense="false"
            use-input
            :options="streets"
            :loading="loading.streets"
            v-model="street"
            :error="$v.street.$anyError"
          ></app-select>
        </q-card-section>
      </q-slide-transition>
      <q-slide-transition>
        <q-card-section v-if="street">
          <div class="flex q-col-gutter-md">
            <app-input v-model="address.building" :error="$v.address.building.$anyError" label="Номер дома"></app-input>
            <app-input v-model="address.flat" :error="$v.address.flat.$anyError" label="Квартира" />
          </div>
          <div class="q-mt-md">
            <app-input
              :label="$tt('common.comment', 1)"
              placeholder="Например: склад в г. Киев"
              rows="2"
              type="textarea"
            />
          </div>
        </q-card-section>
      </q-slide-transition>

      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="hide" size="md" flat color="grey">{{ $tt("common.cancel") }}</app-btn>
          <app-btn @click="saveAddress" size="md" color="primary">
            {{ $tt("common.save", 1) }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: { type: String },
  mounted() {},
  created() {},
  data() {
    return {
      loading: { warehouses: false, cities: false, streets: null, modal: false },
      cities: null,
      city: null,
      warehouses: null,
      warehouse: null,
      street: null,
      streets: null,
      address: {
        building: null,
        flat: null,
      },
      comment: null,
    };
  },
  computed: {
    translate_type() {
      if (this.type === "warehouse") return 'отделение "Новая Почта"';
      else if (this.type === "address") return "адрес";
      else return this.type;
    },
  },
  watch: {
    query(string) {
      if (!string || !string.length) return;

      this.getCities(string);
    },
    city(city) {
      if (!city) return;

      if (this.type === "warehouse") this.getWarehouses(city);
    },
  },
  methods: {
    show() {
      this.$refs["add-address"].show();
    },
    hide() {
      this.$refs["add-address"].hide();
    },
    async getCities(query, update, abort) {
      if (!query || query.length < 2) {
        abort();
        return;
      }

      try {
        this.loading.cities = true;

        const {
          data: { cities },
        } = await this.$api.get(`/v2/novaposhta/address/cities/${query}`);

        update(() => {
          const needle = query.toLowerCase();
          this.cities = cities.filter(({ title }) => title.toLowerCase().indexOf(needle) > -1);
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
      } finally {
        this.loading.cities = false;
      }
    },

    async getWarehouses(city) {
      try {
        this.loading.warehouses = true;

        const {
          data: { warehouses },
        } = await this.$api.get(`v2/novaposhta/address/warehouses/${city}`);

        this.warehouses = warehouses;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
      } finally {
        this.loading.warehouses = false;
      }
    },
    async getStreets(query, update, abort) {
      if (!query || query.length < 2) {
        abort();
        return;
      }

      try {
        this.loading.streets = true;

        const {
          data: { streets },
        } = await this.$api.post(`/v2/novaposhta/address/streets`, {
          city_id: this.city,
          street_name: query,
        });

        update(() => {
          const needle = query.toLowerCase();
          this.streets = streets.filter(({ title }) => title.toLowerCase().indexOf(needle) > -1);
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
      } finally {
        this.loading.streets = false;
      }
    },
    saveAddress() {
      if (this.type === "warehouse") this.saveWarehouse();
      else if (this.type === "address") this.saveStreet();
      else throw new Error("Unknown type: " + this.type);
    },
    async saveWarehouse() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      try {
        this.loading.modal = true;
        await this.$api.post(`/v2/novaposhta/address/warehouses/save`, this.warehouse);

        this.$emit("ok", this.warehouse);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.modal = false;
      }
    },
    async saveStreet() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      let {
        city,
        address: { building, flat },
        street: street_id,
        comment,
      } = this;

      let params = {
        city: this.cities.find((s) => s.id === city),
        building,
        flat,
        street_id,
        ...(comment && comment.length && { comment }),
      };

      try {
        this.loading.modal = true;
        const {
          data: { id },
        } = await this.$api.post(`/v2/novaposhta/address/save`, params);

        this.$emit("ok", { id });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.modal = false;
      }
    },
  },
  validations() {
    let rules = {
      warehouse: {
        city: { required },
        warehouse: { required },
      },
      address: {
        city: { required },
        street: { required },
        address: {
          flat: { required },
          building: { required },
        },
      },
    };

    return rules[this.type];
  },
};
</script>
