<template>
  <q-dialog
    :position="$q.screen.xs ? 'bottom' : 'standard'"
    :maximized="$q.screen.xs || false"
    ref="add-track"
    transition-show="jump-up"
    transition-hide="jump-down"
  >
    <q-card style="max-width:777px;width:100%;" class="add-track ">
      <with-loading :state="loading" />

      <div class="z-top" v-if="heading" style="position:sticky;left:0;top:0">
        <q-card-section class="bg-white">
          <div class="flex-center-between">
            <h5 class="q-ma-none">
              {{ heading }}
            </h5>
            <app-btn round @click="hide" flat color="negative" icon="close"></app-btn>
          </div>
        </q-card-section>
        <q-separator></q-separator>
      </div>

      <div class="full-height">
        <q-card-section>
          <div class="flex-center-between">
            <div>
              <app-btn
                size="sm"
                @click="checkAll"
                :label="$q.screen.xs ? 'Все' : 'Выбрать все'"
                icon="done_all"
              />
              <app-btn
                size="sm"
                class="text-red q-ml-md"
                @click="checkNone"
                :label="$q.screen.xs ? 'Сброс' : 'Сбросить выбор'"
                icon="remove_done"
              />
            </div>

            <div class="flex items-center">
              <div class="flex items-center q-mr-md">
                <small class="text-grey q-mr-sm">выбрано:</small>
                <b>{{ checked.length }}</b>
              </div>
              <div class="flex items-center">
                <small class="text-grey q-mr-sm">
                  на сумму:
                </small>
                <b>{{ $toUSD(checkedSummCost) }}</b>
              </div>
            </div>
          </div>
        </q-card-section>
        <!-- <q-separator></q-separator> -->

        <q-card-section v-if="showing.includes('hub')">
          <div class="add-track__hubs">
            <div class="form-group">
              <select v-model="hub" class="select">
                <option :value="null">Выберите хаб</option>
                <option :key="hub.id" :value="hub.id" v-for="hub in Object.values(_hubs)">
                  {{ hub.title }}
                </option>
              </select>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-py-xs" v-if="Object.keys(_tags).length">
          <div class="flex">
            <q-badge
              class="flex items-center q-pa-sm q-mr-sm text-weight-bold"
              :class="
                picked_tags.includes(tag) ? 'bg-blue-1 text-primary' : 'text-grey-8 bg-grey-3'
              "
              :key="idx"
              v-for="(len, tag, idx) in _tags"
            >
              <input
                type="checkbox"
                :value="tag"
                name="picked-tags"
                v-model="picked_tags"
                :id="`tag-${idx}`"
                class="q-mr-sm cursor-pointer"
              />
              <label class="line-height1" :for="`tag-${idx}`">
                {{ tag }}
              </label>

              &nbsp;({{ len }})
            </q-badge>
          </div>
        </q-card-section>

        <q-card-section>
          <!-- <div class="modal__content-group"></div> -->

          <q-markup-table style="max-height: 50vh" flat bordered>
            <thead>
              <tr>
                <th class="text-center">{{ $tt("common.pick", 1) }}</th>
                <th class="text-left">{{ $tt("common.parcel_number", 1) }}</th>
                <th class="text-left">{{ $tt("common.order_number", 1) }}</th>
                <th class="text-left">{{ $tt("common.address", 1) }}</th>
                <th class="text-right">{{ $tt("common.cost", 1) }}</th>
              </tr>
            </thead>
            <tbody v-if="shipments && shipments.length">
              <tr
                :class="checked.includes(shipment.id) && 'bg-blue-1 text-primary'"
                :key="shipment.id"
                v-for="shipment in shipments"
              >
                <td class="text-center">
                  <q-checkbox
                    :disable="showing.includes('hub') && hub"
                    v-model="checked"
                    :val="shipment.id"
                    size="35px"
                    color="primary"
                  />
                </td>

                <td class="text-left">
                  {{ shipment.parcels[0].parcel_id }}
                </td>
                <td class="text-left">
                  {{ shipment.parcels[0].order_id }}
                </td>

                <td class="text-left" style="width: 280px">
                  <div class="flex items-center">
                    <q-icon name="person" class="q-mr-xs" />
                    {{ shipment.parcels[0].parcel_receiver }}
                  </div>
                  <div style="padding-left:17px">
                    {{ shipment.parcels[0].parcel_country_name }}
                    <span v-if="shipment.parcels[0].parcel_state">
                      {{ shipment.parcels[0].parcel_state }}
                    </span>
                    <div>
                      {{ shipment.parcels[0].parcel_city }}
                    </div>
                    <div>
                      {{ shipment.parcels[0].parcel_address }}
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <div>
                    {{ $toUSD(shipment.cost) }}
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody v-else class="styled-table__empty">
              <tr>
                <td colspan="7">
                  Нет выбранных отправок
                </td>
              </tr>
            </tbody>
          </q-markup-table>
        </q-card-section>

        <q-card-section v-if="showing.includes('track')">
          <app-input
            :label="$tt('common.track_number', 1)"
            color="primary"
            tabindex="1"
            ref="track"
            v-model="track"
          />
        </q-card-section>
      </div>

      <div class="bg-white z-top" style="position:sticky;left:0;bottom:0">
        <q-separator></q-separator>
        <q-card-section>
          <div class="flex items-center" :class="$q.screen.xs ? 'justify-end' : 'justify-between'">
            <app-btn
              :label="$tt('common.cancel', 1)"
              :class="$q.screen.xs && 'q-mr-md'"
              @click="hide"
              color="red"
              flat
            />
            <!-- $parent.$emit('reject') -->

            <app-btn
              :disable="!checked.length"
              v-if="showing.includes('export_tracks')"
              label="Экспорт треков (XLSX)"
              @click="$parent.$emit('export', checked)"
              class="text-red"
              :class="$q.screen.xs && 'q-mr-md'"
            />

            <app-btn
              :disable="!checked.length"
              @click="submit"
              v-else
              :label="confirm_btn"
              color="primary"
              class="text-weight-bold"
              unelevated
            />
          </div>
        </q-card-section>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
// import { required } from "vuelidate/lib/validators";

export default {
  name: "AddTrackModal",
  props: {
    shipments: Array,
    showing: {
      type: Array,
      default: () => [],
    },
    heading: String,
    confirm_btn: {
      type: String,
      default: "Продолжить",
    },
    loading: Boolean,
  },
  data() {
    return {
      track: null,
      checked: [],
      picked_tags: [],
      hub: null,
      pieces: [
        {
          dimensions: {
            width: null,
            height: null,
            length: null,
          },
          weight: null,
        },
      ],
      description: null,
      cost: null,
      target_warehouse: null,
      warehouses: null,
      phone: null,
      pickup_type: "warehouse",
      addresses: null,
      // loading: false,
      types_loading: {
        warehouses: false,
        addresses: false,
      },
      format: { value: "A4", label: "A4" },
    };
  },
  async mounted() {
    this.checkAll();
  },
  computed: {
    checkedSummCost() {
      let res = 0;

      this.checked.forEach((id) => {
        let t = this.shipments.find((ship) => ship.id === id);

        if (t) {
          res += t.cost;
        } else {
          res += 0;
        }
      });

      return res;
    },
    _tags() {
      let tags = {};

      this.shipments.forEach((s) => {
        let t = s.parcels[0].tag;

        if (!t) return;

        if (!tags[t]) {
          tags[t] = 1;
        } else {
          tags[t] += 1;
        }
      });

      return tags;
    },
    _hubs() {
      if (!this.showing.includes("hub")) {
        return {};
      }

      let r = {};

      this.shipments.forEach((s) => {
        let p = s.parcels[0];

        if (p.hub && !r[p.hub.code]) {
          r[p.hub.code] = p.hub;
        }
      });

      return r;
    },
    currentPlace() {
      return this.pieces.length - 1;
    },
  },
  watch: {
    picked_tags(val) {
      this.checked = this.shipments
        .filter((s) => {
          let parcel = s.parcels[0];

          return val.includes(parcel.tag);
        })
        .map((s) => s.id);
    },
    hub(hub) {
      if (!hub) {
        this.checked = [];
        this.picked_tags = [];
      }

      this.pickHub(hub);
    },
  },
  methods: {
    show() {
      this.$refs["add-track"].show();
    },
    hide() {
      this.$refs["add-track"].hide();
    },
    pickHub(hub) {
      let r = [];

      r = this.shipments.filter((s) => {
        if (s.parcels[0].hub) {
          return s.parcels[0].hub.id === hub;
        }
      });

      this.checked = r.map((s) => s.id);
    },
    submit() {
      this.$emit("ok", {
        ...(this.showing.includes("track") && { track: this.track }),
        ...(this.showing.includes("hub") && { hub_id: this.hub }),
        ...(this.showing.includes("format") && this.format && { format: this.format }),
        ...{ checked: this.checked },
      });
    },
    checkAll() {
      let checkAll = this.shipments.map((s) => s.id);

      this.checked = checkAll;
    },
    checkNone() {
      this.picked_tags = [];
      this.checked = [];
    },
  },
  //   validations() {
  //     return {
  //       checked: {},
  //       track: {},
  //       hub: {},
  //       pieces: {},
  //       cost: {},
  //       description: {},
  //       target_warehouse: {},
  //       phone: {}
  //     };
  //   }
};
</script>
<style lang="scss" scoped>
.add-track {
  &__shipments {
    position: relative;

    table {
      position: relative;
    }
    th {
      position: sticky;
      top: 0;
      left: 0;
      background-color: #fff !important;
      z-index: 2;
    }
  }
}
</style>
