<template>
  <DialogWrapper :title="heading" name="add-track">
    <div class="add-track relative">
      <with-loading :state="loading" />

      <div class="add-track__list-actions q-mb-lg flex justify-between items-center q-px-lg">
        <div>
          <app-btn size="sm" @click="checkAll" label="Выбрать все" />
          <app-btn size="sm" class="text-red q-ml-md" @click="checkNone" label="Сбросить выбор" />
        </div>

        <div class="flex items-center">
          <div class="flex items-center q-mr-md">
            <small class="text-grey q-mr-sm">выбрано:</small>
            <b>{{ checked.length }}</b>
          </div>
          <div class="flex items-center">
            <small class="text-grey q-mr-sm">
              на сумму:
            </small>
            <b>{{ $toUSD(checkedSummCost) }}</b>
          </div>
        </div>
      </div>

      <div class="add-track__list">
        <!-- <div class="modal__content-group"></div> -->

        <div class="add-track__filters q-px-lg">
          <div class="add-track__hubs" v-if="show.includes('hub')">
            <div class="form-group" :class="$v.hub.$error && 'input--error'">
              <select v-model="hub" class="select">
                <option :value="null">Выберите хаб</option>
                <option :key="hub.id" :value="hub.id" v-for="hub in Object.values(_hubs)">
                  {{ hub.title }}
                </option>
              </select>
            </div>
          </div>

          <div class="flex" v-if="Object.keys(_tags).length">
            <q-chip
              class="flex items-center q-px-sm q-mr-sm q-px-md text-weight-bold"
              :class="
                picked_tags.includes(tag) ? 'bg-blue-1 text-primary' : 'text-grey-8 bg-grey-3'
              "
              :key="idx"
              v-for="(len, tag, idx) in _tags"
            >
              <input
                type="checkbox"
                :value="tag"
                name="picked-tags"
                v-model="picked_tags"
                :id="`tag-${idx}`"
                class="q-mr-sm cursor-pointer"
              />
              <label :for="`tag-${idx}`">
                {{ tag }}
              </label>

              <small class="text-bold">({{ len }})</small>
            </q-chip>
          </div>
        </div>

        <q-card flat class="q-mb-lg">
          <q-card-section>
            <q-markup-table style="max-height: 50vh" flat bordered>
              <thead>
                <tr>
                  <th class="text-center">{{ $tt("common.pick", 1) }}</th>
                  <th class="text-left">
                    {{ $tt("common.parcel_number", 1) }}
                  </th>
                  <th class="text-left">{{ $tt("common.order_number", 1) }}</th>
                  <th class="text-left">{{ $tt("common.address", 1) }}</th>
                  <th class="text-right">{{ $tt("common.cost", 1) }}</th>
                </tr>
              </thead>
              <tbody v-if="shipments && shipments.length">
                <tr
                  :class="checked.includes(shipment.id) && 'bg-blue-1 text-primary'"
                  :key="shipment.id"
                  v-for="shipment in shipments"
                >
                  <td class="text-center">
                    <q-checkbox
                      :disable="show.includes('hub') && hub"
                      v-model="checked"
                      :val="shipment.id"
                      size="35px"
                      color="primary"
                    />
                  </td>

                  <td class="text-left">{{ shipment.parcels[0].parcel_id }}</td>
                  <td class="text-left">{{ shipment.parcels[0].order_id }}</td>

                  <td class="text-left" style="width: 280px">
                    <div class="flex items-center">
                      <q-icon name="person" class="q-mr-xs" />
                      {{ shipment.parcels[0].parcel_receiver }}
                    </div>
                    <div style="padding-left:17px">
                      {{ shipment.parcels[0].parcel_country_name }}
                      <span v-if="shipment.parcels[0].parcel_state">
                        {{ shipment.parcels[0].parcel_state }}
                      </span>
                      <div>
                        {{ shipment.parcels[0].parcel_city }}
                      </div>
                      <div>
                        {{ shipment.parcels[0].parcel_address }}
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div>
                      {{ $toUSD(shipment.cost) }}
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody v-else class="styled-table__empty">
                <tr>
                  <td colspan="7">
                    {{ $tt("errors.no_data", 1) }}
                  </td>
                </tr>
              </tbody>
            </q-markup-table>
          </q-card-section>
        </q-card>
      </div>

      <div class="q-px-lg" v-if="show.includes('track')">
        <app-input
          :error="$v.track.$error"
          :label="$tt('common.track_number', 1)"
          color="primary"
          tabindex="1"
          ref="track"
          v-model="track"
        />
      </div>

      <q-separator />
      <div class="q-px-lg q-py-md flex-center-between">
        <app-btn
          :label="$tt('common.cancel')"
          @click="$modal.hide('add-track')"
          color="red"
          flat
        />
        <!-- $parent.$emit('reject') -->
        <app-select
          label="Формат стикеров"
          dense
          v-model="format"
          style="min-width:150px"
          :options="[
            { value: 'A4', label: 'A4' },
            { value: 'A5', label: 'A5' },
            { value: 'thermal', label: 'Термопринтер' },
          ]"
        ></app-select>

        <app-btn
          :disable="!checked.length"
          v-if="show.includes('export_tracks')"
          :label="`${$tt('common.export', 1)} XLSX`"
          @click="$parent.$emit('export', checked)"
          class="text-red"
        />

        <app-btn
          :disable="!checked.length"
          @click="submit"
          v-else
          :label="confirm_btn"
          color="primary"
          class="text-weight-bold"
          unelevated
        />
      </div>
    </div>
  </DialogWrapper>
</template>

<script>
import { required } from "vuelidate/lib/validators";

const purePhone = (val) => {
  let p;
  p = val.split(" ").join("");
  p = p.split("-").join("");
  p = p.split(".").join("");
  return p;
};

export default {
  name: "AddTrackModal",
  props: {
    shipments: Array,
    show: {
      type: Array,
      default: () => [],
    },
    heading: String,
    confirm_btn: {
      type: String,
      default: "Продолжить",
    },
    loading: Boolean,
  },
  data() {
    return {
      track: null,
      checked: [],
      picked_tags: [],
      hub: null,
      pieces: [
        {
          dimensions: {
            width: null,
            height: null,
            length: null,
          },
          weight: null,
        },
      ],
      description: null,
      cost: null,
      target_warehouse: null,
      warehouses: null,
      phone: null,
      pickup_type: "warehouse",
      addresses: null,
      // loading: false,
      types_loading: {
        warehouses: false,
        addresses: false,
      },
      format: { value: "A4", label: "A4" },
    };
  },

  async mounted() {
    this.checkAll();
  },
  computed: {
    checkedSummCost() {
      let res = 0;

      this.checked.forEach((id) => {
        let t = this.shipments.find((ship) => ship.id === id);

        if (t) {
          res += t.cost;
        } else {
          res += 0;
        }
      });

      return res;
    },
    _tags() {
      let tags = {};

      this.shipments.forEach((s) => {
        let t = s.parcels[0].tag;

        if (!t) return;

        if (!tags[t]) {
          tags[t] = 1;
        } else {
          tags[t] += 1;
        }
      });

      return tags;
    },
    _hubs() {
      if (!this.show.includes("hub")) {
        return {};
      }

      let r = {};

      this.shipments.forEach((s) => {
        let p = s.parcels[0];

        if (p.hub && !r[p.hub.code]) {
          r[p.hub.code] = p.hub;
        }
      });

      return r;
    },
    currentPlace() {
      return this.pieces.length - 1;
    },
  },
  watch: {
    picked_tags(val) {
      this.checked = this.shipments
        .filter((s) => {
          let parcel = s.parcels[0];

          return val.includes(parcel.tag);
        })
        .map((s) => s.id);
    },
    hub(hub) {
      if (!hub) {
        this.checked = [];
        this.picked_tags = [];
      }

      this.pickHub(hub);
    },
  },
  methods: {
    pickHub(hub) {
      let r = [];

      r = this.shipments.filter((s) => {
        if (s.parcels[0].hub) {
          return s.parcels[0].hub.id === hub;
        }
      });

      this.checked = r.map((s) => s.id);
    },
    submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt("messages.fill_req_fields"),
        });

        return;
      }

      this.$parent.$emit("submit", {
        ...(this.show.includes("track") && { track: this.track }),
        ...(this.show.includes("hub") && { hub_id: this.hub }),
        ...(this.show.includes("format") && this.format && { format: this.format }),
        ...{ checked: this.checked },
      });
    },
    checkAll() {
      let checkAll = this.shipments.map((s) => s.id);

      this.checked = checkAll;
    },
    checkNone() {
      this.picked_tags = [];
      this.checked = [];
    },
  },
  validations() {
    return {
      checked: {},
      track: {},
      hub: {},
      pieces: {},
      cost: {},
      description: {},
      target_warehouse: {},
      phone: {},
    };
  },
};
</script>
<style lang="scss" scoped>
.add-track {
  &__shipments {
    position: relative;

    table {
      position: relative;
    }
    th {
      position: sticky;
      top: 0;
      left: 0;
      background-color: #fff !important;
      z-index: 2;
    }
  }
}
</style>
