<template>
  <PageContainer
    with-back
    :title="
      `${is_edit ? $tt('common.edit', 1) : $tt('common.add', 1)} ${$tt('common.account')}`
    "
  >
    <with-loading :state="loading" />

    <div class="container">
      <h5 class="q-mb-md">
        <!-- Данные аккаунта -->
        {{ $tt("account_data", 1) }}
      </h5>

      <div class="row q-col-gutter-md">
        <div class="col-6">
          <app-input
            :dense="false"
            name="email"
            :error="$v.email.$anyError"
            v-model="email"
            :label="$tt('common.email', 1)"
          />
        </div>
        <div class="col-6">
          <app-input
            :dense="false"
            name="name"
            :error="$v.name.$anyError"
            v-model="name"
            :label="$tt('common.name', 1)"
          />
        </div>
        <div class="col-6">
          <app-input
            :dense="false"
            name="password"
            :error="$v.password.$anyError"
            v-model="password"
            type="password"
            :label="$tt('common.password', 1)"
          />
        </div>
        <div class="col-6">
          <q-btn-toggle
            v-model="active"
            class="full-height"
            push
            :toggle-color="active ? 'positive' : 'negative'"
            :options="[
              { value: true, slot: 'active' },
              { value: false, slot: 'deactive' },
            ]"
            spread
          >
            <template #active>
              <div class="flex items-center line-height1">
                <q-icon size="24px" class="q-mr-sm" name="verified" />
                <span>
                  {{ $tt("common.active", 1) }}
                </span>
              </div>
            </template>
            <template #deactive>
              <div class="flex no-wrap items-center line-height1">
                <q-icon size="24px" class="q-mr-sm" name="highlight_off" />
                <span>
                  {{ $tt("common.inactive", 1) }}
                </span>
              </div>
            </template>
          </q-btn-toggle>
        </div>
      </div>

      <div class="q-mt-xl">
        <h5 class="q-mb-md">
          <!-- Разрешения аккаунта -->
          {{ $tt("account_permissions", 1) }}
        </h5>
        <div class="row">
          <div v-for="p in permissions" class="col-4" :key="p.key">
            <q-item tag="label" class="full-height q-py-md">
              <q-item-section side>
                <q-checkbox color="accent" v-model="p.value" />
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-subtitle2">
                  {{ p.name }}
                </q-item-label>
                <q-item-label caption>
                  {{ p.desc }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </div>
      </div>

      <div class="q-mt-xl flex-center">
        <app-btn @click="submit" :loading="loading" padding="md" color="primary">
          {{ $tt("common.save", 1) }} {{ is_edit ? $tt("common.changes", 0, 2) : "" }}
        </app-btn>
      </div>
    </div>
  </PageContainer>
</template>

<i18n lang="json">
{
"en": {
"account_data": "Account data",
"account_permissions": "Account permissions"
},
"uk": {
"account_data": "Дані аккаунта",
"account_permissions": "Дозволи аккаунта"
}
}
</i18n>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  async mounted() {
    await this.getPermissions();

    if (this.is_edit) {
      let { name, email, password = null, active, permissions } = this.editable_account;

      this.name = name;
      this.email = email;
      this.password = password;
      this.active = active;

      Object.entries(permissions).forEach(([k, value]) => {
        let t = this.permissions.find(({ key }) => key == k);
        t.value = value;
      });
    }
  },
  async created() {
    // await this.getPermissions();
  },
  data() {
    return {
      loading: false,
      permissions: null,
      active: true,
      name: null,
      email: null,
      password: null,
    };
  },
  computed: {
    editable_account() {
      return this.$route.params.account;
    },
    is_edit() {
      return (
        !!this.$route.params.account &&
        !!Object.keys(this.$route.params.account) &&
        !!Object.keys(this.$route.params.account).length
      );
    },
  },
  methods: {
    getPermissions() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          const {
            data: { permissions },
          } = await this.$api.get(`/user/sub/rights/`);

          this.permissions = Object.entries(permissions).map(([key, info]) => ({
            ...info,
            value: false,
          }));

          done(permissions);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ level: "warning", title: this.$tt("messages.fill_req_fields") });

        return;
      }

      let permissions = this.permissions.filter((p) => p.value).map((p) => p.key);

      if (!permissions || !permissions.length) {
        this.$alert({ level: "warning", title: "Выберите по крайней мере 1 разрешение" });

        return;
      }

      this.loading = true;

      try {
        let { active, email, name, password } = this;

        await this.$api[this.is_edit ? "put" : "post"](`/user/sub`, {
          permissions,
          active,
          ...(this.is_edit ? { id: this.editable_account.id } : { email }),
          name,
          password,
        });

        if (this.is_edit) {
          this.$message({ level: "success", title: this.$tt("messages.changes_saved") });
        } else {
          this.$message({ level: "success", title: "Добавлен новый саб-аккаунт" });
        }

        this.$router.push(`/subaccounts`);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      name: { required },
      email: { required },
      password: { required },
    };
  },
};
</script>
<style lang="scss"></style>
