<template>
  <div class="bar-chart">
    <q-skeleton :height="height" v-if="loading"></q-skeleton>
    <canvas
      v-else-if="dataset"
      style="position:relative;"
      width="100%"
      :ref="chart_id"
      :id="chart_id"
      :height="height"
    ></canvas>
  </div>
</template>
<script>
import Chart from "chart.js/auto";

export default {
  props: {
    data: [Array, Object, null, undefined],
    extraOptions: [Object, Array],
    height: {
      type: undefined,
      default: () => "100%",
    },
    loading: Boolean,
  },
  mounted() {
    this.initChart();
  },
  data() {
    return {
      defaultOptions: {
        options: {
          responsive: true,
          maintainAspectRatio: false,

          scales: {
            x: {
              // display: false,
              ticks: {
                font: {
                  size: 8,
                },
              },
            },
            y: {
              // display: false,
              ticks: {
                beginAtZero: true,
                font: {
                  size: 8,
                },
              },
            },
          },
          animations: {
            radius: {
              duration: 400,
              easing: "linear",
              loop: (context) => context.active,
            },
          },
          plugins: {
            legend: {
              display: false,
              position: "bottom",
              labels: {
                font: {
                  size: 10,
                },
              },
            },
          },
        },
      },
      instance: null,
    };
  },
  watch: {
    data(data) {
      this.instance.update();

      // this.$forceUpdate();
    },
  },
  computed: {
    chart_id() {
      return `--bar-chart-${this.id || this._uid}`;
    },
    dataset() {
      return this.data;
    },
  },
  methods: {
    initChart() {
      let ctx = this.$refs[this.chart_id].getContext("2d");

      let params = {
        ...this.defaultOptions,
        data: this.data,
        ...this.extraOptions,
      };

      let i = new Chart(ctx, params);
      this.instance = i;
    },
  },
};
</script>
