<template>
  <q-dialog @show="$refs['code'].focus()" position="top" persistent ref="prompt-otp" class="z-max">
    <q-card style="max-width:350px;width:100%">
      <q-card-section>
        <h5 class="q-ma-none">{{ `${method}: ${message}` }}</h5>
      </q-card-section>
      <app-banner level="warning" :rounded="false">
        {{ $tt("messages.auth_required") }}
      </app-banner>
      <q-card-section>
        <form @submit.prevent="submitKey">
          <app-input ref="code" v-model="clearKey" :label="$tt('common.code', 1)"></app-input>
        </form>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn class="q-mr-sm" color="negative" type="submit" flat @click="$emit('hide')">
            {{ $tt("common.cancel", 1) }}
          </app-btn>
          <app-btn
            :disable="!key || !key.length"
            @click.stop="submitKey"
            color="primary"
            type="submit"
          >
            {{ $tt("common.accept", 1) }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "prompt-otp",
  props: {
    method: String,
    message: String,
  },
  data() {
    return {
      key: null,
    };
  },
  methods: {
    show() {
      this.$refs["prompt-otp"].show();
    },
    hide() {
      this.$refs["prompt-otp"].hide();
    },
    submitKey() {
      this.$emit("ok", { key: this.key });
      this.hide();
    },
  },
  computed: {
    clearKey: {
      set(key) {
        this.key = key;
      },
      get() {
        return (
          this.key &&
          this.key.length &&
          this.key.toString() &&
          this.key
            .toString()
            .split(" ")
            .join("")
        );
      },
    },
  },
};
</script>
