<template>
  <app-banner level="info" :rounded="false">
    <div class="container">
      <div class="full-width">
        <div class="flex-center-between no-wrap" :class="$q.screen.xs && 'column'">
          <div>
            <div class="text-subtitle2">
              Новая версия личного кабинета находится в стадии открытого тестирования
            </div>
            <!-- v-if="!$q.screen.xs && !$q.screen.sm"  -->
            <small class="text-body">
              На данной стадии Вы можете столкнуться с неправильным поведением системы. <br />
              В любой момент Вы можете вернуться к старой версии кабинета
            </small>
            <!-- <q-expansion-item dense class="aborder rounded-borders q-mt-sm" v-else>
              <template #header>
                <div class="full-width flex items-center">
                  <q-icon name="info_outline" class="q-mr-sm"></q-icon>
                  <small>Подробнее</small>
                </div>
              </template>
              <q-item-section>
                <div class="q-px-md q-pb-md">
                  На данной стадии Вы можете столкнуться с неправильным поведением системы. <br />
                  В любой момент Вы можете вернуться к старой версии кабинета
                </div>
              </q-item-section>
            </q-expansion-item> -->
          </div>
          <div
            class="flex justify-end "
            :class="$q.screen.xs ? 'q-mt-md q-ml-none flex flex-center full-width' : 'q-ml-lg'"
          >
            <app-btn
              style="white-space:nowrap"
              :class="$q.screen.xs && 'full-width'"
              @click="$openURL('https://my.seller-online.com')"
              class="bg-white text-primary"
            >
              перейти в старый личный кабинет
            </app-btn>
          </div>
        </div>
      </div>
    </div>
  </app-banner>
</template>
<script>
export default {
  props: {
    old: String,
  },
  mounted() {},
  created() {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.app-banner__content {
  padding-right: 0 !important;
}
</style>
