<template>
  <PageContainer with-back :title="`${$tt('common.create_parcel', 1)} (${(aff && aff.name) || aff})`">
    <with-loading :state="loading"></with-loading>
    <div class="container">
      <div v-if="parcel">
        <div>
          <app-table-list
            :empty="(!parcel.orders || !parcel.orders.length) && $tt('errors.nothing_to_display', 1)"
            :colspan="3"
            :header="$tt('common.product', 1, 2)"
          >
            <template #thead>
              <tr class="text-left">
                <th>{{ $tt("common.title", 1) }}</th>
                <th class="text-center">{{ $tt("common.count", 1) }}</th>
                <th class="text-right">{{ $tt("common.summ", 1) }}</th>
              </tr>
            </template>

            <tr v-for="(product, idx) in parcel.orders" :key="idx">
              <td>
                {{ product.title }}
              </td>
              <td class="text-center">
                {{ product.quantity }}
              </td>
              <td class="text-right font-500">
                {{ $toUSD(product.amount) }}
              </td>
            </tr>
            <template #tfoot>
              <tr>
                <td colspan="2">
                  {{ $tt("common.weight", 1) }}
                </td>
                <td class="text-right">{{ parcel.total_weight }} LBS</td>
              </tr>
            </template>
          </app-table-list>
        </div>

        <app-list
          :caption="$tt('pages.new_buy.pick_address_message')"
          class="q-mt-xl"
          :header="$tt('common.delivery_address', 1)"
          :error="$v.address_id.$anyError && `${$tt('common.pick')} ${$tt('common.address')}`"
        >
          <q-item
            :class="addr.id === address_id && 'bg-blue-1 text-primary'"
            v-for="addr in addresses"
            tag="label"
            :key="addr.id"
          >
            <q-item-section side>
              <q-radio :val="addr.id" name="address" v-model="address_id"></q-radio>
            </q-item-section>
            <q-item-section style="max-width:140px;width:100%;">
              <img
                width="100px"
                v-if="addr.book_type"
                :alt="addr.book_type"
                :class="`address-logo address-logo--${addr.book_type.toLowerCase()}`"
                :src="`img/carriers/${getTypeSource(addr.book_type.toLowerCase())}.svg`"
              />
              <div v-else>
                <small class="text-muted">
                  {{ $tt("common.main") }}
                </small>
              </div>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-flag :country="addr.country_iso2 && addr.country_iso2.toLowerCase()" class="q-mr-xs"></app-flag>
                {{ addr.country }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label> {{ addr.city }}, {{ addr.street_address }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ addr.firstname }} {{ addr.middlename || "" }}
                {{ addr.lastname }}
              </q-item-label>
              <q-item-label caption>
                {{ addr.phone_number }}
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-separator />

          <q-item class="font-500 text-accent" clickable to="/addresses">
            <q-item-section side>
              <q-item-label>
                <q-icon color="accent" size="18px" name="maps_home_work"></q-icon>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ $tt("nav.account.address_book", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <q-icon color="accent" name="chevron_right"></q-icon>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list
          :loading="recalc_loading"
          :caption="$tt('pages.new_buy.shipping_type_message')"
          class="q-mt-xl"
          :header="`${$tt('common.pick', 1)} ${$tt('common.shipping_type')}`"
          icon="🚚"
          :error="$v.shipment_method.$anyError && `${$tt('common.pick', 1)} ${$tt('common.shipping_type')}`"
        >
          <q-item class="q-py-lg" v-for="(type, idx) in parcel.shipping" :key="idx">
            <q-item-section>
              <q-item-label class="q-mb-md">
                <h5 class="q-ma-none">
                  {{ type.title }}
                </h5>
              </q-item-label>
              <q-item-label>
                <app-list>
                  <!-- @click="createParcel({ id, type, cost })" -->
                  <q-item
                    :class="
                      shipment_method &&
                        shipment_method.id === id &&
                        shipment_method.module === type.module &&
                        'text-primary'
                    "
                    tag="label"
                    clickable
                    v-for="(cost, id, index) in type.cost"
                    class="q-py-md"
                    :key="index"
                  >
                    <q-item-section side>
                      <q-radio
                        v-model="shipment_method"
                        :val="{ id, module: type.module }"
                        name="shipment-method"
                        class="hidden"
                      ></q-radio>
                      <!-- v-show="shipment_method && id === shipment_method.id && type.module === shipment_method.module" -->
                      <q-icon
                        :name="
                          shipment_method && id === shipment_method.id && type.module === shipment_method.module
                            ? 'radio_button_checked'
                            : 'radio_button_unchecked'
                        "
                        :color="
                          shipment_method && id === shipment_method.id && type.module === shipment_method.module
                            ? 'primary'
                            : 'grey'
                        "
                        size="23px"
                      ></q-icon>
                    </q-item-section>
                    <q-item-section avatar>
                      <div style="width:120px">
                        <q-img
                          height="21px"
                          width="100%"
                          v-if="type.title.toLowerCase().indexOf('usps') > -1"
                          contain
                          src="/img/carriers/usps.svg"
                          position="left center"
                        ></q-img>
                        <q-img
                          height="auto"
                          width="100%"
                          v-else-if="type.title.toLowerCase().indexOf('seller-online') > -1"
                          contain
                          src="/img/logos/logo.svg"
                          position="left center"
                        ></q-img>
                        <q-img
                          width="100%"
                          height="18px"
                          v-else-if="type.title.toLowerCase().indexOf('мост') > -1"
                          contain
                          src="/img/carriers/meest.svg"
                          position="left center"
                        ></q-img>
                      </div>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="text-subtitle2">{{ cost.title }} </q-item-label>
                      <q-item-label caption style="font-size:11px">{{ cost.terms }}</q-item-label>
                    </q-item-section>
                    <q-item-section class="text-subtitle1" avatar>
                      {{ $toUSD(cost.cost) }}
                    </q-item-section>
                  </q-item>
                </app-list>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list class="q-mt-xl" :header="$tt('common.parcel', 1)">
          <q-item tag="label" class="q-py-md">
            <q-item-section>
              <q-item-label>
                {{ $tt("common.customs_cost", 1) }}
              </q-item-label>
              <q-item-label caption>
                {{ $tt("pages.new_buy.customs_cost_message") }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-input v-model="parcel.customs_amount" :label="$tt('common.cost', 1)" suffix="USD"></app-input>
            </q-item-section>
          </q-item>
          <q-item tag="label" class="q-py-md">
            <q-item-section>
              <q-item-label>
                {{ $tt("common.comment", 1) }}
              </q-item-label>
              <q-item-label>
                <app-input
                  :placeholder="$tt('pages.new_buy.comment_message')"
                  v-model="comment"
                  rows="3"
                  class="q-mt-sm"
                  type="textarea"
                ></app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div class="flex-center q-mt-xl">
          <app-btn :loading="!!loading" @click="createParcel" color="positive" padding="md lg">
            {{ $tt("common.create_parcel", 1) }}
          </app-btn>
        </div>
      </div>
      <!--  -->
      <div v-if="loading">
        <small class="text-muted">
          {{ $tt("common.loading", 1) }}
        </small>
      </div>
      <!--  -->
      <div v-else-if="!parcel">
        <small class="text-muted">
          {{ $tt("errors.load_data", 1) }}
        </small>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  async created() {
    if (!this.$route.params || !Object.keys(this.$route.params).length) {
      this.$alert({ level: "warning", title: "Данные устрели, сформируйте посылку ещё раз" });
      this.$router.push("/buy/send");
      return;
    }

    this.addresses = await this.getAddresses();
    this.address_id = (this.addresses && this.addresses.length && this.addresses[0].id) || null;

    this.loading = this.$tt("common.loading", 1);
    await this.calculateParcel();
    this.loading = false;
  },
  data() {
    return {
      recalc_loading: false,
      loading: false,
      parcel: null,
      addresses: null,
      comment: null,
      address_id: null,
      shipment_method: null,
    };
  },
  computed: {
    aff() {
      return this.$route.params.aff;
    },
    checked() {
      return this.$route.params.checked;
    },
  },
  watch: {
    async address_id(address_id) {
      this.recalc_loading = true;

      await this.calculateParcel(address_id);

      this.recalc_loading = false;
    },
  },
  methods: {
    getAddresses() {
      return new Promise(async (done, fail) => {
        try {
          let addresses = await this.$store.dispatch("Addresses/GET_ADDRESSES");

          done(addresses);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
        }
      });
    },
    calculateParcel(address_id = 1) {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api.post(`/buy/parcel/calc`, {
            order_ids: this.checked,
            affiliate_id: this.aff.aff,
            address_id,
          });

          this.parcel = data;
          done(data);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
          fail();
        }
      });
    },
    getTypeSource(code) {
      switch (code) {
        case "sol":
          return "nova-poshta";
        case "usps":
          return "usps";
        case "cargo_sol":
          return "meest";
        default:
          break;
      }
    },
    async createParcel() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        let {
          address_id: { $anyError: address_error },
          shipment_method: { $anyError: shipment_error },
        } = this.$v;

        if (address_error) this.$message({ title: this.$tt("pages.new_buy.alerts.choose_address") });
        if (shipment_error) this.$message({ title: this.$tt("pages.new_buy.alerts.choose_shipping_type") });

        return;
      }

      let c = await this.$confirm({
        level: "success",
        title: this.$t("pages.new_buy.alerts.create_parcel_confirm", {affiliate: this.aff.name}),
        nextText: `${this.$tt("common.yes", true)}, ${this.$tt("common.continue", false)}`,
      });

      if (!c) return;

      let {
        address_id,
        comment: customer_comment,
        parcel: { total_weight },
        shipment_method: { id: method, module },
        aff: { aff: affiliate_id },
        parcel: { customs_amount: declared_price },
      } = this;

      let params = {
        address_id,
        affiliate_id,
        ...(customer_comment && customer_comment.length && { customer_comment }),
        total_weight,
        method,
        declared_price,
        module,
        order_ids: this.parcel.orders.map(({ order_id }) => order_id),
      };

      // ! CREATE PARCEL !
      try {
        this.loading = true;

        await this.$api.post(`/buy/parcel`, params);

        this.$alert({ level: "success", title: this.$tt("pages.new_buy.alerts.parcel_created", true) });

        this.$router.push("/buy/parcels");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("pages.new_buy.alerts.parcel_creation_failed", true),
        });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      address_id: { required },
      shipment_method: { required },
    };
  },
};
</script>
<style lang="scss">
.address-logo {
  object-fit: contain;
  object-position: left center;
  height: 28px;

  &--usps {
    width: 100px;
  }

  &--cargo_sol {
    width: 63px;
  }
}
</style>
