<template>
  <q-banner class="bg-primary" v-if="!accepted">
    <div class="container">
      <div class="flex-center-between no-wrap q-py-sm">
        <div class="text-white" style="font-size:15px;">
          {{ $tt("messages.cookies_warning") }}
        </div>
        <app-btn @click="acceptCookies" class="bg-white text-primary" size="13px">
          {{ $tt("common.accept") }}
        </app-btn>
      </div>
    </div>
  </q-banner>
</template>

<script>
export default {
  created() {
    let accepted = !!localStorage.getItem("accept-cookies");

    this.accepted = accepted;
  },
  data() {
    return {
      accepted: true,
    };
  },
  methods: {
    acceptCookies() {
      localStorage.setItem("accept-cookies", true);
      this.accepted = true;
    },
  },
};
</script>

<style></style>
