<template>
  <div class="fullscreen bg-white text-primary text-center q-pa-md flex flex-center">
    <div>
      <!-- <h1>
        404
      </h1> -->

      <q-icon name="error_outline" color="grey-4" size="70px"> </q-icon>
      <h4 class="q-mt-md">Страница, которую вы ищете - не существует</h4>

      <div class="text-grey-7 q-mb-lg">
        Мы обновили личный кабинет. Обновите, пожалуйста, ссылки в закладках. Для входа в кабинет
        перейдите на главную страницу
      </div>

      <div class="q-gutter-x-xl q-mt-xl">
        <app-btn
          @click="backOrHome"
          label="Вернуться назад"
          no-caps
          class="text-accent"
          push
          padding="md"
          icon="west"
        />
        <app-btn
          icon="home"
          padding="md"
          class="text-blue-8"
          unelevated
          to="/"
          label="Перейти на главную"
          no-caps
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    backOrHome() {
      try {
        this.$router.go(-1);
      } catch (e) {
        this.$router.push("/");
      }
    },
  },
};
</script>
