<template>
  <!-- Вывод средств -->
  <PageContainer :title="$t('nav.my_account.get_money.title')">
    <with-loading :state="loading.methods"></with-loading>
    <div class="container">
      <div class="row q-col-gutter-x-lg">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xs-3 col-3">
          <app-input
            v-model.number="amount"
            ref="get-amount"
            suffix="USD"
            :label="$t('pages.get_money.amount')"
            debounce="2000"
            @input="getMethods(amount || 0)"
            size="xl"
            :disable="!!loading.methods"
            :dense="false"
            type="number"
            step="0.01"
            clearable
          >
            <template #hint>
              <div>{{ $tt("balance.available", 1) }}: {{ $toUSD(avail || 0) }}</div>
              <div v-if="minimum_balance">
                {{ "Незнижуваний залишок" }}: {{ $toUSD(minimum_balance) }}
              </div>
            </template>
          </app-input>
          <div class="q-mt-xl">
            <CurrencyRatesSide />
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-9 col-9">
          <transition-group
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
            appear
          >
            <app-list
              v-if="methods && methods.length"
              :loading="loading.methods"
              :header="`${$tt('common.available', 1, 2)} ${$tt('common.method', 0, 2)}`"
              key="out-methods"
            >
              <div :key="idx" v-for="(m, idx) in methods">
                <q-item
                  class="bg-blue-1 text-blue-8 q-py-md"
                  v-if="m?.title?.toLowerCase()?.includes('payoneer')"
                >
                  <q-item-section>
                    <q-item-label class="text-subtitle2 text-primary">
                      {{ $tt("payoneer_charges_from", 1) }}
                    </q-item-label>
                    <q-item-label caption>
                      {{ $tt("payoneer_charges_from_caption", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <app-btn
                      type="a"
                      href="https://seller-online.com/finansi/dodatkovi-platezhi-pid-chas-perekazu-koshtiv-payoneer/"
                      target="_blank"
                      icon-right="open_in_new"
                      color="accent"
                      padding="11px"
                      size="12px"
                    >
                      {{ $tt("common.learn_more") }}&nbsp;&nbsp;
                    </app-btn>
                  </q-item-section>
                </q-item>
                <q-item
                  :class="($q.screen.xs || $q.screen.sm) && 'column'"
                  class="q-py-md"
                >
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle1 font-500">
                        {{ m.title }}
                      </div>
                    </q-item-label>
                    <q-item-label v-if="m.terms" caption>
                      {{ m.terms }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section
                    :class="($q.screen.xs || $q.screen.sm) && 'q-mt-lg'"
                    avatar
                  >
                    <div
                      class="flex q-gutter-x-md"
                      :class="[($q.screen.xs || $q.screen.sm) && 'no-wrap']"
                    >
                      <app-btn @click.stop="pickMethod(m)" color="primary" size="12px">
                        <div v-if="m.amount">
                          {{ $tc("pages.get_money.get_out") }}
                          <b>
                            {{ $toUSD(m.amount) }}
                          </b>
                        </div>
                        <div v-else>
                          {{ $tt("common.pick") }} {{ $tt("common.method", 0, 1) }}
                        </div>
                        <q-badge
                          style="top:-7px"
                          color="accent"
                          floating
                          v-if="m.commission"
                          class="font-500 shadow-4"
                        >
                          {{ $toUSD(m.commission) }}
                          <q-tooltip anchor="top middle" self="bottom middle">
                            {{ $tt("common.comission", 1) }}
                          </q-tooltip>
                        </q-badge>
                      </app-btn>

                      <app-btn icon="more_vert" dense padding="11px" size="12px">
                        <q-menu>
                          <q-item
                            clickable
                            @click.stop="manageRequisites(m)"
                            v-show="m.account_type !== 'cash'"
                          >
                            <q-item-section>
                              <q-item-label class="dont-wrap">
                                {{ $capitalize($t("common.edit")) }}
                                {{ $t("pages.get_money.requisites") }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                        </q-menu>
                      </app-btn>
                    </div>
                  </q-item-section>
                </q-item>

                <q-separator />
              </div>
            </app-list>
            <app-list
              :header="`${$tt('common.available', 1, 2)} ${$tt('common.method', 0, 2)}`"
              key="no-methods"
              v-else
            >
              <q-item>
                <q-item-section>
                  <q-item-label caption>
                    {{ $tt("pages.get_money.messages.no_methods") }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
          </transition-group>
        </div>
      </div>
      <!-- </app-list> -->
    </div>
  </PageContainer>
</template>

<i18n lang="json">
{
  "en": {
    "payoneer_charges_from": "Payoneer fees from 16.03.25",
    "payoneer_charges_from_caption": "From March 16, 2025 Payoneer is charging additional fees for transfers between accounts, both personal and business, and account fees."
  },
  "uk": {
    "payoneer_charges_from": "Комісії Payoneer з 16.03.25",
    "payoneer_charges_from_caption": "З березня 2025 року Payoneer вводить додаткові платежі під час переказів між акаунтами, як особистими, так і рахунками фірм."
  },
  "ru": {
    "payoneer_charges_from": "Комисси Payoneer с 16.03.25",
    "payoneer_charges_from_caption": "С марта 2025 года Payoneer вводит дополнительные платежи при переводах между аккаунтами, как личными, так и счетами фирм."
  }
}
</i18n>

<script>
import CurrencyRatesSide from "@/components/CurrencyRates/Side";

const EXTERNAL_EDIT_FORMS = {
  PAYONEER_ACCOUNT_FORM: "/payoneer-accounts",
  FEECARD_ACCOUNT_FORM: "/fee-cards",
  FOP_ACCOUNT_FORM: "/fop-register",
};

export default {
  name: "GetMoney",
  components: {
    CurrencyRatesSide,
  },
  data() {
    return {
      amount: null,
      avail: null,
      methods: null,
      customer_data: null,
      types: null,
      minimum_balance: null,
      loading: {
        methods: false,
      },
    };
  },
  async mounted() {
    this.$store.dispatch("Finances/GET_BALANCE");

    this.$refs["get-amount"].focus();

    await this.getMethods();

    // this.amount = 0;
  },
  // computed: {
  //   true_amount() {
  //     return this.amount || 0;
  //   },
  // },
  methods: {
    getMethods(custom_amount = null) {
      return new Promise(async (done, fail) => {
        this.loading.methods = true;

        const { amount } = this;

        try {
          const {
            data: { calculated, customer_data, avail, minimum_balance = 0 },
          } = await this.$api.post("/payments/get_money", {
            amount: custom_amount ?? amount ?? 0,
          });

          this.avail = avail;
          this.methods = calculated;
          this.customer_data = customer_data;
          this.minimum_balance = minimum_balance;

          done({ avail, methods: calculated, customer_data });
        } catch (e) {
          this.$q.notify({
            message:
              (e && e.response && e.response.data && e.response.data.message) ||
              this.$tt("errors.load_data", 1),
            color: "negative",
            actions: [
              {
                icon: "update",
                color: "white",
                handler: () => {
                  this.getMethods(custom_amount ?? amount ?? 0);
                },
              },
            ],
          });

          fail(e);
        } finally {
          this.loading.methods = false;
        }
      });
    },
    async pickMethod(method) {
      try {
        let needle_amount = method.amount || this.amount || this.avail || 0;

        const { methods } = await this.getMethods(needle_amount); // || 0 TODO: TEST
        const target_method = methods.find((m) => m.account_type === method.account_type);

        if (!target_method) {
          this.$message({ title: this.$tt("errors.load_data") });
          throw new Error("Unable to find target method");
        }

        this.$router.push({
          name: "GET_MONEY_CHECKOUT",
          params: { method: target_method || method, amount: needle_amount },
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      }
    },
    async manageRequisites(method) {
      let target_customer_data = this.customer_data.find(
        (rec) => rec.account_type === method.account_type
      );

      if (
        target_customer_data.can_edit_properties &&
        target_customer_data.can_edit_properties === false
      ) {
        this.$message({ title: this.$tt("errors.bad_operation") });
        return;
      }

      if (target_customer_data.edit_form) {
        this.$router.push(EXTERNAL_EDIT_FORMS[target_customer_data.edit_form]);
      } else {
        this.$router.push(`/requisites/${method.account_type}`);
      }
    },
  },
};
</script>
