<template>
  <PageContainer with-back="/legal-info">
    <div class="container"></div>
  </PageContainer>
</template>

<script>
export default {
  computed: {
    document_type() {
      return this.$route.params.document;
    },
    document_type_title() {
      let document_types = {
        "privacy-policy": "Политика конфиденциальности",
        "personal-data": "Согласие на обработку персональных данных",
        "offer-agreement": "Договор-оферта",
      };

      return document_types[this.document_type];
    },
  },
};
</script>

<style lang="scss">
.mono {
  font-family: monospace;
}
table {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.form-table {
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #333;
  border-collapse: collapse;

  tr {
    th {
      border: 1px solid #333;
      padding: 4px;
    }
    td {
      border: 1px solid #333;
      padding: 4px;
      text-align: center;
    }
  }

  &--two-column {
    td {
      width: 50%;
    }
  }
}
</style>
