<template>
  <PageContainer :title="$tt('nav.sells.disputes.title')">
    <template #actions>
      <app-btn
        padding="11px"
        size="12px"
        to="/resolution-center"
        v-if="is_archive"
        @click="$router.push({ query: { archive: false } })"
      >
        {{ $tt("pages.disputes.active_disputes", 1) }}
      </app-btn>
      <app-btn
        padding="11px"
        size="12px"
        v-else
        @click="$router.push({ query: { archive: true } })"
      >
        {{ $tt("common.archive") }}
      </app-btn>
    </template>

    <div class="container">
      <div class="q-mb-xl">
        <div class="row q-col-gutter-md">
          <div class="col-4">
            <app-select
              v-model="filter.orderBy"
              :label="$tt('common.sort', 1)"
              map-options
              emit-value
              :options="options.orderBy"
            >
            </app-select>
          </div>
          <div class="col">
            <app-btn
              @click="$router.push({ query: { ...$route.query, ...filter } }).catch(() => {})"
              color="accent"
              class="full-height"
            >
              {{ $tt("common.apply") }}
            </app-btn>
          </div>
        </div>
      </div>

      <app-table-list
        :empty="(!disputes || !disputes.length) && $tt('errors.nothing_to_display', 1)"
        :loading="loading"
        :header="is_archive ? $tt('common.archive', 1) : $tt('pages.disputes.active_disputes', 1)"
        :colspan="11"
      >
        <template #thead>
          <tr>
            <th side>
              {{ $tt("pages.disputes.label", 1, 2) }}
            </th>
            <th>
              {{ $tt("common.order_number", 1) }}
            </th>
            <th>
              {{ $tt("common.created_at", 1) }}
            </th>
            <th>
              {{ $tt("common.updated", 1) }}
            </th>
            <th>
              {{ $tt("common.platform", 1) }}
            </th>
            <th>
              {{ $tt("common.summ", 1) }}
            </th>
            <th>
              {{ $tt("common.reason", 1) }}
            </th>
            <th>
              {{ $tt("common.phase", 1) }}
            </th>
            <th>
              {{ $tt("common.status", 1) }}
            </th>
            <th>
              {{ $tt("common.decision", 1) }}
            </th>
            <th>
              {{ $tt("pages.disputes.answer_to", 1) }}
            </th>
          </tr>
        </template>

        <router-link
          tag="tr"
          v-for="dispute in disputes"
          :to="`/resolution-center/dispute/${dispute.dispute_id}`"
          :key="dispute.dispute_id"
          class="cursor-pointer"
        >
          <td side>
            <div
              class="flex column items-start q-gutter-xs"
              v-if="
                dispute.moderated ||
                  dispute.open_issue ||
                  dispute.operator_unread ||
                  dispute.status === 'WAITING_FOR_SELLER_RESPONSE'
              "
            >
              <app-badge class="fz-10 font-500 bg-orange" v-if="dispute.moderated">
                Ожидает модерации
              </app-badge>
              <app-badge class="fz-10 font-500" level="negative" v-if="dispute.open_issue">
                Открыт вопрос
              </app-badge>
              <!-- dispute.operator_unread -->
              <app-badge
                class="fz-10 flex items-center font-500 bg-blue-7"
                v-if="dispute.operator_unread"
              >
                Сообщение оператора ({{ dispute.operator_unread }})
              </app-badge>
              <app-badge
                class="fz-10 flex items-center font-500 bg-pink-7"
                v-if="dispute.status === 'WAITING_FOR_SELLER_RESPONSE'"
              >
                Ожидает ответа продавца
              </app-badge>
              <!-- WAITING_FOR_SELLER_RESPONSE -->
            </div>
            <div v-else>
              <small style="white-space: nowrap" class="text-muted">
                {{ $tt("errors.not_specified") }}
              </small>
            </div>
          </td>
          <td>
            {{ dispute.order.order_id }}
          </td>
          <td>
            <div>
              {{ dispute && dispute.pp_created && $date(dispute.pp_created) }}
            </div>
            <small class="text-muted">
              {{ dispute && dispute.pp_created && $time(dispute.pp_created) }}
            </small>
          </td>
          <td>
            <div>
              {{ dispute && dispute.pp_last_update && $date(dispute.pp_last_update) }}
            </div>
            <small class="text-muted">
              {{ dispute && dispute.pp_last_update && $date(dispute.pp_last_update) }}
            </small>
          </td>
          <td>
            {{ $capitalize(dispute.order.order_shop_place) }}
          </td>
          <td>{{ $toUSD(dispute.amount) }}</td>
          <td>
            <small class="font-500">{{ transformReason(dispute.reason).text }}</small>
          </td>
          <td>
            <small class="font-500" v-if="dispute.phase">
              {{ transformPhase(dispute.phase) }}
            </small>
            <div class="text-muted" v-else>
              &bull;
            </div>
          </td>
          <td>
            <small class="font-500">{{ transformStatus(dispute.status).text }}</small>
          </td>
          <td>
            <small v-if="dispute.outcome" class="font-500">{{
              transformOutcome(dispute.outcome)
            }}</small>
            <small class="text-muted" v-else>
              {{ $tt("errors.not_specified") }}
            </small>
          </td>

          <td>
            <div v-if="dispute.seller_response_due_date">
              <div>{{ $date(dispute.seller_response_due_date) }}</div>
              <small class="text-muted">
                {{ $time(dispute.seller_response_due_date) }}
              </small>
            </div>
            <small class="text-muted" v-else>
              {{ $tt("errors.not_specified") }}
            </small>
          </td>
        </router-link>
      </app-table-list>
    </div>
  </PageContainer>
</template>

<script>
const ARCHIVE_DISPUTES = ["RESOLVED"],
  ACTIVE_DISPUTES = [
    "OPEN",
    "WAITING_FOR_BUYER_RESPONSE",
    "WAITING_FOR_SELLER_RESPONSE",
    "UNDER_REVIEW",
    "OTHER",
  ];

export default {
  name: "ResolutionCenter",
  mouted() {
    this.$router.push({ query: this.normalizeFilter() });

    this.syncFilter();
  },
  data() {
    return {
      loading: false,
      disputes: null,
      filter: {
        orderBy: null,
        // page: (this.$route.query && this.$route.query.page) || 0,
        // on_page: (this.$route.query && this.$route.query.on_page) || 20,
      },
      total: 0,
      options: {
        orderBy: [
          // { order_id_desc: "" },
          // { order_id_asc: "" },
          // { order_buyer_name_desc: "Имя покупателя - по убыванию" },
          // { order_buyer_name_asc: "Имя покупателя - по возрастанию" },
          // { outcome_desc: "" },
          // { outcome_asc: "" },
          { value: "amount_desc", label: "Сумма (по убыв.)" },
          { value: "amount_asc", label: "Сумма (по возр.)" },
          { value: "created_desc", label: "Создан (по убыв.)" },
          { value: "created_asc", label: "Создан (по возр.)" },
          { value: "last_update_desc", label: "Обновлено (по убыв.)" },
          { value: "last_update_asc", label: "Обновлено (по возр.)" },
          { value: "status_desc", label: "Статус (по убыв.)" },
          { value: "status_asc", label: "Статус (по возр.)" },
          { value: "reason_desc", label: "Принчина по убыв." },
          { value: "reason_asc", label: "Причина (по возр.)" },
          { value: "seller_response_due_date_asc", label: "Ответить до (по возр.)" },
          { value: "seller_response_due_date_desc", label: "Ответить до (по убыв.)" },
        ],
      },
    };
  },
  computed: {
    is_archive() {
      return !!this.$route.query.archive;
    },
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return Math.ceil(this.total / this.filter.on_page);
    },
  },
  watch: {
    "$route.query": {
      handler(query) {
        this.getDisputes(query);
      },
      immediate: true,
    },
    // "filter.page"(page) {
    //   this.$router.push({ query: { ...this.normalizeFilter(), ...(this.is_archive && { archive: true }) } });
    // },
    // "filter.on_page"(on_page) {
    //   this.$router.push({ query: { ...this.normalizeFilter(), ...(this.is_archive && { archive: true }), page: 0 } });
    // },
  },
  methods: {
    syncFilter() {
      let { orderBy = null } = this.$route.query;

      this.filter.orderBy = orderBy;
    },
    normalizeFilter(params = this.filter) {
      let f = {};

      let NotEmpty = (val) => {
        return val !== null && val !== undefined;
      };

      Object.entries(params).forEach(([key, value]) => {
        if (key === "page" || key === "on_page") {
          NotEmpty(value) && (f[key] = +value);
          // } else if (NotEmpty(value)) {
        } else if (!!value) {
          f[key] = value;
        }
      });

      return f;
    },
    transformPhase(code) {
      switch (code) {
        case "CHARGEBACK":
          return "ПОКУПАТЕЛЬ ПЕРЕВЕЛ ДИСПУТ В ЖАЛОБУ";
        case "INQUIRY":
          return "ДИСПУТ";
        default:
          return code;
      }
    },
    async getDisputes(params = {}) {
      let { archive = false, ...query } = params;

      try {
        this.loading = true;

        const {
          data: { disputes, items_total },
        } = await this.$api.post(`/disputes`, {
          ...this.normalizeFilter(params),
          ...(archive ? { filterStatus: ARCHIVE_DISPUTES } : { filterStatus: ACTIVE_DISPUTES }),
        });

        this.syncFilter();

        this.total = items_total;
        this.disputes = disputes;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    transformReason(value) {
      return this.$store.getters["Disputes/reasons"][value];
    },
    transformStatus(value) {
      return this.$store.getters["Disputes/statuses"][value];
    },
    transformOutcome(code) {
      const CODES = {
        ACCEPTED: "Принят",
        CANCELED_BY_BUYER: "Отменен покупателем",
        DENIED: "Отклонен",
        NONE: "Отсутвует",
        RESOLVED_BUYER_FAVOUR: "Решен в пользу покупателя",
        RESOLVED_SELLER_FAVOUR: "Решен в пользу продавца",
        RESOLVED_WITH_PAYOUT: "Решен с выплатой",
      };

      return CODES[code];
    },
  },
};
</script>
