<template>
  <PageContainer :title="$tt('nav.my_account.hold_money_log.title')">
    <div class="container">
      <div class="q-mb-lg flex-center-between">
        <app-pagination v-model="human_page" :max="total_pages || 1" />
        <div class="flex items-center q-gutter-x-sm">
          <small class="text-muted"> {{ $tt("common.total") }}: {{ total || 0 }} </small>
          <app-select
            :options="[20, 35, 50, 75, 100]"
            v-model="filter.on_page"
            style="min-width:120px"
            :label="$tt('common.on_page', 1)"
          ></app-select>
        </div>
      </div>

      <app-table-list
        :loading="loading"
        :empty="(!report || !report.length) && $tt('errors.no_data', 1)"
        :header="$tt('common.operations_list', 1)"
        :colspan="4"
      >
        <template #thead>
          <tr>
            <th>
              {{ $tt("common.date", 1) }}
            </th>
            <th class="text-right">
              {{ $tt("common.before_operation", 1) }}
            </th>
            <th class="text-right">
              {{ $tt("common.after_operation", 1) }}
            </th>
            <th class="text-right">
              {{ $tt("common.difference", 1) }}
            </th>
          </tr>
        </template>
        <tr v-for="r in report" :key="r.log_id">
          <td>
            <div v-if="split_date(r.log_date).date">
              {{ split_date(r.log_date).date }}
            </div>
            <small class="text-muted" v-else>
              {{ $tt("common.not_specified") }}
            </small>
            <small v-if="split_date(r.log_date).time" class="text-grey-8 font-500">
              {{ split_date(r.log_date).time }}
            </small>
            <small class="text-muted" v-else>
              {{ $tt("common.not_specified") }}
            </small>
          </td>
          <td class="text-right">
            {{ $toUSD(r.old_hold) }}
          </td>
          <td class="text-right">
            {{ $toUSD(r.new_hold) }}
          </td>
          <td class="text-right">
            {{ $toUSD(r.difference) }}
          </td>
        </tr>
      </app-table-list>

      <div class="q-mt-lg flex-center-between">
        <app-pagination v-model="human_page" :max="total_pages || 1" />
        <div class="flex items-center q-gutter-x-sm">
          <small class="text-muted"> {{ $tt("common.total") }}: {{ total || 0 }} </small>
          <app-select
            :options="[20, 35, 50, 75, 100]"
            v-model="filter.on_page"
            style="min-width:120px"
            :label="$tt('common.on_page', 1)"
          ></app-select>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  mounted() {
    let { page, on_page } = this.$route.query;

    this.filter.page = +page || 0;
    this.filter.on_page = +on_page || 20;

    this.getHolded();
  },
  data() {
    return {
      filter: {
        page: 0,
        on_page: 20,
      },
      report: null,
      total: null,
      loading: false,
    };
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (this.total && Math.ceil(this.total / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "filter.page"(page) {
      this.getHolded({ ...this.filter, page });
    },
    "filter.on_page"(on_page) {
      this.getHolded({ ...this.filter, on_page, page: 0 });
    },
  },
  methods: {
    normalizeParams(filter = this.filter) {
      let f = {};

      Object.entries(filter).forEach(([key, value]) => {
        let accept = (v = value) => (f[key] = v);

        if (key === "page" || key === "on_page") {
          accept(+value);
        } else if (value !== null && value !== undefined) {
          accept();
        }
      });

      return f;
    },
    async getHolded(filter = this.filter) {
      let params = this.normalizeParams(filter);

      try {
        this.loading = true;

        let {
          data: { report, total },
        } = await this.$api({
          // url: "http/s://api.seller-online.com/payments/customer_hold_log",
          url: "/payments/customer_hold_log",
          params,
        });

        this.report = report;
        this.total = total;

        this.$router.push({ query: params }).catch(() => {});
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    split_date(str) {
      let [date, time] = str.split(" ");

      return {
        date,
        time,
      };
    },
  },
};
</script>
