<template>
  <div class="wh-manager">
    <!-- <h4>Категории</h4> -->

    <div class="row q-col-gutter-lg">
      <div class="col relative-position">
        <div :style="autoHeight && 'position:sticky;top:77px;left:0'">
          <h5 class="q-mb-md">
            {{ $tt("common.category", 1, 2) }}
          </h5>

          <WarehouseCategories @change="handleCategory" />
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <h5 class="q-mb-md">
          {{ $tt("common.product", 1, 2) }}
        </h5>
        <WarehouseProducts
          :isWarehouse="isWarehouse"
          :filter="current_category"
          @on-row-dbclick="handleDoubleClick"
          @on-rows-change="handleRowsChange"
          @on-create-product="handleNewProduct"
          @query-change="(query) => $emit('query-change', query)"
          :actions="actions"
          :auto-height="autoHeight"
          ref="warehouse-product"
          :with-pager="withPager"
        />
      </div>
    </div>
  </div>
</template>

<script>
import WarehouseProducts from "./products";
import WarehouseCategories from "./categories";

export default {
  components: {
    WarehouseCategories,
    WarehouseProducts,
  },
  props: {
    isWarehouse: Boolean,
    actions: Array,
    autoHeight: Boolean,
    withPager: Boolean,
  },
  data() {
    return {
      categories: [],
      products: [],
      current_category: null,
      show_cats: false,
    };
  },
  methods: {
    handleCategory(val) {
      this.current_category = val;
      this.$emit("on-category-change", this.current_category);
    },
    handleDoubleClick(row) {
      this.$emit("on-row-dbclick", row);
    },
    handleRowsChange(rows) {
      this.$emit("on-rows-change", rows);
    },
    handleNewProduct(new_prod) {
      this.$emit("on-create-product", new_prod);
    },
    hideCategories(e) {
      let isCatsWindowClick = Array.from(e.path).find(
        (el) =>
          el.classList &&
          Array.from(el.classList) &&
          Array.from(el.classList).length &&
          Array.from(el.classList).includes("wh-manager__cats")
      );

      if (isCatsWindowClick) return;

      if (!this.show_cats) return;

      this.show_cats = false;
    },
  },
};
</script>
