<template>
  <q-dialog position="bottom" ref="get-wh-item">
    <q-card class="container-fluid">
      <q-card-section>
        <h5 class="q-ma-none">
          {{ $tt("common.pick", 1) }}
          {{ $tt("common.product") }}
        </h5>
      </q-card-section>
      <q-card-section>
        <!-- <Warehouse @on-row-dbclick="pickItem" :actions="['add', 'create']" /> -->
        <NewWarehouse @pick-product="pickItem" :actions="['add', 'control']" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
// import Warehouse from "./index.vue";
import NewWarehouse from "@/components/NewWarehouse";

export default {
  components: {
    // Warehouse,
    NewWarehouse,
  },
  methods: {
    pickItem(product) {
      this.$emit("ok", product);
      this.hide();
    },
    show() {
      this.$refs["get-wh-item"].show();
    },
    hide() {
      this.$refs["get-wh-item"].hide();
    },
  },
};
</script>
<style lang="scss" scoped>
.q-dialog__inner {
  width: 100% !important;

  .q-card {
    max-width: none;
  }
}
</style>
