<template>
  <PageContainer :loading="loading" :title="$tt('nav.my_account.send_money.title')">
    <app-banner level="info" class="q-mb-xl">
      <div class="container">
        <div class="flex items-center q-py-md">
          <q-icon name="info_outline" size="28px" class="q-mr-sm"></q-icon>
          {{ $tt("pages.send_money.messages.system_warning") }}
        </div>
      </div>
    </app-banner>
    <div class="container">
      <app-list>
        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.login", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <app-input
              :dense="false"
              :placeholder="$tt('pages.send_money.login_placeholder')"
              :error="$v.login.$anyError"
              v-model="login"
            ></app-input>
          </q-item-section>
        </q-item>
        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.summ", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <app-input
              :dense="false"
              v-model.number="amount"
              suffix="USD"
              type="number"
              :error="$v.amount.$anyError"
            ></app-input>
          </q-item-section>
        </q-item>
        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.comment", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <app-input
              :dense="false"
              v-model="comment"
              rows="3"
              type="textarea"
              :error="$v.comment.$anyError"
            ></app-input>
          </q-item-section>
        </q-item>
      </app-list>
      <div class="flex column items-center q-mt-xl">
        <app-btn @click="submitMoney" color="positive" padding="md lg">
          {{ $tt("common.send") }}

          <q-icon class="q-ml-sm" size="18px" name="send"></q-icon>
        </app-btn>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      login: null,
      amount: null,
      comment: null,
      loading: false,
    };
  },
  methods: {
    async submitMoney(auth_data = {}) {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });

        return;
      }

      try {
        this.loading = true;

        let { login, amount, comment } = this;

        await this.$api.put(`payments/send_money`, {
          login,
          amount,
          comment,
          ...auth_data,
        });

        this.$alert({
          title: this.$tt("messages.changes_saved", 1),
          level: "success",
        });

        this.$v.$reset();

        this.amount = null;
        this.login = null;
        this.comment = null;

        this.$store.dispatch("Finances/GET_BALANCE");
      } catch (e) {
        console.log(e);

        if (e.response.status === 403) {
          this.$message({
            level: "warning",
            title: "Требуется подтверждение действия",
            caption: "Введите OTP код",
          });

          try {
            const key = await this.confirmOTP(e.response.data);

            if (key && key.length) {
              this.submitMoney({
                "2fa_key": key,
                ...(e.response &&
                  e.response.data &&
                  e.response.data.signature && { "2fa_sign": e.response.data.signature }),
              });
            }
          } catch (e) {
            console.log(e);

            this.$alert({ level: "danger", title: e.toString() });
          } finally {
            this.loading = false;
          }
        } else {
          this.$showApiError(e, { fallbackMessage: "Не удалось завершить операцию" });

          this.loading = false;
        }
      } finally {
        this.loading = false;
      }
    },
    confirmOTP({ message, method }) {
      return new Promise((done, fail) => {
        try {
          this.$q
            .dialog({
              parent: this,
              component: () => import("@/components/PromptOTP"),
              message,
              method,
            })
            .onOk(({ key }) => {
              done(key);
            })
            .onCancel(() => {
              this.$message({
                level: "warning",
                title: "Операция отменена",
              });
              fail();
            });
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
  },
  validations() {
    return {
      login: { required },
      amount: { required },
      comment: { required },
    };
  },
};
</script>
