<template>
  <q-dialog
    :maximized="$q.screen.xs || false"
    :ref="modal_name"
    class="doc-view"
    full-height
    transition-show="jump-up"
    transition-hide="jump-down"
    :persistent="persistent"
  >
    <q-card class="full-height column no-wrap" style="max-width:777px;width:100%;">
      <!-- <q-card-section></q-card-section> -->
      <q-card-section class="full-height q-pa-none ">
        <iframe
          name="doc-frame"
          v-if="!error && src"
          :src="src"
          frameborder="0"
          style="width:100%"
          class="full-height"
        ></iframe>
        <app-banner level="danger" v-else class="full-width text-center">
          <div class="text-subtitle2 text-center">
            <!-- Не удалось загрузить и/или показать документы -->
            {{ $tt("errors.load_data", 1) }}
          </div>
        </app-banner>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn :label="$tt('common.close')" color="red" flat @click="hide" />
          <div>
            <app-btn
              :label="$tt('common.print', 1)"
              unelevated
              color="indigo"
              @click="printDocument"
              :disable="error"
              class="q-mr-md"
              icon="print"
            />
            <app-btn
              :label="$tt('common.download')"
              unelevated
              color="primary"
              @click="downloadDoc"
              :disable="error"
              icon="download"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    name: String,
    document: null,
    filename: String,
    persistent: Boolean,
  },
  mounted() {
    if (!this.document) this.error = true;

    this.src = this.getDocUrl();
  },
  data() {
    return {
      src: null,
      error: false,
    };
  },
  computed: {
    modal_name() {
      return `document-${this.name || this._uid}`;
    },
  },
  methods: {
    show() {
      this.$refs[this.modal_name].show();
    },
    hide() {
      this.$refs[this.modal_name].hide();
    },
    getDocBlob() {
      return new Blob([this.document], { type: "application/pdf" });
    },
    getDocUrl() {
      let blob = this.getDocBlob();
      return URL.createObjectURL(blob);
    },
    printDocument() {
      const content = window.frames["doc-frame"];
      content.focus();
      content.print();
    },
    downloadDoc() {
      const filename =
        this.filename ||
        `document_${this.$date()
          .split(".")
          .join("-")}`;

      if (navigator.msSaveBlob) {
        // IE 10+
        navigator.msSaveBlob(blob, filename);
      } else {
        const link = document.createElement("a");
        // Browsers that support HTML5 download attribute
        if (link.download !== undefined) {
          const url = this.getDocUrl();

          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    },
  },
};
</script>
