<template>
  <!-- :content-inset-level="level" -->
  <q-expansion-item
    @click="changeCategory(category)"
    :label="category.title"
    v-if="category.folders && category.folders.length"
    :header-inset-level="level"
    :header-class="(is_selected && 'text-primary font-500') || []"
    class="fz-12"
    expand-separator
  >
    <!-- expand-icon-toggle -->
    <template #header>
      <q-item-section side>
        <q-item-label>
          <q-btn
            :color="(is_selected && 'primary') || 'grey-7'"
            @click.stop
            size="10px"
            flat
            icon="more_vert"
            dense
          >
            <q-menu>
              <q-list class="fz-12">
                <q-item
                  v-show="actions && actions.includes('add')"
                  clickable
                  v-close-popup
                  dense
                  class="q-py-md"
                  @click="addAllProducts(category.id)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("warehouse.add_all_category_products", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  v-show="actions && actions.includes('add-all')"
                  v-close-popup
                  clickable
                  dense
                  class="q-py-md"
                  @click="addAllWarehouseProducts(category.id)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("warehouse.add_all_category_products", 1) }}
                    </q-item-label>
                    <q-item-label caption class="font-500 text-primary">
                      учитывая остатки на складе
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item
                  clickable
                  v-close-popup
                  dense
                  class="q-py-md"
                  @click="createChild(category)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("pages.warehouse.create_nested_category") }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  dense
                  class="q-py-md"
                  @click="createProduct(category.id)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("pages.warehouse.create_category_product") }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  dense
                  class="q-py-md"
                  @click="editCategory(category)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.edit", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  dense
                  class="text-negative q-py-md"
                  @click="removeCategory(category)"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.delete", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </q-item-label>
      </q-item-section>
      <q-item-section>
        <q-item-label>
          <div class="flex items-center ">
            <span class="ellipsis">
              {{ category.title }}

              <!-- <small class="q-ml-xs">  -->
              ({{ category.folders.length }})
              <!-- </small> -->
            </span>
          </div>
        </q-item-label>
      </q-item-section>
    </template>

    <CategoryLeaf
      @change="changeCategory"
      :key="children.id"
      v-for="children in category.folders"
      :category="children"
      :level="level + 0.21"
      :selected="selected"
      @create="(parent) => createChild(parent)"
      @edit="(category) => editCategory(category)"
      @remove="(category) => removeCategory(category)"
      @create-product="(parent) => createProduct(parent)"
      @category-add="(category_id) => addAllProducts(category_id)"
      @category-add-all="(category_id) => $emit('category-add-all', category_id)"
      :actions="actions"
    />
  </q-expansion-item>

  <q-item
    :inset-level="level"
    @click="changeCategory(category)"
    v-else
    clickable
    class="fz-12"
    :class="is_selected && 'text-pirmary bg-blue-1 font-500'"
  >
    <q-item-section side>
      <q-item-label>
        <q-btn
          :color="(is_selected && 'pirmary') || 'grey-7'"
          @click.stop
          size="10px"
          flat
          icon="more_vert"
          dense
        >
          <q-menu>
            <q-list class="fz-12">
              <q-item
                v-show="actions && actions.includes('add')"
                v-close-popup
                clickable
                dense
                class="q-py-md"
                @click="addAllProducts(category.id)"
              >
                <q-item-section>
                  {{ $tt("warehouse.add_all_category_products", 1) }}
                </q-item-section>
              </q-item>
              <!--  -->
              <q-item
                v-show="actions && actions.includes('add-all')"
                v-close-popup
                clickable
                dense
                class="q-py-md"
                @click="addAllWarehouseProducts(category.id)"
              >
                <q-item-section>
                  <q-item-label caption class="font-500 text-primary">
                    {{ $tt("pages.warehouse.add_all_category_products") }}
                  </q-item-label>
                  <q-item-label caption>
                    учитывая остатки на складе
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!--  -->
              <q-item clickable v-close-popup dense class="q-py-md" @click="createChild(category)">
                <q-item-section>
                  {{ $tt("warehouse.create_nested_category", 1) }}
                </q-item-section>
              </q-item>
              <q-item
                clickable
                v-close-popup
                dense
                class="q-py-md"
                @click="createProduct(category.id)"
              >
                <q-item-section>
                  {{ $tt("warehouse.create_category_product", 1) }}
                </q-item-section>
              </q-item>
              <q-item
                clickable
                v-close-popup
                dense
                class="q-py-md"
                @click="editCategory(category)"
              >
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.edit", 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item
                class="text-negative q-py-md"
                dense
                clickable
                v-close-popup
                @click="removeCategory(category)"
              >
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.delete", 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-item-label>
    </q-item-section>
    <q-item-section>
      <q-item-label>{{ category.title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>
<script>
export default {
  name: "CategoryLeaf",
  props: {
    category: Object,
    selected: Number,
    level: Number,
    actions: [Array, undefined, null],
  },
  computed: {
    is_selected() {
      return this.selected === this.category.id;
    },
  },
  methods: {
    changeCategory(category) {
      this.$emit("change", category);
    },
    createChild(parent) {
      this.$emit("create", parent);
    },
    editCategory(category) {
      this.$emit("edit", category);
    },
    removeCategory(category) {
      this.$emit("remove", category);
    },
    createProduct(category_id) {
      this.$emit("create-product", category_id);
    },
    addAllProducts(category) {
      this.$emit("category-add", category);
    },
    addAllWarehouseProducts(category) {
      this.$emit("category-add-all", category);
    },
  },
};
</script>
