<template>
  <div>
    <div
      v-intersection="initWarehouse"
      class="row q-col-gutter-x-md"
      :class="($q.screen.xs || $q.screen.sm) && 'column'"
    >
      <div class="col">
        <div
          class="aborder bg-white rounded-borders relative-position scroll-y"
          style="position:sticky;top:77px;left:0;bottom:0"
          :style="'max-height:100%;'"
          :class="($q.screen.xs || $q.screen.sm) && 'scroll-y q-mb-md'"
        >
          <div style="position:sticky;top:0;left:0;z-index:2">
            <q-item
              style="height:60px"
              class="bg-white fz-14 font-500 text-primary flex column justify-center"
            >
              <q-item-section>
                {{ $tt("common.category", 1, 2) }}
              </q-item-section>
            </q-item>
            <q-separator />
          </div>

          <q-list :style="'max-height:63vh'" class="relative-position">
            <div class="relative-position">
              <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                appear
              >
                <div
                  v-if="loading.categories"
                  class="absolute-full flex-center light-dimmed z-top"
                >
                  <q-spinner-ios size="17px" />
                </div>
              </transition>
              <q-item
                :class="
                  filter.category_id === null &&
                    'text-primary bg-blue-1 font-500'
                "
                @click="changeCategory(null)"
                clickable
                class="fz-12"
              >
                <q-item-section>
                  <q-item-label>
                    {{ $tt("common.all", 1) }}
                    {{ $tt("common.category", 0, 2) }}
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label>
                    <q-btn
                      color="primary"
                      unelevated
                      size="10px"
                      icon="add"
                      dense
                      padding="xs"
                      @click.stop="createCategory(null)"
                    >
                      <q-tooltip>
                        <div class="font-500">
                          {{ $tt("common.create", 1) }}
                        </div>
                      </q-tooltip>
                    </q-btn>
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-slide-transition>
                <div v-if="categories && categories.length">
                  <CategoryLeaf
                    @change="changeCategory"
                    :key="category.id"
                    v-for="category in categories"
                    :category="category"
                    :selected="filter.category_id"
                    :level="0"
                    @create="(parent) => createCategory(parent)"
                    @edit="(category) => editCategory(category)"
                    @remove="(category) => removeCategory(category)"
                    @create-product="(parent) => createProduct(parent)"
                    @category-add="
                      (category_id) => addCategoryProducts(category_id)
                    "
                    @category-add-all="
                      (category_id) => addCategoryProducts(category_id, true)
                    "
                    :actions="actions"
                  >
                  </CategoryLeaf>
                </div>

                <div v-else-if="loading.categories">
                  <!-- <s-skeleton square type="QItem"></s-skeleton> -->
                </div>

                <q-item v-else>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("errors.no_data", 1) }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-slide-transition>
            </div>
          </q-list>
        </div>
      </div>
      <div class="col-9">
        <div class="aborder overflow-hidden relative-position rounded-borders">
          <q-list class="bg-white relative-position">
            <q-item-label
              style="height:60px"
              header
              class="fz-14 font-500 text-primary flex column justify-center"
            >
              <div class="flex-center-between fz-14 font-500 text-primary">
                <div>
                  {{ $tt("common.product", 1, 2) }}
                  <q-spinner-ios v-show="loading.products" />
                </div>
                <div v-show="!warehouse" class="flex items-center">
                  <app-btn
                    @click="createProduct(filter.category_id)"
                    size="11px"
                    padding="10px"
                    color="positive"
                  >
                    <q-icon
                      size="15px"
                      class="q-mr-sm"
                      name="new_releases"
                    ></q-icon>
                    {{ $tt("common.create") }}
                    {{ $tt("common.product") }}
                  </app-btn>
                </div>
              </div>
            </q-item-label>

            <q-separator />

            <div class="relative-position">
              <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                appear
              >
                <div
                  v-if="loading.products"
                  class="absolute-full flex-center light-dimmed z-top"
                >
                  <!-- <q-spinner-ios /> -->
                </div>
              </transition>

              <q-item tag="label" v-if="warehouse">
                <q-item-section>
                  <q-item-label>
                    Только товары в наличии
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    @input="filterWithStock"
                    v-model="filter.only_in_stock"
                  ></q-checkbox>
                </q-item-section>
              </q-item>

              <q-separator v-show="warehouse" />

              <q-item class="bg-white q-py-md">
                <q-item-section>
                  <q-item-label>
                    <form @submit.prevent="queryFilter">
                      <div class="flex no-wrap">
                        <app-input
                          style="min-width:280px"
                          :label="$tt('common.search', 1)"
                          v-model.trim="filter.query"
                          :placeholder="
                            `${$tt('common.title', 1)}/${$tt(
                              'common.code'
                            )} товара`
                          "
                          :disable="loading.products"
                          class="bg-white full-width"
                        >
                          <template #append>
                            <!-- :disable="!filter.query" -->
                            <app-btn
                              dense
                              padding="xs"
                              @click="clearQueryFilter"
                              flat
                              icon="close"
                              color="negative"
                            >
                            </app-btn>
                          </template>
                        </app-input>
                        <app-btn
                          type="submit"
                          class="q-ml-md q-px-md"
                          :disable="!filter.query || loading.products"
                          color="primary"
                        >
                          {{ $tt("common.search") }}
                        </app-btn>
                      </div>
                    </form>
                  </q-item-label>
                </q-item-section>
              </q-item>

              <div v-show="withPager">
                <q-item class="bg-white q-py-sm q-pb-md">
                  <q-item-section>
                    <q-item-label>
                      <div class="flex-center-between no-wrap">
                        <app-pagination
                          v-model="human_page"
                          :max="total_pages || 1"
                          :disable="loading.products"
                          class="q-mr-sm"
                          size="12px"
                        />
                        <div class="flex items-center">
                          <small class="text-muted q-mr-sm">
                            {{ $tt("common.on_page") }}
                          </small>
                          <app-select
                            v-model="filter.on_page"
                            style="min-width:70px"
                            :options="[10, 20, 35, 50, 75, 100]"
                          ></app-select>
                        </div>
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-separator />
              </div>

              <div>
                <q-markup-table
                  flat
                  :style="!autoHeight && 'max-height: 420px'"
                >
                  <thead>
                    <tr>
                      <th
                        v-for="(col, idx) in columns"
                        :key="idx"
                        :class="[
                          ...[col.extraClasses && col.extraClasses],
                          col.sortable && 'cursor-pointer col--sortable',
                        ]"
                        @click="toggleSort(col.sortable)"
                      >
                        <div
                          v-if="col.sortable"
                          class="flex no-wrap items-center"
                          :class="
                            filter.sort_on === col.sortable && 'text-accent'
                          "
                        >
                          {{ col.label }}
                          <q-icon
                            name="sort"
                            v-show="col.sortable"
                            size="15px"
                            style="margin-bottom:1px;margin-top:1px"
                            class="q-ml-xs"
                            :class="[
                              filter.ascending &&
                                filter.sort_on === col.sortable &&
                                'rotate-180',
                              filter.sort_on !== col.sortable && 'text-grey',
                            ]"
                          ></q-icon>
                        </div>
                        <div v-else>
                          {{ col.label }}
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody v-if="products && products.length">
                    <tr
                      @dblclick="pickProduct(row)"
                      @click="$emit('product-click', row)"
                      class="cursor-pointer"
                      v-for="row in products"
                      :key="row.product_id"
                    >
                      <td
                        v-if="actions && actions.length"
                        style="width:0;padding-right:4px;"
                      >
                        <div class="flex no-wrap items-center q-gutter-x-sm">
                          <app-btn
                            v-if="actions.includes('add')"
                            size="12px"
                            :padding="pickProductText ? 'sm' : 'xs'"
                            :class="[
                              pickProductClass || 'bg-accent text-white',
                            ]"
                            push
                            @click.stop="pickProduct(row)"
                            :icon="pickProductIcon"
                            :label="pickProductText"
                            no-wrap
                          />
                          <!-- :disable="warehouse && !row.product_quantity" -->

                          <q-btn
                            v-if="actions.includes('control')"
                            size="12px"
                            class="bg-white text-primary"
                            icon="more_vert"
                            push
                            padding="xs"
                            @click.stop
                          >
                            <q-menu>
                              <q-list>
                                <q-item>
                                  <q-item-section>
                                    <q-item-label caption>
                                      {{ row.title }}
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  v-close-popup
                                  @click.stop="editProduct(row)"
                                >
                                  <q-item-section v-close-popup>
                                    <q-item-label>
                                      {{ $tt("common.edit", 1) }}
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  v-close-popup
                                  v-show="!warehouse"
                                  @click.stop="cloneProduct(row)"
                                >
                                  <q-item-section v-close-popup>
                                    <q-item-label>
                                      {{ $tt("common.copy", 1) }}
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                                <q-item clickable @click="getStickers(row)">
                                  <q-item-section>
                                    <q-item-label>
                                      {{ $tt("common.get", 1, 0) }}
                                      {{ $tt("common.stickers", 0, 2) }}
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  v-if="warehouse"
                                  clickable
                                  v-close-popup
                                  @click.stop="getProductHistory(row)"
                                >
                                  <q-item-section>
                                    <q-item-label>
                                      {{ $tt("common.history", 1) }}
                                      <!-- История движения товара -->
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  v-close-popup
                                  v-show="!warehouse"
                                  @click.stop="removeProduct(row)"
                                >
                                  <q-item-section
                                    v-close-popup
                                    class="text-negative"
                                  >
                                    <q-item-label>
                                      {{ $tt("common.delete", 1) }}
                                    </q-item-label>
                                  </q-item-section>
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-btn>
                        </div>
                      </td>
                      <td style="width:0px">
                        <small class="text-muted">
                          {{ row.code_internal }}
                        </small>
                        <div
                          v-if="row.code"
                          class="fz-12 ellipsis"
                          style="max-width:10vw"
                        >
                          {{ row.code }}
                        </div>
                      </td>

                      <td
                        style="max-width:28vw;font-size:12px;white-space:normal"
                      >
                        <div class="flex no-wrap items-center">
                          <div
                            style="height:42px;width:42px;flex-shrink: 0;"
                            class="flex q-mr-sm"
                          >
                            <ProductPreview
                              v-if="showPreview"
                              :limit="1"
                              @preview-ready="(img) => setPreview(row, img)"
                              :images="row.files"
                              :id="row.product_id"
                              class="q-mr-sm"
                            />
                          </div>

                          <div>
                            <div style="font-size:11px" class="text-muted">
                              {{ row.category_title }}
                            </div>
                            {{ row.title }}
                            <div
                              :title="row.uktved.title"
                              class="fz-11 text-grey-9"
                              style="cursor:help"
                              v-if="row.uktved"
                            >
                              {{ row.uktved.code }}
                            </div>
                          </div>
                        </div>
                      </td>

                      <td class="text-right">
                        {{ $toUSD(row.cost) }}
                      </td>

                      <td v-if="warehouse" class="text-right">
                        {{ row.product_quantity }}
                      </td>

                      <td style="width:0">
                        <div
                          class="flex q-gutter-x-xs inline no-wrap items-center"
                        >
                          <div>
                            {{ row.length }}
                          </div>
                          <div class="text-grey-6">
                            &bull;
                          </div>
                          <div>
                            {{ row.width }}
                          </div>
                          <div class="text-grey-6">
                            &bull;
                          </div>
                          <div>
                            {{ row.height }}
                          </div>
                        </div>
                      </td>

                      <td style="width:0" class="text-right">
                        {{ $toFixed(row.weight, 3) }}
                      </td>
                    </tr>
                  </tbody>

                  <tbody v-else>
                    <tr>
                      <td :colspan="columns.length">
                        <div class="flex-center column q-py-md">
                          <small class="text-grey">
                            {{ $tt("errors.no_data", 1) }}
                          </small>

                          <app-btn
                            v-show="filter.category_id && !warehouse"
                            @click="createProduct(filter.category_id)"
                            size="11px"
                            color="positive"
                            class="q-mt-sm"
                          >
                            <q-icon
                              size="13px"
                              class="q-mr-sm"
                              name="new_releases"
                            ></q-icon>
                            {{ $tt("common.create") }}
                            {{ $tt("common.product") }}
                          </app-btn>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </div>

              <!-- v-show="!has_pages" -->
              <div v-show="withPager && autoHeight">
                <q-separator />
                <q-item class="bg-white q-py-sm">
                  <q-item-section>
                    <q-item-label>
                      <div class="flex-center-between no-wrap">
                        <div class="flex no-wrap">
                          <app-pagination
                            v-model="human_page"
                            :max="total_pages || 1"
                            :disable="loading.products"
                            class="q-mr-sm"
                            size="12px"
                          />
                        </div>
                        <div class="flex items-center">
                          <small class="text-muted q-mr-sm">
                            {{ $tt("common.on_page") }}
                          </small>
                          <app-select
                            v-model="filter.on_page"
                            style="min-width:70px"
                            :options="[10, 20, 35, 50, 75, 100]"
                          ></app-select>
                        </div>
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
          </q-list>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CategoryLeaf from "./CategoryLeaf.vue";
import ProductPreview from "./ProductPreview/preview.vue";

export default {
  components: {
    CategoryLeaf,
    ProductPreview,
  },
  props: {
    warehouse: {
      type: Boolean,
      default: false,
    },
    autoHeight: Boolean,

    actions: {
      type: Array,
      default: () => [],
    },
    withPager: {
      type: Boolean,
      default: true,
    },
    showPreview: {
      type: Boolean,
      default: () => true,
    },
    pickProductIcon: {
      type: String,
      default: () => "add",
    },
    pickProductText: {
      type: String,
      default: () => "",
    },
    pickProductClass: {
      type: String,
    },
    // withStock: {
    //   type: Boolean,
    //   default: () => true,
    // },
  },
  data() {
    return {
      filter: {
        page: 0,
        on_page: 10,
        category_id: null,
        query: null,
        sort_on: null,
        ascending: null,
        only_in_stock: false,
      },
      loading: {
        products: false,
        categories: false,
      },
      categories: null,
      products: null,
      total: null,
    };
  },
  computed: {
    warehouse_columns() {
      return [
        {
          label: this.$tt("common.code", 1),
          sortable: "code",
        },
        {
          label: this.$tt("common.title", 1),
          sortable: "title",
        },
        {
          extraClasses: ["text-right"],
          label: this.$tt("common.cost", 1),
        },
        {
          label: this.$tt("common.count", 1),
          extraClasses: ["text-right"],
          sortable: "stock",
        },
        {
          label: "Д • Ш • В (cm)",
        },
        {
          label: `${this.$tt("common.weight", 1)}, kg`,
          extraClasses: ["text-right"],
        },
      ];
    },
    common_columns() {
      return [
        {
          label: this.$tt("common.code", 1),
          sortable: "code",
        },
        {
          label: this.$tt("common.title", 1),
          sortable: "title",
        },
        {
          label: this.$tt("common.cost", 1),
          extraClasses: ["text-right"],
        },
        {
          label: "Д • Ш • В (cm)",
        },
        {
          label: `${this.$tt("common.weight", 1)}, kg`,
          extraClasses: ["text-right"],
        },
      ];
    },
    columns() {
      return [
        ...(this.actions && this.actions.length ? [{ label: "" }] : []),
        ...(this.warehouse ? this.warehouse_columns : this.common_columns),
      ];
    },
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (this.total && Math.ceil(this.total / this.filter.on_page)) || 1;
    },
    has_pages() {
      return this.total && this.total < this.filter.on_page;
    },
  },
  watch: {
    "filter.page"(page) {
      this.getProducts({ ...this.filter, page });
    },
    "filter.on_page"(on_page) {
      this.filter.page = 0;
      this.getProducts({ ...this.filter, on_page });
    },
    "filter.category_id"(new_category, old_category) {
      if (new_category !== old_category)
        this.getProducts({ ...this.filter, page: 0 });
    },
    "warehouse"(warehouse) {
      this.filter.page = 0;
      this.getProducts({ ...this.filter, page: 0, warehouse });
    },
  },
  methods: {
    normalizeParams(filter = this.filter) {
      let f = {};

      let num_fields = ["page", "on_page"];

      Object.entries(filter).forEach(([key, value]) => {
        let accept = (val = value) => (f[key] = val);

        if (num_fields.includes(key)) {
          accept(+value);
        } else if (value !== null && value !== undefined) {
          accept();
        }
      });

      return f;
    },
    async getProducts(params = this.filter, set = true) {
      return new Promise(async (done, fail) => {
        let $params = {
          warehouse: this.warehouse,
          ...this.normalizeParams(params),
        };

        if (!this.withPager) {
          $params.page = 0;
          $params.on_page = -1;
        }

        try {
          this.loading.products = true;

          let { products, total } = await this.$store.dispatch(
            "Warehouse/GET_PRODUCTS",
            $params
          );

          if (set) {
            this.products = products;
            this.total = total;
          }

          this.autoHeight && window.scrollTo(0, 0);

          done(products);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data", 1),
            notify: true,
          });

          fail(e);
        } finally {
          this.loading.products = false;
        }
      });
    },
    async getCategories() {
      return new Promise(async (done, fail) => {
        this.loading.categories = true;

        try {
          let categories = await this.$store.dispatch(
            "Warehouse/GET_CATEGORIES"
          );

          this.categories = categories;

          done(categories);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data", 1),
            notify: true,
          });
        } finally {
          this.loading.categories = false;
        }
      });
    },
    changeCategory(category) {
      this.filter.category_id = (category && category.id) || null;
    },
    queryFilter() {
      this.filter.page = 0;
      this.getProducts();
    },
    clearQueryFilter() {
      this.filter.query = null;
      this.filter.page = 0;

      this.getProducts();
    },
    createCategory(parent) {
      let CreateDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./ProcessCategory"),
          parent_category: parent || null,
        })
        .onOk(async (created) => {
          this.getCategories();

          CreateDialog.hide();
          this.$message({
            level: "success",
            title: this.$tt("messages.changes_saved", 1),
          });
        });
    },
    editCategory(category) {
      let UpdateDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./ProcessCategory"),
          edit: category,
        })
        .onOk(async (updated) => {
          await this.getCategories();

          UpdateDialog.hide();
          this.$message({
            level: "success",
            title: this.$tt("messages.changes_saved", 1),
          });
        });
    },
    async removeCategory({ id: category_id }) {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: this.$tt("warehouse.remove_category"),
        }),
        width: 420,
        level: "danger",
      });

      if (!c) return;

      try {
        this.loading.categories = true;

        await this.$api({
          url: `/warehouse/categories`,
          method: "DELETE",
          data: { category_id },
        });

        this.$message({
          title: this.$tt("warehouse.category_deleted"),
          level: "success",
        });

        if (this.filter.category_id === category_id) {
          this.filter.category_id = null;
          this.getProducts();
        }

        await this.getCategories();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data", 1),
        });
      } finally {
        this.loading.categories = false;
      }
    },
    createProduct(category_id) {
      const CreateProduct = this.$q
        .dialog({
          component: () => import("./ProcessProduct"),
          category_id,
          parent: this,
        })
        .onOk((product) => {
          this.$message({
            level: "success",
            title: this.$tt("messages.changes_saved", 1),
          });

          CreateProduct.hide();
          this.getProducts();
        });
    },
    editProduct(product) {
      const EditProduct = this.$q
        .dialog({
          component: () => import("./ProcessProduct"),
          category_id: product.category_id,
          parent: this,
          product,
        })
        .onOk((product) => {
          this.$message({
            level: "success",
            title: this.$tt("messages.changes_saved", 1),
          });

          EditProduct.hide();
          this.getProducts();
        });
    },
    cloneProduct(product) {
      const CreateProduct = this.$q
        .dialog({
          component: () => import("./ProcessProduct"),
          category_id: product.category_id,
          parent: this,
          product,
          clone: true,
        })
        .onOk((product) => {
          // TODO: SUCCESS MESSAGE HERE

          CreateProduct.hide();
          this.getProducts();
        });
    },
    async getProductHistory({ product_id }) {
      try {
        this.loading.products = true;

        let {
          data: { history },
        } = await this.$api.get(
          `/warehouse/products/status_history/${product_id}`
        );

        // let ProductHistory =
        this.$q.dialog({
          component: () => import("./ProductHistory"),
          parent: this,
          history,
        });
        // .onOk(() => {});
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data", 1),
        });
      } finally {
        this.loading.products = false;
      }
    },
    async removeProduct({ product_id, title }) {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.delete")} ${this.$tt(
            "common.product"
          )} ${title}`,
        }),
        level: "warning",
      });

      if (!c) return;

      try {
        this.loading.products = true;

        await this.$api({
          url: `/warehouse/products/`,
          method: "DELETE",
          data: {
            product_id,
          },
        });

        this.$message({
          title: this.$tt("messages.changes_saved"),
          level: "success",
        });

        this.getProducts();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.products = false;
      }
    },
    toggleSort(field) {
      if (this.filter.sort_on && field === this.filter.sort_on) {
        switch (this.filter.ascending) {
          case null:
            this.filter.sort_on = field;
            this.filter.ascending = true;
            break;
          case true:
            this.filter.sort_on = field;
            this.filter.ascending = false;
            break;
          case false:
            this.filter.sort_on = null;
            this.filter.ascending = null;
            break;
        }
      } else {
        this.filter.sort_on = field;
        this.filter.ascending = true;
      }

      this.getProducts();
    },
    async addCategoryProducts(category_id, with_count = false) {
      try {
        let products = await this.getProducts(
          {
            category_id,
            page: 0,
            on_page: -1,
            ...(with_count && { only_in_stock: true }),
          },
          false
        );

        this.$emit("add-all", { products, with_count });
      } catch (e) {
        console.log(e);

        this.$message({ level: "danger", title: this.$tt("errors.load_data") });
      }
    },
    setPreview(row, [preview]) {
      this.$set(row, "preview", preview);
    },
    initWarehouse(observer) {
      if (observer.isIntersecting) {
        this.products === null && this.getCategories();
        this.categories === null && this.getProducts();
      }
    },
    filterWithStock() {
      this.filter.page = 0;
      this.getProducts();
    },
    async getStickers(product) {
      this.$q
        .dialog({
          component: () => import("./StickerOptions.vue"),
          parent: this,
          product,
        })
        .onOk(async ({ count, print_format }) => {
          try {
            let { product_id } = product;

            const { data: blob } = await this.$api({
              url: "/shipping/print-warehouse-product-stickers",
              method: "POST",
              responseType: "blob",
              data: {
                products: {
                  [product_id]: count,
                },
                print_format,
              },
            });

            let filename = `product-${product_id}-stickers-${new Date().getTime()}`;

            if (navigator.msSaveBlob) {
              navigator.msSaveBlob(blob, filename);
            } else {
              const link = document.createElement("a");
              if (link.download !== undefined) {
                const url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = "hidden";
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
              }
            }
          } catch (e) {
            console.log(e);

            this.$showApiError(e);
          }
        });
    },
    pickProduct(row, quantity = 1) {
      this.$emit("pick-product", row);
    },
  },
};
</script>
<style lang="scss">
.col--sortable {
  &:hover {
    background-color: #f5f5f5;
  }
}
</style>
