<template>
  <q-dialog position="top" ref="get-stickers-options">
    <q-card flat bordered style="max-width:420px;width:100%">
      <q-item class="q-py-md">
        <q-item-section>
          <h5 class="q-ma-none">
            {{ $tt("common.print_stickers", 1) }}
          </h5>
        </q-item-section>
      </q-item>
      <q-separator />

      <q-item clickable class="q-py-md" tag="label">
        <q-item-section>
          <q-item-label caption>
            {{ product.code }}
          </q-item-label>
          <q-item-label>
            {{ product.title }}
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <div style="max-width:77px">
            <app-input :dense="false" suffix="шт" v-model="count"> </app-input>
          </div>
        </q-item-section>
      </q-item>

      <q-item clickable class="q-py-md" tag="label">
        <q-item-section>
          <q-item-label caption>
            {{ $tt("common.print_format", 1) }}
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>
            <!-- :dense="false" -->
            <app-select
              label="Выберите формат"
              v-model="print_format"
              :options="[
                { value: 'A4', label: 'A4' },
                { value: 'A5', label: 'A5' },
                { value: 'thermal', label: 'Термопринтер' },
              ]"
            ></app-select>
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <q-item class="q-py-md">
        <q-item-section>
          <div class="flex-center-between">
            <app-btn size="12px" padding="11px" @click="hide">
              {{ $tt("common.cancel") }}
            </app-btn>
            <app-btn size="12px" color="positive" padding="11px" @click="printStickers">
              {{ $tt("common.accept") }}
            </app-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    product: Object,
  },
  mounted() {},
  created() {},
  data() {
    return {
      count: 1,
      print_format: "A4",
    };
  },
  methods: {
    show() {
      this.$refs["get-stickers-options"].show();
    },
    hide() {
      this.$refs["get-stickers-options"].hide();
    },
    printStickers() {
      let { count, print_format } = this;

      this.$emit("ok", { count, print_format });
    },
  },
};
</script>
<style lang="scss"></style>
