<template>
  <q-dialog
    transition-show="slide-up"
    transition-hide="slide-down"
    full-height
    maximized
    ref="create-agreement-dialog"
  >
    <q-card
      class="flex column justify-between no-wrap"
      style="min-width: 480px; width: 62vw; max-width: 990px"
    >
      <q-stepper
        animated
        ref="agreement-stepper"
        class="agreement-stepper"
        v-model="step"
      >
        <q-step active-icon="account_circle" name="personal_data" title="Personal data">
          <q-item>
            <q-item-section top>
              <q-item-label class="text-subtitle2 text-primary">
                Особисті дані українською
              </q-item-label>
              <q-item-label>
                <q-card bordered flat>
                  <q-item
                    clickable
                    v-for="[key, translation] in [
                      ['firstname_ua', 'name'],
                      ['lastname_ua', 'lastname'],
                      ['middlename_ua', 'middlename'],
                    ]"
                    :key="key"
                  >
                    <q-item-section>
                      <q-item-label caption>
                        {{ $tt(`common.${translation}`, 1) }}
                      </q-item-label>
                      <q-item-label>
                        <!-- :label="'Українською'" -->
                        <app-input
                          :error="$v.agreement[key].$error"
                          v-model="agreement[key]"
                        ></app-input>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-card>
              </q-item-label>
            </q-item-section>
            <q-item-section top>
              <q-item-label class="text-subtitle2 text-primary">
                Особисті дані англійською
              </q-item-label>
              <q-item-label>
                <q-card bordered flat>
                  <q-item
                    clickable
                    v-for="[key, translation] in [
                      ['firstname_en', 'name'],
                      ['lastname_en', 'lastname'],
                    ]"
                    :key="key"
                  >
                    <q-item-section>
                      <q-item-label caption>
                        {{ $tt(`common.${translation}`, 1) }}
                      </q-item-label>
                      <q-item-label>
                        <!-- :label="'Англійскою'" -->
                        <app-input
                          :error="$v.agreement[key].$error"
                          v-model="agreement[key]"
                        ></app-input>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-card>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>
                <q-card bordered flat>
                  <q-item-label caption header>
                    Тип товару
                  </q-item-label>

                  <q-item-label
                    header
                    class="q-py-xs text-negative font-500 flex items-center q-gutter-x-xs"
                    v-if="$v.agreement.product_type.$error"
                  >
                    <q-icon name="error"></q-icon>
                    <div>
                      Please select a product type
                    </div>
                  </q-item-label>

                  <q-item>
                    <q-item-section
                      :key="type_opt.value"
                      v-for="type_opt in [
                        { value: 'physical', label: 'Фізичний' },
                        { value: 'digital', label: 'Цифровий' },
                        { value: 'all', label: 'Фізичний та цифровий' },
                      ]"
                    >
                      <q-item-label>
                        <q-radio
                          v-model="agreement.product_type"
                          color="primary"
                          name="product-type"
                          :val="type_opt.value"
                          class="font-500"
                        >
                          {{ type_opt.label }}
                        </q-radio>
                      </q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-separator />

                  <q-item clickable class="q-py-md">
                    <q-item-section>
                      <q-input
                        label="Опис товару"
                        v-model="agreement.product_description"
                        borderless
                        flat
                        type="textarea"
                        rows="4"
                      ></q-input>
                    </q-item-section>
                  </q-item>
                </q-card>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-step>

        <q-step icon="description" name="documents" title="Documents">
          <q-item>
            <q-item-section>
              <q-item-label class="text-subtitle2 text-primary">
                Паспорт
              </q-item-label>
              <q-item-label>
                <q-card bordered flat>
                  <q-list>
                    <q-item tag="label" class="q-py-md">
                      <q-item-section>
                        <q-item-label>
                          <app-input
                            :label="$tt('common.passport_number')"
                            v-model="agreement.passport_number"
                            :dense="false"
                          ></app-input>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item class="q-py-md">
                      <q-item-section>
                        <q-item-label caption>
                          Скан сторінок паспорту
                        </q-item-label>
                        <q-item-label>
                          <q-file
                            @input="passport_scans = $event"
                            outlined
                            label="Оберіть файли"
                            multiple
                            dense
                          />
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-list v-if="passport_scans.length">
                      <q-item clickable v-for="(file, file_idx) in passport_scans">
                        <q-item-section>
                          <q-item-label class="text-subtitle2">
                            {{ file.name }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-item-label>
                            <q-btn
                              @click="passport_scans.splice(file_idx, 1)"
                              dense
                              size="12px"
                              padding="7px"
                              flat
                              icon="close"
                              color="negative"
                            />
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <q-item v-else>
                      <q-item-section>
                        <q-item-label caption>
                          Файли не обрано
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label class="text-subtitle2 text-primary">
                ІПН (податковий номер)
              </q-item-label>
              <q-item-label>
                <q-card bordered flat>
                  <q-list>
                    <q-item class="q-py-md">
                      <q-item-section>
                        <q-item-label>
                          <q-file
                            @input="tax_number_scans = $event"
                            outlined
                            label="Оберіть файли"
                            multiple
                            dense
                          />
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-list v-if="tax_number_scans.length">
                      <q-item clickable v-for="(file, file_idx) in tax_number_scans">
                        <q-item-section>
                          <q-item-label class="text-subtitle2">
                            {{ file.name }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-item-label>
                            <q-btn
                              @click="tax_number_scans.splice(file_idx, 1)"
                              dense
                              size="12px"
                              padding="7px"
                              flat
                              icon="close"
                              color="negative"
                            />
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>

                    <q-item v-else>
                      <q-item-section>
                        <q-item-label caption>
                          Файли не обрано
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-step>

        <!-- <q-step icon="hourglass_top" name="processing" title="Processing"></q-step> -->

        <q-step icon="history_edu" name="sign" title="Sign agreement">
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption>
                Виберіть спосіб підписання
              </q-item-label>
              <q-item-label>
                <div class="row q-col-gutter-md">
                  <div class="col">
                    <q-card bordered flat>
                      <q-item tag="label" class="q-py-md">
                        <q-item-section side>
                          <q-item-label>
                            <q-radio val="dia" v-model="sign_type"></q-radio>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-subtitle1 font-500">
                            Дія-Підпис (рекомендовано)
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-card>
                  </div>
                  <div class="col">
                    <q-card bordered flat>
                      <q-item tag="label" class="q-py-md">
                        <q-item-section side>
                          <q-item-label>
                            <q-radio val="paper" v-model="sign_type"></q-radio>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-subtitle1 font-500">
                            Паперовий
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-card>
                  </div>
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>

          <div v-if="sign_type">
            <q-item>
              <q-item-section>
                <q-item-label class="text-subtitle2 text-primary">
                  Завантажте підписаний договір
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>
                  <q-file
                    multiple
                    @input="signed_agreement = $event"
                    outlined
                    :label="
                      `Оберіть ${sign_type === 'dia' ? 'ASIC файл' : 'файл скан-копії'}`
                    "
                  />
                </q-item-label>
                <q-item-label caption v-if="sign_type === 'dia'">
                  Для договору, підписаного через Дія завантажте ASIC файл.
                </q-item-label>
                <q-item-label caption v-if="sign_type === 'paper'">
                  Для договору, підписаного особисто - завантажте скан-копії сторінок.
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </q-step>
      </q-stepper>

      <q-item class="q-py-md">
        <q-item-section>
          <div class="flex-center-between">
            <app-btn v-if="step !== 'personal_data'" flat no-caps @click="prev_step">
              Попередній крок
            </app-btn>
            <div v-else></div>
            <app-btn @click="next_step" color="primary" no-caps>
              Продовжити
            </app-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {},
  mounted() {},
  created() {},
  data() {
    return {
      step: "personal_data",

      agreement: {
        firstname_ua: null,
        lastname_ua: null,
        middlename_ua: null,
        firstname_en: null,
        lastname_en: null,
        product_type: null,
        product_description: null,
        passport_number: null,
        tax_number: null,
        passport_sheets: null,
        tax_sheet: null,
      },

      passport_scans: [],
      tax_number_scans: [],

      signed_agreement: null,

      sign_type: null,
    };
  },
  computed: {
    stepper() {
      return this.$refs["agreement-stepper"];
    },
  },
  methods: {
    show() {
      this.$refs["create-agreement-dialog"].show();
    },
    hide() {
      this.$refs["create-agreement-dialog"].hide();
    },
    async createRequest() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      await this.$api.post(`/withdrawal-agreement`, {
        ...this.agreement,
      });
    },
    next_step() {
      return this.stepper.next();
    },
    prev_step() {
      return this.stepper.previous();
    },
    set_step(step) {
      return this.stepper.goTo(step);
    },
  },
  validations() {
    return {
      agreement: {
        firstname_ua: { required },
        lastname_ua: { required },
        middlename_ua: { required },
        firstname_en: { required },
        lastname_en: { required },
        product_type: { required },
        product_description: { required },
        passport_number: { required },
        tax_number: { required },
        passport_sheets: { required },
        tax_sheet: { required },
      },

      // steps validators:
      personal_data: {
        agreement: [
          "firstname_ua",
          "lastname_ua",
          "middlename_ua",
          "firstname_en",
          "lastname_en",
        ],
      },
    };
  },
};
</script>
<style lang="scss">
.agreement-stepper {
  .q-stepper__step-inner {
    padding: 0;
    padding-top: 7px;
  }
}
</style>
