<template>
  <PageContainer title="Withdrawal agreements">
    <template #actions>
      <app-btn @click="createAgreement" color="accent">
        Додати особу
      </app-btn>
    </template>
    <div class="container">
      <p class="text-caption text-muted">Please review your agreements carefully.</p>
      <br />
      <div class="q-gutter-y-md">
        <q-card v-for="agreement in agreements" :key="agreement.agreement_id">
          <q-item tag="label" class="q-py-md" clickable>
            <q-item-section>
              <q-item-label caption>
                Вывод средств для
              </q-item-label>
              <q-item-label class="text-subtitle2">
                Фамилия Имя Отчество
              </q-item-label>
              <q-item-label>
                <q-badge color="positive" text-color="white" class="font-500">
                  Активно
                </q-badge>
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-btn
                push
                color="white"
                icon="info_outline"
                dense
                padding="9px"
                size="11px"
                text-color="grey-7"
                @click="showAgreement(agreement)"
              >
                <!-- <q-menu content-class="q-py-sm">
                  <q-list>
                    <q-item clickable>
                      <q-item-section>
                        <q-item-label> </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu> -->
              </q-btn>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  props: {},
  mounted() {},
  created() {
    this.getAgreements();
  },
  data() {
    return {
      agreements: null,
    };
  },
  methods: {
    async getAgreements() {
      const { data } = await this.$api.get("/withdrawal-agreement");

      console.log("data:", data);

      this.agreements = data;
    },
    async showAgreement({ agreement_id }) {
      // const agreement

      this.$q.dialog({
        component: () => import("./WithdrawalAgreementDialog.vue"),
        parent: this,
        agreement_id,
      });
    },
    createAgreement() {
      this.$q.dialog({
        component: () => import("./CreateWithdrawalAgreementDialog.vue"),
        parent: this,
      });
    },
  },
};
</script>
<style lang="scss"></style>
