<template>
  <q-dialog
    transition-show="slide-up"
    transition-hide="slide-down"
    full-height
    maximized
    ref="agreement-dialog"
  >
    <q-card style="min-width: 480px; width: 54vw; max-width: 700px">
      <q-item class="q-py-lg">
        <q-item-section>
          <q-item-label>
            <div class="text-h6">Agreement</div>
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <app-btn
            densep
            padding="9px"
            size="11px"
            @click="hide"
            text-color="negative"
            push
            icon="close"
          ></app-btn>
        </q-item-section>
      </q-item>

      <div v-if="loading">
        <q-item clickable>
          <q-item-section>
            <q-item-label caption> {{ $tt("common.loading", 1) }}... </q-item-label>
          </q-item-section>
        </q-item>
      </div>

      <div v-else-if="agreement">
        <q-list v-if="clear_errors?.length">
          <q-item
            v-for="(error_message, index) in agreement.error_message"
            :key="index"
            clickable
            class="bg-red-1 text-negative"
          >
            <q-item-section>
              <q-item-label caption>
                {{ $tt("common.error", 1) }}
              </q-item-label>
              <q-item-label class="font-500">
                {{ error_message }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>

        <q-item clickable class="q-py-md">
          <q-item-section>
            <q-item-label caption>
              Лицо
            </q-item-label>
            <q-item-label class="text-h5">
              {{ agreement.name }}
            </q-item-label>
            <q-item-label>
              {{ agreement.passport_number }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.agreement", 1) }}
            </q-item-label>
            <q-item-label caption>
              від {{ $date(agreement.agreement_date) }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-subtitle2">
              {{ agreement.agreement_number }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section>
            <q-item-label caption>
              Tax number
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              {{ agreement.tax_number }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.message", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              {{ agreement.message }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="text-primary">
          <q-item-section>
            <q-item-label>
              <app-btn icon="cloud_download" no-caps padding="9px" class="full-width">
                &nbsp;&nbsp;Download agreement
              </app-btn>
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>

      <q-inner-loading :showing="loading">
        <q-spinner size="42px" color="primary"></q-spinner>
      </q-inner-loading>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    agreement_id: {
      type: Number,
      required: true,
    },
  },
  created() {
    this.getAgreement();
  },
  data() {
    return {
      agreement: null,
      loading: false,
    };
  },
  computed: {
    clear_errors() {
      return this.agreement?.errors?.filter((error) => error?.length);
    },
  },
  methods: {
    show() {
      this.$refs["agreement-dialog"].show();
    },
    hide() {
      this.$refs["agreement-dialog"].hide();
    },
    async getAgreement() {
      try {
        this.loading = true;

        const response = await this.$api.get(
          `/withdrawal-agreement/${this.agreement_id}`
        );
        console.log("response:", response);

        this.agreement = response.data;
      } catch (e) {
        console.log(e);

        this.$showApiError(e);

        this.hide();
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
