<template>
  <PageContainer with-back="/pay-money" :title="$tt('common.info_about_payment', 1)">
    <div class="invoice">
      <div
        class="container q-gutter-y-xl"
        :style="{
          display: 'flex',
          flexDirection: 'column',
        }"
      >
        <app-banner
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: 1,
          }"
          accent
          icon="check"
          level="success"
          v-if="!bill.redirect"
        >
          Заявку на поповнення рахунку успішно створено
        </app-banner>

        <app-list
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: 2,
          }"
          :header="$tt('common.common_info', 1)"
        >
          <q-item>
            <q-item-section>
              <q-item-label caption>
                {{ $tt("common.invoice_number", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ bill.invoice.number }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label caption>
                {{ $tt("common.date", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ bill.invoice.date }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label caption>{{ $tt("common.summ", 1) }}, USD</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ $toUSD(bill.invoice.amount) }}</q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div
          v-if="additional"
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: bill.redirect.form_position === 'bottom' ? 5 : 3,
          }"
        >
          <app-list :header="$tt('common.additional', 1)">
            <!-- ADDITIONAL REQUIRED WARNING: -->
            <q-item class="q-py-lg bg-orange-1 text-brown-7">
              <q-item-section avatar>
                <q-item-label>
                  <q-icon size="35px" name="warning"></q-icon>
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-subtitle2">
                  {{ $tt("pages.pay_money.req_message") }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <!-- ADDITIONAL REQUIRED WARNING END -->

            <q-item
              class="q-py-lg"
              v-for="(field, idx) in additional"
              :key="field.code"
              tag="label"
            >
              <q-item-section>
                <q-item-label>
                  {{ field.title }}
                </q-item-label>
                <q-item-label caption>
                  {{ field.description }}
                </q-item-label>
                <q-item-label
                  class="text-negative"
                  caption
                  v-show="$v.additional.$each[idx].$error"
                >
                  {{ $tt("messages.fill_req_fields") }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  :required="field.required"
                  :error="$v.additional.$each[idx].$error"
                  :label="field.title"
                  :type="field.type"
                  v-model="field.value"
                ></app-input>
              </q-item-section>
            </q-item>
          </app-list>
        </div>

        <app-list
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: 4,
          }"
          :header="$tt('common.invoice', 1)"
        >
          <template #actions>
            <app-btn
              text-color="blue-8"
              :disable="!has_invoice"
              @click="printInvoice"
              padding="10px"
              icon="print"
              size="12px"
            >
              <!-- &nbsp;&nbsp;{{ $tt("common.print") }} -->
              <q-tooltip>
                {{ $tt("common.print", 1) }}
              </q-tooltip>
            </app-btn>
          </template>
          <div class="q-px-sm">
            <transition-group
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
              appear
            >
              <q-spinner-ios
                key="invoice_loading"
                size="21px"
                v-if="loading.invoice"
              ></q-spinner-ios>
              <iframe
                width="100%"
                height="280px"
                key="invoice"
                ref="invoice"
                src=""
                frameborder="0"
              ></iframe>
            </transition-group>
          </div>
        </app-list>

        <form
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: 5,
          }"
          ref="payment-form"
          v-if="bill?.redirect"
          :action="bill?.redirect?.url"
          :method="bill?.redirect?.method"
        >
          <div v-if="additional">
            <input
              type="hidden"
              v-for="field in additional"
              :name="field.code"
              :value="field.value"
              :key="field.code"
            />
          </div>

          <input
            v-for="[key, value] in Object.entries(bill.redirect.params)"
            :key="key"
            type="hidden"
            :name="key"
            :value="value"
          />
        </form>

        <div
          :style="{
            display: 'flex',
            flexDirection: 'column',
            order: 6,
          }"
          class="flex-center"
        >
          <!-- type="submit" -->
          <app-btn
            @click.prevent="acceptPayment()"
            color="positive"
            :loading="loading.common"
            icon="link"
            :class="$q.screen.xs && 'q-mb-lg'"
            padding="md"
          >
            &nbsp;&nbsp;{{ $tt("common.continue") }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import { requiredIf } from "vuelidate/lib/validators";

export default {
  name: "PayMoney",
  async mounted() {
    // TODO: LOAD PAY MODULE INFO AFTER RELOAD
    let { bill_info = null } = this.$route.params;

    if (!bill_info) {
      this.$alert({
        title: "Дані устріли, спробуйте ще раз",
        level: "warning",
      });

      this.$router.push("/pay-money");
    }

    if (this.bill?.redirect?.form) {
      let additional = Object.entries(this.bill.redirect.form);

      additional = additional.map(([code, f]) => ({ ...f, code }));

      // this.additional = this.bill.redirect.form;
      this.additional = additional;
    }

    this.showInvoice();
  },
  data() {
    return {
      loading: { common: false, invoice: false },
      additional: null,
      has_invoice: false,
    };
  },
  computed: {
    bill() {
      return this.$route.params.bill_info;
    },
  },
  methods: {
    async handleRedirect() {
      let { method, params, url } = this.bill.redirect;

      this.loading.common = true;

      try {
        await this.$api({
          url,
          method: method.toLowerCase(),
          data: params,
        });

        this.$message({
          level: "success",
          title: "Дані про оплату надіслано до платіжної системи",
        });

        this.$router.push("/money-in");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage:
            "Не вдалося передати дані платіжної системи. Спробуйте ще раз за деякий час.",
        });
      } finally {
        this.loading.common = false;
      }
    },
    async showInvoice() {
      let invoice_id = this.bill.invoice.id;

      try {
        this.loading.invoice = true;
        const {
          data: { print_invoice },
        } = await this.$store.dispatch("Invoices/GET_INVOICE", invoice_id);

        var iframe = this.$refs["invoice"],
          iframedoc = iframe.contentDocument || iframe.contentWindow.document;

        iframedoc.body.innerHTML = print_invoice;

        this.has_invoice = true;
      } catch (e) {
        console.log(e);

        this.$message({
          title: "Не вдалося завантажити інвойс",
          level: "warning",
        });

        this.has_invoice = false;
      } finally {
        this.loading.invoice = false;
      }
    },
    printInvoice() {
      let frame = this.$refs["invoice"] && this.$refs["invoice"].contentWindow;

      if (!frame) return;

      frame.focus();
      frame.print();
    },
    acceptPayment() {
      let validator = this.$v;

      validator.$touch();

      let form = this.$refs["payment-form"];

      if (validator.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields") });

        return;
      }

      try {
        this.loading = true;

        form.submit();
      } catch (e) {
        console.log(e);

        this.$alert({ level: "danger", title: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      additional: {
        $each: {
          value: {
            required: requiredIf((f) => {
              return !!f.required;
            }),
          },
        },
      },
    };
  },
};
</script>
