<template>
  <q-img
    :src="img"
    v-intersection.once="getImage"
    v-bind="$attrs"
    loading
    class="relative-position rounded-borders"
  >
    <slot name="placeholder" v-if="$slots && $slots['placeholder']" />

    <q-icon
      color="grey"
      :size="`20px`"
      class="absolute-center"
      v-else-if="!img"
      name="image"
    ></q-icon>

    <template #error>
      <div class="absolute-full bg-grey-3 text-grey-6 flex flex-center">
        <q-icon name="image_not_supported" size="21px" />
      </div>
    </template>
  </q-img>
</template>
<script>
// TODO: IMPLEMENT LAZY BOOLEAN PROP
import { debounce } from "quasar";

export default {
  props: { src: String, debounce: Number, lazy: Boolean },
  created() {
    if (this.debounce) this.getImage = debounce(this.getImage, 777);
  },
  data() {
    return {
      img: null,
    };
  },
  computed: {
    is_b64() {
      return (this.src && this.src.toLowerCase().indexOf(";base64,") >= 0) || false;
    },
  },
  methods: {
    getImage({ isIntersecting }) {
      if (isIntersecting) {
        this.img = this.src;
      }
    },
  },
};
</script>
