<template>
  <PageContainer with-back title="Активация аккаунта Payoneer" caption="Завершение привязки">
    <div class="container">
      <with-loading :state="loading" />

      <div class="q-mb-xl">
        <app-list white class="q-mb-xl" v-if="!accountActivated" header="Инструкция по активации">
          <q-item>
            <q-item-section>
              <q-item-label>
                1. Перейдите на сайт <b>Payoneer</b>, нажав кнопку "<i>Перейти</i>"
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-btn
                v-if="account"
                @click="$openURL(account.account_token)"
                target="_blank"
                :class="{ 'btn-disabled': accountActivated }"
                color="accent"
                size="13px"
              >
                <q-icon name="open_in_new" size="16px"></q-icon>
                &nbsp;&nbsp;Перейти
              </app-btn>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              2. Зарегистрируйтесь или войдите в свою учётную запись Payoneer
            </q-item-section>
            <!-- <q-item-section></q-item-section> -->
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>
                3. После завершения предыдущего этапа - вернитесь обратно на эту вкладку и
                подождите обновления статуса
              </q-item-label>

              <q-item-label caption>
                Если процедура регистрации/авторизации пройдена успешно, а статус не обновился -
                попробуйте обновить статус вручную
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-btn
                size="12px"
                v-show="!accountActivated"
                @click="checkActivationStatus"
                round
                color="primary"
                icon="sync"
              ></app-btn>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              4. В случае успешной привязки аккаунта, Вы увидите соответствуещее обновление статуса
            </q-item-section>
          </q-item>
        </app-list>
      </div>

      <!-- <h5 class="q-mb-md">Данные аккаунта</h5> -->
      <app-list header="Данные аккаунта" v-if="account">
        <q-item>
          <q-item-section>
            <div class="text-muted">
              {{ $tt("common.title", 1) }}
            </div>
          </q-item-section>
          <q-item-section avatar>
            {{ account.account_name }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div class="text-muted">
              Email
            </div>
          </q-item-section>
          <q-item-section avatar>
            {{ account.account_email }}
          </q-item-section>
        </q-item>
        <q-item :class="accountActivated ? 'text-positive bg-green-1' : 'text-negative bg-red-1'">
          <q-item-section>
            <q-item-label>
              <div class="text-subtitle2 q-ma-none q-pa-none">
                {{ $tt("common.status", 1) }}
              </div>
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label>
              <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                appear
              >
                <div class="flex items-center" v-if="accountActivated">
                  <q-icon size="17px" class="q-mr-sm" name="check"></q-icon>
                  <div class="text-subtitle2">
                    Активирован
                  </div>
                </div>

                <div v-else>
                  <div class="flex items-center">
                    <q-icon size="17px" class="q-mr-sm" name="block"></q-icon>
                    <div class="text-subtitle2">
                      Не активирован
                    </div>
                  </div>
                </div>
              </transition>
            </q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      accountActivated: false,
      account: null,
      tabVisibility: document.visibilityState,
      loading: false,
    };
  },
  async created() {
    this.account = await this.getAccount();

    this.checkActivationStatus();

    setInterval(() => {
      this.tabVisibility = document.visibilityState;
    }, 2000);
  },
  computed: {
    account_id() {
      return this.$route.params.account_id;
    },
  },
  watch: {
    tabVisibility(new_value) {
      if (new_value === "visible") {
        this.checkActivationStatus();
      }
    },
  },
  methods: {
    getAccount() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          const {
            data: { account },
          } = await this.$api.get(`/finance/payoneer/${this.account_id}`);

          this.account = account;
          done(account);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: "Не удалось получить данные об аккаунте" });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    async checkActivationStatus() {
      try {
        this.loading = true;

        const { status: success } = await this.$api.put(
          `/finance/payoneer/${this.account_id}/activate`,
          {}
        );

        if (!this.accountActivated) {
          this.$alert({ level: "success", title: "Аккаунт активирован" });
        }

        // if (success)
        this.accountActivated = true;

        this.$router.push("/payoneer-accounts");
      } catch (e) {
        this.accountActivated = false;
        const { message: title } = this.$parseApiError(e);

        this.$message({ title });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss"></style>
