<template>
  <PageContainer :title="`${$tt('common.integration', 1)}: Payoneer`">
    <template #actions>
      <app-btn color="positive" padding="11px" size="12px" @click="processAccount(null)">
        {{ $t("common.add") }} {{ $t("common.account") }}
      </app-btn>
    </template>

    <div class="container">
      <app-table-list
        :colspan="3"
        :empty="!accounts?.length && $tt('messages.no_active_integrations', 1)"
        :loading="loading"
      >
        <template #thead>
          <tr class="text-left">
            <th>
              {{ $tt("common.account", 1) }}
            </th>
            <th>
              {{ $tt("common.status", 1) }}
            </th>
            <th></th>
          </tr>
        </template>
        <tr v-for="(record, idx) in accounts" :key="idx">
          <td>
            <small class="text-muted">
              {{ record.account_name }}
            </small>
            <div class="text-subtitle2">
              {{ record.account_email }}
            </div>
          </td>
          <td>
            <q-badge
              :class="
                `text-${transformStatus(record.status_code).color} bg-${
                  transformStatus(record.status_code).color
                }-1`
              "
              class="flex items-center line-height1 q-pa-sm text-capitalize"
              style="font-weight:500"
            >
              <q-icon
                class="q-mr-xs"
                size="16px"
                :name="transformStatus(record.status_code).icon"
              ></q-icon>
              {{ transformStatus(record.status_code).title }}
            </q-badge>
          </td>
          <td class="text-right">
            <div class="q-gutter-x-xs q-my-md">
              <app-btn
                size="11px"
                padding="10px"
                icon="link"
                :to="`/payoneer-accounts/${record.account_id}/activate`"
                v-if="record.status_code === 'new'"
                color="positive"
              >
                &nbsp;&nbsp;Привязка
              </app-btn>
              <app-btn
                size="11px"
                padding="10px"
                v-else-if="record.status_code === 'active'"
                @click="processAccount(record)"
                class="q-mr-sm bg-white"
              >
                {{ $t("common.edit") }}
              </app-btn>
              <app-btn
                size="11px"
                padding="10px"
                color="negative"
                @click="removeRecord(record)"
              >
                {{ $t("common.delete") }}
              </app-btn>
            </div>
          </td>
        </tr>
      </app-table-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      accounts: null,
      loading: false,
    };
  },
  async created() {
    this.accounts = await this.getAccounts();
  },
  methods: {
    getAccounts() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          const {
            data: { accounts },
          } = await this.$api.get(`/finance/payoneer/`);

          done(accounts);
        } catch (e) {
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    transformStatus(status_code) {
      switch (status_code) {
        case "new":
          return { color: "blue", title: this.$tt("common.new"), icon: "new_releases" };
        case "active":
          return {
            color: "green",
            title: this.$tt("common.activated"),
            icon: "verified",
          };
        case "declined":
          return { color: "red", title: this.$tt("common.declined"), icon: "report" };
        default:
          throw new Error("Unknown status code: " + status_code);
      }
    },

    processAccount(account) {
      const editDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./ManageAccount.vue"),
          account,
          title: account
            ? `${this.$tt("common.edit", 1)} ${this.$tt("common.account")}`
            : `${this.$tt("common.add", 1)} ${this.$tt("common.account")}`,
        })
        .onOk(async () => {
          editDialog.hide();
          this.accounts = await this.getAccounts();
        });
    },
    async removeRecord(account) {
      // let c = await this.$confirm({ title: "Действительно хотите удалить запись ?" });
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: this.$tt("common.delete") + " " + this.$tt("common.record", 0, 1),
        }),
      });

      if (!c) return;

      this.loading = true;

      try {
        await this.$api.delete(`/finance/payoneer/${account.account_id}`);

        this.$message({
          level: "success",
          title: this.$tt("common.deleted", 1),
        });

        this.accounts = await this.getAccounts();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
