<template>
  <q-dialog
    :maximized="$q.screen.xs || false"
    ref="manage-account"
    height="auto"
    :position="$q.screen.xs ? 'bottom' : 'top'"
  >
    <!-- <DialogWrapper name="manage-account"> -->
    <q-card :style="!$q.screen.xs && 'min-width:420px'">
      <form @submit.prevent="submitRecord">
        <with-loading :state="loading" />
        <q-card-section>
          <div class="flex-center-between">
            <h5 class="q-ma-none">{{ title }}</h5>
            <q-btn @click="hide" round icon="close" flat size="12px" dense color="negative"></q-btn>
          </div>
        </q-card-section>
        <q-card-section>
          <app-input
            :label="$tt('common.title', 1)"
            :error="$v.current_account.account_name.$anyError"
            type="text"
            v-model="current_account.account_name"
            class="q-mb-md"
          />
          <app-input
            label="Email"
            :error="$v.current_account.account_email.$anyError"
            :disable="is_edit"
            type="text"
            v-model="current_account.account_email"
          />
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="flex-center-between">
            <app-btn color="negative" @click="hide" flat>{{ $tt("common.cancel") }}</app-btn>
            <app-btn type="submit" color="positive">
              {{ $tt("common.save", 1) }}
            </app-btn>
          </div>
        </q-card-section>
      </form>
    </q-card>
  </q-dialog>
  <!-- </DialogWrapper> -->
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  props: {
    account: Object,
    title: String,
  },
  data() {
    return {
      current_account: {
        account_name: null,
        account_email: null,
      },
      loading: false,
    };
  },
  created() {
    this.account && (this.current_account = { ...this.account });
  },
  computed: {
    is_edit() {
      return !!this.account;
    },
  },
  methods: {
    show() {
      this.$refs["manage-account"].show();
    },
    hide() {
      this.$refs["manage-account"].hide();
    },
    async submitRecord() {
      this.$v.current_account.$touch();

      if (this.$v.current_account.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });

        return;
      }

      this.loading = true;

      let { account_name, account_email } = this.current_account;

      let method = this.is_edit ? "put" : "post";

      let route = this.is_edit ? `/finance/payoneer/${this.account.account_id}` : "/finance/payoneer";

      let params = {
        account_name,
      };

      if (!this.is_edit) {
        params["account_email"] = account_email;
      }

      try {
        await this.$api[method](route, { ...params });

        this.$message({
          title: this.$tt("messages.changes_saved", 1),
          level: "success",
        });

        this.$emit("ok");
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      current_account: {
        account_name: { required },
        account_email: { required },
      },
    };
  },
};
</script>
<style lang="scss"></style>
