<template>
  <q-dialog position="right" full-height maximized ref="product-history">
    <q-card style="min-width:700px">
      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">
            {{ $tt("pages.shipments.messages.move_history") }}
          </h5>
          <q-btn round flat color="negative" size="14px" icon="close" @click="hide"></q-btn>
        </div>
      </q-card-section>

      <div class="flex column">
        <div class="q-px-md ">
          <q-btn-toggle
            v-model="type"
            push
            toggle-color="accent"
            :options="[
              { label: `Приход (${history['in'].length})`, value: 'in' },
              { label: `Расход (${history['out'].length})`, value: 'out' },
            ]"
            spread
          />
        </div>

        <div class="q-px-md ">
          <q-list v-if="actual_history && actual_history.length">
            <q-item v-for="(record, idx) in actual_history" :key="idx">
              <q-item-section>
                <q-item-label caption>
                  <small>
                    {{ $tt("common.date", 1) }}
                  </small>
                </q-item-label>
                <q-item-label>
                  <div>
                    {{ record.date }}
                    <!-- {{ $date() }},
                    {{ $time(record.date) }} -->
                  </div>
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  <small>{{ $tt("common.order_number", 1) }}</small>
                </q-item-label>
                <q-item-label v-if="record.order_id">{{ record.order_id }}</q-item-label>
                <q-item-label v-else>
                  <small class="text-muted">
                    {{ $tt("common.not_specified") }}
                  </small>
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  <small>
                    {{ $tt("common.parcel_number", 1) }}
                  </small>
                </q-item-label>
                <q-item-label v-if="record.parcel_id">{{ record.parcel_id }}</q-item-label>
                <q-item-label v-else>
                  <small class="text-muted">
                    {{ $tt("common.not_specified") }}
                  </small>
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label caption>
                  <small>{{ $tt("common.count", 1) }}</small>
                </q-item-label>
                <q-item-label>{{ record.quantity }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          <div v-else class="text-center text-grey">
            {{ $tt("errors.no_data", 1) }}
          </div>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    history: Object,
  },
  computed: {
    actual_history() {
      return this.history[this.type];
    },
  },
  data() {
    return {
      type: "in",
    };
  },
  methods: {
    show() {
      this.$refs["product-history"].show();
    },
    hide() {
      this.$refs["product-history"].hide();
    },
  },
};
</script>
