<template>
  <PageContainer :title="$tt('send_message', true)" :loading="loading">
    <div class="container">
      <form style="max-width:777px;width:100%" @submit.prevent="sendMessage">
        <div class="q-gutter-lg">
          <app-select
            :error="$v.department.$anyError"
            v-model="department"
            :label="$tt('common.message_topic', 1)"
            :options="departments"
          ></app-select>

          <app-input :error="$v.subject.$anyError" :label="$tt('common.message_title', true)" v-model="subject"></app-input>

          <app-input
            :error="$v.comment.$anyError"
            :label="$tt('common.message', 1)"
            type="textarea"
            v-model="comment"
          ></app-input>

          <div class="flex-center-between q-mt-lg">
            <input class="hidden" type="file" @change="getFile" ref="message-file" />
            <div v-if="!file">
              <div class="text-muted">
                {{ $tt("common.file", 1) }} {{ $tt("errors.not_selected") }}
              </div>
            </div>
            <div v-else>
              <div class="flex items-center">
                <q-btn
                  round
                  icon="close"
                  dense
                  flat
                  @click="file = null"
                  class="bg-red-1 text-negative q-mr-lg"
                ></q-btn>
                <div class="text-black fz-13 flex items-center">
                  <q-icon name="description" size="20px" class="q-mr-sm" color="grey-6"></q-icon>
                  {{ file.name }}
                </div>
              </div>
            </div>
            <app-btn @click="() => $refs['message-file'].click()" icon="attachment">
              <!-- <span v-if="file">
                &nbsp;&nbsp;Выбрать другой файл
              </span> -->
              <span> &nbsp;&nbsp;{{ $tt("common.pick", 1) }} {{ $tt("common.file") }} </span>
            </app-btn>
          </div>
        </div>
        <div class="flex-center q-mt-xl">
          <app-btn :loading="loading" type="submit" color="positive" padding="md xl">
            {{ $tt("common.send") }}&nbsp;&nbsp;&nbsp;
            <q-icon name="send" size="16px"></q-icon>
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      loading: false,
      subject: null,
      comment: null,
      filename: null,
      file: null,
      department: null,
    };
  },
  computed: {
    departments() {
      return [
        { value: "general", label: this.$tt("support_departments.general") },
        { value: "finance", label: this.$tt("support_departments.finance") },
        { value: "logistic", label: this.$tt("support_departments.logistic") },
        { value: "copyright", label: this.$tt("support_departments.copyright") },
        { value: "dispute", label: this.$tt("support_departments.dispute") },
        { value: "block", label: this.$tt("support_departments.block") },
        { value: "tech", label: this.$tt("support_departments.tech") },
      ];
    },
  },
  methods: {
    getFile(event) {
      let file = event.target.files[0];
      this.file = file;
      event.target.value = null;
    },
    async sendMessage() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.message({ title: this.$tt("messages.fill_req_fields") });

        return;
      }

      try {
        this.loading = true;
        let {
          subject,
          comment,
          department: { value: department },
        } = this;

        let params = { subject: `[${department}] ${subject}`, comment };

        if (this.file) {
          params["filename"] = await this.$store.dispatch("Service/UPLOAD_FILE", this.file);
        }

        await this.$api.post(`/maintenance/send_message_to_operator`, params);

        this.$alert({ level: "success", title: "Письмо успешно отправлено" });
        this.$router.push("/");
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      subject: { required },
      comment: { required },
      department: { required },
    };
  },
};
</script>
