<template>
  <PageContainer title="Отзыв о работе Seller-Online">
    <div class="container">
      <form @submit.prevent="sendFeedback">
        <app-input
          hint="Ваш отзыв будет опубликован на сайте после проверки модератором."
          type="textarea"
          rows="3"
          v-model="text"
          :disable="loading"
        >
        </app-input>

        <div class="flex-center q-mt-lg">
          <app-btn :loading="loading" type="submit" :disable="!text || !text.length" color="primary" padding="md lg">
            {{ $tt("common.send") }}
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      text: null,
      loading: false,
    };
  },
  methods: {
    async sendFeedback() {
      let { text } = this;

      try {
        this.loading = true;
        await this.$api.post(`/maintenance/feedback_post`, { text });

        this.$message({ title: "Спасибо за Ваш отзыв", level: "success" });

        this.$router.push("/");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось отправить данные" });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss"></style>
