<template>
  <PageContainer
    :loading="loading"
    class="page--notifications"
    :title="$tt('nav.account.notifications_center')"
  >
    <template #actions>
      <app-btn padding="11px" size="12px" v-show="false">
        {{ $tt("notifications.title", 1, 2) }}

        <q-menu>
          <q-list>
            <q-item clickable disable>
              <q-item-section>
                {{ $tt("notifications.read_all") }}
              </q-item-section>
            </q-item>
            <q-item clickable disable>
              <q-item-section>
                {{ $tt("notifications.remove_seen", 1) }}
              </q-item-section>
            </q-item>
            <q-item clickable disable>
              <q-item-section>
                {{ $tt("notifications.remove_all", 1) }}
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </app-btn>
    </template>

    <div class="container relative-position ">
      <div class="q-pl-lg">
        <q-timeline :layout="'dense'" :side="'right'" color="primary">
          <div class="events__group row q-mb-xl">
            <div class="col">
              <q-timeline-entry
                side="left"
                :icon="categoryTheme(event).icon"
                v-for="event in events"
                :key="event.id"
                :color="categoryTheme(event).color"
                class="relative-position"
              >
                <with-loading :state="events_loading[event.id]" />

                <template #title>
                  <div class="flex items-center" style="padding-top:11px">
                    {{ event.name }}
                    <q-icon
                      transition-show="jump-down"
                      v-if="!event.is_read"
                      name="new_releases"
                      size="18px"
                      color="accent"
                      class="q-ml-xs"
                    ></q-icon>
                  </div>
                </template>

                <div class="flex items-center q-gutter-x-sm">
                  <div class="text-grey-7" style="font-size:12px">
                    {{ $date(event.created_at) }},
                    {{ $time(event.created_at) }}
                  </div>
                </div>

                <div v-html="event.description"></div>

                <div class="flex items-center q-mt-lg q-gutter-x-sm">
                  <app-btn
                    :color="categoryTheme(event).color"
                    size="12px"
                    padding="10px"
                    @click="$openURL(event.url)"
                    v-if="event.url"
                  >
                    {{ $tt("common.show_more") }}
                  </app-btn>
                  <app-btn
                    padding="10px"
                    :class="`bg-${categoryTheme(event).color}-1`"
                    flat
                    size="12px"
                  >
                    <!-- <small class="q-mr-sm">Уведомление</small> -->
                    <q-icon
                      :color="categoryTheme(event).color"
                      name="more_horiz"
                    ></q-icon>
                    <q-menu>
                      <q-list separator="">
                        <q-item
                          clickable
                          color="grey-7"
                          round
                          flat
                          size="10px"
                          v-if="!event.is_read"
                          icon="done_all"
                          @click="changeState(event, { read: true })"
                          v-close-popup
                        >
                          <q-item-section side>
                            <q-icon size="17px" name="done_all"></q-icon>
                          </q-item-section>
                          <q-item-section>
                            <div style="font-size:13px">
                              {{ $tt("common.mark_as_read", true) }}
                            </div>
                          </q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          color="grey-7"
                          round
                          flat
                          size="10px"
                          v-else
                          icon="done_all"
                          @click="changeState(event, { read: false })"
                          v-close-popup
                        >
                          <q-item-section side>
                            <q-icon size="17px" name="remove_done"></q-icon>
                          </q-item-section>
                          <q-item-section>
                            <div style="font-size:13px">
                              {{ $tt("layout.notifications.not_seen") }}
                            </div>
                          </q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          round
                          flat
                          size="10px"
                          icon="close"
                          class="text-negative"
                          @click="changeState(event, { delete: true })"
                          v-close-popup
                        >
                          <q-item-section side>
                            <q-icon
                              color="negative"
                              size="17px"
                              name="close"
                            ></q-icon>
                          </q-item-section>
                          <q-item-section>
                            <div style="font-size:13px">
                              {{ $tt("common.delete", 1) }}
                            </div>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </app-btn>
                </div>
              </q-timeline-entry>

              <app-btn
                v-if="next_page"
                v-show="events && events.length"
                @click="appendEvents()"
                color="primary"
                :loading="!!loading"
                class="q-mt-xl"
              >
                {{ $tt("notifications.load_more", 1) }}
              </app-btn>
              <div v-else class="text-muted q-mt-lg">
                {{ $tt("notifications.the_end", true) }}
              </div>
            </div>
          </div>
        </q-timeline>
      </div>
    </div>
  </PageContainer>
</template>

<script>
// import EVENTS_CATEGORIES from "./categories.js";

const EVENTS_CATEGORIES = {
  shipping: { color: "brown", icon: "local_shipping" },
  payments: { color: "deep-orange", icon: "price_check" },
  account: { color: "purple", icon: "person" },
  disputes: { color: "indigo", icon: "announcement" },
  sales: { color: "green", icon: "point_of_sale" },
  buyings: { color: "teal", icon: "shopping_bag" },
  system: { color: "red", icon: "settings_suggest" },
  announcements: { color: "orange", icon: "campaign" },
};

export default {
  name: "NotificationsCenter",
  created() {
    this.getEvents();
  },
  data() {
    return {
      events: null,
      pager: {
        page: 0,
        on_page: 20,
      },
      categories: EVENTS_CATEGORIES,
      loading: false,
      events_loading: {},
      nex_page: null,
    };
  },
  methods: {
    async getEvents(filter = {}) {
      try {
        this.loading = this.$tt("common.loading", true);

        let { notifications, next_page } = await this.$store.dispatch(
          "Notifications/GET_NOTIFICATIONS",
          {
            ...this.pager,
            ...filter,
          }
        );

        this.events = notifications;
        this.next_page = next_page;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data", true),
        });
      } finally {
        this.loading = false;
      }
    },
    async appendEvents(filter = {}) {
      this.loading = this.$tt("common.loading", true);

      try {
        this.pager.page += 1;

        let { notifications, next_page } = await this.$store.dispatch(
          "Notifications/GET_NOTIFICATIONS",
          {
            ...this.pager,
            ...filter,
          }
        );

        this.events.push(...notifications);
        this.next_page = next_page;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    categoryTheme(event) {
      let theme = (event.category_code &&
        this.categories[event.category_code.toLowerCase()]) || {
        icon: "more_vert ",
        color: "grey",
      };

      return theme;
    },
    setEventLoading({ id }, loading) {
      if (this.events_loading[id]) {
        this.events_loading[id] = loading;
      } else {
        this.$set(this.events_loading, id, loading);
      }
    },
    async changeState(event, action) {
      if (action.delete) this.setEventLoading(event, true);

      let id = event.id;

      try {
        await this.$store.dispatch("Notifications/CHANGE_EVENT_STATE", {
          id,
          action,
        });

        let idx = this.events.findIndex((e) => e.id === id);

        if (action.delete) {
          this.events.splice(idx, 1);
        } else {
          this.events[idx] = await this.$store.dispatch(
            "Notifications/GET_ONE_NOTIFICATION",
            event
          );
        }
      } catch (e) {
        console.log(e);
      } finally {
        this.setEventLoading(event, false);
      }
    },
  },
};
</script>

<style lang="scss">
.page--notifications {
  .q-timeline__subtitle {
    display: none;
  }
  .q-timeline__title {
    margin-bottom: 7px;
    line-height: 1;
  }
}
</style>
