<template>
  <PageContainer :title="$tt('nav.buys.new.title')">
    <with-loading :state="loading.page" />

    <div class="container">
      <form @submit.prevent="getProduct" class="q-mb-xl">
        <app-input
          :dense="false"
          :disable="loading.product"
          v-model="link"
          :label="$tt('common.product_link', 1)"
        >
          <template #after>
            <app-btn
              @click="getProduct"
              type="submit"
              :disable="!link || !link.length"
              icon="add"
              color="accent"
              :loading="loading.product"
              class="full-height"
            >
              <span v-if="!$q.screen.xs">
                &nbsp;&nbsp;
                {{ $tt("common.load") }}
              </span>
            </app-btn>
          </template>
        </app-input>
      </form>

      <q-slide-transition>
        <div v-if="product">
          <q-card class="q-mb-lg">
            <q-card-section>
              <div class="flex no-wrap items-center">
                <div class="q-mr-md">
                  <q-img
                    height="140px"
                    width="140px"
                    class="rounded-borders"
                    :src="product.photos[0]"
                  ></q-img>
                </div>

                <div>
                  <h5 class="q-ma-none q-mb-xs">
                    {{ product.title }}
                  </h5>
                  <small class="text-muted">{{ $tt("common.code") }}:</small>&nbsp;
                  <span class="font-500">{{ product.sku }}</span>
                </div>
              </div>
            </q-card-section>
            <q-separator />
            <!-- <q-card-section> -->
          </q-card>

          <div class="row q-col-gutter-xl" :class="$q.screen.xs && 'column'">
            <div class="col-7">
              <app-list header="Информация о товаре и магазине">
                <q-item>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.shop", 1) }}
                    </q-item-label>
                    <q-item-label caption>
                      {{ $tt("common.filial") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <q-item-label>
                      <div class="text-subtitle2">
                        {{ product.shop_name }}
                      </div>
                    </q-item-label>
                    <q-item-label caption>
                      <div class="flex items-center">
                        <app-flag class="q-mr-xs" size="14px" :country="product.country" />
                        {{ product.country }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    {{ $tt("common.count", 1) }}
                  </q-item-section>
                  <q-item-section avatar>
                    <div class="flex q-gutter-x-sm">
                      <app-btn
                        :disable="product.quantity <= 1"
                        @click="
                          () => {
                            product.quantity > 1 && product.quantity--;
                            calculateCommision(true);
                          }
                        "
                        flat
                        padding="sm"
                        icon="remove"
                      ></app-btn>
                      <app-input
                        style="max-width:49px;"
                        input-class="text-center"
                        @input="calculateCommision(true)"
                        :debounce="1000"
                        v-model.number="product.quantity"
                        :error="$v.product.quantity.$anyError || product.quantity <= 0"
                      ></app-input>
                      <app-btn
                        @click="
                          () => {
                            product.quantity++;
                            calculateCommision(true);
                          }
                        "
                        flat
                        padding="sm"
                        icon="add"
                      ></app-btn>
                    </div>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    {{ $tt("common.type", 1) }}
                  </q-item-section>
                </q-item>
                <div>
                  <div class="row">
                    <div class="col-6">
                      <q-item
                        :class="[options.is_digital && 'text-blue bg-blue-1']"
                        clickable
                        tag="label"
                      >
                        <q-item-section side>
                          <q-item-label>
                            <q-radio v-model="options.is_digital" :val="true"></q-radio>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-subtitle2">
                            {{ $tt("common.digital", 1) }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                    <div class="col-6">
                      <q-item
                        :class="[!options.is_digital && 'text-blue bg-blue-1']"
                        clickable
                        tag="label"
                      >
                        <q-item-section side>
                          <q-item-label>
                            <q-radio v-model="options.is_digital" :val="false"></q-radio>
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="text-subtitle2">
                            {{ $tt("common.physical", 1) }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                  </div>
                </div>
                <q-separator></q-separator>
                <q-item :disable="!product.colors || !product.colors.length">
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.color", 1) }}
                    </q-item-label>
                    <q-item-label caption v-if="!product.colors || !product.colors.length">
                      {{ $tt("common.not_available") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <div class="text-subtitle2">
                      <app-select
                        :label="`${$tt('common.pick', 1)} ${$tt('common.color')}`"
                        :options="(product && product.colors) || []"
                        v-model="options.color"
                        :disable="!product || !product.colors || !product.colors.length"
                        :error="$v.options.color.$anyError"
                      ></app-select>
                    </div>
                  </q-item-section>
                </q-item>
                <q-item :disable="!product.sizes || !product.sizes.length">
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.size", 1) }}
                    </q-item-label>
                    <q-item-label caption v-if="!product.sizes || !product.sizes.length">
                      {{ $tt("common.not_available") }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <div class="text-subtitle2">
                      <app-select
                        :label="`${$tt('common.pick', 1)} ${$tt('common.size')}`"
                        :options="product.sizes"
                        v-model="options.size"
                        :disable="!product.sizes || !product.sizes.length"
                        :error="$v.options.size.$anyError"
                      ></app-select>
                    </div>
                  </q-item-section>
                </q-item>
                <q-item class="q-py-md">
                  <q-item-section>
                    <q-item-label class="q-mb-sm">
                      {{ $tt("common.comment", 1) }}
                    </q-item-label>
                    <q-item-label>
                      <app-input
                        :placeholder="$tt('pages.new_buy.variation_message')"
                        type="textarea"
                        v-model="options.comment"
                        rows="5"
                      ></app-input>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>

              <!-- </q-card-section> -->
            </div>
            <div class="col relative-position">
              <!-- <q-card class="relative-position"> -->
              <!-- <with-loading :state="loading.calculate" /> -->

              <app-list :loading="loading.calculate" :header="$tt('common.cost', 1)">
                <q-item>
                  <q-item-section>
                    <q-item-label>
                      <!-- Стоимость ед. -->
                      {{ $tt("common.cost", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <div class="text-subtitle2">
                      <app-input
                        :debounce="1000"
                        @input="calculateCommision(true)"
                        v-model.number="product.cost"
                        style="max-width:120px"
                        :suffix="currency"
                      />
                    </div>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label> {{ $tt("common.currency", 1) }}: </q-item-label>
                  </q-item-section>
                </q-item>
                <div class="row">
                  <div class="col-4" :key="c.code" v-for="c in currencies">
                    <q-item
                      :class="[currency === c.value && 'text-blue bg-blue-1 font-500']"
                      clickable
                      tag="label"
                    >
                      <q-item-section side>
                        <q-item-label>
                          <q-radio
                            @input="calculateCommision(true)"
                            :val="c.value"
                            name="currency"
                            v-model="currency"
                          ></q-radio>
                        </q-item-label>
                      </q-item-section>

                      <q-item-section>
                        <q-item-label class="text-subtitle2">
                          <app-flag class="q-mr-xs" :country="c.country_code"></app-flag>
                          {{ c.value }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                </div>

                <q-separator></q-separator>

                <q-item>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.tax", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <app-input
                      :debounce="1000"
                      v-model.number="product.tax"
                      style="max-width:120px"
                      @input="calculateCommision(true)"
                      :suffix="currency"
                    >
                      <!-- <template #append>
                        <q-icon size="20px" name="help_outline">
                          <q-tooltip max-width="420px">
                            Бывают случаи, когда стоимость товара/доставки, налог или валюта в магазине и в личном
                            кабинете могут отличаться. При необходимости (при наличии различий) введите сумму из
                            магазина.
                          </q-tooltip>
                        </q-icon>
                      </template> -->
                    </app-input>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.delivery", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <app-input
                      :debounce="1000"
                      v-model.number="product.shipping"
                      style="max-width:120px"
                      @input="calculateCommision(true)"
                      :suffix="currency"
                    >
                      <!-- <template #append>
                        <q-icon size="20px" name="help_outline">
                          <q-tooltip max-width="420px">
                            Бывают случаи, когда стоимость товара/доставки, налог или валюта в магазине и в личном
                            кабинете могут отличаться. При необходимости (при наличии различий) введите сумму из
                            магазина.
                          </q-tooltip>
                        </q-icon>
                      </template> -->
                    </app-input>
                    <!-- </h6> -->
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label>
                      <!-- Комиссия системы -->
                      {{ $tt("common.system_comission", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar class="text-subtitle2">
                    <transition  enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear>
                      <q-skeleton
                        v-if="loading.calculate"
                        height="22px"
                        width="42px"
                        key="placeholder"
                      ></q-skeleton>
                      <div v-else key="system-commission">
                        {{
                          (calculate &&
                            calculate.system_commission &&
                            $toUSD(calculate.system_commission)) ||
                            "-"
                        }}
                      </div>
                    </transition>
                  </q-item-section>
                </q-item>

                <q-separator />

                <q-item class="q-py-lg text-accent">
                  <q-item-section>
                    <q-item-label>
                      <h5 class="q-ma-none">
                        {{ $tt("common.total", 1) }}
                      </h5>
                    </q-item-label>
                    <q-item-label>
                      <small class="text-muted q-mt-sm">
                        {{ $tt("pages.new_buy.without_delivery_cost") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <transition  enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear>
                      <q-skeleton
                        v-if="loading.calculate"
                        height="21px"
                        width="77px"
                        key="placeholder"
                      ></q-skeleton>
                      <h4 v-else class="q-ma-none" key="real_cost">
                        {{
                          $toUSD(
                            (calculate.order_summ || 0) +
                              product.shipping +
                              (calculate.system_commission || 0)
                          )
                        }}
                      </h4>
                    </transition>
                  </q-item-section>
                </q-item>
              </app-list>
              <!-- </q-card> -->

              <app-btn
                @click="submitProduct"
                class="q-mt-xl block q-py-sm full-width"
                color="positive"
              >
                <q-icon size="19px" class="q-mr-sm" name="add_shopping_cart" />
                <!-- Добавить в корзину -->
                {{ $tt("common.add") }} {{ $tt("common.in_cart") }}
              </app-btn>
            </div>
          </div>
        </div>
      </q-slide-transition>
    </div>
  </PageContainer>
</template>
<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import { uid } from "quasar";

export default {
  data() {
    return {
      link: null,
      // link: "https://www.6pm.com/p/ben-sherman-percy-laceless-grey/product/9256678",
      // link: "https://www.6pm.com/p/calvin-klein-fiza-2-black/product/9670142/color/3",
      // link:
      //   "https://www.ebay.com/itm/Garmin-Fenix-5-HR-GPS-Multisports-Outdoor-Hiking-Watch-Silver-Black/164170440768?epid=12025592784&hash=item2639522040",
      // link: "https://www.amazon.com/Oculus-Quest-Advanced-All-One-Virtual/dp/B099VMT8VZ/ref=lp_16225016011_1_1",
      product: null,
      loading: {
        product: false,
        page: false,
        calculate: false,
      },
      options: {
        color: null,
        size: null,
        comment: null,
        is_digital: false,
      },
      currency: null,
      currencies: [
        {
          label: "USD",
          slot: "usd",
          value: "USD",
          country_code: "us",
        },
        {
          label: "GBP",
          slot: "gbp",
          value: "GBP",
          country_code: "gb",
        },
        {
          label: "EUR",
          slot: "eur",
          value: "EUR",
          country_code: "eu",
        },
      ],
      calculate: null,
    };
  },
  methods: {
    async getProduct() {
      this.product = null;

      try {
        this.loading.product = true;

        const {
          data: { product_info },
        } = await this.$api.post(`/buy/get_good`, {
          url: this.link,
        });

        product_info.quantity = 1;
        product_info.tax = 0;

        this.product = product_info;

        this.currency = product_info && product_info.currency;

        if (
          this.product &&
          this.product.colors &&
          this.product.colors.length &&
          this.product.colors.length === 1
        ) {
          this.options.color = this.product.colors[0];
        }

        if (
          this.product &&
          this.product.sizes &&
          this.product.sizes.length &&
          this.product.sizes.length === 1
        ) {
          this.options.size = this.product.sizes[0];
        }

        await this.calculateCommision(true);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.product = false;
      }
    },
    calculateCommision(set = false) {
      return new Promise(async (done, fail) => {
        let { product, options, currency, link: url } = this;
        let { size = null, color = null, comment, is_digital } = options;

        try {
          this.loading.calculate = true;

          const {
            data: { calculate },
          } = await this.$api.post(`/buy/calc`, {
            items: [
              {
                ...product,
                currency,
                url,
                ...(size && { size }),
                ...(color && { color }),
                is_digital,
                comment,
              },
            ],
          });

          if (set) {
            this.calculate = calculate[this.product.shop_name];
          }

          done(calculate[this.product.shop_name]);
        } catch (e) {
          console.log(e);
          this.$alert({ title: this.$tt("errors.load_data") });
          fail(e);
        } finally {
          this.loading.calculate = false;
        }
      });
    },

    submitProduct() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      let {
        options: { color = null, size = null, comment, is_digital },
        product,
      } = this;

      // put product into localStorage
      this.$store.dispatch("Cart/CART_ADD", {
        ...product,
        ...(color && { color }),
        ...(size && { size }),
        is_digital,
        comment,
        uid: uid(),
      });

      this.$router.push("/cart");
    },
  },
  validations() {
    return {
      product: {
        quantity: { required },
        cost: { required },
      },
      options: {
        color: {
          required: requiredIf(function() {
            return this.product.colors && this.product.colors.length > 0;
          }),
        },
        size: {
          required: requiredIf(function() {
            return this.product.sizes && this.product.sizes.length > 0;
          }),
        },
      },
    };
  },
};
</script>
