<template>
  <!-- <div class="app-table-list relative-position"> -->
  <q-card
    flat
    :bordered="bordered"
    class="relative-position app-table-list"
    :class="[error && 'app-table-list--error', warning && 'app-table-list--warning']"
  >
    <!-- <with-loading :state="loading" /> -->
    <q-inner-loading
      transition-show="fade"
      transition-hide="fade"
      :showing="loading && !empty"
      class="z-top"
    >
      <q-spinner-ios size="22px" color="grey-8" />
    </q-inner-loading>

    <q-badge
      style="top: -10px; right: 16px"
      floating
      v-if="error && error.length"
      class="bg-negative rounded-borders "
    >
      <q-icon name="error" class="q-mr-xs" size="14px"></q-icon>
      {{ error }}
    </q-badge>

    <q-badge
      style="top: -10px; right: 16px"
      floating
      v-if="warning && warning.length"
      class="bg-warning text-brown"
    >
      <q-icon name="warning" class="q-mr-xs" size="14px"></q-icon>
      {{ warning }}
    </q-badge>

    <slot name="append" v-if="$slots && $slots['append']"></slot>

    <q-toolbar
      v-if="
        (header && header.length) || (caption && caption.length) || ($slots && $slots['actions'])
      "
      class="q-py-lg text-accent"
      style="padding-left:16px;padding-right:16px;"
    >
      <q-btn size="11px" class="q-mr-sm" flat round icon="menu" v-if="$slots && $slots['menu']">
        <q-menu>
          <slot name="menu" />
        </q-menu>
      </q-btn>

      <div class="flex column" :class="swapHeader ? 'column reverse' : 'column'">
        <div class="flex items-center q-gutter-x-sm">
          <div style="font-size:18px" v-if="icon && icon.length">
            {{ icon }}
          </div>
          <div v-if="empty && loading" class="flex items-center no-wrap" style="font-size:13px">
            <q-skeleton
              height="18.2px"
              :width="`${(header && header.length && header.length * 7.5) || 210}px`"
            ></q-skeleton>
          </div>
          <div class="font-500" v-else-if="header" style="font-size:13px">
            {{ header }}
          </div>
        </div>

        <div v-if="caption" class="q-mt-sm">
          <div style="font-weight: normal; font-size: 11px" class="text-grey-7">
            {{ caption }}
          </div>
        </div>
      </div>

      <q-space></q-space>

      <div style="position:sticky;right:16px;top:77px;">
        <div class="flex q-gutter-x-sm no-wrap" v-if="loading">
          <q-skeleton
            height="30px"
            width="100px"
            v-for="(act, idx) in actions_slots"
            :key="idx"
          ></q-skeleton>
        </div>

        <div v-else>
          <slot name="actions" />
        </div>
      </div>
    </q-toolbar>

    <slot name="pagination" />

    <q-markup-table
      :separator="separator"
      wrap-cells
      flat
      :class="[error && 'app-table-list--error']"
    >
      <thead v-if="empty && thead_slots && thead_slots.length && loading">
        <tr>
          <th v-for="({ side }, idx) in thead_slots" :side="side" :key="idx">
            <!-- v-show="!miss" -->
            <q-skeleton style="min-width:42px" class="full-width"></q-skeleton>
          </th>
        </tr>
      </thead>

      <thead v-else>
        <slot name="thead" />
      </thead>

      <tbody v-if="empty && loading">
        <tr>
          <td class="text-center" :colspan="thead_slots && thead_slots.length">
            <div class="q-py-md">
              <q-spinner-ios size="21px" color="grey-7"></q-spinner-ios>
            </div>
          </td>
        </tr>
      </tbody>

      <tbody v-else-if="empty">
        <tr>
          <td :colspan="colspan">
            <div class="text-muted block q-py-md">{{ empty }}</div>
          </td>
        </tr>
      </tbody>

      <tbody v-else>
        <slot name="default" />
      </tbody>

      <tfoot v-if="$slots && $slots['tfoot']" class="bg-grey-1 font-500">
        <slot name="tfoot" />
      </tfoot>
    </q-markup-table>

    <!-- <q-separator></q-separator> -->
    <slot name="pagination" />
  </q-card>
  <!-- </div> -->
</template>

<script>
export default {
  props: {
    empty: [Boolean, String],
    loading: [Boolean, String],
    header: {
      type: String,
    },
    colspan: [Number, String],
    caption: String,
    icon: String,
    separator: String,
    // maxHeight: String,
    // minWidth: { type: Number },
    // TODO: IMPLEMENT THIS PROPERTIES
    error: { type: [Boolean, String] },
    warning: { type: [Boolean, String] },
    bordered: { type: Boolean, default: true },
    swapHeader: { type: Boolean },
  },
  data() {
    return {
      thead_slots: null,
      actions_slots: 1,
    };
  },
  mounted() {
    let Thead = (this.$slots && this.$slots["thead"]) || null;

    Thead = Thead && Thead[0];

    let columns =
      (Thead &&
        Thead.children &&
        Array.from(Thead.children).map(
          (th) => ({
            miss: !th.text && !th.children,
            side: th.data && th.data.attrs && th.data.attrs.hasOwnProperty("side"),
          })
          // (th) => (th.data && th.data.attrs && th.data.attrs.hasOwnProperty("side")) || false
        )) ||
      null;

    this.thead_slots = columns;

    let Actions = (this.$slots && this.$slots["actions"]) || null;

    Actions = Actions && Actions[0];

    this.actions_slots =
      (Actions && Actions.children && Array.from(Actions.children).length) || null;
  },
};
</script>
<style lang="scss">
.app-table-list {
  position: relative;

  transition: box-shadow ease 0.21s, border-color ease 0.21s;

  &--error {
    // box-shadow: 0 0 0 1px rgba($negative, 1);
    // box-shadow: 0 0 0 4px rgba($negative, 0.28);
    border-color: $negative !important;
    border-width: 2px;
  }

  &--warning {
    // box-shadow: 0 0 0 1px rgba($warning, 1);
    // box-shadow: 0 0 0 4px rgba($warning, 0.28);
    border-color: $warning !important;
    border-width: 2px;
  }

  .q-badge {
    border-radius: 4px !important;
  }

  .q-badge--floating {
    top: -9px;
    right: 7px;
  }

  &--error {
    box-shadow: 0 0 0 1px $negative;
    border-color: $negative;
  }

  &--warning {
    box-shadow: 0 0 0 1px $warning;
    border-color: $warning;
  }

  &__title {
    th {
      position: sticky;
      left: 0;
    }
  }

  th {
    text-align: left;
    color: $grey-7;
    letter-spacing: 0.2px;
  }

  tfoot {
    td {
      border-top: 1px solid #eee !important;
      font-size: 12px;
      color: $grey-8;
    }
  }

  tbody {
    td[sticky] {
      background-color: #fff !important;
      position: sticky;
      right: 0;
      padding-left: 7px;

      &:before {
        content: "";
        height: 100%;
        width: 28px;
        background-color: #f00;
        position: absolute;
        // right: 100%;
        left: -28px;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      }
    }

    td {
      white-space: normal;
    }
  }

  td[side],
  th[side] {
    width: 0px !important;
    white-space: nowrap !important;
  }
}
</style>
