<template>
  <PageContainer :title="$tt('common.calculator', 1)" :caption="$tt('nav.shipments.calc.caption')">
    <div class="container">
      <q-stepper header-nav keep-alive v-model="step" ref="stepper" color="primary" animated>
        <q-step
          :name="1"
          :title="$tt('common.shipping_type', 1)"
          icon="settings"
          :done="step === 'info'"
          :header-nav="true"
        >
          <q-btn-group flat spread>
            <q-btn
              @click="
                () => {
                  type = 'direct';
                  step = 2;
                }
              "
            >
              <div class="flex column items-center justify-center q-pa-lg">
                <q-img
                  height="70px"
                  width="70px"
                  src="/img/types/direct.svg"
                  alt="direct"
                  class="q-mb-lg"
                />
                {{ $tt("types.direct") }}
              </div>
            </q-btn>
            <q-btn
              @click="
                () => {
                  type = 'svh';
                  step = 2;
                }
              "
            >
              <div class="flex column items-center justify-center q-pa-lg">
                <q-img
                  height="70px"
                  width="70px"
                  src="/img/types/wh-in.svg"
                  alt="direct"
                  class="q-mb-lg"
                />
                {{ $tt("types.svh") }}
              </div>
            </q-btn>
            <q-btn
              @click="
                () => {
                  type = 'usa_domestic';
                  step = 2;
                }
              "
            >
              <div class="flex column items-center justify-center q-pa-lg">
                <q-img
                  height="70px"
                  width="70px"
                  src="/img/types/wh-out.svg"
                  alt="wh-out"
                  class="q-mb-lg"
                />
                {{ $tt("types.usa_domestic") }}
              </div>
            </q-btn>
          </q-btn-group>
        </q-step>

        <q-step
          :header-nav="step === 'result'"
          icon="info"
          :title="`${$tt('common.info', 1)}`"
          :name="2"
        >
          <div v-if="type">
            <h4 class="q-mb-lg line-height1">{{ transformType(type) }}</h4>
            <transition-group
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
              appear
            >
              <div class="q-mb-lg" v-if="type === 'direct' || type === 'usa_domestic'" key="sad">
                <div class="row q-col-gutter-md">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <CountrySelect
                      :error="$v.location.country.$error"
                      v-model="location.country"
                      :prepend-options="popular_directions"
                    />
                    <StateSelect
                      class="q-mt-sm"
                      :country="location.country"
                      v-model="location.state"
                    />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <app-input v-model="location.zip" label="ZIP"></app-input>
                  </div>
                </div>
              </div>

              <div key="ad">
                <small class="text-muted q-mb-sm block">
                  <!-- Габариты посылки (cm) -->
                  {{ $tt("common.dimensions", 1) }}
                </small>
                <div class="row q-col-gutter-md">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <app-input
                      v-model.number="dimensions.length"
                      type="number"
                      step="1"
                      :label="$tt('common.length', 1)"
                      :error="$v.dimensions.length.$anyError"
                      suffix="cm"
                    ></app-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <app-input
                      v-model.number="dimensions.width"
                      type="number"
                      step="1"
                      :label="$tt('common.width', 1)"
                      suffix="cm"
                      :error="$v.dimensions.width.$anyError"
                    ></app-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <app-input
                      v-model.number="dimensions.height"
                      type="number"
                      step="1"
                      :label="$tt('common.height', 1)"
                      suffix="cm"
                      :error="$v.dimensions.height.$anyError"
                    ></app-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <app-input
                      v-model.number="weight.fact"
                      type="number"
                      step="0.001"
                      :error="$v.weight.fact.$anyError"
                      :error-message="
                        ($v.weight.fact.$dirty &&
                          !$v.weight.fact.minValue &&
                          'Минимальное занчение 10 г.') ||
                          ''
                      "
                      :label="$tt('common.weight', 1)"
                      suffix="g"
                      :min="0.001"
                      :hint="
                        (dimensional_weight &&
                          `${$tt('common.dim_weight', 1)}: ${dimensional_weight} g`) ||
                          ''
                      "
                    >
                    </app-input>
                  </div>
                </div>
              </div>
            </transition-group>
          </div>
        </q-step>

        <q-step :header-nav="false" icon="sort" :title="$tt('common.result', 1, 2)" name="result">
          <div v-if="result && (type === 'direct' || type === 'usa_domestic')">
            <h4 class="q-mb-lg">
              <!-- Тарифы на доставку по вашим параметрам -->
              {{ $tt("messages.your_tariffs") }}
            </h4>
            <app-list>
              <q-item v-for="(rate, idx) in result" :key="idx" class="q-py-md">
                <q-item-section>
                  <q-item-label>
                    <div class="flex items-center q-mb-md">
                      <div class="text-muted block q-mr-sm">
                        {{ transformRateType(rate.ship_type) }}
                      </div>

                      <carrier-logo :code="rate.carrier_service.carrier" />
                    </div>
                  </q-item-label>
                  <q-item-label class="q-my-lg">
                    <div class="font-500 q-mb-sm" style="font-size:18px">
                      {{ rate.carrier_service.carrier }}:
                      {{ rate.carrier_service.name }}
                    </div>
                    <div>
                      <div class="text-grey-7">
                        {{ rate.carrier_service.timing_description }}
                      </div>
                    </div>
                  </q-item-label>

                  <q-item-label
                    class="text-negative block q-mt-md"
                    v-if="rate.carrier_service.error"
                  >
                    <div class="flex no-wrap">
                      <q-icon class="q-mr-xs" style="padding-top:2px" name="error" />
                      <span v-html="rate.carrier_service.error"></span>
                    </div>
                  </q-item-label>
                  <q-item-label
                    class="text-orange-7 block q-mt-md"
                    v-if="rate.carrier_service.warning"
                  >
                    <div class="flex no-wrap">
                      <q-icon class="q-mr-xs" style="padding-top:2px" name="warning" />
                      <span v-html="rate.carrier_service.warning"></span>
                    </div>
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label>
                    <div class="flex items-center">
                      <div class="text-right text-primary q-mb-xs font-500" style="font-size:24px">
                        {{ $toUSD(rate.rates.total) }}
                      </div>
                      <app-btn round size="13px" class="q-ml-sm" icon="info" flat color="grey-5">
                        <q-menu>
                          <q-list
                            bordered
                            separator
                            class="rounded-borders"
                            v-if="
                              rate.rates.consolidation || rate.rates.handling || rate.rates.label
                            "
                          >
                            <!-- consolidation
                                handling
                                label -->
                            <q-item v-if="rate.rates.consolidation">
                              <q-item-section>
                                <div class="text-muted">
                                  {{ $tt("types.consolidation", 1) }}
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.consolidation) }}
                                </b>
                              </q-item-section>
                            </q-item>
                            <q-item v-if="rate.rates.handling">
                              <q-item-section>
                                <div class="text-muted">
                                  {{ $tt("common.processing", 1) }}
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <div class="text-right">
                                  <b>
                                    {{ $toUSD(rate.rates.handling) }}
                                  </b>
                                </div>
                              </q-item-section>
                            </q-item>
                            <q-item v-if="rate.rates.label">
                              <q-item-section>
                                <div class="text-muted">
                                  Label
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.label) }}
                                </b>
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-item v-else>
                            <q-item-section>
                              <small class="text-muted q-pa-sm text-center block">
                                <!-- Детализация недоступна -->
                                {{ $tt("errors.no_data") }}
                              </small>
                            </q-item-section>
                          </q-item>
                        </q-menu>
                      </app-btn>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
          </div>
          <div v-if="result && type === 'svh'">
            <app-list>
              <q-item v-for="(rate, idx) in result" :key="idx">
                <q-item-section>
                  <h5 class="q-ma-none line-height1">Доставка на склад</h5>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label>
                    <div class="flex items-center q-py-sm">
                      <div class="text-right">
                        <b class="text-primary q-mb-xs block line-height1" style="font-size:21px">
                          {{ $toUSD(rate.rates.total) }}
                        </b>
                      </div>
                      <app-btn
                        round
                        size="12px"
                        class="q-ml-sm"
                        icon="info"
                        flat
                        dense
                        color="grey-4"
                      >
                        <q-menu>
                          <q-list
                            bordered
                            separator
                            class="rounded-borders"
                            v-if="
                              rate.rates.consolidation || rate.rates.handling || rate.rates.label
                            "
                          >
                            <!-- consolidation
                                handling
                                label -->
                            <q-item>
                              <q-item-section>
                                <div class="text-muted">
                                  {{ $tt("types.consolidation", 1) }}
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.consolidation) }}
                                </b>
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-item v-else>
                            <q-item-section>
                              <small class="text-muted q-pa-sm text-center block">
                                {{ $tt("errors.no_data") }}
                              </small>
                            </q-item-section>
                          </q-item>
                        </q-menu>
                      </app-btn>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
          </div>
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation v-if="step !== 'info'">
            <div class="flex justify-between">
              <app-btn
                padding="14px"
                size="12px"
                @click="$refs.stepper.previous()"
                v-show="step !== 1"
              >
                {{ $tt("common.back") }}
              </app-btn>

              <app-btn
                padding="14px"
                size="12px"
                unelevated
                v-if="step !== 1 && step < 3"
                @click="handleNextStep()"
                color="positive"
                :label="
                  (() => {
                    if (step === 2) return $tt('common.calculate');
                  })()
                "
                :disable="
                  (() => {
                    if (step === 1) return !type;
                  })()
                "
                :loading="loading"
              />

              <!-- <app-btn :disable="step === 1" @click="resetCalcState" v-else class="text-primary">
                {{ $tt("common.go_start", 1) }}
              </app-btn> -->
            </div>
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </div>
  </PageContainer>
</template>

<script>
import CountrySelect from "@/components/CountrySelect";
import StateSelect from "@/components/CountrySelect/States.vue";
import CarrierLogo from "@/components/CarrierLogo";
import { required, minValue } from "vuelidate/lib/validators";

export default {
  name: "ShippingCalculator",
  components: {
    CountrySelect,
    StateSelect,
    "carrier-logo": CarrierLogo,
  },
  async mounted() {
    try {
      await this.$store.dispatch("Info/GET_COUNTRIES");
    } catch (e) {
      console.log(e);
    }
  },
  data() {
    return {
      step: 1,
      loading: false,
      type: null,
      result: null,
      dimensions: {
        length: null,
        width: null,
        height: null,
      },
      weight: {
        fact: null,
        dimensional: null,
      },
      location: {
        country: null,
        state: null,
        zip: null,
      },
      popular_directions: [
        { label: "United States Of America", value: "US" },
        { label: "Canada", value: "CA" },
        { label: "United Kingdom", value: "GB" },
        { label: "Spain", value: "ES" },
        { label: "Netherlands", value: "NL" },
        { label: "Italy", value: "IT" },
        { label: "Germany", value: "DE" },
        { label: "France", value: "FR" },
        { label: "Belgium", value: "BE" },
        { label: "Austria", value: "AT" },
        { label: "Australia", value: "AU" },
        { label: "Japan", value: "JP" },
      ],
    };
  },
  computed: {
    dimensional_weight() {
      return (
        +((this.dimensions.length * this.dimensions.width * this.dimensions.height) / 5000) *
          1000 || null
      );
    },
  },
  watch: {
    type() {
      this.resetCalcData();
    },
  },
  methods: {
    transformType(code) {
      switch (code) {
        case "direct":
          return this.$tt("types.direct", 1);
        case "svh":
          return this.$tt("types.svh", 1);
        case "usa_domestic":
          return this.$tt("types.usa_domestic", 1);
        default:
          return code;
      }
    },
    transformRateType(code) {
      switch (code) {
        case "consolidation":
          return this.$tt("types.consolidation", 1);
        case "direct":
          return this.$tt("types.direct", 1);
        case "usa_domestic":
          return this.$tt("types.usa_domestic", 1);
        default:
          return code;
      }
    },

    handleNextStep() {
      if (this.step === 1) return this.$refs.stepper.next();
      if (this.step === 2) {
        return this.submit();
      }
    },
    submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "danger",
        });

        return;
      }

      this.result = null;

      let params = {};

      let {
        type,
        dimensions,
        location: { country, state, zip },
        weight: { fact: weight },
      } = this;

      switch (type) {
        case "direct":
          params = {
            dimensions,
            country,
            ...(state && { state }),
            ...(zip && { zip }),
            weight: weight / 1000,
          };
          return this.calculateCost(params);
        case "usa_domestic":
          params = {
            type: "usa_domestic",
            dimensions,
            country,
            ...(state && { state }),
            ...(zip && { zip }),
            weight: weight / 1000,
          };
          return this.calculateCost(params);
        case "svh":
          params = { dimensions, weight: weight / 1000, type: "svh" };
          return this.calculateCost(params);
        default:
          throw new Error("Unknown shipping type.");
      }
    },
    async calculateCost(params) {
      try {
        this.loading = true;

        const { data: result } = await this.$api.post(
          `v2/shipping/calculator/get-carriers`,
          params
        );

        this.result = result;

        this.$refs.stepper.next();
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
    resetCalcData() {
      this.dimensions = {
        length: null,
        width: null,
        height: null,
      };
      this.location = {
        country: null,
        state: null,
        zip: null,
      };

      this.weight = {
        fact: null,
        dimensional: null,
      };

      this.result = null;

      this.$v.$reset();
    },
    resetCalcState() {
      this.resetCalcData();
      this.type = null;
      this.$refs.stepper.goTo(1);
    },
  },
  validations() {
    let location = {
      country: { required },
      //   state: { required }
    };

    let dimensions = {
      length: { required },
      width: { required },
      height: { required },
    };

    let weight = {
      fact: { required, minValue: minValue(10) },
    };

    const rules = {
      direct: {
        location,
        dimensions,
        weight,
      },
      svh: {
        dimensions,
        weight,
      },
      usa_domestic: {
        location,
        weight,
        dimensions,
      },
    };

    return rules[this.type] || {};
  },
};
</script>
