<template>
  <component
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    appear
    :is="transitionType"
    name="transition-component"
  >
    <slot />
  </component>
</template>

<script>
export default {
  abstract: true,
  props: {
    group: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    transitionType() {
      return this.group ? "transition-group" : "transition";
    },
  },
};
</script>
