@import "./fonts.scss";
@import "./rfs.scss";
@import "./mixins.scss";
@import "./flags/index.css";

// app global css in SCSS form
body,
html {
  box-sizing: border-box !important;

  * {
    box-sizing: border-box !important;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
}

.container-crm {
  @extend .container;
  max-width: 1400px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.container-fluid {
  @extend .container;
  max-width: none !important;
  margin: 0 auto;
  padding-right: 28px;
  padding-left: 35px;
}

$aborder: 1px solid rgba(0, 0, 0, 0.12);

.aborder {
  border: $aborder;
}

.q-page-container,
.q-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.font-500 {
  font-weight: 500;
}

a {
  color: $primary;
  font-weight: 500;

  &:hover {
    color: lighten($primary, $amount: 7);
  }
}

.text-muted {
  color: $grey-6 !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;

  //! EXP
  position: absolute;
  // width: 100%;
}

.slide-fade-top-enter-active,
.slide-fade-top-leave-active {
  transition: opacity 0.21s, transform 0.21s;
  transform-origin: center top;
}

.slide-fade-top-enter,
.slide-fade-top-leave-to {
  opacity: 0;
  // transform: translateY(-7px);
  transform: scale(0.992);
}

.line-height1 {
  line-height: 1;
}

// * FRAMEWORK

.q-tooltip {
  backdrop-filter: blur(2px);
}

.fit-column {
  white-space: nowrap !important;
  width: 1px !important;
}

.q-field {
  &__inner {
    // background-color: #fff;
  }
}

.modal-header {
  font-size: 18px;
  font-weight: 500;
}

.blue-cyan-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00c9d3+0,0088cc+100 */
  background: rgb(0, 201, 211);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(0, 201, 211, 1) 0%, rgba(0, 136, 204, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 201, 211, 1) 0%, rgba(0, 136, 204, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 201, 211, 1) 0%, rgba(0, 136, 204, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c9d3', endColorstr='#0088cc', GradientType=1);
  /* IE6-9 */
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &__body {
    height: 100%;
  }
}

[submit] {
  width: 100%;
}

.pseudo-readonly {
  .q-field__control:before {
    border-style: solid !important;
  }
}

.fz-10 {
  font-size: 10px !important;
}
.fz-11 {
  font-size: 11px !important;
}
.fz-12 {
  font-size: 12px !important;
}
.fz-13 {
  font-size: 13px !important;
}

.gradient-success {
  background: #11998e !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2cd36c,
    #11998e
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2cd36c,
    #11998e
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-warning {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f09819, #ff512f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-info {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
}
.gradient-danger {
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ea384d, #d31027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-dark {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-light {
  box-shadow: 1px 1px 4px 0 rgba(#000, 0.14);
}

.gradient-grey {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfcfc+0,ededed+100 */
  background: rgb(252, 252, 252); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.readonly-default.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid !important;
}

.dont-wrap {
  white-space: nowrap;
}

.q-dialog {
  // z-index: 9999;
}

.error-border {
  border-color: $negative;
  // box-shadow: 0px 0px 0px 2px $negative !important;
  border-width: 2px;
}
