// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// @import "/node_modules/rfs/scss";

$body-font-size: 13px;
$space-base: 14px;
$animate-duration: 0.21s;
$body-line-height: 1.4;

// $primary: #db3832;
// $accent: #00abe9;

$primary: #00abe9;
$accent: #db3832;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #de4747;
$info: #31ccec;
$warning: #f2c037;

$font_base: 14;
$font_base_px: 14px;

$shadow-color: rgba(#000, 0.35);
$elevation-umbra: rgba($shadow-color, 0.14) !default;
$elevation-penumbra: rgba($shadow-color, 0.14) !default;
$elevation-ambient: rgba($shadow-color, 0.12) !default;

// $generic-border-radius: 4px !default;

$generic-hover-transition: 0.21s cubic-bezier(0.25, 0.8, 0.5, 1) !default;
$button-border-radius: 4px;
$tooltip-fontsize: 11px;

// background-image: linear-gradient(to right, #868f96 0%, #596164 100%);

.gradient {
  // background: #cb2d3e;
  // background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
  // background: linear-gradient(to right, #ef473a, #cb2d3e);

  // background: #457fca;
  // background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  // background: linear-gradient(
  //   to right,
  //   #5691c8,
  //   #457fca
  // );

  // background-image: linear-gradient(
  //   111.8deg,
  //   rgba(0, 104, 155, 1) 19.8%,
  //   rgba(0, 173, 239, 1) 92.1%
  // );

  // background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  // background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);

  // background-image: linear-gradient(135deg, lighten($primary, 21%) 0%, $primary 100%);

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f9ff4+0,6eb5ef+100 */
  background: rgb(63, 159, 244); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(63, 159, 244, 1) 0%,
    rgba(110, 181, 239, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(63, 159, 244, 1) 0%,
    rgba(110, 181, 239, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(63, 159, 244, 1) 0%,
    rgba(110, 181, 239, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9ff4', endColorstr='#6eb5ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradient {
  @extend .gradient;
}

// $button-font-size: 12px !important;

$tooltip-background: rgba(#000, 0.63);
$tooltip-color: #fff;
$tooltip-fontsize: 11px;
$tooltip-padding: 7px 11px;
$tooltip-border-radius: 2px !important;
$min-line-height: 1;

$button-push-border-radius: 4px !default;
