<template>
  <PageContainer :title="`${$tt('common.your', 1)} ${$tt('common.bill', 0, 2)}`">
    <!-- <with-loading :state="loading" /> -->
    <div class="container">
      <with-transition>
        <!-- <q-card v-if="bills && bills.length"> -->

        <app-table-list
          :empty="
            ((!bills || !bills.length) && 'Нет информации для отображения') || false
          "
          :loading="loading"
          :colspan="6"
        >
          <template #thead>
            <tr>
              <th>
                {{ $tt("common.type", 1) }}
              </th>
              <th>
                {{ $tt("common.number", 1) }}
              </th>
              <th>
                {{ $tt("common.summ", 1) }}
              </th>
              <th>
                {{ $tt("common.date", 1) }}
              </th>
              <th>
                {{ $tt("common.status", 1) }}
              </th>
              <th></th>
            </tr>
          </template>

          <tr v-for="invoice in bills" :key="invoice.invoice_id">
            <td>
              <q-img
                width="100px"
                height="32px"
                contain
                :src="
                  `img/logos/${getSystemLogo(invoice.invoice_module)}.${
                    invoice.invoice_module === 'pay_wayforpay' ? 'png' : 'svg'
                  }`
                "
                position="left center"
              >
                <template #error>
                  <div class="fit bg-transparent content-start flex-center">
                    <div class="flex no-wrap content-start  items-center">
                      <q-icon
                        color="grey"
                        name="image_not_supported"
                        class="q-mr-xs"
                        size="14px"
                      ></q-icon>
                      <small class="text-muted">
                        {{ invoice.invoice_module }}
                      </small>
                    </div>
                  </div>
                </template>
              </q-img>
            </td>
            <td>
              {{ invoice.invoice_number }}
            </td>
            <td>
              <span class="font-500">
                {{ $toFixed(invoice.invoice_orig_sum) }}
              </span>
              <small>
                {{ invoice.invoice_orig_currency }}
              </small>
            </td>
            <td>
              <div>
                {{ invoice.invoice_date && invoice.invoice_date.split(" ")[0] }}
              </div>
              <small class="text-muted">
                {{ invoice.invoice_date && invoice.invoice_date.split(" ")[1] }}
              </small>
            </td>
            <td>
              <q-checkbox
                :value="!!invoice.invoice_paid"
                :disable="!invoice.can_mark_paid"
                @input="markAsPaid(invoice.invoice_id)"
                :color="invoice.invoice_paid ? 'positive' : 'negative'"
              >
                {{
                  invoice.invoice_paid
                    ? $tt("common.payed", 1)
                    : $tt("common.not_payed", 1)
                }}
              </q-checkbox>
            </td>
            <td side>
              <app-btn
                padding="sm"
                round
                color="accent"
                size="10px"
                icon="more_horiz"
                @click.stop
                push
              >
                <q-popup-proxy>
                  <q-list>
                    <q-item
                      clickable
                      v-close-popup
                      :to="`/invoices/${invoice.invoice_id}`"
                    >
                      <q-item-section>
                        {{ $tt("common.details", 1) }}
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      v-close-popup
                      @click="printInvoice(invoice.invoice_id)"
                    >
                      <q-item-section>
                        {{ $tt("common.print", 1) }}
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      v-close-popup
                      class="text-negative"
                      :disable="!invoice.can_delete"
                      @click="removeInvoice(invoice.invoice_id)"
                    >
                      <q-item-section>
                        {{ $tt("common.delete", 1) }}
                      </q-item-section>

                      <q-item-section v-show="!invoice.can_delete" side>
                        <q-icon name="lock" size="14px" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-popup-proxy>
              </app-btn>
            </td>
          </tr>
        </app-table-list>
      </with-transition>

      <iframe
        id="print-holder"
        height="1px"
        width="1px"
        frameborder="0"
        style="display:none"
      ></iframe>
    </div>
  </PageContainer>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch("Finances/GET_BALANCE");

    this.getInvoices();
  },
  data() {
    return {
      bills: null,
      loading: false,
      pager: {
        page: 1,
        on_page: 10,
      },
    };
  },
  methods: {
    getSystemLogo(code) {
      let needle = (target) => code.toLowerCase().indexOf(target.toLowerCase()) >= 0;

      if (needle("liqpay")) {
        return "liqpay";
      }
      if (needle("privat")) {
        return "privat24";
      }
      if (needle("webmoney")) {
        return "webmoney";
      }
      if (needle("pay_wayforpay")) {
        return "pay_wayforpay";
      }
      if (needle("payoneer")) {
        return "payoneer";
      } else return null;
    },
    async getInvoices() {
      try {
        this.loading = true;

        const { invoices, on_page, page, total } = await this.$store.dispatch(
          "Invoices/GET_INVOICES"
        );

        this.bills = invoices;
        this.pager = {
          on_page,
          page,
        };
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, { fallbackMessage: "Не удалось загрузить данные" });
      } finally {
        this.loading = false;
      }
    },
    async printInvoice(invoice_id) {
      try {
        this.loading = true;

        const {
          data: { print_invoice },
        } = await this.$store.dispatch("Invoices/GET_INVOICE", invoice_id);

        let frame = window.frames["print-holder"].contentWindow;

        frame.document.body.innerHTML = print_invoice;

        if (!frame) return;
        frame.focus();
        frame.print();

        frame.document.body.innerHTML = "";
      } catch (e) {
      } finally {
        this.loading = false;
      }
    },
    async removeInvoice(invoice_id) {
      const c = await this.$confirm({
        title: "Действительно хотите удалить запись?",
        level: "danger",
      });

      if (!c) return;

      try {
        const { data } = await this.$store.dispatch(
          "Invoices/REMOVE_INVOICE",
          invoice_id
        );

        this.$message({
          level: "success",
          title: (data && data.message) || "Запись удалена",
        });

        this.getInvoices();
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
      }
    },
    async markAsPaid(invoice_id) {
      try {
        this.loading = "Сохранение информации";

        const { data } = await this.$store.dispatch("Invoices/MARK_AS_PAID", invoice_id);

        this.$alert({
          level: "success",
          title: (data && data.message) || this.$tt("messages.changes_saved"),
        });

        this.getInvoices();
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
