<template>
  <div class="relative">
    <with-loading :state="loading" />

    <div class="q-pa-lg flex-center-between">
      Информация о вложениях
      <app-btn @click="$modal.hide('edit-prods')" icon="close" flat size="sm" />
    </div>

    <div v-if="products">
      <p class="q-px-lg text-blue-8">
        Для получения документов требуются названия товаров на
        <b>английском</b> и <b>украинском</b> языках. Перед отправкой убедитесь, что поля названий заполнены, иначе
        создать документ будет невозможно.
      </p>

      <q-separator class="q-mt-lg" />
      <!-- <q-slide-transition appear> -->
      <!-- v-show="products && products.length" -->
      <q-markup-table flat>
        <thead>
          <tr>
            <th class="text-left">{{ $tt("common.title", 1) }}</th>
            <th class="text-left">{{ $tt("common.title", 1) }} (eng)</th>
            <th class="text-left">{{ $tt("common.title", 1) }} (укр.)</th>
            <th class="text-right">{{ $tt("common.count") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr :key="i" v-for="(prod, i) in products">
            <td class="text-left">
              {{ prod.title }}
            </td>
            <td class="text-left">
              <app-input
                :error="$v.products.$each[i].title_customs_eng.$error"
                v-model.lazy="prod.title_customs_eng"
                class="q-pb-none"
              />
            </td>
            <td class="text-left">
              <app-input
                :error="$v.products.$each[i].title_customs_ua.$error"
                v-model.lazy="prod.title_customs_ua"
                class="q-pb-none"
              />
            </td>
            <td class="text-right">
              <b>{{ prod.quantity }}</b>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
      <!-- </q-slide-transition> -->
      <q-separator />
    </div>
    <div class="q-pa-lg">
      <app-btn class="full-width" color="primary" unelevated :label="$tt('common.save', 1)" @click="submitResult" />
    </div>
  </div>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
const re = /^[^а-яА-Я]*$/; // alphanumeric & spaces
const ALPHA_PLUS = (val) => {
  return re.test(val);
};

export default {
  name: "GetProductsInfo",
  props: {
    shipments: [Array, Object],
  },
  data() {
    return {
      products: null,
      loading: false,
    };
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    async getProducts() {
      this.loading = true;

      try {
        let {
          data: { products },
        } = await this.$api.post(`/shipping/shipment_products`, {
          shipment_id: [...this.shipments],
        });

        this.products = products;
      } catch (e) {
        this.$message({
          level: "danger",
          title: (e && e.response && e.response.data && e.response.data.message) || "Не удалось загрузить содерижмое",
        });
      } finally {
        this.loading = false;
      }
    },
    submitResult() {
      this.$v.products.$touch();

      if (this.$v.products.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });
        return;
      }

      this.$parent.$emit("submit", this.products);
    },
    rejectProducts() {
      this.$parent.$emit("reject");
    },
  },
  validations() {
    return {
      products: {
        $each: {
          title_customs_eng: {
            required,
            ALPHA_PLUS,
          },
          title_customs_ua: {
            required: requiredIf(function() {
              return this.shipments.type_code !== "agent_shipping";
            }),
          },
        },
      },
    };
  },
};
</script>

<style></style>
