<template>
  <PageContainer :title="$tt('pages.2fa.2fa_settings')">
    <template #actions>
      <app-btn
        v-if="status && status.enabled"
        @click="turnOff()"
        class="bg-white text-negative"
        padding="11px"
        size="12px"
      >
        {{ $tt("common.turn_off", 1, 0) }}
      </app-btn>
    </template>

    <app-banner level="info" class="q-mb-md">
      <div class="container">
        <div v-html="$tt('pages.2fa.help')"></div>
      </div>
    </app-banner>

    <div class="container">
      <q-slide-transition>
        <app-banner icon="gpp_maybe" v-if="status && !status.enabled" level="warning" gradient>
          <div class="flex-center-between font-500 full-width q-py-md">
            <div>
              {{ $tt("pages.2fa.2fa_warning") }}
            </div>
            <app-btn to="/settings/2fa/init" class="bg-white text-orange">
              {{ $tt("common.turn_on", 1, 0) }}
            </app-btn>
          </div>
        </app-banner>
        <app-banner v-else-if="status" level="success" gradient icon="verified_user">
          <div class="q-py-md full-width flex-center-between font-500">
            {{ $tt("pages.2fa.account_protected") }}
            <app-btn @click="$router.push({ name: '2FA_ADD' })" class="bg-white text-positive">
              <q-icon class="q-mr-sm" size="18px" name="mobile_friendly"></q-icon>
              {{ $tt("pages.2fa.init_new_device") }}
            </app-btn>
          </div>
        </app-banner>
      </q-slide-transition>

      <app-list v-if="status" class="q-mt-md" :header="$tt('pages.2fa.current_status')">
        <q-item
          :class="[(status.enabled && 'text-positive bg-green-1') || 'bg-orange-1 text-brown']"
        >
          <q-item-section>
            <q-item-label caption>{{ $tt("common.status", 1) }}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="font-500">
              <div v-if="status.enabled" class="flex items-center line-height1">
                <q-icon class="q-mr-xs" size="18px" name="verified"></q-icon>
                {{ $tt("common.turn_on", 1, 1) }}
              </div>
              <div v-else class="flex items-center line-height1">
                <q-icon class="q-mr-xs" size="18px" name="gpp_bad"></q-icon>
                {{ $tt("common.turn_off", 1, 1) }}
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="status.enabled">
          <q-item-section>
            <q-item-label caption>Метод</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label v-if="status.method">
              <div class="flex items-center">
                <q-icon
                  class="q-mr-xs"
                  size="18px"
                  v-if="status.method === 'otp'"
                  name="qr_code_scanner"
                ></q-icon>
                <q-icon
                  class="q-mr-xs"
                  size="18px"
                  v-if="status.method === 'sms'"
                  name="sms"
                ></q-icon>
                {{ status.method && status.method.toUpperCase() }} - {{ status.title }}
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  async mounted() {
    this.getStatus();
  },
  data() {
    return {
      status: null,
      loading: false,
    };
  },
  methods: {
    async getStatus() {
      try {
        this.loading = true;

        this.status = await this.$store.dispatch("2fa/GET_STATUS");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errros.load_data") });
      } finally {
        this.loading = false;
      }
    },
    confirmOTP({ message, method }) {
      return new Promise((done, fail) => {
        try {
          this.$q
            .dialog({
              parent: this,
              component: () => import("@/components/PromptOTP"),
              message,
              method,
            })
            .onOk(({ key }) => {
              done(key);
            })
            .onCancel(() => {
              this.$message({
                level: "warning",
                title: "Операция отменена",
              });
              fail();
            });
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    async turnOff(params) {
      if (!params) {
        let c = await this.$confirm({
          title: this.$t("messages.confirm_action", { action: this.$tt("pages.2fa.turn_off") }),
          level: "warning",
        });

        if (!c) return;
      }

      try {
        this.loading = true;
        await this.$store.dispatch("2fa/TURN_OFF", params);

        this.getStatus();

        this.$alert({ title: this.$tt("messages.changes_saved"), level: "success" });
      } catch (e) {
        if (e.response && e.response.status && e.response.status === 403) {
          let {
            data: { method, message },
            signature,
          } = e.response;

          let code = await this.confirmOTP({ method, message });

          let p = {
            "2fa_key": code,
            ...(signature && { "2fa_sign": signature }),
          };

          this.turnOff(p);
        }
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
