<template>
  <q-dialog transition-show="jump-down" transition-hide="fade" :ref="`carousel-dia`">
    <app-btn
      icon="close"
      class="absolute z-max bg-white text-negative"
      style="top:14px;right:14px;cursor:pointer"
      round
      @click="hide"
    ></app-btn>
    <div class="flex ">
      <q-carousel
        animated
        v-model="slide"
        :arrows="images && images.length > 1"
        :navigation="images && images.length > 1"
        infinite
        control-color="primary"
        transition-prev="slide-right"
        transition-next="slide-left"
        keep-alive
      >
        <q-carousel-slide :key="slide_index" v-for="(img, slide_index) in images" :name="slide_index" class="q-pa-none">
          <!-- :img-src="type && type === 'url' ? img : `data:image;base64,${img}`" -->
          <img style="object-fit:contain;object-position:center center;" v-if="type && type === 'url'" :src="img" />
          <img style="object-fit:contain;object-position:center center;" v-else :src="`data:image;base64,${img}`" />
        </q-carousel-slide>
      </q-carousel>
    </div>
  </q-dialog>
</template>

<script>
export default {
  props: {
    images: Array,
    index: Number,
    type: String,
  },
  data() {
    return {
      slide: this.index || 0,
    };
  },
  methods: {
    show() {
      this.$refs[`carousel-dia`].show();
    },
    hide() {
      this.$refs[`carousel-dia`].hide();
    },
  },
};
</script>
<style lang="scss" scoped>
.q-carousel {
  // height: auto !important;
  // max-width: calc(1140px - 28px) !important;
}

.q-carousel__navigation-inner {
  filter: contrast(0.5) !important;
}
</style>
