<template>
  <PageContainer
    caption="в случае поступления письма от юридической органзации в отношении нарушения авторских прав"
    title="Запрос на помощь"
    :loading="loading"
  >
    <div class="container">
      <form @submit.prevent="submitClaim">
        <div class="row q-col-gutter-xl">
          <div class="col-6">
            <app-input
              :error="$v.shop_name.$anyError"
              v-model="shop_name"
              :label="$tt('common.shop_name', 1)"
            ></app-input>
          </div>
          <div class="col-6">
            <app-input
              :error="$v.marketplace.$anyError"
              v-model="marketplace"
              label="Площадка"
            ></app-input>
          </div>
          <div class="col-6">
            <app-input
              :error="$v.phone.$anyError"
              v-model="phone"
              label="Номер телефона"
            ></app-input>
          </div>
          <div class="col-6">
            <app-input :error="$v.email.$anyError" v-model="email" label="Email"></app-input>
          </div>
          <div class="col-12">
            <app-input v-model="comment" label="Комментарий" type="textarea" rows="3"></app-input>
          </div>
          <div class="col-12">
            <app-input
              v-model="mail_text"
              label="Текст письма"
              hint="Вставьте содержимое письма сюда"
              type="textarea"
              rows="3"
            ></app-input>
          </div>
        </div>

        {{ $t("messages.lala") }}

        <div class="flex-center q-mt-xl" :loading="loading">
          <app-btn type="submit" padding="md" color="accent">Отправить запрос</app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      comment: null,
      email: null,
      mail_text: null,
      marketplace: null,
      phone: null,
      shop_name: null,
      loading: false,
    };
  },
  methods: {
    async submitClaim() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "warning",
          title: this.$tt('messages.fill_req_fields'),
        });

        return;
      }

      let { comment, email, mail_text, marketplace, phone, shop_name } = this;

      try {
        this.loading = true;

        await this.$api.post(`/tickets/law-help-request`, {
          comment,
          email,
          mail_text,
          marketplace,
          phone,
          shop_name,
        });

        this.$alert({
          title: "Запрос успешно отправлен, он будет рассмотрен в ближайшее время",
          level: "success",
        });

        this.$router.push("/");
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "DOMException" });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      email: { required },
      marketplace: { required },
      phone: { required },
      shop_name: { required },
    };
  },
};
</script>
