<template>
  <!-- <q-menu -->
  <q-popup-proxy
    :offset="[0, 7]"
    @before-show="onNotificationsCenterShow"
    @before-hide="onNotificationsCenterHide"
    ref="notifications-center"
    transition-hide="jump-up"
    transition-show="jump-down"
  >
    <q-card style="width: 350px">
      <q-card-section>
        <div class="flex-center-between">
          <div class="flex items-center">
            <div class="text-subtitle2">
              {{ $tt("notifications.title", 1, 2) }}
            </div>
            <q-btn
              class="q-ml-sm"
              size="9px"
              dense
              icon="settings"
              padding="xs"
              flat
              color="grey-8"
              to="/settings/notifications"
              round
            >
              <q-tooltip>
                {{ $tt("notifications.settings", 1) }}
              </q-tooltip>
            </q-btn>
          </div>
          <div class="q-gutter-x-sm">
            <q-btn
              size="9px"
              dense
              icon="done_all"
              padding="xs"
              color="grey-8"
              flat
              v-close-popup="0"
              @click="
                processAll({
                  read: true,
                })
              "
            >
              <q-tooltip>
                {{ $tt("notifications.read_all", 1) }}
              </q-tooltip>
            </q-btn>
            <q-btn
              size="9px"
              dense
              icon="backspace"
              padding="xs"
              color="grey-8"
              flat
              v-close-popup="0"
              @click="
                processAll({
                  delete: true,
                  read: true,
                })
              "
            >
              <q-tooltip>
                {{ $tt("notifications.remove_seen", 1) }}
              </q-tooltip>
            </q-btn>
            <q-btn
              size="9px"
              dense
              icon="close"
              padding="xs"
              color="grey-8"
              flat
              v-close-popup="0"
              @click="
                processAll({
                  delete: true,
                })
              "
            >
              <q-tooltip>
                {{ $tt("notifications.remove_all", 1) }}
              </q-tooltip>
            </q-btn>
          </div>
        </div>
      </q-card-section>

      <q-separator></q-separator>

      <q-item :to="`/notifications`" clickable>
        <q-item-section style="font-size: 11px">
          <div class="flex items-center">
            <q-icon size="15px" class="q-mr-sm" name="sort"></q-icon>
            {{ $tt("notifications.go_to_center", 1) }}
          </div>
        </q-item-section>
        <q-item-section side>
          <q-icon size="16px" name="chevron_right"></q-icon>
        </q-item-section>
      </q-item>
      <q-separator></q-separator>

      <div class="relative-position">
        <with-loading size="24px" :state="loading_notifications"></with-loading>

        <q-slide-transition>
          <q-list
            transition-show="jump-down"
            v-if="events && events.length"
            separator
            style="max-height: 420px; height: 100%"
            class="scroll"
            ref="events-list"
          >
            <q-item
              :clickable="!!event.url"
              :key="event.id"
              v-for="event in events"
              :class="[
                event.is_read && 'event--seen',
                event.is_pinned && 'event--pinned',
              ]"
              :href="event.url"
              target="_blank"
              class="q-py-md"
            >
              <q-item-section>
                <q-item-label>
                  <div class="flex-center-between">
                    <div style="font-size:11px" class="text-grey-7">
                      {{ $date(event.created_at) }}
                    </div>

                    <div class="flex justify-center items-center q-gutter-x-xs">
                      <q-btn
                        dense
                        size="10px"
                        flat
                        color="grey-7"
                        icon="more_vert"
                        @click.stop.prevent
                      >
                        <q-menu>
                          <q-list>
                            <q-item
                              v-close-popup="1"
                              @click="
                                changeEventState(event, {
                                  read: true,
                                })
                              "
                              v-if="!event.is_read"
                              clickable
                            >
                              <q-item-section>
                                <q-item-label
                                  class="flex no-wrap items-center q-pr-lg"
                                >
                                  <q-icon
                                    class="q-mr-sm"
                                    name="done"
                                    size="17px"
                                  ></q-icon>
                                  <small
                                    class="font-500"
                                    style="white-space: nowrap; line-height: 1"
                                  >
                                    {{ $tt("notifications.seen") }}
                                  </small>
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                            <q-item
                              v-close-popup="1"
                              @click="
                                changeEventState(event, {
                                  read: true,
                                })
                              "
                              v-else
                              clickable
                            >
                              <q-item-section>
                                <q-item-label
                                  class="flex no-wrap items-center q-pr-lg"
                                >
                                  <q-icon
                                    class="q-mr-sm"
                                    name="remove_done"
                                    size="17px"
                                  ></q-icon>
                                  <small
                                    class="font-500"
                                    style="white-space:nowrap;line-height:1"
                                  >
                                    {{ $tt("notifications.not_seen") }}
                                  </small>
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                            <q-item
                              class="text-negative"
                              @click="
                                changeEventState(event, {
                                  delete: true,
                                })
                              "
                              :disable="event.deletion_protect"
                              clickable
                            >
                              <q-item-section>
                                <q-item-label
                                  class="flex no-wrap items-center q-pr-lg"
                                >
                                  <q-icon
                                    class="q-mr-sm"
                                    name="close"
                                    size="17px"
                                  ></q-icon>
                                  <small
                                    class="font-500"
                                    style="white-space: nowrap; line-height: 1"
                                  >
                                    {{ $tt("common.delete", 1) }}
                                  </small>
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </q-menu>
                      </q-btn>
                    </div>
                  </div>

                  <div class="text-subtitle2 flex-center-between">
                    {{ event.name }}
                    <div class="flex items-center q-gutter-x-sm">
                      <q-icon
                        v-if="!event.is_read"
                        class="q-mr-xs"
                        name="new_releases"
                        color="accent"
                      ></q-icon>
                      <q-icon
                        v-if="event.is_pinned"
                        style="margin-right:1px"
                        color="orange"
                        size="18px"
                        name="push_pin"
                      ></q-icon>
                    </div>
                    <!-- name="star" -->
                  </div>
                </q-item-label>
                <q-item-label class="text-grey-9">
                  <div
                    v-html="event.description"
                    style="font-size: 12px; line-height: 1.4"
                  ></div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-if="next_page" clickable @click="appendEvents">
              <q-item-section>
                <q-item-label class="text-primary text-center font-500">
                  {{ $tt("notifications.load_more") }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-else>
              <q-item-section class="text-center">
                <small class="text-muted">
                  {{ $tt("notifications.thats_all", 1) }}
                </small>
              </q-item-section>
            </q-item>
          </q-list>
        </q-slide-transition>

        <q-list v-if="!events || !events.length">
          <q-item>
            <q-item-section class="text-center">
              <small class="text-muted">
                {{ $tt("notifications.no_notifications") }}
              </small>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <q-separator></q-separator>

      <q-item
        @click="
          () => {
            $refs['notifications-center'].hide();
          }
        "
        dense
        clickable
      >
        <q-item-section class="text-center">
          <small class="text-muted">
            {{ $tt("common.hide", 1) }}
          </small>
        </q-item-section>
      </q-item>
    </q-card>
  </q-popup-proxy>
  <!-- </q-menu> -->
</template>
<script>
export default {
  async created() {
    this.events = this.notifications;
  },
  data() {
    return {
      events: null,
      unseen_count: null,
      events_loading: {},
      pager: {
        page: 0,
        on_page: 10,
      },
      next_page: null,
      total: null,
    };
  },
  computed: {
    events_count() {
      return this.$store.getters[`Notifications/count`];
    },
    loading_notifications() {
      return this.$store.getters["Notifications/loading"];
    },
  },
  methods: {
    async onNotificationsCenterShow() {
      this.$store.commit("Notifications/SET_LOADING", true);

      try {
        let { next_page, notifications } = await this.$store.dispatch(
          `Notifications/GET_NOTIFICATIONS`,
          {
            ...this.pager,
          }
        );
        this.events = notifications;
        this.next_page = next_page;

        this.unseen_count = 0;
      } catch (e) {
        console.log(e);
        let { message: title } = this.$parseApiError(e);

        this.$message({ title, level: "danger" });
      } finally {
        this.$store.commit("Notifications/SET_LOADING", false);
      }
    },
    onNotificationsCenterHide() {
      this.$store.dispatch(`Notifications/GET_COUNT`);
      this.$emit("hide");
    },
    async changeEventState(event, changes) {
      if (changes.delete) {
        let c = await this.$confirm({
          title: "Уверены, что хотите удалить уведомление ?",
          level: "danger",
        });

        if (!c) return;
      }

      if (this.events_loading[event.id]) {
        this.events_loading[event.id] = true;
      } else {
        this.$set(this.events_loading, event.id, true);
      }

      try {
        this.$store.commit("Notifications/SET_LOADING", true);

        await this.$api.post(`/notifications/${event.id}`, changes);

        let changed = this.events.findIndex((e) => e.id == event.id);

        if (changes.delete) {
          this.events.splice(changed, 1);
        } else {
          this.events[changed] = await this.$store.dispatch(
            "Notifications/GET_ONE_NOTIFICATION",
            event
          );
        }
      } catch (e) {
        console.log(e);
      } finally {
        this.$store.commit("Notifications/SET_LOADING", false);

        this.events_loading[event.id] = false;
      }
    },
    async appendEvents() {
      this.pager.page += 1;

      this.$refs["events-list"].$el.scrollBy(-1, 0);

      let { notifications, next_page } = await this.$store.dispatch(
        `Notifications/GET_NOTIFICATIONS`,
        {
          ...this.pager,
          page: this.pager.page,
        }
      );

      this.events.push(...notifications);
      this.next_page = next_page;
    },
    async processAll(params) {
      let msg, level;

      if (params.delete && params.read) {
        msg = this.$tt("notifications.actions.delete_seen");
        level = "danger";
      } else if (params.delete) {
        msg = this.$tt("notifications.actions.delete_all");
        level = "danger";
      } else if (params.read) {
        msg = this.$tt("notifications.actions.read_all");
        level = "warning";
      }

      let c = await this.$confirm({
        // title: `Действительно хотите ${msg}`,
        title: this.$t("messages.confirm_action", { action: msg }),
        level,
      });

      if (!c) return;

      try {
        this.$store.commit("Notifications/SET_LOADING", true);

        await this.$api.post(`/notifications`, params);

        this.$store.dispatch(`Notifications/GET_NOTIFICATIONS`, {
          set: true,
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.$store.commit("Notifications/SET_LOADING", false);
      }
    },
  },
};
</script>
<style lang="scss">
.event--seen {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.event--pinned {
  // 'bg-orange-2 text-brown-7'
  background-color: $orange-1;
  color: $brown-7;
  opacity: 1;
}
</style>
