<template>
  <q-page>
    <div id="connect-amazon" class="connect-amazon relative-position">
      <app-banner icon="report" level="warning" rounded icon-size="40px" class="q-mb-lg" v-if="!is_available">
        {{ $tt("pages.integrations.amazon.is_unavailable") }}
      </app-banner>
      <div class="connect-amazon__list">
        <app-btn
          :to="{ name: 'CONNECT_SHOP', params: { platform: 'other', createAmazon: true } }"
          color="positive"
          class="q-my-lg"
          padding="md"
          size="12px"
        >
          {{ $tt("common.create_request") }}
        </app-btn>

        <app-table-list
          :loading="loading.list"
          :header="$tt('pages.integrations.amazon.connected_amazon_shops')"
          icon="🔗"
          class="text-left"
          :empty="(!shops || !Object.keys(shops) || !Object.keys(shops).length) && $tt('errors.no_data', 1)"
          :colspan="3"
        >
          <template #thead>
            <tr>
              <th>{{ $tt("common.shop", 1) }}</th>
              <th>{{ $tt("common.status", 1) }}</th>
              <th></th>
            </tr>
          </template>

          <tr v-for="(shop, title) in shops" :key="shop.title">
            <td style="font-weight: 600">{{ title }}</td>
            <td>
              <app-badge v-if="shop.status === 'complete'" level="positive" icon="verified">
                {{ $tt("pages.integrations.amazon.statuses.complete") }}
              </app-badge>
              <app-badge v-if="shop.status === 'new'" level="warning" icon="new_releases">
                {{ $tt("pages.integrations.amazon.statuses.uncomplete") }}
              </app-badge>
            </td>
            <td class="text-right">
              <app-btn size="11px" @click="changeShop(shop, title)" color="primary">
                {{ $tt("pages.integrations.configure", 1) }}
              </app-btn>
            </td>
          </tr>
        </app-table-list>
      </div>

      <modal @closed="handleModalClose" width="490" height="auto" name="shop-settings">
        <div v-if="current.shop">
          <div class="q-pa-lg">
            <div class="flex-center-between">
              <h5 class="q-ma-none">{{ $tt("pages.integrations.configure", 1) }} Amazon</h5>
              <q-btn @click="$modal.hide('shop-settings')" flat round color="negative" size="12px" icon="close"></q-btn>
            </div>

            <app-input label="Seller ID" v-model="current.shop.credentials.SELLER_ID" type="text" class="q-mt-lg" />
            <app-input
              label="MWS Auth Token"
              v-model="current.shop.credentials.MWS_AUTH_TOKEN"
              type="text"
              class="q-mt-md"
            />

            <q-expansion-item
              icon="help_outline"
              :label="$tt('pages.integrations.amazon.get_token_title')"
              class="q-mt-lg"
            >
              <div class="q-pt-md">
                <!-- <div  class="font-500 text-grey-7"></div> -->
                <app-banner level="info">
                  <div v-html="$tt('pages.integrations.amazon.get_token_help')" class="font-500"></div>
                </app-banner>
                <div class="q-mt-md">
                  <div class="cursor-pointer flex-center-between q-mb-sm">
                    Developer name:
                    <div class="flex items-center">
                      <q-btn
                        @click="copyValue('SOL')"
                        icon="content_copy"
                        size="9px"
                        class="q-mr-sm"
                        color="grey-6"
                        round
                        flat
                      >
                        <q-tooltip anchor="top middle" self="bottom middle">
                          {{ $tt("common.copy", 1) }}
                        </q-tooltip>
                      </q-btn>

                      <b>
                        SOL
                      </b>
                    </div>
                  </div>
                  <div class="cursor-pointer flex-center-between">
                    Developer ID:
                    <div class="flex items-center">
                      <q-btn
                        @click="copyValue('728555876495')"
                        icon="content_copy"
                        size="9px"
                        class="q-mr-sm"
                        color="grey-6"
                        round
                        flat
                      >
                        <q-tooltip anchor="top middle" self="bottom middle">
                          {{ $tt("common.copy", 1) }}
                        </q-tooltip>
                      </q-btn>

                      <b>
                        728555876495
                      </b>
                    </div>
                  </div>
                </div>
              </div>
            </q-expansion-item>

            <app-btn @click="submitShopData" class="q-mt-md full-width" color="primary">
              {{ $tt("common.save", 1) }}
            </app-btn>
          </div>
        </div>
      </modal>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "ConnectAmazon",
  mounted() {
    this.getShops(null);
  },
  data() {
    return {
      is_available: true,
      shops: null,
      loading: {
        list: false,
      },
      current: {
        seller_id: null,
        auth_token: null,
        shop: null,
        shop_name: null,
      },
    };
  },
  methods: {
    handleModalClose() {
      this.current = {
        seller_id: null,
        auth_token: null,
        shop: null,
        shop_name: null,
      };
    },
    getShops(shops) {
      if (shops) {
        this.shops = shops;
        return;
      }

      this.loading.list = true;

      this.$api
        .get(`/user/accounts/amazon`)
        .then(({ data: { amazon_shops, is_available } }) => {
          this.shops = amazon_shops;
          this.is_available = is_available;
        })
        .catch((e) => {
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
        })
        .then(() => {
          this.loading.list = false;
        });
    },

    changeShop(shop = null, title) {
      if (!shop.credentials) {
        shop.credentials = Object();
        shop.credentials.SELLER_ID = "";
        shop.credentials.MWS_AUTH_TOKEN = "";
      }
      this.current.shop = shop;
      this.current.shop_name = title;

      this.$modal.show("shop-settings");
    },
    submitShopData() {
      if (!this.current.shop.credentials.MWS_AUTH_TOKEN || !this.current.shop.credentials.SELLER_ID) {
        this.$message({
          title: this.$tt("errors.bad_data"),
          level: "warning",
        });

        return;
      }

      this.loading.list = true;

      const {
        shop: { credentials },
        shop_name,
      } = this.current;

      this.$api
        .put(`/user/accounts/amazon`, {
          auth_token: credentials.MWS_AUTH_TOKEN,
          seller_id: credentials.SELLER_ID,
          shop_name: shop_name,
        })
        .then(() => {
          this.$message({
            title: this.$tt("messages.changes_saved"),
            level: "success",
          });

          this.getShops(data.amazon_shops);

          this.$modal.hide("shop-settings");
        })
        .catch((e) => {
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
        })
        .then(() => {
          this.loading.list = false;
        });
    },
    async copyValue(value) {
      await this.$copyText(value);

      this.$message({
        level: "success",
        title: this.$tt("common.copied", 1),
      });
    },
  },
};
</script>
