<template>
  <q-page>
    <with-loading :loading="loading.common"></with-loading>

    <div class="ebay-connect__info">
      <p>
        <b>
          {{ $tt("pages.integrations.ebay.copyright") }}
        </b>
      </p>

      <p>
        <a
          href="https://www.ebay.com/help/policies/member-behaviour-policies/user-agreement?id=4259"
        >
          {{ $tt("pages.integrations.ebay.actual_rules") }}
        </a>
      </p>

      <p v-html="$tt('pages.integrations.ebay.help_info')"></p>

      <p>
        {{ $tt("pages.integrations.ebay.help_title") }}
      </p>

      <ol>
        <li>
          {{ $tt("pages.integrations.ebay.help_items[0]") }}
        </li>
        <li>
          {{ $tt("pages.integrations.ebay.help_items[1]") }}
        </li>
      </ol>
    </div>

    <div class="ebay-connect__start q-mt-xl">
      <h4>
        {{ $tt("pages.integrations.ebay.connect_new_ebay") }}
      </h4>

      <p v-if="!showLink">
        {{ $tt("pages.integrations.ebay.gen_link_help") }}
      </p>

      <p v-if="showLink">
        {{ $tt("pages.integrations.ebay.change_shop_help") }}
      </p>

      <div
        class="connection-form"
        v-on:keyup.enter="ebay_name && generateConnectionLink()"
      >
        <div class="row q-col-gutter-md">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <app-input v-model="ebay_name" type="text" name="ebay_name"></app-input>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <app-btn
              :disabled="!ebay_name"
              color="primary"
              @click="generateConnectionLink"
              class="full-height"
              :loading="loading.connect"
              :class="$q.screen.xs && 'full-width'"
            >
              {{ $tt("pages.integrations.gen_link") }}
            </app-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="ebay-connect__form q-mt-xl" v-if="showLink">
      <p v-html="$tt('pages.integrations.ebay.finish_connect[0]')"></p>

      <p>
        {{ $tt("pages.integrations.ebay.finish_connect[1]") }}
      </p>

      <app-btn
        padding="md"
        class="text-white bg-positive"
        @click="$openURL(connection_link)"
      >
        {{ $tt("pages.integrations.connect_shop") }}
        <b class="q-ml-sm">{{ ebay_name }}</b>
      </app-btn>
    </div>

    <div class="ebay-connect__credentials q-mt-xl">
      <h4>
        {{ $tt("pages.integrations.ebay.connected_ebay_shops") }}
      </h4>

      <div v-if="credentials?.shops?.length" class="ebay-connect__shop-list">
        <q-markup-table>
          <thead>
            <tr>
              <th>{{ $tt("common.title", 1) }}</th>
              <th>
                {{ $tt("common.link", 1) }}
              </th>
              <th>
                {{ $tt("pages.integrations.ebay.outdate") }}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody v-if="credentials?.shops?.length">
            <tr v-for="(shop, idx) in credentials.shops" :key="idx">
              <td class="ebay-connect__shop-name">
                {{ shop.shop_name }}
              </td>
              <td>
                <div class="ebay-connect__actions">
                  <a
                    :href="shop.shop_link"
                    target="_blank"
                    style="font-weight: bold;"
                    class="btn btn-l-primary btn-sm btn--nomargin"
                  >
                    {{ $tt("common.go_to") }}
                  </a>
                </div>
              </td>
              <td>
                <div class="ebay-connect__actions">
                  <div v-if="!shop.notify">
                    {{ getDate(shop.expires) }}
                  </div>
                  <a
                    v-if="shop.notify"
                    :href="shop.refresh_link"
                    class="btn btn-l-primary btn-sm btn--nomargin refresh"
                  >
                    {{ $tt("pages.integrations.ebay.update_before") }}
                    {{ getDate(shop.expires) }}
                  </a>
                </div>
              </td>
              <td>
                <app-btn
                  @click="unlinkAccount(shop.shop_name)"
                  class="bg-red-1"
                  color="red"
                  flat
                >
                  {{ $tt("common.unlink_account") }}
                </app-btn>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="2">
                <div class="text-muted">
                  {{ this.$tt("errors.not_found") }}
                </div>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="ebay-connect__credentials--empty" v-else>
        <div class="text-muted">
          {{ this.$tt("errors.no_data") }}
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  async mounted() {
    if (this.$route?.query?.error) {
      this.$alert({
        level: "danger",
        message: error,
        title: this.$tt("errors.save_data"),
      });
    }

    // let code = this.$route.query?.code || null;
    // let state = this.$route.query?.state || null;

    let { code = null, state = null } = this.$route.query;

    if (code && state) {
      try {
        await this.$store.dispatch("Integrations/FINISH_INTEGRATION", {
          type: "ebay",
          params: { code, state },
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved"),
        });

        this.getInitial();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      }
    }

    this.getInitial();
  },
  data() {
    return {
      credentials: [],
      showLink: false,
      verifier: null,
      connection_link: null,
      ebay_name: null,
      loading: {
        connect: false,
        common: false,
      },
      resultingAlertShown: false,
    };
  },
  watch: {
    ebay_name() {
      if (this.showLink) {
        this.showLink = false;
      }
    },
  },
  methods: {
    async getInitial() {
      this.loading.common = true;

      try {
        let { data } = await this.$api.get(`/ebay/connected-shops`);

        this.credentials = data;
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.common = false;
      }
    },
    async generateConnectionLink() {
      this.loading.common = true;

      try {
        let {
          data: { link },
        } = await this.$api.get(`/ebay/${this.ebay_name}/get-integration-link`);

        this.connection_link = link;
        this.showLink = true;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.common = false;
      }
    },
    async unlinkAccount(shop_name) {
      let c = await this.$confirm({
        title: this.$tt("pages.integrations.unlink_pompt"),
      });

      if (!c) {
        return;
      }

      this.loading.common = true;

      try {
        let {
          data: { message },
        } = await this.$api.delete(`/ebay/${shop_name}/unlink/`);

        this.$message({
          title: message || this.$tt("messages.changes_saved"),
          level: "success",
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.common = false;
        this.getInitial();
      }
    },
    clearSelection() {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    },
    getDate(timestamp) {
      const date = new Date(timestamp * 1000);
      return date.toISOString().substr(0, 10);
    },
  },
};
</script>
