<template>
  <q-page>
    <app-banner icon="warning" gradient level="warning" class="q-mb-lg">
      <div v-html="$tt('pages.integrations.etsy.v3_warning')"></div>
    </app-banner>

    <app-banner level="info" icon="info_outline" class="q-mb-lg">
      <div class="flex-center-between">
        <div>
          {{ $tt("pages.integrations.etsy.integration_info") }}
        </div>
        <a
          target="_blank"
          style="text-decoration:none;white-space:nowrap"
          href="https://seller-online.com/help/etsy-tracking-connect/"
          class="q-ml-xl"
        >
          <app-btn color="primary">
            {{ $tt("pages.integrations.etsy.integration_help") }}
          </app-btn>
        </a>
      </div>
    </app-banner>
    <with-loading :state="loading.common" />
    <div>
      <div class="font-500">
        {{ $tt("pages.integrations.etsy.integration_faq_title") }}
      </div>
      <ol class="q-pl-md q-gutter-y-md q-mt-sm">
        <li>
          {{ $tt("pages.integrations.etsy.integration_faq[0]") }}
        </li>
        <li>
          {{ $tt("pages.integrations.etsy.integration_faq[1]") }}
        </li>
        <li>
          {{ $tt("pages.integrations.etsy.integration_faq[2]") }}
        </li>
        <li>
          {{ $tt("pages.integrations.etsy.integration_faq[3].title") }}

          <ul class="q-gutter-y-sm q-pl-md q-mt-sm">
            <li>
              <!-- службой доставки Seller-Online -->
              {{ $tt("pages.integrations.etsy.integration_faq[3].items[0]") }}
            </li>
            <li>
              <!-- Укрпоштой через создание документов на отправку в личном кабинете (после фактической отправки в отделении) -->
              {{ $tt("pages.integrations.etsy.integration_faq[3].items[1]") }}
            </li>
            <li>
              <!-- при самостоятельном добавлении к заказу трек-номера (если этот заказ был получен через Etsy) -->
              {{ $tt("pages.integrations.etsy.integration_faq[3].items[2]") }}
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="q-mt-xl">
      <h5>
        {{ $tt("pages.integrations.etsy.add_new_etsy_shop") }}
      </h5>

      <app-banner v-if="showLink" level="info" class="q-mt-md">
        <div v-html="$tt('pages.integrations.etsy.change_shop_name_info')"></div>
      </app-banner>

      <app-banner v-else level="info" class="q-mt-md">
        <div v-html="$tt('pages.integrations.etsy.add_new_etsy_info')"></div>
      </app-banner>

      <div style="width:700px" class="row q-col-gutter-lg q-mt-md">
        <div class="col-7">
          <app-input
            :dense="false"
            v-model="current_shop"
            :label="$tt('pages.integrations.etsy.etsy_shop_title')"
          ></app-input>
        </div>
        <div class="col">
          <app-btn
            :disabled="!current_shop"
            class="fit"
            color="positive"
            @click="generateConnectionLink"
          >
            <div class="flex items-center">
              <q-icon name="auto_fix_high" class="q-mr-sm"></q-icon>
              <div class="line-height1">
                {{ $tt("pages.integrations.gen_link") }}
              </div>
            </div>
          </app-btn>
        </div>
      </div>
    </div>

    <q-slide-transition>
      <app-banner v-if="showLink" level="success" gradient class="q-mt-xl">
        <p
          v-html="$tt('pages.integrations.etsy.redirect_info')"
          style="width:77%"
          class="font-500"
        ></p>
        <!-- @click="$openURL(connection_link)" -->
        <a target="_blank" style="text-decoration:none" :href="connection_link">
          <app-btn padding="md" class="bg-white text-positive">
            {{ $tt("pages.integrations.connect_shop") }} <b class="q-ml-sm">{{ current_shop }}</b>
          </app-btn>
        </a>
      </app-banner>
    </q-slide-transition>

    <div class="etsy-v3-connect__form"></div>

    <app-table-list
      :colspan="4"
      :empty="(!shops || !shops.length) && $tt('errors.no_data')"
      :header="$tt('pages.integrations.integrated_shops_yet')"
      class="q-mt-xl"
    >
      <template #thead>
        <tr>
          <th>{{ $tt("common.shop", 1) }}</th>
          <th>{{ $tt("common.status", 1) }}</th>
          <th class="text-center">{{ $tt("common.integration", 1) }} v2</th>
          <th class="text-center">{{ $tt("common.integration", 1) }} v3</th>
          <th></th>
        </tr>
      </template>
      <tr v-for="(shop, idx) in shops" :key="idx">
        <td>
          <div class="text-subtitle2">
            {{ shop.shop_name }}
          </div>
        </td>
        <td>
          <div class="flex" v-if="shop.status_key">
            <BadgeSelector
              v-if="shop.status_key"
              :bg-color="transformStatus(shop.status_key).bg"
              :text-color="transformStatus(shop.status_key).text"
              :value="{ name: transformStatus(shop.status_key).label }"
              :icon="transformStatus(shop.status_key).icon"
            />
            <q-chip
              v-if="shop.decline_comment"
              color="orange-2"
              text-color="brown-5"
              size="16px"
              class="q-ml-sm q-ma-none"
              square
            >
              <q-tooltip>
                <div>
                  <small class="font-500">{{ $tt("common.reason", 1) }}:</small>
                </div>
                {{ shop.decline_comment }}
              </q-tooltip>
              <q-icon size="15px" name="warning"></q-icon
            ></q-chip>
          </div>
          <small v-else class="text-muted">
            {{ $tt("errors.not_specified") }}
          </small>
        </td>
        <td align="center">
          <q-icon v-if="shop.v2" size="28px" name="verified" color="positive"></q-icon>
          <q-icon v-else size="28px" name="highlight_off" color="negative"></q-icon>
        </td>
        <td align="center">
          <q-icon v-if="shop.v3" size="28px" name="verified" color="positive"></q-icon>
          <q-icon v-else size="28px" name="highlight_off" color="negative"></q-icon>
        </td>
        <td align="right">
          <div class="q-gutter-x-md q-my-md">
            <app-btn
              :disable="shop.status_key === 'declined'"
              @click="unlinkAccount(shop.shop_name)"
              size="11px"
              class="text-negative"
              padding="12px"
            >
              {{ $tt("common.delete") }}
            </app-btn>
            <app-btn
              @click="$openURL(`https://etsy.com/shop/${shop.shop_name}`)"
              size="11px"
              text-color="primary"
              color="white"
              padding="12px"
            >
              {{ $tt("common.go_to") }}
            </app-btn>
          </div>
        </td>
      </tr>
    </app-table-list>

    <app-list
      class="q-my-xl bg-red-1"
      v-if="notConnected && notConnected.length"
      :header="$tt('pages.integrations.sales_from_not_connected_title')"
      :caption="$tt('pages.integrations.sales_from_not_connected_desc')"
      color="negative"
      icon="warning"
      header-class="bg-red-1"
    >
      <q-item
        clickable
        @click="
          () => {
            $copyText(sh);
            $message({ level: 'success', title: $tt('common.copied') });
          }
        "
        v-for="(sh, idx) in notConnected"
        :key="idx"
      >
        <q-item-section class="text-subtitle2">
          {{ sh }}
        </q-item-section>
      </q-item>
    </app-list>

    <div class="q-mt-xl">
      <h4 class="q-mb-lg">
        {{ $tt("pages.integrations.track_import_settings_title") }}
      </h4>

      <app-banner level="info" class="q-mb-lg">
        {{ $tt("pages.integrations.track_import_settings_info") }}
      </app-banner>

      <app-list :header="$tt('pages.integrations.track_import_settings')">
        <q-item
          :class="opt.code === track_upload_settings && 'bg-blue-1'"
          tag="label"
          v-ripple
          v-for="opt in TRACK_UPLOAD_SETTING_OPTIONS"
          :key="opt.code"
        >
          <q-item-section avatar top>
            <q-radio v-model="track_upload_settings" :val="opt.code" />
          </q-item-section>
          <q-item-section>
            <q-item-label
              :class="opt.code === track_upload_settings && 'text-weight-bold text-primary'"
            >
              {{ opt.title }}
            </q-item-label>
            <q-item-label caption>{{ opt.desc }}</q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </q-page>
</template>

<script>
export default {
  async mounted() {
    let { error, state, code, error_description } = this.$route.query;

    if (error) {
      let title = "Не удалось завершить интеграцию Etsy";

      if (error_description) {
        title += `: ${error_description}`;
      }

      this.$alert({
        level: "danger",
        title,
      });
    }

    if (code && state) {
      try {
        await this.$api.post(`/etsy/finish-integration`, {
          code,
          state,
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved", 1),
        });
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: "Не удалось завершить интеграцию" });
      }
    }

    // clear search params
    if (this.$route.query && Object.keys(this.$route.query).length) {
      window.history.pushState({}, document.title, document.location.pathname.replace(/^\/+/, ""));
    }

    this.getInitial();
    this.getNotConnected();
  },
  created() {},
  data() {
    return {
      shops: [],
      track_upload_settings: null,
      notConnected: [],
      showLink: false,
      connection_link: null,
      current_shop: null,
      loading: {
        connect: false,
        common: false,
        notConnected: false,
      },
      TRACK_UPLOAD_SETTING_OPTIONS: [
        {
          code: "no_send",
          title: this.$tt("pages.integrations.track_import_settings_options.no_send.title"),
          desc: this.$tt("pages.integrations.track_import_settings_options.no_send.desc"),
        },
        {
          code: "only_destination",
          title: this.$tt(
            "pages.integrations.track_import_settings_options.only_destination.title"
          ),
          desc: this.$tt("pages.integrations.track_import_settings_options.only_destination.desc"),
        },
        {
          code: "destination_after_us",
          title: this.$tt(
            "pages.integrations.track_import_settings_options.destination_after_us.title"
          ),
          desc: this.$tt(
            "pages.integrations.track_import_settings_options.destination_after_us.desc"
          ),
        },
      ],
    };
  },
  watch: {
    track_upload_settings(old_value, new_value) {
      if (old_value !== new_value && new_value !== null && new_value !== undefined) {
        this.changeUploadSettings();
      }
    },
  },
  methods: {
    async getInitial() {
      try {
        this.loading.common = true;

        let { data } = await this.$api.get(`/etsy/linked`);

        this.shops = data.shops;
        this.track_upload_settings = data.track_upload_settings;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: "Не удалось получить данные" });
      } finally {
        this.loading.common = false;
      }
    },
    async generateConnectionLink() {
      this.loading.common = true;

      try {
        let { data, status } = await this.$api.get(
          `/etsy/${this.current_shop}/get-integration-link`
        );

        if (status === 200 && data.link) {
          this.connection_link = data.link;
          this.showLink = true;

          this.$message({
            title: `Ссылка успешно сгенерирована`,
            level: "success",
          });
        }
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось получить ссылку" });
      } finally {
        this.loading.common = false;
      }
    },
    async changeUploadSettings() {
      this.loading.connect = true;

      try {
        await this.$api.post(`/etsy/track-upload-settings`, {
          upload_rule: this.track_upload_settings,
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.connect = false;
      }
    },
    async getNotConnected() {
      try {
        this.loading.notConnected = true;

        let { data } = await this.$api.get(`/v2/reports/integrations/etsy/not-connected`);

        this.notConnected = data.shop_names;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: "Не удалось проверить неподключенные магазины" });
      } finally {
        this.loading.notConnected = false;
      }
    },
    async unlinkAccount(shop_name) {
      let c = await this.$confirm({
        title:
          "Отвязать аккаунт?\nВ будущем вам придется вновь пройти интеграцию, чтобы работать с этим магазином.",
      });

      if (!c) {
        return;
      }

      try {
        this.loading.common = true;

        await this.$api.post(`/etsy/${shop_name}/unlink/`);

        this.$message({
          title: `Аккаунт Etsy "${shop_name}" успешно отвязан`,
          level: "success",
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.common = false;
        this.getInitial();
      }
    },
    transformStatus(code) {
      switch (code) {
        case "new":
          return {
            label: "Новый",
            bg: "indigo",
            text: "white",
            icon: "new_releases",
          };
        case "approved":
          return {
            label: "Одобрено",
            bg: "positive",
            text: "white",
            icon: "check_circle_outline",
          };
        case "declined":
          return {
            label: this.$tt("common.declined", 1),
            bg: "negative",
            text: "white",
            icon: "block",
          };
        case "revoked":
          return {
            label: "Отозвано",
            bg: "orange",
            text: "white",
            icon: "pan_tool",
          };

        default:
          return {
            label: code,
            bg: "grey-2",
            text: "grey-7",
            icon: "more_horiz",
          };
      }
    },
  },
};
</script>
