<template>
  <div class="market-connect__shops q-mt-sm">
    <with-loading :state="loading"></with-loading>

    <div class="q-mb-lg">
      <app-btn
        padding="md"
        color="positive"
        type="a"
        :href="`https://my.ua4us.com/auth/login?redirect=create&token=${token}`"
        target="_blank"
      >
        <q-icon name="new_releases" class="q-mr-sm"></q-icon>
        {{ $tt("pages.integrations.market.connect") }}
      </app-btn>
    </div>

    <app-table-list
      :header="$tt('pages.integrations.market.connected_shops')"
      :empty="(!shops || !shops.length) && $tt('errors.no_data', 1)"
      :colspan="3"
    >
      <template #thead>
        <tr>
          <th>{{ $tt("common.title", 1) }}</th>
          <th>{{ $tt("common.created_at", 1) }}</th>
          <th side>
            {{ $tt("common.link", 1) }}
          </th>
        </tr>
      </template>

      <tr v-for="(shop, idx) in shops" :key="idx">
        <td>
          {{ shop.shop_name }}
        </td>
        <td>
          <span v-if="shop.request_processed">
            {{ $date(shop.request_processed) }}
          </span>
          <small class="text-muted" v-else>
            {{ $tt("common.not_specified") }}
          </small>
        </td>
        <td side>
          <div class="market-connect__actions">
            <!-- action="http://client-dev.handmade-seller.com/authorize?redirect=shop" -->
            <form
              action="https://my.ua4us.com/auth/login?redirect=home"
              method="GET"
              target="_blank"
            >
              <input type="hidden" name="token" :value="token" />
              <app-btn
                color="primary"
                unelevated
                size="12px"
                push
                type="submit"
                padding="12px 21px"
              >
                <div class="flex items-center no-wrap">
                  <q-icon name="open_in_new" size="16px" class="q-mr-sm"></q-icon>
                  {{ $tt("common.go_to") }}
                </div>
              </app-btn>
            </form>
          </div>
        </td>
      </tr>
    </app-table-list>
  </div>
</template>
<script>
export default {
  props: {},
  async mounted() {
    this.loading = true;
    await this.$store.dispatch("auth/GET_USER");
    await this.getShops();
    this.loading = false;
  },
  created() {},
  data() {
    return {
      loading: false,
      shops: [],
    };
  },
  methods: {
    async getShops() {
      this.loading = true;

      try {
        const {
          data: { shops },
        } = await this.$api.get(`/service/link-shop/SellerOnline`);
        this.shops = shops;
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
  },
  computed: {
    token() {
      return this.$store.state.auth.token;
    },
  },
};
</script>
<style lang="scss">
.market-connect {
  &__shop-list {
    table {
      * {
        font-size: 14px;
        text-align: start;
      }
      td:first-child {
        font-weight: bold;
      }
    }
  }

  &__credentials--empty {
    display: flex;
    flex-direction: column;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      margin-top: 20px;
    }
  }
}
</style>
