<template>
  <PageContainer>
    <div class="text-body2">
      {{ $tt("pages.integrations.other.description", true) }}
    </div>

    <app-btn padding="md" class="q-my-lg" @click="newShopRequest()" color="positive" icon="store">
      &nbsp; {{ $tt("common.create_request", true) }}
    </app-btn>

    <app-table-list
      :empty="(!shops || !shops.length) && $tt('pages.integrations.other.no_requests', true)"
      :colspan="5"
      :header="$tt('pages.fop.current_requests', true)"
      :loading="loading"
    >
      <template #thead>
        <tr class="text-left">
          <th>{{ $tt("common.type", 1) }}</th>
          <th>{{ $tt("common.title", 1) }}</th>
          <th>{{ $tt("common.status", 1) }}</th>
          <th>{{ $tt("common.comment", 1) }}</th>
          <th>{{ $tt("common.warning", 1) }}</th>
          <th>{{ $tt("common.updated", 1) }}</th>
        </tr>
      </template>

      <!-- <tbody v-if="shops && shops.length"> -->
      <tr v-for="(shop, idx) in shops" :key="idx">
        <td>
          {{ shop.shop_type }}
        </td>
        <td>
          <div class="flex items-center no-wrap">
            <a target="_blank" rel="noopener" :href="shop.shop_url">
              {{ shop.shop_name }}
              <q-tooltip v-if="shop.shop_url && shop.shop_url.length">{{
                shop.shop_url
              }}</q-tooltip>
            </a>
          </div>
        </td>
        <td>
          <app-badge
            light
            :level="
              (shop.link_status_code === 'new' && 'info') ||
                (shop.link_status_code === 'declined' && 'negative') ||
                (shop.link_status_code === 'completed' && 'positive')
            "
            :icon="
              (shop.link_status_code === 'new' && 'new_releases') ||
                (shop.link_status_code === 'declined' && 'highlight_off') ||
                (shop.link_status_code === 'completed' && 'check_circle')
            "
          >
            {{ shop.link_status_text }}
          </app-badge>
        </td>
        <!-- <td class="bg-orange-1 text-brown"> -->
        <td>
          <div
            class="flex inline items-center  bg-blue-1 text-blue-8 rounded-borders q-pa-sm"
            v-if="
              divideComment(shop.shop_comment).customer_comment &&
                divideComment(shop.shop_comment).customer_comment.length
            "
            style="font-size:12px"
          >
            <!-- {{ shop.shop_comment }} -->
            <div>
              <q-icon size="18px" class="q-mr-sm" name="info_outline"></q-icon>
            </div>

            <div>
              {{ divideComment(shop.shop_comment).customer_comment }}
            </div>
          </div>
          <small class="text-muted" v-else>
            {{ $tt("errors.not_specified") }}
          </small>
        </td>
        <td>
          <div
            class="flex inline items-center  bg-orange-1 text-brown-8 rounded-borders q-pa-sm"
            v-if="
              divideComment(shop.shop_comment).operator_comment &&
                divideComment(shop.shop_comment).operator_comment.length
            "
            style="font-size:12px"
          >
            <!-- {{ shop.shop_comment }} -->
            <div>
              <q-icon size="18px" class="q-mr-sm" name="error_outline"></q-icon>
            </div>
            <div>
              {{ divideComment(shop.shop_comment).operator_comment }}
            </div>
          </div>
          <small class="text-muted" v-else>
            {{ $tt("errors.not_specified") }}
          </small>
        </td>
        <td>
          <div v-if="shop.request_processed">
            {{ $date(shop.request_processed) }}
          </div>
          <small class="text-muted" v-else>
            {{ $tt("errors.no_data") }}
          </small>
        </td>
      </tr>
    </app-table-list>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      shops: null,
      loading: false,
    };
  },
  async mounted() {
    await this.getShops();
  },
  created() {
    if (this.$route.params.createAmazon) {
      this.newShopRequest("amazon");
    }
  },
  methods: {
    getShops() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          const {
            data: { shops },
          } = await this.$api(`/service/link-shop`);

          this.shops = shops;
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data", true),
          });
        } finally {
          this.loading = false;
        }
      });
    },
    newShopRequest(platform = null) {
      this.$q
        .dialog({
          parent: this,
          component: () => import(`./modals/NewShopRequest.vue`),
          platform,
        })
        .onOk((shops) => {
          this.shops = shops;
        });
    },
    divideComment(comment) {
      let [customer_comment, operator_comment] = comment.split("Operator comment:");

      return { customer_comment, operator_comment };
    },
  },
};
</script>
