<template>
  <PageContainer>
    <div class="relative-position" id="shopify-connect">
      <with-loading :state="loading.common"></with-loading>

      <p>
        <b>
          {{ $tt("pages.integrations.shopify.copyright") }}
        </b>
      </p>
      <p>
        <a href="https://www.shopify.com/legal/terms">
          {{ $tt("pages.integrations.shopify.actual_rules") }}
        </a>
      </p>
      <p v-html="$tt('pages.integrations.shopify.rules_confirm')"></p>
      <q-card bordered flat class="flex inline q-mb-lg">
        <q-item
          href="https://apps.shopify.com/seller-online"
          target="_blank"
          clickable
          class="q-py-md"
        >
          <q-item-section side>
            <img src="./sol-connect.webp" height="50" width="50" alt="" />
          </q-item-section>
          <q-item-section>
            <q-item-label caption>
              Install
            </q-item-label>
            <div class="flex items-center" style="line-height: 1;">
              <div class="text-subtitle2">
                Seller-Online Connect app <span style="font-weight: normal;">at</span>
              </div>
              <div class="q-pb-xs">
                <img src="./shopify-app-store.svg" height="22px" alt="" class="q-ml-sm" />
              </div>
            </div>
          </q-item-section>
        </q-item>
      </q-card>
      <p>
        {{ $tt("pages.integrations.shopify.integration_help.title") }}
      </p>
      <ol>
        <li>
          {{ $tt("pages.integrations.shopify.integration_help.items[0]") }}
        </li>
        <li>
          {{ $tt("pages.integrations.shopify.integration_help.items[1]") }}
        </li>
      </ol>

      <q-slide-transition>
        <app-banner v-if="showLink" level="success">
          <div>
            <p v-html="$tt('pages.integrations.shopify.finish_connect[0]')"></p>
            <p>
              {{ $tt("pages.integrations.shopify.finish_connect[1]") }}{{ current_shop
              }}{{ $tt("pages.integrations.shopify.finish_connect[2]") }}
            </p>

            <app-btn
              padding="md"
              class="text-white bg-positive"
              @click="$openURL(connection_link)"
            >
              {{ $tt("pages.integrations.connect_shop") }}
              <b class="q-ml-sm">{{ current_shop }}</b>
            </app-btn>
          </div>
        </app-banner>
      </q-slide-transition>

      <div class="q-mt-xl">
        <h4>
          {{ $tt("pages.integrations.shopify.integrated_shops") }}
        </h4>

        <div v-if="credentials && credentials.length">
          <app-table-list
            v-for="(c, idx) in credentials"
            :key="idx"
            :colspan="2"
            :empty="(!c.shops || !c.shops.length) && $tt('errors.no_data', 1)"
            icon="🔗"
            :header="c.email"
            class="q-mb-lg"
          >
            <template #thead>
              <tr>
                <th class="text-left">{{ $tt("common.title", 1) }}</th>
                <th></th>
              </tr>
            </template>

            <tr v-for="shop in c.shops" :key="shop.shop_id">
              <td class="text-left">
                {{ shop.shop_name }}
              </td>
              <td>
                <div class="flex items-center justify-end">
                  <app-btn
                    @click="$openURL(shop.shop_link)"
                    class="q-mr-md text-primary"
                    icon="open_in_new"
                    padding="sm lg"
                    size="11px"
                  >
                    &nbsp;&nbsp;{{ $tt("common.go_to") }}
                  </app-btn>
                  <app-btn
                    v-if="false"
                    icon="link_off"
                    @click="unlinkAccount(shop.shop_name)"
                    color="negative"
                    padding="sm lg"
                    size="11px"
                  >
                    &nbsp;&nbsp;{{ $tt("common.unlink_account") }}
                  </app-btn>
                </div>
              </td>
            </tr>
          </app-table-list>
        </div>

        <small class="text-muted" v-else>
          {{ $tt("errors.no_data", 1) }}
        </small>
      </div>
    </div>
  </PageContainer>
</template>

<script>
export default {
  async mounted() {
    const params = this.$route.query && Object.keys(this.$route.query)?.length;

    if (params) {
      try {
        this.loading.common = true;

        await this.$store.dispatch("Integrations/FINISH_INTEGRATION", {
          type: "shopify",
          params: {
            ...this.$route.query,
          },
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved", 1),
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading.common = false;
      }
    }

    this.getInitial();
  },
  data() {
    return {
      credentials: [],
      showLink: false,
      verifier: null,
      connection_link: null,
      current_shop: null,
      loading: {
        connect: false,
        common: false,
      },
      resultingAlertShown: false,
    };
  },
  watch: {
    current_shop() {
      if (this.showLink) {
        this.showLink = false;
      }
    },
  },
  methods: {
    async getInitial() {
      this.loading.common = true;

      try {
        let { data } = await this.$api.get(`/shopify/connected-shops/by-email`);

        this.credentials = data;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.common = false;
      }
    },
    async generateConnectionLink() {
      this.loading.common = true;

      try {
        let {
          data: { link },
        } = await this.$api.get(`/shopify/${this.current_shop}/get-integration-link`);

        this.connection_link = link;
        this.showLink = true;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.common = false;
      }
    },
    async unlinkAccount(shop_name) {
      let c = await this.$confirm({
        title: this.$tt("pages.integrations.unlink_pompt"),
        level: "danger",
      });

      if (!c) {
        return;
      }

      this.loading.common = true;

      try {
        await this.$api.delete(`/shopify/${shop_name}/unlink/`);

        this.$message({
          title: this.$tt("messages.changes_saved", 1),
          level: "success",
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.common = false;
        this.getInitial();
      }
    },
    clearSelection() {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    },
  },
};
</script>
