<template>
  <PageContainer with-back :title="pay_method.title">
    <div class="container">
      <!-- <pre>
        {{ $route.params }}
      </pre> -->
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {},
  beforeRouteEnter(to, from, next) {
    if (!to.params.method) {
      next("/pay-money");
    } else {
      next();
    }
  },
  created() {},
  computed: {
    pay_method() {
      return this.$route.params.method || null;
    },
  },
};
</script>
<style lang="scss"></style>
