<template>
  <div class="hotkey-combo flex inline q-mx-xs items-center q-gutter-x-xs">
    <div
      v-for="(char, index) in combo"
      class="flex inline no-wrap items-center"
      :key="`${char}-${index}`"
    >
      <div>
        <Hotkey :code="char" />
      </div>
      <div style="font-size:18px" class="q-ml-xs" v-show="index !== combo.length - 1">
        {{ sign }}
      </div>
    </div>
  </div>
</template>

<script>
import Hotkey from "@/components/Keyboard/key.vue";

export default {
  props: {
    set: Array,
    sign: {
      default() {
        return "+";
      },
    },
  },
  components: {
    Hotkey,
  },
  computed: {
    combo() {
      return (
        this.set && this.set.filter((char) => !!char.length && char !== " ")
        //   .map((char) => ({ ignore: this.ignore.includes(char), char }))
      );
    },
  },
};
</script>

<style></style>
