<template>
  <div class="hotkey">
    {{ code }}
  </div>
</template>

<script>
export default {
  props: {
    code: String,
    size: {
      type: Number,
    },
  },
};
</script>

<style scoped>
.hotkey {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 8px;
  font-weight: bold;
  line-height: 1;
  font-size: 1.21em;
  color: #616161;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  margin: 0 0.2em;
}
</style>
