<template>
  <PageContainer
    :loading="loading"
    with-back="/settings/2fa"
    :title="add ? $tt('pages.2fa.add_device') : $tt('pages.2fa.turn_on')"
  >
    <div class="container">
      <transition  enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear>
        <div v-if="credentials">
          <form @submit.prevent="saveCredentials">
            <h5 class="q-ma-none text-center">
              {{ credentials.header }}
            </h5>
            <div class="flex column items-center">
              <div class="q-mb-lg credentials-qr" v-html="credentials.form"></div>

              <app-input
                ref="code"
                :label="$tt('pages.2fa.otp_code')"
                style="max-width:240px;width:100%"
                :dense="false"
                v-model="code"
                v-if="!add"
              ></app-input>

              <div v-else class="font-500 text-grey-8 q-mb-sm">
                {{ $tt("pages.2fa.scan", 1) }} <q-icon size="16px" name="qr_code"></q-icon> QR-код
                <u>{{ $tt("pages.2fa.on_new_device") }}</u>
                {{ $tt("pages.2fa.and_press_btn_below") }}:
              </div>
              <app-btn
                :disable="add && temp_block"
                type="submit"
                color="positive"
                class="q-mt-md"
                padding="md"
              >
                {{ add ? $tt("common.continue") : $tt("common.accept") }}
              </app-btn>
            </div>
          </form>
        </div>
      </transition>
    </div>
  </PageContainer>
</template>
<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {
    add: {
      type: Boolean,
      default: false,
    },
  },
  async mounted() {
    this.getCredentials();

    if (this.add) {
      setTimeout(() => {
        this.temp_block = false;
      }, 4200);
    }
  },
  data() {
    return {
      credentials: null,
      loading: false,
      code: null,
      temp_block: true,
    };
  },
  methods: {
    confirmOTP({ message, method }) {
      return new Promise((done, fail) => {
        try {
          this.$q
            .dialog({
              parent: this,
              component: () => import("@/components/PromptOTP"),
              message,
              method,
            })
            .onOk(({ key }) => {
              done(key);
            })
            .onCancel(() => {
              this.$message({
                level: "warning",
                title: "Операция отменена",
              });
              fail(null);
            });
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    async getCredentials(params) {
      try {
        this.loading = true;

        this.credentials = await this.$store.dispatch("2fa/GET_CREDENTIALS", {
          add: this.add,
          ...params,
        });
      } catch (e) {
        console.log(e);

        if (e && e.response && e.response.status === 422) {
          this.$router.push("/settings/2fa");
        } else if (e && e.response && e.response.status === 403) {
          let { method, message, signature } = e.response.data;

          try {
            let code = await this.confirmOTP({ method, message });

            let p = {
              "2fa_key": code,
              ...(signature && { "2fa_sign": signature }),
            };

            this.getCredentials(p);
          } catch (e) {
            console.log(e);
            this.$router.push("/settings/2fa");
          }
        } else {
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
        }
      } finally {
        this.loading = false;
      }
    },

    async saveCredentials() {
      if (this.add) {
        this.$alert({
          title: this.$tt("pages.2fa.new_device_added"),
          level: "success",
        });

        this.$router.push("/settings/2fa");

        return;
      }

      let validator = this.$v;

      validator.$touch();

      if (validator.$anyError) {
        this.$message({ title: this.$tt("pages.2fa.input_code"), level: "warning" });
        return;
      }

      try {
        this.loading = true;

        let {
          credentials: { token },
          code,
        } = this;

        await this.$store.dispatch("2fa/SAVE_CREDENTIALS", {
          token,
          code,
        });

        this.$alert({
          title: this.$tt("pages.2fa.2fa_turned_on"),
          level: "success",
        });

        this.$router.push("/settings/2fa");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_changes") });
      } finally {
        this.loading = false;
      }
    },
  },
  validations() {
    return {
      code: {
        required,
      },
    };
  },
};
</script>
<style lang="scss">
.credentials-qr {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 280px;
  }
}
</style>
