<template>
  <div style="flex inline relative-position">
    <BadgeSelector :value="status" :text-color="textColor" :bg-color="bgColor" :icon="statusIcon">
    </BadgeSelector>
  </div>
</template>

<script>
const SHIPPING_STATUS_ICON = {
  0: "local_shipping",
};

const SHIPPING_STATUS_COLOR = {
  0: ["grey-2", "grey-8"],
};

export default {
  props: {
    status: {
      type: [Number, String, Object],
      default: () => 0,
    },
  },
  mounted() {},
  computed: {
    order_fulfillment_statuses() {
      return this.$store.getters["Info/order_fulfillment_statuses"];
    },
    textColor() {
      return (
        SHIPPING_STATUS_COLOR &&
        SHIPPING_STATUS_COLOR[this.status] &&
        SHIPPING_STATUS_COLOR[this.status][1]
      );
    },
    bgColor() {
      return (
        SHIPPING_STATUS_COLOR &&
        SHIPPING_STATUS_COLOR[this.status] &&
        SHIPPING_STATUS_COLOR[this.status][0]
      );
    },
    statusIcon() {
      return SHIPPING_STATUS_ICON && SHIPPING_STATUS_ICON[this.status];
    },
  },
};
</script>
