<template>
  <app-btn-dropdown
    :loading="loading"
    dropdown-icon="expand_more"
    size="13px"
    class="bg-white text-primary"
    push
  >
    <template v-slot:label>
      <app-flag
        class="q-mr-sm"
        :country="lang === 'ru' ? null : lang === 'en-US' ? 'us' : label"
      />
      {{ label }}
    </template>

    <q-list>
      <q-item @click="setLang('uk')" clickable v-close-popup>
        <q-item-section>
          <q-item-label class="flex items-center">
            <app-flag class="q-mr-sm" country="ua"></app-flag>
            <div style="line-height:1">UA</div>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item @click="setLang('ru')" clickable v-close-popup>
        <q-item-section>
          <q-item-label class="flex items-center">
            <app-flag class="q-mr-sm" :country="null"></app-flag>
            <div style="line-height:1">RU</div>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item @click="setLang('en')" clickable v-close-popup>
        <q-item-section>
          <q-item-label class="flex items-center">
            <app-flag class="q-mr-sm" country="us"></app-flag>
            <div style="line-height:1">EN</div>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </app-btn-dropdown>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async setLang(lang) {
      this.$store.commit("app/SET_LANG", lang);

      this.$i18n.locale = this.lang;

      await this.saveLang(lang);

      window.location.reload();
    },

    async saveLang(lang) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          await this.$api.put(`/user/lang`, {
            lang,
          });

          done();
        } catch (e) {
          console.log(e);

          this.$message({ title: this.$tt(`messages.changes_saved`), level: "success" });

          fail();
        } finally {
          this.loading = false;
        }
      });
    },
  },
  computed: {
    lang() {
      return this.$store.state.app.lang;
    },
    label() {
      switch (this.lang) {
        case "en-US":
          return "EN";
        case "uk":
          return "UA";
        case "ru":
          return "RU";
        default:
          return this.lang;
      }
    },
  },
};
</script>
