<template>
  <PageContainer with-back :title="action_titles[action]">
    <template #actions>
      <div>
        <!-- :to="this.summary_cost ? '/pay-money?amount=' + this.summary_cost : '/pay-money'" -->
        <app-btn
          padding="11px"
          size="12px"
          class="bg-white text-positive"
          @click="$openURL(`/pay-money`)"
        >
          {{ $tt("nav.shipments.replenishment.title") }}
        </app-btn>
      </div>
    </template>

    <div class="container">
      <!-- {{ shipments }} -->
      <with-loading :state="loading.page" />

      <div class="row q-col-gutter-lg relative-position" :class="$q.screen.xs && 'column'">
        <div class="col">
          <app-list
            :error="$v.checked.$anyError && 'Выберите по крайней мере одну отправку'"
            max-height="420px"
            :header="
              `${$tt('common.checked', 1)} ${$tt('common.shipment', 0, 1)} (${checked.length})`
            "
            :min-width="560"
          >
            <q-item>
              <q-item-section>
                <q-item-label>
                  <div class="flex-center-between">
                    <div class="flex q-gutter-md">
                      <app-btn @click="checkAll" size="10px">
                        {{ $tt("common.pick", 1) }} {{ $tt("common.all") }}
                      </app-btn>
                      <app-btn
                        :disable="checked && checked.length === 1"
                        @click="clearCheck"
                        size="10px"
                      >
                        {{ $tt("common.reset", 1) }}
                      </app-btn>
                    </div>
                    <div class="flex q-gutter-x-sm" v-if="_tags && Object.keys(_tags).length">
                      <app-badge
                        :class="[
                          picked_tags.includes(tag)
                            ? 'bg-primary text-white'
                            : 'bg-grey-3 text-grey-7',
                        ]"
                        :key="tag"
                        v-for="(count, tag, idx) in _tags"
                      >
                        <div class="flex items-center">
                          <q-checkbox
                            :val="tag"
                            v-model="picked_tags"
                            :id="`tag-${idx}`"
                            dense
                            class="q-mr-sm"
                          ></q-checkbox>

                          <div>
                            {{ tag }}
                            ({{ count || 1 }})
                          </div>
                        </div>
                      </app-badge>
                    </div>
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="q-py-md" v-for="s in shipments" :key="s.id">
              <q-item-section side>
                <q-checkbox v-model="checked" :val="s.id"></q-checkbox>
              </q-item-section>
              <q-item-section style="font-size:12px">
                {{ s.type }}
              </q-item-section>

              <q-item-section>
                <q-item-label caption>
                  <small>
                    {{ $tt("common.parcel_number", 1) }}
                  </small>
                </q-item-label>
                <q-item-label v-if="s.parcels[0].parcel_id">
                  {{ s.parcels[0].parcel_id }}
                </q-item-label>
                <q-item-label v-else>
                  <small class="text-muted">
                    &bull;
                  </small>
                </q-item-label>
              </q-item-section>

              <q-item-section>
                <q-item-label caption>
                  <small>
                    {{ $tt("common.order", 1) }}
                  </small>
                </q-item-label>
                <q-item-label v-if="s.parcels[0].order_id">
                  <!-- <small class="font-500"> -->
                  {{ s.parcels[0].order_id }}
                  <!-- </small> -->
                </q-item-label>

                <q-item-label v-if="s.parcels[0].parcel_receiver">
                  <small class="font-500">
                    {{ s.parcels[0].parcel_receiver }}
                  </small>
                </q-item-label>

                <!-- <q-item-label v-else>
                  <small class="text-muted">
                    &bull;
                  </small>
                </q-item-label> -->
              </q-item-section>

              <q-item-section>
                <div class="flex no-wrap items-center">
                  <app-flag
                    class="q-mr-sm"
                    :country="s.parcels[0].parcel_country.toLowerCase()"
                  ></app-flag>
                  <small class="font-500 line-height1">{{
                    s.parcels[0].parcel_country_name
                  }}</small>
                </div>
              </q-item-section>
              <q-item-section v-if="s.parcels[0].parcel_carrier">
                <q-item-label>
                  <div class="text-left">
                    <q-img
                      v-if="getCarrier(s)"
                      contain
                      position="left center"
                      :height="getCarrier(s) === 'ups' ? '20px' : '15px'"
                      :src="`/img/carriers/${getCarrier(s)}.svg`"
                    ></q-img>
                  </div>
                </q-item-label>
                <q-item-label caption>
                  <small>{{ s.parcels[0].parcel_carrier }}</small>
                </q-item-label>
              </q-item-section>
              <q-item-section v-else>
                <div class="text-grey">
                  &bull;
                </div>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-right">
                  <div class="font-500">{{ $toUSD(s.cost) }}</div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <template #summary>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-subtitle2">
                    {{ $tt("common.total", 1) }}
                  </q-item-label>
                  <q-item-label caption>
                    {{ $tt("common.checked") }}: <span class="font-500">{{ checked.length }}</span>
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label>
                    <small class="text-muted font-500 text-right block">
                      {{ $tt("common.summ", 1) }}
                    </small>
                    <div class="text-subtitle1 font-500 text-blue-8">
                      {{ $toUSD(summary_cost) }}
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </app-list>
        </div>

        <div
          class="col-5 relative-position"
          v-if="['add_track', 'get_stickers', 'get_available_stickers'].includes(action)"
        >
          <div v-if="action === 'add_track'" id="add-track" style="position:sticky;top:70px;">
            <app-input
              v-model="track_number"
              ref="track-number-field"
              :label="$tt('common.track_number', 1)"
              :dense="false"
              class="q-mb-lg"
              :disable="!!loading.page"
              :error="$v.track_number.$anyError"
            ></app-input>
            <app-list class="q-mb-lg" :header="$tt('common.total')">
              <q-item>
                <q-item-section>
                  <q-item-label caption>
                    <small>Общая стоимость доставки выбранных</small>
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label>
                    <div class="text-subtitle2">
                      {{ $toUSD(summary_cost) }}
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
            <!-- :disable="!checked || !checked.length || !track_number || !track_number.length" -->
            <app-btn
              color="accent"
              class="full-width q-py-sm"
              :loading="loading.page"
              @click="addTrack()"
            >
              {{ $tt("common.add") }} {{ $tt("common.track_number") }}
            </app-btn>
          </div>
          <div v-if="action === 'get_available_stickers'" style="position:sticky;top:70px;">
            <app-select
              :dense="false"
              label="Выберите формат"
              :options="['A4', 'A5', 'thermal']"
              v-model="stickers_format"
              :error="$v.stickers_format.$anyError"
            ></app-select>
            <app-btn
              color="accent"
              class="full-width q-py-sm q-mt-lg"
              :loading="loading.page"
              @click="getAvaliableStickers"
              :disable="!checked || !checked.length"
            >
              Получить стикеры
            </app-btn>
          </div>
        </div>
      </div>

      <div v-if="action === 'create_track'" id="create-track" class="q-mt-xl">
        <app-list :header="$tt('common.common_info', 1)" class="q-mt-xl">
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption class="q-mb-sm" n>
                {{ $tt("common.shipper_phone", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <!-- placeholder="В формате +380*********" -->
              <app-input
                :label="$tt('common.phone')"
                v-model.trim="phone"
                :error="$v.phone.$anyError"
                prefix="+380"
                mask="## ### ## ##"
                unmasked-value
              ></app-input>
            </q-item-section>
          </q-item>
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption class="q-mb-sm" n>
                {{ $tt("common.req_cost", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-input
                :error="$v.cost.$anyError"
                :label="$tt('common.cost', 1)"
                v-model.number="cost"
              ></app-input>
            </q-item-section>
          </q-item>
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label caption class="q-mb-sm">
                {{ $tt("common.content_desc", 1) }}
              </q-item-label>
              <q-item-label>
                <app-input
                  :error="$v.description.$anyError"
                  type="textarea"
                  rows="2"
                  v-model="description"
                ></app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item tag="label" class="q-py-md">
            <q-item-section>
              <q-radio v-model="pickup_type" val="warehouse">
                <div v-html="$tt('common.ship_from_np', 1)"></div>
              </q-radio>
            </q-item-section>
            <q-item-section>
              <app-select
                v-model="warehouse_id"
                :loading="loading.warehouses"
                :label="`${$tt('common.pick', 1)} ${$tt('common.department')}`"
                :disable="!(pickup_type === 'warehouse')"
                :options="warehouses"
                :option-label="(opt) => opt && opt.city && `${opt.city.title} - ${opt.title}`"
                :option-value="(opt) => opt && opt.id"
                emit-value
                map-options
                :error="pickup_type === 'warehouse' && $v.warehouse_id.$anyError"
              >
                <template #no-option>
                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("errors.no_data", 1) }}
                        </small>
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-item-label>
                        <app-btn @click="addAddress('warehouse')" color="accent" size="sm">
                          {{ $tt("common.create") }}
                        </app-btn>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </app-select>
            </q-item-section>
            <q-item-section side>
              <app-btn
                @click.stop="addAddress('warehouse')"
                class="bg-white"
                padding="sm"
                size="sm"
                icon="add"
                :disable="pickup_type !== 'warehouse'"
              >
                <q-tooltip anchor="top middle" self="bottom middle">
                  {{ $tt("common.add", 1) }}
                  {{ $tt("common.department") }}
                </q-tooltip>
              </app-btn>
            </q-item-section>
          </q-item>
          <q-item tag="label" class="q-py-md">
            <q-item-section>
              <q-radio v-model="pickup_type" val="courier">
                <div v-html="$tt('shipments.by_np_courier')"></div>
              </q-radio>
            </q-item-section>
            <q-item-section>
              <app-select
                v-model="warehouse_id"
                :loading="loading.addresses"
                :label="`${$tt('common.pick', 1)} ${$tt('common.address')}`"
                :disable="!(pickup_type === 'courier')"
                :options="addresses"
                :option-label="(opt) => opt && opt.city && `${opt.city.title} - ${opt.title}`"
                :option-value="(opt) => opt && opt.id"
                emit-value
                map-options
                :error="pickup_type === 'courier' && $v.warehouse_id.$anyError"
              >
                <template #no-option>
                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <small class="text-muted">
                          {{ $tt("errors.no_data", 1) }}
                        </small>
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-item-label>
                        <app-btn @click="addAddress('address')" color="accent" size="sm">
                          {{ $tt("common.create", 1) }}
                        </app-btn>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </app-select>
            </q-item-section>
            <q-item-section side>
              <app-btn
                class="bg-white"
                @click.stop="addAddress('address')"
                padding="sm"
                size="sm"
                icon="add"
                :disable="pickup_type !== 'courier'"
              >
                <q-tooltip anchor="top middle" self="bottom middle">
                  <!-- Добавить адрес забора посылки -->
                  {{ $tt("common.add", 1) }} {{ $tt("common.address") }}
                </q-tooltip>
              </app-btn>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list :header="$tt('common.inner', 1)" :min-width="560" class="q-mt-xl">
          <q-item class="q-py-md" v-for="(p, idx) in pieces" :key="idx">
            <q-item-section avatar>
              <div class="text-subtitle1 text-black" style="font-size:24px">{{ idx + 1 }}</div>
              <small class="block text-muted">
                {{ $tt("common.seat") }}
              </small>
            </q-item-section>
            <q-item-section>
              <div class="flex no-wrap q-gutter-x-md">
                <app-input
                  :error="$v.pieces.$each.$iter[idx].dimensions.length.$anyError"
                  v-model.number="p.dimensions.length"
                  type="number"
                  step="1"
                  :label="$tt('common.length', 1)"
                ></app-input>
                <app-input
                  :error="$v.pieces.$each.$iter[idx].dimensions.width.$anyError"
                  v-model.number="p.dimensions.width"
                  type="number"
                  step="1"
                  :label="$tt('common.width', 1)"
                ></app-input>
                <app-input
                  :error="$v.pieces.$each.$iter[idx].dimensions.height.$anyError"
                  v-model.number="p.dimensions.height"
                  type="number"
                  step="1"
                  :label="$tt('common.height', 1)"
                ></app-input>
                <app-input
                  :error="$v.pieces.$each.$iter[idx].weight.$anyError"
                  v-model.number="p.weight"
                  :label="$tt('common.weight', 1)"
                  type="number"
                  step="0.001"
                ></app-input>
              </div>
            </q-item-section>
            <q-item-section avatar>
              <div class="flex q-gutter-md no-wrap">
                <app-btn
                  @click="copyPiece(p)"
                  icon="copy_all"
                  size="sm"
                  padding="sm"
                  class="bg-grey-2"
                  flat
                ></app-btn>
                <app-btn
                  :disable="pieces.length < 2"
                  @click="removePiece(idx)"
                  icon="close"
                  size="sm"
                  padding="sm"
                  class="bg-red-1 text-negative"
                  flat
                ></app-btn>
              </div>
            </q-item-section>
          </q-item>
          <template #summary>
            <q-item @click="createPiece" clickable>
              <q-item-section side>
                <q-icon name="add"></q-icon>
              </q-item-section>
              <q-item-section class="font-500">
                {{ $tt("common.add", 1) }}
                {{ $tt("common.seat") }}
              </q-item-section>
            </q-item>
          </template>
        </app-list>

        <div class="flex justify-center q-mt-xl">
          <app-btn
            @click="createTrack"
            v-if="action === 'create_track'"
            color="accent"
            class="q-py-sm q-px-lg"
          >
            {{ $tt("common.create", 1) }}
            {{ $tt("common.ttn") }}
          </app-btn>
        </div>
      </div>

      <div class="q-mt-xl" v-if="action === 'create_labels'" id="create_labels">
        <app-list
          :loading="loading.products"
          class="q-mt-md"
          :header="$tt('common.product', 1, 1)"
          :empty="(!products || !products.length) && $tt('errors.no_data', 1)"
        >
          <q-item v-for="(prod, idx) in products" :key="prod.code_internal">
            <q-item-section side>
              <q-item-label class="text-subtitle2">
                {{ idx + 1 }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title.$anyError"
                  v-model.trim="prod.title"
                  :label="$tt('common.title', 1)"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title_customs_eng.$anyError"
                  v-model.trim="prod.title_customs_eng"
                  :label="$tt('common.title', 1) + ' (EN)'"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title_customs_ua.$anyError"
                  v-model.trim="prod.title_customs_ua"
                  :label="$tt('common.title', 1) + ' (UA)'"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <app-input
                  type="number"
                  :error="$v.products.$each.$iter[idx].quantity.$anyError"
                  v-model.trim="prod.quantity"
                  :label="$tt('common.count', 1)"
                ></app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div class="q-mt-xl flex-center">
          <app-btn :disable="!!loading.page" padding="md xl" color="accent" @click="createLabels">
            {{ $tt("common.create", 1) }} LABELS
          </app-btn>
        </div>
      </div>

      <div class="q-mt-xl" v-if="action === 'create_dhl'" id="create_dhl">
        <h5 class="q-ma-none">Содержимое</h5>

        <app-list
          :loading="loading.products"
          class="q-mt-md"
          :header="`Товары в отправк${shipments.length === 1 ? 'е' : 'ах'}`"
          :empty="(!products || !products.length) && 'Содержимое недоступно'"
        >
          <q-item v-for="(prod, idx) in products" :key="prod.code_internal">
            <q-item-section side>
              <q-item-label class="text-subtitle2">
                {{ idx + 1 }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title.$anyError"
                  v-model.trim="prod.title"
                  :label="$tt('common.title', 1)"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title_customs_eng.$anyError"
                  v-model.trim="prod.title_customs_eng"
                  :label="$tt('common.title', 1) + ' (eng)'"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :error="$v.products.$each.$iter[idx].title_customs_ua.$anyError"
                  v-model.trim="prod.title_customs_ua"
                  :label="$tt('common.title', 1) + ' (ua)'"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <app-input
                  type="number"
                  :error="$v.products.$each.$iter[idx].quantity.$anyError"
                  v-model.trim="prod.quantity"
                  :label="$tt('common.count', 1)"
                ></app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <app-list :header="$tt('common.dimensions', 1)" class="q-mt-lg">
          <q-item>
            <q-item-section>
              <q-item-label>
                <app-input
                  :label="$tt('common.length', 1)"
                  :error="$v.dimensions.length.$anyError"
                  v-model.number.trim="dimensions.length"
                  type="number"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :label="$tt('common.width', 1)"
                  :error="$v.dimensions.width.$anyError"
                  v-model.number.trim="dimensions.width"
                  type="number"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :label="$tt('common.height', 1)"
                  :error="$v.dimensions.height.$anyError"
                  v-model.number.trim="dimensions.height"
                  type="number"
                ></app-input>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <app-input
                  :label="$tt('common.weight', 1)"
                  :error="$v.dimensions.weight.$anyError"
                  v-model.number.trim="dimensions.weight"
                  type="number"
                ></app-input>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div class="q-mt-xl">
          <h5 class="q-ma-none">
            {{ $tt("common.sender", 1) }}
          </h5>

          <div class="row q-col-gutter-md q-mt-xs">
            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_name_ua"
                :error="$v.shipper.shipper_name_ua.$anyError"
                :label="`${$tt('common.fio')} (ua)`"
              ></app-input>
            </div>
            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_name_en"
                :error="$v.shipper.shipper_name_en.$anyError"
                :label="`${$tt('common.fio')} (eng)`"
              ></app-input>
            </div>

            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_city_ua"
                :error="$v.shipper.shipper_city_ua.$anyError"
                :label="`${$tt('common.city', 1)} (укр)`"
              ></app-input>
            </div>
            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_city_en"
                :error="$v.shipper.shipper_city_en.$anyError"
                :label="`${$tt('common.city', 1)} (eng)`"
              ></app-input>
            </div>
            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_street_ua"
                :error="$v.shipper.shipper_street_ua.$anyError"
                :label="`${$tt('common.street', 1)} (ua)`"
              ></app-input>
            </div>
            <div class="col-6">
              <app-input
                v-model.trim="shipper.shipper_street_en"
                :error="$v.shipper.shipper_street_en.$anyError"
                :label="`${$tt('common.street', 1)} (eng)`"
              ></app-input>
            </div>
            <div class="col-4">
              <app-input
                v-model.trim="shipper.shipper_phone"
                :error="$v.shipper.shipper_phone.$anyError"
                :label="$tt('common.phone', 1)"
              ></app-input>
            </div>
            <div class="col-4">
              <app-input
                v-model.trim="shipper.shipper_postal_code"
                :error="$v.shipper.shipper_postal_code.$anyError"
                :label="$tt('common.zip', 1)"
              ></app-input>
            </div>
            <div class="col-4">
              <app-input
                v-model.trim="shipper.shipper_email"
                :error="$v.shipper.shipper_email.$anyError"
                label="Email"
              ></app-input>
            </div>
          </div>
        </div>

        <div class="q-mt-lg">
          <app-select
            :options="_hubs"
            :option-value="(opt) => opt && opt.id"
            :option-label="(opt) => opt && `${opt.title} (${opt.code})`"
            map-options
            emit-value
            :label="`${$tt('common.pick', 1)} ${$tt('common.hub')}`"
            v-model="hub"
            :dense="false"
            :error="$v.hub.$anyError"
          >
            <template #option="{opt, toggleOption}">
              <q-item clickable @click="toggleOption(opt)">
                <q-item-section side>
                  <app-flag :country="opt.code === 'US_PA' ? 'US' : opt.code"></app-flag>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ opt && `${opt.title} (${opt.code})` }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </app-select>
        </div>

        <div class="q-mt-xl flex-center">
          <app-btn :disable="!!loading.page" padding="md xl" color="accent" @click="createDHL">
            {{ $tt("common.create", 1) }}
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";

export default {
  async mounted() {
    if (!this.shipments || !this.shipments.length) {
      this.redirect();
      return;
    }

    this.checked = this.shipments.map(({ id }) => id);

    // await
    this.init();
  },
  data() {
    return {
      checked: [],
      loading: {
        page: false,
        addresses: false,
        warehouses: false,
        products: false,
      },
      action_titles: {
        add_track: `${this.$tt("common.add", 1)} ${this.$tt("common.track_number")}`,
        create_track: `${this.$tt("common.create", 1)} ${this.$tt("common.ttn")}`,
        get_available_stickers: this.$tt("shipments.get_stickers", 1),
        create_labels: `${this.$tt("common.create", 1)} labels`,
        create_usps: "create_usps",
        create_dhl: `${this.$tt("common.create", 1)} DHL ${this.$tt("common.document", 0, 1)}`,
      },
      // ? action: ADD_TRACK
      track_number: null,
      // ?
      // ? action: CREATE_TRACK
      pieces: [
        {
          dimensions: {
            width: null,
            height: null,
            length: null,
          },
          weight: null,
        },
      ],
      description: null,
      cost: null,
      warehouses: null,
      phone: null,
      pickup_type: "warehouse",
      addresses: null,
      warehouse_id: null,
      address_id: null,
      // ?
      // ? action: GET_AVAILABLE_STICKERS:
      stickers_format: null,
      // ?
      picked_tags: [],
      // ? CREATE DHL DATA:
      products: [],
      dimensions: {
        height: null,
        width: null,
        length: null,
        weight: null,
      },
      shipper: {
        shipper_name_ua: null,
        shipper_name_en: null,
        shipper_email: null,
        shipper_city_ua: null,
        shipper_city_en: null,
        shipper_street_ua: null,
        shipper_street_en: null,
        shipper_phone: null,
        shipper_postal_code: null,
      },
      hub: null,
    };
  },
  computed: {
    shipments() {
      return this.$route.params.shipments || null;
    },
    action() {
      return this.$route.query.action || null;
    },
    summary_cost() {
      let t = this.shipments.filter(({ id }) => this.checked.includes(id)).map(({ cost }) => cost);

      let s = t && t.length ? t.reduce((summ, cost) => summ + cost) : 0;

      return s;
    },
    _tags() {
      let tags = {};

      this.shipments.forEach((s) => {
        let t = s.parcels[0].tag;

        if (!t) return;

        if (!tags[t]) {
          tags[t] = 1;
        } else {
          tags[t] += 1;
        }
      });

      return tags;
    },
    _hubs() {
      var hubs = {};

      this.shipments.forEach((s) => {
        let hub = (s.parcels[0] && s.parcels[0].hub) || null;

        if (!hub) return;

        if (!hubs[hub.code]) hubs[hub.code] = hub;
      });

      return Object.values(hubs);
    },
  },
  watch: {
    pickup_type: {
      handler(type) {
        this.$v.warehouse_id.$reset();

        if (type === "warehouse") {
          this.getAddresses("warehouses");
        } else if (type === "courier") {
          this.getAddresses("addresses");
        }
        this.warehouse_id = null;
        this.address_id = null;
      },
      immediate: true,
    },
    picked_tags(val) {
      this.checked = this.shipments
        .filter((s) => {
          let parcel = s.parcels[0];

          return val.includes(parcel.tag);
        })
        .map((s) => s.id);
    },
    async checked(shipments) {
      this.products = null;
      this.loading.products = true;
      this.products = await this.getShipmentsProducts(shipments);
      this.loading.products = false;
    },
  },
  methods: {
    redirect(to = "/shipments/list") {
      this.$router.push(to);
      // return;
    },
    init() {
      switch (this.action) {
        case "add_track":
          (() => {
            return new Promise(async (done, fail) => {
              this.$refs["track-number-field"].focus();
              done();
            });
          })();
          break;
        case "create_track":
          this.restoreShipperData();
          break;
        case "get_available_stickers":
          (() => {})();
          break;
        case "create_labels":
          (async () => {
            this.loading.products = true;
            this.products = await this.getShipmentsProducts();
            this.loading.products = false;
          })();
          break;
        case "create_dhl":
          (async () => {
            this.loading.products = true;
            this.products = await this.getShipmentsProducts();
            this.loading.products = false;

            let saved_shipper = localStorage.getItem("dhl-shipper");
            if (saved_shipper && saved_shipper.length) {
              this.shipper = {
                ...JSON.parse(saved_shipper),
              };
            }

            if (this._hubs && this._hubs.length && this._hubs.length === 1) {
              this.hub = this._hubs[0].id;
            }
          })();
          break;
        default:
          this.redirect();
      }
    },
    checkAll() {
      this.checked = this.shipments.map(({ id }) => id);
    },
    clearCheck() {
      // if (this.checked && this.checked.length === 1) return;
      this.checked = [];
    },
    getCarrier(shipment) {
      let tarrif =
        shipment.parcels[0].parcel_carrier && shipment.parcels[0].parcel_carrier.toLowerCase();

      if (!tarrif) return null;

      if (tarrif.indexOf("fedex") > -1) return "fedex";
      else if (tarrif.indexOf("ups") > -1) return "ups";
      else if (tarrif.indexOf("dhl") > -1) return "dhl";
      else if (tarrif.indexOf("usps") > -1) return "usps";
      else if (tarrif.indexOf("tnt") > -1) return "tnt";
      else if (tarrif.indexOf("dpd") > -1) return "dpd";
      else return null;
    },
    // * ADD TRACK ACTIONS START
    async addTrack(shipments = this.checked) {
      let track_validator = [this.$v.track_number, this.$v.checked];

      track_validator.forEach((v) => v.$touch());

      if (track_validator.some((v) => v.$anyError)) {
        this.$message({ title: "Введите трек-номер", level: "warning" });
        return;
      }

      let { track_number } = this;

      this.loading.page = true;

      try {
        await this.$api.post(`/v2/shipping/shipments/add-track`, {
          shipment_ids: [...shipments],
          track_number,
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved", 1),
        });

        this.redirect();
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.page = false;
      }
    },
    // * ADD TRACK ACTIONS END

    // * NOVA POSHTA CREATE TTN START
    async restoreShipperData() {
      try {
        let np_settings = localStorage.getItem("sol-np-contact");

        if (!np_settings || !np_settings.length) return;

        let { pickup_type = null, phone = null, warehouse_id = null } = JSON.parse(np_settings);

        pickup_type && (this.pickup_type = pickup_type);

        if (this.pickup_type) {
          if (this.pickup_type === "warehouse") {
            this.getAddresses("warehouses");
          } else {
            this.getAddresses("addressess");
          }
        }

        try {
          if (phone) {
            let prefix = "380";

            if (phone.indexOf(prefix) === 0 || phone.indexOf(prefix) === 1) {
              let num = phone.split(prefix)[1];

              if (num && num.length === 9) {
                this.phone = num;
              }
            }
          }
        } catch (e) {
          console.log(e);
        }

        if (this.pickup_type) {
          if (this.pickup_type === "warehouse") {
            await this.getAddresses("warehouses");
          } else {
            await this.getAddresses("addresses");
          }

          warehouse_id && (this.warehouse_id = warehouse_id);
        }
      } catch (e) {
        console.log(e);
        this.$message({
          title: "Не удалось запомнить данные отправителя:" + e.toString(),
          level: "warning",
        });
      }
    },
    createPiece() {
      this.pieces.push({
        dimensions: {
          width: null,
          height: null,
          length: null,
        },
        weight: null,
      });
    },
    copyPiece(piece) {
      let copy = Object.assign({}, piece);
      this.pieces.push(copy);
    },
    removePiece(index) {
      this.pieces.splice(index, 1);
    },
    async getAddresses(type) {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { warehouses: list },
          } = await this.$api.get(`/v2/novaposhta/address/${type}`);

          this[type] = list;
          done();
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    addAddress(type) {
      const SaveAddress = this.$q
        .dialog({
          parent: this,
          component: () => import("./AddAddress/index.vue"),
          type,
        })
        .onOk(async ({ id }) => {
          SaveAddress.hide();
          this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });

          if (type === "warehouse") {
            await this.getAddresses("warehouses");
          } else {
            await this.getAddresses("addresses");
          }
          this.warehouse_id = id;
        });
    },
    async createTrack() {
      let createValidator = [
        this.$v.pieces,
        this.$v.cost,
        this.$v.phone,
        this.$v.description,
        this.$v.pickup_type,
        this.$v.warehouse_id,
        this.$v.checked,
      ];

      createValidator.forEach((v) => v.$touch());

      if (createValidator.some((v) => v.$anyError)) {
        this.$message({ title: this.$tt("messages.fill_req_fields") });
        return;
      }

      try {
        this.loading.page = true;

        let {
          pieces,
          pickup_type,
          cost,
          phone,
          description,
          warehouse_id,
          checked: shipment_ids,
        } = this;

        let params = {
          pieces,
          shipment_ids,
          cost,
          phone: `+380${phone}`,
          description,
          warehouse_id,
        };

        // ! NEW
        try {
          let save_contact = {
            warehouse_id,
            phone,
            pickup_type,
          };

          localStorage.setItem(
            "sol-np-contact",
            JSON.stringify({ ...save_contact, phone: `380${phone}` })
          );
        } catch (e) {
          console.log(e);
          this.$message({
            tile: "Не удалось запомнить информацию об отправителе",
            level: "warning",
          });
        }

        const {
          data: { rates },
        } = await this.$api.post(`/v2/novaposhta/shipment/get-rate`, params);

        this.$q
          .dialog({
            parent: this,
            component: () => import("./SelectRate.vue"),
            rates,
          })
          .onOk((recipient) => {
            params["recipient"] = recipient;
            this.createNovaPoshta(params);
          });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.page = false;
      }
    },
    async createNovaPoshta(params) {
      try {
        this.loading.page = true;

        let {
          data: { track_number },
        } = await this.$api.post(`/v2/novaposhta/shipment/create-ttn`, params);

        this.getNovaPoshtaLabel(track_number);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.page = false;
      }
    },
    async getNovaPoshtaLabel(track_number) {
      try {
        let { data: document } = await this.$api.get(
          `/v2/novaposhta/shipment/ttn/${track_number}`,
          {
            responseType: "arraybuffer",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/pdf",
            },
          }
        );

        this.$message({ title: "Лейба создана", level: "success" });

        this.$q.dialog({
          parent: this,
          component: () => import("@/components/_ui/DocumentViewer"),
          name: "show-np-label",
          document,
          persistent: true,
          noRouteDismiss: true,
        });

        this.redirect();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
      }
    },
    // * NOVA POSHTA CREATE TTN END

    // * GET AVAILABLE STICKERS
    async getAvaliableStickers() {
      let format_validator = this.$v.stickers_format;

      format_validator.$touch();

      if (format_validator.$anyError) {
        this.$message({
          level: "warning",
          title: `${this.$tt("common.pick", 1)} ${this.$tt("common.format")}`,
        });
        return;
      }

      try {
        this.loading.page = true;

        const { data: document } = await this.$api.post(
          `v2/shipping/shipments/get-stickers`,
          {
            shipment_ids: this.checked,
            print_format: this.stickers_format,
          },
          {
            responseType: "arraybuffer",
          }
        );

        this.$q.dialog({
          parent: this,
          component: () => import("@/components/_ui/DocumentViewer"),
          name: "show-np-label",
          document,
          persistent: true,
          noRouteDismiss: true,
        });

        this.redirect();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.page = false;
      }
    },
    getAllTags() {
      let tags = {};

      this.checked.forEach((shipment) => {
        let tag = !!shipment.parcels[0].tag ? shipment.parcels[0].tag : null;

        if (tag) {
          if (!tags[tag]) {
            tags[tag] = 1;
          } else {
            tags[tag] += 1;
          }
        }
      });

      return tags;
    },
    getShipmentsProducts(shipment_id = this.checked) {
      if (!shipment_id || !shipment_id.length) return;

      return new Promise(async (done, fail) => {
        try {
          let {
            data: { products },
          } = await this.$api.post(`/shipping/shipment_products`, {
            shipment_id,
          });

          done(products);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });

          fail(e);
        }
      });
    },
    saveProducts() {
      return new Promise(async (done, fail) => {
        try {
          await this.$api.put(`/warehouse/products`, [
            ...this.products.map(
              ({
                id: product_id,
                title_customs_eng: product_title_customs_eng,
                title_customs_ua: product_title_customs_ua,
              }) => ({
                product_id,
                product_title_customs_eng,
                product_title_customs_ua,
              })
            ),
          ]);

          done(true);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });

          fail(false);
        }
      });
    },
    async createDHL() {
      this.$v.checked.$touch();

      if (this.$v.checked.$anyError) {
        this.$alert({
          level: "warning",
          title: "Выберите по крайней мере одну отправку",
        });

        return;
      }

      this.$v.products.$touch();
      // TODO: SAVE PRODUCTS

      this.$v.dimensions.$touch();

      this.$v.shipper.$touch();
      // TODO: SAVE SHIPPER TO LOCALSTORAGE

      this.$v.hub.$touch();

      if (
        [
          this.$v.products.$anyError,
          this.$v.dimensions.$anyError,
          this.$v.shipper.$anyError,
          this.$v.hub.$anyError,
        ].some((hasError) => hasError)
      ) {
        this.$message({ level: "warning", title: this.$tt("messages.fill_req_fields") });

        return;
      }

      try {
        this.loading.page = true;

        this.loading.products = true;
        let updateProducts = await this.saveProducts();
        this.loading.products = false;

        if (!updateProducts) {
          return;
        }

        let saveShipper = JSON.stringify({ ...this.shipper });
        localStorage.setItem("dhl-shipper", saveShipper);

        let {
          shipper,
          dimensions: { weight: total_weight, ...rest_dimensions },
          checked: shipment_id,
          hub: hub_id,
        } = this;

        let params = {
          shipper,
          dimensions: rest_dimensions,
          total_weight,
          shipment_id,
          hub_id,
        };

        await this.$api.post(`/shipping/shipment/docs`, params);

        this.$alert({ level: "success", title: "Документы созданы" });

        this.$router.push("/shipments/list");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading.page = false;
      }
    },
    async createLabels() {
      let productsValidator = this.$v.products;
      productsValidator.$touch();

      if (productsValidator.$anyError) {
        this.$message({ title: this.$tt("messages.input_products_info"), level: "warning" });

        return;
      }

      this.loading.page = true;

      let saveProducts = await this.saveProducts();

      if (!saveProducts) {
        this.loading.page = false;

        return;
      }

      try {
        await this.$api.post(`/shipping/label/consolidation`, {
          shipment_id: this.checked,
        });

        this.$router.push("/shipments/list");
      } catch (e) {
        console.log(e);
      } finally {
        this.loading.page = false;
      }
    },
  },
  validations() {
    return {
      phone: { required },
      pieces: {
        required,
        minLength: minLength(1),
        $each: {
          weight: { required },
          dimensions: {
            length: { required },
            width: { required },
            height: { required },
          },
        },
      },
      checked: {
        required,
        minLength: minLength(1),
      },
      address_id: { required },
      cost: { required },
      phone: { required },
      description: { required },
      stickers_format: { required },
      pickup_type: { required },
      warehouse_id: { required },
      track_number: { required },
      products: {
        $each: {
          title: { required },
          title_customs_eng: { required },
          title_customs_ua: { required },
          quantity: { required },
        },
      },
      dimensions: {
        length: { required },
        width: { required },
        height: { required },
        weight: { required },
      },
      shipper: {
        shipper_name_ua: { required },
        shipper_name_en: { required },
        shipper_email: { required },
        shipper_city_ua: { required },
        shipper_city_en: { required },
        shipper_street_ua: { required },
        shipper_street_en: { required },
        shipper_phone: { required },
        shipper_postal_code: { required },
      },
      hub: {
        required,
      },
      checked: {
        required,
        minLength: minLength(1),
      },
    };
  },
};
</script>
