<template>
  <q-dialog persistent ref="select-rate" position="top">
    <q-card>
      <q-card-section>
        <h5 class="q-ma-none">
          {{ $tt("common.shipping_type", 1) }}
        </h5>
      </q-card-section>
      <q-separator></q-separator>

      <q-card-section>
        <app-banner level="info">
          {{ $tt("pages.shipments.messages.delivery_type_info") }}
        </app-banner>

        <app-list class="q-mt-lg" :header="$tt('common.shipping_type', 1)">
          <q-item tag="label" v-for="(rate, idx) in rates" :key="idx">
            <q-item-section side>
              <q-radio :val="rate.recipient" v-model="recipient"></q-radio>
            </q-item-section>
            <q-item-section v-if="rate.recipient === 'sol_office'">
              <q-item-label class="text-subtitle1">
                {{ $tt("pages.shipments.to_office") }}
              </q-item-label>
              <q-item-label caption>
                {{ $tt("pages.shipments.to_office_desc") }}
              </q-item-label>
            </q-item-section>
            <q-item-section v-if="rate.recipient === 'post_office'">
              <q-item-label class="text-subtitle1">
                {{ $tt("pages.shipments.to_post_office") }}
              </q-item-label>
              <q-item-label caption>
                {{ $tt("pages.shipments.to_post_office_desc") }}
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label v-if="rate.rate && rate.rate > 0">
                <div class="text-subtitle2">
                  {{ $toUSD(rate.rate) }}
                </div>
              </q-item-label>
              <!-- <q-item-label class="text-blue" v-else>
                <q-badge class="q-pa-sm font-500 bg-accent">
                  БЕСПЛАТНО
                </q-badge>
              </q-item-label> -->
            </q-item-section>
          </q-item>
        </app-list>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="reject">{{ $tt("common.cancel") }}</app-btn>
          <app-btn :disable="!recipient" @click="submitType" color="accent">
            {{ $tt("common.continue") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    rates: Array,
  },
  data() {
    return {
      recipient: null,
    };
  },
  methods: {
    show() {
      this.$refs["select-rate"].show();
    },
    hide() {
      this.$refs["select-rate"].hide();
    },
    submitType() {
      if (!this.recipient) {
        this.$message({
          level: "warning",
          title: this.$tt("pages.shipments.messages.pick_delivery_type"),
        });
        return;
      }
      this.hide();

      this.$emit("ok", this.recipient);
    },
    async reject() {
      let c = await this.$confirm({
        title: "Отменить создание ТТН ?",
        level: "warning",
        message: this.$tt("pages.shipments.messages.type_not_picked"),
      });

      if (!c) return;

      this.hide();
    },
  },
};
</script>
