<template>
  <PageContainer :title="$tt('nav.account.change_pass')">
    <div class="container">
      <form @submit.prevent="changePassword()">
        <div class="q-gutter-y-lg" style="width:100%;max-width:420px">
          <app-input
            :error="$v.password.$anyError"
            v-model="password"
            :label="`${$tt('common.new', 1)} ${$tt('common.password')}`"
            type="password"
            :disable="loading.common"
            :dense="false"
          ></app-input>
          <app-input
            :error="$v.password_check.$anyError"
            v-model="password_check"
            :label="`${$tt('common.accept', 1)} ${$tt('common.password')}`"
            type="password"
            :disable="loading.common"
            :dense="false"
          ></app-input>
          <app-btn padding="md xl" :loading="loading.common" type="submit" color="positive">
            {{ $tt("common.save", 1) }}
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
import { required, sameAs, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      password: null,
      password_check: null,
      "fa_key": null,
      "fa_sign": null,
      loading: {
        key: false,
        common: false,
      },
    };
  },
  methods: {
    async changePassword(params) {
      this.$v.$touch();

      if (!this.$v.password.minLength) {
        this.$alert({ title: "Минимальная длина пароля - 6 символов", level: "info" });
        return;
      }

      if (!this.$v.password_check.sameAs) {
        this.$message({ title: "Пароли должы совпадать", level: "warning" });
        return;
      }

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });
        return;
      }

      this.loading.common = true;

      try {
        let { password, password_check } = this;

        await this.$api.put(`/user/password`, {
          password,
          password_check,
          ...params,
        });

        this.$message({ title: "Пароль был изменен", level: "success" });

        this.$router.push("/");
      } catch (e) {
        console.log(e);

        let need2fa = e && e.response && e.response.status && e.response.status === 403;

        if (need2fa) {
          let { method, message, signature = null } = e.response.data;

          try {
            let key = await this.promptOTP({
              method,
              message,
            });

            if (!key) return;

            let auth_params = {
              "2fa_key": key,
              ...(signature && { "2fa_sign": signature }),
            };

            if (auth_params.retry) {
              this.$alert({
                title: `Wrong ${method} code. Please try again later.`,
                level: "danger",
              });

              this.$router.push("/account");
              return;
            }

            try {
              await this.changePassword(auth_params);
            } catch (e) {
              console.log(e);
              this.$alert({
                title: `Вы повторно ввели неправильный код. Попробуйте ещё раз`,
              });
            } finally {
              this.loading.common = false;
            }
          } catch (e) {
            console.log(e);
          } finally {
            this.loading.common = false;
          }
        } else {
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
        }
      } finally {
        this.loading.common = false;
      }
    },
    async promptOTP({ method, message }) {
      return new Promise(async (done, fail) => {
        let GetFaKey = this.$q
          .dialog({
            parent: this,
            component: () => import("@/components/PromptOTP"),
            loading: this.loading.key,
            method,
            message,
          })
          .onOk(async ({ key }) => {
            done(key);
            GetFaKey.hide();
          })
          .onCancel(() => {
            this.$message({ title: "Операция отменена", level: "warning" });
            fail();
          });
      });
    },
  },
  validations() {
    return {
      password: {
        required,
        minLength: minLength(6),
      },
      password_check: {
        required,
        sameAs: sameAs("password"),
        minLength: minLength(6),
      },
    };
  },
};
</script>
<style lang="scss"></style>
