<template>
  <q-dialog
    persistent
    position="top"
    :maximized="$q.screen.xs || false"
    no-refocus
    ref="create-dialog"
  >
    <q-card
      style="max-width:610px;width:100%"
      class="relative-position no-wrap flex column justify-between"
    >
      <div v-show="loading" class="absolute-full light-dimmed flex-center z-top">
        <q-spinner-ios class="z-top" size="20px"></q-spinner-ios>
      </div>

      <div>
        <q-item clickable class="q-py-lg">
          <q-item-section>
            <div class="text-grey-7 fz-12 q-mb-sm" v-show="is_edit || clone">
              {{ is_edit ? $tt("common.edit", 1) : clone && $tt("common.copy", 1) }}
              {{ $tt("common.product") }}
            </div>
            <h5 class="q-ma-none">
              {{ product ? product.title : $tt("common.new", 1) + " " + $tt("common.product") }}
            </h5>
          </q-item-section>
        </q-item>

        <q-separator />
      </div>

      <div class="scroll-y">
        <q-item clickable class="q-py-md relative-position">
          <q-item-section>
            <q-item-label class="q-mb-md font-500 text-accent">
              {{ $tt("common.product_image", 1) }}
            </q-item-label>

            <ManageMedia
              :id="product?.product_id || null"
              :images="current_product.files"
              bordered
              @change="handleImages"
            />
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <app-input
              :label="$tt('common.title', 1)"
              :error="$v.current_product.product_title.$error"
              v-model="current_product.product_title"
              :dense="false"
              class="full-width"
            />
          </q-item-section>
        </q-item>

        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <app-select
                :loading="categories_loading"
                :label="$tt('common.category', 1)"
                v-model="current_product.category"
                :options="categories"
                :option-value="(opt) => opt && opt.id"
                :option-label="(opt) => opt && opt.title"
                map-options
                emit-value
                :dense="false"
                :virtual-scroll-item-size="51"
                :disable="categories_loading"
                :error="$v.current_product.category.$error"
            >
              <template #option="{opt, toggleOption}">
                <q-item clickable @click="toggleOption(opt)">
                  <q-item-section>
                    <q-item-label v-if="opt.parent" caption>
                      <small>
                        {{ opt.parent }}
                      </small>
                    </q-item-label>
                    <q-item-label>
                      {{ opt.title }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </app-select>
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item tag="label" class="q-pt-md q-pb-none">
          <q-item-section>
            <q-banner class="q-pa-md bg-orange-1 rounded-borders relative-position overflow-hidden">
              <div>
                {{ $tt("pages.warehouse.customs_description_alert", 1) }}
              </div>
            </q-banner>
          </q-item-section>
        </q-item>

        <q-item tag="div" class="q-py-md flex column">
          <q-item-section>
            <u class="cursor-pointer q-mb-xs mark-as-handmade" @click="markAsHandmade">
              {{ $tt("pages.warehouse.mark_as_handmade") }}
            </u>
          </q-item-section>
          <q-item-section class="no-margin">
            <app-input
                :label="`${$tt('common.title', 1)} (EN)`"
                :error="$v.current_product.product_title_customs_eng.$error"
                v-model="current_product.product_title_customs_eng"
                class="full-width"
            />
          </q-item-section>
        </q-item>

        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <app-input
                :label="`${$tt('common.title', 1)} (UA)`"
                :error="$v.current_product.product_title_customs_ua.$error"
                v-model="current_product.product_title_customs_ua"
                class="full-width "
            />
          </q-item-section>
        </q-item>

        <q-item tag="label" class="q-py-md">
          <q-item-section>
            <customs-codes v-if="current_product" v-model="current_product.uktved" />
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item clickable class="q-py-md">
          <q-item-section>
            <q-item-label>
              <div class="row q-col-gutter-lg">
                <div class="col">
                  <app-input
                    :label="$tt('common.code', 1)"
                    :error="$v.current_product.product_code.$error"
                    v-model="current_product.product_code"
                    :dense="false"
                  >
                    <!-- :prefix="`(${next_code})`" -->
                  </app-input>
                </div>

                <div class="col-4">
                  <app-input
                    :label="$tt('common.cost', 1)"
                    :error="$v.current_product.product_cost.$error"
                    v-model.number="current_product.product_cost"
                    suffix="USD"
                    placeholder="Формат: 12.34"
                    :dense="false"
                  />
                </div>
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable class="q-py-md">
          <q-item-section>
            <q-item-label>
              <div class="row q-col-gutter-lg">
                <div class="col-3">
                  <app-input
                    :error="$v.current_product.product_length.$error"
                    v-model.number="current_product.product_length"
                    :label="$tt('common.length', 1)"
                    suffix="cm"
                    type="number"
                    min="1"
                    step="0.1"
                    :dense="false"
                  />
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.current_product.product_width.$error"
                    v-model.number="current_product.product_width"
                    :label="$tt('common.width', 1)"
                    suffix="cm"
                    type="number"
                    min="1"
                    step="0.1"
                    :dense="false"
                  />
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.current_product.product_height.$error"
                    v-model.number="current_product.product_height"
                    :label="$tt('common.height', 1)"
                    suffix="cm"
                    type="number"
                    min="1"
                    step="0.1"
                    :dense="false"
                  />
                </div>
                <div class="col-3">
                  <app-input
                    :error="$v.current_product.product_weight.$error"
                    v-model.number="current_product.product_weight"
                    :label="$tt('common.weight', 1)"
                    suffix="kg"
                    hint="напр. 0.4"
                    type="number"
                    min="0.1"
                    step="0.1"
                    :dense="false"
                  />
                </div>
              </div>
            </q-item-label>
          </q-item-section>
        </q-item>

        <!-- <q-separator />
        <q-item tag="label" class="q-py-lg">
          <q-item-section>
            <q-item-label>
              Уведомление о малом количестве товара в наличии
            </q-item-label>
            <q-item-label caption>
              Количество товара, при котором будет отправлено уведомление о низких остатках
            </q-item-label>
          </q-item-section>
          <q-item-section avatar class="q-ml-xl">
            <app-input
              style="width:114px"
              :min="0"
              type="number"
              v-model.number="current_product.min_notify_amount"
              suffix="шт."
            ></app-input>
          </q-item-section>
        </q-item> -->
      </div>

      <div>
        <q-separator />

        <q-card-section>
          <div class="flex-center-between">
            <app-btn
              size="12px"
              padding="12px"
              :label="$tt('common.cancel')"
              color="negative"
              flat
              @click="hide"
            />
            <app-btn size="12px" padding="12px" @click="submitProduct" color="positive">
              {{ product ? $tt("common.save", 1) : $tt("common.create", 1) }}
            </app-btn>
          </div>
        </q-card-section>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import ManageMedia from "./ManageMedia.vue";

export default {
  components: { ManageMedia },
  props: {
    category_id: {
      type: [Number, null],
      default: () => null,
    },
    product: [Object, null, undefined],
    clone: {
      type: Boolean,
      default: () => false,
    },
  },
  async mounted() {
    if (!this._categories) {
      this.categories_loading = true;

      await this.$store.dispatch("Warehouse/GET_CATEGORIES");

      this.categories_loading = false;
    }

    this.prepareCategories();

    if (this.product || this.clone) {
      let {
        title: product_title = null,
        code: product_code = null,
        cost: product_cost = null,
        length: product_length = null,
        width: product_width = null,
        height: product_height = null,
        weight: product_weight = null,
        title_customs_eng: product_title_customs_eng = null,
        title_customs_ua: product_title_customs_ua = null,
        uktved = null,
        files = null,
        category,
        // min_notify_amount,
      } = this.product;

      this.current_product = {
        ...this.current_product,
        product_title: this.clone ? `${product_title} (копия)` : product_title,
        product_code,
        product_cost,
        product_length,
        product_width,
        product_height,
        product_weight,
        product_title_customs_eng,
        product_title_customs_ua,
        uktved,
        files: this.clone ? null : files,
        category,
        // min_notify_amount,
      };
    } else {
      this.category_id && (this.current_product.category = this.category_id);
    }

    if (!this.product || this.clone) {
      this.next_code = await this.getNextCode();
    }
  },
  data() {
    return {
      loading: false,
      next_code: null,
      current_product: {
        product_title: null,
        product_code: null,
        product_cost: null,
        product_length: null,
        product_width: null,
        product_height: null,
        product_weight: null,
        product_fragile: true,
        category: null,
        product_title_customs_eng: null,
        product_title_customs_ua: null,
        uktved: null,
        files: null,
        // min_notify_amount: null,
      },
      images: [],
      categories: [],
      categories_loading: false,
    };
  },
  computed: {
    is_edit() {
      return !!this.product && !this.clone;
    },
    _categories() {
      return this.$store.getters["Warehouse/categories"];
    },
  },
  methods: {
    show() {
      this.$refs["create-dialog"].show();
    },
    hide() {
      this.$refs["create-dialog"].hide();
    },
    prepareCategories() {
      let c = [];

      let save = (cat) => {
        let { title, id, parent = null } = cat;

        if (cat.folders && cat.folders.length) {
          cat.folders.forEach((f) => save({ ...f, parent: title }));
        }

        c.push({ title, id, parent });
      };

      this._categories.forEach((cat) => {
        save(cat);
      });

      this.categories = c;
    },
    getNextCode() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { next_code },
          } = await this.$api.get("/warehouse/products/next_code");

          done(next_code);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.load_data"),
          });
          fail(null);
        }
      });
    },
    async uploadImages() {
      if (!this.images || !this.images.length) return;

      return new Promise(async (done, fail) => {
        let queue = this.images.map((img) => {
          return new Promise(async (done, fail) => {
            try {
              const filename = await this.$store.dispatch("Service/UPLOAD_FILE", img.file);

              done(filename);
            } catch (e) {
              fail(e);
              throw e;
            } finally {
              img.loading = false;
            }
          });
        });

        try {
          let res = await Promise.all(queue);

          done(res);

          this.images = null;
        } catch (e) {
          fail(e);
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.save_data"),
          });
          //   throw e;
        }
      });
    },
    handleImages({ old_images, new_images }) {
      this.current_product.files = old_images;
      this.images = new_images && new_images.filter((img) => !img.error);
    },
    async submitProduct() {
      this.$v.current_product.$touch();

      if (this.$v.current_product.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });

        return;
      }

      let { category, ...product } = this.current_product;

      product = {
        ...product,
        ...(product.uktved ? { uktved: { id: product.uktved.id } } : {}),
      };

      const CreateProduct = async (params = {}) => {
        return this.$api.post(`/warehouse/products`, {
          ...product,
          category_id: category || this.category_id,
          ...params,
        });
      };

      const EditProduct = async (params = {}) => {
        return this.$api.put(`/warehouse/products`, {
          ...product,
          product_id: this.product.product_id,
          category_id: category,
          ...params,
        });
      };

      const CloneProduct = async (params = {}) => {
        return this.$api.post(`/warehouse/products`, {
          ...product,
          category_id: category,
          ...params,
        });
      };

      try {
        this.loading = true;

        if (this.clone) {
          let new_files = await this.uploadImages();

          await CloneProduct({
            files: [...(this.current_product.files || []), ...(new_files || [])],
          });
        } else if (this.product) {
          let new_files = await this.uploadImages();

          await EditProduct({
            files: [...(this.current_product.files || []), ...(new_files || [])],
          });
        } else {
          let files = await this.uploadImages();

          await CreateProduct({ files: [...(files || [])] });
        }

        this.$emit("ok");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data"),
        });
      } finally {
        this.loading = false;
      }
    },
    markAsHandmade() {
      if (
          this.current_product.product_title_customs_eng
          && this.current_product.product_title_customs_eng.length
          && this.current_product.product_title_customs_eng.toLowerCase().indexOf("handmade") === -1) {
        this.current_product.product_title_customs_eng += " (handmade)";
      }
      if (
          this.current_product.product_title_customs_ua
          && this.current_product.product_title_customs_ua.length
          && this.current_product.product_title_customs_ua.toLowerCase().indexOf("хендмейд") === -1) {
        this.current_product.product_title_customs_ua += " (хендмейд)";
      }
    }
  },
  validations() {
    return {
      current_product: {
        category: {
          required,
        },
        product_title: {
          required,
        },
        product_title_customs_eng: {
          // TODO: УЗНАТЬ ОБЯЗАТЕЛЬНОСТЬ
          required,
        },
        product_title_customs_ua: {
          // TODO: УЗНАТЬ ОБЯЗАТЕЛЬНОСТЬ
          // required
        },
        product_code: {
          required: requiredIf(function() {
            return !this.is_edit;
          }),
        },
        product_cost: {
          required,
        },
        product_length: {
          required,
        },
        product_width: {
          required,
        },
        product_height: {
          required,
        },
        product_weight: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss">
.mark-as-handmade {
  color: $primary;
  width: fit-content;
  align-self: flex-end;

  &:hover {
    color: #3d5afe;
  }
}
</style>