<template>
  <q-list
    v-if="false"
    class="bg-white"
    :bordered="bordered"
    :class="bordered && 'rounded-borders'"
    separator
  >
    <q-item-label header>
      <div class="flex flex-center-between">
        <small class="text-primary font-500">
          Фото товара
        </small>
        <app-btn @click="pickFiles" color="accent" size="11px">
          <div class="flex items-center">
            <q-icon name="add_photo_alternate" class="q-mr-sm"></q-icon>
            <span>
              {{ $tt("common.attach", 1) }}
            </span>
          </div>
        </app-btn>
      </div>
    </q-item-label>

    <div v-if="saved_images">
      <q-item v-for="(i, idx) in saved_images" :key="idx">
        <q-item-section avatar>
          <q-item-label>
            <q-img
              basic
              :src="i.src"
              width="56px"
              :ratio="1"
              class="rounded-borders aborder cursor-pointer"
              cover
            ></q-img>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>
            {{ i.filename }}
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-item-label>
            <app-btn
              dense
              icon="close"
              color="negative"
              flat
              size="14px"
              @click="removeSavedImage(i.filename)"
            />
          </q-item-label>
        </q-item-section>
      </q-item>
    </div>

    <div v-if="prepared_images">
      <div v-for="(img, idx) in prepared_images" :key="idx">
        <q-item>
          <q-item-section avatar>
            <q-item-label>
              <q-img
                basic
                :src="img.src"
                width="56px"
                :ratio="1"
                class="rounded-borders aborder"
                cover
                :loading="img.loading"
              ></q-img>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <small class="text-red-7 font-500">
                Новое
              </small>
              <div class="flex items-center no-wrap">
                <div class="ellipsis">{{ img.file.name }}</div>
                <!-- <q-icon name="new_releases" class="q-ml-sm" color="red-7" size="14px"></q-icon> -->
              </div>
            </q-item-label>
            <q-item-label caption>
              <div>{{ toHumanFileSize(img.file.size) }}</div>
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label>
              <app-btn
                dense
                icon="close"
                color="negative"
                flat
                size="14px"
                @click="removePreparedImage(idx)"
              />
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
      </div>
    </div>

    <div
      v-if="
        (!saved_images || !saved_images.length) && (!prepared_images || !prepared_images.length)
      "
    >
      <q-item>
        <q-item-section>
          <q-item-label>
            <small class="text-muted">
              {{ $tt("errors.no_data", 1) }}
            </small>
          </q-item-label>
        </q-item-section>
      </q-item>
    </div>
  </q-list>
  <template></template
></template>
