<template>
  <div class="prod-media">
    <transition-group
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      appear
      tag="div"
      class="flex q-pb-sm q-gutter-md"
    >
      <q-card
        v-for="i in saved_images"
        :key="i.filename"
        class="flex overflow-hidden column relative-position shadow-4"
        v-ripple
        transition-show="fadeIn"
        transition-hide="fadeOut"
      >
        <q-img basic :src="i.src" width="100px" :ratio="1" class="cursor-pointer" cover></q-img>

        <q-menu>
          <q-list>
            <q-item
              v-close-popup
              @click="removeSavedImage(i.filename)"
              clickable
              class="text-negative"
            >
              <q-item-section>
                <q-item-label>
                  {{ $tt("common.delete", 1) }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-card>
      <q-card
        v-for="(img, idx) in prepared_images"
        :key="idx"
        class="flex  overflow-hidden column relative-position shadow-4"
        v-ripple
      >
        <q-img
          basic
          :class="img.error && 'disabled'"
          :src="img.src"
          width="100px"
          :ratio="1"
          cover
          :loading="img.loading"
        >
        </q-img>
        <q-badge
          class="absolute-bottom font-500 flex-center-between q-pa-xs"
          :color="img.error ? 'negative' : 'positive'"
        >
          <div class="q-gutter-y-xs" v-if="img.error">
            <div>{{ toHumanFileSize(img.size) }}&nbsp;*{{ img.type }}</div>
          </div>

          <q-icon size="15px" :name="img.error ? 'warning' : 'check'"></q-icon>
        </q-badge>
        <q-menu>
          <q-list>
            <q-item v-if="img.error">
              <q-item-section>
                <q-item-label caption class="text-">
                  Изображение не будет загружено
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              v-close-popup
              @click="removePreparedImage(idx)"
              clickable
              class="text-negative"
            >
              <q-item-section>
                <q-item-label>
                  {{ $tt("common.delete", 1) }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-card>
      <q-card
        key="add-img"
        v-ripple
        @click="pickFiles"
        style="width:100px;height:100px"
        class="bg-grey-3 flex-center"
        bordered
        flat
      >
        <q-icon size="28px" color="grey" name="add"></q-icon>
      </q-card>
    </transition-group>

    <input
      style="display: none;"
      ref="images-holder"
      @change="handleNewImages"
      type="file"
      multiple
      accept="image/*"
    />

    <div class="text-muted q-gutter-y-sm q-mt-sm fz-12">
      <div>Только файлы формата <span class="font-500">.jpg, .jpeg, .png</span></div>
      <div>Размер файла до <span class="font-500">1 mb</span></div>
    </div>

    <q-inner-loading :showing="loading">
      <q-spinner-ios></q-spinner-ios>
    </q-inner-loading>
  </div>
</template>

<script>
import { format } from "quasar";

const { humanStorageSize } = format;

export default {
  props: {
    images: [Array, null, undefined],
    bordered: Boolean,
    id: Number,
  },
  // mounted() {
  created() {
    this.showLoaded();
  },
  data() {
    return {
      loading: false,
      prepared_images: [],
      saved_images: [],
    };
  },
  methods: {
    toHumanFileSize(s) {
      return humanStorageSize(s);
    },
    async handleNewImages(event) {
      let input = event.target;
      let files = input.files;

      if (!files) return;

      var file_ext_pattern = /\.[0-9a-z]+$/i;

      let images = Array.from(files).map((file) => {
        let src = URL.createObjectURL(file);
        let [extFromFilename = null] = file.name.match(file_ext_pattern);
        let ext_error = extFromFilename && ![".jpg", ".jpeg", ".png"].includes(extFromFilename);
        let file_size_error = file.size > 1068014;
        let error = ext_error || file_size_error;

        return {
          src,
          file,
          loading: false,
          size: file.size,
          type: extFromFilename,
          error,
        };
      });
      // .filter((img) => !img.error);

      this.prepared_images.push(...images);

      this.$emit("change", {
        new_images: this.prepared_images,
        ...(this.saved_images &&
          this.saved_images &&
          this.saved_images.length && {
            old_images: [...this.saved_images.map((i) => i.filename)],
          }),
      });

      input.value = null;
    },
    removePreparedImage(idx) {
      // TODO: BRIND THIS ACTION TO BACKEND
      this.prepared_images.splice(idx, 1);

      this.$emit("change", {
        new_images: this.prepared_images,
        old_images:
          (this.saved_images &&
            this.saved_images.length && [...this.saved_images.map((i) => i.filename)]) ||
          [],
      });
    },
    openMedia(img) {
      // ? OPEN IMAGE BETA
      var newTab = window.open();
      newTab.document.body.innerHTML = `
        <img src='data:image;base64,${img}' width='100%' />
      `;
    },

    async showLoaded() {
      if (!this.images || !this.images.length) return;

      try {
        this.loading = true;

        let images = [];

        for (let img of this.images) {
          // try {
          let { data } = await this.$api({
            method: "GET",
            url: `/v2/products/${this.id}/files/${img}`,
            responseType: "blob",
          });

          images.push({
            filename: img,
            src: URL.createObjectURL(data),
          });
        }

        this.saved_images = images;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    async removeSavedImage(filename) {
      let idx = this.saved_images.findIndex((f) => f.filename === filename);

      this.saved_images.splice(idx, 1);

      this.$emit("change", {
        new_images: this.prepared_images,
        old_images: [...this.saved_images.map((i) => i.filename)],
      });
    },
    pickFiles() {
      let i = this.$refs["images-holder"];

      if (i) {
        i.click();
      } else {
        this.$alert({
          title: "Не улалось выбрать файл",
          level: "danger",
        });
      }
    },
  },
};
</script>
