<template>
  <q-dialog
    transition-show="jump-up"
    transition-hide="jump-down"
    persistent
    class="confirm-rate-modal"
    ref="confrim-rate-dialog"
  >
    <q-card>
      <q-card-section>
        <p>
          {{ $tt("pages.shipments.messages.delivery_cost_is") }}
        </p>
        <div class="confirm-rate-modal__cost">
          <b>{{ $toUSD(rates.rates.total) }}</b>
        </div>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="$emit('hide')" size="12px" flat color="red">
            {{ $tt("common.cancel") }}
          </app-btn>
          <app-btn @click="confirmRate()" size="12px" color="primary">
            {{ $tt("common.continue") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "confrim-rate-dialog",
  props: {
    rates: Object,
  },
  methods: {
    show() {
      this.$refs["confrim-rate-dialog"].show();
    },
    hide() {
      this.$refs["confrim-rate-dialog"].hide();
    },
    confirmRate() {
      this.$emit("ok");
      this.hide();
    },
  },
};
</script>

<style lang="scss" scoped>
.confirm-rate-modal {
  &__cost {
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      font-size: 28px;
    }
    small {
      font-size: 14px;
    }
  }
}
</style>
