<template>
  <div>
    <PageContainer
      :title="
        shipping_type !== 'return_label'
          ? $tt('pages.shipments.create.create_new_shipment')
          : $tt('pages.shipments.create.create_new_return')
      "
      :loading="loading.page"
    >
      <div class="container">
        <q-card class="q-mb-lg" bordered flat>
          <q-item class="q-py-md">
            <q-item-section>
              <q-item-label class="text-h6 text-primary q-pb-sm">
                Спеціальна пропозиція від SELLER-ONLINE для всіх клієнтів нашої
                CRM-системи!
              </q-item-label>
              <q-item-label class="text-body2 q-pb-md">
                Лише зараз ви можете скористатися унікальною можливістю та отримати
                ексклюзивну знижку у розмірі 10% на посилки Укрпошти, які створені в
                системі CRM!
              </q-item-label>
              <q-item-label>
                <app-btn
                  href="https://crm.seller-online.com/"
                  target="_blank"
                  color="accent"
                  size="12px"
                >
                  Перейти до Seller-Online CRM
                </app-btn>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>

        <div id="create-shipment" v-cloak class="create-shipment">
          <div style="overflow-x:scroll">
            <q-btn-group spread stretch class="full-width" style="min-width: 700px">
              <app-btn
                v-for="type in types"
                :key="type.code"
                push
                class="q-py-lg bg-white"
                @click="changeType(type.code)"
                :class="shipping_type === type.code && 'bg-blue-1 text-primary'"
                v-show="type.show_status"
                :disable="type.disabled"
              >
                <q-img
                  contain
                  class="q-mb-lg"
                  height="77px"
                  :src="`/img/types/${type.icon}.svg`"
                />
                <div class="text-subtitle2">
                  {{ type.title }}
                  <small class="text-muted block" v-if="type.subtitle">
                    {{ type.subtitle }}
                  </small>
                </div>
              </app-btn>
            </q-btn-group>
          </div>

          <div transition-show="fade-in">
            <!-- <div> -->
            <div
              key="empty"
              class="flex items-center justify-center q-py-xl"
              v-if="!shipping_type"
              v-once
            >
              <h3 class="text-grey-5">
                {{ $tt("common.pick", 1) }} {{ $tt("common.shipping_type") }}
              </h3>
            </div>

            <div key="checked" v-else class="q-py-xl">
              <div
                class="create-shipment__header"
                style="margin-bottom: var(--flow-space);"
              >
                <h3 class="color-accent">
                  {{
                    shipping_type === "direct"
                      ? $tt("types.direct", 1)
                      : shipping_type === "svh"
                      ? $tt("types.svh", 1)
                      : shipping_type === "usa_domestic"
                      ? $tt("types.usa_domestic", 1)
                      : shipping_type === "consolidated_from_sender"
                      ? $tt("types.consolidated_from_sender", 1)
                      : shipping_type === "consolidation_usa"
                      ? $tt("types.consolidation_usa", 1)
                      : null
                  }}
                </h3>

                <div class="text-body2" v-once v-if="shipping_type === 'direct'">
                  <p>
                    {{ $tt("pages.shipments.type_desc.direct_desc") }}
                  </p>

                  <app-banner level="info" icon="info" class="q-mb-lg">
                    {{ $tt("pages.shipments.messages.direct_dimensions_info") }}
                  </app-banner>
                </div>

                <p class="text-body2" v-once v-if="shipping_type === 'svh'">
                  {{ $tt("pages.shipments.type_desc.svh") }}

                  <a
                    href="https://seller-online.com/help/zayavka-na-otpravku-posylki-na-nash-sklad-v-ssha"
                  >
                    {{ $tt("pages.shipments.messages.form_hemp") }}
                  </a>
                </p>

                <p class="text-body2" v-once v-if="shipping_type === 'usa_domestic'">
                  {{ $tt("pages.shipments.type_desc.usa_domestic") }}
                  <a
                    href="https://seller-online.com/help/oformlenie-zayavki-na-otpravku-so-sklada-v-ssha"
                  >
                    {{ $tt("pages.shipments.messages.form_hemp") }}
                  </a>
                </p>
              </div>

              <div class="create-shipment__flow">
                <!-- SHIPPING VIA START -->

                <div
                  v-if="shipping_type == 'svh'"
                  class="bg-white q-mt-xl aborder rounded-borders"
                >
                  <div class=" row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <q-item
                        class="full-height q-py-xl"
                        tag="label"
                        v-ripple
                        :class="[shipping_via === 'seller' && 'bg-blue-1']"
                      >
                        <q-item-section side>
                          <q-radio
                            v-model="shipping_via"
                            val="seller"
                            size="xl"
                            name="via"
                            id="via-seller"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label
                            class="text-h6 q-pa-sm rounded-borders"
                            :class="shipping_via === 'seller' && 'bg-primary text-white'"
                          >
                            <span
                              v-html="$tt('pages.shipments.messages.send_by_seller')"
                            ></span>
                          </q-item-label>
                          <q-item-label caption class="q-pl-sm">
                            {{ $tt("pages.shipments.messages.send_by_seller_desc") }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <q-item
                        class="q-py-xl"
                        tag="label"
                        v-ripple
                        :class="[shipping_via === 'customer' && 'bg-blue-1']"
                      >
                        <q-item-section side>
                          <q-radio
                            v-model="shipping_via"
                            val="customer"
                            size="xl"
                            name="via"
                            id="via-customer"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label
                            class="text-h6 q-pa-sm rounded-borders"
                            :class="
                              shipping_via === 'customer' && 'bg-primary text-white'
                            "
                          >
                            <span
                              v-html="$tt('pages.shipments.messages.sefl_send')"
                            ></span>
                          </q-item-label>
                          <q-item-label caption class="q-pl-sm">
                            <span
                              v-html="$tt('pages.shipments.messages.self_send_desc_html')"
                            ></span>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </div>
                  </div>
                </div>
                <!-- SHIPPING VIA END -->

                <!-- ORDER INFO START -->
                <div
                  class="create-shipment__section"
                  v-if="
                    shipping_type !== 'svh' &&
                      shipping_type !== 'consolidated_from_sender'
                  "
                >
                  <div
                    class="create-shipment__order"
                    style="margin-bottom: var(--flow-space);"
                  >
                    <h4>
                      {{ $tt("common.order_number", 1) }}
                      <!-- -продажи -->
                    </h4>

                    <div class="order-id">
                      <form class="q-mb-md" @submit.prevent>
                        <div class="row q-col-gutter-lg">
                          <div
                            class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 wrap"
                          >
                            <!-- v-if="platforms && platforms.length" -->
                            <app-select
                              :disable="loading.sources"
                              :loading="loading.sources"
                              transition-show="jump-down"
                              transition-hide="jump-up"
                              v-model="order_source"
                              :options="[
                                {
                                  label: 'Seller Online',
                                  value: null,
                                },
                                ...platforms.map((type) => ({
                                  label: `${type.shop_type}: ${type.shop_name}`,
                                  value: type,
                                })),
                              ]"
                              map-options
                              emit-value
                              :label="`${$tt('common.source', 1)} ${$tt('common.order')}`"
                              class="q-mr-md full-width"
                              :option-label="(opt) => opt && opt.label"
                              @input="(val) => onOrderSourceChange(val)"
                            >
                              <template #no-option>
                                <q-item>
                                  <q-item-section>
                                    <small class="text-muted">
                                      <!-- Интеграции не найдены -->
                                      {{ $tt("errors.not_found", 1) }}
                                    </small>
                                  </q-item-section>
                                </q-item>
                              </template>
                            </app-select>
                          </div>
                          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-7 col-xs-12">
                            <app-input
                              :readonly="is_return"
                              :label="$tt('pages.shipments.markets_order_number')"
                              ref="order_id"
                              v-model.trim="order_id"
                              id="order_id"
                              type="text"
                              class="full-width"
                            >
                              <template v-slot:append>
                                <app-btn
                                  size="10px"
                                  color="primary"
                                  type="submit"
                                  @click="onLoadOrder"
                                  v-show="!is_return"
                                  :disable="!order_id"
                                >
                                  <!-- Загрузить адрес из заказа -->
                                  {{ $tt("messages.load_address_from_order") }}
                                </app-btn>
                              </template>
                            </app-input>
                          </div>
                          <div class="col">
                            <app-btn
                              v-show="!is_return"
                              @click="loadOrders(0)"
                              class="bg-blue-1 text-blue fit"
                              flat
                              :label="$tt('messages.load_from_avail_orders')"
                              :loading="loading.ready_orders"
                            >
                              <q-menu>
                                <q-list v-if="ready_orders && ready_orders.length">
                                  <q-item
                                    v-close-popup
                                    @click="
                                      () => {
                                        loaded_order = order;
                                        setReadyOrder();
                                      }
                                    "
                                    v-for="(order, idx) in ready_orders"
                                    :key="idx"
                                    clickable
                                  >
                                    <q-item-section>
                                      {{ getExtOrderOption(order) }}
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-menu>
                            </app-btn>
                          </div>
                        </div>
                      </form>

                      <app-banner level="warning" v-if="order_source">
                        <div class="flex no-wrap items-center">
                          <q-icon size="28px" class="q-mr-md" name="warning"></q-icon>
                          <div>
                            <!-- Вводите -->
                            {{ $tt("common.input", 1) }}
                            <b
                              >{{ $tt("common.order_number", 1) }} на
                              {{ order_source.shop_type }}</b
                            >
                            <!-- только в том случае, если Вы добавили источник продаж (прошли интеграцию) -->
                            {{ $tt("messages.only_external_order") }}
                            {{ order_source.shop_type }}.
                          </div>
                        </div>
                      </app-banner>
                    </div>
                  </div>
                </div>
                <!-- ORDER INFO END -->

                <div v-if="false" class="create-shipment__section returns-data">
                  <!-- RETURNS START -->
                  <div
                    class="create-shipment__returns"
                    style="margin-bottom: var(--flow-space);"
                  >
                    <h4 class="flex-center-between">
                      {{ $tt("common.return", 1, 2) }}
                    </h4>

                    <app-btn
                      :label="`${$tt('common.load', 1)} ${$tt('common.return', 0, 2)}`"
                      @click="useReturns"
                      v-if="!returns"
                    />

                    <app-select
                      transition-show="jump-down"
                      transition-hide="jump-up"
                      v-else
                      :options="returns"
                      v-model="current_return"
                      :option-label="
                        (ret) =>
                          ret &&
                          `${$tt('common.return', 1, 2)} №${
                            ret.internal_code
                          } ${ret.date &&
                            $tt('common.from') + ' ' + $date(ret.date)}; ${$tt(
                            'common.recipient'
                          )}: ${ret.receiver_name || '-'}`
                      "
                      :option-value="(ret) => ret && ret.id"
                      map-options
                      emit-value
                      :label="`${$tt('common.pick', 1, 2)} ${$tt('common.return')}`"
                    >
                      <template #no-option>
                        <q-item>
                          <q-item-section>
                            <q-item-label>
                              <div class="text-muted">
                                {{ $tt("errors.no_data", 1) }}
                              </div>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </template>
                    </app-select>
                  </div>
                  <!-- RETURNS END -->
                </div>

                <!-- EXTENDED ORDER START-->
                <div class="create-shipment__section create-shipment__extended-order">
                  <q-slide-transition>
                    <div v-if="extended_order">
                      <h4>
                        {{ $tt("common.additional", 1, 2) }}
                        {{ $tt("common.data") }}
                      </h4>

                      <q-markup-table flat bordered>
                        <thead>
                          <tr>
                            <th class="text-left">
                              {{ $tt("common.title", 1) }}
                            </th>
                            <th class="text-right">
                              {{ $tt("common.count", 1) }}
                            </th>
                            <th class="text-left">
                              {{ $tt("common.variation", 1) }}
                            </th>
                            <th class="text-left">
                              {{ $tt("common.personalization", 1) }}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(item, item_id) in extended_order.items"
                            :key="item_id"
                          >
                            <td style="white-space:normal">
                              <div style="width:420px">
                                {{ item.title }}
                              </div>
                            </td>
                            <td class="text-right">
                              {{ item.quantity }}
                            </td>
                            <td v-if="Object.keys(item.variations).length">
                              <span
                                v-for="(value, key, idx) in item.variations"
                                :key="idx"
                              >
                                <b>{{ key }}</b
                                >: {{ value }}
                              </span>
                            </td>
                            <td v-else>
                              --
                            </td>
                            <td>
                              {{ item.personalization || "--" }}
                            </td>
                          </tr>
                        </tbody>
                      </q-markup-table>
                    </div>
                  </q-slide-transition>
                </div>
                <!-- EXTENDED ORDER END -->

                <!-- ADDR START -->
                <div class="create-shipment__section" v-if="shipping_type !== 'svh'">
                  <h4>
                    {{
                      this.shipping_type === "consolidated_from_sender"
                        ? $tt("common.send_address")
                        : $tt("common.delivery_address", 1)
                    }}
                  </h4>

                  <div
                    v-if="this.shipping_type === 'consolidated_from_sender'"
                    class="q-mb-md"
                  >
                    <div>
                      <router-link to="/addresses/new" target="_blank" class="link">
                        {{ $tt("common.create", 1) }}
                        {{ $tt("common.address") }}
                      </router-link>
                    </div>
                  </div>

                  <div
                    class="create-shipment__address address-data relative-position"
                    v-if="shipping_type !== 'consolidated_from_sender'"
                  >
                    <with-loading :state="loading.address" />

                    <div class="row q-col-gutter-md">
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.recipient', 1)"
                          :error="$v.order_addr.name.$anyError"
                          name="consignee"
                          v-model.trim="order_addr.name"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.phone', 1)"
                          name="phone"
                          v-model.trim="order_addr.phone"
                          @keydown.space.prevent
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.email', 1)"
                          name="email"
                          v-model.trim="order_addr.email"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <CountrySelect
                          :error="$v.order_addr.country.$error"
                          v-model="order_addr.country"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <StateSelect
                          :error="$v.order_addr.state.$error"
                          v-model="order_addr.state"
                          :country="order_addr.country"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.zip', 1)"
                          :error="$v.order_addr.zip.$anyError"
                          name="zip"
                          v-model.trim="order_addr.zip"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.city', 1)"
                          class="q-mb-md"
                          name="city"
                          v-model.trim="order_addr.city"
                          :error="$v.order_addr.city.$anyError"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.street', 1)"
                          rows="1"
                          type="textarea"
                          class="q-mb-md"
                          :error="$v.order_addr.street.$anyError"
                          name="street"
                          v-model.trim="order_addr.street"
                        />
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <app-input
                          :label="$tt('common.company', 1)"
                          name="company"
                          v-model.trim="order_addr.company"
                        />
                      </div>
                    </div>
                  </div>

                  <div v-else>
                    <app-select
                      :options="saved_addresses"
                      :label="`${$tt('common.pick', 1)} ${$tt('common.address')}`"
                      v-model="from_address"
                      :option-value="opt"
                      transition-show="jump-down"
                      transition-hide="jump-up"
                      :error="($v.from_address && $v.from_address.$anyError) || false"
                      emit-value
                      options-selected-class="text-primary"
                      :option-label="
                        (addr) =>
                          addr &&
                          `${addr.description ? addr.description + ': ' : ''} ${
                            addr.country
                          }, ${addr.zip}, ${addr.street}, ${addr.company}, ${
                            addr.name
                          }, ${addr.phone}`
                      "
                    >
                      <template #no-option>
                        <q-item>
                          <q-item-section>
                            <div class="flex-center-between">
                              <div class="text-muted">
                                <!-- Нет опций для выбора, так как не создано ни одного адреса -->
                                {{ $tt("errors.nothing_to_display") }}
                              </div>
                              <app-btn
                                to="/addresses/new"
                                target="_blank"
                                class="link"
                                color="accent"
                                icon="add"
                                size="sm"
                              >
                                &nbsp;&nbsp;{{ $tt("common.create", 1) }}
                                {{ $tt("common.address") }}
                              </app-btn>
                            </div>
                          </q-item-section>
                        </q-item>
                      </template>

                      <template #after>
                        <!-- label="Управление адресами" -->
                        <app-btn
                          class="text-accent full-height"
                          flat
                          @click="$openURL('/addresses')"
                          target="_blank"
                          icon="home"
                        >
                          <q-tooltip anchor="top middle" self="bottom middle">
                            {{ $tt("common.manage") }} адресами
                          </q-tooltip>
                        </app-btn>
                      </template>
                    </app-select>
                  </div>
                </div>
                <!-- ADDR END -->

                <!-- PRODUCTS & WAREHOUSE -->
                <div
                  v-if="
                    !is_return &&
                      shipping_type !== 'postcard' &&
                      shipping_type !== 'postcard'
                  "
                  class="create-shipment__section create-shipment__products"
                  v-show="!current_return"
                >
                  <NewWarehouse
                    :show-preview="
                      shipping_type === 'svh' || shipping_type === 'usa_domestic'
                    "
                    @pick-product="(product) => addInParcel(product)"
                    @bulk-add="(products) => addCategoryProducts(products)"
                    :warehouse="isWarehouse"
                    max-height="350px"
                    ref="warehouse"
                    :actions="['control', 'add']"
                  />
                </div>
                <!-- PRODUCTS & WARHOUSE END -->

                <app-banner
                  v-show="shipping_type === 'svh'"
                  level="warning"
                  class="q-mb-lg"
                >
                  <div class="flex-center-between q-py-md">
                    <div class="flex no-wrap items-center">
                      <q-icon name="label_off" size="49px" class="q-mr-md"></q-icon>
                      <div
                        v-html="$tt('pages.shipments.messages.stickers_warning')"
                        style="font-size:15px"
                        class="font-500"
                      ></div>
                    </div>
                    <div class="flex column justify-end q-ml-lg">
                      <app-btn
                        @click="
                          $openURL(
                            `https://seller-online.com/novini-kompani%D1%97/zmini-u-tarifax-skladu/`
                          )
                        "
                        class="bg-white text-brown"
                      >
                        Подробнее
                      </app-btn>
                    </div>
                  </div>
                </app-banner>

                <!-- PARCEL INNER  -->
                <div
                  class="create-shipment__section create-shipment__ready-shippings"
                  v-if="shipping_type !== 'postcard' && !current_return"
                >
                  <div class="flex-center-between q-mb-md">
                    <div class="flex items-center">
                      <h4 style="margin:0">
                        {{ $tt("common.parcel_inner", 1) }}
                      </h4>
                    </div>
                    <div class="flex items-center q-gutter-x-sm">
                      <app-btn
                        :disable="!parcel_inner || !parcel_inner.length"
                        v-if="shipping_type === 'svh'"
                        size="sm"
                      >
                        {{ $tt("common.download") }} {{ $tt("common.stickers") }}
                        <q-menu>
                          <q-list separator>
                            <q-item-label header>
                              <small class="text-muted">
                                {{ $tt("common.pick", 1) }} формат
                              </small>
                            </q-item-label>
                            <q-item
                              clickable
                              v-close-popup
                              v-for="f in [
                                {
                                  label: 'A4',
                                  value: 'A4',
                                },
                                {
                                  label: 'A5',
                                  value: 'A5',
                                },
                                {
                                  value: 'thermal',
                                  label: 'Термопринтер',
                                },
                              ]"
                              :key="f.label"
                              @click="getStickers(f.value)"
                            >
                              <q-item-section>
                                {{ f.label }}
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </q-menu>
                      </app-btn>
                      <app-btn
                        class="text-negative"
                        size="sm"
                        @click="clearParcelInner"
                        :label="$tt('common.clear')"
                      />
                    </div>
                  </div>

                  <div>
                    <q-banner
                      class="q-pa-md bg-orange-1 q-mb-sm rounded-borders relative-position overflow-hidden"
                    >
                      <div>
                        {{ $tt("pages.shipments.customs_parcel_description_alert", 1) }}
                      </div>
                    </q-banner>
                  </div>

                  <ParcelInner
                    :clear-inner="clearParcelInner"
                    :add-product="addInParcel"
                    :shipping-type="shipping_type"
                    @remove-item="removeItem"
                    :parcel_inner="parcel_inner"
                    :error="
                      $v.parcel_inner &&
                        $v.parcel_inner.$dirty &&
                        !$v.parcel_inner.required &&
                        'Добавьте товары в заявку'
                    "
                    @change="
                      (cost) => {
                        inner_customs_cost = cost;
                      }
                    "
                  />
                </div>
                <!-- PARCEL INNER END -->

                <!-- DIMESIONS -->
                <div
                  class="create-shipment__section"
                  v-if="
                    (shipping_type === 'svh' && shipping_via === 'seller') ||
                      shipping_type === 'client_bulk' ||
                      shipping_type === 'consolidation_usa' ||
                      shipping_type === 'agent_shipping' ||
                      shipping_type === 'direct' ||
                      shipping_type === 'return_label'
                  "
                >
                  <h4>
                    {{ $tt("common.parcel_dimensions", 1) }}
                  </h4>

                  <!-- <form> -->
                  <div class="row q-col-gutter-md">
                    <div class="col">
                      <app-input
                        @input="touched = true"
                        v-model.number="parcel_dimensions.parcel_length"
                        :label="$tt('common.length', 1)"
                        :error="$v.parcel_dimensions.parcel_length.$anyError"
                        suffix="cm"
                        type="number"
                        step="1"
                      />
                    </div>
                    <div class="col">
                      <app-input
                        @input="touched = true"
                        v-model.number="parcel_dimensions.parcel_width"
                        :label="$tt('common.width', 1)"
                        :error="$v.parcel_dimensions.parcel_width.$anyError"
                        suffix="cm"
                        type="number"
                        step="1"
                      />
                    </div>
                    <div class="col">
                      <app-input
                        @input="touched = true"
                        v-model.number="parcel_dimensions.parcel_height"
                        :label="$tt('common.height', 1)"
                        :error="$v.parcel_dimensions.parcel_height.$anyError"
                        suffix="cm"
                        type="number"
                        step="1"
                      />
                    </div>
                    <div class="col">
                      <app-input
                        @input="touched = true"
                        v-model.number="parcel_dimensions.parcel_weight"
                        :label="$tt('common.weight', 1)"
                        :error="$v.parcel_dimensions.parcel_weight.$anyError"
                        suffix="kg"
                        type="number"
                        step="0.001"
                      />
                    </div>
                  </div>
                  <!-- </form> -->
                </div>
                <!-- DIMESIONS END -->

                <div
                  class="create-shipment__section create-shipment__services"
                  v-show="
                    shipping_type !== 'postcard' &&
                      shipping_type !== 'return_label' &&
                      shipping_type !== 'consolidated_from_sender'
                  "
                >
                  <h4>
                    {{ $tt("common.additional", 1) }}
                  </h4>

                  <q-checkbox
                    v-model="additional_services.to_hands"
                    type="checkbox"
                    :label="$tt('messages.to_hands', 1)"
                    color="primary"
                  >
                    <q-tooltip>
                      <!-- Посылка будет передана лично в руки получателю -->
                      {{ $tt("messages.to_hands_label") }}
                    </q-tooltip>
                  </q-checkbox>
                </div>

                <!-- COMMENT -->
                <div class="create-shipment__section create-shipment__comment">
                  <h4>
                    {{ $tt("common.comment", 1) }}
                  </h4>
                  <div class="form-group">
                    <app-input
                      type="textarea"
                      rows="3"
                      v-model="parcel_comment"
                      :label="$tt('pages.shipments.comment_placeholder')"
                    />

                    <q-checkbox
                      v-show="shipping_type !== 'postcard'"
                      v-model="save_comment"
                      type="checkbox"
                      :label="`${$tt('common.save', 1)} ${$tt('common.comment')}`"
                      class="q-mt-sm"
                      color="primary"
                    />
                  </div>
                </div>

                <div
                  v-if="
                    !is_return &&
                      shipping_type !== 'consolidated_from_sender' &&
                      shipping_type !== 'postcard'
                  "
                  class="create-shipment__section create-shipment__tags"
                >
                  <h4 class="flex items-center">
                    {{ $tt("common.tag", 1) }}

                    <q-icon class="q-ml-sm" size="21px" name="ion-help-circle-outline">
                      <q-tooltip style="max-width:550px">
                        {{ $tt("pages.shipments.messages.tags_help") }}
                      </q-tooltip>
                    </q-icon>
                  </h4>
                  <div class="row items-center q-col-gutter-md">
                    <div class="col">
                      <app-input :label="$tt('common.title', 1)" v-model.trim="tag" />
                    </div>
                    <div class="col column" v-show="saved_tags && saved_tags.length">
                      <!-- <small class="text-grey q-mb-sm">
                        Недавно использованные:
                      </small> -->

                      <div class="flex">
                        <q-badge
                          v-for="(t, idx) in saved_tags"
                          :key="idx"
                          @click="setSavedTag(t)"
                          :color="t === tag ? 'primary' : 'grey'"
                          class="q-mr-sm cursor-pointer"
                        >
                          {{ t }}
                        </q-badge>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- COMMENT END -->

                <!-- INVOICES -->
                <div
                  class="create-shipment__section documents-data q-mb-xl"
                  v-if="
                    shipping_type !== 'svh' &&
                      shipping_type !== 'consolidated_from_sender' &&
                      shipping_type !== 'return_label'
                  "
                >
                  <template v-if="shipping_type !== 'postcard'">
                    <h4>
                      {{ $tt("pages.shipments.messages.invoices_title") }}
                    </h4>

                    <app-banner icon="info" level="info" gradient class="q-mb-lg">
                      <span v-html="$tt('pages.shipments.messages.invoices_help')"></span>
                    </app-banner>
                  </template>
                  <template v-else>
                    <h4>
                      {{ $tt("pages.shipments.messages.accept_chat_title") }}
                    </h4>

                    <app-banner icon="info" level="info" class="q-mb-lg">
                      {{ $tt("pages.shipments.messages.accept_chat_help") }}
                    </app-banner>
                  </template>

                  <!-- <q-card> -->
                  <q-uploader
                    ref="invoice-picker"
                    class="full-width"
                    :factory="getUserFiles"
                    multiple
                    accept=".pdf, image/*"
                    auto-upload
                    :max-total-size="5242880"
                    :max-files="5"
                    flat
                    bordered
                    color="white"
                  >
                    <template v-slot:header="scope">
                      <div class="q-pa-md">
                        <div class="row text-black items-center ">
                          <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="flex items-center">
                              <div>
                                <div class="q-uploader__title">
                                  {{ $tt("common.pick", 1) }}
                                  {{ $tt("common.file", 0, 2) }}
                                </div>
                                <div class="q-uploader__subtitle text-grey-7">
                                  {{ $tt("pages.shipments.invoices_help") }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 flex justify-end"
                          >
                            <app-btn
                              :class="
                                ($q.screen.xs || $q.screen.sm) && 'q-mt-md full-width'
                              "
                              v-if="scope.canAddFiles"
                              :label="`${$tt('common.attach', 1)} ${$tt('common.file')}`"
                              color="primary"
                              icon="attachment"
                              size="12px"
                              unelevated
                            >
                              <q-uploader-add-trigger />
                            </app-btn>
                          </div>
                        </div>
                      </div>
                      <q-separator></q-separator>
                    </template>
                    <template v-slot:list="scope">
                      <q-list v-if="scope.files && scope.files.length" separator>
                        <q-item
                          dense
                          v-for="(file, index) in scope.files"
                          :key="file.name"
                          class="q-py-sm q-pl-lg"
                        >
                          <q-item-section v-if="file.__img" thumbnail>
                            <img
                              class="rounded-borders q-ml-xs"
                              :src="file.__img.src"
                              style="height:42px;width:63px;object-fit:cover;"
                            />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label class="full-width ellipsis">
                              {{ file.name }}
                            </q-item-label>

                            <q-item-label caption>
                              {{ file.__sizeLabel }}
                            </q-item-label>
                          </q-item-section>

                          <q-item-section avatar>
                            <app-btn
                              flat
                              round
                              icon="close"
                              size="14px"
                              @click="
                                handleRemoveDocument(index, () => scope.removeFile(file))
                              "
                              color="negative"
                            />
                          </q-item-section>
                        </q-item>
                      </q-list>
                      <div class="flex-center text-muted" style="height:56px;" v-else>
                        {{ $tt("errors.no_data", 1) }}
                      </div>
                    </template>
                  </q-uploader>
                  <!-- </q-card> -->
                </div>
                <!-- INVOICES END -->

                <!-- v-if="shipping_type === 'usa_domestic'" -->
                <div class="flex justify-center">
                  <app-btn
                    class="q-py-sm q-px-lg"
                    padding="sm xl"
                    color="positive"
                    @click="prepareShipment"
                    :label="$tt('common.create', 1)"
                    :loading="loading.page"
                    size="16px"
                    v-if="!is_return"
                  />

                  <app-btn
                    class="q-py-sm q-px-lg"
                    padding="sm xl"
                    color="accent"
                    v-else
                    @click="initReturnCreate"
                    :disable="!current_return && !parcel_inner.length"
                    :label="`${$tt('common.create', 1)} ${$tt('common.return')}`"
                    size="16px"
                  />
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </PageContainer>
  </div>
</template>

<script>
import ParcelInner from "@/components/Shipments/Create/ParcelInner";
import NewWarehouse from "@/components/NewWarehouse";
import {
  required,
  requiredIf,
  minLength,
  maxLength,
  minValue,
} from "vuelidate/lib/validators";
import CountrySelect from "@/components/CountrySelect";
import StateSelect from "@/components/CountrySelect/States.vue";
import * as Sentry from "@sentry/vue";

const phoneValidator = (phone) => {
  let checker = new RegExp(/^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g);
  return checker.test(phone);
};

export default {
  name: "CreateNewShipping",
  components: {
    ParcelInner,
    NewWarehouse,
    CountrySelect,
    StateSelect,
  },
  async mounted() {
    this.$store.dispatch("Info/GET_COUNTRIES");
    this.$store.dispatch("Info/GET_STATES", this.order_addr.country);

    const RETURN_ID = +this.$route.query.return_id;

    if (RETURN_ID) {
      try {
        this.loading.page = true;

        const {
          data: { shipment },
        } = await this.$api.get(`/shipping/shipment/${RETURN_ID}`);

        this.initReturnType(shipment);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.page = false;
      }

      return;
    } else {
      this.fillLastTag();
    }

    const BASE_ORDER = this.$route.query.ref;

    if (BASE_ORDER) {
      try {
        this.shipping_type = "direct";

        this.order_id = BASE_ORDER;

        this.onLoadOrder();
      } catch (e) {
        console.log(e);

        this.$message({
          level: "warning",
          title: this.$tt("errors.load_data"),
          message:
            e &&
            e.response &&
            e.response.data &&
            e.response.data.errors &&
            e.response.data.errors.length &&
            e.response.data.errors.join("\n"),
        });
      }
    }
  },
  computed: {
    isWarehouse() {
      return this.shipping_type === "usa_domestic";
    },
    parcel_weight: {
      get() {
        return this.parcel_dimensions.parcel_weight
          ? this.parcel_dimensions.parcel_weight.toFixed(3)
          : null;
      },
      set(val) {
        val ? (this.parcel_dimensions.parcel_weight = val) : null;
      },
    },
    is_return() {
      return this.shipping_type === "return_label";
    },
    order_id_placeholder() {
      if (this.shipping_type === "postcard") {
        return this.$tt("pages.shipments.sol_order_number");
      } else {
        return this.$tt("pages.shipments.markets_order_number");
      }
    },
    countries() {
      return this.$store.getters["Info/countries"];
    },
    states() {
      return this.$store.getters["Info/states"];
    },
    canCreateSenderConsolidation() {
      return this.$store.getters["auth/senderConsolidationAvailable"];
    },
    gift_available() {
      return (
        this.$store.getters["auth/user"] &&
        this.$store.getters["auth/user"].origin === "sol" &&
        this.$store.getters["auth/user"].country_iso === "UA"
      );
      // return true;
    },
    types() {
      return [
        this.$store.getters["auth/enable_global_forward"] && {
          title: "Global Forward",
          code: "consolidation_usa",
          icon: "global_forward",
          show_status: !this.is_return,
          disabled: this.is_return,
        },
        {
          title: this.$tt("types.direct"),
          code: "direct",
          icon: "direct",
          show_status: !this.is_return,
          disabled: this.is_return,
        },
        {
          title: this.$tt("types.svh"),
          code: "svh",
          icon: "wh-in",
          show_status: !this.is_return,
          disabled: this.is_return,
        },
        {
          title: this.$tt("types.usa_domestic"),
          code: "usa_domestic",
          icon: "wh-out",
          show_status: !this.is_return,
          disabled: this.is_return,
        },
        {
          title: this.$tt("types.consolidated_from_sender"),
          code: "consolidated_from_sender",
          icon: "parcel-location",

          subtitle: "от продавца",
          show_status:
            (this.$store.getters["auth/user"] &&
              this.$store.getters["auth/user"].vars.CONSOLIDATION_FROM_SENDER) ||
            false,
        },
        {
          title: this.$tt("common.return"),
          code: "return_label",
          icon: "arrow-from",
          show_status: this.is_return,
        },
        {
          title: this.$tt("types.postcard"),
          code: "postcard",
          icon: "gift",
          show_status: false,
        },
      ];
    },
    is_return() {
      return !!+this.$route.query.return_id;
    },
  },
  data() {
    return {
      tag: null,
      order_id: null,
      loaded_order: null,
      platforms: [],
      order_addr: {
        city: null,
        country: "US",
        name: null,
        phone: null,
        state: null,
        street: null,
        zip: null,
        company: null,
        email: null,
      },
      touched: false,
      shipping_via: "seller",
      parcel_inner: [],
      parcel_comment: null,
      ready_orders: null,
      shipping_type: null,
      parcel_dimensions: {
        parcel_width: null,
        parcel_height: null,
        parcel_length: null,
        parcel_weight: null,
      },
      loading: {
        dimensions: false,
        page: false,
        cost: false,
        shippingCost: false,
        carriers: false,
        types: false,
        files: false,
        address: false,
        ready_orders: false,
        sources: false,
      },
      carriers: null,
      order_source: null,
      extended_order: null,
      returns: null,
      current_return: null,
      additional_services: {
        gift_box: false,
        to_hands: false,
        insurance: null,
      },
      temp_shipment: null,
      saved_tags: null,
      save_comment: false,
      revalidators: {
        phone: false,
        email: false,
      },
      inner_customs_cost: 0,
      order_sum: null,
      return_label_id: null,
      invoices: [],
      loaded_invoices: null,
      order_loaded: false,
      order_type: null,
      ready_order_query: null,
      saved_addresses: null,
      from_address: null,
    };
  },
  filters: {
    formatDate(value) {
      return this.$date(value);
    },
  },
  watch: {
    parcel_inner: {
      deep: true,
      handler(val) {
        if (!val.length) return;

        let summ_weight = () => {
          let res = 0;

          val.forEach((item) => {
            res += item.weight * item.count;
          });

          return res || null;
        };

        if (val.length === 1) {
          let {
            height: parcel_height,
            width: parcel_width,
            length: parcel_length,
          } = this.parcel_inner[0];

          this.parcel_dimensions = {
            parcel_height,
            parcel_length,
            parcel_width,
            parcel_weight: summ_weight(),
          };
        }

        if (val.length > 1 || val.some((p) => p.count > 1)) {
          this.parcel_dimensions = {
            parcel_height: null,
            parcel_length: null,
            parcel_width: null,
            parcel_weight: summ_weight(),
          };
          return;
        }
      },
    },
    save_comment(state) {
      if (state) {
        localStorage.setItem("save_comment", +state);
      } else {
        localStorage.setItem("save_comment", +state);
        localStorage.removeItem("comment");
      }
    },
    async "order_addr.country"(country) {
      this.$store.dispatch("Info/GET_STATES", this.order_addr.country);
    },
    "order_addr.phone"(phone) {
      if (phone) {
        this.order_addr.phone = phone.replace(/\s+/g, "");
      }
    },
  },
  methods: {
    async getOrderSources() {
      this.loading.sources = true;
      try {
        const {
          data: { credentials },
        } = await this.$api.get(`/service/get-all-user-credentials`);

        this.platforms = credentials;

        if (localStorage.getItem("preferred_order_source")) {
          const preferred_order_source = JSON.parse(
            localStorage.getItem("preferred_order_source")
          );
          if (preferred_order_source) {
            this.order_source =
              this.platforms.find(
                ({ shop_name }) => shop_name === preferred_order_source.shop_name
              ) || null;
          }
        }
      } catch (e) {
        console.log(e);

        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            this.$tt("errors.load_data"),
        });
      } finally {
        this.loading.sources = false;
      }
    },
    changeType(type) {
      let save_address = { ...this.order_addr };

      this.resetState(false);
      this.shipping_type = type;

      this.restoreComment();

      if (this.$route.query.ref) {
        this.order_id = this.$route.query.ref;
      }

      // TODO: CALL ON DEMAND!
      this.getOrderSources();

      this.order_addr = { ...save_address };
    },
    async initReturnType({ parcels: [parcel] }) {
      this.shipping_type = "return_label";

      try {
        this.loading.page = true;

        this.return_label_id = parcel.parcel_id;

        let {
          parcel_address: street,
          parcel_city: city,
          parcel_state: state,
          parcel_country: country,
          parcel_receiver: name,
          parcel_phone: phone,
          parcel_zip: zip,
          parcel_company: company = null,
          parcel_email: email = null,
          order_id,
          parcel_width,
          parcel_height,
          parcel_length,
          parcel_weight,
        } = parcel;

        this.order_addr = {
          street,
          city,
          state,
          country,
          name,
          phone,
          zip,
          company,
          email,
          order_id: +order_id,
        };

        this.parcel_inner = parcel.products;
        this.order_id = +order_id;

        this.parcel_dimensions = {
          parcel_width,
          parcel_height,
          parcel_length,
          parcel_weight,
        };
      } catch (e) {
        console.log("e:", e);
      } finally {
        this.loading.page = false;
      }
    },
    async initReturnCreate() {
      this.loading.page = true;

      let params = {
        address: {
          country: this.order_addr.country,
          zip: this.order_addr.zip,
          street: this.order_addr.street,
          city: this.order_addr.city,
          name: this.order_addr.name,
          state: this.order_addr.state,
          phone: this.order_addr.phone,
          email: this.order_addr.email,
        },
        products: this.parcel_inner.map(({ product_id: id, count }) => ({
          id,
          count,
        })),
        dimensions: {
          height: this.parcel_dimensions.parcel_height,
          width: this.parcel_dimensions.parcel_width,
          length: this.parcel_dimensions.parcel_length,
        },
        total_weight: this.parcel_dimensions.parcel_weight,
        order_id: +this.order_id,
        type: this.shipping_type,
        id: this.return_label_id,
        is_v2: true,
      };

      this.submitShipment(params);
    },
    fillLastTag() {
      let tags = localStorage.getItem("tags");
      try {
        tags = JSON.parse(tags);

        tags && tags.length && (this.saved_tags = tags.reverse());
      } catch (e) {
        console.log("e:", e);
        this.$message({
          level: "info",
          title: this.$tt("errors.load_data"),
        });
      }
    },
    setSavedTag(tag) {
      this.tag = tag;
    },
    requireAddr() {
      return (
        this.shipping_type !== "svh"
        // this.shipping_type !== "consolidated_from_sender"
      );
    },
    scrollIntoErrorView(el = document.getElementsByClassName("q-field--error")) {
      setTimeout(() => {
        if (!el.length) return false;
        el[0].scrollIntoView({ block: "center", behavior: "smooth" });
      }, 0);
    },
    // TODO: IMPLEMENT THIS
    resetState(reset_type = false) {
      // ! SAVE:
      // ? tag && restore saved tags
      // ? ready_orders
      // ? shipping_type

      let save_orders = this.ready_orders;
      let saved_type = this.shipping_type;

      Object.assign(this.$data, this.$options.data.apply(this));

      if (reset_type) {
        this.shipping_type = null;
      } else {
        this.shipping_type = saved_type;
      }

      this.ready_orders = save_orders;
      this.order_addr.country = "US";

      if (localStorage.getItem("save_comment")) {
        this.save_comment = true;
      }

      this.getOrderSources();

      window.scrollTo(0, 0);
    },
    // TODO: IMPLEMENT THIS
    async prepareShipment() {
      let type = this.shipping_type;

      this.$v.$touch();

      if (type === "postcard") {
        if (!this.$v.$anyError) {
          if (!this.order_id || this.order_id.length < 7) {
            this.$message({
              level: "danger",
              title: this.$tt("pages.shipments.messages.check_order_number"),
            });
            return;
          } else if (!this.invoices || !this.invoices.length) {
            this.$message({
              level: "danger",
              title: this.$tt("pages.shipments.messages.check_invoices"),
            });
            return;
          }
        }
      }

      if (this.$v.$anyError) {
        this.scrollIntoErrorView();

        if (this.$v.order_addr && this.$v.order_addr.$anyError) {
          this.$message({
            level: "danger",
            title: this.$tt("errors.bad_data"),
          });
          Sentry.captureMessage("Failed to get shipping rates due to invalid data", {
            extra: {
              data: this.$v.order_addr,
            },
            level: "warning",
          });
          return;
        }

        if (this.$v.parcel_inner && this.$v.parcel_inner.$anyError) {
          this.$message({
            level: "danger",
            title: this.$tt("pages.shipments.messages.check_parcel_inner"),
          });
          return;
        }

        if (this.$v.parcel_dimensions && this.$v.parcel_dimensions.$anyError) {
          this.$message({
            level: "danger",
            title: this.$tt("pages.shipments.messages.check_dimesions"),
          });
          return;
        }

        // return;
      }

      if (this.parcel_comment && this.save_comment && this.shipping_type !== "postcard") {
        localStorage.setItem("comment", this.parcel_comment);
      }

      // GET PARCEL_INNER PRODUCTS
      let products = this.parcel_inner.map(({ product_id: id, count = 1 }) => {
          return { id, count };
        }),
        dimensions = {
          height: this.parcel_dimensions.parcel_height,
          width: this.parcel_dimensions.parcel_width,
          length: this.parcel_dimensions.parcel_length,
        };

      let SHIPMENT = {};
      const { company, ...address } = this.order_addr;

      switch (type) {
        case "svh":
          SHIPMENT = {
            products,
            dimensions,
            total_weight: this.parcel_dimensions.parcel_weight,
            is_v2: true,
          };
          break;

        case "client_bulk":
          SHIPMENT = {
            products,
            dimensions,
            total_weight: this.parcel_dimensions.parcel_weight,
          };
          break;

        case "usa_domestic":
          SHIPMENT = {
            address: this.order_addr,
            ...(this.current_return
              ? { return_shipping_id: this.current_return }
              : { products }),
            is_v2: true,
          };
          break;

        case "consolidated_from_sender":
          SHIPMENT = {
            products,
            dimensions,
            total_weight: this.parcel_dimensions.parcel_weight,
            is_v2: true,
            from_address_id: this.from_address.id,
          };
          break;

        case "postcard":
          SHIPMENT = {
            address: {
              ...address,
              ...(company && { company }),
            },
            is_v2: true,
          };
          break;

        default:
          SHIPMENT = {
            address: {
              ...address,
              ...(company && { company }),
            },
            products,
            dimensions,
            total_weight: this.parcel_dimensions.parcel_weight,
            is_v2: true,
          };

          break;
      }

      SHIPMENT["type"] = type;

      // Handle additional_services
      if (this.additional_services.to_hands) {
        SHIPMENT = {
          ...SHIPMENT,
          additional_services: { to_hands: true },
        };
      }

      // Handle tags
      if (this.tag) {
        let d = JSON.stringify([this.tag]),
          saved = localStorage.getItem("tags");

        if (!saved) {
          localStorage.setItem("tags", d);
        } else {
          let upd = JSON.parse(saved);
          if (!upd.includes(this.tag)) {
            upd.push(this.tag);

            localStorage.setItem("tags", JSON.stringify(upd));
          }
        }

        SHIPMENT = {
          ...SHIPMENT,
          tag: this.tag,
        };
      }

      if (this.parcel_comment && this.parcel_comment.length) {
        SHIPMENT = {
          ...SHIPMENT,
          parcel_comment: this.parcel_comment,
        };
      }

      // ! DO NOT TOUCH
      const data = Object.assign({}, this);

      // if (data.order_id === null || data.order_id === undefined || this.order_source) {
      if (!data.order_id || this.order_source) {
        SHIPMENT.order_id = 0;
      } else {
        SHIPMENT.order_id = +data.order_id;
      }
      // ! DO NOT TOUCH

      if (SHIPMENT.type === "svh") {
        const own_delivery = this.shipping_via === "customer";

        SHIPMENT = {
          ...SHIPMENT,
          additional_services: {
            ...SHIPMENT.additional_services,
            own_delivery,
          },
        };
      }

      this.loading.page = true;

      this.submitShipment(SHIPMENT);
    },
    async submitShipment({ is_v2, ...shipment }) {
      // ? ADD EXTERNAL ORDER INFO

      if (this.order_source) {
        if (this.order_source === "amazon") {
          shipment = {
            ...shipment,
            external_order: {
              order_id: String(this.order_id),
              market_type: this.order_source.shop_type,
            },
          };
        } else {
          shipment = {
            ...shipment,
            external_order: {
              order_id: String(this.order_id),
              market_type: this.order_source.shop_type,
              shop_id: this.order_source.shop_id,
            },
          };
        }
      }

      // ? ADD EXTERNAL ORDER INFO END

      let invoices;

      this.temp_shipment = {
        ...shipment,
      };

      try {
        invoices = await this.uploadFiles();

        this.temp_shipment = {
          ...this.temp_shipment,
          ...(invoices && invoices.length && { files: invoices }),
        };
      } catch (title) {
        this.$alert({
          level: "warning",
          title,
        });

        this.loading.page = false;

        return;
      }

      let route;

      if (is_v2) {
        if (this.shipping_type === "svh") {
          const {
            dimensions,
            products,
            total_weight,
            type,
            additional_services,
          } = this.temp_shipment;

          this.temp_shipment = {
            ...(this.shipping_via === "seller" && { dimensions }),
            products,
            total_weight,
            type,
            additional_services,
            ...(this.parcel_comment && { parcel_comment: this.parcel_comment }),
          };
        } else {
          const { address } = this.temp_shipment;

          this.temp_shipment = {
            ...this.temp_shipment,
            address,
          };
        }

        // was hardcoded `direct`: unset type in order to get both consolidation and direct
        if (this.temp_shipment.type === "direct") {
          let { type, ...params } = this.temp_shipment;
          this.temp_shipment = params;
        }

        route = `/v2/shipping/shipments/get-carriers`;

        this.$api
          .post(route, this.temp_shipment)
          .then(({ data }) => {
            if (!data || !data.length) {
              this.$alert({
                level: "danger",
                title: this.$tt("messages.rates_not_found"),
              });

              return;
            }

            if (this.shipping_type === "svh") {
              if (
                this.temp_shipment.additional_services &&
                this.temp_shipment.additional_services.own_delivery
              ) {
                this.confirmSvh(this.temp_shipment);
              } else {
                this.$q
                  .dialog({
                    parent: this,
                    component: () => import("./ConfirmRate.vue"),
                    rates: data[0],
                  })
                  .onOk(() => {
                    this.confirmSvh(this.temp_shipment);
                  })
                  .onCancel(() => {
                    this.$message({
                      title: "Действие отменено",
                      level: "warning",
                    });

                    this.loading.page = false;
                  });
              }

              return;
            }

            this.$q
              .dialog({
                parent: this,
                component: () => import("./TypesDialog"),
                types: data,
                loading: this.loading.types,
              })
              .onOk(async (carrier) => {
                // validate customs cost

                if (carrier.type === "direct") {
                  // ? CHECK RETURN
                  if (!this.return_label_id) {
                    if (this.order_sum && this.order_addr.country !== "US") {
                      if (
                        this.order_sum - carrier.delivery_rate >
                        this.inner_customs_cost
                      ) {
                        let c = await this.$confirm({
                          title: this.$t("pages.shipments.messages.prompt_difference", {
                            customs_cost: this.$toUSD(this.inner_customs_cost),
                            order_summ: this.$toUSD(this.order_sum),
                            delivery_rate: this.$toUSD(carrier.delivery_rate),
                            diff: this.$toUSD(
                              this.order_sum -
                                this.inner_customs_cost -
                                carrier.delivery_rate
                            ),
                          }),
                          width: 420,
                        });

                        if (!c) return false;
                      }
                    }
                  }
                }

                this.confirmCarrier(carrier);
              })
              .onCancel(() => {
                this.$message({
                  level: "warning",
                  title: "Действие отменено",
                });

                this.loading.page = false;
              });
          })
          .catch((e) => {
            console.log("e:", e);

            this.$showApiError(e, {
              fallbackMessage: this.$tt("errors.load_data"),
            });
          })
          .then(() => {
            this.loading.page = false;
            this.$store.dispatch("Finances/GET_BALANCE");
          });
      } else {
        // ! V1 !

        route = `/shipping/shipment`;

        this.loading.page = true;

        this.$api
          .post(route, shipment)
          .then(
            ({
              data: {
                shipments: [id],
              },
            }) => {
              let message,
                close = null,
                next = null;

              if (this.shipping_type === "svh") {
                // Для создания новой отправки можете перейти по <a href="/create-shipment.php">этой ссылке</a>
                // <a href='/shippings.php?print_id=${id}'>Распечатайте стикеры</a>
                message = `
                    ${this.$tt("pages.shipments.messages.success_go_shipments")}
                    ${this.$tt("pages.shipments.messages.success_print_stickers")}
                  `;
              } else if (this.shipping_type === "usa_domestic") {
                message = this.$tt("pages.shipments.messages.success_go_shipments");
              } else {
                message = `
                    ${this.$tt("pages.shipments.messages.success_go_shipments")}
                    <h3>
                      ${this.$tt("pages.shipments.messages.success_create_ttn")}
                    </h3>
                  `;
              }

              this.$alert({
                title: this.$tt("pages.shipments.messages.success_created_shipment"),
                message,
                level: "success",
                width: 630,
                actions: [
                  {
                    label: this.$tt("common.continue", 1),
                    action: () => {},
                    attributes: { flat: true },
                  },
                  {
                    label: `${this.$tt("common.print_stickers", 1)}`,
                    action: () =>
                      this.$router.push({
                        name: "SHIPMENTS_LIST",
                        params: { print_stickers_id: id },
                      }),
                  },
                ],
              });

              this.$v.$reset();

              shipment = undefined;

              if (this.is_return) {
                this.$router.push("/shipments/list");
              }
              this.current_return = null;

              this.resetState();
              window.scrollTo(0, 0);
            }
          )
          .catch((e) => {
            console.log("e:", e);

            this.$alert({
              title:
                this.$parseApiError(e).message ||
                this.$tt("pages.shipments.messages.shipment_not_created"),
              errors: this.$parseApiError(e).errors,
              level: "warning",
            });
          })
          .then(() => {
            this.loading.page = false;
            this.$store.dispatch("Finances/GET_BALANCE");
          });
      }
    },
    async confirmSvh(params) {
      try {
        this.loading.page = true;

        const {
          data: { id },
        } = await this.$api.post(`/v2/shipping/shipments/create`, params);

        this.$alert({
          title: this.$tt("pages.shipments.messages.success_created_shipment"),
          level: "success",
          actions: [
            {
              label: `${this.$tt("common.download", 1)} ${this.$tt(
                "common.stickers",
                1,
                2
              )}`,
              options: [
                {
                  label: "A4",
                  action: async () => {
                    this.onCompleteGetWarehouseStickers(id, "A4");
                  },
                },
                {
                  label: "A5",
                  action: async () => {
                    this.onCompleteGetWarehouseStickers(id, "A5");
                  },
                },
                {
                  label: "Термопринтер",
                  action: async () => {
                    this.onCompleteGetWarehouseStickers(id, "thermal");
                  },
                },
              ],
            },
            {
              label: this.$tt("common.continue", 1),
              attributes: {
                flat: true,
                color: "positive",
                class: "bg-green-1",
              },
            },
          ],
        });

        window.scrollTo(0, 0);

        // this.$refs["warehouse"].clearQueryFilter();

        this.resetState();

        this.loading.page = false;
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, {
          fallbackMessage: this.$tt("pages.shipments.messages.shipment_not_created"),
        });
        this.loading.page = false;
      } finally {
        this.loading.page = false;
        // this.loading.types = false;
      }
    },
    async confirmCarrier({ service_id, type, insurance = null }) {
      let REQUEST = {
        ...this.temp_shipment,
        type,
        service_id,
      };

      if (insurance) {
        REQUEST.additional_services = {
          ...REQUEST.additional_services,
          ...(insurance && { insurance: { id: insurance.id } }),
        };
      }

      try {
        this.loading.types = true;
        this.loading.page = true;

        const {
          data: { id },
        } = await this.$api.post(`/v2/shipping/shipments/create`, REQUEST);

        this.$refs["invoice-picker"] && this.$refs["invoice-picker"].reset();

        let actions = [];
        let title = this.is_return
          ? this.$tt("pages.shipments.messages.return_created")
          : this.$tt("pages.shipments.messages.success_created_shipment");
        let level = "success";
        let message = null;

        if (
          this.shipping_type === "direct" ||
          this.shipping_type === "consolidation_usa"
        ) {
          message = this.$tt("pages.shipments.messages.on_success_create_ttn");
          // При создании ТТН Новой Почты через наш личный кабинет - доставка посылок до 5 кг - <b>бесплатно</b>

          actions = [
            {
              label: this.$tt("pages.shipments.messages.go_to_shipments"),
              action: () => {
                this.$router.push(`/shipments/list`);
              },
            },
            {
              // label: "Печать стикеров",
              label: `${this.$tt("common.print_stickers", 1)}`,
              attributes: {
                class: ["bg-primary text-white"],
              },
              options_description: `${this.$tt("common.pick", 1)} формат`,
              options: [
                {
                  label: "A4",
                  code: "PRINT_A4",
                  action: async () => this.onCompleteGetStickers(id, "A4"),
                },
                {
                  label: "A5",
                  code: "PRINT_A5",
                  action: async () => this.onCompleteGetStickers(id, "A5"),
                },
                {
                  label: "Термопринтер",
                  code: "PRINT_thermal",
                  action: async () => this.onCompleteGetStickers(id, "thermal"),
                },
              ],
            },
            {
              label: this.$tt("pages.shipments.messages.create_ttn"),
              attributes: {
                class: ["bg-blue-7 text-white"],
              },
              action: () => {
                this.onCompleteCreateTrack(id);
              },
            },
          ];
        }

        if (this.is_return) {
          this.$router.push("/shipments/list");
        }

        this.$alert({
          title,
          level,
          actions,
          message,
          minWidth: 777,
        });

        // this.$refs["warehouse"].clearQueryFilter();

        window.scrollTo(0, 0);

        this.resetState();
      } catch (e) {
        console.log("e:", e);

        if (e && e.response && e.response.status === 422) {
          Object.keys(e.response.data.errors).forEach((errorKey) => {
            this.revalidators[errorKey] = true;
          });

          this.$v.$touch();

          this.$alert({
            title: this.$tt("errors.bad_data"),
            level: "warning",
            errors: Object.values(e.response.data.errors).flat(),
          });

          this.scrollIntoErrorView();
        } else {
          this.$showApiError(e, {
            fallbackMessage: this.$tt("pages.shipments.messages.shipment_not_created"),
          });
        }
      } finally {
        this.loading.page = false;
        this.loading.types = false;
      }
    },
    onCompleteGetWarehouseStickers(shipment_id, print_format) {
      return new Promise(async (done, fail) => {
        try {
          let data = await this.$store.dispatch("Shipments/GET_WAREHOUSE_STICKERS", {
            shipment_id,
            print_format,
          });

          let blob = new Blob([data]);
          let ext = print_format === "thermal" ? "pdf" : "html";
          let filename = `stickers-${new Date().getTime()}.${ext}`;

          if (navigator.msSaveBlob) {
            navigator.msSaveBlob(blob, filename);
          } else {
            const link = document.createElement("a");
            if (link.download !== undefined) {
              const url = URL.createObjectURL(blob);
              link.setAttribute("href", url);
              link.setAttribute("download", filename);
              link.style.visibility = "hidden";
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
            }
          }

          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });

          fail();
        }
      });
    },
    onCompleteGetStickers(id, format) {
      return new Promise(async (done, fail) => {
        try {
          const { data: stickers } = await this.$api({
            method: "POST",
            url: `/v2/shipping/shipments/get-stickers`,
            data: { shipment_ids: [id], format },
            responseType: "arraybuffer",
          });

          this.$q.dialog({
            parent: this,
            component: () => import("@/components/_ui/DocumentViewer"),
            document: stickers,
          });

          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
          fail();
        }
      });
    },
    async onCompleteCreateTrack(id) {
      try {
        let {
          data: { shipment },
        } = await this.$api.get(`/shipping/shipment/${id}/`);

        this.$router.push({
          name: "PROCESS_SHIPMENTS",
          query: { action: "create_track" },
          params: { shipments: [shipment] },
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      }
    },
    async loadOrders() {
      const params = {
        orderType: "sell",
        filterState: ["MONEY_COME"],
        orderBy: "order_id_desc",
      };

      let url = `/orders`;

      if (this.order_source) {
        if (this.order_source.shop_type === "amazon") {
          url += `/${this.order_source.shop_type}/${this.order_source.shop_name}`;
        } else {
          url += `/${this.order_source.shop_type}/${this.order_source.shop_id}`;
        }
      }

      try {
        this.loading.ready_orders = true;

        let { data } = await this.$api.post(url, params);

        if (data.orders && data.orders.length) {
          this.ready_orders = data.orders;
        } else {
          this.$message({
            title: this.$tt("pages.shipments.messages.orders_not_found"),
            level: "warning",
          });
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.ready_orders = false;
      }
    },
    addInParcel(product) {
      if (Array.isArray(product)) {
        let inner_ids = this.parcel_inner.map((p) => p.product_id);
        let double_ids = this.parcel_inner
          .filter((p) => inner_ids.includes(p.product_id))
          .map((p) => p.product_id);
        let without_doubles = product.filter((p) => !double_ids.includes(p.product_id));

        without_doubles.forEach((p) => {
          this.$set(p, "count", 1);
        });

        this.parcel_inner.push(...without_doubles);

        this.$message(
          {
            title: this.$tt("pages.shipments.messages.category_products_was_added"),
            level: "success",
          },
          2500
        );
      } else {
        let double = this.parcel_inner.find((row) => {
          return row.product_id === product.product_id;
        });

        if (double) {
          double.count += 1;
        } else {
          this.$set(product, "count", product.count || 1);
          this.parcel_inner.push(product);
        }

        this.$message(
          {
            title: this.$tt("pages.shipments.messages.product_added"),
            level: "success",
            // position: "center",
          },
          1400
        );
      }
    },
    addCategoryProducts(products) {
      products.forEach((product) => this.addInParcel(product));
    },
    clearParcelInner() {
      this.parcel_inner = [];
      this.parcel_dimensions = {
        parcel_height: null,
        parcel_length: null,
        parcel_weight: null,
        parcel_width: null,
      };
    },
    removeItem(product_id) {
      let idx = this.parcel_inner.findIndex((prod) => {
        return prod.product_id === product_id;
      });

      this.parcel_inner.splice(idx, 1);

      if (!this.parcel_inner || !this.parcel_inner.length) {
        this.parcel_dimensions = {
          parcel_height: null,
          parcel_length: null,
          parcel_weight: null,
          parcel_width: null,
        };
      }
    },
    storeShipment(data) {
      // alert("V1");
      this.loading.page = true;

      this.$api
        .post(`/shipping/shipment`, data)
        .then((resp) => {
          let message = "";

          if (this.shipping_type === "svh") {
            // Для создания новой отправки можете перейти по <a href="/create-shipment.php">этой ссылке</a>
            message = this.$tt("pages.shipments.messages.success_go_shipments");
          } else {
            message = `
                ${this.$tt("pages.shipments.messages.success_go_shipments")}
                <h3>
                  ${this.$tt("pages.shipments.messages.success_create_ttn")}
                </h3>
              `;
          }

          this.$alert({
            title: this.$tt("pages.shipments.messages.success_created_shipment"),
            message,
            level: "success",
            next: {
              text: this.$tt("common.continue"),
              href: "/shippings.php?create_ttn=1",
            },
          });
          this.$v.$reset();
          this.resetState();
        })
        .catch((e) => {
          console.log("e:", e);

          this.$showApiError(e, {
            fallbackMessage: this.$tt("pages.shipments.messages.shipment_not_created"),
          });
        })
        .then(() => {
          this.loading.parcel = false;
        });
    },
    async handleType(e) {
      this.resetState();
      this.order_addr.country = "US";
      this.shipping_type = e;
      this.current_return = null;
      this.$v.$reset();

      if (this.shipping_type === "consolidated_from_sender") {
        try {
          const records = await this.$store.dispatch("Addresses/GET_ADDRESSES");

          this.saved_addresses = records;
        } catch (e) {
          const { message: title, errors = null } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title,
            errors,
          });
        } finally {
        }
      }
    },
    setReadyOrder() {
      this.order_id = this.loaded_order.orderID;
      this.onLoadOrder();
    },
    async onLoadOrder() {
      try {
        this.loading.address = true;

        const FillAddress = (address) => {
          let {
            country = null,
            zip = null,
            street = null,
            city = null,
            name = null,
            state = null,
            phone = null,
            email = null,
          } = address;

          !!country && (this.order_addr.country = country);
          !!zip && (this.order_addr.zip = zip);
          !!street && (this.order_addr.street = street);
          !!city && (this.order_addr.city = city);
          !!name && (this.order_addr.name = name);
          !!state && (this.order_addr.state = state);
          !!phone && (this.order_addr.phone = phone);
          !!email && (this.order_addr.email = email);
        };

        const CheckDoubles = async (parcels) => {
          if (parcels && parcels.length) {
            let c = await this.$confirm({
              title: this.$tt("pages.shipments.messages.double_order_error"),
              message: this.$tt("common.continue") + " ?",
            });

            if (!c) return false;
          }
        };

        if (this.order_source) {
          let { data } = await this.$api.get(
            `/shipping/get_address_by_order/${this.order_id}/${
              this.order_source.shop_type
            }${
              this.order_source.shop_type !== "amazon"
                ? `/${this.order_source.shop_id}`
                : ""
            }`
          );

          CheckDoubles(data.parcels_with_same_order);

          FillAddress(data.address);

          data.order_sum && (this.order_sum = data.order_sum);

          data.order_type && (this.order_type = data.order_type);

          if (data.extended) {
            this.extended_order = data.extended;
          }

          if (
            data.order_type === "ebay" &&
            data.order_id &&
            data.order_id !== this.order_id
          ) {
            this.order_id = data.order_id;
          }
        } else {
          let { data } = await this.$api.get(
            `/shipping/get_address_by_order/${this.order_id}`
          );

          CheckDoubles(data.parcels_with_same_order);

          FillAddress(data.address);

          this.extended_order = data.extended;

          this.order_sum = data.order_sum;

          if (data.sol_order_id) {
            this.order_id = +data.sol_order_id;
          }
        }

        this.$message({
          title: this.$tt("pages.shipments.messages.address_loaded"),
          level: "success",
        });

        this.order_loaded = true;
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.address = false;
      }
    },
    async useReturns() {
      this.loading.page = true;

      try {
        let {
          data: { return_shipments },
        } = await this.$api.get(`/shipping/return_shipment?slice=create_shipment`);

        this.returns = return_shipments;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading.page = false;
      }
    },
    handleInvoiceUpload(event) {
      let input = event.target;
      let files = input.files;
      let files_array = Array.from(files);
      let accepted_formats = ["image/jpeg", "image/png", "application/pdf"];
      let valid_files_type = files_array.every((f) => {
        return accepted_formats.includes(f.type);
      });

      if (
        this.invoices.length >= 5 ||
        files_array.length > 5 ||
        this.invoices.length + files_array.length > 5
      ) {
        this.$alert({
          level: "warning",
          title: this.$tt("pages.shipments.messages.invoices_count_warning"),
        });

        return;
      }

      if (!valid_files_type) {
        this.$alert({
          level: "warning",
          title: this.$tt("pages.shipments.messages.invoice_format_warning"),
        });
        return;
      }

      this.invoices.push(...Array.from(files));
    },
    removeInvoice(idx) {
      this.invoices.splice(idx, 1);
    },
    async uploadFiles() {
      return new Promise(async (ok, fail) => {
        const uploads = Array.from(this.invoices).map((f) => {
          let fd = new FormData();

          fd.append("file", f);

          return this.$api.post(`maintenance/upload`, fd, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          });
        });

        try {
          const uploadResult = await Promise.all(uploads);

          let failedUploads = uploadResult.filter((r) => r.status === "rejected");

          if (failedUploads && failedUploads.length) {
            fail(this.$tt("errors.save_data"));
            this.loading.page = false;
          }

          let result = uploadResult.map(({ data: { filename } }) => filename);

          ok(result);
        } catch (error) {
          fail(
            error && error.response && error.response.data && error.response.data.message
          );
          this.loading.page = false;
        }
      });
    },
    getUserFiles(files) {
      this.invoices.push(...files);
    },
    handleRemoveDocument(index, componentScopeDeleteFunction) {
      this.invoices.splice(index, 1);
      componentScopeDeleteFunction();
    },
    async getStickers(print_format) {
      let products = {};

      this.parcel_inner.forEach(({ product_id, count }) => {
        products[product_id] = count;
      });

      try {
        const { data } = await this.$api({
          url: "/shipping/print-warehouse-product-stickers",
          method: "POST",
          responseType: "arraybuffer",
          data: {
            products,
            print_format,
          },
        });

        let blob = new Blob([data]);
        let ext = print_format === "thermal" ? "pdf" : "html";
        let filename = `stickers-${new Date().getTime()}.${ext}`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          const link = document.createElement("a");
          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      }
    },
    onOrderSourceChange(val) {
      localStorage.setItem("preferred_order_source", JSON.stringify(val));
    },
    restoreComment() {
      let commentWasSaved =
        (localStorage.getItem("save_comment") &&
          Boolean(+localStorage.getItem("save_comment"))) ||
        false;

      this.save_comment = commentWasSaved;

      if (commentWasSaved) {
        let comment = localStorage.getItem("comment");

        if (comment && comment.length) {
          this.parcel_comment = comment;
        }
      }
    },
    getExtOrderOption(order) {
      let text = `№${order.orderID}`;
      if (order.date) {
        text += ` | ${order.date}`;
      }
      if (order.country) {
        text += ` | ${order.country}`;
      }
      text += ` | ${order.buyerName || "Unknown buyer"}`;
      if (order.buyerEmail) {
        text += ` | ${order.buyerEmail}`;
      }

      return text;
    },
  },
  validations() {
    const order_addr = {
      city: {
        required,
      },
      email: {
        required: requiredIf(function() {
          return this.shipping_type === "direct" && this.revalidators.email;
        }),
      },
      country: {
        required,
      },
      name: {
        required,
      },
      state: {
        required: requiredIf(function() {
          return this.order_addr.country === "US" || this.order_addr.country === "CA";
        }),
      },
      street: {
        required,
      },
      zip: {
        required,
      },
      phone: {
        required: requiredIf(function() {
          if (this.revalidators.phone) {
            return true;
          }
          return false;
        }),
        ...(this.revalidators.phone && {
          minLength: minLength(10),
        }),
        ...(this.order_addr.phone && {
          phoneValidator,
        }),
      },
    };

    let dimensions_rules = {
      parcel_dimensions: {
        parcel_width: {
          required,
          minValue: minValue(1),
        },
        parcel_height: {
          required,
          minValue: minValue(1),
        },
        parcel_length: {
          required,
          minValue: minValue(1),
        },
        parcel_weight: {
          required,
        },
      },
    };

    let common_rules = {
      parcel_comment: {
        maxLength: maxLength(500),
      },

      parcel_inner: {
        required: requiredIf(function() {
          return !this.current_return;
        }),
        minLength: minLength(1),
      },
    };

    const rules = {
      direct: {
        order_addr,
        ...common_rules,
        ...dimensions_rules,
      },
      svh: {
        ...common_rules,
        // ...dimensions_rules,
        ...(this.shipping_via === "seller" && { ...dimensions_rules }),
      },
      usa_domestic: {
        order_addr,
        ...common_rules,
      },
      consolidated_from_sender: {
        ...common_rules,
        from_address: {
          required,
        },
      },
      return_label: {
        ...common_rules,
        order_addr,
        ...dimensions_rules,
      },
      consolidation_usa: {
        order_addr,
        ...common_rules,
        ...dimensions_rules,
      },
      postcard: {
        order_addr,
        parcel_comment: {
          maxLength: maxLength(500),
        },
      },
    };

    return rules[this.shipping_type];
  },
};
</script>
<style lang="scss">
.create-shipment {
  .q-banner {
    border-radius: 3px;
  }

  &__section {
    margin-bottom: 49px;

    h4 {
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 24px;
      // color: $accent;
      line-height: 1.4;
    }
  }

  .order-data {
    &__info {
      display: flex;
      flex-wrap: nowrap;
    }

    &__source {
      width: 180px;
      margin-right: 14px;
    }

    &__id {
      flex-grow: 1;
      margin-right: 14px;
    }

    &__actions {
      display: flex;

      .app-btn {
        flex-shrink: 0;
        margin-right: 7px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .address-data {
    .q-field--with-bottom {
      padding-bottom: 0 !important;
    }

    .app-input {
      .q-field__bottom {
        display: none;
      }
    }
  }

  .documents-data {
    .q-uploader__list {
      min-height: 0;
      padding: 0;
    }
    .q-field__control {
      height: 77px;
    }
    .q-field__inner {
      background-color: $blue-1;
    }
  }
}
</style>
