<template>
  <PageContainer :title="$tt('nav.shipments.replenishment.title')">
    <with-loading :state="loading" />
    <div class="refill">
      <div class="container">
        <div class="refill__amount q-mb-lg" style="max-width:420px">
          <app-input v-model.number="amount" suffix="USD" size="xl" label="Сумма пополнения" :dense="false" />
        </div>

        <!--  -->

        <div class="refill__methods">
          <q-card>
            <q-list v-if="methods && methods.length" separator>
              <q-item-label header>Методы пополнения счёта</q-item-label>
              <q-item v-for="(m, idx) in methods" :key="idx">
                <q-item-section avatar>
                  <q-img width="140px" :src="`data:image;base64,${m.image}`" contain />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ m.title }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-btn @click="selectMethod(m.code)" color="primary" :disable="!amount">
                    Пополнить&nbsp;
                    <span v-if="amount">
                      на <b>{{ amount }}</b> USD</span
                    >
                  </q-btn>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      methods: null,
      amount: null,
      loading: false,
    };
  },
  mounted() {
    this.getMethods();
  },

  methods: {
    getMethods() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          const {
            data: { methods, amount },
          } = await this.$api.get(`/payments/pay_money`);

          this.methods = methods;
          this.amount = amount;
        } catch (e) {
          console.log(e);

          const { message: title, errors } = this.$parseApiError(e);

          this.$alert({ level: "danger", title, errors });
        } finally {
          this.loading = false;
        }
      });
    },
    async selectMethod(invoice_module) {
      try {
        this.loading = true;

        const { data: bill_info } = await this.$api.post(`/payments/pay_money`, {
          amount: this.amount,
          invoice_module,
        });

        this.$router.push({
          name: "MONEY_IN_CHECKOUT",
          params: {
            bill_info,
          },
        });
      } catch (e) {
        console.log("e:", e);

        let { message: title, errors } = this.$parseApiError(e);

        this.$alert({ level: "danger", title, errors });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style></style>
