<template>
  <q-dialog position="top" ref="change-country">
    <q-card style="min-width:420px">
      <q-card-section>
        <app-select
          :option-label="(opt) => opt && opt.name"
          :option-value="(opt) => opt && opt.id"
          map-options
          emit-value
          :options="[
            {
              name: $tt('common.not_specified', 1),
              id: null,
            },
            ...countries,
          ]"
          :label="$tt('common.country', 1)"
          v-model="country"
          :error="$v.country.$anyError"
        >
        </app-select>
      </q-card-section>
      <q-card-section>
        <app-list
          :error="$v.files.$anyError && 'Загрузите подтверждающие документы'"
          header="Подтверждающие документы"
        >
          <div v-if="!files.length">
            <q-item>
              <q-item-section>
                <q-item-label>
                  <small class="text-muted block">
                    {{ $tt("errors.no_data", 1) }}
                  </small>
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div v-else>
            <q-item v-for="(f, idx) in files" :key="idx">
              <q-item-section>
                <q-item-label>
                  {{ f.name }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label>
                  <q-btn
                    @click="removeFile(idx)"
                    round
                    flat
                    dense
                    icon="close"
                    color="negative"
                  ></q-btn>
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <q-item>
            <q-item-section>
              <q-item-label>
                <input @change="handleFiles" type="file" hidden multiple ref="pick-files" />
                <app-btn
                  size="11px"
                  color="accent"
                  @click="
                    () => {
                      $refs['pick-files'].click();
                    }
                  "
                  class="full-width"
                >
                  <q-icon name="attachment" class="q-mr-sm"></q-icon>
                  <!-- Выбрать файлы -->
                  {{ $tt("common.pick", 1) }}
                  {{ $tt("common.file", 0, 2) }}
                </app-btn>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn flat @click="hide">
            {{ $tt("common.cancel") }}
          </app-btn>
          <app-btn color="primary" @click="save">
            {{ $tt("common.save") }}
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";

export default {
  props: {
    countries: Array,
  },
  data() {
    return {
      files: [],
      country: null,
    };
  },
  methods: {
    show() {
      this.$refs["change-country"].show();
    },
    hide() {
      this.$refs["change-country"].hide();
    },
    handleFiles(event) {
      this.files.push(...Array.from(event.target.files));

      this.$refs.value = null;
    },
    removeFile(idx) {
      this.files.splice(idx, 1);
    },
    save() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({ title: this.$tt("messages.fill_req_fields"), level: "warning" });

        return;
      }

      this.$emit("ok", { country_code: this.country, files: this.files });
    },
  },
  validations() {
    return {
      files: {
        required,
        minLength: minLength(1),
      },
      country: {
        required,
      },
    };
  },
};
</script>
