<template>
  <PageContainer :loading="loading" :title="$tt('common.personal_info')">
    <div class="container">
      <with-transition :state="!!(user && _user)">
        <div v-if="_user && user">
          <div class="flex-center-between" :class="$q.screen.xs && 'flex column'">
            <div class="flex items-center" :class="$q.screen.xs && 'flex no-wrap'">
              <q-avatar color="primary" size="70px" text-color="white" class="q-mr-md">
                <span style="font-size: 28px">{{ userInitials || null }}</span>
              </q-avatar>
              <div>
                <div class="flex items-center" style="font-size: 32px; font-weight: 300">
                  <div>
                    {{ user.fname }}
                    <span v-if="user.mname"> {{ user.mname }}</span>
                    {{ user.lname }}
                  </div>
                  <q-icon
                    v-if="_user.ext && _user.ext.trusted"
                    size="28px"
                    color="orange"
                    class="q-ml-md"
                    name="verified"
                  >
                    <q-tooltip>
                      {{ $tt("common.trusted_seller") }}
                    </q-tooltip>
                  </q-icon>
                </div>
                <div style="font-size: 14px" class="text-grey-7">
                  {{ _user.email }}
                </div>
              </div>
            </div>

            <app-btn
              :class="$q.screen.xs && 'q-my-md full-width'"
              v-if="!edit"
              :to="{ name: 'ACCOUNT_EDIT' }"
              color="primary"
            >
              <q-icon name="edit" size="17px" class="q-mr-sm" />
              <!-- Изменить -->
              {{ $tt("common.edit", 1) }}
            </app-btn>
            <div :class="$q.screen.xs && 'q-my-md q-mt-lg'" v-else>
              <app-btn to="/account" flat color="red" class="q-mr-md">
                {{ $tt("common.cancel", 1) }}
              </app-btn>
              <app-btn @click="saveAccountChanges({})" color="primary">
                {{ $tt("common.save", 1) }}
                {{ $tt("common.changes", 1, 2) }}
              </app-btn>
            </div>
          </div>

          <app-list :header="$tt('common.personal_info')" separator class="q-my-xl">
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Фамилия -->
                  {{ $tt("common.lastname", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input v-if="edit" v-model="user.lname" :error="$v.user.lname.$anyError" />
                <div v-else>{{ _user.lname }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Имя -->
                  {{ $tt("common.name", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  v-model="user.fname"
                  :error="$v.user.fname.$anyError"
                ></app-input>
                <div v-else>{{ _user.fname }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Отчество -->
                  {{ $tt("common.middlename", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  v-model="user.mname"
                  :error="$v.user.mname.$anyError"
                ></app-input>
                <div v-else>{{ _user.mname }}</div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Дата рождения -->
                  {{ $tt("common.dob", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <date-picker v-if="edit" v-model="user.dob" />

                <div v-else>
                  {{ $date(_user.dob) }}
                </div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  Email
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  v-model="user.email"
                  :error="$v.user.email.$anyError"
                ></app-input>
                <div v-else>{{ _user.email }}</div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  {{ $tt("common.phone", true) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  v-model="user.phone"
                  :error="$v.user.phone.$anyError"
                ></app-input>
                <div v-else>{{ _user.phone }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Дата регистрации -->
                  {{ $tt("common.reg_date", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                {{ _user.ext && _user.ext.created && $date(_user.ext.created) }}
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Язык интерфейса -->
                  {{ $tt("common.ui_lang", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <div>
                  <lang-switcher />
                </div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  {{ $tt("common.user_type", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-select
                  v-if="edit"
                  :options="user_types"
                  :label="$tt('pages.register.pick_user_type', 1)"
                  emit-value
                  v-model="user.user_type"
                  map-options
                  transition-show="jump-down"
                  transition-hide="jump-up"
                ></app-select>
                <div v-else-if="user.user_type">
                  {{ user_types.find((t) => t.value === user.user_type).label }}
                </div>
                <small v-else class="text-muted">
                  {{ $tt("errors.no_specified") }}
                </small>
              </q-item-section>
            </q-item>
            <transition-group
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
              appear
            >
              <q-item
                key="company-name-item"
                v-if="
                  (user.user_type && user.user_type === 'entity') ||
                    user.user_type === 'self_employed'
                "
              >
                <q-item-section class="text-grey-7">
                  <q-item-label>
                    <!-- Название компании -->
                    {{ $tt("common.company", 1) }}
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <app-input v-if="edit" v-model="user.company_name"></app-input>
                  <div v-else>
                    {{ user.company_name || $tt("errors.no_specified") }}
                  </div>
                </q-item-section>
              </q-item>
              <q-item
                key="int-item"
                v-if="
                  user.user_type &&
                    (user.user_type === 'individual' || user.user_type === 'self_employed')
                "
              >
                <q-item-section class="text-grey-7">
                  <q-item-label>
                    <!-- ИНН -->
                    {{ $tt("common.tax_number") }}
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <app-input v-if="edit" v-model="user.itn" :label="$tt('common.itn')"></app-input>
                  <div v-else>
                    {{ user.itn || $tt("errors.no_specified") }}
                  </div>
                </q-item-section>
              </q-item>
              <q-item key="psrn-item" v-if="user.user_type && user.user_type === 'entity'">
                <q-item-section class="text-grey-7">
                  <q-item-label>
                    {{ $tt("pages.register.psrn") }}
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <app-input
                    v-model="user.psrn"
                    :label="$tt('pages.register.psrn')"
                    v-if="edit"
                  ></app-input>
                  <div v-else>
                    {{ user.psrn || $tt("errors.no_specified") }}
                  </div>
                </q-item-section>
              </q-item>
            </transition-group>
          </app-list>

          <app-list separator header="Адрес" class="q-my-xl">
            <q-item>
              <!-- <q-tooltip>1</q-tooltip> -->
              <q-item-section class="text-grey-7">
                <q-item-label>
                  {{ $tt("common.country", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <div class="flex-center-between">
                    <div class="flex items-center">
                      <app-flag class="q-mr-xs" :country="_user.country_iso"></app-flag>
                      <div class="line-height1">
                        {{ user_country }}
                      </div>
                    </div>
                    <app-btn @click="changeCountry" size="11px">
                      {{ $tt("common.change") }}
                    </app-btn>
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  <!-- Город -->
                  {{ $tt("common.city", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  :error="$v.user.city.$anyError"
                  v-model="user.city"
                ></app-input>
                <div v-else>{{ _user.city }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  {{ $tt("common.zip", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  :error="$v.user.zip.$anyError"
                  v-model="user.zip"
                ></app-input>
                <div v-else>{{ _user.zip }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                <q-item-label>
                  {{ $tt("common.address", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <app-input
                  v-if="edit"
                  v-model="user.address"
                  :error="$v.user.address.$anyError"
                ></app-input>
                <div v-else>{{ _user.address }}</div>
              </q-item-section>
            </q-item>
          </app-list>

          <div class="flex justify-end">
            <app-btn
              :class="$q.screen.xs && 'q-my-md full-width'"
              v-if="!edit"
              :to="{ name: 'ACCOUNT_EDIT' }"
              color="primary"
            >
              <q-icon name="edit" size="17px" class="q-mr-sm" />
              <!-- Изменить -->
              {{ $tt("common.edit", 1) }}
            </app-btn>
            <div v-else>
              <app-btn to="/account" flat color="red" class="q-mr-md">
                {{ $tt("common.cancel", 1) }}
              </app-btn>
              <app-btn @click="saveAccountChanges({})" color="primary">
                {{ $tt("common.save", 1) }}
              </app-btn>
            </div>
          </div>
        </div>
      </with-transition>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import LangSwitcher from "@/components/LangSwitcher";

export default {
  name: "PersonalAccount",
  components: {
    "lang-switcher": LangSwitcher,
  },
  props: {
    edit: {
      type: Boolean,
      default: false,
    },
  },
  async beforeRouteLeave(to, from, next) {
    if (to.meta.validate_account) {
      await this.$store.dispatch("auth/GET_USER");

      if (!this.$store.getters["auth/valid_profile"]) {
        this.invalidAccountNotify();
      }
      next();
    } else {
      next();
    }
  },
  async mounted() {
    let route_message = (this.$route.params && this.$route.params.message) || null;

    if (route_message) {
      this.invalidAccountNotify();
    }

    this.a_countries = await this.$store.dispatch("Info/GET_REG_COUNTRIES");

    this.loading = true;

    await this.$store.dispatch("auth/GET_USER");

    this.loading = false;

    this.user = { user_type: null, itn: null, psrn: null, ...this._user };
  },
  data() {
    return {
      user: null,
      a_countries: [],
      user_types: [
        {
          label: this.$tt("common.individual", 1),
          value: "individual",
        },
        {
          label: this.$tt("pages.register.flp", 1),
          value: "self_employed",
        },
        {
          label: this.$tt("pages.register.lcc", 1),
          value: "entity",
        },
      ],

      loading: false,
    };
  },
  computed: {
    _user() {
      return this.$store.state.auth.user;
    },
    userInitials() {
      let N = (this._user && this._user.fname && this._user.fname.split("")[0]) || "";
      let L = (this._user && this._user.lname && this._user.lname.split("")[0]) || "";

      return `${N}${L}`;
    },
    countries() {
      return this.$store.getters["Info/countries"];
    },
    user_country() {
      let country_name =
        this.countries &&
        this.countries.find((c) => c.value.toLowerCase() === this._user.country_iso.toLowerCase());

      return (country_name && country_name.label) || this._user.country_iso;
    },
  },
  methods: {
    invalidAccountNotify() {
      let route_message =
        (this.$route.params && this.$route.params.message) ||
        this.$tt("messages.actual_data_need");

      let errors = [];

      if (!this.$store.state.auth.user) return;

      if (!this.$store.state.auth.user.user_type) {
        errors.push(this.$tt("pages.register.pick_user_type", 1));
      }

      if (!this.$store.state.auth.user.itn || !this.$store.state.auth.user.psrn) {
        errors.push(
          `${this.$tt("common.provide", 1)} ${this.$tt("common.itn")}/${this.$tt(
            "pages.register.psrn"
          )}`
        );
      }

      this.$alert({
        level: "info",
        title: route_message || this.$tt("messages.actual_data_need", 1),
        message: this.$tt("messages.provide_missing_info", 1),
        actions: [
          {
            label: this.$tt("common.make_changes", 1),
            to: "/account/edit",
          },
        ],
        errors,
        closeText: this.$tt("common.close", 1),
      });
    },
    async saveAccountChanges(params) {
      this.$v.user.$touch();

      if (this.$v.user.$anyError) {
        this.$message({
          title: this.$tt("messages.fill_req_fields"),
          level: "warning",
        });
        return;
      }

      this.loading = true;

      let { country_iso, acl, main_account, vars, ext, user_type, ...user } = this.user;

      try {
        await this.$api.put(`/user`, {
          ...user,
          user_type,
          ...params,
        });

        this.$message({
          level: "success",
          title: this.$tt("messages.changes_saved", 1),
        });

        this.$router.push("/account");
      } catch (e) {
        console.log("e:", e);
        if (e.response.status === 403) {
          let { message, signature, method } = e.response.data;

          this.$message({
            level: "warning",
            title: method,
            caption: message,
          });

          try {
            const key = await this.confirmOTP(e.response.data);

            this.saveAccountChanges({
              "2fa_key": key,
              ...(signature && { "2fa_sign": signature }),
            });
          } catch (e) {
            console.log(e);
          } finally {
            this.loading = false;
          }
        } else {
          this.$showApiError(e, {
            fallbackMessage: this.$tt("errors.update", 1),
          });
        }
      } finally {
        await this.$store.dispatch("auth/GET_USER");

        this.loading = false;
      }
    },
    confirmOTP({ message, method }) {
      return new Promise((done, fail) => {
        try {
          this.$q
            .dialog({
              parent: this,
              component: () => import("@/components/PromptOTP"),
              message,
              method,
            })
            .onOk(({ key }) => {
              done(key);
            })
            .onCancel(() => {
              this.$message({
                level: "warning",
                title: this.$tt("common.operation_canceled", 1),
              });
              fail();
            });
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    changeCountryRequest(params) {
      return new Promise(async (done, fail) => {
        try {
          await this.$api.put("/user/country", { ...params });

          this.$message({ title: this.$tt("pages.register.request_received"), level: "success" });

          done();
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    changeCountry() {
      let ChangeCountry = this.$q
        .dialog({
          parent: this,
          component: () => import("./ChangeCountry.vue"),
          countries: this.a_countries,
        })
        .onOk(async ({ files, country_code }) => {
          this.loading = true;

          let params = { country_code };

          try {
            let UploadFiles = files.map((f) => this.$store.dispatch("Service/UPLOAD_FILE", f));
            let filenames = await Promise.all(UploadFiles);

            params["filenames"] = filenames;

            await this.changeCountryRequest(params);

            ChangeCountry.hide();

            await this.$store.dispatch("auth/GET_USER");
          } catch (e) {
            if (e.response.status === 403) {
              const key = await this.confirmOTP(e.response.data);

              let { signature } = e.response.data;

              const auth_params = {
                "2fa_key": key,
                ...(signature && { "2fa_sign": signature }),
              };

              try {
                await this.changeCountryRequest({
                  ...params,
                  ...auth_params,
                });

                // ChangeCountry.hide();
              } catch (e) {
                this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
              } finally {
                ChangeCountry.hide();
              }
            } else {
              this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
            }
          } finally {
            ChangeCountry.hide();

            this.loading = false;
          }
        });
    },
    getCountryName() {
      return this.countries?.find(
        (c) => c.value.toLowerCase() === this._user.country_iso.toLowerCase()
      );
    },
  },
  validations() {
    return {
      user: {
        fname: { required },
        lname: { required },
        mname: { required },
        email: { required },
        address: { required },
        dob: { required },
        city: { required },
        zip: { required },
        country_iso: { required },
        phone: { required },
        itn: {
          required: requiredIf(function() {
            return (
              this.user_type &&
              this.user_type &&
              ["individual", "self_employed"].includes(this.user_type)
            );
          }),
        },
        psrn: {
          required: requiredIf(function() {
            return this.user_type && this.user_type && ["entity"].includes(this.user_type);
          }),
        },
      },
    };
  },
};
</script>
