<template>
  <q-dialog full-width position="bottom" ref="import-info">
    <q-card>
      <q-card-section>
        <h4 class="q-ma-none">
          {{ $tt("pages.import_products.products_import", 1) }}
        </h4>
        <div class="q-mt-sm text-grey-7">
          {{ $tt("common.created_at", 1) }} {{ $date(record.created_at) + ", " + $time(record.created_at) }}
        </div>
      </q-card-section>

      <app-banner
        :level="
          record.status === 'Failed'
            ? 'danger'
            : record.status === 'Processing'
            ? 'warning'
            : record.status === 'Pending'
            ? 'indigo'
            : record.status === 'Canceled'
            ? 'warning'
            : record.status === 'Successful'
            ? 'success'
            : 'grey'
        "
        :rounded="false"
        v-if="record.status"
      >
        <div class="flex-center-between">
          <div>
            {{ $tt("common.status", 1) }}:
            <b>
              {{
                record.status === "Failed"
                  ? $tt("common.error", 1)
                  : record.status === "Processing"
                  ? $tt("common.processing", 1)
                  : record.status === "Pending"
                  ? $tt("common.pending", 1)
                  : record.status === "Canceled"
                  ? $tt("common.сanceled", 1)
                  : record.status === "Successful"
                  ? $tt("common.successful", 1)
                  : "grey"
              }}</b
            >
          </div>
          <div>
            <q-btn
              v-show="record.error_message"
              @click="
                () => {
                  $copyText(record.error_message);
                  $message({ title: $tt('common.copied', 1) });
                }
              "
              flat
              color="red-8"
              
              size="10px"
              round
              icon="copy_all"
            ></q-btn>
          </div>
        </div>

        <div class="q-mt-md fz-12 font-500" v-if="record.error_message">
          {{ record.error_message }}
        </div>
      </app-banner>

      <q-item class="q-py-md">
        <q-item-section>
          <q-item-label caption>
            {{ $tt("common.file", 1) }}
          </q-item-label>
          <q-item-label>
            {{ record.file.name }}
          </q-item-label>
        </q-item-section>

        <q-item-section>
          <q-item-label caption>
            {{ $tt("common.product", 1, 2) }}
          </q-item-label>
          <q-item-label>
            {{ record.file.rows }}
          </q-item-label>
        </q-item-section>

        <q-item-section>
          <q-item-label caption>
            {{ $tt("common.size", 1) }}
          </q-item-label>
          <q-item-label>
            {{ record.file.size }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-card-section>
        <app-list :empty="(!record.items || !record.items.length) && $tt('errors.no_data', 1)" header="Товары">
          <q-item v-for="item in record.items">
            <q-item-section avatar>
              <q-item-label caption>
                {{ $tt("common.row", 1) }}
              </q-item-label>
              <q-item-label v-if="item.number !== null && item.number !== undefined">
                {{ item.number + 1 }}
              </q-item-label>
              <q-item-label caption v-else>
                {{ $tt("common.not_available") }}
              </q-item-label>
            </q-item-section>
            <!-- <q-item-section>
              <q-item-label caption>
                Product ID
              </q-item-label>
              <q-item-label v-if="item.product_id">
                {{ item.product_id }}
              </q-item-label>
              <q-item-label caption v-else>
                {{ $tt("common.not_available") }}
              </q-item-label>
            </q-item-section> -->
            <q-item-section>
              <q-item-label>
                <q-icon size="16px" color="warning" name="warning"></q-icon>
              </q-item-label>
              <q-item-label v-if="item.warnings && item.warnings.length" class="flex q-gutter-xs">
                <q-chip
                  dense
                  square
                  size="13px"
                  class="font-500"
                  color="warning"
                  text-color="brown-8"
                  v-for="(w, idx) in item.warnings"
                  :key="idx"
                >
                  {{ w }}
                </q-chip>
              </q-item-label>
              <q-item-label caption v-else>
                Предупреждений нет
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <q-icon size="16px" color="negative" name="error"></q-icon>
              </q-item-label>
              <q-item-label v-if="item.errors && item.errors.length" class="flex q-gutter-xs">
                <q-chip
                  dense
                  square
                  size="13px"
                  class="font-500"
                  color="negative"
                  text-color="white"
                  v-for="(e, idx) in item.errors"
                  :key="idx"
                >
                  {{ e }}
                </q-chip>
              </q-item-label>
              <q-item-label caption v-else>
                Ошибок нет
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    record: Object,
  },
  methods: {
    show() {
      this.$refs["import-info"].show();
    },
    hide() {
      this.$refs["import-info"].hide();
    },
  },
};
</script>
