<template>
  <PageContainer :loading="loading" :title="$tt('pages.import_products.products_import', 1)">
    <div class="container">
      <div class="row items-center q-col-gutter-lg">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12- col-xs-12">
          <ol class="q-gutter-y-lg">
            <li>
              {{ $tt("pages.import_products.help[0]") }}
              <app-badge class="text-uppercase" color="positive">
                {{ $tt("pages.import_products.available") }}
              </app-badge>
            </li>
            <li>
              {{ $tt("pages.import_products.help[1]") }}
              <app-btn @click="getTemplate" class="q-ml-sm" icon="file_open" size="11px">
                &nbsp;&nbsp;{{ $tt("common.download") }}
              </app-btn>
            </li>
            <li>
              {{ $tt("pages.import_products.help[2]") }}
            </li>
            <li>
              <div>
                {{ $tt("pages.import_products.help[3]") }}
                <span class="text-blue-8 font-500">
                  {{ $tt("pages.import_products.start_import", 1) }}
                </span>
              </div>
            </li>
          </ol>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12- col-xs-12">
          <app-list :header="$tt('pages.import_products.new_import', 1)">
            <q-item class="q-py-md">
              <q-item-section>
                <q-item-label>
                  {{ $tt("pages.import_products.import_status", 1) }}
                </q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-item-label>
                  <app-badge v-if="available" class="text-uppercase" color="positive">
                    {{ $tt("pages.import_products.available", 1) }}
                  </app-badge>
                  <app-badge v-else class="text-uppercase" color="negative">
                    {{ $tt("pages.import_products.not_available") }}
                  </app-badge>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="q-py-md">
              <q-item-section>
                <q-item-label class="q-mb-sm">
                  {{ $tt("pages.import_products.ready_file", 1) }}
                </q-item-label>
                <q-item-label>
                  <div class="flex no-wrap">
                    <q-file
                      :multiple="false"
                      :value="files"
                      class="full-width"
                      outlined
                      dense
                      :label="`${$tt('common.pick', 1)} ${$tt('common.file')}`"
                      v-model="files"
                      :disable="!available"
                    ></q-file>
                    <app-btn
                      @click="importProducts"
                      :disable="!available || !files"
                      style="white-space:nowrap"
                      class="q-ml-sm"
                      color="blue-8"
                    >
                      {{ $tt("pages.import_products.start_import", 1) }}
                    </app-btn>
                  </div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </app-list>
        </div>
      </div>

      <app-list
        :loading="loading"
        :empty="(!imports || !imports.length) && $tt('errors.no_data', 1)"
        :header="$tt('pages.import_products.import_journal', 1)"
        class="q-mt-xl"
      >
        <template #actions>
          <div class="flex no-wrap">
            <app-btn
              icon="update"
              size="10px"
              padding="sm"
              @click="getHistory({ ...filter, page: 0 })"
            >
              &nbsp;&nbsp;{{ $tt("common.update") }}
            </app-btn>
            <app-pagination v-model="human_page" :max="total_pages || 1" class="q-ml-lg" />
          </div>
        </template>
        <q-item @click="getRecord(row.id)" clickable v-for="row in imports" :key="row.id">
          <q-item-section>
            <q-item-label caption>
              {{ $date(row.created_at) }} /
              {{ $time(row.created_at) }}
            </q-item-label>
            <q-item-label class="text-subtitle2 ">
              {{ row.file.name }}

              <div>
                <q-chip
                  size="12px"
                  :color="
                    row.status === 'Failed'
                      ? 'negative'
                      : row.status === 'Processing'
                      ? 'warning'
                      : row.status === 'Pending'
                      ? 'indigo'
                      : row.status === 'Canceled'
                      ? 'orange'
                      : row.status === 'Successful'
                      ? 'positive'
                      : 'grey'
                  "
                  :text-color="
                    row.status === 'Failed'
                      ? 'white'
                      : row.status === 'Processing'
                      ? 'white'
                      : 'white'
                  "
                  dense
                  square
                  class="font-500 q-ma-none q-my-xs"
                >
                  <!-- {{ row.status }} -->
                  {{
                    row.status === "Failed"
                      ? $tt("common.error", 1)
                      : row.status === "Processing"
                      ? $tt("common.processing", 1)
                      : row.status === "Pending"
                      ? $tt("common.pending", 1)
                      : row.status === "Canceled"
                      ? $tt("common.canceled", 1)
                      : row.status === "Successful"
                      ? $tt("common.successful", 1)
                      : "grey"
                  }}
                </q-chip>
              </div>
            </q-item-label>
            <q-item-label v-if="row.error_message" class="text-negative">
              {{ row.error_message }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn
              v-show="row.status === 'Pending' || row.status === 'Processing'"
              @click.stop="cancelImport"
              padding="xs"
              flat
              size="11px"
            >
              {{ $tt("common.cancel", 1) }}
            </q-btn>
          </q-item-section>
        </q-item>
        <q-item class="q-py-md">
          <q-item-section>
            <q-item-label class="flex justify-end">
              <app-pagination v-model="human_page" :max="total_pages || 1" push />
            </q-item-label>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>
<script>
export default {
  async created() {
    this.available = await this.checkAvailable();
  },

  mounted() {
    let { page = 0, on_page = 10 } = this.$route.query;

    this.filter.page = page;
    this.filter.on_page = on_page;

    this.getHistory(this.filter);
  },

  data() {
    return {
      loading: false,
      available: false,
      files: null,
      imports: null,
      filter: {
        page: 0,
        on_page: 10,
      },
      total: null,
    };
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      },
    },
    total_pages() {
      return (this.total && Math.ceil(this.total / this.filter.on_page)) || 1;
    },
  },
  watch: {
    "filter.page"(page) {
      this.getHistory({ ...this.filter, page });
    },
    // "filter.on_page"(on_page) {
    //   this.getHistory({ ...this.filter, on_page, page: 0 });
    // },
  },
  methods: {
    checkAvailable() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          await this.$api.get(`/warehouse/products/import/check`);

          done(true);
        } catch (e) {
          console.log(e);

          done(false);
        } finally {
          this.loading = false;
        }
      });
    },
    async getHistory(filter = this.filter) {
      try {
        this.loading = true;

        let {
          data: { results, page, on_page, total, next_page },
        } = await this.$api.get(`/warehouse/products/import`, {
          params: {
            ...filter,
          },
        });

        this.total = total;
        this.imports = results;

        this.$router.push({ query: filter });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    async getTemplate() {
      try {
        this.loading = true;

        let { data: file } = await this.$api.get(`/warehouse/products/import/template.xlsx`, {
          responseType: "arraybuffer",
        });

        const blob = new Blob([file]),
          filename = `template.xlsx`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          const link = document.createElement("a");

          if (link.download !== undefined) {
            const url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    async importProducts() {
      try {
        let fd = new FormData();

        fd.append("file", this.files);

        this.loading = true;

        await this.$api.post(`/warehouse/products/import/upload`, fd);

        this.files = null;

        this.$alert({ title: "Файл отправлен", level: "success" });

        // setTimeout(() => {
        this.getHistory();
        this.checkAvailable();
        // }, 2000);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },

    async getRecord(import_id) {
      try {
        this.loading = true;

        let {
          data: { result: record },
        } = await this.$api.get(`/warehouse/products/import/${import_id}`);

        const Info = this.$q.dialog({
          component: () => import("./ImportInfo.vue"),
          name: "import-info",
          record,
          parent: this,
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
    async cancelImport() {
      // DELETE /warehouse/products/import

      try {
        this.loading = true;

        await this.$api.delete(`/warehouse/products/import`);

        this.available = await this.checkAvailable();

        this.getHistory();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
