<template>
  <PageContainer :title="$tt('nav.account.my_products')">
    <template #actions>
      <div class="flex q-gutter-x-sm">
        <app-btn
          class="q-px-lg q-py-sm"
          text-color="primary"
          :loading="loading.exp"
          v-if="warehouse"
          @click="exportProduct"
          padding="11px"
          size="12px"
        >
          <q-icon name="file_download" size="17px" class="q-mr-xs"></q-icon>
          {{ $tt("common.export", 1) }} XLSX
        </app-btn>
        <app-btn padding="11px" size="12px" v-else class="q-px-lg q-py-sm" to="/products/import">
          {{ $tt("pages.import_products.products_import") }}
        </app-btn>
      </div>
    </template>

    <div class="container">
      <!-- :show-preview="warehouse" -->
      <NewWarehouse auto-height show-preview :warehouse="warehouse" :actions="['control']" />
    </div>
  </PageContainer>
</template>

<script>
import { exportFile } from "quasar";
import NewWarehouse from "@/components/NewWarehouse";

export default {
  props: {
    warehouse: Boolean,
  },
  components: {
    NewWarehouse,
  },
  beforeRouteEnter(to, from, next) {
    // ? OLD ROUTE FALLBACK:
    if (to && to.query && to.query.warehouse) {
      next("/products/warehouse");
    } else {
      next();
    }
  },
  data() {
    return {
      loading: {
        exp: false,
      },
    };
  },
  methods: {
    createProduct() {
      this.$refs["warehouse"].$refs["warehouse-product"].createNewProduct();
    },
    async exportProduct() {
      try {
        this.loading.exp = true;

        let { data } = await this.$api({
          url: `/warehouse/products/warehouse/xlsx`,
          responseType: "arraybuffer",
        });

        exportFile(`warehouse-${new Date().getTime()}.xlsx`, data);
      } catch (e) {
        console.log(e);

        alert(
          (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось выгрузить файл"
        );
      } finally {
        this.loading.exp = false;
      }
    },
  },
};
</script>
