<template>
  <span>
    <span :class="crop && getEllipsisClass()">
      <slot />
    </span>
    <app-btn
      :class="!crop && 'text-primary'"
      dense
      size="12px"
      class="inline-flex bg-white"
      @click="crop = !crop"
      icon="more_horiz"
    ></app-btn>
  </span>
</template>

<script>
export default {
  props: {
    lines: {
      type: Number,
      default: 3,
    },
    croped: {
      type: Boolean,
      default: true,
    },
  },
  created() {
    this.crop = this.croped;
  },
  data() {
    return {
      crop: true,
    };
  },
  methods: {
    getEllipsisClass() {
      if (!this.lines) return "";
      else if (this.lines === 1) return "ellipsis";
      //   else if (this.lines <= 3) return `ellipsis-${this.lines}-lines`;
      else return `ellipsis-${this.lines}-lines`;
    },
  },
};
</script>
