<template>
  <div class="menu-item" :class="[grid && 'menu-item--grid']">
    <div :key="idx" v-for="(item, idx) in childrens" class="flex column no-wrap">
      <q-item
        class="relative-position q-py-md font-500"
        v-close-popup="!item?.childrens?.length"
        :to="item?.href"
        clickable
        exact
        style="font-size:15px"
        v-show="!item.access || $store.getters['auth/customer_vars'][item.access]"
      >
        <q-item-section avatar>
          <div class="menu-item__icon relative-position gradient">
            <!-- <keep-alive> -->
            <q-img
              v-once
              v-if="is_external_icon(item)"
              contain
              :src="item.icon"
              :width="`${item.icon_size || 30}px`"
              :height="`${item.icon_size || 30}px`"
              spinner-color="white"
            />

            <q-icon v-else :name="item.icon" size="24px" color="white" />
            <!-- </keep-alive> -->
          </div>
        </q-item-section>
        <q-item-section>
          <q-item-label class="fz-13">
            {{ $t(item.title) || item.title }}
          </q-item-label>
          <q-item-label v-if="item.desc && item.desc.length" caption>
            <small>{{ $t(item.desc) || item.desc }}</small>
          </q-item-label>
        </q-item-section>
        <q-item-section v-if="item?.childrens?.length" side>
          <q-item-label>
            <q-icon size="18px" name="chevron_right"></q-icon>
          </q-item-label>
        </q-item-section>

        <!-- <q-item-section thumbnail>
          <q-icon name="chevron_rigth"></q-icon>
        </q-item-section> -->

        <q-menu anchor="top end" self="top left" v-if="item?.childrens?.length">
          <q-list>
            <q-item>
              <q-item-section>
                <q-item-label caption>
                  {{ $t(item.title) || item.title }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              :to="child?.to || null"
              clickable
              v-for="child in item.childrens"
              :key="child?.to?.path"
              exact
            >
              <q-item-section>
                <q-item-label>
                  {{ child.tlabel || child.label }}
                </q-item-label>
              </q-item-section>
              <q-item-section side v-if="child.badge">
                <q-badge class="font-500 shadow-2" color="accent">
                  {{ child.badge }}
                </q-badge>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-item>

      <q-separator v-if="item.separator && !grid" />
    </div>

    <div v-if="$slots?.['footer']" class="bg-grey-2 q-px-lg q-py-lg">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    grid: {
      type: Boolean,
      default: false,
    },
    childrens: {
      type: Array,
    },
  },
  methods: {
    is_external_icon(item) {
      return item.icon && item.icon.includes("/");
    },
  },
};
</script>

<style lang="scss" scoped>
.menu-item {
  // max-width: 560px;

  &__icon {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
    border-radius: 7px;

    div[role="img"] {
      // height: 28px;
      // width: 28px;
      object-fit: contain;
      object-position: center center;
    }
  }

  &__title {
    font-size: 13px;
  }

  &__subtitle {
    font-size: 11px;
  }

  &__link {
    // &.router-link-active {
    // }
    text-decoration: none !important;

    &:hover {
      .menu-item__title {
        text-decoration: underline;
      }
    }

    &.router-link-exact-active {
      color: $accent !important;
    }
  }

  &--grid {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-template-rows: auto;
  }
}
</style>
