<template>
  <PageContainer :loading="loading" :title="$tt('notifications_settings', 1)">
    <div class="container">
      <div class="q-mb-xl">
        <app-list :header="$tt('digest_settings', 1)">
          <q-item>
            <q-item-section>
              <q-item-label>
                {{ $tt("get_daily_digest_caption", 1) }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <app-input
                mask="##:00"
                unmasked-value
                @blur="changeDigest"
                v-model="digest_time"
                ref="digest-time"
              >
                <template #append>
                  <q-icon name="access_time" />
                </template>
              </app-input>
            </q-item-section>
          </q-item>
        </app-list>
      </div>

      <h5 class="q-mb-md">
        {{ $tt("notifications_categories", 1) }}
      </h5>

      <app-input
        v-model="query"
        :label="$tt('find_category', 1)"
        :dense="false"
        class="q-mb-lg"
      />

      <div v-if="filtered && filtered.length">
        <q-list
          bordered
          v-for="g in filtered"
          :key="g.code"
          class="q-mb-md rounded-borders bg-white"
          transition-show="fade"
          transition-hide="fade"
        >
          <q-expansion-item
            group="notifications-groups"
            :header-class="[
              'text-accent text-subtitle2 q-py-md',
              ($q.screen.xs || $q.screen.sm) && 'column',
            ]"
          >
            <template #header>
              <q-item-section>
                <q-item-label>{{ g.name }}</q-item-label>
                <q-item-label caption>{{ g.description }}</q-item-label>
              </q-item-section>
              <q-item-section
                avatar
                :class="($q.screen.xs || $q.screen.sm) && 'q-pl-none q-mt-md'"
              >
                <transition-group
                  tag="div"
                  enter-active-class="animated fadeIn"
                  leave-active-class="animated fadeOut"
                  appear
                  class="flex"
                  :class="
                    $q.screen.xs || $q.screen.sm
                      ? 'full-width items-start'
                      : 'q-gutter-xs'
                  "
                >
                  <q-badge
                    class="q-mr-sm font-500"
                    key="primary"
                    color="primary"
                    v-if="g.email_enabled"
                  >
                    <q-icon name="check_box" color="white" size="14px" class="q-mr-xs" />
                    Email
                  </q-badge>
                  <q-badge
                    class="q-mr-sm font-500"
                    key="indigo"
                    color="indigo"
                    v-if="g.dashboard_enabled"
                  >
                    <q-icon name="check_box" color="white" size="14px" class="q-mr-xs" />
                    {{ $tt("dashboard", 1) }}
                  </q-badge>
                  <q-badge
                    key="teal"
                    color="teal"
                    v-if="g.digest_enabled"
                    class="q-mr-sm font-500"
                  >
                    <q-icon name="check_box" color="white" size="14px" class="q-mr-xs" />
                    {{ $tt("digest", 1) }}
                  </q-badge>
                </transition-group>
              </q-item-section>
            </template>
            <q-list separator>
              <q-item :disable="g.dashboard_locked" tag="label">
                <q-item-section>
                  <q-item-label>
                    {{ $tt("dashboard", 1) }}
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <div class="flex items-center q-gutter-x-xs">
                    <q-icon
                      v-if="g.dashboard_locked"
                      color="grey"
                      size="14px"
                      name="lock"
                    />

                    <q-checkbox
                      :disable="g.dashboard_locked"
                      v-model="g.dashboard_enabled"
                      @input="(event) => changeChannel(g.code, 'dashboard_enabled')"
                    />
                  </div>
                </q-item-section>
              </q-item>
              <q-item tag="label">
                <q-item-section>
                  <q-item-label>Email</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    :disable="g.email_locked"
                    v-model="g.email_enabled"
                    @input="(event) => changeChannel(g.code, 'email_enabled')"
                  />
                </q-item-section>
              </q-item>
              <q-item tag="label">
                <q-item-section>
                  <q-item-label>
                    {{ $tt("daily_digest", 1) }}
                  </q-item-label>
                  <q-item-label caption>
                    {{ $tt("get_daily_digest_caption", 1) }}
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    color="accent"
                    @input="(event) => changeChannel(g.code, 'digest_enabled')"
                    :disabled="g.digest_locked"
                    v-model="g.digest_enabled"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </q-expansion-item>
        </q-list>
      </div>
      <div class="q-py-lg" v-else-if="query?.length">
        <div class="text-muted block text-center">
          {{ $tt("category_not_found", 1) }}
        </div>
      </div>
      <div class="q-py-lg" v-else>
        <div class="text-muted block text-center">
          {{ $tt("no_info_to_display", 1) }}
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<i18n lang="json">
{
  "en": {
    "notifications_settings": "notifications settings",
    "notifications_categories": "notifications categories",
    "find_category": "find category",
    "dashboard": "dashboard",
    "digest_settings": "digest settings",
    "daily_digest": "daily digest",
    "get_daily_digest_caption": "receive a daily digest by email in the form of a daily digest",
    "category_not_found": "category not found",
    "no_info_to_display": "no information to display",
    "digest": "digest",
    "settings_updating": "settings updating",
    "digest_time_error": "The time of getting the digest cannot be more than 24"
  
  },
  "uk": {
    "notifications_settings": "налаштування повідомлень",
    "notifications_categories": "категорії повідомлень",
    "find_category": "знайти категорію",
    "dashboard": "особистий кабінет",
    "digest_settings": "налаштування дайджесту",
    "daily_digest": "добовий дайджест",
    "get_daily_digest_caption": "отримати добовий дайджест на електронну пошту",
    "category_not_found": "категорія не знайдена",
    "no_info_to_display": "немає інформації для відображення",
    "digest": "дайджест",
    "settings_updating": "оновлення налаштувань",
    "digest_time_error": "Час отримання дайджеста не може бути більше 24"
  
  },
  "ru": {
    "notifications_settings": "настройки уведомлений",
    "notifications_categories": "категории уведомлений",
    "find_category": "найти категорию",
    "dashboard": "личный кабинет",
    "digest_settings": "настройки дайджеста",
    "daily_digest": "ежедневный дайджест",
    "get_daily_digest_caption": "получить ежедневный дайджест на электронную почту в форме ежедневного дайджеста",
    "category_not_found": "категория не найдена",
    "no_info_to_display": "немає інформації для відображення",
    "digest": "дайджест",
    "settings_updating": "обновление настроек",
    "digest_time_error": "Время получения дайджеста не может быть больше 24"
  
  }
}
</i18n>

<script>
export default {
  name: "NotificationsSettings",
  created() {
    this.getSettings();
  },
  data() {
    return {
      loading: false,
      settings: null,
      digest_time: 18,
      query: null,
    };
  },
  computed: {
    canChangeDigest() {
      return Object.values(this.settings).some((s) => s.digest_enabled === true);
    },
    filtered() {
      if (this.query?.length) {
        return this.settings?.filter((s) => {
          return (
            s?.name?.toLowerCase()?.indexOf(this.query.toLowerCase()) >= 0 ||
            s?.description?.toLowerCase()?.indexOf(this.query.toLowerCase()) >= 0
          );
        });
      } else {
        return this.settings;
      }
    },
  },
  methods: {
    async getSettings() {
      try {
        this.loading = this.$tt("settings_updating", 1);

        const {
          data: { results, digest_time },
        } = await this.$api.get(`/notifications/preferences`);

        this.settings = results;
        this.digest_time = digest_time;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    async changeChannel(group, key) {
      let g = this.settings.find((category) => category.code === group);

      try {
        await this.$api.post(`/notifications/preferences/${group}`, {
          [key]: g[key],
        });
        this.$message({ level: "success", title: this.$tt("messages.changes_saved", 1) });
      } catch (e) {
        console.log(e);
      } finally {
      }
    },

    async changeDigest() {
      let { digest_time } = this;

      if (!digest_time || +digest_time > 24) {
        this.$alert({
          title: this.$tt("digest_time_error"),
          level: "warning",
        });

        return;
      }

      try {
        this.loading = true;

        await this.$api.post(`/notifications/preferences`, {
          digest_time: digest_time,
        });

        this.$message({ level: "success", title: this.$tt("messages.changes_saved", 1) });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.save_data", 1),
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
