<template>
  <div id="q-app">
    <!-- :key="$route.path" -->
    <router-view />
  </div>
</template>
<script>
import { LocalStorage } from "quasar";

const TYPES_COLORS_MAP = {
  consolidation: "bg-blue-9 text-white",
  consolidation_usa: "bg-orange-9 text-white",
  usa_domestic: "bg-cyan-8 text-white",
  svh: "bg-green-8 text-white",
  direct: "bg-red-8 text-white",
  agent_shipping: "bg-indigo-7 text-white",
  client_bulk: "bg-deep-purple text-white",
  return_label: "bg-blue text-white",
  consolidated_from_sender: "bg-deep-orange-6 text-white",
  client_bulk_consolidated: "bg-pink-7 text-white",
  postcard: "blue-grey-6 text-white",
};

const STATUSES_COLORS_MAP = {
  customer_created: "bg-blue-2 text-blue-9",
  customer_sent: "bg-light-green-2 text-light-green-9",
  delivered: "bg-green-2 text-green-9",
  frozen: "bg-red-2 text-red-9",
  in_svh: "bg-brown-2 text-brown-9",
  in_transit_warehouse: "bg-indigo-grey-2 text-indigo-grey-9",
  in_ua_warehouse: "bg-deep-purple-2 text-deep-purple-9",
  svh_process: "bg-cyan-2 text-cyan-9",
  transit_ua_buyer: "bg-orange-2 text-orange-9",
  transit_ua_usa: "bg-orange-2 text-orange-9",
  transit_usa_buyer: "bg-orange-2 text-orange-9",
  transit_buyer_usa: "bg-orange-2 text-orange-9",
  addr_change_complete: "bg-light-green-2 text-light-green-9",
  customer_returned: "bg-blue-2 text-blue-9",
  customer_sent_back: "bg-light-green-2 text-light-green-9",
  full_from_np: "bg-purple-2 text-purple-9",
  leave_usa: "bg-indigo-2 text-indigo-9",
  partially_from_np: "bg-purple-2 text-purple-9",
  prepare_addr_change: "bg-amber-2 text-amber-9",
  return_processed: "bg-cyan-2 text-cyan-9",
};

window.TYPES_COLORS_MAP = TYPES_COLORS_MAP;
window.STATUSES_COLORS_MAP = STATUSES_COLORS_MAP;

export default {
  meta() {
    return {
      title: "Seller Online: " + this.$tt("common.my_dashboard", 1),
    };
  },
  name: "App",
  // async created() {
  async beforeCreate() {
    let TOKEN =
      this.$store.getters["auth/token"] ||
      localStorage.getItem(process.env.SOL_USER_API_TOKEN) ||
      null;

    if (TOKEN) {
      try {
        this.$store.commit("auth/SET_TOKEN", TOKEN);

        await this.$store.dispatch("auth/GET_USER");
        this.$store.dispatch("Finances/GET_BALANCE");
      } catch (e) {
        this.$store.commit("auth/AUTH_ERROR");

        this.$router.push({ name: "AUTH_LOGIN" }).catch((e) => {});

        this.$showApiError(e, { fallbackMessage: "Ошибка авторизации" });
      }
    } else {
      this.$store.commit("auth/AUTH_ERROR");
    }

    let site_lang = localStorage.getItem("sol-lang") || null;
    let sys_lang = navigator.language || null;

    this.$store.commit("app/SET_LANG", site_lang || sys_lang || "en");

    this.$i18n.locale = this.$store.state.app.lang;

    // await this.$nextTick(async () => {

    // });
  },
};
</script>
<style lang="scss">
.q-router-link {
  &--exact-active {
    font-weight: 500;
  }
}

// .q-list--bordered {
//   border: 1px solid rgba(0, 0, 0, 0.24) !important;
// }
</style>
