<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- <meta name="google-site-verification" content="0vv3cDfKXHQfu39qJ8ISary_lkBFIYei7MuzWKE3qeQ" /> -->
    <!-- <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="412674995302-k5nmlfdk0ar8rc8rjqn08epphftqfc4j.apps.googleusercontent.com"
    /> -->
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <style>
      .site-loader {
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 12px;
        color: #888;
      }

      .site-loader__icon {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      body {
        background-color: #fcfcfc;
      }
    </style>
  </head>
  <body>
    <div class="site-loader">
      <div class="site-loader__icon">
        <svg height="28" viewBox="0 0 644 91" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.415802 29.4946C0.415802 26.6533 1.03234 24.0592 2.1421 21.8356C3.25186 19.612 4.85485 17.8826 6.95107 16.4002C8.92398 15.0413 11.2668 13.9295 13.9796 13.1883C16.6923 12.4471 19.5284 12.2001 22.4877 12.2001C26.1869 12.2001 29.6395 12.5707 33.0921 13.4354C36.5447 14.3001 39.5041 15.4119 42.0935 16.8943V31.1005C39.6274 29.2475 36.7913 27.7651 33.5853 26.9004C30.3794 26.0357 27.1734 25.5415 23.7208 25.6651C20.8847 25.6651 18.9118 26.0357 17.9254 26.7769C16.8156 27.3945 16.3224 28.3828 16.3224 29.4946C16.3224 30.7299 17.0622 31.8417 18.5419 32.5829C20.0216 33.4476 21.8712 34.1888 24.214 34.93C26.4335 35.6712 28.8997 36.5359 31.4891 37.5242C34.0786 38.3889 36.5447 39.6242 38.7642 41.1066C40.9838 42.589 42.8334 44.5655 44.4363 46.7891C45.916 49.0127 46.6559 51.9774 46.6559 55.4363C46.6559 58.8952 46.0393 61.7365 44.8063 64.0836C43.5732 66.4307 41.8469 68.2837 39.7507 69.6425C37.6545 71.0014 35.065 71.9896 32.229 72.4838C29.3929 73.1014 26.4336 73.3485 23.2276 73.3485C19.0351 73.3485 14.966 72.8544 11.1435 71.9896C7.32099 71.1249 3.8684 69.7661 0.785724 68.0366V53.3363C4.23832 55.6834 7.81421 57.4128 11.5134 58.4011C15.2126 59.3894 18.6652 59.8835 21.9945 59.8835C25.0772 59.8835 27.2967 59.6364 28.6531 59.0188C30.0094 58.4011 30.7493 57.4128 30.7493 55.9305C30.7493 54.5716 30.0094 53.3363 28.5298 52.4716C27.0501 51.6068 25.2005 50.7421 22.8576 49.8774C20.6381 49.0127 18.172 48.1479 15.5825 47.2832C12.9931 46.4185 10.527 45.1832 8.30744 43.7008C6.08792 42.2184 4.23832 40.3654 2.63533 38.0183C1.15564 35.9182 0.415802 33.077 0.415802 29.4946Z"
            fill="#FF0000"
          />
          <path
            d="M96.2254 13.5589V26.9004H69.5911V35.7947H93.6359V49.1362H69.5911V58.6482H96.7186V71.9896H54.1777V13.5589H96.2254Z"
            fill="#FF0000"
          />
          <path
            d="M121.133 13.5589V58.2776H147.767V72.1132H105.72V13.5589H121.133Z"
            fill="#FF0000"
          />
          <path
            d="M169.716 13.5589V58.2776H196.35V72.1132H154.303V13.5589H169.716Z"
            fill="#FF0000"
          />
          <path
            d="M245.056 13.5589V26.9004H218.422V35.7947H242.467V49.1362H218.422V58.6482H245.55V71.9896H203.009V13.5589H245.056Z"
            fill="#FF0000"
          />
          <path
            d="M254.428 71.9896V13.5589H278.966C281.925 13.5589 284.761 13.806 287.721 14.4237C290.557 15.0413 293.146 16.1531 295.366 17.6355C297.585 19.1179 299.435 21.2179 300.791 23.6886C302.148 26.2827 302.887 29.371 302.887 33.2005C302.887 35.6712 302.641 37.7712 302.024 39.6242C301.408 41.4772 300.668 43.0831 299.682 44.5655C298.695 45.9244 297.462 47.1597 296.106 48.1479C294.749 49.1362 293.27 50.0009 291.667 50.6186L307.696 71.8661H290.31L276.376 52.8422H269.718V71.8661H254.428V71.9896ZM269.965 40.4889H279.829C282.049 40.4889 283.898 39.8713 285.255 38.7595C286.611 37.6477 287.351 35.9183 287.351 33.6947C287.351 31.4711 286.611 29.7416 285.255 28.6299C283.898 27.5181 282.049 26.9004 279.829 26.9004H269.965V40.4889Z"
            fill="#FF0000"
          />
          <path
            d="M398.82 71.9897V13.559H413.37L436.182 47.1598C436.059 45.8009 435.935 44.195 435.935 42.4655C435.935 40.7361 435.812 39.1302 435.812 37.4007V13.559H451.225V71.9897H436.675L413.864 38.5125C413.987 39.8714 414.11 41.4773 414.11 43.2067C414.11 44.9362 414.233 46.5421 414.233 48.148V71.9897H398.82Z"
            fill="#3F9FF4"
          />
          <path
            d="M477.736 13.559V58.2777H501.658V72.1133H462.323V13.559H477.736Z"
            fill="#3F9FF4"
          />
          <path
            d="M537.417 71.9897V13.559H551.967L574.779 47.1598C574.656 45.8009 574.532 44.195 574.532 42.4655C574.532 40.7361 574.409 39.1302 574.409 37.4007V13.559H589.946V71.9897H575.396L552.584 38.5125C552.707 39.8714 552.83 41.4773 552.83 43.2067C552.83 44.9362 552.954 46.5421 552.954 48.148V71.9897H537.417Z"
            fill="#3F9FF4"
          />
          <path
            d="M642.968 13.559V26.9005H616.333V35.7948H640.502V49.1363H616.457V58.6483H643.584V71.9897H601.043V13.559H642.968Z"
            fill="#3F9FF4"
          />
          <path
            d="M547.158 87.0606C546.418 87.6782 545.678 88.79 544.691 88.9135C541.485 89.5312 538.156 90.0253 534.95 90.3959C532.977 90.643 532.114 89.7783 532.484 87.6782C532.607 86.937 532.237 85.9488 531.868 85.2076C528.662 79.7722 525.456 74.4603 522.25 69.0249C521.017 66.9248 519.044 67.4189 517.317 67.7895C516.331 68.0366 515.221 69.1484 514.851 70.1367C513.002 74.0897 511.522 78.2898 509.796 82.3663C509.426 83.1075 508.686 83.7252 508.069 84.3428C506.343 86.0723 506.466 87.5547 508.563 88.6665C509.426 89.1606 510.166 89.5312 511.645 90.2724C510.535 90.643 509.919 91.0136 509.426 90.8901C505.726 90.1489 502.151 89.4077 498.575 88.2959C497.218 87.9253 496.972 86.937 497.958 85.3311C499.931 82.2428 501.657 78.7839 503.26 75.4485C504.37 73.1014 504.74 70.2602 506.22 68.1601C508.809 64.3306 509.672 60.3776 509.302 55.8069C509.179 54.201 508.316 52.101 510.905 51.3598C511.029 51.3598 511.029 50.6186 511.029 50.248C510.905 40.4889 510.782 30.6064 510.659 20.8473C510.659 17.6355 512.385 15.4119 514.975 13.6825C516.701 12.5707 517.071 11.4589 515.838 9.72943C515.221 8.98823 514.851 8.12351 514.481 7.25878C513.741 5.4058 513.372 3.42929 514.851 1.82337C516.577 -0.029614 518.797 -0.523743 521.017 0.588047C522.496 1.32924 523.976 2.3175 525.086 3.55282C528.045 7.01172 527.552 9.97649 523.483 12.0765C521.386 13.1883 521.14 14.5472 522.373 16.0296C526.072 20.9709 526.072 26.7769 526.442 32.3358C526.689 37.8948 526.319 43.5772 526.195 49.2597C526.072 51.2362 526.812 51.9774 528.785 51.9774C533.347 51.9774 533.347 52.101 533.347 56.7952C533.347 59.5129 533.347 62.2306 533.347 64.9483C533.347 66.5542 533.471 68.0366 530.881 68.1601C531.868 70.0131 532.607 71.7426 533.471 73.3485C535.443 77.0545 537.416 80.884 539.636 84.4664C540.129 85.3311 541.732 85.7017 542.842 85.9488C544.198 86.1958 545.555 85.9488 547.034 85.9488C546.911 86.3194 547.034 86.69 547.158 87.0606Z"
            fill="#3F9FF4"
          />
          <path
            d="M388.709 31.2242C387.353 27.5183 385.503 24.3064 382.79 21.4652C380.201 18.6239 376.872 16.4004 373.049 14.7945C372.556 14.5474 372.063 14.4239 371.569 14.3003V28.8771V32.089C372.556 33.3243 373.296 34.8067 373.789 36.4126C374.405 38.3891 374.775 40.4891 374.775 42.8363C374.775 45.1834 374.405 47.2834 373.789 49.2599C373.172 51.2364 372.186 52.9659 370.83 54.4483C369.596 55.9307 367.993 57.0424 366.021 57.9072C364.048 58.7719 361.828 59.1425 359.362 59.1425C356.896 59.1425 354.676 58.7719 352.703 57.9072C350.731 57.0424 349.128 55.9307 347.894 54.4483C346.661 52.9659 345.675 51.2364 344.935 49.2599C344.319 47.2834 343.949 45.1834 343.949 42.8363C343.949 40.4891 344.319 38.3891 344.935 36.4126C345.428 34.8067 346.168 33.4478 347.155 32.089V28.8771V14.3003C346.661 14.4239 346.168 14.6709 345.675 14.7945C341.729 16.4004 338.523 18.6239 335.934 21.4652C333.344 24.3064 331.371 27.5183 330.015 31.2242C328.659 34.9302 328.042 38.7597 328.042 42.8363C328.042 46.9128 328.659 50.7423 330.015 54.4483C331.371 58.1542 333.221 61.3661 335.934 64.2073C338.523 67.0486 341.852 69.2721 345.675 70.8781C349.621 72.484 354.183 73.3487 359.362 73.3487C364.541 73.3487 369.103 72.484 373.049 70.8781C376.995 69.2721 380.201 67.0486 382.79 64.2073C385.38 61.3661 387.353 58.1542 388.709 54.4483C390.065 50.7423 390.682 46.9128 390.682 42.8363C390.682 38.7597 390.065 34.9302 388.709 31.2242Z"
            fill="#3F9FF4"
          />
          <path d="M366.884 6.14716H351.964V28.7535H366.884V6.14716Z" fill="#3F9FF4" />
        </svg>

        <div>
          <h1 style="display: none;">Seller Online</h1>
          <br>
          <small>система покупок и продаж через интернет по всему миру</small>
        </div>
      </div>
      <div style="margin-top:14px;">
        Загрузка ...
      </div>
    </div>

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <noscript>
      В Вашем браузере отключена поддержка JavaScript. Пожалуйста, убедитесь, что Ваш браузер
      поддерживает JavaScript.
    </noscript>
  </body>
</html>
