<template>
  <span>
    <span>
      <span class="text-grey-7 q-mr-xs">&times;</span>
      <span class="text-subtitle2">
        <slot name="default" />
      </span>
    </span>
    <span class="text-caption1 text-muted">
      {{ $tt("common.pcs") }}
    </span>
  </span>
</template>
