<template>
  <PageContainer
    :title="
      is_holded
        ? $tt('common.part_frozen_funds')
        : `${is_sell ? $tt('nav.sells.my_sells.title') : $tt('nav.buys.my_buys.title')}`
    "
  >
    <template #actions>
      <div class="flex items-center">
        <div v-if="is_sell">
          <a
            style="text-decoration:none;"
            href="/orders/sell"
            v-if="is_holded"
            class="text-black"
          >
            <app-btn padding="11px" size="12px">
              {{ $tt("common.all", 0, 2) }} {{ $tt("common.order", 0, 2) }}
            </app-btn>
          </a>

          <a
            style="text-decoration:none;"
            href="/orders/sell?is_hold=true"
            v-else
            class="text-black"
          >
            <app-btn padding="11px" size="12px">
              {{ $tt("common.frozen") }} {{ $tt("common.order", 0, 2) }}
            </app-btn>
          </a>
        </div>

        <app-btn size="12px" padding="11px" to="/buy/new" v-else>
          {{ $tt("nav.buys.new.title") }}
        </app-btn>
      </div>
    </template>

    <div class="container">
      <div class="q-gutter-y-xl">
        <div>
          <form @submit.prevent="getOrders({ page: 1 })">
            <div class="row q-col-gutter-md" :class="$q.screen.xs && 'column'">
              <div class="col-4">
                <app-input
                  :dense="false"
                  v-model="filter.searchString"
                  :label="$tt('common.query', 1)"
                >
                  <template #before>
                    <app-select
                      :dense="false"
                      :options="searchByList"
                      style="min-width:140px"
                      v-model="filter.searchBy"
                      :label="`${$tt('common.search', 1)} по`"
                    ></app-select>
                  </template>
                </app-input>
              </div>
              <div class="col-auto">
                <app-input
                  :dense="false"
                  :value="
                    date.from &&
                      date.to &&
                      `${date.from
                        .split('-')
                        .reverse()
                        .join('.')} - ${date.to
                        .split('-')
                        .reverse()
                        .join('.')}`
                  "
                  :label="$tt('common.range', 1)"
                  readonly
                  class="readonly-default"
                >
                  <template #prepend>
                    <q-icon size="18px" name="date_range"></q-icon>
                  </template>

                  <q-menu>
                    <LocalDatePicker
                      v-model="date"
                      minimal
                      range
                      color="accent"
                      mask="YYYY-MM-DD"
                    >
                      <div class="flex-center-between">
                        <app-btn v-close-popup flat>{{ $tt("common.cancel") }}</app-btn>
                        <app-btn v-close-popup color="accent">{{
                          $tt("common.pick", 1)
                        }}</app-btn>
                      </div>
                    </LocalDatePicker>
                  </q-menu>
                  <!-- </app-btn>
                </template> -->
                  <template #append>
                    <app-btn
                      @click="
                        () => {
                          date = { from: null, to: null };
                        }
                      "
                      icon="close"
                      size="12px"
                      dense
                      flat
                      color="negative"
                    ></app-btn>
                  </template>
                </app-input>
              </div>
              <div class="col">
                <app-select
                  :dense="false"
                  :options="typed_statuses"
                  :option-label="(opt) => opt && (opt.status_name || opt.status_key)"
                  :option-value="(opt) => opt && opt.status_key"
                  emit-value
                  map-options
                  v-model="filter.status"
                  :label="$tt('common.status', 1)"
                ></app-select>
              </div>
              <div
                class="col-auto flex q-gutter-x-sm"
                :class="$q.screen.xs && 'justify-between'"
              >
                <app-btn type="submit" class="q-px-md" color="accent">{{
                  $tt("common.search", 1)
                }}</app-btn>
                <app-btn
                  padding="14px"
                  size="12px"
                  icon="clear"
                  class="text-negative"
                  @click="clearFilter"
                >
                  <q-tooltip>
                    {{ $tt("common.reset", 1) }}
                  </q-tooltip>
                </app-btn>
              </div>
            </div>
          </form>
        </div>

        <div class="flex-center-between">
          <app-pagination
            v-model="pager.page"
            :max="pages_to_show || 1"
            push
            direction-links
            ellipses
            :max-pages="$q.screen.xs || $q.screen.sm ? 2 : 6"
            color="accent"
          />

          <div class="flex items-center q-gutter-x-md">
            <div v-show="!$q.screen.xs" class="flex items-center">
              <small class="text-muted q-mr-xs">
                {{ $tt("common.total") }}: {{ orders_total || 0 }}</small
              >
            </div>
          </div>
          <app-select
            v-model="pager.onPage"
            :label="$tt('common.on_page')"
            style="min-width:120px"
            :options="[10, 20, 50, 100]"
          >
          </app-select>
        </div>

        <app-table-list
          :empty="(!orders || !orders.length) && $tt('errors.no_data, 1')"
          :colspan="9"
          :loading="loading"
          :header="$tt('common.order', 1, 2)"
        >
          <template #thead>
            <tr>
              <th side></th>
              <th side>
                {{ $tt("common.order", 1) }}
              </th>
              <th>
                {{ $tt("common.title", 1) }}
              </th>
              <th class="text-right">
                {{ $tt("common.summ", 1) }}
              </th>
              <th class="text-right">
                PayPal fee
              </th>
              <th class="text-right">
                SOL fee
              </th>
              <th class="text-right">
                Sales tax
              </th>
              <th>{{ $tt("common.status", 1) }}</th>
              <th side></th>
            </tr>
          </template>

          <tr
            v-for="order in orders"
            :key="order.orderID"
            class="cursor-pointer"
            @click="viewOrder($route.params.type, order.orderID)"
          >
            <td side>
              <app-btn
                @click.stop.prevent
                unelevated
                icon="more_horiz"
                round
                size="11px"
                color="accent"
              >
                <q-menu>
                  <q-list>
                    <q-item
                      :to="`/orders/${$route.params.type}/${order.orderID}`"
                      clickable
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.details", 1) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item
                      v-if="false"
                      v-close-popup
                      clickable
                      @click="downloadInvoice(order)"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.download", 1) }} {{ $tt("common.invoice") }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item clickable @click="addTrack(order)">
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.input", 1) }} {{ $tt("common.track_number") }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      @click="getRefund(order)"
                      v-close-popup
                      v-show="is_sell"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("shipments.return_payment", 1) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      @click="$openURL(`/shipments/create?ref=${order.orderID}`)"
                      clickable
                      v-show="is_sell"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.create", 1) }} {{ $tt("common.shipment", 0, 3) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-close-popup
                      @click="
                        () => {
                          $copyText(order.orderComment);
                          $message({ title: $tt('common.copied', 1), level: 'success' });
                        }
                      "
                      clickable
                    >
                      <q-item-section>
                        <!-- Копировать адрес покупателя -->
                        <q-item-label>
                          {{ $tt("common.copy", 1) }} {{ $tt("common.address", 0, 2) }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      @click="cancelOrder(order.orderID)"
                      class="text-negative font-500"
                      :disable="!order.actions.can_cancel"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ $tt("common.cancel", 1) }}
                          {{ $tt("common.order") }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side v-show="!order.actions.can_cancel">
                        <q-item-label>
                          <q-icon name="lock"></q-icon>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </app-btn>
            </td>
            <td side>
              <div class="q-gutter-y-xs">
                <div v-if="order.payVia">
                  <span
                    v-if="order.payVia === 'return_shipping'"
                    style="font-weight:500;"
                    class="text-orange"
                  >
                    {{ $tt("common.return", 1) }}
                  </span>

                  <div v-else>
                    <a
                      :href="order.payVia"
                      v-if="order.payVia.toLowerCase().includes('https')"
                      class="text-uppercase"
                    >
                      {{ $tt("common.source") }}
                    </a>

                    <div
                      :title="order.payVia"
                      v-else
                      style="max-width:140px"
                      class="text-primary text-uppercase ellipsis"
                    >
                      {{ order.payVia }}
                    </div>
                  </div>
                </div>

                <div>
                  №
                  <span class="font-500">
                    <q-tooltip max-width="420px">
                      {{ order.orderComment }}
                    </q-tooltip>

                    {{ order.orderID }}

                    <q-btn
                      class="q-ml-xs"
                      size="xs"
                      flat
                      @click.prevent.stop="
                        () => {
                          $copyText(order.orderID);
                          $message({
                            title:
                              $tt('common.order_number', 1) + ' ' + $tt('common.copied'),
                            level: 'success',
                          });
                        }
                      "
                      round
                      icon="copy_all"
                    ></q-btn>
                  </span>
                </div>

                <div class="text-grey-7">
                  {{ $date(order.date) }}
                </div>
              </div>
            </td>
            <td style="white-space:normal">
              <div v-if="order.title">
                <div class="flex no-wrap items-start">
                  <div class="ellipsis-2-lines">
                    <q-icon color="grey-6" size="17px" name="subject">
                      <q-tooltip
                        anchor="top middle"
                        self="bottom middle"
                        max-width="420px"
                      >
                        {{ order.title }}
                      </q-tooltip>
                    </q-icon>
                    {{ order.title }}
                  </div>
                </div>
              </div>
              <div v-else>
                <small class="text-muted">
                  {{ $tt("errors.not_specified") }}
                </small>
              </div>
              <div class="flex q-mt-xs">
                <a
                  v-for="(code, idx) in getOrderSku(order.sku, order.payVia)"
                  :href="code.link"
                  class="block link q-mr-xs"
                  target="_blank"
                  :key="idx"
                  style="line-height:1.77;font-size:10px"
                  @click.stop
                >
                  {{ code.num }}
                </a>
              </div>
            </td>

            <td class="text-right">
              {{ $toUSD(order.amount) }}
            </td>

            <td class="text-right">
              {{ $toUSD(order.paypalFee) }}
            </td>
            <td class="text-right">
              {{ $toUSD(order.solFee) }}
            </td>
            <td class="text-right">
              {{ $toUSD(order.salesTax) }}
            </td>
            <td style="white-space:normal;font-size:12px">
              {{ order.status_name }}
            </td>
            <td side>
              <div class="q-py-sm">
                <app-btn
                  v-if="order.trackNumbers && order.trackNumbers.length"
                  class="full-width"
                  padding="14px xs"
                  @click.stop.prevent
                  type="button"
                  size="10px"
                >
                  <div class="flex items-center no-wrap">
                    <div class="q-mr-sm">{{ $tt("common.track_number", 0, 2) }}</div>
                    <div
                      style="cursor:pointer;line-height:1"
                      class="bg-positive rounded-borders font-500 q-py-xs q-px-sm text-white z-top"
                    >
                      {{ order.trackNumbers.length }}
                    </div>
                  </div>

                  <q-menu>
                    <q-list>
                      <q-item v-for="(t, idx) in order.trackNumbers" :key="idx">
                        <q-item-section side>
                          <q-item-label>
                            <app-flag v-if="t.country" :country="t.country" />
                            <app-flag v-else :country="null" />
                          </q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label
                            style="white-space:nowrap"
                            caption
                            v-if="t.status"
                          >
                            <small class="font-500">
                              {{ t.status }}
                            </small>
                          </q-item-label>
                          <q-item-label v-if="t.number">
                            {{ t.number }}
                          </q-item-label>
                          <q-item-label caption v-if="t.parcel_id">
                            {{ $tt("common.parcel", 1) }}: {{ t.parcel_id }}
                          </q-item-label>
                        </q-item-section>

                        <q-item-section avatar>
                          <q-item-label>
                            <app-btn
                              flat
                              class="bg-white"
                              size="sm"
                              @click.stop="
                                $openURL(`https://t.17track.net/ru#nums=${t.number}`)
                              "
                            >
                              <div class="flex items-center">
                                <div class="q-mr-xs">
                                  <img
                                    width="48px"
                                    height="auto"
                                    src="/img/logos/17track.svg"
                                    alt=""
                                  />
                                </div>

                                <q-icon
                                  size="15px"
                                  name="chevron_right"
                                  color="grey-7"
                                ></q-icon>
                              </div>
                            </app-btn>
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </app-btn>

                <div
                  style="min-width:140px;font-size:12px;"
                  v-else-if="is_sell && !order.is_digital && order.status !== 'REFUNDED'"
                >
                  <div
                    style="cursor:pointer;white-space:normal;"
                    @click.stop.prevent="addTrack(order)"
                    class="quick-add-track bg-negative text-white rounded-borders q-pa-md fz-11"
                  >
                    <span>
                      <q-icon name="error" size="14px"></q-icon>&nbsp;{{
                        $tt("messages.add_track_to_continue")
                      }}
                    </span>
                  </div>
                </div>

                <div v-else class="text-center">
                  <small class="text-muted">
                    {{ $tt("errors.not_specified") }}
                  </small>
                </div>
              </div>
            </td>
          </tr>
        </app-table-list>

        <div class="flex-center-between">
          <app-pagination
            v-model="pager.page"
            :max="pages_to_show || 1"
            unelevated
            direction-links
            ellipses
            :max-pages="$q.screen.xs || $q.screen.sm ? 2 : 6"
            push
            color="accent"
          />

          <div class="flex items-center q-gutter-x-md">
            <div v-show="!$q.screen.xs" class="flex items-center">
              <small class="text-muted q-mr-xs">
                {{ $tt("common.total") }}: {{ orders_total || 0 }}</small
              >
            </div>
          </div>
          <app-select
            v-model="pager.onPage"
            :label="$tt('common.on_page')"
            style="min-width:120px"
            :options="[10, 20, 50, 100]"
          >
          </app-select>
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
export default {
  async mounted() {
    this.getAvaliableStatuses();

    if (this.$route.query && this.$route.query.searchBy) {
      this.filter.searchBy = this.searchByList.find(
        (t) => t.value === this.$route.query.searchBy
      );
    }
  },
  data() {
    return {
      orders: null,
      loading: false,
      pager: {
        page:
          (this.$route.query && this.$route.query.page && +this.$route.query.page) || 1,
        onPage: 20,
      },
      orders_count: null,
      orders_total: null,
      date: { from: null, to: null },
      statuses: null,
      filter: {
        searchBy: null,
        searchString: (this.$route.query && this.$route.query.searchString) || null,
        status: (this.$route.query && this.$route.query.filterState) || null,
      },
      is_hold:
        (this.$route.query && this.$route.query.is_hold && !!this.$route.query.is_hold) ||
        false,
    };
  },
  watch: {
    "pager.page": {
      handler(page) {
        this.getOrders({ page });
      },
      immediate: true,
    },
    "pager.onPage"(onPage) {
      this.pager.page = 1;
      this.getOrders({ page: 1, onPage });
    },
  },
  computed: {
    searchByList() {
      if (this.is_buy) {
        return [
          {
            value: null,
            label: this.$tt("errors.not_specified", 1),
          },
          {
            value: "order_shop_id",
            label: "№ лота",
          },
          {
            value: "order_id",
            label: this.$tt("common.order_number", 1),
          },
          {
            value: "order_shop_name",
            label: this.$tt("common.shop_name", 1),
          },

          {
            value: "order_shop_title",
            label: this.$tt("common.product_name", 1),
          },
        ];
      } else {
        return [
          {
            value: null,
            label: this.$tt("errors.not_specified", 1),
          },
          {
            value: "order_shop_id",
            label: "Номер лота",
          },
          {
            value: "track",
            label: this.$tt("common.track_number", 1),
          },
          {
            value: "order_id",
            label: this.$tt("common.order_number"),
          },
          {
            value: "order_address",
            label: this.$tt("common.address"),
          },
          {
            value: "order_email",
            label: "Email",
          },
          {
            value: "order_shop_name",
            label: this.$tt("common.shop_name", 1),
          },
          {
            value: "order_paypal",
            label: "№ транзакции PayPal",
          },
          {
            value: "order_shop_title",
            label: this.$tt("common.product_name", 1),
          },
          {
            value: "order_invoice",
            label: "Invoice №",
          },
        ];
      }
    },
    order_type() {
      return this.$route.params.type;
    },
    pages_to_show() {
      return Math.ceil(this.orders_total / this.pager.onPage);
    },
    is_sell() {
      return this.order_type === "sell";
    },
    is_buy() {
      return this.order_type === "buy";
    },
    is_holded() {
      return this.$route.query.is_hold;
    },
    typed_statuses() {
      if (this.is_sell) {
        return this.statuses && this.statuses.filter((s) => s.status_sell);
      } else {
        return this.statuses && this.statuses.filter((s) => s.status_buy);
      }
    },
  },
  methods: {
    async getAvaliableStatuses() {
      try {
        const {
          data: { statuses },
        } = await this.$api.get(`/orders/get_available_statuses`);

        this.statuses = [
          {
            status_key: null,
            status_name: this.$tt("common.all", 1),
          },
          ...statuses.filter((s) => !!s[`status_${this.order_type}`]),
        ];
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });
      }
    },
    async getOrders(additional_params = {}) {
      return new Promise(async (done, fail) => {
        this.loading = true;

        let params = {
          ...(this.is_hold && { is_hold: this.is_hold }),
          ...(this.filter.searchBy &&
            this.filter.searchString && {
              searchBy: this.filter.searchBy.value,
              searchString: this.filter.searchString,
            }),
          ...(this.filter.status && { filterState: [this.filter.status] }),
          ...(this.date.from &&
            this.date.to && { dateFrom: this.date.from, dateTo: this.date.to }),
          ...additional_params,
        };

        try {
          let {
            data: { orders, orders_count, orders_total },
          } = await this.$api.post(`/orders`, {
            orderType: this.order_type,
            ...this.pager,
            ...params,
          });

          this.orders = orders;
          this.orders_count = orders_count;
          this.orders_total = orders_total;

          this.$router
            .push({
              name: this.$route.name,
              query: { ...this.pager, ...params },
            })
            .catch(() => {});

          done(orders);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });

          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    clearFilter() {
      this.date = { from: null, to: null };
      this.filter = {
        searchBy: null,
        searchString: null,
        status: null,
      };
      this.getOrders({ page: 1 });
    },
    addTrack(order) {
      let { orderID: order_id, trackNumbers: tracks } = order;

      const addTrackDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./Sell/Order/OrderActions/AddTrack.vue"),
          tracks,
        })
        .onOk(async (new_track) => {
          addTrackDialog.hide();

          try {
            this.loading = true;

            const {
              data: { added, skipped },
            } = await this.$store.dispatch("Orders/ADD_TRACKS", {
              track_numbers: [new_track],
              order_id,
            });

            this.$alert({
              level: "success",
              title: `Трек-${
                added && added.length === 1 ? "номер добавлен" : "номера добавлены"
              }.`,
              message: `Пропущены - ${skipped || 0}`,
            });

            this.getOrders();
          } catch (e) {
            console.log(e);

            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            this.loading = false;
          }
        });
    },
    getOrderSku(sku, source) {
      let numbers;

      if (!sku) return;

      numbers = [];

      if (sku.indexOf(",") > 0) {
        numbers = sku.split(",").map((n) => n.trim());
      } else {
        numbers = [sku];
      }

      if (!numbers.length) return [];

      if (source === "etsy") {
        return numbers.map((num) => ({
          link: `https://www.etsy.com/listing/${num}`,
          num,
        }));
      } else if (source === "ebay") {
        return numbers.map((num) => ({
          link: `https://www.ebay.com/itm/${num}`,
          num,
        }));
      } else {
        return numbers.map((num) => ({
          num,
        }));
      }
    },
    refundOrder(order, amount) {
      if (!amount) throw new Error("No AMOUNT argument passed");

      let params = {
        order,
        amount: parseFloat(amount),
        by_operator: false,
      };

      return this.$api.post(`/orders/refund`, params);
    },
    getRefund(order) {
      const refundDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./Sell/Order/OrderActions/PromptRefundAmount.vue"),
          title: "Введите сумму",
          defaultAmount: order.amount,
        })
        .onOk(async (amount) => {
          refundDialog.hide();

          try {
            this.loading = true;

            await this.refundOrder(order.orderID, amount);

            this.getOrders();
          } catch (e) {
            console.log(e);
            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            this.loading = false;
          }
        });
    },
    async cancelOrder(order_id) {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.cancel")} ${this.$tt("common.order")}`,
        }),
        level: "danger",
      });

      if (!c) return;

      try {
        this.loading = true;

        await this.$store.dispatch(`Orders/CANCEL_ORDER`, order_id);

        this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });

        this.getOrders();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    viewOrder(type, order_id) {
      this.$router.push(`/orders/${type}/${order_id}`);
    },
    async downloadInvoice({ orderID }) {
      try {
        this.loading = true;

        let { data: blob } = await this.$api.get(`/orders/${orderID}/invoice-for-buyer`, {
          responseType: "blob",
        });

        let filename = `order-invoice-${orderID}`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          let url = URL.createObjectURL(blob);

          const link = document.createElement("a");

          if (link.download !== undefined) {
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.setAttribute("id", "document-download-link");
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data", 1),
          notify: true,
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss">
.quick-add-track {
  &:hover {
    filter: brightness(1.07);
  }
}
</style>
