<template>
  <q-layout class="layout" style="position: relative">
    <q-slide-transition>
      <div
        class="text-white bg-negative q-py-sm"
        v-if="
          !$route.meta.hide_banners &&
            $store.getters['auth/user'] &&
            $store.getters['auth/customer_vars']?.DENY_OUTPUT_MONEY
        "
      >
        <div class="container">
          <div class="flex-center-between line-height1">
            <div class="fz-12 font-500 ">
              {{ $tt("messages.block_money_message") }}
            </div>

            <div v-if="block_due">
              <q-icon size="20px" class="q-mr-xs" name="today" />
              {{ block_due }}
            </div>
          </div>
        </div>
      </div>
    </q-slide-transition>

    <nav ref="layout-head" class="layout__header header">
      <div
        v-if="$store.getters['auth/is_logged']"
        class="layout__upper q-py-sm flex items-center no-wrap "
      >
        <div class="container">
          <div class="flex items-center no-wrap">
            <div
              v-if="!$q.screen.xs && !$q.screen.sm"
              class="flex-center-between no-wrap full-width"
            >
              <small
                class="text-grey-7 block line-height1 q-mr-md"
                style="white-space:nowrap"
              >
                {{ $tt("finances.one_usd_cost", 1) }}
              </small>
              <div class="flex items-center q-gutter-x-xl no-wrap">
                <div
                  class="flex no-wrap items-center"
                  v-for="c in currency_rate"
                  :key="c.code"
                >
                  <app-flag class="q-mr-xs" :country="c.code.slice(0, 2)"></app-flag>
                  <div
                    class="flex items-center line-height1"
                    :class="$q.screen.sm && 'column'"
                  >
                    <div class="fz-10 font-500 q-mr-xs">
                      {{ c.code }}
                    </div>
                    <div class="flex items-center q-mr-sm line-height1 font-500">
                      <q-icon size="14px" name="arrow_downward" color="grey-6"></q-icon>
                      {{ $toFixed(c.in_rate, 3) }}
                    </div>
                    <div class="flex items-center line-height1 font-500">
                      <q-icon size="14px" name="arrow_upward" color="grey-6"></q-icon>
                      {{ $toFixed(c.out_rate, 3) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div></div> -->
          </div>
        </div>
      </div>
      <!-- </q-slide-transition> -->

      <div v-else style="height:28px"></div>

      <q-separator style="opacity:0.42"></q-separator>

      <div class="header__bottom">
        <div class="container">
          <div class="header__inner" :class="[$q.screen.xs && 'column q-mb-sm']">
            <div
              class="header__left flex items-start justify-between"
              :class="($q.screen.xs || $q.screen.sm) && 'full-width'"
            >
              <div
                to="/"
                class="header__logo q-mr-lg flex column"
                :class="(($q.screen.xs || $q.screen.sm) && 'q-mb-md') || 'q-mr-xl'"
              >
                <!-- <router-link to="/"> -->
                <div class="flex items-center">
                  <a
                    href="https://seller-online.com/"
                    class="relative-position"
                    :class="$q.screen.xs && 'q-mb-sm block'"
                  >
                    <img
                      id="nav-logo"
                      contain
                      height="28px"
                      src="/img/logos/logo.svg"
                      alt=""
                      v-once
                      style="
                      object-fit: contain;
                      object-position: center center;
                      margin-top: 4px;
                      padding-top: 1px;
                    "
                    />
                    <img
                      id="nav-logo"
                      contain
                      height="32px"
                      src="/img/logos/sol-ny.svg"
                      alt=""
                      v-once
                      style="
                      object-fit: contain;
                      object-position: center center;
                      margin-top: 4px;
                      padding-top: 1px;
                    "
                      v-if="false"
                    />
                  </a>
                </div>

                <small
                  :class="($q.screen.xs || $q.screen.sm) && 'block q-mt-sm'"
                  style="margin-top: -7px"
                  class="text-muted"
                >
                  {{ $tt("logo_slogan") }}
                  <!-- система покупок и продаж через интернет по всему миру -->
                </small>
              </div>
            </div>

            <div
              class="header__right"
              :class="[
                ($q.screen.xs || $q.screen.sm) && 'full-width',
                !$q.screen.xs && !$q.screen.sm && 'q-gutter-x-md',
              ]"
            >
              <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                appear
              >
                <div
                  :class="[
                    $q.screen.sm && 'full-width no-wrap justify-end',
                    $q.screen.xs && 'flex justify-between no-wrap',
                  ]"
                  class="flex q-gutter-x-md"
                  v-if="$store.getters['auth/is_logged']"
                >
                  <!-- dropdown-icon="expand_more" -->
                  <app-btn
                    :loading="$store.getters['auth/loading']"
                    push
                    no-caps
                    :class="
                      `${balance.effective >= 0 ? 'text-black' : 'bg-red-1 text-red'}`
                    "
                    v-if="balance"
                    transition="fade"
                    :size="$q.screen.xs ? '10px' : '12px'"
                    class="bg-white"
                  >
                    <!-- <template v-slot:label>
                      <div class="text-center flex items-center"> -->
                    <span style="font-size: 20px; line-height: 1">💵</span>

                    <div class="font-500 q-ml-sm" v-show="!$q.screen.xs && !$q.screen.sm">
                      {{ $toUSD(balance.effective) }}
                    </div>
                    <!-- </div>
                    </template> -->

                    <!-- <q-popup-proxy> -->
                    <q-menu
                      transition-show="jump-down"
                      transition-hide="jump-up"
                      :offset="[0, 7]"
                      @show="$store.dispatch('Finances/GET_BALANCE')"
                    >
                      <q-card>
                        <q-list>
                          <q-item clickable to="/payments/income?blocked=blocked">
                            <q-item-section>
                              <q-item-label caption>
                                <div class="flex items-center">
                                  {{ $tt("balance.waiting", 1) }}
                                </div>
                              </q-item-label>
                            </q-item-section>
                            <q-item-section avatar class="q-ml-md">
                              <q-item-label>
                                {{ $toUSD(balance.locked_in || 0) }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>
                              <q-item-label caption>
                                <div class="flex items-center">
                                  Диспути
                                </div>
                              </q-item-label>
                            </q-item-section>
                            <q-item-section avatar class="q-ml-md">
                              <q-item-label>
                                {{ $toUSD(balance.locked_disputes || 0) }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-item clickable to="/orders/sell?is_hold=true">
                            <q-item-section>
                              <q-item-label caption>
                                <div class="flex items-center">
                                  {{ $tt("balance.freezed", 1) }}
                                  <q-btn
                                    @click.stop
                                    to="/money-hold-log"
                                    flat
                                    icon="request_quote"
                                    dense
                                    size="11px"
                                    class="q-ml-sm"
                                  ></q-btn>
                                </div>
                              </q-item-label>
                            </q-item-section>
                            <q-item-section avatar class="q-ml-md">
                              <q-item-label>
                                {{ $toUSD(balance.holded || 0) }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-item clickable to="/payments/outcome?blocked=blocked">
                            <q-item-section>
                              <q-item-label caption>
                                <div class="flex items-center">
                                  {{ $tt("balance.will_remove", 1) }}
                                </div>
                              </q-item-label>
                            </q-item-section>
                            <q-item-section avatar class="q-ml-md">
                              <q-item-label>
                                {{ $toUSD(balance.locked_out || 0) }}
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>
                              <q-item-label class="font-500">
                                <div class="flex items-center">
                                  {{ $tt("balance.available", 1) }}
                                </div>
                              </q-item-label>
                            </q-item-section>
                            <q-item-section avatar class="q-ml-md">
                              <div class="flex items-center">
                                <app-btn
                                  color="primary"
                                  class="q-mr-sm"
                                  size="11px"
                                  icon="add"
                                  dense
                                  to="/pay-money"
                                ></app-btn>
                                <span class="text-subtitle2 line-height1 font-500">
                                  {{ $toUSD(balance ? balance.effective : 0) }}
                                </span>
                              </div>
                            </q-item-section>
                          </q-item>
                          <div v-if="balance.minimum_balance">
                            <q-separator></q-separator>
                            <q-item dense>
                              <q-item-section>
                                <q-item-label caption>
                                  <!-- Неснижаемый остаток -->
                                  Незнижуваний залишок
                                </q-item-label>
                              </q-item-section>
                              <q-item-section side>
                                <q-item-label>
                                  {{ $toUSD(balance.minimum_balance) }}
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </div>
                        </q-list>
                      </q-card>
                    </q-menu>
                    <!-- </q-popup-proxy> -->
                  </app-btn>

                  <app-btn
                    :size="$q.screen.xs ? '10px' : '12px'"
                    padding="sm"
                    class="text-grey-7 q-px-sm"
                    color="white"
                  >
                    <q-badge floating :class="cart_counter > 0 ? 'bg-accent' : 'bg-grey'">
                      {{ cart_counter }}
                    </q-badge>

                    <!-- <q-icon size="20px" name="shopping_cart"></q-icon> -->
                    <span style="font-size: 18px">🛒</span>
                    <!-- <span style="font-size:19px">📦</span> -->

                    <q-popup-proxy
                      transition-hide="jump-up"
                      transition-show="jump-down"
                      :offset="[0, 7]"
                    >
                      <q-card style="width: 420px">
                        <q-card-section class="text-accent text-grey-7">
                          <div class="flex-center-between">
                            <div class="flex text-accent items-center font-500">
                              {{ $tt("common.cart", 1) }}

                              <q-badge
                                :class="cart_counter > 0 ? 'bg-accent' : 'bg-grey'"
                                class="q-ml-sm font-500"
                                style="font-size: 11px"
                              >
                                {{ cart_counter }}
                              </q-badge>
                            </div>
                          </div>
                        </q-card-section>
                        <div class="relative-position">
                          <with-loading :state="loading.cart" />

                          <div v-if="cart_counter">
                            <q-markup-table flat>
                              <thead>
                                <tr>
                                  <th class="text-left text-grey-7">
                                    <!-- Наименование -->
                                    {{ $tt("common.title", 1) }}
                                  </th>
                                  <th class="text-right text-grey-7">
                                    {{ $tt("common.count", 1) }}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="(item, idx) in cart"
                                  :key="`${item.sku}-${idx}`"
                                >
                                  <td
                                    style="
                                      max-width: 280px;
                                      white-space: normal;
                                    "
                                  >
                                    <div class="q-py-sm">
                                      <div class="ellipsis-2-lines">
                                        {{ item.title }}
                                      </div>
                                      <div class="flex q-mt-xs q-gutter-x-xs">
                                        <q-badge
                                          color="grey-3"
                                          text-color="grey-8"
                                          v-if="item.color"
                                          class="font-500"
                                        >
                                          <q-icon
                                            name="palette"
                                            size="16px"
                                            class="q-mr-xs"
                                          ></q-icon>
                                          {{ item.color }}
                                        </q-badge>
                                        <q-badge
                                          color="grey-3"
                                          text-color="grey-8"
                                          v-if="item.size"
                                          class="font-500"
                                        >
                                          <q-icon
                                            name="straighten"
                                            size="16px"
                                            class="q-mr-xs"
                                          ></q-icon>
                                          {{ item.size }}
                                        </q-badge>
                                      </div>
                                    </div>
                                  </td>
                                  <td
                                    class="text-right text-subtitle2"
                                    style="width: 0; white-space: nowrap"
                                  >
                                    {{ item.quantity || 1 }}
                                  </td>
                                </tr>
                              </tbody>
                            </q-markup-table>

                            <!-- <q-item class="q-py-md" v-if="$route.name !== 'CART'">
                              <q-item-section>
                                <app-btn to="/cart" size="13px" color="accent">
                                  {{ $tt("common.finish_buy") }}
                                </app-btn>
                              </q-item-section>
                            </q-item> -->
                          </div>
                          <!-- // ? EMPTY CART -->
                          <div v-else>
                            <q-separator></q-separator>

                            <q-card-section>
                              <div class="flex-center-between">
                                <small class="text-muted text-center">
                                  {{ $tt("errors.no_data", 1) }}
                                </small>
                                <app-btn
                                  to="/buy/new"
                                  size="11px"
                                  padding="sm md"
                                  icon="new_releases"
                                  color="positive"
                                >
                                  &nbsp;&nbsp;{{ $tt("nav.buys.new.title") }}
                                </app-btn>
                              </div>
                            </q-card-section>
                          </div>
                        </div>
                        <q-separator></q-separator>
                        <q-item clickable to="/cart">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("common.go_to", 1) }}
                            </q-item-label>
                          </q-item-section>
                          <q-item-section avatar>
                            <q-item-label>
                              <q-icon name="chevron_right" size="19px"></q-icon>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-card>
                    </q-popup-proxy>
                  </app-btn>

                  <app-btn class="text-orange" :size="$q.screen.xs ? '10px' : '12px'">
                    <!-- <q-icon size="21px" style="margin-bottom:2px" name="notifications"></q-icon> -->
                    <span class="text-center" style="font-size: 17px">🔔</span>
                    <transition-group
                      enter-active-class="animated fadeIn"
                      leave-active-class="animated fadeOut"
                      appear
                    >
                      <q-badge key="with-count" v-if="events_count" floating>
                        <div class="font-500">{{ events_count }}</div>
                      </q-badge>

                      <q-badge key="zero-count" color="grey" v-else floating>
                        <div class="font-500">0</div>
                      </q-badge>
                    </transition-group>

                    <NotificationsCenter />
                  </app-btn>

                  <app-btn
                    :loading="$store.getters['auth/loading']"
                    color="primary"
                    unelevated
                    no-caps
                    :size="$q.screen.xs ? '10px' : '12px'"
                    push
                  >
                    <!-- dropdown-icon="expand_more" -->
                    <!-- <template v-slot:label> -->
                    <div class="row items-center no-wrap">
                      <!-- <q-icon left name="account_box" /> -->

                      <div v-if="$store.state.auth.user" class="text-center">
                        <div class="flex items-center">
                          <q-icon
                            class="q-mr-sm"
                            name="account_circle"
                            v-show="!$q.screen.xs && !$q.screen.sm"
                          ></q-icon>
                          {{
                            ($store.state.auth.user && $store.state.auth.user.fname) ||
                              "Ваш аккаунт"
                          }}
                        </div>
                      </div>
                    </div>
                    <!-- </template> -->

                    <q-menu transition-show="jump-down" transition-hide="jump-up">
                      <q-list>
                        <q-item v-if="$q.screen.md || $q.screen.sm || $q.screen.xs">
                          <q-item-section>
                            <div class="text-muted">
                              {{
                                ($store.state.auth.user &&
                                  $store.state.auth.user.fname) ||
                                  "Ваш аккаунт"
                              }}
                            </div>
                          </q-item-section>
                        </q-item>
                        <q-item clickable>
                          <q-item-section class="text-500">
                            <q-item-label>
                              <div class="flex items-center">
                                {{ $tt("nav.account.settings") }}

                                <q-icon
                                  class="q-ml-sm"
                                  v-if="settings_notifications.length"
                                  name="new_releases"
                                  size="15px"
                                  color="accent"
                                >
                                </q-icon>
                              </div>
                            </q-item-label>
                          </q-item-section>

                          <q-item-section side>
                            <q-icon size="18px" name="chevron_right"></q-icon>
                          </q-item-section>

                          <q-menu :offset="[7, 0]" anchor="top left" self="top right">
                            <q-list>
                              <q-item
                                :to="s.href"
                                :key="idx"
                                v-for="(s, idx) in [
                                  {
                                    label: $tt('nav.account.change_pass'),
                                    href: '/settings/change-password',
                                  },
                                  {
                                    label: $tt('nav.account.sales_settings'),
                                    href: '/settings/sales',
                                  },
                                  {
                                    label: $tt('nav.account.subaccounts'),
                                    href: '/subaccounts',
                                  },

                                  {
                                    label: $tt('nav.account.passport_info'),
                                    href: '/settings/account-passport-info',
                                  },
                                  {
                                    label: $tt('nav.account.fop_contracts'),
                                    href: '/fop-register',
                                  },
                                  {
                                    label: $tt('nav.account.two_factor_auth', 1),
                                    href: '/settings/2fa',
                                    notify: settings_notifications.includes('2fa'),
                                  },
                                ]"
                                clickable
                                v-close-popup
                              >
                                <q-item-section>
                                  <div class="flex items-center">
                                    {{ s.label }}
                                    <q-icon
                                      class="q-ml-sm"
                                      v-if="s.notify"
                                      name="new_releases"
                                      size="15px"
                                      color="accent"
                                    >
                                    </q-icon>
                                  </div>
                                </q-item-section>
                              </q-item>
                            </q-list>
                          </q-menu>
                        </q-item>
                        <q-item clickable v-close-popup to="/account">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.account.personal_info") }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item clickable v-close-popup to="/account/summary-report">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.account.summary_info", 1) }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item exact to="/products" clickable v-close-popup>
                          <q-item-section>
                            <q-item-label class="flex-center-between">
                              {{ $tt("nav.account.my_products") }}

                              <!-- <small>
                                <q-badge rounded class="font-500 bg-red">new</q-badge>
                              </small> -->
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item exact to="/products/warehouse" clickable v-close-popup>
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.shipments.warehouse.title") }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item clickable v-close-popup to="/addresses">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.account.address_book") }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item clickable to="/notifications">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.account.notifications_center") }}
                            </q-item-label>
                          </q-item-section>
                          <q-item-section side>
                            <q-badge color="primary" v-if="events_count" class="q-ml-sm">
                              {{ events_count }}
                            </q-badge>
                            <q-badge color="grey" v-else class="q-ml-sm">0</q-badge>
                          </q-item-section>
                        </q-item>

                        <q-item clickable v-close-popup to="/hs-codes">
                          <q-item-section>
                            <q-item-label>
                              {{ $tt("nav.account.customs_codes_catalog") }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <!-- @click="logout" -->
                        <q-item clickable v-close-popup to="/logout">
                          <q-item-section>
                            <q-item-label class="text-negative font-500">
                              {{ $tt("nav.account.logout") }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </app-btn>
                </div>
                <div v-else class="flex q-gutter-x-md">
                  <app-btn
                    :size="$q.screen.xs ? '10px' : '14px'"
                    to="/register"
                    class="text-accent bg-white"
                  >
                    {{ $tt("common.registration") }}
                  </app-btn>
                  <app-btn
                    :size="$q.screen.xs ? '10px' : '14px'"
                    :loading="$store.state.auth.loading"
                    color="primary"
                    to="/login"
                    :class="$q.screen.sm ? 'q-ml-xs' : 'q-ml-md'"
                  >
                    {{ $tt("common.login") }}
                  </app-btn>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div ref="layout-nav" class="menu bg-white relative-position" style="z-index:98">
      <div class="menu__inner q-py-sm" v-if="$store.getters['auth/is_logged']">
        <div class="container">
          <div v-if="$q.screen.md || $q.screen.lg || $q.screen.xl" class="header__menu">
            <transition-group
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
              appear
            >
              <nav class="flex-center-between" key="user-nav">
                <ul>
                  <li class="header-nav__item q-mr-md">
                    <app-btn
                      size="12px"
                      to="/"
                      :class="$route.name === 'DASHBOARD' && 'text-accent'"
                      flat
                      no-caps
                    >
                      <q-icon size="18px" name="home" />
                    </app-btn>
                  </li>
                  <li
                    v-for="(menu, idx) in menu_items"
                    :key="idx"
                    class="header-nav__item"
                  >
                    <app-btn-dropdown
                      dropdown-icon="expand_more"
                      class="text-capitalize"
                      flat
                      no-caps
                      menu-self="top middle"
                      :label="$tt(menu.tlabel, 0, menu.tlabel_count || 1) || menu.label"
                      :class="{
                        'text-accent': $route.matched.some(
                          (r) => r.meta.section === menu.section
                        ),
                      }"
                      size="12px"
                      v-if="!menu.hidden"
                    >
                      <MenuItem :childrens="menu.childrens">
                        <template v-if="menu.footer" #footer>
                          <div class="flex items-center no-wrap">
                            <q-badge
                              v-if="menu.footer.badge"
                              color="accent"
                              class="q-mr-md"
                            >
                              {{ menu.footer.badge }}
                            </q-badge>
                            <div v-if="menu.footer.content">
                              {{ menu.footer.content }}
                            </div>
                          </div>
                        </template>
                      </MenuItem>
                    </app-btn-dropdown>
                  </li>

                  <li>
                    <app-btn
                      href="https://crm.seller-online.com"
                      class="text-blue-7 bg-blue-1"
                      size="12px"
                      flat
                    >
                      <q-icon name="new_releases" size="14px" class="q-mr-xs"></q-icon>
                      <span class="font-500">CRM</span>
                    </app-btn>
                  </li>
                </ul>

                <ul>
                  <li class="q-mr-sm">
                    <app-btn
                      :class="$route.name === 'CALCULATOR' && 'text-accent'"
                      flat
                      size="12px"
                    >
                      <!-- <q-icon name="help_outline" size="18px"></q-icon> -->
                      <span v-show="!$q.screen.md && !$q.screen.md">
                        {{ $tt("nav.help") }}
                      </span>

                      <q-menu>
                        <q-list>
                          <q-item
                            clickable
                            @click="$openURL('https://seller-online.com/purchases')"
                          >
                            <q-item-section>
                              {{ $tt("common.for_buyers", 1) }}
                            </q-item-section>
                          </q-item>
                          <q-item clickable>
                            <q-item-section>
                              {{ $tt("common.for_sellers", 1) }}
                            </q-item-section>
                            <q-item-section side>
                              <q-icon size="16px" name="chevron_right"></q-icon>
                            </q-item-section>
                            <q-menu anchor="top left" self="top end">
                              <q-list>
                                <q-item
                                  clickable
                                  @click="$openURL('https://seller-online.com/payments')"
                                >
                                  <q-item-section>
                                    {{ $tt("common.rate", 1, 2) }}
                                    {{ $tt("common.and") }}
                                    {{ $tt("common.service", 0, 2) }}
                                  </q-item-section>
                                </q-item>
                                <q-item to="/hs-codes" clickable>
                                  <q-item-section>
                                    {{ $tt("nav.account.customs_codes_catalog") }}
                                  </q-item-section>
                                </q-item>
                                <q-item clickable to="/law-help-request">
                                  <q-item-section
                                    >Допомога з питань авторських прав</q-item-section
                                  >
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-item>
                          <q-item clickable>
                            <q-item-section>
                              <div style="white-space: nowrap">
                                {{ $tt("pages.shipments.express_delivery", 1) }}
                              </div>
                            </q-item-section>
                            <q-item-section side>
                              <q-icon size="16px" name="chevron_right"></q-icon>
                            </q-item-section>
                            <q-menu anchor="top left" self="top end">
                              <q-list>
                                <q-item
                                  clickable
                                  @click="
                                    $openURL(
                                      'https://seller-online.com/help/fbm-fulfilment-2/'
                                    )
                                  "
                                >
                                  <q-item-section>
                                    {{ $tt("common.warehouse", 1) }}
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  @click="
                                    $openURL('https://seller-online.com/fulfillment/')
                                  "
                                >
                                  <q-item-section>
                                    {{ $tt("common.service", 1, 2) }}
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  @click="
                                    $openURL('https://seller-online.com/global-forward')
                                  "
                                >
                                  <q-item-section>
                                    Global Forward
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  @click="
                                    $openURL(
                                      'https://seller-online.com/shipping-calculator/'
                                    )
                                  "
                                >
                                  <q-item-section>
                                    {{ $tt("common.calculator", 1) }}
                                  </q-item-section>
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-item>

                          <q-item
                            target="_blank"
                            href="https://seller-online.com/help/"
                            clickable
                            style="color: #c62828"
                          >
                            <q-item-section>
                              <q-item-label>
                                {{ $tt("common.reference", 1) }}
                              </q-item-label>
                            </q-item-section>
                            <q-item-section side>
                              <q-icon name="open_in_new" size="14px"></q-icon>
                            </q-item-section>
                          </q-item>

                          <q-item
                            target="_blank"
                            href="https://t.me/SellerOnlineSupportBot"
                            clickable
                            style="color: #2AABEE"
                          >
                            <q-item-section>
                              <q-item-label>
                                {{ $tt("messages.telegram_support", 1) }}
                              </q-item-label>
                            </q-item-section>
                            <q-item-section side>
                              <q-icon name="open_in_new" size="14px"></q-icon>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </app-btn>
                  </li>
                  <li>
                    <app-btn
                      flat
                      @click="$openURL('https://seller-online.com/help')"
                      size="12px"
                      icon="help_outline"
                    >
                      <q-tooltip anchor="bottom middle" self="top middle">
                        <div class="font-500">
                          {{ $tt("common.reference", 1) }}
                        </div>
                      </q-tooltip>
                    </app-btn>
                  </li>
                </ul>
              </nav>
            </transition-group>
          </div>

          <div class="flex no-wrap" v-else>
            <app-btn
              @click="$openURL('https://seller-online.com/help')"
              size="12px"
              class="q-mr-md bg-grey-2"
              v-show="$q.screen.xs || $q.screen.sm"
              flat
            >
              <div class="flex line-height1 items-center no-wrap">
                <q-icon class="q-mr-xs" name="help_outline"></q-icon>
                <span v-show="$q.screen.sm">Справка</span>
              </div>
            </app-btn>
            <app-btn-dropdown
              :class="($q.screen.xs || $q.screen.sm || $q.screen.md) && 'full-width'"
              :align="($q.screen.xs || $q.screen.sm || $q.screen.md) && 'between'"
              label="Меню"
              flat
              icon="menu"
              dropdown-icon="expand_more"
            >
              <q-list>
                <q-item to="/">
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle2">
                        {{ $tt("common.main_page", 1) }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  class="q-py-lg"
                  v-for="(item, idx) in menu_items"
                  :key="idx"
                  clickable
                >
                  <q-item-section>
                    <!-- {{ $tt(item.tlabel, 1) || item.label }} -->
                    <div class="text-subtitle2">
                      {{ $tt(item.tlabel, 1) || item.label }}
                    </div>
                  </q-item-section>
                  <q-item-section side>
                    <q-icon name="keyboard_arrow_right" />
                  </q-item-section>

                  <q-popup-proxy
                    v-if="item.childrens && item.childrens.length"
                    anchor="top start"
                    self="top start"
                  >
                    <!-- transition-show="jump-up" -->
                    <q-card style="min-width: 280px; max-width: 420px; width: 100%">
                      <q-list>
                        <q-item v-close-popup="1" clickable class="q-py-lg">
                          <q-item-section>
                            <div class="text-primary text-subtitle2 line-height1">
                              {{ $tt(item.tlabel, 1) || item.label }}
                            </div>
                          </q-item-section>
                          <q-item-section side>
                            <app-btn
                              round
                              icon="arrow_back"
                              flat
                              dense
                              size="10px"
                            ></app-btn>
                          </q-item-section>
                        </q-item>
                        <q-separator></q-separator>
                        <q-item
                          :to="child.href"
                          class="q-py-lg"
                          v-for="(child, n) in item.childrens"
                          :key="n"
                          clickable
                        >
                          <!-- // ? ICON HERE ? -->
                          <q-item-section>
                            <q-item-label>
                              {{ $tt(child.title) }}
                            </q-item-label>
                            <q-item-label caption>
                              {{ $tt(child.desc) || child.desc }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-card>
                    <!-- </q-menu> -->
                  </q-popup-proxy>
                </q-item>
              </q-list>
            </app-btn-dropdown>
          </div>
        </div>
      </div>
      <!-- <q-separator /> -->
      <div
        v-if="false"
        class="absolute full-width"
        :style="{
          top: '100%',
          left: 0,
        }"
      >
        <q-card>
          <q-carousel
            value="style"
            swipeable
            animated
            control-color="white"
            padding
            arrows
            style="height: auto !important"
          >
            <q-carousel-slide
              v-for="(menu, idx) in menu_items"
              :key="idx"
              name="style"
              class="flex column"
              :style="{
                paddingLeft: 0,
                paddingRight: 0,
              }"
            >
              <MenuItem grid :childrens="menu.childrens">
                <template v-if="menu.footer" #footer>
                  <div class="flex items-center no-wrap">
                    <q-badge v-if="menu.footer.badge" color="accent" class="q-mr-md">
                      {{ menu.footer.badge }}
                    </q-badge>
                    <div v-if="menu.footer.content">
                      {{ menu.footer.content }}
                    </div>
                  </div>
                </template>
              </MenuItem>
            </q-carousel-slide>
          </q-carousel>
        </q-card>
      </div>
    </div>

    <main class="layout__main">
      <with-loading fixed :state="page_loading" />
      <q-page-container>
        <!-- <deprecation-warning /> -->
        <CookieBanner />

        <!-- <div
          class="container q-pt-lg"
          v-if="
            !$route.meta.hide_banners &&
              $store.getters['auth/user'] &&
              $store.getters['auth/customer_vars'].DENY_OUTPUT_MONEY
          "
        >
          <app-banner icon="credit_card_off" icon-size="42px" level="danger">
            <div class="font-500 q-py-lg" style="font-size:15px">
              {{ $tt("messages.block_money_message") }}

              <q-icon v-show="block_due" size="20px" name="today"></q-icon>
              {{ (block_due && block_due + ": ") || "" }}
            </div>
          </app-banner>
        </div> -->

        <transition class="relative-postition" appear name="slide-fade-top">
          <router-view :key="$route.path" />
        </transition>

        <q-page-sticky style="z-index:8" position="bottom-right" :offset="[35, 77]">
          <!-- <q-btn round color="accent" size="16px" icon="contact_support"  /> -->

          <q-fab
            class="z-top"
            color="accent"
            size="16px"
            icon="contact_support"
            direction="up"
            vertical-actions-align="right"
          >
            <template #tooltip>
              <!-- // ? LEFT-SIDE-CENTER TOOLTIP PROPS: -->
              <q-tooltip anchor="center left" self="center right">
                {{ $tt("common.support", 1) }}
              </q-tooltip>
            </template>
            <q-fab-action
              class="q-px-md bg-white text-positive"
              to="/call"
              :label="$tt('pages.call.call', 1)"
              icon="call"
            />
            <q-fab-action
              class="q-px-md bg-white text-accent"
              to="/send-message"
              :label="$tt('send_message', 1)"
              icon="mail"
            />
            <q-fab-action
              class="q-px-md bg-white text-primary"
              href="https://t.me/SellerOnlineSupportBot"
              :label="$tt('messages.telegram_support', 1)"
              icon="img:icons/telegram.svg"
              style="color:#2AABEE"
            />
          </q-fab>
        </q-page-sticky>
      </q-page-container>
    </main>

    <footer v-once class="layout__footer footer">
      <div class="container">
        <div class="footer__inner row q-col-gutter-lg">
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <q-img contain width="140px" src="/img/logos/logo.svg" alt="" v-once />
            <b class="text-muted block q-mt-md">Seller Online 2025</b>

            <LangSwitcher class="q-mt-md" />
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="footer__contacts q-gutter-y-sm">
              <div class="footer__contact">
                <small class="block">
                  {{ $tt("support", 1) }}
                </small>
                <a href="mailto:so-support@seller-online.com"
                  >so-support@seller-online.com</a
                >
              </div>
              <div class="footer__contact">
                <small class="block"> {{ $tt("common_questions", 1) }}: </small>
                <a style="text-decoration: none" href="tel:+380503260503">
                  +38(050) 326 05 03
                </a>
              </div>
              <div class="footer__contact">
                <small class="block"> Telegram: </small>
                <a
                  style="text-decoration: none"
                  target="_blank"
                  href="https://t.me/SellerOnlineSupportBot"
                >
                  @SellerOnlineSupportBot
                </a>
              </div>

              <div class="q-mt-md">
                <router-link class="link text-accent" to="/send-feedback">
                  {{ $tt("send_feedback", 1) }}
                </router-link>
              </div>
              <div class="q-mt-sm">
                <router-link class="link text-accent" to="/send-message">
                  {{ $tt("send_message", 1) }}
                </router-link>
              </div>
              <div class="q-mt-sm">
                <router-link class="link text-accent" to="/call">
                  {{ $tt("pages.call.call", 1) }}
                </router-link>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="footer__addr">
              <b class="q-mb-xs block text-accent">
                {{ $tt("office_address_label", 1) }}:
              </b>
              <div class="text-grey-7" v-html="$tt('office_address')"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="footer__addr">
              <b class="q-mb-xs block text-accent">
                {{ $tt("svh_address_label", 1) }}:
              </b>
              <div class="text-grey-7">
                Warehouse Service <br />
                Seller Online, LLC <br />
                635 Somers ave, <br />
                Feasterville-Trevose, PA 19053, <br />
                United States<br />
                +1 (267) 800-90-48
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </q-layout>
</template>

<i18n lang="json">
{
"en": {
  "my_request": "my request | my requests",
  "sales_payment": "sales payment | sales payments"
},
"uk": {
  "my_request": "мій запит | мої запити",
  "sales_payment": "платіж за продажем | платежі за продажами"
}
}
</i18n>

<script>
// import menu_list from "./MenuItemsList.js"; // ? NAV MENU ITEMS SOURCE
import MenuItem from "./MenuItem";
import LangSwitcher from "@/components/LangSwitcher";
import CookieBanner from "@/components/_ui/CookieBanner";
import NotificationsCenter from "@/components/NotificationsCenter";
import { colors } from "quasar";

const separator = true;

const { setBrand } = colors;

export default {
  name: "MainLayout",
  components: {
    MenuItem,
    LangSwitcher,
    CookieBanner,
    NotificationsCenter,
  },
  async created() {
    // #00abe9
    setBrand("primary", "#3F9FF4");

    this.$store.commit("Cart/CART_UPDATE");

    setTimeout(() => {
      this.$store.dispatch("Finances/GET_BALANCE");
    }, 1000 * 60 * 15);
  },
  async mounted() {
    let is_logged = this.$store.getters["auth/is_logged"] || false;

    if (is_logged) {
      this.$store.dispatch("Notifications/GET_COUNT");
      this.$store.dispatch(`Finances/GET_CURRENCY_RATES`);

      let { enabled } = await this.$store.dispatch("2fa/GET_STATUS");
      if (!enabled) this.settings_notifications.push("2fa");
    }
  },
  data() {
    return {
      loading: {
        balance: false,
        cart: false,
      },
      settings_notifications: [],
    };
  },
  watch: {
    async "$q.appVisible"(visible) {
      if (visible && this.$store.getters["auth/is_logged"]) {
        await this.$store.dispatch("Notifications/GET_COUNT");
      }
    },
  },
  computed: {
    cart_counter() {
      return this.$store.getters["Cart/user_cart_count"];
    },
    page_loading() {
      return this.$store.state.app.loading.content;
    },
    balance() {
      return this.$store.getters["Finances/balance"];
    },
    cart() {
      return this.$store.getters["Cart/user_cart"];
    },
    cart_total() {
      return this.$toUSD(
        this.cart.reduce(
          (summ = 0, prod) => (summ += prod.cost * (prod.quantity || 1)),
          0
        )
      );
    },
    events_count() {
      return this.$store.getters["Notifications/count"];
    },
    currency_rate() {
      return [...this.$store.getters["Finances/currency_rates"]]
        .filter((rate) => rate.code !== "USD")
        .sort(({ code: a }, { code: b }) =>
          a === "UAH" ? -1 : b === "UAH" ? 1 : a.localeCompare(b)
        );
    },

    block_due() {
      let block_status = this.$store.getters["auth/customer_vars"]?.DENY_OUTPUT_MONEY;

      let is_date = !!block_status?.match(/^\d{4}-\d{2}-\d{2}$/) || false;

      if (is_date) {
        let localized = block_status
          .split("-")
          .reverse()
          .join(".");

        return `до ${localized}`;
      }
    },
    customer_vars() {
      return this.$store.getters["auth/customer_vars"];
    },
    menu_items() {
      return [
        {
          label: "Мой счёт",
          tlabel: "nav.my_account._parent",
          section: "INV",
          childrens: [
            {
              title: "nav.my_account.earn_payments.title",
              icon: "savings",
              href: "/payments/income",
            },
            {
              title: "nav.my_account.sent_payments.title",
              icon: "paid",
              href: "/payments/outcome",
              separator,
            },

            {
              title: "nav.my_account.refill_account.title",
              icon: "account_balance_wallet",
              href: "/pay-money",
            },
            {
              title: "nav.my_account.get_money.title",
              href: "/get-money",
              icon: "attach_money",
            },
            {
              title: "nav.my_account.send_money.title",
              icon: "send",
              href: "/send-money",
            },
            // {
            //   title: "nav.my_account.virtual_cards.title",
            //   icon: "credit_score",
            //   href: "/fee-cards",
            //   // access: "FEE_CARDS_ENABLED",
            // },
            {
              title: "nav.my_account.payoneer_accounts.title",
              href: "/payoneer-accounts",
              icon: "img/logos/payoneer-white.svg",
              icon_size: 34,
              separator,
            },
            // {
            //   title: "nav.my_account.cashback.title",
            //   href: "/cashback",
            //   icon: "reply_all",
            // },
            {
              title: "nav.my_account.bills.title",
              icon: "receipt_long",
              href: "/invoices",
            },
            {
              title: "nav.my_account.balance_log.title",
              href: "/balance-log",
              icon: "fact_check",
            },
            {
              title: "nav.my_account.hold_money_log.title",
              href: "/money-hold-log",
              icon: "request_quote",
            },
          ],
        },
        {
          tlabel: "nav.sells._parent",
          label: "Продажи",
          section: "SELL",
          childrens: [
            {
              title: "nav.sells.my_sells.title",
              icon: "sell",
              href: "/orders/sell",
            },
            {
              title: "nav.sells.personal_links.title",

              href: "/payment-links",
              icon: "link",
            },
            {
              title: "nav.sells.agent_sales.title",
              // href: "/agent-sales",
              icon: "inventory",
              childrens: [
                {
                  label: this.$tt("my_request", 1, 2),
                  // label: "Мои заявки",
                  to: { path: "/agent-sales" },
                },
                {
                  label: this.$tt("sales_payment", 1, 2),
                  // label: "Платежи по продажам",
                  to: { path: "/agent-sales/payments" },
                },
                {
                  label: this.$tt("common.product", 1, 2),
                  // label: "Products",
                  to: { path: "/agent-sales/products" },
                },
                {
                  label: this.$tt("common.order", 1, 2),
                  badge: "beta",
                  // label: "Orders (beta)",
                  to: { path: "/agent-sales/orders" },
                },
              ],
            },
            {
              title: "nav.sells.unidentified_payments.title",
              href: "/lost-payments",
              icon: "content_paste_search",
            },
            {
              title: "nav.sells.disputes.title",
              href: "/resolution-center",
              icon: "live_help",
            },
          ],
        },
        {
          tlabel: "nav.buys._parent",
          label: "Покупки",
          section: "BUY",
          childrens: [
            {
              title: "nav.buys.new.title",
              href: "/buy/new",
              icon: "local_mall",
            },
            {
              title: "nav.buys.my_buys.title",
              href: "/orders/buy",
              icon: "shopping_cart",
              separator,
            },

            {
              title: "nav.buys.new_parcel.title",
              href: "/buy/send",
              icon: "new_releases",
            },
            {
              title: "nav.buys.my_parcels.title",
              href: "/buy/parcels",
              icon: "list",
              separator,
            },

            {
              title: "nav.buys.lost_orders.title",
              icon: "quiz",
              href: "/lost-orders",
            },
          ],
        },

        {
          tlabel: "nav.shipments._parent",
          section: "SHIPMENTS",
          childrens: [
            {
              title: "nav.shipments.new_shipment.title",
              icon: "ion-cube",
              desc: "nav.shipments.new_shipment.caption",
              href: "/shipments/create",
            },
            {
              title: "nav.shipments.shipments.title",
              icon: "ion-list",
              desc: "nav.shipments.shipments.caption",
              href: `/shipments/list?page=1`,
              // &on_page=${localStorage.getItem('shippings-onpage') || 10}
              separator,
            },

            {
              // title: "Укрпошта: мои отправки",
              title: "nav.shipments.ukrposhta_list.title",
              icon: "img/logos/ukrposhta.svg",
              href: "/ukrposhta-shipments",
            },
            {
              // title: "Укрпошта: новая отправка",
              title: "nav.shipments.ukrposhta_create.title",
              icon: "img/logos/ukrposhta.svg",
              href: "/ukrposhta-shipments/new",
              separator,
            },
            {
              title: "nav.shipments.warehouse.title",
              desc: "nav.shipments.warehouse.caption",
              icon: "widgets",
              href: "/products/warehouse",
            },

            {
              title: "nav.shipments.calc.title",
              desc: "nav.shipments.calc.caption",
              icon: "calculate",
              href: "/calculator",
              separator,
            },
            {
              title: "nav.shipments.my_returns.title",
              icon: "ion-return-left",
              desc: "nav.shipments.my_returns.caption",
              href: "/shipments/returns",
            },
            {
              title: "nav.shipments.unidentified_returns.title",
              icon: "live_help",
              desc: "",
              href: "/shipments/returns/unidentified",
            },
          ],
        },

        {
          tlabel: "nav.integrations._parent",
          section: "INTEGRATIONS",
          childrens: [
            {
              title: "nav.integrations.integrations_etsy.title",
              icon: "img/logos/etsy-white.svg",
              href: "/connect/etsy",
            },
            {
              title: "nav.integrations.integrations_amazon.title",
              icon: "img/logos/amazon.svg",
              href: "/connect/amazon",
            },
            {
              title: "nav.integrations.integrations_shopify.title",
              icon: "img/logos/shopify.svg",
              href: "/connect/shopify",
            },
            {
              title: "nav.integrations.integrations_ebay.title",
              icon: "img/logos/ebay.svg",
              href: "/connect/ebay",
              separator,
            },
            {
              title: "nav.integrations.integrations_market_old.title",
              // icon: "img/logos/sol-market-white.svg",
              icon: "storefront",
              href: "/connect/market",
            },
            {
              title: "nav.integrations.integrations_market.title",
              icon: "img/logos/sol-market-white.svg",
              href: "/connect/new_market",
              separator,
            },
            {
              title: "nav.integrations.other.title",
              href: "/connect/other",
              icon: "add_business",
            },
            // {
            //   title: "Маркет",
            //   icon: "storefront",
            //   href: "/connect/market",
            // },
          ],
        },
        {
          tlabel: "common.service",
          tlabel_count: 2,
          label: "Услуги",
          section: "SERVICES",
          hidden:
            (this.customer_vars &&
              this.customer_vars.SERVICE_DISABLED &&
              this.customer_vars.SERVICE_DISABLED === "1") ||
            false,
          childrens: [
            {
              title: "Оформити",
              href: "/services/all",
              icon: "settings_suggest",
            },
            {
              title: "Активні",
              href: "/services",
              icon: "miscellaneous_services",
            },
          ],
        },
      ];
    },
  },
  methods: {
    async logout() {
      await this.$store.dispatch("auth/AUTH_LOGOUT");

      this.$router.push("/login");
    },
    initTeletype() {
      // teletype script
      if (!window._teletypeWidget) {
        window._teletypeWidget = window._teletypeWidget || {};
        !(function() {
          var t = document.getElementsByTagName("app-teletype-root");
          if (t.length > 0 && _teletypeWidget.init) return;
          var d = new Date().getTime();
          var n = document.createElement("script"),
            c = document.getElementsByTagName("script")[0];
          (n.id = "teletype-widget-embed"),
            (n.src = "https://widget.teletype.app/init.js?_=" + d),
            (n.async = !0),
            n.setAttribute("data-embed-version", "0.1");
          c.parentNode.insertBefore(n, c);
        })();
        document.addEventListener("teletype.ready", function() {
          console.log("Teletype ready");
        });
        window.teletypeExternalId =
          "QOSJboggqCpV9i_cmsbWRVdswwaHnV_o7qdkZElcobitwLjd7PE7w-f3s7IQuRTd";
      }
    },
    transformBlockDate() {
      let block_status = this.$store.getters["auth/customer_vars"].DENY_OUTPUT_MONEY;

      let is_date = !!block_status.match(/^\d{4}-\d{2}-\d{2}$/) || false;

      if (is_date) {
        let localized = block_status
          .split("-")
          .reverse()
          .join(".");

        return `до ${localized}`;
      }
    },
  },
};
</script>

<style lang="scss">
.layout {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fcfcfc;
  position: relative;

  #nav-logo {
    @media screen and (max-width: 599px) {
      height: 28px;
    }
  }

  .q-page {
    min-height: auto !important;
  }

  .header {
    z-index: 11;

    &__top {
      border-bottom: 1px solid #e7e7e7;
      padding: 4px 0;
    }

    &__bottom {
      // background-color: #fff;
      padding: 21px 0;
      position: relative;
      z-index: 3;

      @media screen and (max-width: 599px) {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__menu {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-right: 7px;
        }
      }
    }

    &-nav__item {
      .app-btn .q-icon {
        font-size: 1.215em !important;
      }
    }
  }

  .menu {
    border-top: 1px solid #eee;
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.014),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 30.1px 30.1px 24.1px rgba(0, 0, 0, 0.026),
      100px 100px 80px rgba(0, 0, 0, 0.04);
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    height: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 28%;
      height: 100%;
      top: 0;
      right: 0;
      // background-color: #fcfcfc;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100 */
      background: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      opacity: 0.035;

      display: none;
    }
  }

  &__body {
    background-color: #fff;
    margin-top: 42px;
    padding: 35px;
    box-shadow: 0 0 21px 0 rgba(#000, 0.14);
    border-radius: 4px;
  }

  &__footer {
    // background-color: #fcfcfc;
    background-color: #fff;
    padding: 42px 0;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 3;

    .footer {
      &__social {
        text-decoration: none;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-right: 21px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .footer {
    &__bottom {
      @media screen and (max-width: 768px) {
        flex-direction: column;

        & > div:first-child {
          margin-top: 14px;
          margin-bottom: 14px;
        }
      }
    }

    &__legal {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 14px;
      }
    }

    &__lang {
      @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 28px;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
</style>
