<template>
  <PageContainer
    :loading="loading"
    :title="$tt('common.deposit', 1) + ' ' + ((invoice && invoice.invoice_number) || '')"
    with-back
  >
    <template #actions>
      <div class="q-gutter-x-md" v-if="invoice">
        <app-btn padding="11px" size="12px" @click="printInvoice">
          {{ $tt("common.print") }}
        </app-btn>
        <app-btn
          padding="11px"
          size="12px"
          @click="removeInvoice"
          :disable="!invoice.can_delete"
          color="negative"
        >
          {{ $tt("common.delete") }}
        </app-btn>
      </div>
    </template>

    <div class="container">
      <app-list :loading="loading" v-if="invoice">
        <q-item>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.type", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label>
              {{ invoice.invoice_module }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.summ", 1) }}, {{ invoice.invoice_orig_currency }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label>
              {{ $toUSD(invoice.invoice_orig_sum) }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.date", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label>
              {{ invoice.invoice_date }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label caption>
              {{ $tt("common.status", 1) }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-checkbox
              :value="!!invoice.invoice_paid"
              :disable="!invoice.can_mark_paid"
              @input="markAsPaid"
              :color="invoice.invoice_paid ? 'positive' : 'negative'"
            >
              <div :class="invoice.invoice_paid ? 'text-positive' : 'text-negative'">
                {{ invoice.invoice_paid ? "Оплачен" : "Не оплачен" }}
              </div>
            </q-checkbox>
          </q-item-section>
        </q-item>
      </app-list>
      <!-- payment button; should be displayed if redirect url is present
          TODO: handle post requests -->
      <form v-if="redirect" :action="redirect.url" :method="redirect.method">
        <input
          v-for="[key, value] in Object.entries(redirect.params)"
          :key="key"
          type="hidden"
          :name="key"
          :value="value"
        />

        <div class="q-my-xl flex-center">
          <app-btn
            type="submit"
            color="positive"
            :loading="loading"
            icon="open_in_new"
            :class="$q.screen.xs && 'q-mb-lg'"
            class="q-py-sm"
            padding="sm lg"
          >
            &nbsp;&nbsp;&nbsp;Перейти к оплате
          </app-btn>
        </div>
      </form>
    </div>

    <iframe
      id="print-holder"
      height="300px"
      width="100%"
      frameborder="0"
      style="display:none"
    ></iframe>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return { invoice: null, loading: false, printed: null, redirect: null };
  },
  mounted() {
    this.getInvoice();
  },
  computed: {
    invoice_id() {
      return this.$route.params.id;
    },
  },
  methods: {
    async getInvoice() {
      try {
        this.loading = true;

        const {
          data,
          data: { invoice_data, print_invoice, redirect },
        } = await this.$store.dispatch("Invoices/GET_INVOICE", this.invoice_id);

        this.invoice = invoice_data;
        this.redirect = redirect;
        this.printed = print_invoice;
      } catch (e) {
      } finally {
        this.loading = false;
      }
    },
    printInvoice() {
      let frame = window.frames["print-holder"].contentWindow;

      frame.document.body.innerHTML = this.printed;

      if (!frame) return;
      frame.focus();
      frame.print();

      frame.document.body.innerHTML = "";
    },
    async removeInvoice() {
      const c = await this.$confirm({
        title: "Действительно хотите удалить запись?",
        level: "danger",
      });

      if (!c) return;

      try {
        this.loading = true;

        let { data } = await this.$api.delete(
          `/payments/pay_money/invoices/${this.invoice.invoice_id}`
        );
        this.$alert({
          level: "success",
          title: (data && data.message) || "Запись удалена",
        });
        this.$router.push("/invoices");
      } catch (e) {
        console.log("e:", e);
        let { message: title = this.$tt("errors.save_data"), errors } = this.$parseApiError(e);

        this.$alert({
          title,
          errors,
          level: "danger",
        });
      } finally {
        this.loading = false;
      }
    },
    async markAsPaid() {
      try {
        this.loading = "Сохранение информации";

        const { data } = await this.$store.dispatch(
          "Invoices/MARK_AS_PAID",
          this.invoice.invoice_id
        );

        this.$alert({
          level: "success",
          title: (data && data.message) || this.$tt("messages.changes_saved"),
        });

        this.getInvoice();
      } catch (e) {
        let { message: title = this.$tt("errors.save_data"), errors } = this.$parseApiError(e);

        this.$alert({
          title,
          errors,
          level: "danger",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
