<template>
  <q-dialog
    :transition-show="$q.screen.xs ? 'slide-up' : 'jump-up'"
    :transition-hide="$q.screen.xs ? 'slide-down' : 'jump-down'"
    :maximized="maximated || $q.screen.xs || false"
    :ref="internal_name"
    :name="internal_name"
    :position="$q.screen.xs ? 'bottom' : position || 'standard'"
  >
    <q-card
      class="flex column justify-between no-wrap relative-position"
      style="min-width: 380px"
      :class="[$q.screen.xs && 'full-height']"
    >
      <with-loading :state="loading" />
      <q-item class="q-py-md">
        <q-item-section>
          <div class="flex-center-between no-wrap">
            <div>
              <h5 class="q-ma-none" v-if="title">{{ title }}</h5>
              <small class="text-muted" v-if="caption">{{ caption }}</small>
            </div>
            <app-btn flat dense @click="hide" color="negative" icon="close" round></app-btn>
          </div>
        </q-item-section>
      </q-item>

      <div>
        <slot />
      </div>

      <div v-if="$slots && $slots['actions']">
        <slot name="actions" />
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    dialogName: String,
    title: String,
    loading: { type: Boolean, default: false },
    caption: String,
    position: String,
    maximated: Boolean,
  },
  computed: {
    internal_name() {
      return `dialog--${this._uid}`;
    },
  },
  methods: {
    show() {
      this.$refs[this.internal_name].show();
    },
    hide() {
      this.$refs[this.internal_name].hide();
    },
  },
};
</script>
