<template>
  <PageContainer
    with-back
    :title="`${is_sell ? $tt('common.sale', 1) : $tt('common.purchase', 1)} ${order_id}`"
  >
    <with-loading :state="loading" />

    <template v-if="actions" #actions>
      <div
        :class="$q.screen.xs && 'flex column full-width q-gutter-y-md'"
        class="q-gutter-x-md"
      >
        <app-btn
          icon-right="add_circle_outline"
          padding="11px"
          size="12px"
          @click="addTrack"
          color="primary"
          v-if="actions && actions.can_add_track"
        >
          {{ $tt("common.add") }} {{ $tt("common.track_number") }}&nbsp;&nbsp;
        </app-btn>

        <app-btn
          icon-right="task_alt"
          v-show="is_sell && actions && actions.can_set_delivered"
          padding="11px"
          size="12px"
          @click="setAsDelivered"
          color="positive"
        >
          {{ $tt("shipments.point_of_delivered") }}&nbsp;&nbsp;
        </app-btn>

        <app-btn
          padding="11px"
          size="12px"
          :label="$tt('common.additional')"
          icon-right="more_horiz"
        >
          <q-menu>
            <q-list>
              <q-item v-close-popup clickable @click="getTransitInfo">
                <q-item-section>
                  <q-item-label>
                    {{ $tt("shipments.info_about_delivery_status", 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable @click="getRefund" v-close-popup>
                <q-item-section>
                  <q-item-label>
                    {{ $tt("shipments.return_payment", 1) }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="cancelOrder"
                class="font-500 text-negative"
                :disable="actions && !actions.can_cancel"
              >
                <q-item-section>
                  <q-item-label
                    >{{ $tt("common.cancel", 1) }} {{ $tt("common.order") }}</q-item-label
                  >
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
      </div>
    </template>

    <div class="container">
      <div
        class="q-gutter-y-md q-mb-xl"
        v-if="is_sell && order && order.warnings && order.warnings.length"
      >
        <app-banner
          :key="idx"
          v-for="(w, idx) in order.warnings"
          level="warning"
          gradient
        >
          <div class="flex items-center font-500">
            <q-icon name="warning" size="35px" class="q-mr-md"></q-icon>
            <div>
              {{ w }}
            </div>
          </div>
        </app-banner>
      </div>
      <!-- <h5>Информация о заказе</h5> -->

      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        appear
      >
        <div v-if="order">
          <div class="row q-mt-lg q-col-gutter-x-md">
            <div class="col">
              <app-list :header="$tt('common.common_info', 1)">
                <template #actions>
                  <app-btn
                    @click="$openURL(`/shipments/create?ref=${order_id}`)"
                    color="accent"
                    size="11px"
                    v-show="is_sell"
                    :class="$q.screen.xs ? 'q-mt-sm' : 'q-ml-md'"
                  >
                    {{ $tt("common.create", 1) }} {{ $tt("common.shipment", 0, 3) }}
                  </app-btn>
                </template>
                <q-item>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.type", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    {{
                      $route.params.type === "sell"
                        ? $tt("common.sale", 1)
                        : $tt("common.purchase", 1)
                    }}
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="
                    (e) => {
                      $copyText(order.orderID);
                      $message({ title: $tt('common.copied'), level: 'success' });
                    }
                  "
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    <!-- Копировать номер заказа -->
                    {{ $tt("common.copy", 1) }}
                  </q-tooltip>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.order_number", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div
                        class="flex "
                        :class="$q.screen.xs ? 'items-start column' : 'items-center'"
                      >
                        {{ order.orderID }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.title", 1) }}
                    </q-item-label>
                    <q-item-label v-if="order.sku" caption>
                      <small>
                        {{ $tt("common.code") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle2">
                        {{ order.title }}
                      </div>
                    </q-item-label>

                    <q-item-label>
                      <small v-if="order.sku" class="flex no-wrap text-muted">
                        <div>
                          <app-badge
                            color="grey-3"
                            text-color="grey-8"
                            square
                            dense
                            v-for="(code, idx) in order.sku.split(', ')"
                            class="q-ma-none q-mr-xs font-500"
                            :key="idx"
                          >
                            {{ code }}
                          </app-badge>
                        </div>
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-expansion-item v-model="show_image" icon="image">
                  <template #header>
                    <q-item-section>
                      <q-item-label caption>
                        <div class="flex items-center">
                          <q-icon size="18px" class="q-mr-sm" name="image"></q-icon>

                          {{ $tt("common.image", 1, 2) }}
                        </div>
                      </q-item-label>
                    </q-item-section>
                  </template>
                  <q-item-section class="q-pa-md">
                    {{
                      order.buy &&
                        order.buy.items &&
                        order.buy.items[0] &&
                        order.buy.items[0].detail_img
                    }}
                    <app-img
                      @click="() => (show_image = false)"
                      class="q-mr-md cursor-pointer"
                      v-if="order.image"
                      :src="order.image"
                      contain
                    ></app-img>
                    <app-img
                      @click="() => (show_image = false)"
                      class="q-mr-md cursor-pointer"
                      v-else-if="
                        order.buy &&
                          order.buy.items &&
                          order.buy.items[0] &&
                          order.buy.items[0].detail_img
                      "
                      :src="order.buy.items[0].detail_img"
                      contain
                      style="max-height:420px"
                    ></app-img>
                    <small class="text-muted" v-else>
                      <!-- нет информации -->
                      {{ $tt("errors.no_data") }}
                    </small>
                  </q-item-section>
                </q-expansion-item>
                <q-item>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.cost", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle1">
                        {{ $toUSD(order.cost) }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item v-if="order.holded_amount">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.frozen", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      <div class="text-subtitle1">
                        {{ $toUSD(order.holded_amount) }}
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.date", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    {{ $date(order.date) }}
                  </q-item-section>
                </q-item>

                <q-item
                  v-if="order.transactionNumber && order.transactionNumber.length"
                  clickable
                  @click="
                    (e) => {
                      $copyText(order.transactionNumber);
                      $message({ title: $tt('common.copied', 1), level: 'success' });
                    }
                  "
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    {{ $tt("common.copy", 1) }} номер
                  </q-tooltip>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.transaction", 1) }} (PayPal)
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    {{ order.transactionNumber }}
                  </q-item-section>
                </q-item>

                <q-item
                  v-if="false"
                  @click="downloadInvoice"
                  clickable
                  class="text-primary font-500 q-py-lg"
                >
                  <q-item-section side>
                    <q-item-label style="font-size:22px">
                      <!-- 🧾 -->
                      📋
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      {{ $tt("common.download", 1) }} {{ $tt("common.invoice") }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>
            <div class="col-5" v-if="is_sell">
              <app-list :header="$tt('common.buyer', 1)">
                <template #actions>
                  <app-btn size="11px" class="text-primary" @click="copyShippingAddress">
                    {{ $tt("common.copy", 1) }}
                  </app-btn>
                </template>
                <q-item clickable @click="copyField(order.shipping_address.receiver)">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.fio", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label
                      v-if="
                        order.shipping_address.receiver &&
                          order.shipping_address.receiver.length
                      "
                    >
                      {{ order.shipping_address.receiver }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">{{ $tt("errors.not_specified") }}</small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="copyField(order.shipping_address.phone)">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.phone", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.shipping_address.phone">
                      {{ order.shipping_address.phone }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">{{ $tt("errors.not_specified") }}</small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="copyField(order.buyerEmail)">
                  <q-item-section>
                    <q-item-label caption>
                      Email
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.buyerEmail">
                      {{ order.buyerEmail }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="copyField(order.shipping_address.country)">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.country", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.shipping_address.country">
                      <app-flag :country="order.shipping_address.country_code"></app-flag>
                      {{ order.shipping_address.country }}
                      <span class="text-grey-7"
                        >({{ order.shipping_address.country_code }})</span
                      >
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="copyField(order.shipping_address.zip)">
                  <q-item-section>
                    <q-item-label caption>
                      <!-- Индекс -->
                      {{ $tt("common.zip", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.shipping_address.zip">
                      {{ order.shipping_address.zip }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="
                    copyField(
                      `${order.shipping_address.city}${
                        order.shipping_address.state
                          ? `(${order.shipping_address.state})`
                          : ''
                      }`
                    )
                  "
                >
                  <q-item-section>
                    <q-item-label caption>
                      <!-- Город -->
                      {{ $tt("common.city", 1) }}
                      <small class="text-muted"
                        >({{ $tt("common.state", 1) }}/{{
                          $tt("common.region", 1)
                        }})</small
                      >
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.shipping_address.city">
                      {{ order.shipping_address.city }}
                      <small v-if="order.shipping_address.state" class="text-muted">
                        {{ order.shipping_address.state }}
                      </small>
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="copyField(order.shipping_address.street)">
                  <q-item-section>
                    <q-item-label caption>
                      {{ $tt("common.address", 1) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-if="order.shipping_address.street">
                      {{ order.shipping_address.street }}
                    </q-item-label>
                    <q-item-label v-else>
                      <small class="text-muted">
                        {{ $tt("errors.not_specified") }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>
          </div>

          <app-table-list
            :header="$tt('shipments.info_about_delivery_status', 1)"
            class="q-mt-xl"
            :empty="
              (!order.trackNumbers || !order.trackNumbers.length) && $tt('errors.no_data')
            "
            :colspan="5"
          >
            <template #actions>
              <div>
                <app-btn color="positive" size="11px" @click="addTrack">
                  <q-icon name="add" class="q-mr-xs"></q-icon>
                  {{ $tt("common.input", 1) }} {{ $tt("common.track_number") }}
                </app-btn>
              </div>
            </template>
            <template #thead>
              <tr>
                <th>
                  {{ $tt("common.track_number", 1) }}
                </th>
                <th>
                  {{ $tt("common.status", 1) }}
                </th>
                <th>
                  {{ $tt("common.parcel_number", 1) }}
                </th>
                <th>
                  {{ $tt("common.country", 1) }}
                </th>
                <th side></th>
              </tr>
            </template>

            <tr
              class="cursor-pointer"
              @click="
                () => {
                  $copyText(t.number);
                  $message({
                    title: `${$tt('common.track_number', 1)} ${$tt('common.copied')}`,
                    level: 'success',
                  });
                }
              "
              v-for="(t, idx) in order.trackNumbers"
              :key="idx"
            >
              <q-tooltip anchor="top middle" self="bottom middle">
                {{ $tt("common.copy", 1) }} {{ $tt("common.track_number") }}
              </q-tooltip>
              <td>
                <div v-if="t.number">
                  {{ t.number }}
                </div>
                <small class="text-muted" v-else>
                  {{ $tt("errors.not_specified", 1) }}
                </small>
              </td>
              <td>
                <q-chip
                  size="11px"
                  class="q-ma-none font-500"
                  square
                  color="purple-1"
                  text-color="purple"
                >
                  {{ t.status }}
                </q-chip>
              </td>
              <td>
                <div v-if="t.parcel_id">
                  {{ t.parcel_id }}
                </div>
                <small class="text-muted" v-else>
                  {{ $tt("common.not_specified") }}
                </small>
              </td>
              <td>
                <div v-if="t.country" class="flex items-center">
                  <app-flag class="q-mr-xs" :country="t.country"></app-flag>
                  {{ t.country }}
                </div>
                <small class="text-muted" v-else>
                  {{ $tt("common.not_available") }}
                </small>
              </td>
              <td>
                <app-btn
                  class="bg-white"
                  size="sm"
                  @click.stop="$openURL(`https://t.17track.net/ru#nums=${t.number}`)"
                >
                  <div class="flex items-center no-wrap">
                    <div class="q-ml-xs flex items-center no-wrap">
                      <img
                        width="45px"
                        height="auto"
                        src="/img/logos/17track.svg"
                        alt=""
                      />
                      <q-icon
                        size="11px"
                        class="q-ml-xs"
                        color="grey-7"
                        name="open_in_new"
                      ></q-icon>
                    </div>
                  </div>
                </app-btn>
              </td>
            </tr>
          </app-table-list>

          <div
            class="q-mt-lg q-mb-lg row q-col-gutter-lg"
            :class="$q.screen.xs && 'column'"
          >
            <div class="col">
              <div class="aborder bg-white rounded-borders">
                <small
                  style="padding-left:16px;font-size:12px"
                  class="block q-pt-lg text-primary font-500"
                >
                  {{ $tt("common.history", 1) }}
                </small>
                <div
                  v-if="order.statuses && order.statuses.length"
                  class=" q-py-md"
                  style="padding-left:28px"
                >
                  <q-timeline color="secondary">
                    <q-timeline-entry
                      tag="h6"
                      v-for="(s, idx) in order.statuses"
                      :key="idx"
                      :icon="getStatusIcon(s.status_key).icon"
                      :color="getStatusIcon(s.status_key).color || 'accent'"
                    >
                      <template #title>
                        {{ s.status_name }}
                      </template>
                      <small class="text-muted">
                        {{ $date(s.status_date) }}
                      </small>
                    </q-timeline-entry>
                  </q-timeline>
                </div>
                <small
                  style="padding-left:16px;margin-top:32px;margin-bottom:14px"
                  class="block text-muted"
                  v-else
                >
                  <!-- Недостаточно данных -->
                  {{ $tt("errors.not_enough_data") }}
                </small>
              </div>
            </div>
            <div class="col">
              <app-list :header="$tt('common.payment', 1, 2)">
                <q-item v-if="!order.payments || !order.payments.length">
                  <q-item-section>
                    <q-item-label>
                      <small class="text-muted">
                        <!-- Недостаточно данных -->
                        {{ $tt("errors.not_enough_data", 1) }}
                      </small>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item v-for="(p, idx) in order.payments" :key="idx">
                  <q-item-section side>
                    <div v-if="p.lock">
                      <q-icon size="18px" color="negative" name="lock">
                        <q-tooltip anchor="top middle" self="bottom middle">
                          {{ $tt("common.blocked", 1) }}
                        </q-tooltip>
                      </q-icon>
                    </div>
                    <div v-else>
                      <q-icon size="18px" color="positive" name="lock_open">
                        <q-tooltip anchor="top middle" self="bottom middle">
                          {{ $tt("common.unblocked", 1) }}:
                          {{ $date(p.unlock_date) }}
                        </q-tooltip>
                      </q-icon>
                    </div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label caption>
                      {{ $date(p.payment_date) }}
                    </q-item-label>
                    <q-item-label>
                      {{ p.operation_name }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <div
                      class="text-subtitle2"
                      :class="p.sum < 0 ? 'text-negative' : 'text-positive'"
                    >
                      {{ $toUSD(p.sum) }}
                    </div>
                  </q-item-section>
                </q-item>
              </app-list>
            </div>
          </div>

          <q-card
            v-if="order.operatorComment && order.operatorComment.length"
            flat
            bordered
            class="bg-amber-1 text-brown-6 rounded-borders q-mt-lg"
          >
            <q-card-section>
              <h6 class="q-pa-none q-ma-none">{{ $tt("common.comment", 1) }}</h6>
            </q-card-section>
            <q-separator></q-separator>
            <q-card-section>
              {{ order.operatorComment }}
            </q-card-section>
          </q-card>
        </div>
      </transition>

      <!-- <details>
        <pre>
          {{ order }}
        </pre>
      </details> -->
    </div>
  </PageContainer>
</template>
<script>
export default {
  data() {
    return {
      order: null,
      actions: null,
      loading: false,
      show_image: false,
    };
  },
  computed: {
    order_id() {
      return this.$route.params.order_id;
    },
    is_sell() {
      return this.$route.params.type === "sell";
    },
    is_buy() {
      return this.$route.params.type === "buy";
    },
  },
  async created() {
    this.order = await this.getOrder();
  },
  methods: {
    getOrder() {
      // GET /orders/
      return new Promise(async (done, fail) => {
        this.loading = true;
        try {
          const {
            data: { order_data, actions },
          } = await this.$api.get(`/orders/${this.order_id}`);

          this.actions = actions;

          done(order_data);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, { fallbackMessage: this.$tt("errors.load_data") });

          this.$router.push(-1);
        } finally {
          this.loading = false;
        }
      });
    },
    getStatusIcon(status) {
      [, "ACCEPTED", "PAYED", "IN_USA", "VERIFIED", "PARCEL", "READY2SEND"];
      switch (status) {
        case "INCOMING":
          return { icon: "new_releases", color: "orange" };
        case "MONEY_COME":
          return { icon: "credit_score", color: "positive" };
        case "SENT":
          return { icon: "send", color: "cyan" };
        case "UNLOCKED":
          return { icon: "lock_open", color: "positive" };
        case "REFUNDED":
          return { icon: "backspace", color: "orange" };
        case "CANCELLED":
          return { icon: "block", color: "negative" };
        case "ACCEPTED":
          return { icon: "inventory", color: "positive" };
        case "PAYED":
          return { icon: "credit_score", color: "primary" };
        case "IN_USA":
          return { icon: "business", color: "brown" };
        case "VERIFIED":
          return { icon: "verified", color: "positive" };
        case "PARCEL":
          return { icon: "check_box", color: "indigo" };
        case "READY2SEND":
          return { icon: "send_and_archive", color: "positive" };

        default:
          return { icon: "fiber_manual_record", color: "accent" };
      }
    },
    setOrderDelivered() {
      return this.$api.put(`/orders/${this.order.orderID}/set_delivered`, {});
    },
    refundOrder(amount) {
      if (!amount) throw new Error("No AMOUNT argument passed");

      let params = {
        order: this.order.orderID,
        amount: parseFloat(amount),
        // ? TODO: IF NOT ALLOWED - RETRY WITH by_operator: true
        by_operator: false,
      };

      return this.$api.post(`/orders/refund`, params);
    },
    addTrack() {
      const addTrackDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./OrderActions/AddTrack.vue"),
          tracks: this.order.trackNumbers,
        })
        .onOk(async (new_track) => {
          addTrackDialog.hide();

          try {
            this.loading = true;

            const {
              data: { added, skipped },
            } = await this.$store.dispatch("Orders/ADD_TRACKS", {
              track_numbers: [new_track],
              order_id: this.order.orderID,
            });

            this.$alert({
              level: "success",
              title: this.$tt("messages.changes_saved"),
              ...(skipped && { message: `Пропущены - ${skipped || 0}` }),
            });

            this.getOrder();
          } catch (e) {
            console.log(e);

            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            this.loading = false;
          }
        });
    },
    async setAsDelivered() {
      try {
        this.loading = true;

        await this.setOrderDelivered();

        this.$alert({
          level: "success",
          title: this.$tt("messages.changes_saved"),
        });

        this.getOrder();
      } catch (e) {
        console.log(e);
        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },
    getRefund() {
      const refundDialog = this.$q
        .dialog({
          parent: this,
          component: () => import("./OrderActions/PromptRefundAmount.vue"),
          title: `${this.$tt("messages.pls_input")} сумму`,
          defaultAmount: this.order.amount, // ||this.order.cost ,
        })
        .onOk(async (amount) => {
          console.log("amount:", amount);

          try {
            this.loading = true;

            await this.refundOrder(amount);

            this.$alert({ level: "success", title: this.$tt("messages.changes_saved") });
            this.getOrder();

            refundDialog.hide();
          } catch (e) {
            console.log(e);
            this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
          } finally {
            this.loading = false;
          }
        });
    },
    async getTransitInfo() {
      this.loading = true;

      try {
        const { data: info } = await this.$api.get(`/orders/${this.order.orderID}/track`);

        this.$q.dialog({
          parent: this,
          component: () => import("./OrderActions/TrackInfo.vue"),
          tracks: info,
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data"),
        });
      } finally {
        this.loading = false;
      }
    },
    async copyShippingAddress() {
      try {
        let {
          shipping_address: {
            receiver = null,
            street = null,
            city = null,
            state = null,
            zip = null,
            country = null,
            phone = null,
          },
          buyerEmail = null,
        } = this.order;

        let str = ``;

        receiver && (str += `${receiver}\n`);
        street && (str += `${street}\n`);
        city && (str += `${city}\n`);
        state && (str += `${state}\n`);
        zip && (str += `${zip}\n`);
        country && (str += `${country}\n`);
        phone && (str += `${phone}\n`);
        buyerEmail && (str += buyerEmail);

        await this.$copyText(str);

        this.$message({
          title: this.$tt("address_was_copied"),
          level: "success",
        });
      } catch (e) {
        console.log(e);
        this.$alert({
          level: "danger",
          title: this.$tt("errors.bad_operation"),
          message: (e && e.toString()) || null,
        });

        this.$showApiError();
      }
    },
    async copyField(data) {
      try {
        await this.$copyText(data);
        this.$message({ title: this.$tt("common.copied"), level: "success" });
      } catch (e) {
        console.log(e);
        this.$message({ title: this.$tt("errors.bad_operation"), level: "warning" });
      }
    },
    async cancelOrder() {
      let c = await this.$confirm({
        title: this.$t("messages.confirm_action", {
          action: `${this.$tt("common.cancel")} ${this.$tt("common.order")}`,
        }),
        level: "danger",
      });

      if (!c) return;

      try {
        this.loading = true;

        await this.$store.dispatch(`Orders/CANCEL_ORDER`, this.order_id);

        this.$message({ title: this.$tt("messages.changes_saved", 1), level: "success" });

        this.order = await this.getOrder();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { fallbackMessage: this.$tt("errors.save_data") });
      } finally {
        this.loading = false;
      }
    },

    async downloadInvoice() {
      let orderID = this.order.orderID;

      try {
        this.loading = true;

        let { data: blob } = await this.$api.get(`/orders/${orderID}/invoice-for-buyer`, {
          responseType: "blob",
        });

        let filename = `order-invoice-${orderID}`;

        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          let url = URL.createObjectURL(blob);

          const link = document.createElement("a");

          if (link.download !== undefined) {
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.setAttribute("id", "document-download-link");
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
          }
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: this.$tt("errors.load_data", 1),
          notify: true,
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss">
.q-timeline {
  &__content {
    margin: 0;
    padding: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    padding-top: 0 !important;
    margin-bottom: 0;
  }

  &__entry {
    padding-bottom: 21px;
  }
}
</style>

<i18n lang="json">
{
"en": {
 "address_was_copied": "Address was copied"
},
"uk": {
"address_was_copied": "Адресу скопійовано"
}
}
</i18n>
