<template>
  <q-dialog
    no-refocus
    no-route-dismiss
    v-bind:full-width="$q.screen.xs"
    :position="$q.screen.xs ? 'bottom' : 'standard'"
    :ref="`alert--${_uid}`"
    class="dia q-px-xl q-py-lg"
    :transition-show="($q.screen.xs && 'slide-up') || 'scale'"
    :transition-hide="($q.screen.xs && 'slide-down') || 'scale'"
    :persistent="persistent"
  >
    <q-card
      :class="$q.screen.xs && 'q-pb-sm'"
      :style="!$q.screen.xs && !$q.screen.sm && `min-width:${minWidth || 420}px`"
      class="relative-position q-pa-sm"
    >
      <with-loading :state="loading" />

      <q-card-section>
        <form @submit.prevent="($e) => dispatchAnswer(true)">
          <div class="dia__head flex column justify-center">
            <div
              class="dia__icon flex items-center justify-center q-mb-lg"
              :class="[`bg-${levelBackgroundColor}`]"
              v-if="level && level.length"
            >
              <q-icon :color="levelIconColor" size="35px" :name="level_icon" />
            </div>

            <div
              class="dia__title text-center"
              :class="[`text-${levelTextColor}`]"
              v-html="title"
              style="line-height:1.7"
            ></div>
          </div>

          <div class="dia__message text-center" v-html="message"></div>

          <div
            class="dia__errors q-pa-md q-mt-md rounded-borders"
            v-if="errors && errors.length"
            :class="[`text-white`, `bg-${levelBackgroundColor}`]"
          >
            <ul>
              <li v-for="(e, idx) in errors" :key="idx" v-html="e"></li>
            </ul>
          </div>

          <div
            v-if="!is_confirm"
            :style="{ 'justify-content': 'center' }"
            class="flex no-wrap q-mt-xl q-gutter-x-md"
          >
            <app-btn
              color="grey-7"
              @click="hide"
              unelevated
              :label="closeText || $tt('common.cancel', 1)"
              flat
              size="12px"
              padding="11px 21px"
              class="full-height"
              :class="[levelTextColor]"
              bg-color="grey-1"
            />

            <div v-for="(act, idx) in actions" :key="`action--${idx}`">
              <!-- // ? HREF OPTION BTN -->
              <app-btn
                v-if="act.to"
                :to="act.to"
                @click="hide"
                :key="`href-${idx}`"
                :label="act.label"
                :color="(act.color && act.color) || levelTextColor"
                v-bind="act.attributes"
                :flat="act.flat"
                size="12px"
                padding="11px 21px"
                class="full-height"
                :class="extraClasses"
              />

              <!-- // ? DROPDOWN OPTION BTN -->
              <app-btn
                v-else-if="act?.options?.length"
                :key="`opt-${idx}`"
                unelevated
                :label="act.label"
                :color="act?.color || levelTextColor"
                v-bind="act.attributes"
                :flat="act.flat"
                size="12px"
                padding="11px 21px"
                class="full-height"
              >
                <q-popup-proxy>
                  <q-list separator>
                    <q-item-label v-if="act.options_description" header>
                      <small>{{ act.options_description }}</small>
                    </q-item-label>

                    <q-item
                      v-close-popup
                      @click="() => opt.action()"
                      clickable
                      v-for="(opt, idx) in act.options"
                      :key="`${opt.value}-${idx}`"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ opt.label }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-popup-proxy>
              </app-btn>

              <!-- // ? SIMPLE OPTION BTN -->
              <app-btn
                v-else
                size="12px"
                padding="11px 21px"
                :key="idx"
                unelevated
                @click="handleAlertAction(act)"
                :label="act.label"
                :color="(act.color && act.color) || levelTextColor"
                v-bind="act.attributes"
                class="full-height"
              >
                <q-badge
                  class="font-500"
                  floating
                  v-if="act.badge"
                  :color="act.badge.color || 'primary'"
                >
                  {{ act.badge.label }}
                </q-badge>
              </app-btn>
            </div>
          </div>

          <div v-else class="flex q-gutter-x-sm q-mt-xl no-wrap justify-between">
            <app-btn
              color="grey-7"
              @click="($e) => dispatchAnswer(false)"
              :label="closeText || $tt('common.cancel', 1)"
              flat
              bg-color="grey-1"
              size="12px"
              padding="11px 21px"
            />
            <div class="flex q-gutter-x-sm" v-if="actions && actions.length">
              <app-btn
                v-for="(act, idx) in actions"
                :key="`action-${idx}`"
                :color="act.color || 'white'"
                :text-color="!act.color && levelTextColor"
                @click="($e) => dispatchAnswer(act.value)"
                :label="act.label"
                :flat="act.flat"
                class="font-500"
                size="12px"
                padding="11px 21px"
                :class="extraClasses"
              />
            </div>
            <app-btn
              v-else
              :label="nextText || $tt('common.continue', 1)"
              :color="levelTextColor"
              class="-alert-actions"
              @click="($e) => dispatchAnswer(true)"
              size="12px"
              padding="11px 21px"
            />
          </div>
        </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
const LEVEL_ICONS = {
  success: "ion-checkmark",
  warning: "gpp_maybe",
  danger: "dangerous",
  info: "ion-information-circle",
};
const LEVEL_COLORS = {
  success: { bg: "positive", text: "positive", icon: "white" },
  warning: { bg: "orange-7", text: "orange-7", icon: "white" },
  danger: { bg: "negative", text: "negative", icon: "white" },
  info: { bg: "blue-8", text: "blue-8", icon: "white" },
};
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    message: {
      type: String,
    },
    level: {
      type: String,
    },
    actions: Array,
    errors: Array,
    closeText: String,
    is_confirm: Boolean,
    closeText: String,
    nextText: String,
    minWidth: Number,
    persistent: Boolean,
  },
  mounted() {
    let btns = document.querySelectorAll(".-alert-actions");
    let last_btn = btns[btns.length - 1];

    last_btn && last_btn.focus();

    window.addEventListener("keydown", (event) => {
      if (event.code === "Escape") {
        this.hide();
      }
    });
  },
  beforeDestroy() {
    window.removeEventListener("keydown", null);
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    level_icon() {
      return LEVEL_ICONS[this.level];
    },
    levelBackgroundColor() {
      return (LEVEL_COLORS[this.level] && LEVEL_COLORS[this.level].bg) || "white";
    },
    levelTextColor() {
      return (LEVEL_COLORS[this.level] && LEVEL_COLORS[this.level].text) || "primary";
    },
    levelIconColor() {
      return (LEVEL_COLORS[this.level] && LEVEL_COLORS[this.level].icon) || "white";
    },
  },
  methods: {
    show() {
      this.$refs[`alert--${this._uid}`].show();
    },
    hide() {
      this.$refs[`alert--${this._uid}`].hide();
    },
    async handleAlertAction({ code, action = null }) {
      if (action) {
        this.loading = true;
        await action();
        this.loading = false;
      }

      // code && this.$emit("ok", code);
      this.$emit("ok", code || null);

      this.hide();
    },
    dispatchAnswer(answ) {
      this.$emit("ok", answ);
      this.hide();
    },
  },
};
</script>

<style lang="scss">
.dia {
  // position: relative;

  &__head {
    display: flex;
    align-items: center;
    padding-top: 14px;
  }

  &__icon {
    $size: 63px;
    background-color: rgba($positive, 0.21);
    height: $size;
    width: $size;
    border-radius: $size;
    // margin: 0 auto;
    // margin-bottom: 21px;
    display: flex;
    flex-shrink: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    // text-align: center;
    line-height: 1.35;
  }

  &__message {
    margin-top: 21px;
    color: #666;
    line-height: 1.7;
    // text-align: center;
  }

  &__errors {
    ul {
      margin: 0;
      // margin-top: 12px;
      // padding-left: 19px;
      padding-left: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.8;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;

      li {
        &:after {
          content: ",";
          margin-right: 3px;
        }

        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
</style>
