<template>
  <app-select
    :options="countries"
    :label="$tt('common.country', 1)"
    @input="(next_country) => changeModel(next_country)"
    :value="value"
    :error="error"
    :loading="loading"
    :disable="disabled"
    :dense="dense"
    transition-show="jump-down"
    transition-hide="jump-up"
    :virtual-scroll-item-size="50"
    :virtual-scroll-slice-ratio-after="7"
  >
    <template v-slot:selected>
      <div class="flex items-center ellipsis no-wrap" v-if="country">
        <app-flag size="12px" class="q-mr-sm" :country="country.value" />
        <div class="line-height1">
          <span class="text-grey-7">{{ country.value }}</span
          >&nbsp;{{ country.label }}
        </div>
      </div>
    </template>
    <template #option="{opt, toggleOption}">
      <q-separator v-if="opt.divider"></q-separator>
      <q-item clickable @click="toggleOption(opt)" v-else>
        <q-item-section>
          <q-item-label>
            <div class="flex items-center ellipsis no-wrap" v-if="opt">
              <app-flag size="12px" class="q-mr-sm" :country="opt.value" />
              <div class="line-height1">
                <span class="text-grey-7">{{ opt.value }}</span
                >&nbsp;{{ opt.label }}
              </div>
            </div>
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </app-select>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: [Object, String],
    },
    error: {
      type: [Boolean, String],
    },
    disabled: {
      type: Boolean,
    },
    dense: {
      type: Boolean,
      default: () => true,
    },
    prependOptions: {
      type: Array,
      default: () => [],
    },
  },
  async created() {
    let countries = this.$store.getters["Info/countries"];

    if (!countries || !countries.length) {
      try {
        this.loading = true;

        await this.$store.dispatch("Info/GET_COUNTRIES");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          notify: true,
          fallbackMessage: this.$tt("errors.load_data", 1),
        });
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    store_countries() {
      return this.$store.getters["Info/countries"] || [];
    },
    countries() {
      return [...this.prependOptions, { divider: true }, ...this.store_countries];
    },
    country() {
      return (
        this.value &&
        this.countries &&
        this.countries.length &&
        this.countries.find((c) => c.value === this.value)
      );
    },
  },
  methods: {
    changeModel({ value, label }) {
      this.$emit("change", value);
    },
  },
};
</script>
