<template>
  <div>
    <q-tooltip v-if="!states" anchor="center middle" self="center middle">
      {{ $tt("errors.no_data") }}
    </q-tooltip>
    <app-select
      :disable="!states || disabled"
      :label="$tt('common.state', 1)"
      :options="states"
      @input="(state) => changeModel(state)"
      :value="value"
      :error="error"
      :loading="loading"
      :dense="dense"
      transition-show="jump-down"
      transition-hide="jump-up"
      :virtual-scroll-item-size="48"
      :virtual-scroll-slice-ratio-after="4"
      :option-value="(opt) => opt && opt.value"
      :option-label="(opt) => opt && `${opt.value} - ${opt.label}`"
    >
      <template v-slot:selected>
        <div class="line-height1" v-if="full_state">
          {{ full_state.value }} - {{ full_state.label }}
        </div>
      </template>
    </app-select>
  </div>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: [Object, String],
    },
    country: String,
    error: {
      type: [Boolean, String],
    },
    disabled: {
      type: Boolean,
    },
    dense: {
      type: Boolean,
      default: () => true,
    },
  },
  data() {
    return {
      loading: false,
      states: null,
    };
  },
  mounted() {
    if (this.country) {
      this.getStates(this.country);
    }
  },
  watch: {
    country(code) {
      this.getStates(code);
    },
  },
  computed: {
    full_state() {
      return (
        this.states &&
        this.states.length &&
        this.value &&
        this.states.find((s) => s.value === this.value)
      );
    },
  },
  methods: {
    async getStates(country = this.country) {
      console.log("country:", country);

      try {
        this.loading = true;

        let states = await this.$store.dispatch("Info/GET_STATES", country);

        let has_states =
          states && Object.keys(states) && Object.keys(states) && !!Object.keys(states).length;

        console.log("has_states:", has_states);

        if (has_states) {
          this.states = Object.entries(states).map(([value, label]) => ({ value, label }));
        } else {
          this.states = null;

          this.changeModel({ value: null });
        }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, { notify: true, fallbackMessage: this.$tt("errors.load_data", 1) });
      } finally {
        this.loading = false;
      }
    },
    changeModel({ value = null }) {
      this.$emit("change", value);
    },
  },
};
</script>
